@media screen and (max-width: 1630px) {
    .additional-items-carusel {
        padding: 0 60px;
        .splide__arrow--next {
            right: -10px;
        }
        .splide__arrow--prev {
            left: -10px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .header-tools {
        .account {
            display: none;
        }
        .header-select {
            display: none;
        }
    }
    .burger-btn {
        display: block;
    }
    .header-main-links {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    /*********************catalog**************/
    .catalog-grid {
        grid-template-columns: repeat(3, 1fr)
    }
    /*****************catalog-item***************/
    .product-card-mini {
        padding: 0px;
    }
    .product-card-info {
        padding-left: 40px;
    }
    /********************ineichen-reviews**********/
    .ineichen-reviews-cols > img {
        display: none;
    }
    /**********************footer****************/
    .main-footer {
        .footer-cols {
            flex-wrap: wrap;
        }
        .logo {
            order: 4;
        }
        .link-block {
            width: 33.333%;
            margin: 0 0 30px;
        }
        .contact-block {
            order: 5;
        }
    }
    /******************bottom-subscribe*************/
    .bottom-subscribe {
        .subscribe-cols {
            display: block;
        }
        form {
            margin-left: 0px;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 60px;
    }
    /*******************header************/
    .main-header {
        height: 60px;
        padding-left: 15px;
        padding-right: 15px;
        .header-logo {
            width: 60px;
            height: 60px;
            background-image: url(../img/logo-color-mini.svg);
        }
    }
    .line-header {
        position: relative;
        padding: 0px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        h1 {
            font-size: 24px;
            margin-left: 0px;
        }
        &:before {
            position: absolute;
            bottom: 0px;

        }
    }
    /********************side-menu*****************/
    .side-menu {
        top: 60px;
    }
    /********************ineichen-reviews**********/
    .ineichen-reviews-item {
        padding: 30px 50px;
    }
    .ineichen-reviews-slider {
        .splide__arrow--next,
        .splide__arrow--prev {
            
            background: $brown;
            opacity: 1;
            border-color: $brown;
        }
        .splide__arrow--prev {
            display: block;
            left: -25px;
        }
        .splide__arrow--next {
            right: -25px;
        }
    }
    /*********************catalog**************/
    .catalog-grid-item {
        .catalog-item-info {
            padding-bottom: 30px;
        }
        .price {
            opacity: 1;
        }
    }
    .catalog-section {
        padding: 30px 0;
    }
    .catalog-filter {
        margin: 30px 0;
    }

    .catalog-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    /*****************catalog-item***************/
    .product-card-section {
        padding: 30px 0;
    }
    .product-card-cols {
        display: block;
        padding-top: 60px;
    }
    .product-card-info {
        text-align: center;
        padding: 0px;
    }
    .product-card-params {
        margin-top: 80px;
        width: 100%;
        padding: 0px;
    }
    .product-card-photos {
        padding: 30px 0;
    }
    .product-card-mini {
        display: block;
        text-align: center;
        .product {
            text-align: left;
            margin-bottom: 30px;
        }
    }
    .recive-question-section {
        padding: 30px 0;
    }
    .recive-question-wrap {
        .contact {
            width: 50%;
            padding: 30px;
        }
    }
    .recive-question-form {
        padding-left: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        .row {
            display: block;
            .col {
                width: auto;
            }
        }
        
    }
    .condition-report {
        .product-card-params {
            padding: 0px;
        }
    }
    .additional-items-carusel {
        padding: 0px;
        .splide__pagination {
            margin-top: 10px;
        }
        .splide__arrow {
            display: none;
        }
    }
    /**********************footer****************/
    .main-footer {
        .footer-cols {
            flex-direction: column;
        }
        .logo {
            margin-bottom: 50px;
            display: block;
            text-align: center;
        }
        .link-block {
            text-align: center;
            width: 100%;
            margin: 0 0 50px;
        }
        h5 {
            margin-bottom: 20px;
        }
        .contact-block {
            order: 5;
            text-align: center;
        }
    }
    /******************bottom-subscribe*************/
    .bottom-subscribe {
        .subscribe-cols {
            display: block;
        }
        form {
            margin-left: 0px;
            margin-top: 30px;
            flex-wrap: wrap;
            .c-input {
                margin-right: 0px;
                width: 100%;
                margin-bottom: 15px;
            }
            .c-input:nth-child(2) {
                margin-right: 20px;
                width: calc(100% - 100px);
            }
        }
    }

    
}

@media screen and (max-width: 520px) {
    .header-search {
        input {
            font-size: 14px;
        }
    }
    /******************side menu***********/
    .side-menu {
        width: 100%;
        padding: 30px;
    }
    /*****************catalog***************/
    .catalog-section {
        .line-header {
            padding-right: 0px;
        }
    }
    .catalog-filter {
        display: flex;
    }
    .sorting-in-catalog {
        margin-left: auto;
        position: static;
    }
    .catalog-grid {
        grid-template-columns: repeat(1, 1fr)
    }
    .catalog-pagination {
        .visibile-count {
            display: none;
        }
    }
    /*****************catalog-item***************/
    .product-card-cols {
        .back-page {
            width: calc(100% + 60px);
            border-bottom: 1px rgba($blue,0.1) solid;
            font-size: 14px;
            height: 50px;
            left: -30px;
            top: -30px;
            padding-left: 15px;
            i.mdi {
                font-size: 20px;
            }
        }
    }
    .product-card-info {
        .lot-num {
            font-size: 14px;
        }
        .name {
            font-size: 25px;
            margin: 20px 0;
        }
        .ref {
            font-size: 12px;
        }
        .price {
            font-size: 16px;
            margin: 15px 0;
        }
        .btns {
            margin-top: 30px;
            display: flex;
            .c-btn {
                flex: 1 1  auto;
                &.icon {
                    flex: 0 0 auto;
                }
            }
        }
    }
    .condition-report {
        hr {
            margin: 30px 0;
        }
    }
    .additional-photo-grid {
        grid-template-columns: 1fr 1fr;
        .big {
            grid-row: auto;
        }
    }
    .product-card-mini {
        .product {
            display: block;
            text-align: center;
            .image {
                width: auto;
                max-width: 250px;
                margin: 0 auto 30px;
            }
        }
        .lot-num {
            font-size: 14px;
        }
        .name {
            font-size: 25px;
            margin: 20px 0;
        }
        .ref {
            font-size: 12px;
        }
        .price {
            font-size: 16px;
            margin: 15px 0;
        }
    }

    .additional-items-carusel {
        padding: 0px;
        .splide__arrow--next {
            right: 0px;
            background: #fff;
        }
        .splide__arrow--prev {
            left: 0px;
            background: #fff;
        }
    }


    .recive-question-wrap {
        display: block;
        .contact {
            width: auto;
            margin-bottom: 30px;
            strong {
                margin-bottom: 10px;
            }
        }
        .recive-question-form {
            padding-left: 0px;
        }
    }

    /****************ui*************/
    .c-btn {
        font-size: 14px;
        padding: 12px 15px;
        &.icon {
            height: 45px;
            width: 45px;
            text-align: center;
            line-height: 45px;
            font-size: 18px;
        }
    }
    .c-input {
        input {
            font-size: 14px;
            height: 45px;
        }
    }
}