@media screen and (max-width: 1630px) {
    .additional-items-carusel {
        padding: 0 60px;
        .splide__arrow--next {
            right: -10px;
        }
        .splide__arrow--prev {
            left: -10px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .header-tools {
        .account {
            display: none;
        }
        .header-select {
            display: none;
        }
    }
    .burger-btn {
        display: block;
    }
    .header-main-links {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    /*****************dont-miss-section*******/
    .dont-miss-text {
        padding: 0px;
        display: block;
        padding-left: 100px;
        strong {
            display: block;
            margin-bottom: 30px;
        }
    }
    .dont-miss-section {
        .link-tabs {
            white-space: nowrap;
            overflow: auto;
            padding-bottom: 0px;
            @include scrollbars(0px, $blue, rgba($blue,0.3));
            a {
                margin-right: 30px;
            }
            a:last-child {
                margin-right: 0px;
            }
        }
    }
    /***************product-grid*************/
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    /***************main slider************/
    .main-thumbs-wrap {
        bottom: 0px;
        padding: 15px;
    }
    /*********************catalog**************/
    .catalog-grid {
        grid-template-columns: repeat(3, 1fr)
    }
    .catalog-section {
        .line-header {
            padding-right: 0px;
        }
    }
    .sorting-in-catalog {
        position: static;
        margin-bottom: 30px;
    }
    .auction-schedule {
        margin-bottom: 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        .box:last-child {
            grid-column: 1/span 2;
        }
    }
    /*****************catalog-item***************/
    .product-card-mini {
        padding: 0px;
    }
    .product-card-info {
        padding-left: 40px;
    }

    /********************ineichen-reviews**********/
    .ineichen-reviews-cols > img {
        display: none;
    }
    /**********************footer****************/
    .main-footer {
        .footer-cols {
            flex-wrap: wrap;
        }
        .logo {
            order: 4;
        }
        .link-block {
            width: 33.333%;
            margin: 0 0 30px;
        }
        .contact-block {
            order: 5;
        }
    }
    /******************bottom-subscribe*************/
    .bottom-subscribe {
        .subscribe-cols {
            display: block;
        }
        form {
            margin-left: 0px;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 60px;
    }
    /*******************header************/
    .main-header {
        .main-header-wrap {
            height: 60px;
        }
        .header-logo {
            width: 60px;
            height: 60px;
            background-image: url(../img/logo-color-mini.svg);
        }
    }
    .line-header {
        position: relative;
        padding: 0px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        h1 {
            font-size: 24px;
            margin-left: 0px;
        }
        &:before {
            position: absolute;
            bottom: 0px;

        }
    }
    /********************side-menu*****************/
    .side-menu {
        top: 60px;
    }
    /***************main slider************/
   #MainSlider {
    .splide__slide {
       height: 80vh !important;
       img {
          height: 100%;
       }
    }
    .slide-link {
       left: 0px;
       top: 0px;
       width: 100%;
       height: 100%;
       position: absolute;
       display: block;
    }
 }
 .splide_watch_text {
    display: none;
 }
 .main-thumbs-wrap {
    padding: 0 30px 10px 30px;
 }
 .main-thumbs {
    padding-bottom: 70px;
    .splide__track {
       pointer-events: none;
    }
    .splide__slide {
       min-height: 0px;
       border: none !important;
    }
    .splide__slide.is-active {
       border: none !important;
    }
    .splide__arrows {
       display: block;
    }
    .splide__arrow {
       border-radius: 0px;
       width: 40px;
       height: 40px;
       background: none;
       border: none;
       color: #fff;
       font-size: 32px;
       transform: none;
       bottom: 10px;
       top: auto;
    }
    .splide__arrow--prev {
       left: 0;
    }
    .splide__arrow--next {
       right: 0;
    }
    .splide__pagination {
       position: static;
       left: auto;
       top: auto;
       width: 100%;
       transform: none;
       display: flex;
       li {
          flex: 1 1 auto;
       }
       .splide__pagination__page {
          display: block;
          width: 100%;
          height: 1px;
          border-radius: 0px;
          background: rgba(#fff,0.5);
          transform: none;
          &.is-active {
             background: #fff;
             height: 2px;
          }
       }
    }
    .brand {
       opacity: 0.8;
    }
    .name {
       font-size: 16px;
       margin: 15px 0;
       br {
          display: none;
       }
    }
    .price {
       margin: 15px 0;
       display: block;
       color: $brown;
       font-size: 18px;
       font-weight: 500;
    }

 }
    /*******************upcoming-auction***********/
    .upcoming-auction {
        margin-top: -60px;
        flex-direction: column-reverse;
    }
    .upcoming-auction-date {
        width: 100%;
    }
    .subscribe-auction {
        width: 100%;
    }
    /*****************dont-miss-section*******/
    .dont-miss-text {
        padding-left: 0px;
        margin-bottom: 50px;
        strong {
            font-size: 28px;
            display: block;
            margin-bottom: 10px;
            br {
                display: none;
            }
        }
    }
    /*****************about-ineichen-section*************/
    .about-ineichen-section {
        padding: 30px 0 0px;
        background: #fff;
    }
    .about-ineichen-land {
        display: block;
        margin-bottom: 0;
        .text {
            padding: 30px;
        }
        .image {
            display: none;
            width: auto;
            img {
                height: auto;
                width: 100%;
            }
        }
    }
    .our-advantage-land {
        margin: 0px;
        display: block;
        .text {
            padding: 50px 30px 30px;
            h2 {
                text-align: center;
            }
            ul {
                margin-top: 30px;
                padding: 0px;
            }
        }
        .image {
            width: 100%;
        }
    }
    .stay-informed-land {
        display: block;
        margin: 0 0 50px 0;
        h2 {
            margin-bottom: 30px;
            font-size: 24px;
        }
        .image {
            width: 100%;
        }
        .informed-form {
            padding: 30px;
        }
    }
    .instagram-grid {
        display: block;
        .sub-grid {
            margin: 30px 0;
        }
    }
    /***************product-grid*************/
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /********************ineichen-reviews**********/
    .ineichen-reviews-item {
        padding: 30px 50px;
    }
    .ineichen-reviews-slider {
        .splide__arrow--next,
        .splide__arrow--prev {
            
            background: $brown;
            opacity: 1;
            border-color: $brown;
        }
        .splide__arrow--prev {
            display: block;
            left: -25px;
        }
        .splide__arrow--next {
            right: -25px;
        }
    }
    /*********************catalog**************/
    .catalog-grid-item {
        .catalog-item-info {
            padding-bottom: 30px;
        }
        .price {
            opacity: 1;
        }
    }
    .catalog-section {
        padding: 30px 0;
    }

    .sorting-in-catalog {
        display: block;
        .c-select {
            margin-right: 0px;
        }
        .c-btn {
            width: 100%;
            margin-top: 15px;
        }
    }

    .catalog-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    /*****************catalog-item***************/
    .product-card-section {
        padding: 30px 0;
    }
    .product-card-cols {
        display: block;
        padding-top: 60px;
    }
    .product-card-info {
        text-align: center;
        padding: 0px;
    }
    .product-card-params {
        margin-top: 80px;
        width: 100%;
        padding: 0px;
    }
    .product-card-photos {
        padding: 30px 0;
    }
    .product-card-mini {
        display: block;
        text-align: center;
        .product {
            text-align: left;
            margin-bottom: 30px;
        }
    }
    .recive-question-section {
        padding: 30px 0;
    }
    .recive-question-wrap {
        .contact {
            width: 50%;
            padding: 30px;
        }
    }
    .recive-question-form {
        padding-left: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        .row {
            display: block;
            .col {
                width: auto;
            }
        }
        
    }
    .condition-report {
        .product-card-params {
            padding: 0px;
        }
    }
    .additional-items-carusel {
        padding: 0px;
        .splide__pagination {
            margin-top: 10px;
        }
        .splide__arrow {
            display: none;
        }
    }
    /**********************footer****************/
    .main-footer {
        .footer-cols {
            flex-direction: column;
        }
        .logo {
            margin-bottom: 50px;
            display: block;
            text-align: center;
        }
        .link-block {
            text-align: center;
            width: 100%;
            margin: 0 0 50px;
        }
        h5 {
            margin-bottom: 20px;
        }
        .contact-block {
            order: 5;
            text-align: center;
        }
    }
    /******************bottom-subscribe*************/
    .bottom-subscribe {
        .subscribe-cols {
            display: block;
        }
        form {
            margin-left: 0px;
            margin-top: 30px;
            flex-wrap: wrap;
            .c-input {
                margin-right: 0px;
                width: 100%;
                margin-bottom: 15px;
            }
            .c-input:nth-child(2) {
                margin-right: 20px;
                width: calc(100% - 100px);
            }
        }
    }
    /*******************modals***************/
    .sign-modal {
        a.close-modal {
            right: 0px;
            top: 0px;
        }
    }
    .sign-modal-container {
        padding: 30px 15px;
        .title {
            margin-bottom: 25px;
            font-size: 18px;
        }
        
        a.close {
            right: 0px;
        }
        .cheks {
            margin-top: 30px;
        }
    }


    
}

@media screen and (max-width: 520px) {
    .header-search {
        input {
            font-size: 14px;
        }
    }
    /******************side menu***********/
    .side-menu {
        width: 100%;
        padding: 30px;
    }
    /*************.dont-miss-text***********/
    .dont-miss-text {
        strong {
            display: block;
            font-size: 18px;
            text-align: center;
            margin-bottom: 1px;
        }
    }
    /*******************upcoming-auction***********/
    .upcoming-auction-date {
        padding: 0 0 30px 0;
        h3 {
            font-size: 24px;
        }
        span {
            font-size: 15px;
            margin: 15px 0;
        }
    }
    .subscribe-auction {
        padding: 30px;
        h3 {
            font-size: 24px;
        }
        p {
            margin: 15px 0;
        }
    }
    /******************top-lots-carusel***************/
    .top-lots-carusel {
        .splide__track {
            overflow: hidden;
        }
        .splide__arrow {
            background: $brown;
            opacity: 1;
            border-color: $brown;
            &:hover {
                opacity: 1;
                background: $brown;
                border-color: $brown;
                color: #fff;
            }
            &.splide__arrow--next {
                right: -25px;
            }
            &.splide__arrow--prev {
                left: -25px;
            }
        }
    }
    /*****************about-ineichen-section*************/
    .our-advantage-land {
        .text {
            h2 {
                font-size: 22px;
            }
        }
    }
    .stay-informed-land {
        h2 {
            font-size: 18px;
        }
    }
    .ineichen-instagram {
        .title {
            display: block;
            margin-bottom: 15px;
            .c-btn {
                width: 100%;
            }
        }
    }
    /***************product-grid*************/
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    /*****************catalog***************/
    .catalog-section {
        .line-header {
            padding-right: 0px;
        }
    }
    .sorting-in-catalog {
        margin-left: 0;
        position: static;
    }
    .catalog-grid {
        grid-template-columns: repeat(1, 1fr)
    }
    .catalog-pagination {
        .visibile-count {
            display: none;
        }
    }
    .auction-schedule {
        display: block;
        .box {
            text-align: center;
        }
        .box:last-child {
            grid-column: 1/span 2;
            display: block;
            .c-btn {
                width: 100%;
                margin-top: 15px;
            }
        }
        .box + .box {
            margin-top: 15px;
        }
    }
    /*****************catalog-item***************/
    .product-card-cols {
        .back-page {
            width: calc(100% + 60px);
            border-bottom: 1px rgba($blue,0.1) solid;
            font-size: 14px;
            height: 50px;
            left: -30px;
            top: -30px;
            padding-left: 15px;
            i.mdi {
                font-size: 20px;
            }
        }
    }
    .product-card-info {
        .lot-num {
            font-size: 14px;
        }
        .name {
            font-size: 25px;
            margin: 20px 0;
        }
        .ref {
            font-size: 12px;
        }
        .price {
            font-size: 16px;
            margin: 15px 0;
        }
        .btns {
            margin-top: 30px;
            display: flex;
            .c-btn {
                flex: 1 1  auto;
                &.icon {
                    flex: 0 0 auto;
                }
            }
        }
    }
    .condition-report {
        hr {
            margin: 30px 0;
        }
    }
    .additional-photo-grid {
        grid-template-columns: 1fr 1fr;
        .big {
            grid-row: auto;
        }
    }
    .product-card-mini {
        .product {
            display: block;
            text-align: center;
            .image {
                width: auto;
                max-width: 250px;
                margin: 0 auto 30px;
            }
        }
        .lot-num {
            font-size: 14px;
        }
        .name {
            font-size: 25px;
            margin: 20px 0;
        }
        .ref {
            font-size: 12px;
        }
        .price {
            font-size: 16px;
            margin: 15px 0;
        }
    }

    .additional-items-carusel {
        padding: 0px;
        .splide__arrow--next {
            right: 0px;
            background: #fff;
        }
        .splide__arrow--prev {
            left: 0px;
            background: #fff;
        }
    }


    .recive-question-wrap {
        display: block;
        .contact {
            width: auto;
            margin-bottom: 30px;
            strong {
                margin-bottom: 10px;
            }
        }
        .recive-question-form {
            padding-left: 0px;
        }
    }

    /****************ui*************/
    .c-btn {
        font-size: 14px;
        padding: 12px 15px;
        &.icon {
            height: 45px;
            width: 45px;
            text-align: center;
            line-height: 45px;
            font-size: 18px;
        }
    }
    .c-input {
        &.icon-right {
            i.mdi {
                width: 45px;
                height: 45px;
                line-height: 45px;
                font-size: 24px;
            }
        }
        input {
            font-size: 14px;
            height: 45px;
        }
    }
    .c-select {
        select {
            height: 45px;
            font-size: 14px;
            line-height: normal;
        }
        .mdi {
            height: 45px;
            line-height: 45px;
            font-size: 28px;
        }
    }
    .c-checkbox {
        .icon {
            width: 35px;
            height: 35px;
        }
        span {
            line-height: 18px;
        }
    }
}