@media screen and (max-width: 1530px) {
    .additional-items-carusel {
        padding: 0 60px;
        .splide__arrow--next {
            right: -10px;
        }
        .splide__arrow--prev {
            left: -10px;
        }
    }
}
@media screen and (max-width: 1024px) {
    /*********************catalog**************/
    .catalog-grid {
        grid-template-columns: repeat(3, 1fr)
    }
    /*****************catalog-item***************/
    .product-card-mini {
        padding: 0px;
    }
    .product-card-info {
        padding-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .line-header {
        position: relative;
        padding: 0px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        h1 {
            font-size: 24px;
            margin-left: 0px;
        }
        &:before {
            position: absolute;
            bottom: 0px;

        }
    }
    /*********************catalog**************/
    .catalog-grid-item {
        .catalog-item-info {
            padding-bottom: 30px;
        }
        .price {
            opacity: 1;
        }
    }
    .catalog-section {
        padding: 30px 0;
    }
    .catalog-filter {
        margin: 30px 0;
    }

    .catalog-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    /*****************catalog-item***************/
    .product-card-section {
        padding: 30px 0;
    }
    .product-card-cols {
        display: block;
        padding-top: 60px;
    }
    .product-card-info {
        text-align: center;
        padding: 0px;
    }
    .product-card-params {
        margin-top: 80px;
        width: 100%;
        padding: 0px;
    }
    .product-card-photos {
        padding: 30px 0;
    }
    .product-card-mini {
        display: block;
        text-align: center;
        .product {
            text-align: left;
            margin-bottom: 30px;
        }
    }
    .recive-question-section {
        padding: 30px 0;
    }
    .recive-question-wrap {
        .contact {
            width: 50%;
            padding: 30px;
        }
    }
    .recive-question-form {
        padding-left: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        .row {
            display: block;
            .col {
                width: auto;
            }
        }
        
    }

    
}

@media screen and (max-width: 520px) {
    body {
        padding-top: 80px;
    }
    .main-header {
        height: 80px;
        .header-logo {
            background-size: 60%;
        }
        &.mini {
            .header-logo {
                background-size: auto;
            }
        }
    }
    /*****************catalog***************/
    .catalog-filter {
        display: block;
    }
    .search-in-catalog {
        margin: 0 0 30px 0;
    }
    .sorting-in-catalog {
        justify-content: flex-end;
    }
    .catalog-grid {
        grid-template-columns: repeat(1, 1fr)
    }
    .catalog-pagination {
        .visibile-count {
            display: none;
        }
    }
    /*****************catalog-item***************/
    .product-card-cols {
        .back-page {
            width: calc(100% + 60px);
            border-bottom: 1px rgba($blue,0.1) solid;
            font-size: 14px;
            height: 50px;
            left: -30px;
            top: -30px;
            padding-left: 15px;
            i.mdi {
                font-size: 20px;
            }
        }
    }
    .product-card-info {
        .lot-num {
            font-size: 14px;
        }
        .name {
            font-size: 25px;
            margin: 20px 0;
        }
        .ref {
            font-size: 12px;
        }
        .price {
            font-size: 16px;
            margin: 15px 0;
        }
        .btns {
            margin-top: 30px;
            display: flex;
            .c-btn {
                flex: 1 1  auto;
                &.icon {
                    flex: 0 0 auto;
                }
            }
        }
    }
    .condition-report {
        .text {
            column-count: auto;
        }
        hr {
            margin: 30px 0;
        }
    }
    .additional-photo-grid {
        grid-template-columns: 1fr;
    }
    .product-card-mini {
        .product {
            display: block;
            text-align: center;
            .image {
                width: auto;
                max-width: 250px;
                margin: 0 auto 30px;
            }
        }
        .lot-num {
            font-size: 14px;
        }
        .name {
            font-size: 25px;
            margin: 20px 0;
        }
        .ref {
            font-size: 12px;
        }
        .price {
            font-size: 16px;
            margin: 15px 0;
        }
    }

    .additional-items-carusel {
        padding: 0px;
        .splide__arrow--next {
            right: 0px;
            background: #fff;
        }
        .splide__arrow--prev {
            left: 0px;
            background: #fff;
        }
    }


    .recive-question-wrap {
        display: block;
        .contact {
            width: auto;
            margin-bottom: 30px;
            strong {
                margin-bottom: 10px;
            }
        }
        .recive-question-form {
            padding-left: 0px;
        }
    }

    /****************ui*************/
    .c-btn {
        font-size: 14px;
        padding: 12px 15px;
        &.icon {
            height: 45px;
            width: 45px;
            text-align: center;
            line-height: 45px;
            font-size: 18px;
        }
    }   
}