@import url(../font/font.css);
$grey-bg: #F3F3F5;
$brown: #B7933D;
$blue: #0D0859;
$grey: rgba(#0D0859,0.5);

*,*:before,*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'GT America Extended';
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}
/*****************header****************/
.main-header {
    height: 120px;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    color: #fff;
    z-index: 100;
    transition: all 0.3s;
}
.header-logo {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 75px;
    background-image: url(../img/logo-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
}

.header-main-links {
    display: flex;
    list-style: none;
    a {
        text-decoration: none;
    }
    > li {
        margin-right: 20px;
    }
    li > a {
        color: #fff;
    }
}
.header-tools {
    display: flex;
    align-items: center;
    .header-btn {
        color: #fff;
        text-decoration: none;
        font-size: 24px;
        margin-left: 20px;
        transition: all 0.3s;
    }
}
.header-select {
    margin-left: 20px;
    select {
        color: #fff;
        background: none;
        border: none;
        transition: all 0.3s;
    }
    option {
        color: #000;
    }
}
.main-header.white {
    background: #fff;
    box-shadow: 0 0 10px 0 rgba($blue,0.5);
    .header-logo {
        background-image: url(../img/logo-color.svg);
    }
    .header-main-links {
        li > a {
            color: #000;
        }
    }
    .header-tools {
        .header-btn {
            color: #000;
        }
    }
    .header-select {
        select {
            color: #000;
        }
    }
    &.mini {
        height: 60px;
        .header-logo {
            background-image: url(../img/logo-color-mini.svg);
        }
    }
}
/*****************dont-miss-section*******/
.line-header {
    font-size: 18px;
    font-weight: 500;
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
    &:before {
        content: "";
        display: inline-block;
        width: 80px;
        height: 1px;
        background: $brown;
        margin-right: 20px;
        vertical-align: top;
    }
}
.dont-miss-section {
    padding: 50px 0 30px;
}
.dont-miss-text {
    display: flex;
    align-items: center;
    padding-left: 100px;
    justify-content: space-between;
    margin-bottom: 110px;
    strong {
        font-size: 40px;
        flex: 0 0 auto;
        font-weight: 500;
        color: $blue;
        line-height: 1.2;
    }
    p {
        max-width: 600px;
        font-size: 14px;
        line-height: 1.8;
    }
}
.link-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: $grey;
        border-bottom: 2px transparent solid;
        padding: 5px 0;
        transition: all 0.3s;
        &:hover {
            color: $blue;
        }
        &.active {
            color: $blue;
            border-color: rgba($brown,0.5);
        }
    }
}
/****************caatalog-grid************/
.products-section {
    padding: 50px 0;
    background-color: $grey-bg;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.product-grid-item {
    background: #fff;
    position: relative;
    &:hover {

        .image {
            img {
                transform: scale(1.1);
            }
        }
    }
    .image {
        display: block;
        overflow: hidden;
        img {
            width: 100%;
            transition: transform 0.7s;
        }
    }
    .data {
        padding: 0 35px 35px 35px;
    }
    .brand {
        display: block;
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 500;
    }
    .name {
        display: block;
        color: $blue;
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0 20px;
    }
    .price {
        color: $brown;
        font-size: 16px;
        font-weight: 500;
    }
}