@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css");
/*************vars*********/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: #fff;
  font-size: 15px;
  counter-reset: steps;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, button {
  font-family: 'Roboto', sans-serif;
}

.main-header {
  padding: 40px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.main-header__back {
  font-size: 20px;
}

.steps-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 3.5fr 6fr;
      grid-template-columns: 3.5fr 6fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  gap: 100px 60px;
  padding: 0 100px 0 60px;
}

.steps-grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.steps-grid__item_double {
  grid-row: 1 / 2 span;
}

.steps-grid__nav {
  margin-top: -50px;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
}

.steps-grid__nav::before {
  opacity: 0;
  visibility: hidden;
  line-height: 0;
}

.steps-grid__item:before {
  counter-increment: steps;
  content: "0" counter(steps);
  font-size: 7.5vw;
  font-weight: 700;
  color: #fff;
  opacity: 0.12;
  pointer-events: none;
  margin-right: 20px;
}

.steps-grid__item_fill:before {
  color: #FFD700;
  opacity: 0.25;
}

.steps-grid__item_fill .card {
  -webkit-box-shadow: 0 0 0 1px #FFD700;
          box-shadow: 0 0 0 1px #FFD700;
}

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #1F2021;
  padding: 30px;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 30px;
}

.card__title-small {
  font-size: 12px;
  margin-bottom: 14px;
}

.scrolled-content {
  max-height: 590px;
}

.device-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 220px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 220px));
  gap: 45px 45px;
  overflow: auto;
}

.device-item {
  background: #2C2D2E;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  padding: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}

.device-item:hover {
  border-color: #FFD700;
}

.device-item strong {
  font-size: 12px;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}

.device-item__image {
  margin-bottom: 15px;
}

.device-item__image img {
  vertical-align: middle;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.device-item__name {
  font-weight: 500;
  font-size: 14px;
}

.device-item__quantity {
  color: #FFD700;
  font-weight: 500;
  font-size: 14px;
}

.device-item hr {
  max-width: 100px;
  margin: 10px auto;
  border: none;
  height: 1px;
  background-color: #5F5F5F;
}

.cols2x {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0 60px;
  position: relative;
}

.cols2x:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  left: 50%;
}

/* ----------------------------------- ui ----------------------------------- */
.select {
  margin-top: 30px;
}

.select select {
  display: none;
}

.select:first-of-type {
  margin: 0px;
}

.dk-select {
  font-size: 14px;
  position: relative;
  height: 55px;
  background: #2C2D2E;
}

.dk-select:after {
  position: absolute;
  right: 15px;
  top: 15px;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  content: "\F0140";
  font-size: 24px;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
}

.dk-select.dk-select-open-down .dk-select-options {
  display: block;
}

.dk-selected {
  cursor: pointer;
  line-height: 21px;
  padding: 17px 30px 17px 15px;
  color: #FFD700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 10px);
}

.dk-selected.hidden-option {
  color: #818181;
}

.dk-select-options {
  display: none;
  width: 100%;
  position: absolute;
  top: 60px;
  background: #2C2D2E;
  list-style: none;
  z-index: 1;
}

.dk-option {
  padding: 17px 20px;
  cursor: pointer;
}

.dk-option:hover {
  color: #FFD700;
}

.dk-option-disabled {
  display: none;
}

.l-input {
  font-size: 14px;
  width: 100%;
  border: none;
  background: #2C2D2E;
  height: 55px;
  padding: 0 15px;
  margin-top: 30px;
  outline: none;
  color: #FFD700;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.l-input.error {
  -webkit-box-shadow: 0 0 0 1px #F94040;
          box-shadow: 0 0 0 1px #F94040;
}

.l-input:first-of-type {
  margin-top: 0px;
}

.l-input:focus {
  -webkit-box-shadow: 0 0 0 1px #FFD700;
          box-shadow: 0 0 0 1px #FFD700;
}

.chips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.chips input {
  display: none;
}

.chips label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding: 0 10px;
  height: 32px;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.chips label i.mdi {
  color: #FFD700;
  width: 0px;
  overflow: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.chips input:checked + label {
  color: #FFD700;
  background: #2C2D2E;
}

.chips input:checked + label i.mdi {
  width: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 2px;
  background: #FFD700;
  color: #000;
  padding: 0 50px;
  font-weight: 500;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 0.8;
}

.checkbox {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-top: 25px;
}

.checkbox:first-of-type {
  margin-top: 0;
}

.checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  height: 24px;
  background: #000;
  margin-right: 10px;
}

.checkbox input:after {
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  content: "\F012C";
  font-size: 18px;
  width: 24px;
  text-align: center;
  color: #FFD700;
  text-rendering: auto;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.checkbox input:checked:after {
  opacity: 1;
}

.simplebar-track.simplebar-vertical {
  width: 20px;
}

.simplebar-track.simplebar-vertical:after {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.simplebar-scrollbar {
  width: 20px;
  background: #FFD700;
  border-radius: 10px;
  z-index: 1;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

@media screen and (max-width: 1536px) {
  .steps-grid {
    grid-auto-flow: row;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    gap: 60px;
    padding: 0 50px 0 50px;
  }
  .steps-grid__item {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .steps-grid__item_double {
    grid-row: auto;
    grid-column: 1 / 2 span;
  }
  .steps-grid__nav {
    margin: 0px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (max-width: 1024px) {
  .steps-grid__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps-grid__nav {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .steps-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 30px;
    padding: 0 30px 0 30px;
  }
  .steps-grid__item {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .steps-grid__item_double {
    grid-column: auto;
  }
  .steps-grid__nav {
    grid-column: auto;
    grid-row: auto;
  }
  .steps-grid .btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .simplebar-scrollbar {
    width: 10px;
  }
  .simplebar-track.simplebar-vertical {
    width: 10px;
  }
}

@media screen and (max-width: 500px) {
  .main-header {
    padding: 15px;
    margin-bottom: 15px;
  }
  .main-header .logo {
    height: 35px;
  }
  .main-header__back {
    font-size: 12px;
  }
  .steps-grid {
    padding: 0 15px;
    gap: 15px 0;
  }
  .steps-grid__item:before {
    font-size: 44px;
  }
  .card {
    padding: 15px;
  }
  .card__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .device-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .simplebar-track.simplebar-vertical {
    right: -20px;
  }
}

@media screen and (max-width: 400px) {
  .cols2x {
    gap: 0 20px;
  }
  .device-grid {
    gap: 25px;
  }
}
/*# sourceMappingURL=main.css.map */