@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic');

$pink: #ed008c;
$blue: #009bff;
$grey: #989898;
* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;

}
a {
   color: $pink;
   &:hover {
      text-decoration: none;
   }
}
body {
   font-size: 14px;
   font-family: 'Fira Sans', sans-serif;
   line-height: 1;
}
input, button, textarea {
   font-family: 'Fira Sans', sans-serif;
   outline: none;
}
.container {
   max-width: 1430px;
   padding: 0 15px;
   margin: auto;
}
h1 {
   font-size: 40px;
   margin-bottom: 35px;
   font-weight: 400;
}
.text-center {
   text-align: center;
}
.text-right {
   text-align: right;
}
.img-response {
   width: 100%;
   max-width: 100%;
}
/*****************header*************/
.main-header {
   padding: 20px 0;
   position: relative;
   z-index: 40;
   > .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .logo {
      img {
         max-width: 100%;
      }
   }
}
.catalog-btn-wrap {
   position: relative;
   margin: 0 auto 0 70px;
   position: relative;
   z-index: 1;
   &:after {
      content: "";
      display: block;
      position: absolute;
      width: 70%;
      height: 0px;
      top: 20px;
      left: 15%;
      box-shadow: 0 0px 15px 5px rgba(0, 0, 0, 0.7);
      transform: rotate(0deg);
      transition: all 0.3s;
   }
   &:hover {
      &:after {
         top: 44px;
         transform: rotate(3deg);
      }
   }
}
.catalog-btn {
   display: inline-block;
   border: 3px $pink solid;
   background: $pink;
   color: #fff;
   text-decoration: none;
   height: 48px;
   line-height: 40px;
   padding: 0 45px 0 25px;
   border-radius: 15px;
   align-items: center;
   font-size: 21px;
   font-weight: 300;
   font-style: italic;
   position: relative;
   white-space: nowrap;
   z-index: 2;
   .burger {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px;
      i {
         display: block;
         width: 26px;
         height: 3px;
         border-radius: 4px;
         background: #fff;
         margin: 4px 0;
      }
   }
   &.active {
      border-color: #fff;
   }
}
.header-nav {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.header-account {
   display: flex;
   align-items: center;
   a {
      margin-left: 40px;
      font-size: 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #000;
      position: relative;
      .icon {
         margin-right: 15px;
         position: relative;
         span {
            right: -3px;
            top: -3px;
            position: absolute;
            display: block;
            height: 24px;
            min-width: 24px;
            border-radius: 50%;
            background: #000;
            font-size: 14px;
            color: #fff;
            line-height: 25px;
            text-align: center;
         }
      }
      strong {
         font-weight: 500;
         text-decoration: underline;
      }
      .current-price {
         display: block;
         text-align: right;
         margin-top: 5px;
         color: $pink;
      }
      &:hover {
         color: $pink;
         strong {
            text-decoration: none;
         }
      }
   }
}
.header-links {
   margin-top: 20px;
   ul {
      list-style: none;
      display: flex;
      align-items: center;
      li {
         margin-left: 20px;
      }
      a {
         font-weight: 500;
         color: #000;
         &:hover {
            color: $pink;
            text-decoration: none;
         }
      }
   }
}
/*****************main-nav*************/
.main-navigation {
   display: none;
   left: 0px;
   top: 0px;
   width: 100%;
   position: absolute;
   background: $pink;
   color: #fff;
   .container {
      padding-top: 140px;
      padding-bottom: 60px;
      position: relative;
   }
   &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      left: 0px;
      height: 41px;
      background: #c30073;
      top: 147px;
   }
   a {
      color: #fff;
   }
   .close-menu {
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      right: 0px;
      top: 48px;
      transition: all 0.3s;
      &:before,
      &:after {
         content: "";
         display: block;
         height: 1px;
         width: 100%;
         background: #fff;
         position: absolute;
         top: 20px;
      }
      &:before {
         transform: rotate(-45deg);
      }
      &:after {
         transform: rotate(45deg);
      }
      &:hover {
         transform: rotate(180deg);
      }
   }
   .main-navigation-titles {
      margin-bottom: 30px;
      position: relative;
      padding: 14px 0;
      display: flex;
      align-items: center;
      border-top: 1px #fff solid;
      border-bottom: 1px #fff solid;
      z-index: 1;
      strong {
         display: flex;
         align-items: center;
         font-size: 18px;
         font-weight: 400;
         i.mdi {
            margin-left: 5px;
            transform: translateY(3px);
            font-size: 24px;
         }
      }
   }
   .main-navigation-links {
      display: flex;
   }
   .main-navigation-links-block {
      flex: 0 0 auto;
      width: 50%;
      .links {
         list-style: none;
         column-count: 3;
         li {
            margin-bottom: 15px;
         }
         a {
            font-size: 13px;
            transform: translateX(-8px);
            display: inline-block;
            padding: 5px 8px;
            text-decoration: none;
            position: relative;
            transition: all 0.3s;
            &:hover {
               background: #c30073;
            }
         }
      }
   }
   .alphabet {
      margin-bottom: 25px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #c30073;
      a {
         padding: 3px 7px;
         font-size: 13px;
         text-decoration: none;
         text-transform: uppercase;
         border: 4px transparent solid;
         &:hover {
            border-color: rgba(#fff,0.3);
         }
         &.active {
            border-color: #fff;
         }
         &:first-child {
            margin-left: -12px;
         }
      }
   }
}
/************main-slider************/
.main-slider {
   background: #ececec;
   margin-bottom: 25px;
}
.owl-dots {
   top: -25px;
   position: relative;
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
   .owl-dot {
      margin: 0 5px;
      &.active {
         span {
            background: $pink;
         }
      }
      span {
         background: #fff;
         display: block;
         width: 20px;
         height: 7px;
         border-radius: 3px;
      }
   }
}
.main-carousel .owl-item {
   div {
      img {
         border-radius: 10px;
         width: auto;
         height: 400px;
      }
   }

}
/************free delivery************/
.free-delivery-info {
   padding-left: 10%;
   display: flex;
   align-items: center;
   position: relative;
   margin: 95px;
   height: 135px;
   border-radius: 70px;
   font-size: 28px;
   font-weight: 300;
   color: #fff;
   background: linear-gradient(to right, rgba(237,0,138,1) 0%, rgba(237,0,138,1) 39%, rgba(254,187,4,1) 65%, rgba(254,187,4,1) 82%, rgba(246,91,74,1) 100%);
   b {
      padding-right: 15px;
      font-size: 80px;
   }
   img {
      position: absolute;
      right: 60px;
      top: -64px;
   }
}
/**************toggle-products*************/
.toggle-products {
   margin: 0 auto 50px;
   display: flex;
   width: 550px;
   height: 60px;
   border-radius: 30px;;
   overflow: hidden;
   a {
      display: flex;
      text-transform: uppercase;
      flex: 0 0 auto;
      width: 50%;
      background: #f6f6f6;
      text-align: center;
      font-size: 18px;
      align-items: center;
      color: #000;
      justify-content: center;
      transition: all 0.2s;
      &:first-child {
         border-radius: 30px 0 0 30px;
         &:before {
            border-radius: 30px 0 0 30px;
         }
      }
      &:last-child {
         border-radius: 0 30px 30px 0;
         &:before {
            border-radius: 0 30px 30px 0;
         }
      }
      span {
         position: relative;
         z-index:2;
      }
   }
   a.active {
      text-decoration: none;
      background: linear-gradient(90deg, #ed008a 0%, #febb04 40%, #febb04 60%, #ed008a 100%);
      border: 3px #fff dotted;
      position: relative;
      color: $pink;
      font-size: 28px;
      font-weight: 800;
      &:before {
         content: "";
         display: block;
         background: #fff;
         position: absolute;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;
         z-index: 1;
      }
   }
}
/************main product slider************/
.slide-products {
   margin: 0 -10px;
   padding: 10px 10px;
   .slides {
      margin-bottom: 40px;
   }
   .item {
      float: left;
      width: 255.8px;
      margin-right: 30px;
   }

}
.slide-products-scrollbar {
   position: relative;
   margin: 70px 10%;
   height: 32px;
   .line {
      top: 13px;
      width: 100%;
      position: absolute;
      background: linear-gradient(to bottom, #fdfdfd 0%, #d7d7d7 100%);
      height: 4px;
      &:before,
      &:after {
         content: "";
         display: block;
         position: absolute;
         top: 0px;
         height: 4px;
         width: 30px;
      }
      &:before {
         left: 0px;
         background: linear-gradient(to right, #fff 0%, transparent 100%);
      }
      &:after {
         right: 0px;
         background: linear-gradient(to left, #fff 0%, transparent 100%);
      }
   }

   .handle {
      position: relative;
      border-radius: 20px;
      background: linear-gradient(45deg, #ed008a 0%, #febb04 100%);
      height: 32px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      span {
         width: 2px;
         height: 16px;
         background: #fff;
         margin: 0 2px;
      }
   }
}
/**************product-card***********/
.product-tags {
   position: absolute;
   right: 15px;
   top: 15px;
   span {
      text-align: center;
      font-family: 'Pacifico', cursive;
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      color: #fff;
      font-size: 20px;
      line-height: 60px;
   }
   .sale {
      background: #f02074;
   }
   .new {
      background: #0095da;
   }
   .hit {
      background: #7bda00;
   }
}
.product-card {
   box-shadow: 0 5px 8px 0 rgba(#201d1e, 0.15);
   border-radius: 10px;
   padding: 30px 15px;
   text-align: center;
   margin-bottom: 30px;
   position: relative;
   transition: all 0.3s;
   &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 14px 0 rgba(#201d1e, 0.25);
   }
   .product-img {
      img {
         height: 225px;
         width: 225px;
         max-width: 100%;
      }
   }
   .product-price {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin: 5px 0 10px;
      .current-price {
         font-size: 23px;
         color: $pink;
      }
      .old-price {
         position: relative;
         margin-left: 8px;
         font-size: 15px;
         b {
            font-weight: normal;
         }
         &:after {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            width: 100%;
            height: 2px;
            background: $pink;
            transform: rotate(-20deg);
         }
      }
   }
   .product-name {
      display: block;
      color: inherit;
      text-decoration: none;
      margin-bottom: 10px;
      h2 {
         text-align: center;
         font-size: 14px;
         font-weight: 500;
         line-height: 20px;
         height: 60px;
         overflow: hidden;
      }
   }
   .btn {
      width: calc(100% - 30px);
   }
}
.product-rate {
   text-align: center;
   margin-bottom: 15px;
   span {
      margin-top: 4px;
      display: block;
      font-size: 10px;
      color: #9e9d9d;
   }
   .stars {
      font-size: 0px;
   }
   .mdi-star {
      font-size: 18px;
      color: #dadada;
      &.active {
         color: #e7db00;
      }
   }
}
/**************gallery-grid********/
.main-gallery {
   padding: 90px 0 60px;
   background: radial-gradient(ellipse at 50% 0%, #febb04 0%, #ed008a 50%, #ed008a 100%);
}
.gallery-grid {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   a {
      display: block;
      border-radius: 10px;
      overflow: hidden;
      &:hover {
         img {
            transform: rotate(5deg) scale(1.3);
         }
      }
   }
   img {
      width: 100%;
      vertical-align: middle;
      border-radius: 10px;
      transition: all 0.8s;
   }
   .big, .rows {
      flex: 0 0 auto;
      width: calc(50% - 15px);
   }
   .big a {
      margin: 0px;
   }
   .rows {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
         margin-bottom: 30px;
         flex: 0 0 auto;
         width: calc(50% - 15px);
      }
   }
}
/***************brands-list*******/
.main-brands {
   padding: 55px 0 0;
   b {
      text-transform: uppercase;
      font-size: 28px;
      display: block;
      text-align: center;
   }
   .brands-list {
      margin-top: 40px;
      list-style: none;
      display: flex;
      justify-content: space-between;
   }
   img {
      max-width: 100%;
   }
}

/***************crumbs*******/
.crumbs {
   margin: 30px 0 50px;
   ul {
      display: flex;
      list-style: none;
   }
   a {
      font-size: 12px;
      color: #989898;
      &:hover {
         text-decoration: none;
      }
      &:after {
         content: "/";
         font-size: 10px;
         display: inline-block;
         margin: 0 5px;
      }

   }
   li:last-child {
      a {
         text-decoration: none;
         pointer-events: none;
         &:after {
            content: "/";
            display: none;
         }
      }
   }
}
/**************catalog********/
.catalog-filter {
   padding: 20px 30px;
   margin-bottom: 30px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border: 1px #cbcbcb solid;
   border-radius: 10px;
   .filter-item {
      width: 100%;
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      &:last-of-type {
         margin-right: 30px;
      }
      .filter-title {
         font-weight: 500;
         margin-right: 15px;
         font-size: 13px;
      }
   }

   .dk-select.custom-drop {
      width: auto;
      color: #bdbdbd;
      font-size: 13px;
      .dk-selected {
         padding: 0px;
         padding-right: 15px;
         border-radius: 0px;
         border: none;
         border-bottom: 1px #bdbdbd solid;
      }
      .dk-selected:after {
         display: none;
      }
      .dk-selected:before {
         border: solid transparent;
         border-width: 0.35em 0.30em 0;
         margin: -0.15em 0em 0 0;
         border-top-color: $pink;
      }
      .dk-select-options {
         max-height: none;
         min-width: 100px;
         top: -2px;
         left: -10px;
         padding: 0px;
         right: auto;
         border: none;
         background: #fff;
         border-radius: 8px;
         box-shadow: 0 5px 8px 0 rgba(32, 29, 30, 0.15);
         z-index: 2;
         li {
            white-space: nowrap;
            padding: 5px 15px 5px 10px;
            &.dk-option-selected,
            &:hover {
               background: $pink;
               color: #fff;
            }
         }
      }
   }
   .price-slider-wrap {
      min-width: 200px;
      .irs--flat .irs-bar {
         background: $pink;
      }
      .irs--flat .irs-from,
      .irs--flat .irs-to,.irs--flat .irs-single {
         background: $pink;
      }
   }
}
.catalog-nav {
   font-weight: 500;
   padding-right: 70px;
   ul {
      list-style: none;
      li {
         position: relative;
      }
   }
   ul ul {
      display: none;
   }
   .nav-lvl-2 {
      padding-left: 20px;
      > li > a {
         border-top: 1px #cbcbcb dashed;
      }
   }
   .nav-lvl-3 {
      padding-left: 20px;
      a {
         color: #464646
      }
   }
   .nav-lvl-4 {
      padding-left: 20px;
      font-weight: 400;
      a {
         color: #989898;
      }
   }

   a {
      display: block;
      padding: 5px 0 8px 0;
      margin-left: 15px;
      color: #000000;
      text-decoration: none;
      font-size: 13px;
      span {
         text-decoration: none;
         display: inline-block;
         padding: 3px 3px;
      }
      &:hover,
      &.active {
         span {
            background: $pink;
            color: #fff;
         }
      }
   }
   .toggle {
      cursor: pointer;
      top: 0px;
      position: absolute;
      width: 15px;
      height: 29px;
      &:before,
      &:after {
         left: 2px;
         top: 13px;
         content: "";
         display: block;
         position: absolute;
         width: 8px;
         height: 2px;
         background: #cecece;
         transition: all 0.3s;
      }
      &:after {
         transform: rotate(-270deg);
      }
      &.active {
         &:after {
            transform: rotate(0deg);
         }
      }
   }
}
.main-catalog {
   margin-top: 40px;
   .container {
      display: flex;
   }
   .catalog-nav {
      flex: 0 0 auto;
      width: 300px;
   }
   .catalog-wrapper {
      flex: 1 1 auto;
   }
   .catalog-grid {
      .product-card {
         width: calc(25% - 30px);
      }
   }
}
.catalog-grid {
   margin: 0 -15px;
   display: flex;
   flex-wrap: wrap;
   .product-card {
      margin: 0 15px 30px;
      flex: 0 0 auto;
      width: calc(20% - 30px);
   }
}

/*************my-office*********/
.my-office-links {
   margin-bottom: 110px;
   font-size: 14px;
   ul {
      margin: 20px 0 30px;
      list-style: none;
      li {
         margin: 10px 0;
      }
   }
   a {
      font-weight: 500;
      color: inherit;
      transition: all 0.3s;
      &:hover {
         text-decoration: none;
         color: $pink;
      }
   }
   strong {
      font-weight: 700;
   }
}
/*************product-view*********/
.product-view {
   h1 {
      margin-bottom: 25px;
   }
   .product-info {
      margin: 25px 0;
      display: flex;
      align-items: center;
   }
   .product-rate {
      margin: 0 30px 0 0;
   }
}
.product-property {
   .product-description {
      font-size: 14px;
      font-weight: 500;
      p {
         line-height: 1.3;
         margin-bottom: 15px;
      }
      b {
         font-weight: 800;
      }
   }
}
.product-col-wrap {
   margin-bottom: 70px;
   display: flex;
   justify-content: space-between;
   .product-gallery {
      max-width: 675px;
      flex: 0 0 auto;
      box-shadow: 0 5px 8px 0px rgba(#201d1e,0.15);
      overflow: hidden;
      position: relative;
      border-radius: 8px;
   }
   .current-image {
      img {
         vertical-align: middle;
      }
   }
   .product-tags {
      span {
         width: 140px;
         height: 140px;
         line-height: 140px;
         font-size: 46px;
      }
   }
   .product-property {
      max-width: 605px;
      flex: 0 0 auto;
   }
   .thumbs {
      position: absolute;
      left: 15px;
      top: 15px;
      a {
         margin-bottom: 15px;
         overflow: hidden;
         display: block;
         width: 75px;
         height: 75px;
         border-radius: 8px;
         box-shadow: 0 5px 8px 0px rgba(#201d1e,0.15);
         transition: all 0.3s;
         &:hover {
            box-shadow: 0 5px 12px 0px rgba(#201d1e,0.35);
         }
         &.active {
            border: 1px $pink solid;
         }
         img {
            width: 100%;
            vertical-align: middle;
         }
      }
      .video {
         position: relative;
         i.mdi {
            width: 100%;
            height: 100%;
            color: #000;
            position: absolute;
            left: 0px;
            top: 0px;
            font-size: 40px;
            color: #fff;
            background: rgba(#000,0.2);
            text-align: center;
            line-height: 75px;
         }
      }
   }
}
.product-count-and-params {
   display: flex;
   align-items: flex-start;
   margin-bottom: 45px;
   .tech-params {
      list-style: none;
      margin-left: 115px;
      font-size: 14px;
      font-weight: 500;
      li {
         margin: 5px 0 20px;
      }
   }
   .product-count {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 261px;
   }
   .action {
      text-align: center;
      margin-top: 15px;
      width: 100%;
      .btn {
         width: 100%;
      }
   }
   .price {
      margin-right: auto;
      font-size: 55px;
      color: $pink;
      b {
         font-weight: 900;
         letter-spacing: 2px;
      }
   }
}
.count-btns {
   margin-top: 7px;
   width: 100px;
   height: 40px;
   background: #eee;
   border-radius: 10px;
   display: flex;
   align-items: center;
   position: relative;
   justify-content: space-between;
   button {
      font-weight: 900;
      cursor: pointer;
      text-align: center;
      font-size: 25px;
      flex: 0 0 auto;
      color: #000;
      width: 40px;
      height: 40px;
      background: none;
      border: none;
      position: relative;
      z-index: 2;
      &:hover {
         color: $pink;
      }
   }
   input {
      font-weight: 900;
      font-size: 20px;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 40px;
      text-align: center;
      position: absolute;
      flex: 1 1 auto;
      background: none;
      border: none;
      background: none;
   }
}
.product-reviews {
   margin-bottom: 70px;
   .file-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      li {
         margin-bottom: 10px;
         display: block;
         overflow: hidden;
         width: 65px;
         height: 65px;
         position: relative;
         border-radius: 8px;
         margin-right: 10px;
         img {
            vertical-align: middle;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         i.mdi {
            text-align: center;
            line-height: 18px;
            width: 18px;
            height: 18px;
            left: 0px;
            top: 0px;
            position: absolute;
            display: block;
            color: white;
            background: #94b911;
            border-radius: 0 0 4px 0;
         }
      }
   }
}
.product-reviews-new {
   margin-bottom: 50px;
}
.product-reviews-head {
   display: flex;
   align-items: center;
   font-size: 40px;
   strong {
      font-weight: 400;
   }
   span {
      margin-left: 10px;
      color: #989898;
   }
   button {
      margin-left: auto;
   }
   .btn.activated {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-bottom: none !important;
      border-color: #989898!important;
      color: #989898!important;
      opacity: 0.4;
   }
}
.new-review-form-wrap {
   display: none;
}
.new-review-form {
   background: #eee;
   display: flex;
   flex-wrap: wrap;
   padding: 35px 100px;
   border-radius: 10px 0px 10px 10px;
   .action {
      width: 100%;
      text-align: right;
      margin-top: 25px;
      .btn {
         margin-left: 15px;
      }
   }
   .left-side {
      flex: 0 0 auto;
      width: 100%;
      max-width: 460px;
      margin-right: 30px;
   }
   .right-side {
      flex: 1 1 auto;
      textarea {
         min-height: 255px;
      }
   }
   strong {
      font-size: 14px;
      display: block;
      margin-bottom: 15px;
   }
   .stars-list {
      margin-bottom: 50px;
      display: flex;
      a {
         display: block;
         margin: 0 10px 0 0;
         width: 65px;
         height: 65px;
         border-radius: 10px;
         border: 1px #fff dashed;
         text-align: center;
         line-height: 63px;
         color: #dadada;
         font-size: 32px;
         transition: all 0.2s;
         &.active {
            color: #e7db00;
            background: #fff;
            border-style: solid;
         }
      }
   }
   .upload-btn {
      margin-right: 10px;
      flex: 0 0 auto;
      width: 140px;
      height: 140px;
      border-radius: 10px;
      border: 1px #fff dashed;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      i.mdi {
         font-size: 56px;
         color: #fff;
         margin-bottom: 10px;
      }
      input {
         position: absolute;
         left: 0px;
         height: 0px;
         width: 100%;
         height: 100%;
         cursor: pointer;
         opacity: 0;
      }
   }
   .upload-images {
      display: flex;
   }
}


.product-reviews-item {
   display: flex;
   padding: 35px 0;
   border-bottom: 1px #dadada solid;
   &:last-child {
      border: none;
   }
   .user-ava {
      position: relative;
      margin-right: 25px;
      flex: 0 0 auto;
      width: 75px;
      height: 75px;
      .user-flag {
         position: absolute;
         right: 0px;
         bottom: 0px;
      }
   }
   .user-review {
      .name {
         display: block;
      }
      .date {
         display: block;
         margin-top: 3px;
      }
      .product-rate {
         margin: 5px 0 8px;
         text-align: left;
      }
      .review-text {
         line-height: 1.3;
         font-weight: 500;
      }
      .file-list {
         margin-top: 10px;
      }
   }
}
.more-reviews {
   margin-top: 30px;
   text-align: center;
   a {
      text-decoration: none;
      color: inherit;
      font-weight: 500;
      border-bottom: 1px #000 dotted;
   }
}
/*******************faq************/
.faq-title {
   margin: 20px 0;
   .icon {
      position: relative;
      width: 17px;
      height: 17px;
      display: block;
      margin-right: 15px;
      &:after,
      &:before {
         content: "";
         position: absolute;
         left: 0px;
         top: 6px;
         display: block;
         width: 100%;
         height: 4px;
         background: #fff;
         border-radius: 4px;
         background: #fff;
         transition: all 0.3s;
      }
      &:after {
         transform: rotate(90deg);
      }
   }
   a {
      display: flex;
      align-items: center;
      background: $pink;
      color: #fff;
      font-size: 23px;
      color: #fff;
      border-radius: 6px;
      padding: 15px;
      color: #fff;
      text-decoration: none;
      transition: all 0.3s;
   }
   a:hover {
      background: #000;
   }
   a.active {
      background: #000;
      .icon:after {
         transform: rotate(-180deg);
      }
   }
}
.faq-content {
   display: none;
   padding: 15px 50px;
   p {
      margin: 15px 0;
   }
   hr {
      margin: 15px 0;
      border: none;
      height: 1px;
      background: #c9c9c9;
   }
}
/*************company************/
.company-text {
   display: flex;
   margin-bottom: 50px;
   img {
      flex: 0 0 auto;
      margin-left: 40px;
   }
   .article {
      flex: 1 1 auto;
      p {
         margin-bottom: 15px;
         line-height: 1.3;
         font-weight: 500;
      }
   }
}
.about-banner {
   margin-bottom: 50px;
}

.company-principles {
   margin-bottom: 50px;
   display: flex;
   justify-content: space-between;
   .item {
      flex: 0 0 auto;
      width: calc(33.333% - 15px);
   }
   .num {
      text-align: center;
      position: relative;
      margin-bottom: 15px;
      &:after {
         content: "";
         display: block;
         position: absolute;
         height: 5px;
         width: 100%;
         background: $pink;
         top: 50%;
         left: 0px;
      }
      span {
         font-size: 70px;
         background: #fff;
         display: inline-block;
         padding: 0 15px;
         font-weight: 200;
         position: relative;
         z-index: 2;
      }
   }
   .text {
      line-height: 1.6;
      font-weight: 500;
   }
}
.partners-list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   .item {
      border-top: 4px $pink solid;
   }
}
/******************contacts************/
.contact-info {
   display: flex;
   line-height: 1.3;
   margin-bottom: 50px;
   strong {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
   }
   .info-office {
      width: 100%;
      max-width: 470px;
      padding-right: 30px;
      span {
         display: block;
      }
      a {
         font-weight: 500;
      }
   }
   .info-work {
      width: 100%;
      max-width: 230px;
      padding-right: 30px;
   }
}
.map-container {
   max-width: 590px;
   height: 350px;
}
/****************bonus**************/
.bonus-steps {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
   .item {
      width: calc(25% - 15px);
      p {
         line-height: 1.3;
         font-weight: 500;
      }
   }
   .image {
      margin-bottom: 15px;
      display: flex;
      height: 140px;
      background: $pink;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
      img {
         margin: auto;
      }
      .num {
         position: absolute;
         left: 0px;
         top: 0px;
         background: #000;
         color: #fff;
         height: 50px;
         width: 50px;
         border-radius: 0 0 6px 0;
         text-align: center;
         line-height: 50px;
         font-size: 25px;
         font-weight: 800;
      }
   }
}
.bonus-chart {
   .item {
      position: relative;
      height: 85px;
      background: #f7f7f7;
      line-height: 85px;
      border-radius: 8px;
      margin-bottom: 15px;
   }
   .purchase {
      font-size: 30px;
      padding-left: 80px;
      font-weight: 700;
   }
   .bonus {
      width: 250px;
      overflow: hidden;
      top: 0px;
      right: 0px;
      font-size: 70px;
      border-radius: 8px;
      background: $pink;
      position: absolute;
      right: 0px;
      color: #fff;
      b {
         font-weight: 900;
         margin: 0 80px;
      }
   }
}
/***************page-404***********/
.page-404 {
   text-align: center;
   padding: 10% 0;
   h1 {
      letter-spacing: 10px;
      font-weight: 900;
      color: #fff;
      font-size: 250px;
      -webkit-text-stroke: 10px darken($pink,10);
      text-stroke: 10px darken($pink,10);
      text-shadow: -1px 1px 0px $pink,
                  -2px 2px 0px $pink,
                  -3px 3px 0px $pink,
                  -4px 4px 0px $pink,
                  -5px 5px 0px $pink,
                  -6px 6px 0px $pink,
                  -7px 7px 0px $pink,
                  -8px 8px 0px $pink,
                  -9px 9px 0px $pink,
                  -10px 10px 0px $pink,
                  -11px 11px 0px $pink,
                  -12px 12px 0px $pink,
                  -13px 13px 0px $pink,
                  -14px 14px 0px $pink,
                  -15px 15px 0px $pink,
                  -16px 16px 0px $pink,
                  -17px 17px 0px $pink,
                  -18px 18px 0px $pink,
                  -19px 19px 0px $pink,
                  -20px 20px 0px $pink,
                  -21px 21px 0px $pink;
   }
}
/*********************sign*************/
.sign-section {
   padding-top: 70px;
   h1 {
      margin-bottom: 70px;
   }
}
.sign-blocks {
   display: flex;
   align-items: center;
   justify-content: space-between;
   &.is-single {
      justify-content: center;
      .sign-blocks-item {
         width: 50%;
      }
   }
   .sign-blocks-item {
      display: flex;
      flex-direction: column;
      min-height: 354px;
      width: calc(50% - 15px);
      background: #f4f4f4;
      padding: 40px 115px;
      border-radius: 15px;
      .head {
         font-weight: 400;
         font-size: 30px;
      }
      .body {
         margin-top: auto;
         margin-bottom: auto;
      }
      .footer {
         justify-content: flex-end;
         display: flex;
         .btn {
            padding: 0 40px;
         }
         .btn + .btn {
            margin-left: auto;
         }
      }
   }
   .rember-pass {
      display: inline-block;
      margin-top: 15px;
   }
   .first-order-note {
      line-height: 1.2;
      font-weight: 500;
   }
   .come-from {
      .btn {
         padding: 0 40px;
      }
      .body {
         display: flex;
         align-items: flex-end;
         justify-content: space-between;
      }
   }
   .sign_up {
      .footer {
         margin-top: 30px;
         display: flex;
         justify-content: space-between;
         .btn {
            padding: 0 25px;
         }
      }
   }
}
/**************cart page*********/
.cart-page {
   .final-summ {
      margin-top: 100px;
      text-align: right;
      font-size: 16px;
      b {
         font-size: 26px;
         color: $pink;
         font-weight: 900;
      }
   }
   .cart-btns {
      margin: 40px auto 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}
.shipping-price-info {
   margin: 0 auto 40px;
   max-width: 960px;
   border: 3px $pink solid;
   border-radius: 10px;
   text-align: center;
   padding: 40px 30px;
   font-size: 20px;
   line-height: 1.3;
   font-weight: 500;
   b {
      color: $pink;
   }
}
.cart-table {
   width: 100%;
   border-collapse: collapse;
   tr:last-child {
      td {
         border: none;
      }
   }
   td {
      border: none;
      padding: 35px 0;
      border-bottom: 1px #dadada solid;
   }
   .img-col {
      width: 215px;
      padding-right: 85px;
      a {
         display: block;
         width: 130px;
         height: 130px;
         border-radius: 10px;
         overflow: hidden;
         box-shadow: 0 5px 8px 0px rgba(32, 29, 30, 0.15);
         img {
            width: 100%;
         }
      }
   }
   .remove-col {
      width: 30px;
      .remove {
         background: none;
         border: none;
         color: #ccc;
         &:hover {
            color: $pink;
            cursor: pointer;
         }
         i.mdi {
            font-size: 28px;
         }
      }
   }
   .price-col {
      width: 185px;
      text-align: right;
      padding-right: 30px;
      .price {
         font-size: 23px;
         color: $pink;
      }
      .old-price {
         text-decoration: line-through;
      }
   }
   .count-col {
      width: 100px;
      .count-btns {
         margin: 0px;
      }
   }
   .name-col {
      padding-right: 30px;
      a {
         line-height: 1.3;
         text-decoration: none;
         color: inherit;
         font-size: 16px;
         font-weight: 500;
         &:hover {
            color: $pink;
         }
      }
   }
}
.i-have-promo {
   margin: 30px auto;
   max-width: 960px;
   background: #f4f4f4;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 0;
   .g-input {
      max-width: 205px;
      margin: 0 15px 0 0;
   }
}
/*************order-list**********/
.order-list-table {
   table {
      width: 100%;
      border-collapse: collapse;
   }
   td {
      border-bottom: 1px #dadada solid;
      padding: 30px 0;
   }
   .order-id {
      width: 70px;
      b {
         display: inline-block;
         color: #fff;
         border-radius: 40px;
         background: $pink;
         line-height: 30px;
         padding: 0 15px;
      }
   }
   .order-name {
      font-size: 20px;
      a {
         color: #000;
         text-decoration: none;
         &:hover {
            color: $pink;
         }
      }
   }
   .order-quantity {
      b {
         font-size: 30px;
      }
      i {
         font-size: 14px;
      }
   }
   .order-price {
      text-align: center;
      font-size: 32px;
      color: $pink;
   }
   .order-status {
      text-align: right;
   }
}
.order-status {
   span {
      display: inline-block;
      border-radius: 40px;
      line-height: 30px;
      padding: 0 15px;
   }
   .green-stat {
      color: #fff;
      background: #43a047;
   }
   .red-stat {
      color: #fff;
      background: #ff3d00;
   }
   .gray-stat {
      color: #fff;
      background: #546e7a;
   }
   .orange-stat {
      color: #fff;
      background: #ff9100;
   }
}
/*************order-info*********/
.order-page {
   h1 b {
      color: $pink;
      font-weight: 900;
   }
   .order-information {
      display: flex;
   }
   .final-sum-to-pay {
      margin: 50px 0;
   }
}
.order-description {
   flex: 0 0 auto;
   border: 4px $pink solid;
   padding: 30px;
   border-radius: 30px;
   width: 100%;
   max-width: 500px;
   h2 {
      font-weight: 400;
      margin-bottom: 15px;
      margin-top: 30px;
      &:first-of-type {
         margin-top: 0px;
      }
   }
   .order-info-card {
      background: $pink;
      color: #fff;
      padding: 15px;
      border-radius: 10px;
   }
   .order-owner {
      td:first-child {
         padding-right: 15px;
         text-align: right;
         font-weight: 300;
      }
      td {
         padding: 5px 0;
      }
   }
   .order-shipping {
      margin: 10px 0;
      text-align: center;
      b {
         margin-top: 5px;
         font-size: 24px;
         display: block;
      }
   }
   .order-payment {
      margin: 10px 0;
      text-align: center;
      b {
         font-size: 24px;
         display: block;
      }
   }
}
.order-items {
   margin-left: 50px;
   table {
      width: 100%;
      border-collapse: collapse;
   }
   td {
      padding: 15px 0;
      border-bottom: 1px #dadada solid;
   }
   .img-col {
      padding-right: 30px;
      a {
         display: block;
         width: 80px;
         height: 80px;
         img {
            width: 100%;
         }
      }
   }
   .name-col {
      padding-right: 30px;
      a {
         color: #000;
         text-decoration: none;
         &:hover {
            color: $pink;
         }
      }
   }
   .count-col {
      padding-right: 30px;
      b {
         font-size: 24px;
      }
   }
   .price-col {
      text-align: right;
      color: $pink;
      b {
         font-size: 24px;
      }
   }
}
/*************shipping-page******/
.shipping-page {
   padding-top: 70px;
   h1 {
      margin-bottom: 70px;
   }
}
.shipping-data {
   background: #f4f4f4;
   padding: 55px 65px;
   border-radius: 15px;
   margin-bottom: 70px;
   .g-input {
      margin-bottom: 25px;
   }
   .field-row {
      display: flex;
      justify-content: space-between;
      .g-input {
         padding: 0 35px;
      }
      .col-1-of-3 {
         flex: 0 0 auto;
         width: 33.333%;
      }
      .col-2-of-3 {
         flex: 0 0 auto;
         width: 66.666%;
      }
      .col-3-of-3 {
         flex: 0 0 auto;
         width: 100%;
      }
   }
   .comment-filed {
      display: none;
   }
   .open-comment {
      display: inline-block;
      margin: 30px 0 0 70px;
      color: #000;
      font-weight: 500;
      &:hover {
         text-decoration: none;
         color: $pink;
      }
   }
}
.shipping-methods {
   overflow: hidden;
   display: flex;
   overflow: hidden;
   border-radius: 15px;
   margin-bottom: 60px;
   input {
      display: none;
      &:checked + label {
         background: $pink;
         color: #fff;
      }
   }
   label {
      min-height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 1 20%;
      text-align: center;
      line-height: 1.3;
      background: #f4f4f4;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
         b:first-child {
            margin-top: -10px;
         }
      }
      b {
         display: block;
      }
      b:first-child {
         transition: margin-top 0.2s;
      }
      b:last-child {
         margin-top: 15px;
      }
      &:nth-of-type(2n+2) {
         background: #e5e5e5;
      }
   }
}
.shipping-methods-info {
   margin: 60px 0;
   font-size: 16px;
   line-height: 1.3;
   b {
      display: block;
   }
   p {
      margin-bottom: 20px;
   }
}
.payment-methods {
   background: #f4f4f4;
   padding: 55px 95px;
   border-radius: 15px;
   margin-bottom: 70px;
   hr {
      border: none;
      background: #fff;
      height: 1px;
      margin: 15px 0;
   }
   .g-radio {
      margin: 0px
   }
   .lbl {
      img {
         position: absolute;
         right: 0px;
         top: 0px;
      }
      i.mdi {
         font-size: 32px;
         color: $pink;
         position: absolute;
         right: 0px;
         top: 0px;
      }
   }
}
.final-sum-to-pay {
   text-align: center;
   line-height: 1.3;
   h2 {
      font-size: 30px;
      b {
         color: $pink;
         font-weight: 900;
      }
   }
   p {
      font-size: 16px;
      margin-bottom: 20px;
   }
   .btn {
      margin-top: 45px;
   }
}
.order-agree-note {
   margin: 60px 0;
   text-align: center;
   line-height: 1.3;
   font-weight: 500;
}
/**************footer***********/

.main-footer {
   margin-top: 60px;
   background: #000;
   padding: 60px 0;
   color: #fff;
   a {
      color: inherit;
      text-decoration: none;
   }
   .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .pay-systems {
      padding: 35px 44px;
      border: 1px $pink solid;
      border-radius: 20px;
      img {
         max-width: 100%;
      }
   }
   .footer-nav {
      margin: 0 50px;
      strong {
         font-size: 14px;
         text-transform: uppercase;
      }
      ul {
         margin-top: 20px;
         list-style: none;
      }
      a {
         margin: 8px 0;
         display: block;
         font-size: 13px;
         &:hover {
            color: $pink;
         }
      }
   }
   .social-links {
      display: flex;
      align-items: center;
      list-style: none;
      li {
         margin-left: 35px;
         i.mdi {
            font-size: 32px;
         }
      }
      li:first-child {
         margin: 0px;
      }
      a:hover {
         color: $pink;
      }
   }

}
/***************ui**************/
.page-cap {
   text-align: center;
   padding: 15% 0;
   .icon {
      margin: 0 auto 30px;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: $pink;
      line-height: 250px;
      color: #fff;
      font-size: 85px;
   }
   strong {
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 400;
   }
}
.back-link {
   display: inline-block;
   margin: 40px 0;
   text-decoration: none;
   font-weight: 500;
   .mdi {
      vertical-align: middle;
      font-size: 20px;
      color: #000;
   }
   span {
      font-size: 16px;
      text-decoration: underline;
   }
}
.pagination {
   margin: 30px 0 60px;
   display: flex;
   align-items: center;
   list-style: none;
   justify-content: center;
   li {
      margin: 0 5px;
   }
   a {
      color: #000;
      font-weight: 600;
      display: block;
      width: 43px;
      height: 43px;
      border-radius: 50%;
      border: 3px transparent solid;
      text-align: center;
      line-height: 38px;
      transition: all 0.2s;
      &:hover,
      &.active {
         text-decoration: none;
         border-color: $pink;
      }
   }

}
.btn {
   display: inline-block;
   font-weight: 600;
   text-decoration: none;
   background: none;
   text-align: center;
   line-height: 37px;
   height: 43px;
   border: 3px transparent solid;
   border-radius: 22px;
   font-size: 18px;
   padding: 0 35px;
   cursor: pointer;
   transition: all 0.3s;
   &.pink {
      border-color: $pink;
      color: #fff;
      background: $pink;
      &:hover {
         background: darken($pink,10);
         border-color: darken($pink,10);
      }
      &.outline {
         border-color: $pink;
         color: $pink;
         background: transparent;
         &:hover {
            background: $pink;
            color: #fff;
         }
         &.dotted {
            border-style: dotted;
         }
      }
   }
   &.blue {
      border-color: $blue;
      color: #fff;
      background: $blue;
      &:hover {
         background: darken($blue,10);
         border-color: darken($blue,10);
      }
      &.outline {
         border-color: $blue;
         color: $blue;
         background: transparent;
         &:hover {
            background: $blue;
            color: #fff;
         }
         &.dotted {
            border-style: dotted;
         }
      }
   }
   &.grey {
      border-color: $grey;
      color: #fff;
      background: $grey;
      &:hover {
         background: darken($grey,10);
         border-color: darken($grey,10);
      }
      &.outline {
         border-color: $grey;
         color: $grey;
         background: transparent;
         &:hover {
            background: $grey;
            color: #fff;
         }
         &.dotted {
            border-style: dotted;
         }
      }
   }
   &.small {
      font-weight: 600;
      height: 32px;
      font-size: 15px;
      line-height: 25px;
   }
   &.big {
      font-weight: 900;
      height: 60px;
      font-size: 24px;
      border-radius: 30px;
      line-height: 54px;
   }
}
.btn.cart-animate {
   position: relative;
   overflow: hidden;
   transition: all 0.3s;
   .mdi {
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      text-align: center;
      color: #fff;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      border-radius: 50%;
      transition: all 0.2s;
      visibility: hidden;
      transform: scale(0);
   }
   &.animate {
      font-size: 0px;
      white-space: nowrap;
      padding: 0px;
      width: 43px;
      animation: 0.3s CheckScale 0.3s;
      &.pink {
         background: $pink;
      }
      &.blue {
         background: $blue;
      }
      &.big {
         width: 60px;
         .mdi {
            font-size: 40px;
         }
      }
      i.mdi {
         visibility: visible;
         transform: scale(1);
         transition-delay: 0.3s;
      }
   }
}
.g-input {
   margin-bottom: 10px;
   position: relative;
   &:last-child {
      margin: 0px;
   }
   input {
      width: 100%;
      height: 44px;
      background: #fff;
      border-radius: 10px;
      border: none;
      font-size: 14px;
      padding: 0 30px;
      transition: all 0.3s;
      &:focus {
         box-shadow: 0 0 0 2px $pink inset;
         border-radius: 40px;
      }
   }
   textarea {
      width: 100%;
      height: 44px;
      background: #fff;
      border-radius: 10px;
      border: none;
      font-size: 14px;
      padding: 20px 30px;
      min-height: 200px;
      resize: vertical;
   }
}
.g-radio {
   display: block;
   margin-bottom: 15px;
   &:last-child {
      margin: 0px;
   }
   .lbl {
      display: block;
      font-weight: 500;
      line-height: 18px;
      position: relative;
      padding-left: 26px;
      cursor: pointer;
      &:before {
         content: "";
         display: block;
         position: absolute;
         left: 0px;
         width: 12px;
         height: 12px;
         border-radius: 50%;
         border: 3px $pink solid;
      }
      &:after {
         content: "";
         display: block;
         position: absolute;
         left: 6px;
         top: 6px;
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background: #000;
         opacity: 0;
      }
   }
   input {
      display: none;
      &:checked + .lbl {
         &:after {
            opacity: 1;
         }
      }
   }
}


@keyframes CheckScale {
   0% {
      transform: scale(1);
   }
   50% {
      transform: scale(1.4);
   }
   100% {
      transform: scale(1);
   }
}

/******************response****************/
@media screen and (max-width: 1023px) {
/*************header****************/
   .main-header {
      .logo {
         max-width: 50%;
         position: absolute;
      }
   }
   .catalog-btn-wrap {
      position: absolute;
      top: 95px;
      right: 15px;
      z-index: auto;
      &:after {
         display: none !important;
      }
   }
   .catalog-btn {
      position: relative;
      padding: 0 55px 0 15px;
      font-size: 14px;
      height: 35px;
      line-height: 35px;
      border: none;
      z-index: auto;
      > i {
         display: none;
      }
      .burger {
         padding-top: 6px;
         border-radius: 15px;
         margin: 0px;
         position: absolute;
         right: 0px;
         top: 0px;
         width: 40px;
         background: #000;
         height: 100%;
         i {
            width: 20px;
            height: 2px;
            margin: 4px auto 0;
         }
      }
   }
   .header-nav {
      width: 100%;
   }
   .header-links {
      width: 100%;
      margin-top: 70px;
      ul {
         justify-content: space-between;
         li {
            margin: 0px;
         }
      }
   }
   .header-account {
      a {
         margin-left: 15px;
      }
   }
/**************main-slider*************/
   .main-slider {
      .owl-item {
         div {
            height: 300px;
         }
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }
/**************main-carousel*************/
   .main-carousel {
      .owl-item {
         div {
            img {
               height: 200px;
            }
         }
      }
   }
/***************free-delivery-info*************/
   .free-delivery-info {
      display: block;
      border-radius: 15px;
      padding: 25px 0 25px 10%;
      margin: 70px 0;
      height: auto;
      font-size: 19px;
      b {
         font-size: 60px;
         display: block;
      }
      img {
      position: absolute;
      right: 0px;
      top: -64px;
      }
   }
/***************toggle-products*************/
   .toggle-products {
      width: auto;
      a {
         font-size: 16px;
         &.active {
            font-size: 22px;
         }
      }
   }
/***************main-brands*************/
   .main-brands {
      .brands-list {
         flex-wrap: wrap;
         li {
            width: 33.333%;
            text-align: center;
            margin-bottom: 30px;
         }
      }
   }
/***************main-footer*************/
   .main-footer {
      .container {
         flex-wrap: wrap;
      }
      .logo {
         width: 50%;
         text-align: right;
         padding-right: 70px;
      }
      .pay-systems {
         order: 3;
         margin: 30px auto;
      }
      .social-links {
         order: 2;
         width: 50%;
      }
      .footer-nav {
         width: 100%;
         margin: 30px auto;
         max-width: 500px;
         order: 4;
         ul {
            columns: 3;
         }
      }
   }
}

@media screen and (max-width: 768px) {
   /***************main-navigation*************/
   .main-navigation {
      position: fixed;
      height: 100%;
      &:before {
         display: none;
      }
      .close-menu {
         top: 18px;
         right: 10px;
      }
      .container {
         padding-top: 80px;
         padding-bottom: 10px;
         position: relative;
         &:before {
            content: "Каталог товаров";
            position: absolute;
            left: 15px;
            top: 25px;
            font-weight: 300;
            color: #fff;
            font-size: 24px;
            font-style: italic;

         }
      }
      .main-navigation-links {
         flex-direction: column;
      }
      .main-navigation-links-block {
         margin-bottom: 40px;
         width: auto;
         &:last-child {
            margin-bottom: 0px;
         }
      }
   }
   /***************slide-products*************/
   .slide-products {
      margin: 0 -15px;
      padding: 10px 15px;
      .item {
         margin-right: 15px;
         width: calc(50vw - 22px);
      }
      .product-card {
         margin-bottom: 15px;
      }
   }
   .slide-products-scrollbar {
      margin: 0px 30px 30px;
   }
   /*************main-gallery***************/
   .main-gallery {
      padding: 60px 15px 30px;
   }
   .gallery-grid {
      display: block;
      .big {
         margin-bottom: 30px;
      }
      .big, .rows {
         width: 100%;
      }
      .rows {
      }
   }
   /***************main-brands*************/
   .main-brands {
      .brands-list {
         li {
            width: 50%;
         }
      }
   }
   .product-card {
      padding: 20px;
      .btn {
         width: 100%;
         padding: 0px;
      }
      .product-img {
         img {
            height: auto;
         }
      }
   }
}
@media screen and (max-width: 500px) {
   /*****************header*********/
   .catalog-btn-wrap {
      top: 77px;
   }
   .header-account {
      a {
         .icon {
            margin-right: 5px;
            img {
               width: 40px;
            }
         }
         strong {
            font-size: 14px;
         }
      }
   }
   .header-links {
      ul {
         a {
            font-size: 10px;
         }
      }
   }

   /*****************free-delivery-info*********/
   .free-delivery-info {
      margin: 20px 0 30px;
      padding: 15px 0;
      text-align: center;
      b {
         padding: 0px;
         font-size: 40px;
      }
      img {
         display: none;
      }
   }
   /*******************footer*************/
   .main-footer {
      padding: 30px 0;
      .logo {
         padding: 0px;
         img {
            max-width: 100%;
         }
      }
      .social-links {
         width: 40%;
         justify-content: space-between;
         li {
            margin: 0px;
            i.mdi {
               font-size: 24px;
            }
         }
      }
      .footer-nav {
         margin: 0px;
      }
   }
}
