@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.wrap {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.logo {
    text-align: center;
    margin-top: -70px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.logo img {
    width: 360px;
}

.logo:after {
    content: "";
    display: block;
    position: absolute;
    width: 100px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 50%, rgba(255, 255, 255, 0) 100%);
    animation: 20s shine infinite;
}

.currency td {
    line-height: 120px;
    font-weight: 600;
    font-size: 120px;
    letter-spacing: 3px;
}

.currency .currency-name {
    text-align: right;
}

.currency .currency-size {
    padding-left: 40px;
}

table + a {
    visibility: hidden;
    display: none;
}

.frame {
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.frame .angle {
    width: 200px;
}

.frame .angle-1 {
    position: absolute;
    left: 10px;
    top: 10px;
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.frame .angle-2 {
    position: absolute;
    right: 10px;
    top: 10px;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.frame .angle-3 {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.frame .angle-4 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#reload {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
    background: transparent;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    98% {
        left: -100px;
    }

    100% {
        left: 100%;
    }
}
