@import url("https://fonts.googleapis.com/css?family=Play:400,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Play', sans-serif;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.app {
    padding-bottom: 130px;
}

/*************sideMenue*****************/
.slideout-menu {
    background: #E2E2E2;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 120px;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF;
  /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/*****************side-menu**********/
.side-menu {
    text-align: center;
    padding: 10px 0 80px;
}

.side-menu li {
    font-size: 0px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.side-menu li.active .tab-img {
    position: relative;
    border-radius: 8px 0 0 8px;
    border: none;
    background: #fff;
}

.side-menu li.active .tab-img:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 100%;
    right: -10px;
    top: 0px;
    background: #fff;
}

.side-menu li.active .tab-img:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 100%;
    left: -10px;
    top: 0px;
    background: #F58426;
    z-index: -1;
}

.side-menu .tab-img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    border: 1px solid #C8C8C8;
}

.side-menu .tab-img img {
    max-width: 100%;
    margin: auto;
}

.side-menu span {
    display: block;
    margin-top: 4px;
    font-size: 12px;
}

/************bottom-nav************/
.bottom-nav {
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 100;
}

.bottom-nav .links {
    display: -ms-flexbox;
    display: flex;
}

.bottom-nav .links a {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    background: #7A68AE;
}

.bottom-nav .links a:hover, .bottom-nav .links a.active {
    background: linear-gradient(180deg, #FBC23C 0%, #F68428 100%);
}

.bottom-nav .links a:nth-child(1) {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}

.bottom-nav .links a:nth-child(4) {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
}

.bottom-nav .links a:nth-child(2) img {
    margin: auto 0 auto 15%;
}

.bottom-nav .links a:nth-child(3) {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.bottom-nav .links a:nth-child(3) img {
    margin: auto 17% auto 0;
}

.bottom-nav .links img {
    margin: auto;
}

.bottom-nav .cart-btn {
    position: absolute;
    left: 50%;
    margin-left: -52.5px;
    bottom: 20px;
    width: 115px;
    height: 115px;
    border: 5px #fff solid;
    border-radius: 50%;
}

.bottom-nav .cart-btn a {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #7B69AF 0%, #9687BF 100%);
    display: -ms-flexbox;
    display: flex;
}

.bottom-nav .cart-btn a img {
    margin: auto;
}

.bottom-nav .cart-btn a .count {
    font-size: 14px;
    color: #fff;
    display: block;
    position: absolute;
    right: 16px;
    top: 40px;
    height: 26px;
    min-width: 26px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(180deg, #FCC23C 0%, #F78529 100%);
}

/*************main-page-head*********/
.main-page-head {
    background: linear-gradient(180deg, #F58426 0%, #7A68AE 100%);
    border-radius: 0 0 8px 8px;
    padding: 15px 15px 50px;
}

.main-slider {
    overflow: hidden;
}

.main-slider .owl-stage-outer {
    border-radius: 8px;
}

.main-slider .owl-dots {
    margin: 23px 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-slider .owl-dots .owl-dot {
    margin: 0 5px;
    background: #fff;
    height: 6px;
    width: 80px;
    border-radius: 3px;
}

.main-slider .owl-dots .owl-dot.active {
    background: #F58426;
}

.main-page-tabs {
    border: 1px #fff solid;
    border-radius: 8px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.main-page-tabs:after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    left: 50%;
    top: 10px;
    bottom: 10px;
    background: #fff;
}

.main-page-tabs a {
    line-height: 60px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    color: #fff;
    text-align: center;
    position: relative;
}

.main-page-tabs a.active:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    height: 10px;
    right: 50px;
    left: 50px;
    background: #F58426;
    border-radius: 10px 10px 0 0;
}

/*************main-page-head*********/
.product-grid {
    padding: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-grid .product-item {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(50% - 15px);
    margin-bottom: 15px;
}

.product-grid .product-thumb {
    position: relative;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
}

.product-grid .product-thumb a {
    display: block;
    padding: 10px;
}

.product-grid .product-thumb a img {
    width: 100%;
}

.product-grid .product-thumb .sale-flag {
    position: absolute;
    top: -1px;
    right: 14px;
}

.product-grid .product-thumb .sale-flag span {
    position: absolute;
    top: 12px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.product-grid .product-info {
    padding: 10px 0;
    text-align: center;
}

.product-grid .product-info .price {
    display: block;
    font-size: 25px;
    color: #F58426;
    font-weight: bold;
    line-height: 20px;
}

.product-grid .product-info .info {
    font-size: 14px;
}

.product-grid .btn {
    width: 100%;
}

/****************ui*************/
.btn {
    font-size: 16px;
    line-height: 43px;
    font-weight: bold;
    background: none;
    border: none;
    display: inline-block;
    color: inherit;
    text-align: center;
    height: 45px;
    border-radius: 8px;
}

.btn.orange {
    color: #fff;
    background: #F58426;
}

.btn.orange.outline {
    color: #F58426;
    border: 1px #F58426 solid;
    background: none;
}
