.search-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    &__search {
        position: relative;
        flex: 1 1 auto;
        .mdi {
            position: absolute;
            left: 0px;
            top: 0px;
            line-height: 36px;
            color: $grey;
            font-size: 20px;
            padding: 0 5px;
        }
        input {
            padding-left: 30px;
            width: 100%;
            border-radius: 10px;
            background: $grey-light;
            border: none;
            height: 36px;
            font-weight:400;
        }
    }
    &__back {
        line-height: 36px;
        margin-left: -10px;
        padding: 0 10px;
        color: $grey;
        font-size: 25px;
    }
}
.page-cap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    .mdi {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $grey-light;
        text-align: center;
        line-height: 75px;
        font-size: 32px;
        margin-bottom: 20px;
    }
    span {
        color: $grey;
        font-size: 13px;
        line-height: 1.4;
    }
}
.tabs {
    display: flex;
    position: relative;
    border-bottom: 1px $grey-line solid;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 0%;
        height: 42px;
        text-align: center;
        font-weight: 600;
        color: $grey;
        position: relative;
        text-decoration: none;
    }
    &__line {
        display: block;
        position: absolute;
        bottom: -2px;
        width: 50%;
        height: 3px;
        background: #000;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }
    [attr-tab-num="1"].tabs__item_active ~ .tabs__line {
        left: 0
    }
    [attr-tab-num="2"].tabs__item_active ~ .tabs__line {
        left: 50%
    }
}
.navbar {
    background-color: #000;
    display: flex;
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        flex: 1 1 0%;
        text-align: center;
        color: #fff;
        padding: 15px 0;
        text-decoration: none;
        opacity: 0.5;
        &_active {
            opacity: 1;
        }
        .mdi {
            font-size: 24px;
        }
        span {
            margin-top: 5px;
            font-size: 9px;
            display: block;
        }
        &:active {
            background: #fff;
            color: #000;
        }
    }
    .dot {
        width: 15px;
        height: 15px;
        background: red;
        border-radius: 50%;
        margin: 5px 0;
    }
}
.links-list {
    &__item {
        display: flex;
        align-items: center;
        border-top: 1px $grey-line solid;
        min-height: 55px;
        padding: 0 20px;
        text-decoration: none;
        color: inherit;
        &:last-child {
            border-bottom: 1px $grey-line solid;
        }
        &_wrap {
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 20px;
            .btn {
                margin-top: 20px;
            }
            .c-chekbox {
                margin-top: 20px;
            }
        }
        &_invoice {
            padding-top: 15px;
            padding-bottom: 15px;
            strong {
                line-height: 1.3;
            }
            b {
                margin-left: auto;
            }
        }
    }
    .links-list__icon  {
        text-align: center;
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        background: $grey-light;
        color: #000;
        border-radius: 50%;
    }
    
    strong {
        font-weight: 500;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 20px;
    }
    span {
        font-weight: 400;
        font-size: 14px;
        color: $grey;
        margin-right: auto;
        white-space: nowrap;
    }
    .mdi-chevron-right {
        margin-left: 15px;
        color: $grey;
        width: 15px;
        font-size: 24px;
        &.right {
            margin-left: auto;
        }
    }
}
.btn {
    $root: &;
    font-family: $inter;
    height: 50px;
    min-width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    background: none;
    font-weight: 600;
    text-decoration: none;
    border-radius: 15px;
    padding: 0 20px;
    &_full {
        width: 100%;
    }
    &_medium {
        border-radius: 8px;
        height: 40px;
        font-size: 13px;
    }
    &_white {
        &#{$root}_filled {
            background: #fff;
            color: black;
        }
        &#{$root}_outline {
            color: #000;
            border: 2px $grey-line solid;
        }
    }
    &_milk-white {
        &#{$root}_filled {
            background: $milk-white;
            color: black;
        }
        &#{$root}_outline {
            color: #000;
            border: 2px $grey-line solid;
        }
    }
    &_red {
        background: $red;
        color: #000;
    }
    &_pink {
        &#{$root}_filled {
            color: white;
            background: $pink;
        }
        &#{$root}_outline {
            color: $pink;
            border: 2px $pink solid;
        }
    }
    &_blue {
        &#{$root}_filled {
            color: #fff;
            background: $blue;
        }
        &#{$root}_outline {
            color: $blue;
            border: 2px $blue solid;
        }
    }
    &_green {
        &#{$root}_filled {
            color: #fff;
            background: $green;
        }
        &#{$root}_outline {
            color: $green;
            border: 2px $green solid;
        }
    }
    &_black {
        &#{$root}_filled {
            color: #fff;
            background: black;
        }
        &#{$root}_outline {
            color: black;
            background: none;
            border: 2px black solid;
        }
    }
    &_brown {
        &#{$root}_filled {
            color: #fff;
            background: $brown;
        }
        &#{$root}_outline {
            color: $brown;
            border: 2px $brown solid;
        }
    }
    &_dark-brown {
        &#{$root}_filled {
            color: #fff;
            background: $dark-brown;
        }
        &#{$root}_outline {
            color: $dark-brown;
            border: 2px $dark-brown solid;
        }
    }
    &_dark-grey {
        &#{$root}_filled {
            color: #fff;
            background: $dark-grey;
        }
        &#{$root}_outline {
            color: $dark-grey;
            border: 2px $dark-grey solid;
        }
    }
    &_icon-left {
        .mdi {
            margin-right: 5px;
        }
    }
    &_no-action {
        pointer-events: none;
    }
    &_loading {
        position: relative;
        color: transparent !important;
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            border-width: 2px;
            border-style: solid;
            border-top-color: #fff;
            border-left-color: #fff;
            border-radius: 50%;
            animation: 0.5s Spin infinite linear;
            
        }
    }
    &_disabled,
    &:disabled {
        background: $grey-light !important;
        border-color: $grey-light !important;
        color: $grey !important;
        pointer-events: none;
    }
    &_select {
        position: relative;
        select {
            border: none;
            width: 100%;
            height: 100%;
            appearance: none;
            background: transparent;
            padding: 0 15px;
        }
        .mdi {
            pointer-events: none;
            position: absolute;
            right: 10px;
        }    
    }
    .mdi {
        font-size: 18px;
    }
    .mdi-google {
        color: #4285F4;
        margin-right: 10px;
        font-size: 24px;
    }
}
.c-filed {
    margin-bottom: 20px;
    position: relative;
    &__input {
        color: #000;
        font-weight: 500;
        height: 50px;
        font-size: 16px;
        background: none;
        width: 100%;
        border: none;
        border-bottom: 2px $grey-light solid;
        border-radius: 0px;
        transition: all 0.3s;
        &:focus {
            border-bottom-color: #000;
        }
    }
    &__textarea {
        color: #000;
        font-weight: 500;
        min-height: 65px;
        font-size: 16px;
        background: none;
        width: 100%;
        border: none;
        border-bottom: 2px $grey-light solid;
        border-radius: 0px;
        transition: all 0.3s;
        resize: vertical;
        &:focus {
            border-bottom-color: #000;
        }
    }
    &__select {
        color: #000;
        padding: 0px;
        font-weight: 500;
        height: 50px;
        font-size: 16px;
        background: none;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 2px $grey-light solid;
        appearance: none;
        transition: all 0.3s;
        &:required:invalid {
            color: rgb(117, 117, 117);
        }
        option[value=""][disabled] {
            //display: none;
        }
        &:focus {
            border-bottom-color: #000;
        }
    }
    i.mdi {
        font-size: 24px;
        position: absolute;
        right: 0px;
        line-height: 50px;
        pointer-events: none;
    }
}
.c-toggle {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr;
    align-items: center;
    margin-bottom: 30px;
    gap: 0 10px;
    &_text-top {
        grid-template-columns: 1fr 1fr;
        row-gap: 15px;
        .c-toggle__text {
            grid-column: 2 span;
        }
        label {
            align-self: stretch;
        }
    }
    &__text {
        line-height: 1.3;
        font-size: 14px;
        padding-right: 10px;
    }
    input {
        display: none;
    }
    input:checked + label {
        background: #000;
        color: #fff;
    }
    label {
        border: 1px #000 solid;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        text-align: center;
        padding: 10px 10px;
        transition: all 0.3s;
    }
}
.c-chekbox {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 10px;
    line-height: 20px;
    input[type="checkbox"] {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1px $blue solid;
        text-align: center;
        &:checked:after {
            content: '\2713';
            width: 20px;
            line-height: 20px;
            color: $blue;
            font-size: 18px;
            text-align: center;
            font-weight: 900;
        }
    }
}
.c-radio {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 10px;
    line-height: 20px;
    margin-bottom: 20px;
    input[type="radio"] {
        appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px $blue solid;
        &:checked:after {
            content: '';
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            left: 4px;
            top: 4px;
            border-radius: 50%;
            background-color: $blue;
        }
    }
}
.c-alert {
    margin: 15px 0;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.4;
    &_grey {
        background: $grey-light;
    }
    &_blue {
        background: $blue;
        color: #fff;
    }
    &_pink {
        background: $pink;
        color: #fff;
    }
    &_green {
        background: $green;
        color: #fff;
    }
    &_black {
        background: black;
        color: #fff;
    }
}
.btn-close {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 25px;
    &_black {
        color: #fff;
        background: #000;
    }
    &_gray {
        color: #000;
        background: $grey-light;
    }
    &_sign {
        margin: 25px 0 0 25px;
    }
}
.select {
    position: relative;
    select {
        padding: 0 40px 0 25px;
        font-size: 15px;
        width: 100%;
        appearance: none;
        height: 57px;
        border: 1px $grey-line solid;
        border-radius: 10px;
        outline: none;
        color: black;
        background: transparent;
    }
    .mdi {
        font-size: 24px;
        position: absolute;
        right: 10px;
        line-height: 55px;
        top: 1px;
        pointer-events: none;
    }
}
.toggle {
    width: 48px;
    height: 26px;
    border: 2px $blue solid;
    border-radius: 15px;
    input {
        display: none;
        &:checked {
            & + div {
                transform: translateX(22px);
            }
        }
    }
    div {
        margin: 2px 0 0 2px;
        width: 18px;
        height: 18px;
        background: $blue;
        border-radius: 50%;
        transition: all 0.2s;
    }
}
.blocker {
    padding: 0px;
    backdrop-filter: blur(5px);
    z-index: 101;
}
.modal {
    padding: 0px;
    max-width: 100%;
    width: calc(100% - 30px);
    box-shadow: none;
    border-radius: 20px;
    &_fullscreen {
        height: 100vh;
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
        a.close-modal {
            text-align: center;
            line-height: 36px;
            width: 36px;
            height: 36px;
            border-radius: 5px;
            font-size: 24px;
            margin-bottom: 25px;
            right: 10px;
            top: 10px;
            background: $grey-light;
            text-indent: 0;
            color: #000;
        }
    }
    &_video {
        background: none;
        border: none;
        box-shadow: none;
        border-radius: 0px;
    }
    &__frame-container {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr auto;
    }
    &__frame {
        iframe {
            vertical-align: middle;
        }
    }
    &__header {
        padding: 20px 15px;
        font-size: 17px;
        font-weight: 600;
    }
    &__content {
        padding: 15px;
        p {
            line-height: 1.3;
        }
    }
    &__footer {
        padding: 20px 15px;
        display: grid;
        gap: 10px;
        &_double {
            grid-template-columns: 1fr 1fr;
        }
    }
    &_animate {
        animation: 0.3s SlideInUp both;
    }
}

.preload {
    padding: 30px;
    text-align: center;
    &::before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        margin: 0 15px 0 0;
        border-radius: 50%;
        border-width: 2px;
        border-color: transparent;
        border-style: solid;
        border-top-color: $blue;
        border-left-color: $blue;
        animation: 0.5s Spin infinite linear; 
    }
    span {
        background: $blue;
        color: #fff;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.action-sheet {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    &_ios {
        .action-sheet__content {
            margin-bottom: 25px;
            height: calc(100vh - 105px);
        }
    }
    &__bg {
        width: 100%;
        height: 100%;
        background: rgba(#000,0.6);
        position: absolute;
    }
    &__body {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #fff;
        border-radius: 15px 15px 0 0;
        display: grid;
        grid-template-rows: auto 1fr;
        transform: translateY(100%);
        transition: all 0.2s;
    }
    &__line {
        height: 50px;
        position: relative;
        flex: 0 0 auto;
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 4px;
            background: $grey-light;
            left: 50%;
            top: 15px;
            margin: 0 0 0 -30px;
            border-radius: 5px;
        }
    }
    &__content {
        height: calc(100vh - 80px);
        position: relative;
    }
    &__title {
        margin: 40px 20px 15px;
        font-size: 16px;
        font-weight: 600;
        &:first-child {
            margin-top: 0px;
            margin-bottom: 20px;
        }
    }
    &__open {
        .action-sheet__body {
            transform: translateY(0%);
        }
    }
    .tabs {
        position: sticky;
        top: 0px;
        background: #fff;
    }
    .page-cap {
        position: absolute;
        top: 0px;
    }
}

.drop-zone {
    margin-bottom: 30px;
    &__label {
        border: 2px $grey-line dashed;
        border-radius: 12px;
        display: grid;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-size: 13px;
        padding: 8vh 15px;
        cursor: pointer;
        position: relative;
        transition: all 0.3s;
        &:hover {
            border: 2px $blue solid;
            background: rgba($blue, 0.05);
        }
        &_focus {
            border: 2px $blue solid;
            background: rgba($blue, 0.05);
        }
    }
    input {
        left: 0px;
        top: 0px;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }
    i.mdi {
        color: $blue;
        font-size: 28px;
    }
    
}
.upload-files {
    display: grid;
    grid-row-gap: 20px;
    margin-bottom: 30px;
    &__item {
        display: grid;
        grid-template-columns: 50px 1fr 32px;
        align-items: center;
    }
    &__image {
        width: 50px;
        height: 50px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        padding: 0 50px 0 15px;
        font-size: 13px;
        font-weight: 500;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px 0px;
    }
    &__progress {
        height: 4px;
        background: rgba($grey, 0.1);
        border-radius: 2px;
        grid-column: 1 / span 2;
        div {
            background: $blue;
            height: 100%;
        }
    }
    &__weight {
        font-size: 11px;
        font-weight: 500;
        color: $grey;
    }
    &__remove {
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        text-align: center;
        line-height: 32px;
        font-size: 24px;
        &:hover {
            background: rgba($grey, 0.1);
        }
    }
}

#noty_layout__topCenter {
    top: 15px;
    left: 30px;
    right: 30px;
    width: auto;
    transform: none;
}
.noty_theme__sunset.noty_bar {
    border-radius: 15px;
    margin: 0 0 10px 0;
    .mdi {
        margin-right: 5px;
    }
}

.range-slider {
    font-family: $america;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#range {
    -webkit-appearance: none; width: 100%;
}
#range:focus {
    outline: none;
}

#range::before, #range::after {
    font-family: $america;
    position: absolute;
    bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    opacity: 0.5;
}
#range::before {
    left: 0; content: attr(min);
}
#range::after {
    right: 0; content: attr(max);
}
#range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: $brown;
}
#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background: $brown;
    cursor: pointer;
    height: 25px;
    width: 25px;
    transform: translateY(calc(-50% + 2px));
}
#range-tooltip {
    position: absolute;
    top: 1.7rem;
}
#range-tooltip span {
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    display: block;
    font-size: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}


@keyframes Spin {
    to {
        transform: rotate(360deg);
    }
}
@keyframes SlideInUp {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}