.search-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    &__search {
        position: relative;
        flex: 1 1 auto;
        .mdi {
            position: absolute;
            left: 0px;
            top: 0px;
            line-height: 36px;
            color: $grey;
            font-size: 20px;
            padding: 0 5px;
        }
        input {
            padding-left: 30px;
            width: 100%;
            border-radius: 10px;
            background: $grey-light;
            border: none;
            height: 36px;
            font-weight:400;
        }
    }
    a {
        color: inherit;
        text-decoration: none;
        padding: 0 5px 0 10px;
    }
}
.page-cap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mdi {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $grey-light;
        text-align: center;
        line-height: 75px;
        font-size: 32px;
        margin-bottom: 20px;
    }
    span {
        color: $grey;
        font-size: 13px;
    }

}
.tabs {
    display: flex;
    border-bottom: 1px $grey-line solid;
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 0%;
        height: 42px;
        text-align: center;
        font-weight: 600;
        color: $grey;
        position: relative;
        &_active {
            color: #000;
            &:after {
                content: "";
                display: block;
                position: absolute;
                bottom: -1px;
                width: 100%;
                height: 2px;
                background: #000;
            }
        }
    }
}
.navbar {
    background-color: #000;
    display: flex;
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        flex: 1 1 0%;
        text-align: center;
        color: #fff;
        padding: 10px 0;
        text-decoration: none;
        opacity: 0.5;
        &_active {
            opacity: 1;
        }
        .mdi {
            font-size: 20px;
        }
        span {
            margin-top: 5px;
            font-size: 9px;
            display: block;
        }
        &:active {
            background: #fff;
            color: #000;
        }
    }
    .dot {
        width: 15px;
        height: 15px;
        background: red;
        border-radius: 50%;
        margin-top: 3px;
        margin-bottom: 2px;
    }
}
.links-list {
    &__item {
        display: flex;
        align-items: center;
        border-top: 1px $grey-line solid;
        height: 55px;
        padding: 0 20px;
        text-decoration: none;
        color: inherit;
        &:active {
            background-color: $grey-light;
        }
        &:last-child {
            border-bottom: 1px $grey-line solid;
        }
    }
    .links-list__icon  {
        text-align: center;
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        background: $grey-light;
        color: #000;
        border-radius: 50%;
        margin-right: 15px;
    }
    .mdi-chevron-right {
        color: $grey;
        margin-left: auto;
        font-size: 24px;
    }
}
.btn {
    $root: &;
    height: 50px;
    min-width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    font-weight: 600;
    text-decoration: none;
    border-radius: 15px;
    &_full {
        width: 100%;
    }
    &_white {
        &#{$root}_filled {
            background: #fff;
            color: #000;
        }
        &#{$root}_outline {
            color: #000;
            border: 2px $grey-line solid;
        }
    }
    &_red {
        background: $red;
        color: #000;
    }
    &_blue {
        &#{$root}_filled {
            color: #fff;
            background: $blue;
        }
        &#{$root}_outline {
            color: $blue;
            border: 2px $blue solid;
        }
    }
    &_black {
        &#{$root}_filled {
            color: #fff;
            background: black;
        }
        &#{$root}_outline {
            color: black;
            border: 2px black solid;
        }
    }
    &_icon-left {
        .mdi {
            margin-right: 5px;
        }
    }
    &_disabled,
    &:disabled {
        background: $grey-light !important;
        border-color: $grey-light !important;
        color: $grey !important;
        pointer-events: none;
    }
    .mdi {
        font-size: 18px;
    }
    .mdi-google {
        color: #4285F4;
        margin-right: 10px;
        font-size: 24px;
    }
}
.c-filed {
    margin-bottom: 30px;
    &__input {
        font-weight: 500;
        height: 50px;
        font-size: 16px;
        background: none;
        width: 100%;
        border: none;
        border-bottom: 2px $grey-light solid;
        transition: all 0.3s;
        &:focus {
            border-bottom-color: #000;
        }
    }
}
.btn-close {
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    font-size: 24px;
    margin-bottom: 25px;
    &_black {
        color: #fff;
        background: #000;
    }
    &_gray {
        color: #000;
        background: $grey-light;
    }
    &_sign {
        margin: 25px 0 0 25px;
    }
}
.select {
    position: relative;
    select {
        padding: 0 40px 0 25px;
        font-size: 15px;
        width: 100%;
        appearance: none;
        height: 57px;
        border: 1px $grey-line solid;
        border-radius: 10px;
        outline: none;
    }
    .mdi {
        font-size: 24px;
        position: absolute;
        right: 10px;
        line-height: 55px;
        top: 1px;
        pointer-events: none;
    }
}
.toggle {
    width: 48px;
    height: 26px;
    border: 2px $blue solid;
    border-radius: 15px;
    input {
        display: none;
        &:checked {
            & + div {
                transform: translateX(22px);
            }
        }
    }
    div {
        margin: 2px 0 0 2px;
        width: 18px;
        height: 18px;
        background: $blue;
        border-radius: 50%;
        transition: all 0.2s;
    }
}

.blocker {
    padding: 0px;
}
.modal {
    padding: 0px;
    max-width: 100%;
    width: calc(100% - 30px);
    box-shadow: none;
    border-radius: 20px;
    &__header {
        padding: 20px 15px;
        font-size: 17px;
        font-weight: 600;
    }
    &__content {
        padding: 15px;
    }
    &__footer {
        padding: 20px 15px;
        display: grid;
        gap: 10px;
    }
}

.action-sheet {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    &__bg {
        width: 100%;
        height: 100%;
        background: rgba(#000,0.6);
        position: absolute;
    }
    &__body {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #fff;
        border-radius: 15px 15px 0 0;
        display: grid;
        grid-template-rows: auto 1fr;
        transform: translateY(100%);
        transition: all 0.2s;
    }
    &__line {
        height: 50px;
        position: relative;
        flex: 0 0 auto;
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 4px;
            background: $grey-light;
            left: 50%;
            top: 15px;
            margin: 0 0 0 -30px;
            border-radius: 5px;
        }
    }
    &__content {
        max-height: calc(100vh - 80px);
        overflow: auto;
    }
    &__open {
        .action-sheet__body {
            transform: translateY(0%);
        }
    }
}