@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(../font/font.css);

$america: 'GT America Extended', sans-serif;
$inter: 'Inter', sans-serif;
$grey: #828282;
$grey-light: #E7E7E7;
$grey-line: rgba(#828282,0.2);
$dark-grey: #2F3140;
$milk-white: #F1E8DD;
$red: #FF8A8A;
$pink: #e91e63;
$blue: #1C2473;
$brown: #b6934c;
$dark-brown: #382323;
$green: #579352;
$green-text: #579352;

@import '_ui.scss';



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0px;
}
body {
    font-family: $inter;
    font-size: 15px;
    font-weight: 500;
    height: 100%;
    overflow: hidden;
    line-height: 1;
}

input,select,button, textarea {
    font-size: 15px;
    font-family: $inter;
    font-weight: 500;
    outline: none;
}
a {
    
}

.title {
    font-size: 22px;
    font-family: $america;
    font-weight: 600;
}
.small-title {
    font-size: 15px;
    font-weight: 600;
    margin: 30px 0 15px;
}

.brown-text {
    color: $brown;
}
.green-text {
    color: $green-text;
}
.blue-text {
    color: $blue;
}
.red-text {
    color: $red;
}
.grey-text {
    color: $grey;
}

.article {
    font-size: 15px;
    line-height: 1.5;
    h2 {
        font-size: 18px;
        margin: 20px 0 10px;
    }
    p {
        margin: 10px 0;
        font-weight: 400;
    }
    img {
        width: 100%;
    }
    blockquote {
        border: 2px $grey-light solid;
        border-radius: 15px;
        padding: 10px 20px;
        position: relative;
        &:before {
            content: '“';
            color: $blue;
            font-family: $america;
            position: absolute;
            font-size: 80px;
            line-height: 40px;
            right: -15px;
            top: 0px;
        }
    }
    table {
        width: 100%;
        font-size: 12px;
        td {
            padding: 5px;
        }
    }
}

.app {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 0;
    &_load {
        overflow: hidden;
        .footer {
            position: relative;
            z-index: 101;
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: rgba(black,0.7);
            backdrop-filter: blur(3px);
            z-index: 100;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: -20px 0 0 -20px;
            left: 50%;
            top: 50%;
            z-index: 101;
            border-top: 3px #fff solid;
            border-left: 3px #fff solid;
            border-right: 3px transparent solid;
            border-bottom: 3px transparent solid;
            animation: 0.6s Spin infinite linear;
        }
    }
    &_ios .navbar{
        padding-bottom: 25px;
    }
}
.pages {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    overflow:hidden; 
}
.page {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header {
    flex: 0 0 auto;
}
.footer {
    &_btn {
        padding: 15px;
    }
}

.page.next {
    z-index: 1;
}
.page.prev::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s;
}
.page.prev.Out {
    animation: 0.5s GonePrev both;
    &:after {
        opacity: 1;
    }
}
.page.prev.In {
    animation: 0.5s ComePrev both;
    &:after {
        opacity: 0;
    }
}
.page.next.In {
    animation: 0.5s ComeNext both;
}
.page.next.Out {
    animation: 0.5s GoneNext both;
}

@keyframes ComeNext {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%)
    }
}
@keyframes GoneNext {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(100%)
    }
}
@keyframes ComePrev {
    from {
        transform: translateX(-20%)
    }
    to {
        transform: translateX(0%)
    }
}
@keyframes GonePrev {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(-20%)
    }
}
@keyframes ContentIn {
    from { 
        opacity: 0;
        transform: scale(0.8);
        transform-origin: center bottom;
    }
    to {
        opacity: 1;
        transform: scale(1);
        transform-origin: center bottom;
    }
}

.content {
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
    &_load {
        overflow: hidden;
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: rgba(black,0.7);
            backdrop-filter: blur(3px);
            z-index: 100;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: -20px 0 0 -20px;
            left: 50%;
            top: 50%;
            z-index: 101;
            border-top: 3px #fff solid;
            border-left: 3px #fff solid;
            border-right: 3px transparent solid;
            border-bottom: 3px transparent solid;
            animation: 0.6s Spin infinite linear;
        }
    }
    &.hide {
        display: none;
    }
    &.show {
        animation: 0.3s ContentIn both;
    }
}

.container {
    padding: 0 20px;
}

.btns-group {
    display: grid;
    gap: 20px 0;
    &:last-child {
        margin-bottom: 30px;
    }
}

.splash {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    &__slide {
        padding: 30px;
        position: relative;
        color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(black, 0.4);
            z-index: -1;
        }
        &_1 {
            background-image: url(../img/splash/1.jpg)
        }
        &_2 {
            background-image: url(../img/splash/2.jpg)
        }
        &_3 {
            background-image: url(../img/splash/3.jpg)
        }
    }
    &__title {
        font-family: $america;
        font-size: 38px;
        margin-top: 25vh;
    }
    &__text {
        margin-top: 30px;
        font-weight: 400;
        line-height: 1.5;
    }
    &__nav {
        position: absolute;
        left: 0px;
        width: 100%;
        bottom: 0px;
        padding: 30px;
        display: flex;
        justify-content: flex-end;
    }
}

.header-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: $america;
    font-weight: 600;
    padding: 0 20px;
    height: 60px;
    a {
        color: $grey;
        display: inline-block;
        text-align: center;
        width: 50px;
        line-height: 60px;
        margin-right: 0px;
        margin-left: -20px;
        i.mdi {
            font-size: 25px;
        }
    } 

}



.sign {
    padding: 25px;
    height: 100%;
    display: flex;
    flex-direction: column;
    > .btn + .btn {
        margin-top: 15px;
    }
    &__logo {
        margin: auto 0 0 0;
        text-align: center;
        img {
            width: 90%;
        }
    }
    &__btns {
        margin-top: auto;
        display: grid;
        gap: 15px 0;
        span {
            color: $grey;
            display: block;
            text-align: center;
        }
        &_center {
            margin-top: 50px;
        }
    }
    &__user {
        line-height: 1.5;
        margin-bottom: 30px;
    }
    &__note {
        color: #3E3E3E;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 1.4;
    }
    &__title {
        font-size: 30px;
        font-family: $america;
        margin-bottom: 30px;
    }
}

.auctions-list {
    padding: 20px 10px;
    display: grid;
    gap: 20px 0;
    .auction-item__info {
        border-radius: 20px;
    }
    .auction-item__image {
        border-radius: 20px;
    }
}

.no-permium-banner {
    border: 3px $brown solid;
    border-radius: 18px;
    &__img {
        width: 100%;
    }
    &__info {
        padding: 20px;
    }
    &__title {
        font-weight: 500;
        font-size: 24px;
        color: $blue;
        font-family: $america;
        small {
            display: block;
            margin-bottom: 5px;
        }
    }
    p {
        font-family: $america;
        margin: 20px 0;
        line-height: 1.5;
    }
}

.auction-item {
    display: block;
    position: relative;
    min-height: 300px;
    &__info {
        padding: 20px 15px;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
    }
    &__image {
        width: 100%;
        vertical-align: middle;
        &_inside {
            border-radius: 0px;
        }
    }
    &__name {
        margin-top: auto;
        font-family: $america;
        font-size: 32px;
        font-weight: 600;
    }
    &__date {
        font-weight: 400;
        margin: 15px 0 20px;
        line-height: 1.2;
    }
    &__status {
        align-self: flex-start;
        font-size: 13px;
        background-color: #fff;
        border-radius: 4px;
        padding: 4px 8px;
        &_blue {
            background-color: #BBFFF3;
            color: #000;
        }
        &_grey {
            background-color: #4B4B4B;
            color: #fff;
        }
        &_red {
            background-color: $red;
            color: #000;
        }
    }
    &__btns {
        display: grid;
        gap: 10px 0;
    }

}
.auction-item-descripion {
    padding: 15px;
}
.search-result {
    font-size: 12px;
    margin: 15px 0 5px 15px;
    font-weight: 600;
}

.lots-sort {
    padding: 30px 15px;
    .title {
        margin-bottom: 15px;
    }
}

.lots-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
}
.lot-item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    > a:not(.btn) {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: inherit;
    }
    &__image {
        border-radius: 5px;
        width: 100%;
    }
    &__num {
        position: absolute;
        left: 10px;
        top: 10px;
        color: #fff;
        background-color: #000;
        width: 22px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        font-size: 10px;
        border-radius: 50%;

    }
    &__brand {
        font-size: 11px;
        color: $grey;
        margin-top: 8px;   
    }
    &__name {
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    &__price {
        font-size: 11px;
        margin-top: auto;
    }
    &__hammer-price {
        font-size: 11px;
        margin-top: 8px;
    }
    > .btn {
        margin-top: 10px;
        align-self: end;
    }
}


.live-bar {
    color: #fff;
    background: black;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 0 10px;
    font-size: 13px;
    font-weight: 400;
    &__close {
        color: #fff;
        font-size: 22px;
    }
    &__status {
        margin-right: auto;
        display: flex;
        align-items: center;
        &_going {
            &:before {
                content: "";
                display: inline-block;
                margin-right: 5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: red;
            }
        }
        &_whait {
            &:before {
                content: "";
                display: inline-block;
                margin-right: 5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px #fff solid;
                border-right-color: transparent;
                border-top-color: transparent;
                animation: 0.5s Spin infinite linear;
            }
        }
        &_pause {
            &:before {
                content: "\F03E4";
                font: normal normal normal 24px/1 "Material Design Icons";
                display: inline-block;
                margin-right: 3px;
                font-size: 14px;
            }
        }
    }
    &__users {
        margin-right: 10px;
        display: flex;
        align-items: center;
        i.mdi {
            font-size: 18px;
            margin-right: 3px;

        }
    }
}

.live-lot {
    position: relative;
    &__images {
        margin-bottom: 25px;
        position: relative;
        img {
            height: 70vh;
            width: 100%;
            object-fit: cover;
        }
    }
    &__swipe-note {
        display: flex;
        align-items: center;
        background: #000;
        color: #fff;
        border-radius: 15px;
        position: absolute;
        left: 50%;
        bottom: 30px;
        font-size: 12px;
        padding: 8px 10px;
        transform: translateX(-50%);
        z-index: 2;
        pointer-events: none;
        i {
            margin: 0 5px;
            font-size: 16px;
        }
    }
    &__num {
        position: absolute;
        left: 15px;
        top: 15px;
        background: black;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        z-index: 2;
    }
    &__info {
        padding: 0 15px;
    }
    &__brand {
        color: $grey;
        margin-bottom: 10px;
    }
    &__name {
        font-size: 18px;
        font-family: $america;
        margin-bottom: 25px;
    }
    &__favorite {
        margin-bottom: 25px;
    }
    &__bids {
        margin: 25px 0;
        border: 1px $grey-line solid;
        border-radius: 10px;
    }
    &__bids-item {
        font-size: 13px;
        display: flex;
        align-items: center;
        padding: 20px 15px;
        color: $grey;
        border-bottom: 1px $grey-line solid;
        &:last-child {
            border: none;
        }
        div {
            color: #000;
            margin-left: auto;   
        }
        i {
            font-size: 16px;
            margin-right: 5px;
        }
    }
    &__specifications {
        .title {
            margin: 20px 0;
        }
        padding: 0 20px;
        table {
            width: 100%;
        }
        td {
            vertical-align: top;
            padding: 10px 0;
            line-height: 1.4;
        }
        td:first-child {
            max-width: 50%;
            padding-right: 15px;
            color: $grey;

        }
    }
    &__value {
        padding: 30px 15px;
        border-bottom: 1px $grey-line solid;
        border-top: 1px $grey-line solid;
        display: grid;
        gap: 15px 0;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        span {
            color: $grey;
            font-size: 13px;
        }
        strong {
            color: $blue;
            text-transform: uppercase;
        }
        a {
            color: #fff;
            background: $blue;
            padding: 5px 15px;
            border-radius: 10px;
            font-size: 13px;
            text-decoration: none;
        }
    }
    &__bid-step {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 10px;
        align-items: center;
        span {
            font-size: 13px;
            color: $grey;
        }
    }
    &__bid-btns {
        padding: 20px 15px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px 0;
        border-bottom: 1px $grey-line solid;
        &_guest {
            display: flex;
            align-items: center;
            span {
                margin: 0 10px;
                color: $grey;
            }
        }
    }
}

.bids-history {
    padding: 0 5px;
    &__table {
        width: 100%;
    }
    th {
        padding: 10px 10px 15px;
    }
    td {
        font-size: 14px;
        padding: 10px;
    }
    td:last-child,
    th:last-child {
        text-align: right;
    }
    td:first-child,
    th:first-child {
        text-align: left;
    }
    .flag-icon {
        margin-right: 10px;
    }
}


.live-stream {
    video {
        width: 100%;
    }
    iframe {
        aspect-ratio: 16 / 9;
    }
}

.live-bids {
    &__table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 15px 15px;
    }
    &__note {
        text-align: center;
        display: block;
        border: 1px $grey solid;
        color: $grey;
        border-radius: 8px;
        padding: 8px 0;
    }
    td {
        font-size: 12px;
        &:first-child {
            white-space: nowrap;
        }
    }
}

.live-bid-btns {
    padding: 15px 15px 15px;
    &_guest {
        display: flex;
        gap: 0 10px;
    }
}


.live-lots-item {
    border-bottom: 1px $grey-line solid;
    padding: 30px 15px;
    display: flex;
    text-decoration: none;
    color: inherit;
    &_alone {
        padding: 15px 15px 20px;
    }
    &__image {
        width: 60px;
        margin-right: 15px;
        position: relative;
        align-self: flex-start;
        img {
            vertical-align: middle;
            width: 100%;
            border-radius: 10px;
        }
        span {
            position: absolute;
            background-color: #000;
            color: #fff;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            text-align: center;
            line-height: 22px;
            font-size: 10px;
            bottom: -11px;
            left: 50%;
            margin-left: -11px;
        }
    }
    &__status {
        display: inline-block;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 15px;
        margin-bottom: 15px;
        &.black {
            background-color: #000;
            color: #fff;
        }
        &.red {
            background-color: $red;
            color: #fff;
        }
        &.grey {
            background: $grey;
            color: #fff;
        }
        &.green {
            background: $green;
            color: #fff;
        }
        &.brown {
            background: $brown;
            color: #fff;
        }
    }
    &__name {
        margin-bottom: 15px;
    }
    &__price {
        span {
            font-size: 12px;
            color: $grey;
            display: block;
            margin-bottom: 5px;
        }
        strong {
            font-size: 13px;
        }
    }
    &__bids {
        margin-top: 13px;
        .mdi {
            color: $grey;
            font-size: 16px;
        }
    }
}

.bid-confirm {
    margin-bottom: 20px;
    &__value {
        font-family: $america;
        color: $blue;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    span {
        color: $grey;
        font-size: 12px;
    }
}

.confirm-agree {
    border-top: 1px $grey-line solid;
    border-bottom: 1px $grey-line solid;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.confirm-max-bid {
    padding: 0 15px;
    p {
        margin-bottom: 15px;
        line-height: 1.3;
    }
}

.account {
    padding: 30px 20px 30px;
    &__photo {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background: $grey-light;
        text-align: center;
        line-height: 75px;
        margin: auto;
        font-size: 48px;
        margin-bottom: 25px;
    }
    &__name {
        text-align: center;
        font-size: 17px;
        margin-bottom: 10px;
    }
    &__mail {
        font-size: 13px;
        text-align: center;
        color: $grey;
        margin-bottom: 30px;
    }
    &__verify {
        small {
            background: $grey-light;
            text-align: center;
            border-radius: 10px;
            padding: 10px;
            display: block;
            line-height: 1.3;
            margin-top: 10px;
        }
    }
}

.bids-list {
    &__item {
        padding: 20px;
        border-top: 1px $grey-light solid;
        display: grid;
        grid-template-columns: 40px 1fr;
        gap: 0 20px
    }
    &__image {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
    &__lot-name {
        margin-bottom: 5px;
    }
    &__lot-num {
        font-size: 12px;
        color: $grey;
        margin-bottom: 15px;
    }
    &__auction{
        color: $grey;
        font-size: 13px;
        line-height: 1.3;
        margin-bottom: 10px;
    }
    &__bid-status {
        font-size: 14px;
    }

}

.logout {
    padding: 30px 20px;
}


/* -------------------------------------------------------------------------- */
/*                                   landings                                  */
/* -------------------------------------------------------------------------- */
.land-section {
    font-family: $america;
    padding: 30px 15px;
    text-align: center;
    input, button, select {
        font-family: $america;
    }
    &_dark-grey {
        background-color: $dark-grey;
        color: #fff;
    }
    &_dark-brown {
        background-color: $dark-brown;
        color: #fff;
    }
    &_milk-white {
        background-color: $milk-white;
        color: $dark-brown;
    }
    &__title {
        font-size: 30px;
        margin: 30px 0;
        span {
            display: inline-block;
        }
        &:first-of-type {
            margin-top: 0;
        }
    }
    &__sub-title {
        font-size: 20px;
        margin: 30px 0;
        line-height: 1.4;
        font-weight: 300;
    }
}
.stocks-carusel {
    img {
        max-width: 100%;
    }
}
.landing-btns {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px 0;

    &:last-of-type {
        margin-bottom: 0px;
    }
    &__guest {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 15px;
    }
}
.ineichen-stock-sell {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 0;
    &__live {
        img {
            max-width: 100%;
        }
        i {
            display: block;
            margin-top: 5px;
            font-weight: 100;
            text-align: center;
            font-size: 12px;
            line-height: 1.4;
        }
    }
    &__price {
        font-weight: 300;
        text-align: center;
        font-size: 24px;
        span {
            margin-top: 20px;
            color: $brown;
            font-weight: 100;
            font-size: 40px;
            display: block
        }
    }
}
.ineichen-stock-timer {
    border: 1px $milk-white solid;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    color: rgba(white, 0.4);
    font-weight: 100;
    font-size: 20px;
    span {
        font-size: 30px;
        font-variant-numeric: tabular-nums;
        color: $milk-white;
    }
}
.ineichen-stock-finance {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px 0;
    img {
        max-width: 100%;
        border: 1px $milk-white solid;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
    }
    strong {
        display: block;
        line-height: 1.3;
        margin-bottom: 15px;
    }
}
.ineichen-stock-plan {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 0;
    img {
        margin-bottom: 20px;
    }
    h4 {
        margin-bottom: 15px;
        font-size: 18px;
    }
    p {
        line-height: 1.4;
        font-weight: 300;
    }
}
.ineichen-stock-range {
    margin: 10px 15px 50px;
}
.ineichen-stock-calculate {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 0;
    border: 1px $dark-brown solid;
    padding: 30px 15px;
    border-radius: 10px;
    text-align: center;
    strong {
        font-size: 13px;
        display: block;
        text-transform: uppercase;
    }
    b {
        margin-top: 8px;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 30px;
        font-variant-numeric: tabular-nums;
    }
    &__input {
        flex: 1 1 auto;
        margin-left: 20px;
        input {
            font-weight: bold;
            color: $dark-brown;
            width: 100%;
            background: transparent;
            border: 1px $dark-brown solid;
            font-size: 30px;
            padding: 10px;
            text-align: center;
        }
    }
}
.ineichen-stock-bids {
    &__table {
        width: 100%;
        margin-bottom: 30px;
        td {
            font-size: 12px;
            padding: 10px 0;
        }
        th {
            font-size: 15px;
            font-weight: 500;
            padding-bottom: 10px;
            border-bottom: 1px rgba(white, 0.4) solid;
        }
        tbody {
            tr:first-child {
                td {
                    padding-top: 15px;
                }
            }
        }
        th:last-child,
        td:last-child {
            text-align: right;
        }
        th:first-child,
        td:first-child {
            text-align: left;
        }
    }   
}
.ineichen-stock-how-work {
    display: block;
    tbody {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px 0;
    }
    tr {
        display: block;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5px 0;
    }
    td {
        display: block;
    }
}
.ineichen-footer-logo {
    img {
        max-width: 100%;
        vertical-align: middle;
    }
}