@media (min-width: 768px) {
	.banner-slider .slide {
		background-position: center center ;
	}
}
@media (min-width: 992px) {
	.sub-nav {
		.links {
			position: static;
			top: auto;
			left: auto;
			width: auto;
			float: left;
			li {
				float: left;
				&:last-child {
					a {
						border-right: 1px rgba(#000,0.1) solid;
					}
				}
			}
			a {
				display: block;
				padding: 16px 20px 15px;
				border-left: 1px rgba(#000,0.1) solid;
				border-bottom: none;
				color: $mainColor;
				font-weight: 400;
				&:hover,&.active {
					background: none;
					color: $green;
				}
			}
		}
		.other-link {
			a {
				padding: 15px 20px;
			}
		}
		.search {
			margin-top: 13px;
		}
	}
	.search-layout {
		span {
			font-size: 40px;
			font-weight: 600;
	    }
	    .field {
	    	height: 66px;
	    	margin-top: 40px;
	    	max-width: 400px;
	    	input {
	    		border-width: 2px;
	    		padding: 0 25px;
	    		font-size: 28px;
	    	}
	    }
	    i.fa {
	    	font-size: 50px;
	    }
	}
}
@media (min-width: 1200px) {

}