@media (min-width: 768px) {

}
@media (min-width: 992px) {
	.sub-nav {
		.links {
			position: static;
			top: auto;
			left: auto;
			width: auto;
			float: left;
			li {
				float: left;
				&:last-child {
					a {
						border-right: 1px rgba(#000,0.1) solid;
					}
				}
			}
			a {
				display: block;
				padding: 16px 20px 15px;
				border-left: 1px rgba(#000,0.1) solid;
				border-bottom: none;
				color: $mainColor;
				font-weight: 400;
				&:hover,&.active {
					background: none;
					color: $green;
				}
			}
		}
		.other-link {
			a {
				padding: 15px 20px;
			}
		}
	}
}
@media (min-width: 1200px) {

}