* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
   outline: none;
}

$futura: 'Futura';

img {
   max-width: 100%;
}
.divider {
   border-radius: 3px;
   margin: 70px auto;
   width: 60%;
   height: 3px;
   border: none;
   background: linear-gradient(to bottom, #a0d7ef 0%,  #8dcbe7 100%);
}
body {
   background-color: #f0f1f2;
   //background-image: url(../img/covid-bg.png);
   background-repeat: repeat-y;
   background-size: 100% auto;
   font-family: 'Exo 2', sans-serif;
}

.wrapper {
   margin: 0 auto;
   width: 1336px;
   padding: 0 15px
}

.head-banner {
   margin: 30px 0;
   .bx-wrapper {
      box-shadow: none;
      border: none;
      margin: 0px;
      font-size: 300;
   }
   .item {
      position: relative;
   }
   p {
      max-width: 60%;
      left: 15%;
      bottom: 15px;
      font-weight: 600;
      position: absolute;
      font-size: 40px;
      color: #fff;
      font-family: $futura;
      text-shadow: 2px 3px 3px #00334b;
      z-index: 1;
   }
}
.small-banner {
   background: #79B2CD;
   margin-bottom: 30px;
   padding: 30px;
   text-align: center;
   img {
      max-width: 100%;
      vertical-align: middle;
   }
   .go-quest {
      display: inline-block;
      color: #fff;
      background: #8E1F28;
      text-transform: uppercase;
      padding: 15px 30px;
      font-size: 16px;
      text-shadow: 2px 2px 2px darken(#8E1F28,30);
      letter-spacing: 1px;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      box-shadow: 0 4px 5px 1px rgba(#000,0.1);
      transition: all 0.3s;
      &:hover {
         background: lighten(#8E1F28,10);
      }
   }
}
.questions-modal {
   border-radius: 10px;
   display: none;
   max-width: 600px;
   background: #fff;
   .image {
      margin-bottom: 30px;
      img {
         max-width: 100%;
      }
   }
   .question-text {
      font-size: 24px;
      text-align: center;
   }
   .unswers {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      input {
         display: none;
         &:checked + label {
            background: darken(#79B2CD,20);
         }
      }
      label {
         text-align: center;
         display: flex;
         align-items: center;
         justify-content: center;
         width: calc(50% - 7.5px);
         flex: 0 0 auto;
         outline: none;
         cursor: pointer;
         font-size: 16px;
         border-radius: 10px;
         margin: 15px 0 0 0;
         background: #79B2CD;
         color: #fff;
         border: none;
         padding: 15px;
         transition: all 0.3s;
         &:hover {
            background: darken(#79B2CD,20);
         }
      }
      label.red {
         background: red;
         color: #fff;
      }
      label.green {
         background: green;
         color: #fff;
      }
   }
}
.share-modal {
   strong {
      display: block;
      text-align: center;
      font-size: 24px;
      margin-bottom: 30px;
   }
   b {
      display: block;
      text-align: center;
      font-size: 24px;
      color: #8bc34a;
      span {
         color: #000;
      }
   }
   .share-res {
      margin-top: 30px;
      text-align: center;
      color: #00334b;
      ul {
         margin-top: 10px;
         list-style: none;
         display: flex;
         justify-content: center
      }
      li {
         margin: 0 10px; 
      }
      i {
         width: 40px;
         height: 40px;
         text-align: center;
         line-height: 40px;
         border-radius: 50%;
         color: #fff;
      }
      .fa-vk {
         background: #45668e;
      }
      .fa-facebook-f {
         background: #4267B2;
      }
      .fa-instagram {
         background: #8a3ab9;
      }
   }
}
.look-at-home-navs {
   .cols {
      display: flex;
      justify-content: space-between;
   }
   .nav-col {
      width: calc(60% - 25px);
   }
   .video-col {
      width: calc(40% - 25px);
   }
}

.main-nav {
   padding: 90px;
   background: #d3eeff;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   gap: 70px 70px;
   a:hover {
      img {
         transform: scale(0.95);
      }
   }
   img {
      transition: all 0.3s;
   }
}

.video-nav {
   .icon {
      flex: 0 0 auto;
      margin-right: 33px;
      width: 80px;
      height: 80px;
      border: 3px #fff solid;
      border-radius: 50%;
      img {
         width: 100%;
      }
   }
   .item {
      padding: 29px 30px 29px 30px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      background: #d1beb7;
      &:last-child {
         margin: 0px;
      }
   }
   .video-holder {
      flex: 1 1 auto;
      a {
         position: relative;
         display: block;
         &:hover {
            .fas {
               color: #009bff;
            }
         }
      }
      .fas {
         font-size: 60px;
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         color: #fff;
      }
      img {
         width: 100%;
      }
   }
}

.section-full {
   .section-title {
      margin-bottom: 30px;
      text-align: center;
      padding: 30px;
      background: #d3eeff;
      img {
      }
   }
}

.full-video-info {
   display: flex;
   .video-block {
      flex: 0 0 auto;
      background: #fff;
      padding: 15px;
      width: 40%;
      margin-right: 50px;
   }
   .video {
      position: relative;
      padding-bottom: 56.25%;
      iframe {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }
   .name {
      display: block;
      font-size: 24px;
      margin: 15px 0;
   }
   .conts {
      color: #aaa;
      font-weight: 300;
      span:after {
         content: '';
         display: inline-block;
         font-size: 0px;
         height: 4px;
         width: 4px;
         background: #aaa;
         border-radius: 50%;
         vertical-align: middle;
         margin: 0 5px;
      }
      span:last-child:after {
         display: none;
      }
   }
}
.video-info-text {
   padding-top: 25px;
   color: #1b4354;
   font-size: 28px;
}
.schedule-house {
   margin: 0 auto;
   width: 1000px;
   position: relative;
}
.schedule-table {
   position: absolute;
   bottom: 20px;
   left: 120px;
   width: 775px;
   table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 8px 8px;
   }
   th {
      background: #d8effa;
      padding: 5px 0;
      border: 2px #80c3e2 solid;
   }
   tr td:nth-child(6),
   tr td:nth-child(7) {
      background: #fffbe2;
   }
   td {
      cursor: pointer;
      background: #d8effa;
      border: 2px #80c3e2 solid;
      border-radius: 2px;
      height: 56px;
      color: #173d5e;
      text-align: center;
      vertical-align: middle;
      padding: 0px;
      &:not(.today):hover {
         background: #fff !important;
      }
      b {
         font-size: 30px;
         display: block;
         line-height: 25px;
         font-weight: 600;
      }
      span {
         display: block;
         font-size: 14px;
         font-weight: 400;
      }
   }
   .today {
      background: #6a9eb5 !important;
      color: #fff !important;
   }
   .fas {
      position: absolute;
      font-size: 50px;
      top: 50%;
      margin: -25px 0 0 0;
      color: #6a9eb5;
      &:hover {
         color: #fff;
      }
   }
   .fa-chevron-left {
      left: -60px;
   }
   .fa-chevron-right {
      right: -60px;
   }
}
.today-programm {
   display: none;
   background: #d8effa;
   border: 10px #87c7e5 solid;
   border-radius: 8px;
   box-shadow: 0px 0px 1px 1px #7daabe inset;
   position: absolute;
   width: 740px;
   bottom: -10px;
   left: 50%;
   margin-left: -363px;
   padding: 15px 25px;
   .close {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 40px;
      height: 40px;
      &:after, &:before {
         content: "";
         position: absolute;
         top: 50%;
         display: block;
         margin-top: -1px;
         height: 3px;
         width: 100%;
         background: #6a9eb5;
      }
      &:after {
         transform: rotate(-45deg);
      }
      &:before {
         transform: rotate(45deg);
      }
   }
   .date {
      text-align: center;
      .day {
         font-size: 60px;
         color: #7f98a5;
         display: block;
      }
      .day-name {
         display: block;
         margin-top: -5px;
         font-size: 35px;
         color: #42a3cf;
      }
   }
   .programm-list {
      margin: 30px 0 70px;
      .item {
         margin: 10px 0;
         display: flex;
         align-items: baseline;
      }
      .time {
         color: #173d5e;
         font-size: 48px;
         flex: 0 0 auto;
         margin-right: 15px;
      }
      .name {
         font-size: 35px;
         color: #173d5e;
      }
   }
   .programm-list-empty {
      font-weight: 700;
      text-transform: uppercase;
      padding: 7vw 0;
      text-align: center;
      font-size: 32px;
   }
}

.main-footer {
   min-width: 1366px;
   margin: 90px 0 50px;
   padding: 25px 0;
   background: #fff;
   border-top: 4px #6fbbdd solid;
   border-bottom: 4px #6fbbdd solid;
   .partners {
      margin: 0 auto;
      max-width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   a {
      text-align: center;
      display: block;
      &:hover {
         img {
            opacity: 0.8;
         }
      }
   }
   img {
      transition: all 0.3s;
      vertical-align: middle;
      width: 70%;
   }
}

@media screen and (max-width: 768px) {
   .wrapper {
      width: 100%;
      padding: 15px;
   }
   .main-footer {
      min-width: 0px;
   }
   .schedule-house {
      width: 100%;
   }
   .schedule-table {
      width: auto;
      top: 33%;
      left: 12%;
      bottom: 4%;
      right: 10.7%;
      table {
         border-spacing: 3px 3px;
      }
      th {
         border-width: 1px;
      }
      td {
         height: 5.6vw;
         border-width: 1px;
         b {
            font-size: 3vw;
            line-height: 20px;
         }
         span {
            font-size: 2vw;
         }
      }
   }
   .today-programm {
      width: auto;
      left: 0px;
      top: 33%;
      right: 0px;
      margin: 0px;
      .date {
         .day {
            font-size: 6vw;
         }
         .day-name {
            margin: 0px;
            font-size: 3vw;
         }
      }
      .programm-list {
         margin: 3vw 0 5vw;
         .time {
            font-size: 6vw;
         }
         .name {
            font-size: 3.5vw;
         }
      }
   }


   .head-banner {
      margin: 0 0 15px 0;
      p {
         font-size: 3vw;
      }
   }

   .small-banner {
      margin-bottom: 20px;
   }

   .look-at-home-navs {
      .cols {
         display: block;
      }
      .nav-col {
         width: auto;
         margin: 0 0 15px 0;
      }
      .video-col {
         width: auto;
         margin: 0px;
      }
   }

   .video-nav {
      .video-holder {
         height: auto;
      }
      .item {
         margin-bottom: 15px;
      }
   }

   .divider {
      margin: 30px auto;
   }

   .section-full {
      .section-title {
         margin: 0px;
         img {
            width: 40%;
         }
      }
      .video-info-text {
         padding: 20px 15px;
         background: #fff;
         border-top: 1px #ccc solid;
      }
   }
   .full-video-info {
      display: block;
      .video-block {
         width: auto;
         margin: 0px;
      }
   }
   .video-info-text {
      padding: 15px;
      font-size: 20px;
   }
}
@media screen and (max-width: 420px) {
   .main-nav {
      padding: 40px;
      gap: 40px 40px
   }
   .small-banner {
      padding: 30px 15px;
      img {
         margin-bottom: 30px;
      }
   }
   .questions-modal {
      padding: 30px 15px;
      .image {
         margin-bottom: 15px;
      }
      .question-text {
         font-size: 16px;
      }
      .unswers {
         margin-top: 0px;
         label {
            padding: 10px;
            font-size: 12px;
         }
      }
   }
   .video-nav {
      .item {
         padding: 15px 15px 15px 30px;
      }
      .icon {
         width: 70px;
         height: 70px;
         margin-right: 30px;
      }
      .video-holder {
         .fas {
            font-size: 32px;
         }
      }
   }
   .section-full {
      .video-info-text {
         font-size: 16px;
      }
   }
   .full-video-info {
      .video {
         height: auto;
      }
      .name {
         font-size: 17px;
      }
      .conts {
         font-size: 12px;
      }
   }
   .schedule-house {
      .bg {
         display: none;
      }
   }
   .today-programm {
      top: 0;
      .programm-list-empty {
         padding: 20vw 0;
         font-size: 18px;
      }
      .close {
         transform: scale(0.7);
      }
   }
   .schedule-table {
      position: static;
      padding: 0 20px;
      .fas {
         font-size: 24px;
         margin-top: -12px;
      }
      .fa-chevron-left {
         left: -5px;
      }
      .fa-chevron-right {
         right: -5px;
      }
      th {
         font-size: 3vw;
      }
      td {
         height: 11vw;
         b {
            margin-top: 0px;
         }
         span {
            margin-top: -5px;
         }
      }
   }
   .main-footer {
      margin: 30px 0 0 0;
      .partners {
         max-width: 100%;
      }
      img {
         width: 70%;
      }
   }
}
