@media screen and (min-width: 769px) {
   .main-header {
      transition: padding 0.3s;

      .logo {
         img {
            transition: width 0.3s;
         }
      }

      .ineichen-info {
         transition: font-size 0.3s;
      }

      .head-btn {
         .mdi {
            transition: margin 0.3s;
         }
      }

      &.mini {
         padding: 20px 0;

         .logo {
            img {
               width: 200px;
            }
         }

         .ineichen-info {
            font-size: 14px;
         }

         .head-btn {
            .mdi {
               margin: 0px;
            }

            .currency-name {
               margin: 0px;
            }

            span {
               display: none;
            }
         }
      }
   }
}

@media screen and (max-width: 1280px) {

   /******************chat btn space*************/
   .main-footer-inner {
      padding-right: 70px;
   }

   .cookie-note {
      a.small-btn {
         margin-right: 70px;
      }
   }
}

@media screen and (max-width: 1024px) {

   /*******************container**************/
   .container {
      width: 100%;
      min-width: 0px;
      padding: 0 30px;
   }

   /******************sign pages*************/

   .sign-present-column {
      padding: 30px;
      .chorono-info {
         p {
            font-size: 18px;
            strong {
               font-size: 32px;
            }
         }
         .btns {
            display: block;

            .c-btn {
               width: 100%;
               margin: 15px 0 0 0;
            }
         }
      }

      .chrono-footer {
         line-height: 1.8;
      }
   }

   /****************main-header************/
   .main-header {
      top: 0px;
      min-width: 0px;
      width: 100%;
      z-index: 10;

      .btn-compare,
      .btn-profile,
      .btn-search,
      .ineichen-info,
      .btn-currency {
         display: none;
      }

      #mobileMenueOpen {
         display: inline-block;
      }

      .head-btn+.head-btn {
         margin: 0px;
      }
   }

   /**********************account-actiovation-note**********/
   .account-actiovation-note {
      .btns {
         white-space: nowrap;
      }
   }

   /********************left-side-navigation*********/
   .left-side-navigation {
      transform: translateX(-100%);
      border: none;
      width: 340px;
      padding: 30px;
      position: fixed;
      left: 0px;
      top: 120px;
      bottom: 0px;
      background: $blue-bg;
      z-index: 10;
      overflow: auto;
      margin: 0px;
      transition: 0.5s all;

      &.open {
         transform: translateX(0);
      }

      .side-search {
         display: flex;
      }

      strong {
         color: #8b8bf3;
      }

      ul {
         li {
            color: #fff;
         }
      }

      .powered-by {
         border-top: 1px rgba(#fff,0.5) solid;
         border-bottom: 1px rgba(#fff,0.5) solid;
         margin: 30px -30px;
         padding: 30px 30px;
         text-align: center;
         strong {
            color: #fff;
         }
         .desctop {
            display: none;
         }
         .mobile {
            display: inline-block;
         }
      }
      .soc-and-apps {
         display: flex;
      }

      .to-down {
         position: sticky;
         display: none;
         bottom: 0px;
         color: #fff;
         font-size: 24px;
         left: 100%;
         animation: 2s ScrollArr infinite;
      }
   }

   @keyframes ScrollArr {
      0% {
         transform: translateY(0px);
         opacity: 0;
      }

      50% {
         transform: translateY(20px);
         opacity: 1;
      }

      100% {
         transform: translateY(0px);
         opacity: 0;
      }
   }

   /********************main-content*********/
   .main-content {
      padding: 0px;
      margin: 30px 0;
   }

   /**********************work-steps************************/
   .work-steps {
      div {
         padding-right: 15px;
      }

      p {
         font-size: 14px;

         br {
            display: none;
         }
      }
   }

   /********************products-compare********************/
   .products-compare {
      margin-right: -30px;
   }

   .products-compare-list {
      padding-right: 0px;
      width: 100%;

      .owl-carousel {
         .owl-nav {
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: 35px;
            left: -155px;
            width: 145px;

            button {
               top: auto;
               position: static;
            }

            .owl-prev {
               left: auto;
            }

            .owl-next {
               right: auto;
            }
         }
      }
   }

   .products-compare-list-item {
      width: auto;
   }

   /**********************faq********************/
   .faq-accordion-body {
      max-width: 100%;
      line-height: 1.5;
      font-size: 14px;
   }

   /***************profile******************/
   .profile {
      .profile-col {
         width: calc(50% - 30px);
      }
   }

   /*********************balance**************************/
   /********************mobile-navigation-bar*****************/
   .mobile-navigation-bar {
      display: none;
   }

   /********************cookie-note*****************/
   .cookie-note {
      min-width: 0px;

      a.small-btn {
         margin-right: 0px;
      }
   }

   /********************main-footer*********/
   .main-footer {
      display: none;
   }

   /****************ui****************/
   #noty_layout__bottomLeft {
      left: 15px;
      bottom: 115px;
   }

   .lb-nav a.lb-prev,
   .lb-nav a.lb-next {
      opacity: 1;
   }
}

@media screen and (max-width: 768px) {

   /*******************catalog-grid**************/

   .catalog-grid {
      grid-gap: 30px;
   }
   .catalog-grid-item {
      .item-image {
         width: 120px;
         height: 200px;
      }
      .item-info {
         .brand {
            font-size: 14px;
         }
      }
      .final-profit {
         strong {
            font-size: 12px;
         }
         b {
            font-size: 16px;
         }
      }
   }
   .faq-slider {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      .item {
         h2 {
            font-size: 14px;
         }
         p {
            font-size: 12px;
         }
      }
      .owl-nav {
         .owl-prev {
            left: 0px;
         }
         .owl-next {
            right: 0px;
         }
      }
   }
   
   /*******************catalog-item-card**************/

   .catalog-item-card {
      display: block;
      > div {
         margin-bottom: 30px;
      }
      .product-card-img {
         margin-bottom: 30px;
      }
   }
   .product-card-info {
      .table-condition {
         table {
            td {
               padding: 5px 0;
            }
         }
      }
   }

   /*******************investments**************/

   .investments-list-item {
      flex-wrap: wrap;
      .description {
         width: calc(100% - 190px);
      }

   }
   .investments-info {
      margin: 15px 0 0 0;
      width: auto;
      flex: 1 1 auto;
      text-align: center;
      .btns {
         .small-btn {
            margin-left: auto;
            margin-right: auto;
         }
      }
      .countdown-digits {
         justify-content: center;
      }
   }
   .investments-header {
      display: block;
      margin-bottom: 30px;
   }
   .links-in-head {
      margin-top: 15px;
      a:first-child {
         margin-left: 0px;
      }
   }
   .my-investments-statistic {
      display: block;
      border: none;
      padding: 0px;
      margin-bottom: 15px;
      .box {
         width: 100%;
         position: relative;
         padding: 25px 20px;
         border: 3px $brown solid;
         margin-bottom: 30px;
      }
      strong {
         font-size: 12px;
         line-height: 30px;
         color: #C6A55B;
         position: absolute;
         top: -16px;
         left: 50%;
         transform: translateX(-50%);
         white-space: nowrap;
         background: #fff;
         padding: 0 10px;
      }
      b {
         display: block;
         text-align: center;
         font-size: 22px;
      }
      .withdraw {
         font-size: 10px;
         line-height: 20px;
         bottom: -12px;
      }
   }

   /*******************sell-watch*************/
   .request-to-sell {
      display: block;
      .text-info {
         width: 100%;
         .pad {
            padding-left: 0px;
            padding-right: 0px;
         }
      }
      .request-to-sell-form {
         width: auto;
         padding: 0px;
      }
   }

   /*******************basket**************/

   .basket-section {
      display: block;
      .investments-list {
         padding: 0px;
         margin-bottom: 30px;
      }
   }
   .basket-total {
      width: 100%;
   }

   /********************chronofund-team************/
   .chronofund-team {
      .bordered-note {
         float: none;
         width: 100%;
      }
      + h1 {
         margin-top: 30px;
      }
      .ceo-spech {
         margin-top: 30px;
         flex-direction: column-reverse;
         blockquote {
            font-size: 20px;
            text-align: center;
         }
         .user {
            margin-bottom: 30px;
            width: 100%;
         }
      }
   }
   .video-grid {
      grid-template-columns: 1fr;
   }

   /******************profile***************/

   .profile {
      h2 {
         font-size: 22px;

      }
      .profile-cols {
         display: block;
      }
      .profile-col {
         width: auto;
         margin-bottom: 30px;
      }

   }

   /******************modal****************/
   .code-confirm-modal {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      b {
         font-size: 24px;
      }
      p {
         font-size: 10px;
      }
      .btns + .text-center {
         margin-top: 20px;
      }
   }

}

@media screen and (max-width: 700px) {
   .catalog-grid {
      grid-template-columns: 1fr;
      grid-gap: 30px;
   }
}

@media screen and (max-width: 420px) {
   body {
      overflow-x: hidden;
   }

   /*******************container**************/
   .container {
      padding: 0 15px;
   }

   /******************sign pages*************/
   .sign-wrapper {
      display: block;

      .sign-present-column {
         width: 100%;
         height: 100%;
      }

      .sign-form-column {
         width: 100%;
         height: 100%;
      }
   }

   .sign-present-column {
      position: fixed;
      background: #fff;
      height: 100%;
      left: 0px;
      top: 0px;
      padding: 30px;
      z-index: 5;

      &.hidden-in-mobile {
         display: none;
      }

      .logo {
         display: none;

         img {
            max-width: 80px;
         }
      }

      .chorono-info {
         img {
            max-width: 200px;
         }

         p {
            margin: 60px 0 0;
            font-size: 14px;

            br {
               display: none;
            }
         }

         .btns {
            margin-top: 50px;

            .c-btn {
               display: block;
               width: auto;
               margin-top: 15px;
            }
         }
      }

      .chrono-account {
         margin-bottom: 30px;
         width: 100%;
         display: block;

         .c-btn {
            margin-top: 15px;
            width: 100%;
         }
      }
   }

   .sign-form-column {
      padding: 30px;
      padding-bottom: 0px;

      .form-wrapper {
         h2 {
            font-size: 20px;
            margin-bottom: 30px;
         }

         h2~span {
            margin: -20px 0 15px;
         }

         .errors {
            margin: -15px 0 20px;

            &+span {
               margin-top: -5px;
            }
         }
      }

      .bottom-btn {
         margin-top: 30px;
         padding: 15px 30px;
      }
   }

   /*****************main-header*************/
   .main-header {
      padding: 15px 0;

      .logo {
         .desctop {
            display: none;
         }
         .mobile {
            display: block;
         }
         img {
            width: 200px;
         }
      }

      .head-btn {
         i.mdi {
            margin-bottom: 0px;
         }

         span {
            display: none;
         }
      }
   }

   /********************back-link*************/
   .back-link {
      margin-bottom: 15px;
   }

   /**********************account-actiovation-note**********/
   .account-actiovation-note {
      .container {
         flex-wrap: wrap;
      }

      .btns {
         width: 100%;
         margin-top: 10px;
         display: flex;
         flex: 1 1 auto;

         .small-btn {
            flex: 1 1 auto;
         }
      }
   }

   /********************left-side-navigation*********/
   .left-side-navigation {
      top: 70px;
      height: calc(100vh - 70px);
   }

   /********************main-content*********/
   .main-content {
      margin: 15px 0;
      h1 {
         margin: 10px 0 25px;
         font-size: 30px;

         br {
            display: none;
         }
      }
   }

   /**********************catalog-tools*****************/
   .catalog-tools {
      display: none;
   }

   .mobile-catalog-tools {
      display: flex;
      margin-bottom: 30px;
   }

   /***********************catalog-grid*****************/
   .catalog-grid {
      display: grid;
      grid-gap: 30px 0px;
   }

   .catalog-grid-item {
      max-width: 100%;
      &.disabled {
         pointer-events: none;
         opacity: 0.5;
      }
      .params-price {
         td {
            font-size: 10px;
         }
         td:first-child {
            font-size: 10px;
         }
      }

      .item-image {
         height: 200px;
         margin-right: 15px;
         img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            vertical-align: middle;
            max-width: 100%;
         }
      }

      .item-info {
         .brand {
            font-size: 14px;
            font-weight: 600;
            align-items: center;
         }
         .name {
            line-height: 14px;
            max-height: 28px;
            font-size: 12px;
         }
      }
      .params-price {
         margin: 7px 0;
      }

      .final-profit {
         margin: 10px 0;
         strong {
            font-size: 10px;
         }
         b {
            font-size: 12px;
         }
      }

      i.tooltip {
         margin-left: 5px;
         font-size: 14px;
      }
   }

   /*****************catalog-item-card**************/
   .product-card-img {
      .image {
         a {
            img {
               max-width: 200px;
            }
         }
      }
   }

   .product-card-info {
      display: block;
      .brand {
         font-size: 20px;
         margin-bottom: 10px;
      }
      .name {
         font-size: 16px;
      }


      .table-params {
         margin: 15px 0;

         td:last-child {
            text-align: right;
         }
      }

      .add-to-compare {
         top: 0px;
      }

      .table-condition {
         table {
            td {
               padding: 2px 0;
               font-size: 12px;
            }
         }
      }
      .table-params {
         td {
            font-size: 12px;
            padding: 5px 0;
         }
      }


      .c-btn {
         font-size: 14px;
         width: 100%;
      }
   }

   
   .product-card-additional-photo {
      margin-bottom: 30px;
   }
   .product-card-brand-story {
      margin-bottom: 30px;
      .text {
         margin: 15px 0;
         font-size: 12px;
      }
   }

   /**********************work-steps************************/
   .work-steps {
      display: block;
      margin-bottom: 30px;
      div {
         width: auto;
         padding-right: 0px;
         margin-bottom: 5px;
      }

      .num {
         width: 30px;
         height: 30px;
         line-height: 28px;
         border-width: 1px;
         line-height: 28px;
         font-size: 12px;
      }

      p {
         font-size: 12px;
         br {
            display: none;
         }
      }
   }

   /*********************products-compare*************/
   .products-compare {
      margin-right: -15px;

      .products-compare-params {
         width: 120px;

         span {
            font-size: 10px;
         }

         span:first-child {
            height: 180px;
         }
      }
   }

   .products-compare-list {
      .owl-carousel {
         .owl-nav {
            top: 30px;
            left: -120px;
            width: 110px;

            button {
               width: 40px;
               height: 40px;
               font-size: 24px;
               line-height: 36px;
            }
         }
      }
   }

   .products-compare-list-item {
      .head {
         height: 180px;
      }

      .image {
         width: 90px;
         height: 90px;

         &.add-img {
            a {
               line-height: 90px;
            }
         }
      }

      .lot-num {
         font-size: 10px;
      }

      .params-list {
         b {
            font-size: 13px;
         }
      }
   }

   /*******************investments********************/
   .links-in-head {
      justify-content: space-between;
      a {
         font-size: 10px;
         margin: 0px;
      }
   }
   .investments-list-item {
      .image {
         width: 120px;
      }
      .description {
         width: calc(100% - 150px);
      }
      .brand {
         font-size: 20px;
      }
      .name {
         font-size: 14px;
      }
   }

   /*************************basket********************/
   .page-cap {
      p {
         padding: 15px 20%;
         line-height: 1.3;
      }
   }

   /**********************faq********************/
   .faq-accordion-head {
      font-size: 15px;
      padding: 15px 0;

      i.mdi {
         font-size: 24px;
      }
   }

   .faq-accordion-body {
      padding-left: 0px;
      padding-right: 0px;
   }

   /**********************profile********************/
   .profile {
      h2 {
         font-size: 24px;
         margin-bottom: 10px;
      }

      select {
         margin-top: 0px;
      }

      .send-code {
         .link {
            font-size: 10px;
         }

         span {
            line-height: 1;
            font-size: 10px;
         }
      }

      .profile-cols {
         display: block;

         .profile-col {
            margin-bottom: 30px;
            width: auto;
         }
      }

      .article-text {
         margin-bottom: 15px;

         p {
            font-size: 14px;
         }
      }
      .basket-total {
         padding-top: 15px;
      }
   }
   .billing-list-item {
      padding: 15px 0;
      display: block;
      position: relative;
      .number {
         width: auto;
         display: flex;
         justify-content: space-between;
      }
      .name {
         font-size: 16px;
         margin: 5px 0;
         padding-right: 85px;
      }
      .summ {
         right: 0px;
         bottom: 22px;
         position: absolute;
         font-size: 12px;
         width: auto;
      }
   }

   /*******************checkout***************/
   .invoce-whaiting {
      p {
         margin-bottom: 15px;
         br {
            display: none;
         }
      }
      .actions {
         > div {
            display: block;
            margin-top: 15px;
         }
         .small-btn {
            max-width: 100%;
         }
         .countdown {
            margin: 15px 0 0 0;
         }
      }
      .cancle {
         margin-bottom: 30px;
         display: block;
         .small-btn {
            width: 100%;
         }
         .link {
            margin: 15px 0 0 0;
            display: block;
            width: 100%;
            text-align: center;
         } 
      }
   }
   /*******************sell-watch*************/
   .clip-photos {
      flex-wrap: wrap;
      .item {
         width: calc(50% - 7.5px);
         padding-top: 50%;
         &:last-child {
            width: 100%;
            margin-top: 15px;
         }
      }
   }
   /********************mobile-navigation-bar*****************/
   .mobile-navigation-bar {
      padding: 15px 0;

      ul {
         i.mdi {
            font-size: 30px;
            line-height: 30px;
         }

         a {
            display: block;
         }

         a.active {
            color: $orange;
            position: relative;

            &:after {
               content: "";
               width: 5px;
               height: 5px;
               bottom: -3px;
            }
         }

         span {
            line-height: 30px;
            font-size: 14px;
         }
      }
   }

   /********************cookie-note*****************/
   .cookie-note {

      .container {
         flex-wrap: wrap;
      }

      a.small-btn {
         margin-top: 10px;
         max-width: 100%;
         width: 100%;
      }
   }

   /*************************ui*************************/
   .small-btn {
      font-size: 12px;
      padding: 9px 15px;
      i.mdi {
         font-size: 16px;
      }
   }

   .c-b-input {
      margin-bottom: 15px;
      input {
         height: 35px;
      }
      select {
         font-size: 14px;
      }

      label {
         font-size: 14px;
      }
      .dk-select {
         height: 35px;
         line-height: 32px;
      }
      .mdi-chevron-down {
         line-height: 32px;
      }
   }

   #noty_layout__bottomLeft {
      left: 15px;
      bottom: 65px;
   }
}