@import "../font/sf.css";

$blue-bg: #191933;

$brown:#c6a55b;
$blue:#23236a;
$orange:#f76844;
$green:#0dad11;
$grey: #818181;

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
html {
}
body {
   font-family: 'SF UI Display';
   font-size: 14px;
   color: #2d2d2d;
}
html.menu-open {
   body {
      overflow: hidden;
   }
}
input,select,textarea,select {
   font-family: 'SF UI Display';
}
a {
   text-decoration: none;
   color: inherit;
}
.app {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   .main-header {
      flex: 0 0 auto;
   }
   .main-section {
      flex: 1 1 auto;
   }
   .main-footer {
      flex: 0 0 auto;
   }
}
/******************container**************/
.container {
   margin: auto;
   min-width: 1024px;
   max-width: 1440px;
   padding: 0 30px;
}
/******************sign pages*************/
.sign-wrapper {
   display: flex;
   height: 100vh;
   .sign-present-column {
      width: 50%;
      flex: 0 0 auto;
   }
   .sign-form-column {
      width: 50%;
      flex: 0 0 auto;
      background: $blue-bg;
   }
}
.sign-present-column {
   padding: 60px 45px 35px 45px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   .chorono-info {
      margin-top: auto;
      margin-bottom: auto;
      > img {
         max-width: 270px;
      }
      p {
         font-weight: 300;
         color: #2d2d2d;
         font-size: 18px;
         margin: 50px 0 70px;
         line-height: 1.5;
      }
      strong {
         font-weight: 600;
      }
      .btns {
         .c-btn {
            width: 270px;
         }
         .blue {
            display: none;
         }
      }
   }
   .logo {
      width: 100%;
      img {
         width: 100%;
         max-width: 190px;
      }
   }
   .chrono-account {
      display: none;
      text-align: center;
      a {
         display: block;
      }
   }
   .chrono-footer {
      letter-spacing: 1px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      color: #8f92a1;
      text-transform:uppercase;
      font-weight: 600;
      a {
         font-size: 10px;
      }
   }
}
.sign-form-column {
   padding: 35px 35px 0 35px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .form-wrapper {
      width: 100%;
      max-width: 375px;
      color: #fff;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      h2 {
         font-weight: 600;
         font-size: 30px;
         margin-bottom: 50px;
      }
      .c-checkbox {
         margin-left: 60px;
      }
      .btns {
         display: flex;
         align-items: center;
      }
      .link {
         margin-left: 20px;
      }
   }
   .bottom-btn {
      text-align: center;
      background: #fff;
      width: 100%;
      max-width: 375px;
      margin: auto;
      border-radius: 32px 32px 0 0;
      padding: 50px 30px;
      transform-origin: center bottom;
      span {
         font-size: 14px;
         display: block;
         margin-bottom: 20px;
      }
      .c-btn {
         width: 100%;
      }
   }
}

/********************main-header************/
.main-header {
   padding: 25px 0;
   min-width: 1024px;
   background-color: $blue-bg;
   color: #fff;
   .logo {
      img {
         width: 192px;
      }
   }
   .main-header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .ineichen-info {
      margin-left: 10%;
      margin-right: auto;
      display: flex;
      align-items: center;
      img {
         height: 34px;
      }
      span {
         line-height: 18px;
         font-size: 12px;
         margin-left: 20px;
         letter-spacing: 1px;
         font-weight: 600;
         white-space: nowrap;
      }
   }
   .head-btn {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-decoration: none;
      border: none;
      color: #fff;
      i.mdi {
         margin-bottom: 10px;
         width: 40px;
         height: 40px;
         display: block;
         color: #fff;
         border-radius: 12px;
         background: $blue;
         font-size: 20px;
         text-align: center;
         line-height: 40px;
         transition: all 0.5s;
      }
      span {
         font-size: 12px;
         font-weight: 600;
         text-transform: uppercase;
         letter-spacing: 1px;
      }
      & + .head-btn {
         margin-left: 40px;
      }
      &:hover {
         i.mdi {
            background: $brown;
         }
      }
   }

   #mobileMenueOpen {
      display: none;
      &.active {
         i.mdi {
            background-color: $orange;
         }
      }
   }
}
/********************main-section*************/
.main-section {
   .container {
      display: flex;
   }
}
/********************back-link*************/
.back-link {
   display: inline-flex;
   align-items: center;
   margin-bottom: 30px;
   color: $grey;
   text-transform: uppercase;
   font-weight: 600;
   line-height: 30px;
   transition: all 0.3s;
   &:hover {
      color: $orange;
   }
   i.mdi {
      font-size: 24px;
      line-height: 1;
   }
}
/********************left-side-navigation*********/
.left-side-navigation {
   width: 280px;
   flex: 0 0 auto;
   border-right: 1px #efefef solid;
   padding: 30px 30px 30px 0;
   strong {
      margin-bottom: 10px;
      display: block;
      color: $grey;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
   }
   ul {
      list-style: none;
      & + strong {
         margin-top: 40px;
      }
      li {
         font-size: 25px;
         color: #2d2d2d;
         font-weight: 600;
         transition: all 0.5s;
         & + li {
            margin-top: 15px;
         }
         &:hover {
            color: $orange;
         }
      }
      a {
         display: flex;
         align-items: center;
      }
      i.mdi {
         font-size: 22px;
         margin-right: 8px;
      }
      &.small {
         margin-top: 15px;
         li {
            font-size: 18px;
            padding-left: 30px;
            & + li {
               margin-top: 10px;
            }
         }
      }
   }
}
.need-help-chat {
   position: sticky;
   display: inline-flex;
   align-items: center;
   margin-top: 50px;
   top: 30px;
   span {
      color: $grey;
      font-size: 18px;
      font-weight: 600;
   }
   .mdi {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      color: #fff;
      font-size: 60px;
      line-height: 100px;
      margin-right: 20px;
      background: $orange;
      text-align: center;
      transition: all 1s;
      position: relative;
      &:after {
         content: "";
         display: block;
         position: absolute;
         width: 100px;
         height: 100px;
         left: 50%;
         top: 50%;
         margin: -50px 0 0 -50px;
         background: $orange;
         overflow: hidden;
         border-radius: 50%;
         transform: scale(0.5);
         opacity: 1;
         z-index: -1;
         transition: all 0.3s;
      }
   }
   &:hover {
      .mdi {
         transform: rotate(720deg);
      }
      span {
         color: $orange;
      }
      .mdi:after {
         transform: scale(2);
         opacity: 0;
      }
   }
}
/********************main-content***************/
.main-content {
   flex: 1 1 auto;
   padding: 30px 0 30px 30px;
}

/************************digest-realease************/
.digest-realease {
   margin-bottom: 30px;
   display: flex;
   align-items: flex-start;
   .data {
      display: flex;
   }
   .name {
      display: block;
      font-size: 36px;
      font-weight: 600;
   }
   .date {
      margin-left: 10px;
      font-size: 13px;
      color: $grey;
      font-weight: 500;
      letter-spacing: 1px;
   }
   .search {
      max-width: 300px;
      width: 100%;
      margin-left: auto;
      display: flex;
      align-items: center;
      input {
         font-size: 16px;
         flex: 1 1 auto;
         outline: none;
         height: 35px;
         border: 1px solid $grey;
         padding: 0 10px;
      }
      .small-btn {
         margin-left: 10px;
      }
   }
}

/**********************catalog-tools*****************/
.catalog-tools {
   margin-bottom: 40px;
   .to-compare {
      text-align: center;
      .link {
         display: inline-block;
         i.mdi {
            vertical-align: middle;
            color: #000;
            font-size: 24px;
         }
      }
   }
}
.filtering {
   display: flex;
   align-items: center;
   border-bottom: 1px #cbcbcb solid;
   padding-bottom: 15px;
   margin-bottom: 15px;
}
.catalog-filters {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   .item {
      padding-right: 10px;
   }
   strong {
      display: block;
      font-size: 14px;
      font-weight: 600;
   }
   .filter-drop {
      display: inline-block;
      position: relative;
      &.dk-select-open-down {
         .dk-select-options {
            display: block;
         }
      }
      .dk-selected {
         cursor: pointer;
         padding: 5px 20px 5px 0;
         text-transform: uppercase;
         font-weight: 600;
         display: block;
         font-size: 14px;
         color: $grey;
         outline: none;
         position: relative;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         &:hover {
            color: $orange;
         }
         &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0px;
            bottom: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #000 transparent transparent transparent;

         }
      }

      .dk-select-options {
         display: none;
         position: absolute;
         top: 130%;
         background: $blue-bg;
         z-index: 2;
         white-space: nowrap;
         list-style: none;
         text-transform: uppercase;
         padding: 10px;
         border-radius: 12px;
         li {
            cursor: pointer;
            padding: 5px 10px;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            &:hover {
               color: $orange;
            }
         }
      }
   }
   select.filter-drop {
      display: none;
   }
}

.mobile-catalog-tools {
   display: flex;
   display: none;
   align-items: center;
   justify-content: space-between;
   i.mdi {
      vertical-align: middle;
      color: #000;
      font-size: 24px;
   }
}
/***********************catalog-grid*****************/
.catalog-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
   grid-gap: 30px 50px;
   grid-auto-rows: minmax(180px, auto);
   grid-auto-flow: dense;
   align-items: center;
   .d-height {
      grid-row-end: span 2;
   }
}
.catalog-grid-item {
   display: flex;
   width: 100%;
   max-width: 500px;
   margin: auto;
   align-items: stretch;
   &.disabled {
      pointer-events: none;
      opacity: 0.5;
   }
   .item-image {
      flex: 0 0 auto;
      width: 210px;
      margin-right: 15px;
      border: 1px solid #dcdcdc;
      border-radius: 12px;
      overflow: hidden;
      position: relative;
      .badge {
         display: none;
         background: #fff;
         position: absolute;
         left: 10px;
         top: 10px;
         border: 1px solid #c3c3c3;
         width: 24px;
         height: 24px;
         border-radius: 50%;
         line-height: 22px;
         font-size: 7px;
         text-align: center;
         font-weight: 700;
      }
      img {
         height: 100%;
         object-fit: cover;
         width: 100%;
         vertical-align: middle;
         max-width: 100%;
         transition: all 0.5s;
      }
      a:hover {
         img {
            transform: scale(1.05);
         }
      }
   }
   .item-info {
      flex: 1 1 auto;
      .brand {
         display: flex;
         justify-content: space-between;
         font-size: 20px;
         font-weight: 600;
         align-items: center;
      }
      .lot-num {
         text-transform: uppercase;
         font-size: 14px;
         font-weight: 700;
      }
      .reference {
         font-size: 12px;
         font-weight: 600;
         display: block;
         margin: 5px 0;
         text-transform: uppercase;
         color: $grey;
      }
      .name {
         min-height: 40px;
         line-height: 20px;
         font-weight: 500;
         display: block;
         font-size: 18px;
      }
      a:not(.small-btn) {
         transition: all 0.2s;
         &:hover {
            color: $orange;
         }
      }
   }
   .table-params {
      margin: 8px 0 13px;
      table {
         width: 100%;
         border-spacing: 0px;
         border-collapse: collapse;
      }
      td {
         padding: 4px 0;
         border-bottom: 1px #f5f5f5 solid;
      }
      td:first-child {
         text-align: left;
         color: $grey;
         font-size: 12px;
         font-weight: 600;
         letter-spacing: 1px;
      }
      td:last-child {
         vertical-align: middle;
         text-align: right;
         font-size: 14px;
         font-weight: 700;
         small {
            display: inline-block;
            font-size: 14px;
         }
      }
   }
   .profits-bloks {
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .profit-block {
      display: inline-flex;
      align-items: center;
      border-radius: 1px;
      span {
         font-weight: 600;
         font-size: 12px;
         color: $grey;
         letter-spacing: 1px;
      }
      b {
         margin-left: 10px;
         font-size: 16px;
         font-weight: 700;
      }
   }
   .btns {
      display: flex;
      align-items: center;
      .small-btn + .small-btn {
         margin-left: 5px;
      }
      .small-btn {
         flex: 1 1 auto;
         &.icon {
            flex: 0 0 auto;
         }
      }
   }
   i.tooltip {
      margin-left: 5px;
      font-size: 16px;
      vertical-align: middle;
      color: $grey;
      cursor: pointer;
      &:hover {
         color: $orange;
      }
   }
}
.digest-catalog-item {
   width: 100%;
   max-width: 500px;
   margin: auto;
   .image {
      border-radius: 12px 12px 0 0;
      position: relative;
      overflow: hidden;
      height: 395px;
      img {
         height: 100%;
         object-fit: cover;
         width: 100%;
         max-width: 100%;
         transition: all 0.5s;
      }
      a:hover {
         img {
            transform: scale(1.05);
         }
      }
      .badge {
         display: none;
         background: #fff;
         position: absolute;
         left: 10px;
         top: 10px;
         border: 1px solid #c3c3c3;
         width: 24px;
         height: 24px;
         border-radius: 50%;
         line-height: 22px;
         font-size: 7px;
         text-align: center;
         font-weight: 700;
      }
   }
   .digest-item-info {
      padding: 30px;
      border: 1px solid #e1e1e1;
      background-color: rgba(216, 216, 216, 0.4);
      border-radius: 0 0 12px 12px;
   }
   .digest-item-info-head {
      display: flex;
      align-items: center;
      a {
         transition: all 0.2s;
         &:hover {
            color: $orange;
         }
      }
      .properties-column {
         width: 30%;
      }
      .name-column {
         width: 70%;
         padding-right: 30px;
      }
      .brand {
         display: block;
         font-size: 22px;
         font-weight: 700;
         margin-bottom: 3px;
      }
      .name {
         line-height: 1.3;
         font-size: 18px;
         font-weight: 500;
      }
      .lot-num {
         text-transform: uppercase;
         display: block;
         font-size: 14px;
         font-weight: 700;
         letter-spacing: 1px;
      }
      .reference {
         margin: 10px 0;
         display: block;
         font-weight: 600;
         font-size: 11px;
         color: $grey;
      }
      .condition {
         display: block;
         font-weight: 600;
         font-size: 11px;
      }
   }
   .digest-item-price-table {
      margin: 20px 0 0px;
      table {
         width: 100%;
         border-spacing: 0px;
         border-collapse: collapse;
      }
      th {
         font-size: 12px;
         color: $grey;
         letter-spacing: 1px;
         font-weight: 600;
         border-bottom: 1px rgba(#8f92a1,0.7) solid;
         padding: 0 0 4px 0;
         &:first-child {
            text-align: left;
         }
         &:last-child {
            text-align: right;
         }
      }
      td {
         padding-top: 5px;
         padding-bottom: 15px;
         text-align: center;
         width: 33.333%;
         font-size: 18px;
         font-weight: 700;
         &:first-child {
            text-align: left;
         }
         &:last-child {
            text-align: right;
         }
         small {
            margin-right: 4px;
         }
      }
   }
   .profits-bloks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
   }
   .profit-block {
      display: inline-flex;
      align-items: center;
      span {
         font-weight: 600;
         font-size: 12px;
         color: $grey;
         letter-spacing: 1px;
      }
      b {
         margin-left: 10px;
         font-size: 16px;
         font-weight: 700;
      }
   }
   .btns {
      display: flex;
      align-items: center;
      .orange {
         min-width: 140px;
         flex: 1 1 auto;
         margin-left: 5px;
      }

   }
   i.tooltip {
      margin-left: 5px;
      font-size: 16px;
      vertical-align: middle;
      color: $grey;
      cursor: pointer;
      &:hover {
         color: $orange;
      }
   }
}
/**********************catalog-item-card*******************/
.catalog-item-card {
   display: grid;
   grid-template-columns: repeat(2, calc(50% - 35px));
   grid-template-rows: repeat(2, auto);
   grid-column-gap: 70px;
   grid-row-gap: 45px;
   h2 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 20px;
      margin-top: 40px;
      &:first-of-type {
         margin-top: 0px;
      }
   }
   p {
      line-height: 1.5;
   }
   .invest-now {
      margin: 35px 0;
      background: $orange;
      border: 2px $orange solid;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 30px;
      transition: all 0.3s;
      span {
         font-weight: 300;
      }
      &:hover {
         border: 2px $orange solid;
         background: transparent;
         color: $orange;
      }
   }
}
.product-card-img {
   min-width: 100%;
   .image {
      margin: 0 auto;
      position: relative;
   }
   .owl-dots {
      position: absolute;
      right: 15px;
      bottom: 15px;
   }
   .owl-dot {
      padding: 3px;
      outline: none;
      &.active {
         span {
            width: 16px;
         }
      }
      span {
         margin: 3px;
         border-radius: 10px;
         display: block;
         width: 6px;
         height: 6px;
         background: #fff;
         transition: all 0.3s;
      }
   }
   .btns {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      .small-btn {
         opacity: 0.7;
         font-size: 12px;
         flex: 1 1 auto;
         & + .small-btn {
            margin-left: 15px;
         }
      }
   }
}
.product-card-info {
   display: flex;
   flex-direction: column;
   .digest-catalog-item {
      position: relative;
      margin: 0;
   }
   .digest-item-info {
      padding: 15px 0 0 0;
      background: none;
      border: none;
   }
   .digest-item-price-table {
      margin: 30px 0 5px;
      td {
         padding-bottom: 30px;
      }
   }
   .btns {
      position: absolute;
      right: 0px;
      top: 15px;
   }
   .invest-now {
      margin-top: auto;
      margin-bottom: 0px;
   }
}
.product-card-descr {
   padding: 0 30px;
   .tech-params-table {
      table {
         width: 100%;
         border-collapse: collapse;
         border-spacing: 0px;
      }
      td {
         padding: 10px 0;
         border-bottom: 1px rgba($grey,0.3) solid;
      }
      td:first-child {
         font-size: 12px;
         color: $grey;
         font-weight: 600;
         text-transform: uppercase;
      }
      td:last-child {
      }
   }
}
.product-card-invest {
   .consultant {
      display: flex;
      align-items: center;
      background: #eaeaea;
      padding: 15px 15px;
      border-radius: 20px 20px 0 0;
      .avatar {
         width: 50px;
         flex: 0 0 auto;
         margin-right: 10px;
      }
      .info {
         flex: 1 1 auto;
      }
      .logo {
         height: 60px;
         flex: 0 0 auto;
      }
      strong {
         display: block;
         font-size: 14px;
         font-weight: 600;
      }
      span {
         display: block;
         font-size: 12px;
         color: $grey;
      }
      .rate {
         display: flex;
         align-items: center;
         i.mdi {
            font-size: 14px;
            color: $brown;
         }
      }
   }
   .invest-info {
      background: $blue;
      color: #fff;
      border-radius: 20px;
      padding: 30px;
      margin: 0 -15px;
      p {
         font-style: italic;
      }
   }
   .last-invest-info {
      background: #8f92a1;
      padding: 15px 20px;
      border-radius: 0 0 20px 20px;
      color: #fff;
      .date {
         margin-bottom: 25px;
         font-weight: 600;
         display: flex;
         align-items: center;
         justify-content: space-between;
         .mdi {
            font-size: 16px;
            margin-right: 5px;
            vertical-align: middle;
         }
      }
      table {
         width: 100%;
         border-collapse: collapse;
         border-spacing: 0px;
         th {
            width: 25%;
            font-size: 12px;
            text-align: left;
            font-weight: 600;
            color: rgba(#fff,0.5);
            border-bottom: 1px rgba(#fff,0.4) solid;
            padding-bottom: 10px;
         }
         td {
            padding-top: 10px;
            font-size: 18px;
            font-weight: 700;
            small {
               margin-right: 5px;
               font-weight: 600;
            }
         }
      }
   }
   .invest-rules {
      a {
         display: flex;
         align-items: center;
         justify-content: space-between;
         border-bottom: 1px rgba($grey,0.4) solid;
         color: $grey;
         font-weight: 600;
         font-size: 15px;
         padding: 16px 15px;
         i.mdi {
            font-size: 24px;
         }
         &:hover {
            color: $orange;
         }
      }
      .collapse {
         display: none;
         padding: 15px;
         border-bottom: 1px rgba($grey,0.4) solid;
      }
   }
}

.other-product-list {
   .item {
      display: flex;
      align-items: flex-start;
      padding: 30px 0;
      border-top: 1px rgba($grey,0.4) solid;
      &:first-child {
         padding-top: 0px;
         border-top: 0px;
      }
      &:last-child {
         padding-bottom: 0px;
      }
   }
   a {
      transition: all 0.2s;
      &:hover {
         color: $orange;
      }
   }
   .info {
      flex:  1 1 auto;
      align-self: stretch;
      display: flex;
      flex-direction: column;
   }
   .image {
      width: 120px;
      height: 120px;
      flex: 0 0 auto;
      margin-right: 15px;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: all 0.2s;
      }
      &:hover {
         img {
            transform: scale(1.05);
         }
      }
   }
   .brand {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 18px;
   }
   .lot-num {
      text-transform: uppercase;
      font-size: 14px;
   }
   .name {
      margin-top: 5px;
      font-size: 16px;
   }
   .btns {
      margin-top: auto;
      display: flex;
      .small-btn + .small-btn {
         flex: 1 1 auto;
         margin-left: 5px;
      }
   }
}
/********************mobile-navigation-bar*****************/
.mobile-navigation-bar {
   display: none;
   position: fixed;
   bottom: 0px;
   left: 0px;
   width: 100%;
   background: #fff;
   padding: 30px 0;
   border-radius: 30px 30px 0 0;
   ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      li {
         align-items: center;
      }
      i.mdi {
         font-size: 28px;
         line-height: 40px;
      }
      a {
         display: block;
      }
      a.active {
         color: $orange;
         position: relative;
         &:after {
            content: "";
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: $orange;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            bottom: -5px;
         }
      }
      span {
         line-height: 40px;
         font-size: 16px;
         font-weight: 600;
      }
      .mdi.mdi-lifebuoy {
         display: inline-block;
         text-align: center;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         color: #fff;
         background: $orange;
         font-size: 26px;
      }
   }
}
/********************footer*****************/
.main-footer {
   min-width: 1024px;
   background: $blue-bg;
   color: #fff;
   padding: 30px 0;
}
.main-footer-inner {
   display: flex;
   align-items: center;
   > div {
      flex: 1 1 auto;
   }
   hr {
      margin: 0 45px;
      border: none;
      align-self: stretch;
      width: 1px;
      background: rgba(#fff,0.5);
   }
}
.footer-company-info {
   .logos {
      display: flex;
      a + a {
         margin-left: 50px;
         margin-top: 5px;
      }
      a:first-child {
         img {
            height: 50px;
         }
      }
      img {
         height: 35px;
      }
   }
   .copy {
      font-size: 10px;
      margin-top: 20px;
      color: rgba(#fff,0.5);
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 1.5;
   }
}
.footer-company-info {
   strong {
      font-size: 10px;
      display: block;
      color: rgba(#fff,0.5);
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 5px;
   }
   a {
      &:hover {
         color: $brown;
      }
      & + strong {
         margin-top: 20px;
      }
   }
   b {
      display: block;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1.5px;

   }
}
.footer-company-links {
   strong {
      font-size: 10px;
      display: block;
      color: rgba(#fff,0.5);
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 5px;
   }
   .soc-and-apps {
      display: flex;
      justify-content: space-around;
   }
   ul {
      display: flex;
      align-items: center;
      list-style: none;
      i.mdi {
         font-size: 28px;
      }
      a:hover {
         color: $brown;
      }
      li + li {
         margin-left: 15px;
      }
   }
   .privacy-links {
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      a {
         font-size: 10px;
      }
   }
}
/*******************mobile-modal*************/
.blocker {
   z-index: 1000;
}
.mobile-modal {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   box-shadow: none;
   border-radius: 0px;
   padding: 0px;
   .mobile-modal-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
   }
   .mobile-modal-header {
      flex: 0 0 auto;
      padding: 15px 30px;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      letter-spacing: 1px;
      border-bottom: 1px #eee solid;
   }
   .mobile-modal-content {
      flex: 1 1 auto;
      padding: 15px 30px;
   }
   .mobile-modal-footer {
      padding: 15px 30px;
      border-top: 1px #eee solid;
      flex: 0 0 auto;
      .btns {
         display: flex;
         justify-content: space-between;
         .c-btn {
            width: calc(50% - 10px);
         }
      }
   }
   a.close-modal {
      display: none;
   }
}
/***********************ui*****************/
.c-btn {
   display: inline-block;
   background: none;
   border: none;
   height: 55px;
   font-size: 14px;
   font-weight: 600;
   border-radius: 12px;
   line-height: 55px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   color: #000;
   padding: 0 20px;
   transition: all 0.3s;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   cursor: pointer;
   &.orange {
      background: $brown;
      color: #fff;
      &:hover {
         background: darken($brown, 10);
      }
   }
   &.blue {
      background: $blue;
      color: #fff;
      &:hover {
         background: lighten($blue, 10);
      }
   }
   &.white {
      background: #fff;
      border: 2px solid rgba(143, 146, 161, 0.2);
      line-height: 51px;
      &:hover {
         border-color: $blue;
         background: $blue;
         color: #fff;
      }
   }
}
.c-input {
   width: 100%;
   display: flex;
   align-items: flex-start;
   margin-bottom: 30px;
   position: relative;
   .c-input-icon {
      flex: 0 0 auto;
      font-size: 18px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 50px;
      border-radius: 12px;
      background-color: rgba(#fff,0.1);
   }
   .c-input-icon-field {
      right: 0px;
      bottom: 0px;
      line-height: 35px;
      position: absolute;
   }
   .input {
      flex: 1 1 auto;
   }
   label {
      letter-spacing: 1px;
      color: #8f92a1;
      display: block;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 15px;
   }
   input {
      outline: none;
      font-size: 14px;
      color: #fff;
      width: 100%;
      height: 35px;
      background: none;
      border: none;
      border-bottom: 2px rgba(#fff,0.2) solid;
      transition: all 0.6S;
      &:focus {
         border-bottom: 2px rgba(#fff,1) solid;
      }
   }
   .err {
      text-transform: uppercase;
      display: block;
      padding-top: 15px;
      padding-bottom: 5px;
      letter-spacing: 1px;
      color: #8f92a1;
      font-size: 12px;
      font-weight: 600;
   }
   &.no-valid {
      input {
         color: #ff00b6;
      }
   }
   #ShowPass {
      cursor: pointer;
      &:hover {
         color: $brown;
      }
   }
   &.dark {
      .c-input-icon {
         background: $blue;
         color: #fff;
      }
      input {
         color: $blue;
         border-bottom: 2px rgba($blue,0.2) solid;
         &:focus {
            border-bottom: 2px rgba($blue,1) solid;
         }
      }
      label {
         color: rgba($blue,0.6);
      }
   }
}
.c-checkbox {
   display: flex;
   font-size: 12px;
   line-height: 20px;
   font-weight: 600;
   margin-bottom: 30px;
   color: #8f92a1;
   cursor: pointer;
   input {
      display: none;
   }
   input:checked + .icon:after {
      transform: scale(1);
   }
   .icon {
      margin-top: 2px;
      margin-right: 15px;
      display: block;
      flex: 0 0 auto;
      width: 15px;
      height: 15px;
      background: #fff;
      position: relative;
      &:after {
         position: absolute;
         left: 4px;
         bottom: 4px;
         content: "";
         display: block;
         width: 7px;
         height: 7px;
         background: #191933;
         transform: scale(0);
         transition: all 0.5s;
      }
   }
}
.link {
   letter-spacing: 1px;
   font-size: 12px;
   color: #8f92a1;
   text-transform:uppercase;
   font-weight: 600;
   text-decoration: none;
   &:hover {
      color: $brown;
   }
}
.small-btn {
   border: none;
   background: none;
   text-decoration: none;
   display: inline-block;
   vertical-align: middle;
   border-width: 2px;
   border-style: solid;
   height: 35px;
   border-radius: 1px;
   line-height: 32px;
   min-width: 35px;
   text-transform: uppercase;
   font-size: 15px;
   font-weight: 600;
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: center;
   padding: 0 5px;
   transition: all 0.3s;
   &.orange {
      border-color: $orange;
      background: $orange;
      color: #fff;
      &:hover {
         background: transparent;
         color: $orange;
      }
   }
   &.blue {
      border-color: $blue;
      background: $blue;
      color: #fff;
      &:hover {
         background: transparent;
         color: $blue;
      }
   }
   &.grey {
      border-color: $grey;
      background: $grey;
      color: #fff;
      &:hover {
         background: transparent;
         color: $grey;
      }
   }
   i.mdi {
      font-size: 20px;
   }
}

.tooltipster-base.tooltipster-default {
   border-radius: 5px;
   border: none;
   background: $blue-bg;
   color: #fff;
   box-shadow: 0 4px 8px 0 rgba($blue-bg,0.6);
   .tooltipster-content {
      font-family: 'SF UI Display';;
      font-size: 13px;
      padding: 5px 10px;
      overflow: hidden;
   }
}

.mobile-select-list {
   .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: $brown;
      color: #fff;
      padding: 15px 15px;
      margin-top: 10px;
      margin-bottom: 15px;
      border-radius: 12px;
      position: relative;
      strong {
         font-size: 12px;
         font-weight: 600;
      }
      .select {
         position: absolute;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;
         select {
            outline: none;
            padding-right: 15px;
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            direction: rtl;
            text-align: right;
            background: none;
            border: none;
            appearance: none;
            width: 100%;
            height: 100%;
         }
         option {
            color: #000;
         }
      }
   }
}


/******************color**************/
.green-text {
   color: $green !important;
}
@media screen and (max-width:1024px) {
   /*****************catalog-item-card**************/
   .catalog-item-card {
      grid-template-columns: repeat(1, 100%);
      grid-template-areas:
         "p-image"
         "p-info"
         "p-invest"
         "p-descr";

   }
   .product-card-img {
      grid-area: p-image;
   }
   .product-card-info {
      grid-area: p-info;
   }
   .product-card-descr {
      grid-area: p-descr;
   }
   .product-card-invest {
      grid-area: p-invest;
   }
   .product-card-descr {
      padding: 0px;
   }
}
@media screen and (max-width:768px) {
   /*******************container**************/
   .container {
      width: 100%;
      min-width: 0px;
      padding: 0 30px;
   }
   /******************sign pages*************/
   .sign-present-column {
      .chrono-footer {
         flex-direction: column;
         line-height: 1.8;
      }
   }
   /****************main-header************/
   .main-header {
      position: fixed;
      top: 0px;
      min-width: 0px;
      width: 100%;
      z-index: 10;
      .btn-compare,
      .btn-profile,
      .ineichen-info {
         display: none;
      }
      #mobileMenueOpen {
         display: inline-block;
      }
      .head-btn + .head-btn {
         margin: 0px;
      }
   }
   /******************main-section***************/
   .main-section {
      padding-top: 124px;
   }
   /********************left-side-navigation*********/
   .left-side-navigation {
      transform: translateX(-100%);
      border: none;
      width: 340px;
      padding: 30px;
      position: fixed;
      left: 0px;
      top: 116px;
      height: 100vh;
      background: $blue;
      z-index: 10;
      overflow: auto;
      transition: 0.5s all;
      &.open {
         transform: translateX(0);
      }
      strong {
         color: #8b8bf3;
      }
      ul {
         li {
            color: #fff;
         }
      }
   }
   .need-help-chat {
      display: none;
   }
   /********************main-content*********/
   .main-content {
      padding: 30px 0 130px;
   }
   /*****************catalog-item-card**************/
   .catalog-item-card {
      margin: 0 auto;
      max-width: 500px;
      grid-template-columns: 100%;
      grid-column-gap: 30px;
   }
   .product-card-info {
      .digest-catalog-item {
         position: relative;
      }
      .digest-item-info {
         padding: 0;
      }
      .digest-item-price-table {
         margin: 15px 0 5px;
         td {
            padding-bottom: 15px;
         }
      }
      .btns {
         top: 0px;
      }
   }

   /********************mobile-navigation-bar*****************/
   .mobile-navigation-bar {
      display: block;
   }
   /********************main-footer*********/
   .main-footer {
      display: none;
   }
}
@media screen and (max-width:420px) {
   body {
      overflow-x: hidden;
   }
   /*******************container**************/
   .container {
      padding: 0 15px;
   }
   /******************sign pages*************/
   .sign-wrapper {
      .sign-present-column {
         width: 100%;
      }
      .sign-form-column {
         width: 100%;
      }
   }
   .sign-present-column {
      position: fixed;
      background: #fff;
      height: 100%;
      left: 0px;
      top: 0px;
      padding: 30px;
      z-index: 1;
      &.hidden-in-mobile {
         display: none;
      }
      .logo {
         img {
            max-width: 120px;
         }
      }
      .chorono-info {
         img {
            max-width: 200px;
         }
         p {
            margin: 30px 0;
            font-size: 14px;
            br {
               display: none;
            }
         }
         .btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .blue {
               display: inline-block;
            }
            .c-btn {
               width: calc(50% - 5px);
            }
         }
      }
      .chrono-account {
         margin-bottom: 30px;
         width: 100%;
         display: block;
         .c-btn {
            margin-top: 15px;
            width: 100%;
         }
      }
      .chrono-footer {
         flex-direction: column;
         line-height: 1.8;
      }
   }
   .sign-form-column {
      padding: 30px;
      padding-bottom: 0px;
      .form-wrapper {
         h2 {
            font-size: 20px;
            margin-bottom: 30px;
         }
      }
      .bottom-btn {
         margin-top: 30px;
         padding: 30px;
      }
   }
   /*****************main-header*************/
   .main-header {
      padding: 15px 0;
      .logo {
         img {
            width: 160px;
         }
      }
      .head-btn {
         i.mdi {
            margin-bottom: 0px;
         }
         span {
            display: none;
         }
      }
   }
   /******************main-section***************/
   .main-section {
      padding-top: 92px;
   }
   /********************back-link*************/
   .back-link {
      margin-bottom: 15px;
   }
   /********************left-side-navigation*********/
   .left-side-navigation {
      top: 91px;
      height: calc(100vh - 91px);
   }
   /********************main-content*********/
   .main-content {
      padding: 15px 0 80px;
   }
   /****************digest-realease************/
   .digest-realease {
      .search {
         display: none;
      }
      .name {
         font-size: 28px;
      }
   }
   /**********************catalog-tools*****************/
   .catalog-tools {
      display: none;
   }
   .mobile-catalog-tools {
      display: flex;
      margin-bottom: 30px;
   }
   /***********************catalog-grid*****************/
   .catalog-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 30px 0px;
      grid-auto-rows: minmax(180px, auto);
      grid-auto-flow: dense;
      align-items: center;
      .d-height {
         grid-row-end: span 2;
      }
   }
   .catalog-grid-item {
      max-width: 100%;
      &.disabled {
         pointer-events: none;
         opacity: 0.5;
      }
      .item-image {
         width: 50%;
         margin-right: 10px;
         img {
            height: 100%;
            object-fit: cover;
            width: 100%;
            vertical-align: middle;
            max-width: 100%;
         }
      }
      .item-info {
         .brand {
            font-size: 16px;
            font-weight: 600;
            align-items: center;
         }
         .lot-num {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
         }
         .reference {
            font-size: 10px;
            font-weight: 600;
            display: block;
            margin: 5px 0;
            text-transform: uppercase;
            color: $grey;
         }
         .name {
            min-height: 0px;
            line-height: normal;
            font-weight: 500;
            display: block;
            font-size: 14px;
         }
      }
      .table-params {
         margin: 10px 0 8px;
         td {
            padding: 4px 0;
         }
         td:first-child {
            font-size: 10px;
         }
         td:last-child {
            font-size: 13px;
            small {
               font-size: 13px;
            }
         }
      }
      .profits-bloks {
         margin-bottom: 8px;
      }
      .profit-block {
         span {
            font-size: 8px;
            letter-spacing: normal;
         }
         b {
            margin-left: 8px;
            font-size: 13px;
         }
         i.tooltip {
            display: none;
         }
      }
      i.tooltip {
         margin-left: 5px;
         font-size: 14px;
      }
   }
   .digest-catalog-item {
      width: 100%;
      max-width: 100%;
      .image {
         border-radius: 12px 12px 0 0;
         height: 250px;
      }
      .digest-item-info {
         padding: 15px;
         border-radius: 0 0 12px 12px;
      }
      .digest-item-info-head {
         .properties-column {
            width: 35%;
         }
         .name-column {
            width: 65%;
            padding-right: 15px;
         }
         .brand {
            font-size: 16px;
            margin-bottom: 3px;
         }
         .name {
            line-height: 1.3;
            font-size: 14px;
         }
         .lot-num {
            font-size: 12px;
            letter-spacing: 1px;
         }
         .reference {
            margin: 5px 0;
            font-size: 10px;
            color: $grey;
         }
         .condition {
            font-size: 10px;
         }
      }
      .digest-item-price-table {
         margin: 15px 0 0;
         th {
            font-size: 10px;
            letter-spacing: 1px;
            padding: 0 0 4px 0;
         }
         td {
            padding-top: 4px;
            padding-bottom: 15px;
            font-size: 13px;
            small {
               margin-right: 4px;
               font-size: 13px;
            }
         }
      }
      .digest-item-info-footer {
         flex-direction: column;
         align-items: flex-start;
      }
      .profits-bloks {
         width: 100%;
      }
      .profit-block {
         margin-right: 0px;
         span {
            font-size: 10px;
            br {
               display: none;
            }
         }
         b {
            margin-left: 10px;
            font-size: 13px;
         }
      }
      .btns {
         width: 100%;
      }
      i.tooltip {
         margin-left: 5px;
         font-size: 14px;
      }
   }
   /*****************catalog-item-card**************/
   .catalog-item-card {
      grid-row-gap: 15px;
      padding: 0 15px;
      position: relative;
      .invest-now {
         margin: 20px 0;
         padding: 10px 15px;
      }
   }
   .product-card-img {
      margin: 0 -30px;
      .btns {
         margin-left: 15px;
         margin-right: 15px;
      }
   }
   .product-card-info {
      .digest-catalog-item {
         position: static;
      }
      .digest-item-info {
         padding: 0px;
      }
      .btns {
         width: auto;
         top: -48px;
      }
   }
   .product-card-invest {
      .consultant {
         .logo {
            height: 50px;
         }
         strong {
            font-size: 13px;
         }
         span {
            font-size: 11px;
         }
      }
      .invest-info {
         padding: 20px 15px;
         margin: 0 -15px;
         h2 {
            font-size: 14px;
            margin-bottom: 10px;
         }
         p {
            font-size: 13px;
            font-style: italic;
         }
      }
      .last-invest-info {
         .date {
            margin-bottom: 15px;
            font-size: 11px;
            .mdi {
               font-size: 11px;
            }
         }
         table {
            width: 100%;
            th {
               width: auto;
               font-size: 10px;
               padding-bottom: 5px;
            }
            td {
               padding-top: 5px;
               font-size: 13px;
               font-weight: 700;
            }
         }
      }
      .invest-rules {
         a {
            font-size: 14px;
            padding: 10px 0px;
            i.mdi {
               font-size: 24px;
            }
         }
         .collapse {
            padding: 10px 0px;
         }
      }
   }
   .other-product-list {
      .item {
         padding: 15px 0;
      }
      .image {
         width: 100px;
         height: 100px;
         margin-right: 15px;
      }
      .brand {
         font-size: 16px;
      }
      .lot-num {
         font-size: 12px;
      }
      .name {
         font-size: 14px;
      }
   }
   /*****************search-mobile-modal**************/
   .search-mobile-modal {
      .mobile-modal-content {
         display: flex;
      }
      .c-input {
         margin-top: auto;
         margin-bottom: auto;
      }
   }
   /********************mobile-navigation-bar*****************/
   .mobile-navigation-bar {
      padding: 10px 0;
      ul {
         i.mdi {
            font-size: 20px;
            line-height: 30px;
         }
         a {
            display: block;
         }
         a.active {
            color: $orange;
            position: relative;
            &:after {
               content: "";
               width: 5px;
               height: 5px;
               bottom: -3px;
            }
         }
         span {
            line-height: 30px;
            font-size: 14px;
         }
         .mdi.mdi-lifebuoy {
            width: 30px;
            height: 30px;
            font-size: 18px;
         }
      }
   }
   /*************************ui*************************/
   .small-btn {
      font-size: 12px;
      i.mdi {
         font-size: 16px;
      }
   }
}
