@font-face {
    font-family: 'Fira Sans';
    src: url('../font/subset-FiraSans-SemiBold.woff2') format('woff2'),
        url('../font/subset-FiraSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../font/subset-FiraSans-Bold.woff2') format('woff2'),
        url('../font/subset-FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../font/subset-FiraSans-Book.woff2') format('woff2'),
        url('../font/subset-FiraSans-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../font/subset-FiraSans-Regular.woff2') format('woff2'),
        url('../font/subset-FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../font/subset-FiraSans-Light.woff2') format('woff2'),
        url('../font/subset-FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rub';
    src: url('../font/ALSRubl.woff2') format('woff2'),
        url('../font/ALSRubl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oran';
    src: url('../font/subset-Oranienbaum.woff2') format('woff2'),
        url('../font/subset-Oranienbaum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
