@media (max-width: 1400px) {
    .get-apps {
        gap: 15px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 18px;
    }
    .section-space {
        padding-top: 4rem;
        &:last-child {
            padding-bottom: 4rem;
        }
        &:first-child {
            padding-top: 4rem;
        }
    }
    .header {
        .container {
            min-height: 120px;
        }
    }
    .steps-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .get-apps {
        gap: 15px;
    }
    .faq-btns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .faq-list {

        &__title {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            &_active {
                color: $yellow-text;
                border: none;
            }
        }
        &__text {
            position: static;
            transform: none;
        }
    }
    .article {
        h1 {
            font-size: 32px;
            margin: 3rem 0 1rem;
        }
        h2 {
            font-size: 18px;
            margin: 3rem 0 1rem;
        }
        p {
            margin: 1.5rem 0;
        }
        ul {
            margin: 1.5rem 0;
        }
        blockquote {
            border-left: 3px $yellow-text solid;
            margin: 1.5rem 0;
            font-size: 16px;
            padding: 0 0 0 1rem;
        }
    }
}
@media (max-width: 576px) {
    .step-name {
        gap: 1rem;
        &__count {
            font-size: 18px;
            line-height: 35px;
            width: 35px;
            height: 35px;
        }
        &__title {
            font-size: 18px;
        }
    }    
}   