@import "_vars.scss";
@import "_ui.scss";
@import "_grid.scss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background: black;
    color: #fff;
}
a {
    color: $yellow-text;
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: $mgj;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}

.yellow-text {
    color: $yellow-text !important;
}


.section-space {
    padding-top: 8rem;
    &:last-child {
        padding-bottom: 8rem;
    }
    &:first-child {
        padding-top: 6rem;
    }
}



.header {
    border-bottom: 1px $line solid;
    position: relative;
    .container {
        min-height: 155px;
    }
    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &__social {
        display: flex;
        gap: 30px;
    }
    &__social-item {
        color: white;
        font-size: 25px;
        &:hover {
            color: $yellow-text;
        }
    }
    
}

.start-links {
    b {
        color: $yellow-text;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 0.5rem 1rem;
    }
    &__link {
        text-decoration: none;
        color:rgba(white,0.75);
        &:hover {
            color: $yellow-text;
        }
    }
}

.app-info {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.step-name {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    &__count {
        flex: 0 0 auto;
        font-family: $mgj;
        color: rgba(white,0.5);
        font-size: 24px;
        line-height: 50px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        width: 50px;
        height: 50px;
        border: 3px rgba(white,0.5) solid;
    }
}

.steps-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 100px;
}

.get-apps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 100px;
}

.video-preview {
    display: block;
    position: relative;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 0 0 2px $yellow-text;
    }
    &__img {
        width: 100%;
        vertical-align: middle;
    }
    &__btn {
        font-size: 2.5rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: white;
        &:hover {
            color: $yellow-text;
        }
    }
}

.faq-list {
    &__item {
        position: relative;
    }
    &__title {
        width: 50%;
        display: block;
        color: white;
        text-decoration: none;
        padding: 1rem;
        border: 1px transparent solid;
        position: relative;
        z-index: 1;
        &:hover {
            color: $yellow-text;
        }
        &_active {
            color: $yellow-text;
            border: 1px white solid;
            border-right-color: black;
            & + .faq-list__text {
                margin-left: -1px;
                display: block;
            }
        }
    }
    &__text {
        display: none;
        background: black;
        border: 1px white solid;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        padding: 1.5rem;
    }
}

.footer {
    font-size: 12px;
    border-top: 1px $line solid;
    .container {
        height: 160px;
    }
    &__links {
        display: flex;
        gap: 1rem;
        text-transform: uppercase;

    }
    &__links-item {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        &:hover {
            color: $yellow-text;
        }
    }
}

.video-modal {
    padding: 0px;
    max-width: 960px;
    video {
        width: 100%;
        vertical-align: middle;
    }
    a.close-modal {
        filter: invert(1);
    }
}

.article {
    h1 {
        font-size: 40px;
        margin: 4rem 0 2rem;
        &:first-child {
            margin-top: 0;
        }
    }
    h2 {
        font-size: 20px;
        margin: 4rem 0 2rem;
        &:first-child {
            margin-top: 0;
        }
    }
    p {
        line-height: 1.5rem;
        margin: 1.5rem 0;
    }
    ul {
        margin: 2rem 0;
        list-style: none;
        li {
            margin: 1rem 0;
            display: flex;
            align-items: baseline;
            gap: 1rem;
        }
        li:before {
            content: "";
            flex: 0 0 auto;
            display: block;
            width: 7px;
            height: 7px;
            border: 4px $yellow-text solid;
            transform: translateY(3px);
        }
    }
    blockquote {
        margin: 2rem 0;
        font-weight: 300;
        font-size: 20px;
        font-style: italic;
        padding: 0 2rem;
        line-height: 1.5;
        color: #AEAEAE;
    }
}

@import "_resposive.scss";