@import "_vars.scss";
@import "_ui.scss";
@import "_grid.scss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background: black;
    color: #fff;
}
a {
    color: $yellow-text;
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: $mgj;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
}

.yellow-text {
    color: $yellow-text !important;
}

.footer {
    font-size: 12px;
    border-top: 1px $line solid;
    .container {
        height: 160px;
    }
    &__links {
        display: flex;
        gap: 1rem;
        text-transform: uppercase;

    }
    &__links-item {
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        &:hover {
            color: $yellow-text;
        }
    }
}

@import "_resposive.scss";