.form-control {
    height: 3rem;
    font-size: 1rem;
    &:focus {
        box-shadow: none !important;
        border-color: $prim1 !important;
    }
}
.btn {
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    &:active,
    &:focus {
        box-shadow: none !important;
    }
}
.btn-warning {
    background: $prim1;
    border-color: $prim1;
    color: #fff;
    &:hover {
        color: #fff;
        background: lighten($prim1, 10);
        border-color: lighten($prim1, 10);
    }
    &:active,
    &:focus {
        color: #fff !important;
        background: lighten($prim1, 10) !important;
        border-color: lighten($prim1, 10) !important;
    }
}
.btn-primary {
    background: $comp3;
    border-color: $comp3;
    color: #fff;
    &:hover {
        color: #fff;
        background: lighten($comp3, 10);
        border-color: lighten($comp3, 10);
    }
    &:active,
    &:focus {
        color: #fff !important;
        background: lighten($comp3, 10) !important;
        border-color: lighten($comp3, 10) !important;
    }
}
.alert-warning {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: $sec5;
    border: none;
    color: #404040;
    line-height: 1.5;
}
.modal-dialog {
    max-width: 600px;
}
