.form-control {
    height: 3rem;
    font-size: 1rem;
    &:focus {
        box-shadow: none !important;
        border-color: $orange !important;
    }
}
.btn {
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn-warning {
    background: $orange;
    border-color: $orange;
    color: #fff;
    &:hover {
        color: #fff;
        background: lighten($orange, 10);
        border-color: lighten($orange, 10);
    }
    &:active,
    &:focus {
        box-shadow: none !important;
        color: #fff !important;
        background: lighten($orange, 10) !important;
        border-color: lighten($orange, 10) !important;
    }
}
