$orange: #d46e31;
@import "bs_custom.scss";


html {
    font-size: 14px
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434037;
    line-height: normal;
    font-size: 1rem;
}
a {
    text-decoration: underline;
    color: $orange;
    &:hover {
        text-decoration: none;
    }
}
.orange-text {
    color: $orange;
}
.section-pad {
    padding: 5rem 0;
}
.section-title {
    margin-bottom: 3rem;
}

.main-header {
    background: $orange;
    a {
        text-decoration: none;
    }
    .navbar {
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-brand {
        margin-right: 3rem;
    }
    .navbar-nav {
        .nav-link {
            text-transform: uppercase;
            color: #fff;
            i.mdi {
                line-height: 1;
                font-size: 1.6rem;
                vertical-align: middle;
            }
        }
    }
    .navbar-text {
        color: #fff;
        display: flex;
        align-items: center;
    }
    .tel {
        margin-left: 25px;
        font-size: 1.2rem;
        text-align: center;
        span {
            text-transform: uppercase;
            font-weight: 300;
            display: block;
            font-size: 0.7rem;
        }
    }
}

.main-banner {
    height: 600px;
    position: relative;
    .parallax-window {
        height: 100%;
    }
    .banner-text {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        z-index: 2;
        margin: auto;
        background: rgba(#000,0.3);
        b {
            font-size: 4rem;
            color: $orange;
        }
        p {
            color: #fff;
            font-size: 1.5rem;
        }
    }
}

.intro-section {
    .text {
        font-size: 1.7rem;
    }
    .drug-search {
        font-size: 1.2rem;
    }
    .note {
        font-size: 0.8rem;
    }
    .alert-warning {
        font-size: 1rem;
        span {
            display: block;
            font-weight: 700;
        }
    }
}

.steps-to-access {
    background: lighten($orange, 45);
    .step-block {
        display: flex;
        align-items: center;
        span {
            font-size: 1.3rem;
            i {
                display: block;
                font-size: 0.8rem;
                font-style: normal;
            }
        }
    }
    .step-num {
        flex: 0 0 auto;
        text-align: center;
        line-height: 46px;
        font-size: 1.5rem;
        display: block;
        width: 50px;
        height: 50px;
        border: 2px $orange solid;
        border-radius: 50%;
        font-weight: 700;
        margin-right: 1rem;
    }
}

.program-priority {
    .item {
        text-align: center;
        i.mdi {
            font-size: 4rem;
            color: $orange;
        }
        strong {
            display: block;
            color: $orange;
            font-size: 1.5rem;
            margin: 1rem 0;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

.product-section {
    .product-image {
        text-align: center;
    }
    .product-info {
        p {
            margin: 2rem 0;
        }
    }
}

.product-priority {
    background: rgb(236,246,255);
    .item {
        text-align: center;
        width: 240px;
        margin: 0 auto;
    }
    .icon {
        margin: 0 auto 2rem;
        display: block;
        width: 100px;
        height: 100px;
        border: 2px $orange solid;
        border-radius: 30px;
        i.mdi {
            font-size: 48px;
            color: $orange;
            line-height: 96px;
        }
    }
    span {
        font-size: 1.2rem;
        display: block;
    }
}

.map-section {
    height: 600px;
}

.section-accordions {
    .accord-item:nth-child(1) .accord-head {
        background: #808183;
    }
    .accord-item:nth-child(2) .accord-head {
        background: lighten(#808183,5);
    }
    .accord-item:nth-child(3) .accord-head {
        background: lighten(#808183,10);
    }
    .accord-item:nth-child(4) .accord-head {
        background: lighten(#808183,15);
    }
    .accord-item:nth-child(5) .accord-head {
        background: lighten(#808183,20);
    }
    .accord-item:nth-child(6) .accord-head {
        background: lighten(#808183,25);
    }
    .accord-head {
        color: #fff;
        font-size: 2rem;
        a {
            padding: 1rem 0;
            display: flex;
            justify-content:space-between;
            color: inherit;
            text-decoration: none;
            i.mdi {
                transition: all 0.3s;
            }
            &:hover {
                i.mdi {
                    transform: translateX(-10px);
                }
            }
            &:not(.collapsed) {
                i.mdi {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}
.my-article-style {
    padding: 2rem 0;
    p {
        font-size: 1.2rem;
    }
}

.my-modal-body {
    background: #fff;
    border-radius: 1rem;
    padding: 2.5rem;
    border: none;
    > .close {
        position: absolute;
        right: -1.5rem;
        top: -1.5rem;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        background: $orange;
        color: #fff;
        opacity: 1 !important;
        color: #fff !important;
    }
}
.sign-form {
    max-width: 600px;
    margin: 0 auto;
    p {
        margin: 2rem 0;
    }
    .alert-warning {
        margin-bottom: 2rem;
    }
    .form-group {
        display: flex;
        align-items: center;
        label {
            flex: 0 0 auto;
            margin: 0px;
            width: 100px;
        }
        input {
            flex: 0 0 auto;
            width: 200px;
        }
        > a {
            margin-left: 2rem;
        }
    }
}
.sign-up {
    max-width: 600px;
    margin: 0 auto;
    p {
        margin: 2rem 0;
    }
    .form-group {
        display: flex;
        align-items: center;
        label {
            flex: 0 0 auto;
            margin: 0px;
            width: 150px;
        }
    }
    .custom-checkbox {
        margin: 1rem 0 1rem 150px;
    }
    .input-group {
        position: relative;
        .clip {
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 3;
        }
    }
}

.footer-nav {
    background: rgb(88,76,74);
    color: #fff;
    .block-title {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    .custom-control {
        margin-bottom: 1rem;
        a {
            color: #fff;
        }
    }
    .links {
        list-style: none;
        padding: 0px;
        li {
            margin-bottom: 1.3rem;
        }
        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            &:hover {
                color: $orange;
            }
        }
        i.mdi {
            margin-top: 2px;
            margin-right: 0.5rem;
        }
    }
}
.footer-copy {
    padding: 2rem 0;
    background: rgb(41,36,35);
    p {
        margin: 0px;
    }
    .container {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px;
        li {
            border-left: 1px #fff solid;
            padding: 0 0.5rem;
            &:first-child {
                border: none;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: $orange;
            }
        }
    }
}
