$orange: #d46e31;
@import "bs_custom.scss";


html {
    font-size: 14px
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434037;
    line-height: normal;
    font-size: 1rem;
}
a {
    text-decoration: underline;
    color: $orange;
    &:hover {
        text-decoration: none;
    }
}
.mdi:before, .mdi-set {
    line-height: normal;
    vertical-align: sub;
}
.section-pad {
    padding: 5rem 0;
}
.section-title {
    margin-bottom: 3rem;
}

.main-header {
    background: $orange;
    a {
        text-decoration: none;
    }
    .navbar-brand {
        margin-right: 3rem;
    }
    .navbar-nav {
        .nav-item.active {
            .nav-link {
            }
        }
        .nav-link {
            text-transform: uppercase;
            color: #fff;
        }
    }
    .navbar-text {
        color: #fff;
        display: flex;
        align-items: center;
    }
    .tel {
        margin-left: 25px;
        font-size: 1.2rem;
        text-align: center;
        span {
            text-transform: uppercase;
            font-weight: 300;
            display: block;
            font-size: 0.7rem;
        }
    }
}

.main-banner {
    height: 600px;
    position: relative;
    img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    .banner-text {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        z-index: 2;
        margin: auto;
        background: rgba(#000,0.1);
        b {
            font-size: 4rem;
            color: $orange;
        }
        p {
            color: #fff;
            font-size: 1.5rem;
        }
    }
}

.intro-section {
    .text {
        font-size: 1.7rem;
    }
    .drug-search {
        font-size: 1.2rem;
    }
    .note {
        font-size: 0.8rem;
    }
    .alert-warning {
        font-size: 1rem;
        span {
            display: block;
            font-weight: 700;
        }
    }
}

.steps-to-access {
    background: lighten($orange, 45);
    .step-block {
        display: flex;
        align-items: center;
        span {
            font-size: 1.3rem;
        }
    }
    .step-num {
        flex: 0 0 auto;
        text-align: center;
        line-height: 46px;
        font-size: 1.5rem;
        display: block;
        width: 50px;
        height: 50px;
        border: 2px $orange solid;
        border-radius: 50%;
        font-weight: 700;
        margin-right: 1rem;
    }
}
.program-priority {
    .item {
        text-align: center;
        i.mdi {
            font-size: 4rem;
            color: $orange;
        }
        strong {
            display: block;
            color: $orange;
            font-size: 1.5rem;
            margin: 1rem 0;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

.footer-nav {
    background: rgb(88,76,74);
    color: #fff;
    .block-title {
        display: block;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    .custom-control {
        margin-bottom: 1rem;
        a {
            color: #fff;
        }
    }
    .links {
        list-style: none;
        padding: 0px;
        li {
            margin-bottom: 1.3rem;
        }
        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            &:hover {
                color: $orange;
            }
        }
        i.mdi {
            margin-top: -3px;
            margin-right: 0.5rem;
        }
    }
}
.footer-copy {
    padding: 2rem 0;
    background: rgb(41,36,35);
    p {
        margin: 0px;
    }
    .container {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0px;
        margin: 0px;
        li {
            border-left: 1px #fff solid;
            padding: 0 0.5rem;
            &:first-child {
                border: none;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: $orange;
            }
        }
    }
}
