* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
}

.divider {
    border-radius: 3px;
    margin: 70px auto;
    width: 60%;
    height: 3px;
    border: none;
    background: linear-gradient(to bottom, #a0d7ef 0%, #8dcbe7 100%);
}

body {
    background-color: #f0f1f2;
    background-image: url(../img/covid-bg.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    font-family: 'Bahnschrift';
}

.wrapper {
    margin: 0 auto;
    width: 1336px;
    padding: 0 15px;
}

.head-banner {
    margin: 30px 0;
}

.head-banner .bx-wrapper {
    box-shadow: none;
    border: none;
    margin: 0px;
}

.head-banner .item {
    position: relative;
}

.head-banner p {
    max-width: 60%;
    left: 15%;
    bottom: 15px;
    font-weight: 600;
    position: absolute;
    font-size: 40px;
    color: #fff;
    font-family: "Futura";
    text-shadow: 2px 3px 3px #00334b;
    z-index: 1;
}

.small-banner {
    margin-bottom: 20px;
    position: relative;
}

.small-banner img {
    vertical-align: middle;
}

.small-banner p {
    padding: 30px;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-shadow: 2px 2px 2px #00334b;
}

.look-at-home-navs .cols {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.look-at-home-navs .nav-col {
    width: calc(60% - 25px);
}

.look-at-home-navs .video-col {
    width: calc(40% - 25px);
}

.main-nav {
    padding: 90px;
    background: #d3eeff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    gap: 70px 70px;
}

.main-nav a:hover img {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.main-nav img {
    transition: all 0.3s;
}

.video-nav .icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 45px;
    width: 100px;
    height: 100px;
    border: 3px #fff solid;
    border-radius: 50%;
}

.video-nav .icon img {
    width: 100%;
}

.video-nav .item {
    padding: 20px 20px 20px 30px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: #d1beb7;
}

.video-nav .item:last-child {
    margin: 0px;
}

.video-nav .video-holder {
    height: 174px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.video-nav .video-holder a {
    height: 100%;
    display: block;
}

.video-nav .video-holder a iframe {
    pointer-events: none;
}

.section-full .section-title {
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
    background: #d3eeff;
}

.full-video-info {
    display: -ms-flexbox;
    display: flex;
}

.full-video-info .video-block {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #fff;
    padding: 15px;
    width: 40%;
    margin-right: 50px;
}

.full-video-info .video {
    height: 300px;
}

.full-video-info .name {
    display: block;
    font-size: 24px;
    margin: 15px 0;
}

.full-video-info .conts {
    color: #aaa;
    font-weight: 300;
}

.full-video-info .conts span:after {
    content: '';
    display: inline-block;
    font-size: 0px;
    height: 4px;
    width: 4px;
    background: #aaa;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 5px;
}

.full-video-info .conts span:last-child:after {
    display: none;
}

.video-info-text {
    padding-top: 25px;
    color: #1b4354;
    font-size: 28px;
}

.schedule-house {
    margin: 0 auto;
    width: 1000px;
    position: relative;
}

.schedule-table {
    position: absolute;
    bottom: 25px;
    left: 120px;
    width: 775px;
}

.schedule-table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px 8px;
}

.schedule-table td {
    cursor: pointer;
    background: #d8effa;
    border: 2px #80c3e2 solid;
    border-radius: 2px;
    height: 65px;
    color: #173d5e;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

.schedule-table td:not(.today):hover {
    background: #fff;
}

.schedule-table td b {
    margin-top: 10px;
    font-size: 38px;
    display: block;
    line-height: 25px;
    font-weight: 400;
}

.schedule-table td span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.schedule-table .today {
    background: #6a9eb5;
    color: #fff;
}

.today-programm {
    background: #d8effa;
    border: 10px #87c7e5 solid;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px #7daabe inset;
    position: absolute;
    width: 740px;
    top: 200px;
    left: 50%;
    margin-left: -363px;
    padding: 15px 25px;
}

.today-programm .close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
}

.today-programm .close:after, .today-programm .close:before {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -1px;
    height: 3px;
    width: 100%;
    background: #6a9eb5;
}

.today-programm .close:after {
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.today-programm .close:before {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.today-programm .date {
    text-align: center;
}

.today-programm .date .day {
    font-size: 60px;
    color: #7f98a5;
    display: block;
}

.today-programm .date .day-name {
    display: block;
    margin-top: -5px;
    font-size: 35px;
    color: #42a3cf;
}

.today-programm .programm-list {
    margin: 30px 0 70px;
}

.today-programm .programm-list .item {
    margin: 10px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.today-programm .programm-list .time {
    color: #173d5e;
    font-size: 48px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 15px;
}

.today-programm .programm-list .name {
    font-size: 35px;
    color: #173d5e;
}

.main-footer {
    min-width: 1366px;
    margin: 50px 0;
    padding: 25px 0;
    background: #fff;
    border-top: 4px #6fbbdd solid;
    border-bottom: 4px #6fbbdd solid;
}

.main-footer .partners {
    margin: 0 auto;
    max-width: 60%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.main-footer a {
    text-align: center;
    display: block;
}

.main-footer a:hover img {
    opacity: 0.8;
}

.main-footer img {
    transition: all 0.3s;
    vertical-align: middle;
    width: 70%;
}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        padding: 15px;
    }

    .main-footer {
        min-width: 0px;
    }

    .schedule-house {
        width: 100%;
    }

    .schedule-table {
        width: auto;
        top: 35%;
        left: 12%;
        bottom: 4%;
        right: 10.7%;
    }

    .schedule-table table {
        border-spacing: 3px 3px;
    }

    .schedule-table td {
        height: 6.8vw;
        border-width: 1px;
    }

    .schedule-table td b {
        margin-top: 0px;
        font-size: 3vw;
    }

    .schedule-table td span {
        font-size: 2vw;
    }

    .today-programm {
        width: auto;
        left: 0px;
        top: 33%;
        right: 0px;
        margin: 0px;
    }

    .today-programm .date .day {
        font-size: 6vw;
    }

    .today-programm .date .day-name {
        margin: 0px;
        font-size: 3vw;
    }

    .today-programm .programm-list {
        margin: 3vw 0 5vw;
    }

    .today-programm .programm-list .time {
        font-size: 6vw;
    }

    .today-programm .programm-list .name {
        font-size: 3.5vw;
    }

    .head-banner {
        margin: 0 0 15px 0;
    }

    .head-banner p {
        font-size: 3vw;
    }

    .small-banner {
        margin-bottom: 20px;
    }

    .small-banner p {
        padding: 15px;
        font-size: 2.7vw;
    }

    .look-at-home-navs .cols {
        display: block;
    }

    .look-at-home-navs .nav-col {
        width: auto;
        margin: 0 0 15px 0;
    }

    .look-at-home-navs .video-col {
        width: auto;
        margin: 0px;
    }

    .video-nav .item {
        margin-bottom: 15px;
    }

    .divider {
        margin: 30px auto;
    }

    .section-full .section-title {
        margin: 0px;
    }

    .section-full .section-title img {
        width: 40%;
    }

    .section-full .video-info-text {
        padding: 20px 15px;
        background: #fff;
        border-top: 1px #ccc solid;
    }

    .full-video-info {
        display: block;
    }

    .full-video-info .video-block {
        width: auto;
        margin: 0px;
    }

    .video-info-text {
        padding: 15px;
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .main-nav {
        padding: 40px;
        gap: 40px 40px;
    }

    .video-nav .item {
        padding: 15px 15px 15px 30px;
    }

    .video-nav .icon {
        width: 70px;
        height: 70px;
        margin-right: 30px;
    }

    .section-full .video-info-text {
        font-size: 16px;
    }

    .full-video-info .video {
        height: auto;
    }

    .full-video-info .name {
        font-size: 17px;
    }

    .full-video-info .conts {
        font-size: 12px;
    }

    .schedule-house .bg {
        display: none;
    }

    .today-programm {
        top: 0;
    }

    .schedule-table {
        position: static;
    }

    .schedule-table td {
        height: 11vw;
    }

    .schedule-table td span {
        margin-top: -5px;
    }

    .main-footer {
        margin: 30px 0 0 0;
    }

    .main-footer .partners {
        max-width: 100%;
    }

    .main-footer img {
        width: 70%;
    }
}
