/*xs*/
@media screen and (max-width: 768px) {
	.first-section h1 {
		font-size: 45px;
		span {
			font-size: 18px;
		}
	}
	.features {
		text-align: center;
	}
	.our-features {
		.fa {
			width: 130px;
			height: 130px;
			margin: 0 auto 30px;
			@include border-radius(50%);
			border:1px rgba($white, 0.5) solid;
			line-height: 130px;
			font-size: 40px;
			border-color: $green;
			@include float(none);
		}
	}
	.features-info {
		max-width: 300px;
		margin: 0 auto 40px;
	}
	.member-info {
		margin-bottom: 40px;
	}
	.address-info {
		text-align: center;
		margin-bottom: 30px;
	}
	.feedback-form h3 {
		text-align: center;
	}
	.feedback-social  {
		margin-top: 20px;
		a {
			display: inline-block;
			margin: 0 10px;
		}
	}
	.main-footer .created-by {
		margin-top: 30px;
	}
	.facts {
		background-position: center top !important;
	}
}
/*sm*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	.features {
		text-align: center;
	}
	.our-features {
		.fa {
			width: 130px;
			height: 130px;
			margin: 0 auto 30px;
			@include border-radius(50%);
			border:1px rgba($white, 0.5) solid;
			line-height: 130px;
			font-size: 40px;
			border-color: $green;
			@include float(none);
		}
	}
	.features-info {
		max-width: 300px;
		margin: 0 auto 40px;
	}
	.feedback-form h3 {
		text-align: center;
	}
	.feedback-social  {
		margin-top: 20px;
		a {
			display: inline-block;
			margin: 0 10px;
		}
	}
	.main-footer .created-by {
		margin-top: 30px;
	}
	.facts {
		background-position: center top !important;
	}
}
/*md*/
@media screen and (min-width: 992px) and  (max-width: 1200px) {

}
/*lg*/
@media screen and (min-width: 1200px) {

}