@media screen and (max-width:1500px){
}

@media screen and (max-width:1200px){
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:992px){
    :root {
        --space1:15px;
        --space2:15px;
        --space3:30px;
        --space4:45px;
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    /* --------------------------------- header --------------------------------- */
    .main-header {
        padding-top: 15px;
        padding-bottom: 15px;
        &__logo {
            width: 200px;
        }
        &__nav {
            display: none;
            margin: 0;
            left: 0px;
            top: 60px;
            position: fixed;
            background: black;
            height: calc(100% - 60px);
            width: 100%;
            padding: 30px 30px;
        }
        &__nav-link {
            display: block;
            color: white;
            margin-bottom: 15px;
        }
        &__burger {
            display: flex;
        }
    }
    .content-head {
        &__beggin {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px 0;
        }
    }
    /* -------------------------------- lots ------------------------------- */
    .lots-grid {
        grid-gap: 60px 30px;
    }
    /* ------------------------------- watchmakers ------------------------------ */
    .watchmakers-grid {
        grid-gap: 60px 30px;
    }
    /* --------------------------------- footer --------------------------------- */
    .main-footer {
        padding-top: 30px;
        padding-bottom: 30px;
        &__cols {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 30px;
        }
        &__copy {
            grid-column: 1 / 3 span;
        }
        &__space {
            display: none;
        }
    }
}

@media screen and (max-width:576px){
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* --------------------------------- header --------------------------------- */
    .main-header {
        padding-top: 15px;
        padding-bottom: 15px;
        &__logo {
            width: 200px;
        }
        &__nav {
            padding: 15px 15px;
            .button {
                bottom: 30px;
                right: 30px;
                left: 30px;
                position: absolute;
            }
        }
        &__nav-link {
            display: block;
            color: white;
            margin-bottom: 15px;
        }
        &__tool-btn {
            margin: 0 15px;
        }
        &__burger {
            display: flex;
            flex: 0 0 auto;
            width: 25px;
        }
    }
    /* ---------------------------------- index --------------------------------- */
    .start-timer {
        display: flex;
        flex: 0 0 auto;
        > span {
            font-size: 12px;
            line-height: 15px;
            margin: 6px 30px 0 0;
        }
        &__digs {
            gap: 0 15px;
        }
        &__digs-item {
            b {
                line-height: 40px;
                font-size: 16px;
                width: 40px;
                height: 40px;
                margin-bottom: 3px;
            }
            &_dots::before {
                font-size: 15px;
                left: -10px;
                line-height: 40px;
            }
            span {
                font-size: 10px;
            }
        }
    }
    /* ----------------------------------- ui ----------------------------------- */
    h1,.h1 {
        font-size: 40px;
        margin: 4rem 0 3rem;
    }
    h2,.h2 {
        font-size: 32px;
        margin: 3.5rem 0 2.5rem;
    }
    h3,.h3 {
        font-size: 28px;
        margin: 3rem 0 2rem;
    }
    h4,.h4 {
        font-size: 20px;
        margin: 2.5rem 0 1.5rem;
    }
    h5,.h5 {
        font-size: 16px;
        margin: 2rem 0 1rem;
    }
    /* ---------------------------------- index --------------------------------- */
    .more-brands-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 15px 30px;
        &__item {
            font-size: 15px;
        }
    }
    /* -------------------------------- lots ------------------------------- */
    .lots-grid {
        grid-gap: 30px 15px;
    }
    .lot-item {
        &__brand {
            font-size: 15px;
        }
    }
    /* ------------------------------- watchmakers ------------------------------ */
    .watchmakers-grid {
        grid-gap: 30px 15px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .watchmaker-item {
        &__name {
            font-size: 15px;
        }
    }
    /* --------------------------------- footer --------------------------------- */
    .main-footer {
        &__cols {
            grid-template-columns: auto auto;
            grid-gap: 30px;
        }
        &__copy {
            grid-column: 1 / 2 span;
        }
        &__title {
            margin-bottom: 15px;
        }
    }

    /* ----------------------------------- ui ----------------------------------- */

}
