/* --------------------------------- colors --------------------------------- */
.green-text {
    color: var(--green) !important;
}
.red-text {
    color: var(--red) !important;
}
.black-text {
    color: black !important
}
.white-text {
    color: white !important
}

.black-bg {
    background: black !important
}

/* --------------------------------- margins -------------------------------- */
.mb1 {
    margin-bottom: var(--space1) !important;
}
.mb2 {
    margin-bottom: var(--space2) !important;
}
.mb3 {
    margin-bottom: var(--space3) !important;
}
.mb4 {
    margin-bottom: var(--space4) !important;
}


.mt1 {
    margin-top: var(--space1) !important;
}
.mt2 {
    margin-top: var(--space2) !important;
}
.mt3 {
    margin-top: var(--space3) !important;
}
.mt4 {
    margin-top: var(--space4) !important;
}

.mt0 {
    margin-top: 0px !important
}
.mb0 {
    margin-bottom: 0px !important
}
/* ---------------------------------- align --------------------------------- */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
/* ---------------------------------- typo ---------------------------------- */
h1,.h1 {
    font-family: var(--america);
    font-weight: 900;
    font-size: 60px;
    margin: 4rem 0 3rem;
}
h2,.h2 {
    font-family: var(--america);
    font-weight: 500;
    font-size: 50px;
    margin: 3.5rem 0 2.5rem;
}
h3,.h3 {
    font-family: var(--america);
    font-weight: 500;
    font-size: 40px;
    margin: 3rem 0 2rem;
}
h4,.h4 {
    font-family: var(--america);
    font-weight: 500;
    font-size: 24px;
    margin: 2.5rem 0 1.333rem;
}
h5,.h5 {
    font-family: var(--america);
    font-weight: 500;
    font-size: 18px;
    margin: 2rem 0 1.333rem;
}

/* ----------------------------------- ui ----------------------------------- */
.button {
    $root: &;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    color: inherit;
    border: 1px transparent solid;
    cursor: pointer;
    transition: all 0.3s;
    &_icon {
        padding: 0;
        width: 50px;
        #{$root}__icon {
            font-size: 23px;
        }
    }
    &_medium {
        font-size: 14px;
        height: 40px;
        padding-left: 24px;
        padding-right: 24px;
    }
    &_small {
        font-size: 13px;
        height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        &#{$root}_icon {
            padding: 0px;
            width: 35px;
        }
    }
    &_black {
        &#{$root}_filled {
            background: black;
            color: white;
            &:hover {
                background: white;
                color: black;
                border: 1px var(--grey-line) solid;
            }
        }
        &#{$root}_outline {
            border: 1px var(--grey-line) solid;
            color: black;
            &:hover {
                border-color: black;
                background: black;
                color: white;
            }
        }
    }
    &_white {
        &#{$root}_filled {
            background: white;
            color: black;
            &:hover {
                background: black;
                color: white;
                border: 1px white solid;
            }
        }
        &#{$root}_outline {
            border: 1px white solid;
            color: white;
            &:hover {
                background: white;
                color: black;
            }
        }
    }
    &_green {
        &#{$root}_filled {
            background: var(--green);
            color: white;
            &:hover {
                background: white;
                color: var(--green);
                border: 1px var(--green) solid;
            }
        }
        &#{$root}_outline {
            border: 1px var(--green) solid;
            color: var(--green);
            &:hover {
                background: var(--green);
                color: white;
            }
        }
    }
    &_red {
        &#{$root}_filled {
            background: var(--red);
            color: white;
            &:hover {
                background: white;
                color: var(--red);
                border: 1px var(--red) solid;
            }
        }
        &#{$root}_outline {
            border: 1px var(--red) solid;
            color: var(--red);
            &:hover {
                background: var(--red);
                color: white;
            }
        }
    }
    &_full {
        width: 100%;
    }
    &__icon {
        font-size: 18px;
        &_left {
            margin-right: 8px;
        }
        &_right {
            margin-left: auto;
        }
    }
    
}

.dropdown {
    position: relative;
    &__list {
        display: none;
        border: 1px var(--grey-line) solid;
        width: 100%;
        top: 100%;
        left: 0px;
        position: absolute;
        background: #fff;
        z-index: 1;
    }
    &__link {
        font-weight: 500;
        display: block;
        text-decoration: none;
        padding: 15px 30px;
        transition: all 0.1s;
        &:hover {
            background: black;
            color: var(--green);
        }
    }
}

.field {
    height: 50px;
    margin: 0 0 30px 0;
    &:last-child {
        margin-bottom: 0;
    }
    &_textarea {
        height: 200px;
    }
    &__input {
        height: 100%;
        outline: none;
        width: 100%;
        background: none;
        border: none;
        border: 1px var(--grey-line) solid;
        padding-left: 30px;
        padding-right: 30px;
        font-weight: 500;
        &_textarea {
            padding-top: 15px;
            padding-bottom: 15px;
            resize: vertical;
        }
        &:focus {
            border-color: var(--green);
        }
    }
}

.modal {
    position: relative;
    background: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 45px 150px;
    &__header {
    }
    &__content {
        padding: 45px 0;
    }
    &__footer {

    }
    &__close {
        cursor: pointer;
        position: absolute;
        background: black !important;
        color: #fff;
        right: 15px;
        top: 15px;
        width: 40px;
        height: 40px;
        font-size: 24px;
        line-height: 1;
        opacity: 1;
        &:hover {
            background: var(--green) !important;
        }
        i.mdi {
            pointer-events: none;
        }
        &:active {
            top: 15px;
        }
    }
}
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }
  
  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
  
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }





.ui-card {
    padding: 1rem;
    background: #efefef;
}