@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(../font/font.css);

* {
    box-sizing: border-box;
}
/* ---------------------------------- vars ---------------------------------- */

:root {
    --inter: 'Inter', sans-serif;
    --america: 'GT America Extended';
    --grey-line: #B9B9B9;
    --grey-bg: #F2F2F2;
    --grey-text: #B0B0B0;
    --green: #25A46F;
    --red: red;
    --blue: blue;
    --space1:15px;
    --space2:30px;
    --space3:45px;
    --space4:60px;
}

body {
    font-family: var(--inter);
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
}

button, input, textarea {
    font-family: var(--inter);
}
a {
    color: inherit;
}
.container {
    padding-left: 80px;
    padding-right: 80px;
}
.main-content {
    padding-top: 80px;
    padding-bottom: 80px;
}
p {
    margin: 1rem 0;
}
/* ----------------------------------- ui ----------------------------------- */
@import 'ui';
/* --------------------------------- header --------------------------------- */
.main-header {
    top: 0px;
    position: sticky;
    display: flex;
    align-items: center;
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 10;
    &__logo {
        flex: 0 0 auto;
        width: 250px;
        img {
            vertical-align: middle;
        }
    }
    &__tools {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    &__nav {
        font-size: 15px;
        margin-left: 90px;
        display: flex;
        gap: 0px 35px;
        a {
            position: relative;
            text-decoration: none;
            color: #fff;
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0px;
                left: 0px;
                bottom: -5px;
                height: 1px;
                background: var(--green);
                transform: scale(1.3) translateY(10px);
                opacity: 0;
                transition: all 0.3s;
            }
            &:hover,
            &.main-header__nav-link_active {
                color: var(--green);
                &:after {
                    transform: scale(1) translateY(0px);
                    opacity: 1;
                    color: var(--green);
                }
            }
        }
    }
    &__tool-btn {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        margin-right: 30px;
        &:hover {
            color: var(--green);
        }
    }
    &__search {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: black;
        display: flex;
        align-items: center;
        transform: translateY(-100%);
        pointer-events: none;
        transition: all 0.3s;
        &_open {
            transform: translateY(0%);
            pointer-events: initial;
        }
    }
    &__search-filed {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        input {
            border: none;
            height: 50px;
            background: none;
            color: white;
            width: 100%;
            border-bottom: 1px solid white;
            outline: none;
            transition: all 0.3s;
            &:focus {
                border-bottom-color: var(--green);
            }
        }
    }
    &__search-close {
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: none;
        color: #fff;
        padding: 0px;
        font-size: 24px;
        transition: all 0.3s;
        &:hover {
            background: var(--green);
        }
    }

    &__burger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        width: 30px;
        height: 35px;
        padding: 3px 0px;
        justify-content: space-evenly;
        margin-right: 15px;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background: white;
            transition: all 0.3s;
        }
        &_active {
            span:nth-child(2) {
                transform: translateX(-20px);
                opacity: 0;
            }
            span:nth-child(1) {
                transform: rotate(45deg) translateY(11px);
            }
            span:nth-child(3) {
                transform: rotate(-45deg) translateY(-11px);
            }
        }
    }
}

/* ---------------------------------- index --------------------------------- */
.more-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    &::before,
    &::after {
        content: "";
        flex: 1 1 auto;
        display: block;
        height: 1px;
        background: var(--grey-line);
    }
    &__button {
        margin: 0 30px;
    }
}
.start-timer {
    display: flex;
    flex: 0 0 auto;
    > span {
        flex: 0 0 auto;
        font-family: var(--america);
        font-size: 15px;
        line-height: 20px;
        margin: 6px 30px 0 0;
    }
    &__digs {
        display: flex;
        align-items: center;
        gap: 0 30px;
    }
    &__digs-item {
        text-align: center;
        position: relative;
        b {
            line-height: 50px;
            font-size: 20px;
            font-weight: 800;
            display: block;
            width: 50px;
            height: 50px;
            background: var(--grey-bg);
            margin-bottom: 3px;
        }
        &_dots::before {
            content: ":";
            font-size: 20px;
            font-weight: 800;
            position: absolute;
            left: -18px;
            line-height: 50px;
        }
        span {
            font-size: 12px;
        }
    }
}
.content-head {
    &__subtitle {
        margin: 0;
    }
    &__title {
        margin: 0;
        span {
            display: inline-block;
        }
    }
    &__beggin {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        margin: 30px 0 0 0;
    }
}
.main-banner {
    img {
        width: 100%;
    }
}
.more-brands-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px 3vw;
    &__item {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }
    a {
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            color: var(--green);
        }
    }
}

/* -------------------------------- lots ------------------------------- */
.lots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 4vw 3vw;
}
.lot-item {
    $root: &;
    &__body {
        position: relative;
        margin-bottom: 15px;
    }
    &__image {
        position: relative;
        display: block;
        border: 1px var(--grey-line) solid;
        overflow: hidden;
        img {
            width: 100%;
            vertical-align: middle;
            transition: opacity 0.3s;
        }
        #{$root}__upper-image {
            left: 0px;
            top: 0px;
            position: absolute;
            width: 100%;
            z-index: 1;
            opacity: 0;
            transition: all 1s;
        }
        &:hover {
            #{$root}__upper-image {
                opacity: 1;
            }
        }
    }
    &__favorite {
        cursor: pointer;
        font-size: 24px;
        padding: 0px;
        position: absolute;
        bottom: 25px;
        right: 30px;
        background: none;
        color: black;
        border: none;
    }
    &__brand {
        font-size: 16px;
        margin: 0;
        font-weight: 500;
        a {
            text-decoration: none;
            &:hover {
                color: var(--green);
            }
        }
    }
    &__name {
        font-size: 13px;
        margin-top: 5px;
    }
    &__bids {
        margin-top: 15px;
    }
    &__price {
        font-size: 14px;
        display: inline-block;
        font-weight: 700;
        line-height: 35px;
        background: var(--grey-bg);
        padding: 0 30px;
    }
    &__bids {
        display: flex;
        align-items: center;
    }
    &__bids-count {
        font-size: 13px;
        margin-left: 30px;
        &:hover {
            text-decoration: none;
        }
    }
}

/* ------------------------------- watchmakers ------------------------------ */
.watchmakers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 3vw 2vw;
}

.watchmaker-item {
    $root: &;
    text-decoration: none;
    &__image {
        margin-bottom: 15px;
        img {
            width: 100%;
            vertical-align: middle;
            filter: grayscale(100%);
            transition: all 0.3s;
        }
    }
    &__name {
        margin: 0;
        font-size: 16px;
    }
    &__position {
        font-size: 13px;
        margin-top: 5px;
        color: var(--grey-text);
    }
    &:hover {
        color: var(--green);
        #{$root}__image {
            img {
                filter: grayscale(0%);
            }
        }
    }
}


/* --------------------------------- footer --------------------------------- */
.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: black;
    color: white;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-gap: 15px 4vw;
    &__title {
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        margin-bottom: 30px;
    }
    &__link {
        margin-bottom: 10px;
        line-height: 20px;
        text-decoration: none;
        display: block;
        color: var(--grey-text);
        &:hover {
            color: var(--green);
        }
    }
    &_adress {
        font-style: normal;
        line-height: 27px;
        color: var(--grey-text);
    }
    &__copy {
        grid-column: 4 / 3 span; 
    }
    &__social-link {
        font-size: 24px;
        color: var(--grey-text);
        &:hover {
            color: var(--green);
        }
    }
} 



/* ------------------------------- responsive ------------------------------- */
@import 'responsive';