@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(../font/font.css);

* {
    box-sizing: border-box;
}
/* ---------------------------------- vars ---------------------------------- */

:root {
    --inter: 'Inter', sans-serif;
    --america: 'GT America Extended';
    --grey-line: #B9B9B9;
    --grey-bg: #F2F2F2;
    --grey-text: #B0B0B0;
    --green: #25A46F;
    --red: red;
    --blue: blue;
    --space1:15px;
    --space2:30px;
    --space3:45px;
    --space4:60px;
}

body {
    font-family: var(--inter);
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
}

button, input, textarea {
    font-family: var(--inter);
}
hr {
    width: 100%;
    border: none;
    height: 10px;
    background: black;
}
a {
    color: inherit;
    &:hover {
        color: var(--green);
    }
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    &_full {
        max-width: 100%;
    }
}
.main-content {
    padding-top: 45px;
    padding-bottom: 90px;
}
p {
    line-height: 1.5;
    margin: 25px 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
blockquote {
    margin: 30px 0;
    border-left: 10px solid black;
    line-height: 1.5;
    padding-left: 45px;
    font-size: 18px;
}
/* ----------------------------------- ui ----------------------------------- */
@import 'ui';
/* --------------------------------- header --------------------------------- */
.main-header {
    top: 0px;
    position: sticky;
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    z-index: 10;
    &__cols {
        display: flex;
        align-items: center;
    }
    &__logo {
        flex: 0 0 auto;
        width: 250px;
        img {
            vertical-align: middle;
        }
    }
    &__tools {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    &__nav {
        font-size: 15px;
        margin-left: 90px;
        display: flex;
        gap: 0px 35px;

    }
    &__nav-link {
        position: relative;
        text-decoration: none;
        color: #fff;
        &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0px;
            left: 0px;
            bottom: -5px;
            height: 1px;
            background: var(--green);
            transform: scale(1.3) translateY(10px);
            opacity: 0;
            transition: all 0.3s;
        }
        &:hover,
        &.main-header__nav-link_active {
            color: var(--green);
            &:after {
                transform: scale(1) translateY(0px);
                opacity: 1;
                color: var(--green);
            }
        }
    }

    &__tool-btn {
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        margin-right: 30px;
        &:hover {
            color: var(--green);
        }
        span {
            display: none;
        }
    }
    &__search {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: black;
        transform: translateY(-100%);
        pointer-events: none;
        transition: all 0.3s;
        &_open {
            transform: translateY(0%);
            pointer-events: initial;
        }
        .container {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
    &__search-filed {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        input {
            border: none;
            height: 50px;
            background: none;
            color: white;
            width: 100%;
            border-bottom: 1px solid white;
            outline: none;
            transition: all 0.3s;
            &:focus {
                border-bottom-color: var(--green);
            }
        }
    }
    &__search-close {
        border: none;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: none;
        color: #fff;
        padding: 0px;
        font-size: 24px;
        transition: all 0.3s;
        &:hover {
            background: var(--green);
        }
    }

    &__burger {
        display: none;
        flex-direction: column;
        cursor: pointer;
        width: 30px;
        height: 35px;
        padding: 3px 0px;
        justify-content: space-evenly;
        margin-right: 15px;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background: white;
            transition: all 0.3s;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(3) {
                bottom: 0;
            }
        }
        &_active {
            span:nth-child(2) {
                transform: translateX(-20px);
                opacity: 0;
            }
            span:nth-child(1) {
                transform: rotate(45deg);
                position: relative;
                top: 7px;
            }
            span:nth-child(3) {
                transform: rotate(-45deg);
                position: relative;
                bottom: 7px;
            }
        }
    }
}

/* ---------------------------------- index --------------------------------- */
.start-timer {
    display: flex;
    flex: 0 0 auto;
    > span {
        flex: 0 0 auto;
        font-family: var(--america);
        font-size: 15px;
        line-height: 20px;
        margin: 6px 30px 0 0;
    }
    &__digs {
        display: flex;
        align-items: center;
        gap: 0 30px;
    }
    &__digs-item {
        text-align: center;
        position: relative;
        b {
            line-height: 50px;
            font-size: 18px;
            font-weight: 500;
            display: block;
            width: 50px;
            height: 50px;
            background: var(--grey-bg);
            margin-bottom: 3px;
        }
        &_dots::before {
            content: ":";
            font-size: 20px;
            font-weight: 800;
            position: absolute;
            left: -18px;
            line-height: 50px;
        }
        span {
            font-size: 12px;
        }
    }
}
.more-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    &::before,
    &::after {
        content: "";
        flex: 1 1 auto;
        display: block;
        height: 1px;
        background: var(--grey-line);
    }
    &__button {
        margin: 0 30px;
    }
}
.main-hero {
    position: relative;
    height: calc(100vh - 97px);
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(247,247,247,0) 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    }
    &__down {
        position: absolute;
        bottom: 30px;
        left: 50%;
        color: #fff;
        z-index: 1;
        font-size: 50px;
        margin-left: -25px;
        opacity: 1;
        animation: DownArr 2s infinite;
    }
    &__video {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 0 50px;
        position: relative;
        z-index: 1;
    }
    &__timer {
        margin-left: auto;
        b {
            background: black;
            color: #fff;
        }
    }
    &__title {
        color: white;
    }
}
@keyframes DownArr {
    0% {
        opacity: 0;
        transform: translateY(0px)
    }
    80% {
        opacity: 1;
        transform: translateY(30px)
    }
    100% {
        opacity: 0;
        transform: translateY(30px)
    }

    
}
.content-head {
    &__subtitle {
        margin: 0;
    }
    &__title {
        margin: 0px 0;
        span {
            display: inline-block;
        }
    }
    &__beggin {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title-w-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        margin: 30px 0 0 0;
    }
}
.more-brands-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px 30px;
    &__item {
        margin: 0;
        font-size: 16px;
    }
    a {
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            color: var(--green);
        }
    }
}

/* -------------------------------- lots ------------------------------- */
.lots-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 60px 50px;
}
.lot-item {
    $root: &;
    &__body {
        position: relative;
        margin-bottom: 15px;
    }
    &__upper-image {
        left: 0px;
        top: 0px;
        position: absolute;
        width: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.5s;
    }
    &__image {
        position: relative;
        display: block;
        border: 1px var(--grey-line) solid;
        overflow: hidden;
        img {
            width: 100%;
            vertical-align: middle;
        }
        
        &:hover {
            #{$root}__upper-image {
                opacity: 1;
            }
        }
    }
    &__brand {
        font-size: 16px;
        margin: 0;
        a {
            text-decoration: none;
            &:hover {
                color: var(--green);
            }
        }
    }
    &__name {
        font-size: 13px;
        margin-top: 5px;
    }
    &__bids {
        margin-top: 15px;
    }
    &__price {
        font-size: 14px;
        display: inline-block;
        font-weight: 700;
        line-height: 35px;
        background: var(--grey-bg);
        padding: 0 30px;
    }
    &__bids {
        display: flex;
        align-items: center;
    }
    &__bids-count {
        font-size: 13px;
        margin-left: 30px;
        &:hover {
            text-decoration: none;
        }
    }
}

/* ------------------------------- watchmakers ------------------------------ */
.watchmakers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    grid-gap: 50px;
    &_6x {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}

.watchmaker-item {
    $root: &;
    text-decoration: none;
    &__image {
        margin-bottom: 15px;
        img {
            width: 100%;
            vertical-align: middle;
            filter: grayscale(100%);
            transition: all 0.3s;
        }
    }
    &__name {
        margin: 0;
        font-size: 16px;
    }
    &__position {
        font-size: 13px;
        margin-top: 5px;
        color: var(--grey-text);
    }
    &:hover {
        color: var(--green);
        #{$root}__image {
            img {
                filter: grayscale(0%);
            }
        }
    }
}

.watchmakers-filter {
    display: flex;
    align-items: center;
    gap: 30px;
}

.alphabet {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
        cursor: pointer;
        font-family: var(--america);
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0.5;
        &:hover,
        &.mixitup-control-active {
            opacity: 1;
        }
    }
}
/* ---------------------------------- blog ---------------------------------- */
.blog-item {
    display: flex;
    flex-direction: column;
    border: 1px var(--grey-line) solid;
    padding: 20px;
    min-height: 160px;
    text-decoration: none;
    transition: all 0.3s;
    &__title {
        font-size: 15px;
        margin: 0 0 5px 0;
    }
    &__text {
        font-size: 13px;
    }
    &__date {
        display: flex;
        align-items: center;
        margin-top: auto;
        font-size: 12px;
        i.mdi {
            font-size: 15px;
            margin-right: 5px;
        }
    }
    &:hover {
        color: white;
        background: black;
        border-color: black;
    }
}
/* ------------------------------- watchmaker ------------------------------ */
.watchmaker {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 0 200px;
    &__contact {
        line-height: 1.5;
        a {
            text-decoration: none;
        }
    }
    &__social {
        display: flex;
        gap: 10px;
        margin: 5px 0 0 0;
        font-size: 24px;
    }
    &__blogs {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}
.iconic-models {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.collapse-content-btn {
    display: none;
}
/* ---------------------------------- item ---------------------------------- */
.lot-nav {
    display: flex;
    gap: 15px;
    &_back {
        margin-right: auto;
    }
}
.lot-gallery {
    img {
        width: 100%;
        vertical-align: middle;
    }
    &__next,
    &__prev {
        position: absolute;
        display: flex;
        top: 0px;
        width: 50px;
        height: 100%;
        background: black;
        color: white;
        cursor: pointer;
        z-index: 2;
        &.swiper-button-disabled {
            opacity: 0;
            pointer-events: none;
        }
        &:hover {
            background: var(--green);
        }
        .mdi {
            font-size: 32px;
            margin: auto;
        }
    }
    &__prev {
        left: 0;
    }
    &__next {
        right: 0;
    }
}
.special-note {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    font-family: var(--inter);
    font-size: 13px;
    line-height: 24px;
    gap: 5px;
    i.mdi {
        font-size: 22px;
    }
}
.lot-info {
    display: grid;
    grid-template-columns: 1fr 440px;
    grid-gap: 0 100px;
    
}
.lot-values {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        strong {
            font-family: var(--america);
            font-size: 24px;
        }
    }
    &__bids {
        border: 1px var(--grey-line) solid;
        font-size: 12px;
        padding: 5px 10px;
    }
}
.lot-bids-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: 30px;
}
.lot-video {
    video {
        width: 100%;
    }
}
.lot-descr {
    display: grid;
    grid-template-columns: 1fr 440px;
    grid-gap: 0 100px;
}
.lot-specification-table {
    border-collapse: collapse;
    td {
        font-size: 14px;
        line-height: 1.5;
        vertical-align: top;
        padding-bottom: 15px;
        padding-right: 20px;
    }
    td:first-child {
        font-weight: 600;
    }
}
.lot-maker {
    display: grid;
    grid-template-columns: 1fr 440px;
    grid-gap: 0 100px;
}
.lot-maker-user {
    display: flex;
    gap: 30px;
    &__image {
        width: 100px;
        img {
            width: 100%;
            filter: grayscale(100%);
        }
    }
    h5 {
        font-size: 20px;
        margin: 0 0 7px;
    }
    span {
        display: block;
        margin-bottom: 22px;
    }
}
/* ------------------------------ participation ----------------------------- */
.steps-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    counter-reset: my-awesome-counter;
    list-style: none;
    padding: 0px;
    &__item {
        font-family: var(--america);
        counter-increment: my-awesome-counter;
        display: flex;
        align-items: center;
        line-height: 20px;
        font-size: 18px;
        font-weight: 500;
        &:before {
            font-family: var(--america);
            flex: 0 0 auto;
            font-size: 28px;
            display: block;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            text-align: center;
            line-height: 50px;
            background: black;
            color: #fff;
            content: counter(my-awesome-counter);
        }
    }
}
.participation-btns {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px
}
.participation-options {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    line-height: 1.3;
    div {
        padding: 0 20% 0 0;
    }
    hr {
        grid-column: 3 span;
    }
}
.profits-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10%;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        div {
            min-height: 100px;
            display: flex;
            align-items: center;
        }
        h5 {
            margin: 15px 0 10px 0;
        }
        span {
            font-size: 12px;
            line-height: 1.4;
        }
    }
}
/* --------------------------------- footer --------------------------------- */
.main-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: black;
    color: white;
    &__cols {
        display: grid;
        grid-template-columns: auto auto 1fr auto auto;
        grid-gap: 15px 4vw;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 500;
        display: block;
        margin-bottom: 30px;
    }
    &__link {
        font-size: 13px;
        margin-bottom: 10px;
        line-height: 20px;
        text-decoration: none;
        display: block;
        color: var(--grey-text);
        &:hover {
            color: var(--green);
        }
    }
    &_adress {
        font-size: 13px;
        font-style: normal;
        line-height: 27px;
        color: var(--grey-text);
    }
    &__copy {
        grid-column: 4 / 3 span;
        font-size: 13px;
    }
    &__social-link {
        font-size: 24px;
        color: var(--grey-text);
        &:hover {
            color: var(--green);
        }
    }
}


/* --------------------------------- modals --------------------------------- */
.earn-calculate-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    &__line {
        display: grid;
        grid-template-columns: 1fr 1fr 200px;
        gap: 15px;
        align-items: center;
        color: var(--grey-text);
    }
}
.earn-calculate-table {
    border-collapse: collapse;
    border-spacing:0;
    width: 100%;
    td {
        font-family: var(--america);
        padding: 15px 0;
    }
    th {
        font-size: 10px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    td:not(:first-child) {
        border-top: 1px var(--grey-line) solid;
    }
}


/* ------------------------------- responsive ------------------------------- */
@import 'responsive';