@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(../font/font.css);

* {
    box-sizing: border-box;
}
/* ---------------------------------- vars ---------------------------------- */

:root {
    --inter: 'Inter', sans-serif;
    --america: 'GT America Extended';
    --grey-line: #B9B9B9;
    --green: #25A46F;
    --red: red;
    --blue: blue;
    --space1:0.5rem;
    --space1:1rem;
    --space3:2rem;
    --space4:3rem;
}

body {
    font-family: var(--inter);
    font-size: 15px;
    line-height: 1;
}

button, input, textarea {
    font-family: var(--inter);
}
.container {
    padding-left: 80px;
    padding-right: 80px;
}
p {
    margin: 1rem 0;
}
/* --------------------------------- header --------------------------------- */
.main-header {
    display: flex;
    align-items: center;
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    &__logo {
        width: 300px;
    }
    &__tools {
        margin-left: auto;
    }
}

@import 'ui';