@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic");

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: #d6a13d;
    text-decoration: underline;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

.bg-overlay {
    min-width: 1140px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: 1;
}

.bg-overlay img {
    position: absolute;
    top: 0px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.wrap {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 35px;
    z-index: 10;
}

.spacer {
    height: 450px;
}

/********************header***********************/
.main-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 25px;
}

.main-header .logo {
    margin-top: 30px;
}

.main-header .logo img {
    vertical-align: middle;
}

.main-header .radio-wave {
    margin-top: 44px;
    vertical-align: middle;
}

.main-header .squad {
    margin-top: 15px;
}

.main-header .squad a {
    color: #fff;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.2s;
}

.main-header .squad a:hover {
    color: #e9ba00;
}

.main-header .squad img {
    margin-right: 4px;
}

.main-header .squad span {
    font-size: 11px;
    line-height: 14px;
}

.main-header .contact a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.main-header .telephones {
    text-align: right;
}

.main-header .telephones .main {
    font-size: 15px;
}

.main-header .telephones .main img {
    vertical-align: middle;
    margin-right: 5px;
}

.main-header .telephones .main strong {
    font-size: 21px;
    font-weight: 500;
}

.main-header .telephones .free {
    font-size: 13px;
}

.main-header .links {
    margin-top: 2px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}

.main-header .links a {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    height: 29px;
    margin-top: 3px;
    width: 160px;
    border: 2px #fff solid;
    text-align: center;
    line-height: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.main-header .links a:hover {
    border-color: #fe9b00;
    color: #fe9b00;
}

/********************main-nav********************/
.main-nav {
    margin-top: 17px;
}

.main-nav-links {
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

.main-nav-links:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 3px;
    background: #e9ba00;
    width: 100%;
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.main-nav-links a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 0 35px;
    text-align: center;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    height: 60px;
    z-index: 1;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.main-nav-links a:hover {
    color: #e9ba00;
}

.main-nav-links a:hover span {
    color: #fff;
}

.main-nav-links a:after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    height: 100%;
    width: 2px;
    box-shadow: 2px 3px 1px 0px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #e9ba00 0%, #e9ba00 30%, rgba(125, 185, 232, 0) 100%);
}

.main-nav-links a:last-child:after {
    display: none;
}

.main-nav-links a span {
    color: #e9ba00;
    font-size: 10px;
}

/********************second-nav********************/
.services-nav {
    margin-bottom: 12px;
}

.services-nav-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services-nav-links a {
    width: calc(25% - 2px);
    height: 88px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border: 4px #e9ba00 solid;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding-left: 35px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.services-nav-links a .hover-ico {
    display: none;
}

.services-nav-links a span {
    line-height: 16px;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    border-left: 4px #e9ba00 solid;
    margin-left: 10px;
    padding-left: 10px;
}

.services-nav-links a:hover {
    color: #e9ba00;
}

.services-nav-links a:hover img {
    display: none;
}

.services-nav-links a:hover .hover-ico {
    display: inline;
}

/********************main-content********************/
.block-title {
    border-bottom: 4px #e9ba00 solid;
    padding: 17px 30px 12px 40px;
}

.block-title strong {
    font-size: 16px;
    color: #616161;
}

.main-content {
    background: rgba(255, 255, 255, 0.9);
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
}

.main-content .content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    padding-bottom: 90px;
}

.main-content .content .block-title {
    display: inline-block;
}

.main-content .content .link-more {
    width: 288px;
}

.main-content .side-bar {
    margin-left: 20px;
    -ms-flex: 0 0 334px;
    flex: 0 0 334px;
    position: relative;
    padding-bottom: 90px;
}

.main-content .side-bar .link-more {
    display: block;
    margin-right: 20px;
}

.main-content .action {
    padding: 30px 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.link-more {
    display: inline-block;
    height: 36px;
    border: 2px transparent solid;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: none;
    padding-left: 32px;
    padding-right: 32px;
    transition: all 0.1s;
}

.link-more.yellow {
    border-color: #e9ba00;
    color: #e9ba00;
}

.link-more.yellow:hover {
    background: #e9ba00;
    color: #fff;
}

.link-more.black {
    border-color: #616161;
    color: #616161;
}

.link-more.black:hover {
    background: #616161;
    color: #fff;
}

.catalog-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.catalog-item {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.333%;
    padding: 20px;
    color: #565555;
    text-decoration: none;
}

.catalog-item .product-info {
    padding-left: 20px;
}

.catalog-item .product-img {
    margin-bottom: 10px;
}

.catalog-item .product-img img {
    max-width: 100%;
    transition: all 0.4s;
}

.catalog-item .product-name {
    font-size: 16px;
    text-decoration: underline;
}

.catalog-item .product-description {
    font-size: 14px;
    font-weight: 300;
    color: #616161;
    display: block;
    margin: 3px 0;
}

.catalog-item .price strong {
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
}

.catalog-item:hover .product-img img {
    -ms-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.catalog-item:hover .product-name {
    color: #e9ba00;
}

.catalog-item:hover .price strong {
    color: #e9ba00;
}

.news-list {
    padding-right: 20px;
}

.news-item {
    padding: 20px 0px 15px 0;
    border-top: 1px #c1bfbf solid;
}

.news-item:first-child {
    border-top: none;
}

.news-item .head {
    margin-bottom: 20px;
}

.news-item .head h3 {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.news-item .head a {
    color: #616161;
}

.news-item .head a:hover {
    color: #e9ba00;
}

.news-item .body {
    margin-bottom: 10px;
    overflow: hidden;
}

.news-item .body img {
    float: left;
    margin: 0 11px 11px 0;
}

.news-item .body p {
    line-height: 1.4;
    font-size: 13px;
    font-weight: 300;
}

.news-item .footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.news-item .footer .date {
    font-size: 13px;
}

.news-item .footer a {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.news-item .footer a:hover {
    text-decoration: none;
}

/********************partners***********************/
.partners {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    border: 4px #e9ba00 solid;
    padding: 30px 0;
    margin-bottom: 22px;
}

/********************filials*************************/
.affiliates {
    margin-bottom: 20px;
    padding: 0 35px;
    position: relative;
}

.affiliates .prev, .affiliates .next {
    padding: 15px;
    margin-top: -23px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.affiliates .prev div, .affiliates .next div {
    display: block;
    width: 0px;
    height: 0px;
    border-top: 7px transparent solid;
    border-bottom: 7px transparent solid;
}

.affiliates .next {
    right: 0px;
}

.affiliates .next div {
    border-left: 9px #fff solid;
}

.affiliates .next:hover div {
    border-left-color: #e9ba00;
}

.affiliates .prev {
    left: 0px;
}

.affiliates .prev div {
    border-right: 9px #fff solid;
}

.affiliates .prev:hover div {
    border-right-color: #e9ba00;
}

.affiliates .bx-wrapper {
    margin: 0px;
    box-shadow: none;
    border: none;
    background: none;
}

/********************footer***************************/
.main-footer {
    overflow: hidden;
    padding: 0 15px;
}

.main-footer .social {
    float: left;
    margin-top: 2px;
}

.main-footer .social a {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}

.main-footer .metrik {
    margin-left: 10px;
    float: left;
}

.main-footer .copy {
    float: right;
    color: #fff;
    text-align: right;
}

.main-footer .copy p {
    font-size: 10px;
}
