* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  background: #001B3A;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
}

.video-bg {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.video-bg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (-ms-ime-align: auto) {
  .video-bg video {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .video-bg video {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
}

.wrap {
  position: absolute;
  height: 100%;
  min-height: 700px;
  width: 100%;
  left: 0px;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.head {
  padding-top: 60px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.head .logo {
  margin: auto;
  max-width: 390px;
  display: block;
}

.head .logo img {
  max-width: 100%;
}

.head img {
  vertical-align: middle;
}

.head h1 {
  margin: 15px 0 6px;
  display: inline-block;
  color: #0078ff;
  font-size: 18px;
  font-family: 'Conv_Gotham-Bold';
}

.head .dot {
  vertical-align: middle;
  margin: 0 5px;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #0078ff;
}

.head .sub-title {
  letter-spacing: 2px;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equalizer {
  font-size: 0px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.equalizer .bar {
  display: inline-block;
  height: 22px;
  width: 2px;
  margin: 0 1px;
  background-image: repeating-linear-gradient(0deg, white 0px, white 2px, transparent 2px, transparent 4px);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: 0.8s BarMove linear infinite;
          animation: 0.8s BarMove linear infinite;
}

.equalizer .bar:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.equalizer .bar:nth-child(2) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.equalizer .bar:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.equalizer .bar:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.equalizer .bar:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.equalizer .bar:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.equalizer.off .bar {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.pleer {
  margin: auto 0 auto;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.5) translateY(-200%);
          transform: scale(0.5) translateY(-200%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pleer .volume {
  display: inline-block;
  vertical-align: middle;
  margin-right: 90px;
}

.pleer .volume .button-name {
  left: -100px;
}

.pleer .play-btn {
  display: inline-block;
  vertical-align: middle;
}

.pleer .play-btn .button-name {
  right: -80px;
}

.pleer.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  -webkit-transition-delay: 12s;
          transition-delay: 12s;
}

.button-name {
  color: #0078ff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.play-btn {
  width: 104px;
  height: 104px;
  position: relative;
  cursor: pointer;
}

.play-btn .base {
  width: 100%;
  height: 100%;
  background-image: url(../img/play-btn.png);
}

.play-btn:before, .play-btn:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.play-btn:before {
  background-image: url(../img/play-ico.png);
}

.play-btn:after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-image: url(../img/pause-ico.png);
}

.play-btn.active .base {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.play-btn.active:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.play-btn.active:before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.volume {
  width: 200px;
  height: 200px;
  position: relative;
}

.volume.active .light {
  opacity: 1;
}

.volume .knob {
  width: 200px;
  height: 200px;
  position: relative;
}

.volume .base {
  width: 100%;
  height: 100%;
  background-image: url(../img/base.png);
}

.volume .knob-rotate {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.volume .knob-rotate .knob-inner {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.volume .ring {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/knob.png");
  background-repeat: no-repeat;
  background-position: center;
}

.volume .light {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/light.png");
  background-repeat: no-repeat;
  background-position: 50% 45px;
}

.volume .scale {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-136deg);
          transform: rotate(-136deg);
}

.volume .scale .item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.volume .scale .item.active:after {
  background: #0078ff;
  color: #0078ff !important;
}

.volume .scale .item:first-child:after {
  content: "0";
  color: #000;
  background: none;
  height: auto;
  width: auto;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.volume .scale .item:last-child:after {
  content: "100";
  color: #fff;
  background: none;
  height: auto;
  width: auto;
  font-size: 14px;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
}

.volume .scale .item:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  top: -15px;
  left: 50%;
  font-size: 12px;
}

.timing {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.track-info {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 40px;
}

.track-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px 0 10px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.track-text .track-text-inner {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: 10s TextMove linear infinite;
          animation: 10s TextMove linear infinite;
}

.track-text .artist {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 500;
  margin-right: 10px;
}

.track-text .name {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-weight: 300;
}

.footer {
  right: 30px;
  bottom: 30px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .info-btn {
  position: relative;
  margin-top: 15px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 2px #fff;
          box-shadow: 0 0 0 2px #fff;
  border: 4px #000 solid;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer .info-btn .icon {
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#40444d), to(#24212c));
  background: linear-gradient(to bottom, #40444d 0%, #24212c 100%);
  display: block;
  text-align: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  color: #000;
  line-height: 34px;
  -webkit-box-shadow: 0 -1px 3px 0px #fff;
          box-shadow: 0 -1px 3px 0px #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .info-btn .mdi {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .info-btn .text {
  top: -3px;
  right: 50px;
  background: #24212c;
  color: #fff;
  position: absolute;
  padding: 10px 20px;
  z-index: -1;
  border-radius: 30px;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  white-space: nowrap;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .info-btn .text a {
  text-decoration: none;
  color: inherit;
}

.footer .info-btn:hover .text {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.footer .info-btn:hover:nth-child(1) i {
  color: #03a9f4;
  text-shadow: 0 0 7px #03a9f4;
}

.footer .info-btn:hover:nth-child(1) .text {
  color: #03a9f4;
  text-shadow: 0 0 7px #03a9f4;
}

.footer .info-btn:hover:nth-child(2) i {
  color: #ff5722;
  text-shadow: 0 0 7px #ff5722;
}

.footer .info-btn:hover:nth-child(2) .text {
  color: #ff5722;
  text-shadow: 0 0 7px #ff5722;
}

.footer .info-btn:hover .icon {
  -webkit-box-shadow: 0 1px 3px 0px #eee;
          box-shadow: 0 1px 3px 0px #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#24212c), to(#40444d));
  background: linear-gradient(to bottom, #24212c 0%, #40444d 100%);
}

.footer .to-hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .to-hide:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.footer .to-hide:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.footer .to-hide:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.footer .to-hide:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.footer .to-hide:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.footer .to-hide:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.footer .to-hide:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.footer .show-more {
  cursor: pointer;
}

.users-count {
  background: #fff;
  color: #000;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  white-space: nowrap;
  right: 60px;
}

.users-count > img {
  padding: 2px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.users-count .fas {
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  color: #ff5722;
}

.users-count span {
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  padding: 0 10px 0 5px;
}

.to-hide.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.to-hide.show:nth-child(1) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.to-hide.show:nth-child(2) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.to-hide.show:nth-child(3) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.to-hide.show:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.to-hide.show:nth-child(5) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.to-hide.show:nth-child(6) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.to-hide.show:nth-child(7) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.scale .item:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.scale .item:nth-child(2) {
  -webkit-transform: rotate(13.5deg);
          transform: rotate(13.5deg);
}

.scale .item:nth-child(3) {
  -webkit-transform: rotate(27deg);
          transform: rotate(27deg);
}

.scale .item:nth-child(4) {
  -webkit-transform: rotate(40.5deg);
          transform: rotate(40.5deg);
}

.scale .item:nth-child(5) {
  -webkit-transform: rotate(54deg);
          transform: rotate(54deg);
}

.scale .item:nth-child(6) {
  -webkit-transform: rotate(67.5deg);
          transform: rotate(67.5deg);
}

.scale .item:nth-child(7) {
  -webkit-transform: rotate(81deg);
          transform: rotate(81deg);
}

.scale .item:nth-child(8) {
  -webkit-transform: rotate(94.5deg);
          transform: rotate(94.5deg);
}

.scale .item:nth-child(9) {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}

.scale .item:nth-child(10) {
  -webkit-transform: rotate(121.5deg);
          transform: rotate(121.5deg);
}

.scale .item:nth-child(11) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.scale .item:nth-child(12) {
  -webkit-transform: rotate(148.5deg);
          transform: rotate(148.5deg);
}

.scale .item:nth-child(13) {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}

.scale .item:nth-child(14) {
  -webkit-transform: rotate(175.5deg);
          transform: rotate(175.5deg);
}

.scale .item:nth-child(15) {
  -webkit-transform: rotate(189deg);
          transform: rotate(189deg);
}

.scale .item:nth-child(16) {
  -webkit-transform: rotate(202.5deg);
          transform: rotate(202.5deg);
}

.scale .item:nth-child(17) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}

.scale .item:nth-child(18) {
  -webkit-transform: rotate(229.5deg);
          transform: rotate(229.5deg);
}

.scale .item:nth-child(19) {
  -webkit-transform: rotate(243deg);
          transform: rotate(243deg);
}

.scale .item:nth-child(20) {
  -webkit-transform: rotate(256.5deg);
          transform: rotate(256.5deg);
}

.scale .item:nth-child(21) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@-webkit-keyframes TextMove {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes TextMove {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes BarMove {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes BarMove {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@media screen and (max-width: 840px) {
  html {
    background: #001D37;
  }
  .wrap {
    min-height: 0px;
  }
  .video-bg {
    display: none;
  }
  .button-name {
    display: none;
  }
  .head {
    padding: 15px 15px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .head .logo {
    max-width: 70%;
  }
  .head h1 {
    margin: 0 0 6px;
  }
  .head .sub-title {
    letter-spacing: normal;
  }
  .pleer .volume {
    display: none;
    margin: 0px auto;
  }
  .pleer.show {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
  }
  .play-btn {
    display: block;
    margin: 15px auto;
  }
  .track-info {
    padding: 0 30px;
    margin: 0 auto 30px;
  }
  .footer {
    right: 30px;
    bottom: 85px;
  }
  .footer .info-btn {
    margin-top: 15px;
    -webkit-box-shadow: 0 0 0 2px #fff;
            box-shadow: 0 0 0 2px #fff;
    border: 2px #000 solid;
    width: 39px;
    height: 39px;
  }
  .footer .info-btn .icon {
    font-size: 16px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    -webkit-box-shadow: 0 -1px 3px 0px #fff;
            box-shadow: 0 -1px 3px 0px #fff;
  }
  .footer .info-btn .text {
    top: 0px;
    right: 50px;
    padding: 10px 20px;
    z-index: -1;
    border-radius: 30px;
  }
}

@media screen and (max-width: 840px) and (orientation: portrait) {
  .play-btn {
    width: 150px;
    height: 150px;
  }
  .play-btn .base {
    width: 100%;
    height: 100%;
    background-image: url(../img/play-btn-big.png);
    background-size: cover;
  }
  .play-btn:before {
    background-image: url(../img/play-ico-big.png);
    background-size: 35px;
  }
  .play-btn:after {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-image: url(../img/pause-ico-big.png);
    background-size: 35px;
  }
}

@media screen and (max-width: 840px) and (orientation: landscape) {
  html {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .head .logo {
    max-width: 30%;
  }
  .track-info {
    margin: auto auto 22px auto;
  }
  .play-btn {
    position: relative;
    top: 10%;
  }
  .container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-bottom: 15px;
  }
  .footer {
    display: none;
    right: 30px;
    bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */