* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
    background-image: url(../img/bg-pattern.jpg);
    background-repeat: repeat;
    overflow-x: hidden;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    height: 100%;
    overflow-x: hidden;
}

.wrap {
    height: 100%;
    overflow-x: hidden;
}

.head {
    padding-top: 75px;
    text-align: center;
}

.head .logo {
    display: block;
}

.head img {
    vertical-align: middle;
}

.head h1 {
    margin: 15px 0 6px;
    display: inline-block;
    color: #0078ff;
    font-size: 18px;
    font-family: 'Conv_Gotham-Bold';
    position: relative;
}

.head h1:after, .head h1:before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #0078ff;
    top: 50%;
    margin-top: -2px;
}

.head h1:before {
    left: 29px;
}

.head h1:after {
    right: 71px;
}

.head span {
    letter-spacing: 2px;
    font-size: 12px;
    display: block;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.track-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.equalizer {
    font-size: 0px;
    overflow: hidden;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.equalizer .bar {
    display: inline-block;
    height: 22px;
    width: 2px;
    margin: 0 1px;
    background-image: repeating-linear-gradient(0deg, #a2a3a3 0px, #a2a3a3 2px, transparent 2px, transparent 4px);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    animation: 0.8s BarMove linear infinite;
}

.equalizer .bar:nth-child(1) {
    animation-delay: 0.2s;
}

.equalizer .bar:nth-child(2) {
    animation-delay: 0s;
}

.equalizer .bar:nth-child(3) {
    animation-delay: 0.5s;
}

.equalizer .bar:nth-child(4) {
    animation-delay: 0.4s;
}

.equalizer .bar:nth-child(5) {
    animation-delay: 1s;
}

.equalizer .bar:nth-child(6) {
    animation-delay: 0.6s;
}

.track-text {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 5px 0 10px;
    width: 330px;
    overflow: hidden;
    white-space: nowrap;
}

.track-text .track-text-inner {
    display: -ms-flexbox;
    display: flex;
    animation: 10s TextMove linear infinite;
}

.track-text .artist {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-weight: 500;
    margin-right: 10px;
}

.track-text .name {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-weight: 300;
}

.pleer {
    margin: 170px 0 90px;
    text-align: center;
}

.pleer .volume {
    display: inline-block;
    vertical-align: middle;
    margin-right: 90px;
}

.pleer .volume .button-name {
    left: -100px;
}

.pleer .play-btn {
    display: inline-block;
    vertical-align: middle;
}

.pleer .play-btn .button-name {
    right: -80px;
}

.button-name {
    color: #0078ff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.play-btn {
    width: 104px;
    height: 104px;
    position: relative;
    cursor: pointer;
}

.play-btn img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    vertical-align: middle;
}

.play-btn:before, .play-btn:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s all;
}

.play-btn:before {
    background-image: url(../img/play-ico.png);
}

.play-btn:after {
    -ms-transform: scale(0);
    transform: scale(0);
    background-image: url(../img/pause-ico.png);
}

.play-btn.active:after {
    -ms-transform: scale(1);
    transform: scale(1);
}

.play-btn.active:before {
    -ms-transform: scale(0);
    transform: scale(0);
}

.volume {
    position: relative;
    width: 200px;
    height: 200px;
}

.volume.active .light {
    opacity: 1;
}

.volume .knob {
    position: relative;
}

.volume .knob img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    vertical-align: middle;
}

.volume .knob-rotate {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.volume .knob-rotate .knob-inner {
    width: 100%;
    height: 100%;
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.volume .knob-rotate .ring {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.volume .knob-rotate .light {
    pointer-events: none;
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 45px);
    transform: translate(-50%, 45px);
}

.volume .scale {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    -ms-transform: rotate(-136deg);
    transform: rotate(-136deg);
}

.volume .scale .item {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.volume .scale .item.active:after {
    background: #0078ff;
    color: #0078ff !important;
}

.volume .scale .item:first-child:after {
    content: "0";
    color: #000;
    background: none;
    height: auto;
    width: auto;
    font-size: 14px;
    -ms-transform: translate(-50%, -50%) rotate(135deg);
    transform: translate(-50%, -50%) rotate(135deg);
}

.volume .scale .item:last-child:after {
    content: "100";
    color: #000;
    background: none;
    height: auto;
    width: auto;
    font-size: 14px;
    -ms-transform: translate(-50%, -50%) rotate(-135deg);
    transform: translate(-50%, -50%) rotate(-135deg);
}

.volume .scale .item:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #303030;
    top: -15px;
    left: 50%;
    font-size: 12px;
}

.scale .item:nth-child(1) {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.scale .item:nth-child(2) {
    -ms-transform: rotate(13.5deg);
    transform: rotate(13.5deg);
}

.scale .item:nth-child(3) {
    -ms-transform: rotate(27deg);
    transform: rotate(27deg);
}

.scale .item:nth-child(4) {
    -ms-transform: rotate(40.5deg);
    transform: rotate(40.5deg);
}

.scale .item:nth-child(5) {
    -ms-transform: rotate(54deg);
    transform: rotate(54deg);
}

.scale .item:nth-child(6) {
    -ms-transform: rotate(67.5deg);
    transform: rotate(67.5deg);
}

.scale .item:nth-child(7) {
    -ms-transform: rotate(81deg);
    transform: rotate(81deg);
}

.scale .item:nth-child(8) {
    -ms-transform: rotate(94.5deg);
    transform: rotate(94.5deg);
}

.scale .item:nth-child(9) {
    -ms-transform: rotate(108deg);
    transform: rotate(108deg);
}

.scale .item:nth-child(10) {
    -ms-transform: rotate(121.5deg);
    transform: rotate(121.5deg);
}

.scale .item:nth-child(11) {
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.scale .item:nth-child(12) {
    -ms-transform: rotate(148.5deg);
    transform: rotate(148.5deg);
}

.scale .item:nth-child(13) {
    -ms-transform: rotate(162deg);
    transform: rotate(162deg);
}

.scale .item:nth-child(14) {
    -ms-transform: rotate(175.5deg);
    transform: rotate(175.5deg);
}

.scale .item:nth-child(15) {
    -ms-transform: rotate(189deg);
    transform: rotate(189deg);
}

.scale .item:nth-child(16) {
    -ms-transform: rotate(202.5deg);
    transform: rotate(202.5deg);
}

.scale .item:nth-child(17) {
    -ms-transform: rotate(216deg);
    transform: rotate(216deg);
}

.scale .item:nth-child(18) {
    -ms-transform: rotate(229.5deg);
    transform: rotate(229.5deg);
}

.scale .item:nth-child(19) {
    -ms-transform: rotate(243deg);
    transform: rotate(243deg);
}

.scale .item:nth-child(20) {
    -ms-transform: rotate(256.5deg);
    transform: rotate(256.5deg);
}

.scale .item:nth-child(21) {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

@keyframes TextMove {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes BarMove {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

@media (max-width: 600px) {
    .button-name {
        display: none;
    }

    .head {
        padding-top: 15px;
    }

    .pleer {
        margin: 40px 0 25px;
    }

    .pleer .volume {
        display: block;
        margin: 0px auto;
    }

    .pleer .play-btn {
        display: block;
        margin: 15px auto;
    }

    .track-info {
        padding: 0 20px;
    }
}
