.form-control {
    height: 3rem;
    font-size: 1rem;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #ff7a00 !important;
}

.btn {
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn:active, .btn:focus {
    box-shadow: none !important;
}

.btn-warning {
    background: #ff7a00;
    border-color: #ff7a00;
    color: #fff;
}

.btn-warning:hover {
    color: #fff;
    background: #ff9533;
    border-color: #ff9533;
}

.btn-warning:active, .btn-warning:focus {
    color: #fff !important;
    background: #ff9533 !important;
    border-color: #ff9533 !important;
}

.btn-primary {
    background: #015965;
    border-color: #015965;
    color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background: #028698;
    border-color: #028698;
}

.btn-primary:active, .btn-primary:focus {
    color: #fff !important;
    background: #028698 !important;
    border-color: #028698 !important;
}

.alert-warning {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #ffcf73;
    border: none;
    color: #404040;
    line-height: 1.5;
}

.modal-dialog {
    max-width: 600px;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434037;
    line-height: normal;
    font-size: 1rem;
}

a {
    text-decoration: underline;
    color: #ff7a00;
}

a:hover {
    text-decoration: none;
}

.orange-text {
    color: #ff7a00;
}

.section-pad {
    padding: 5rem 0;
}

.section-title {
    color: #1F6B75;
    margin-bottom: 4rem;
}

.main-header {
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background: #ff7a00;
    z-index: 100;
}

.main-header a {
    text-decoration: none;
}

.main-header .navbar {
    padding-left: 0px;
    padding-right: 0px;
}

.main-header .navbar-brand {
    margin-right: 3rem;
}

.main-header .navbar-nav .nav-link {
    text-transform: uppercase;
    color: #fff;
}

.main-header .navbar-nav .nav-link i.mdi {
    line-height: 1;
    font-size: 1.6rem;
    vertical-align: middle;
}

.main-header .navbar-text {
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.main-header .tel {
    margin-left: 25px;
    font-size: 1.2rem;
    text-align: center;
}

.main-header .tel span {
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    font-size: 0.7rem;
}

.main-banner {
    height: 800px;
    position: relative;
}

.main-banner .parallax-window {
    height: 100%;
}

.main-banner .banner-text {
    padding-top: 5%;
    font-size: 1.5rem;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    margin: auto;
}

.main-banner .banner-text b {
    font-size: 2.5rem;
    color: #ff7a00;
}

.main-banner .banner-text strong {
    margin: 0.5rem 0;
    color: #015965;
    text-transform: uppercase;
}

.main-banner .banner-text p {
    color: #015965;
}

.intro-section {
    padding-top: 0px;
    position: relative;
    z-index: 2;
}

.intro-section .search-form {
    margin-top: -3.6rem;
    padding: 3rem;
    background: #ff9c40;
}

.intro-section .search-form strong {
    font-size: 1.5rem;
}

.intro-section .search-form p {
    margin: 2rem 0 0;
    font-size: 1.2rem;
}

.intro-section .search {
    display: -ms-flexbox;
    display: flex;
    margin: 2rem 0 1.5rem;
}

.intro-section .search input {
    margin-right: 2rem;
    border-color: #fff !important;
}

.steps-to-access .step-block {
    max-width: 220px;
    margin: 1rem auto;
    text-align: center;
    color: #1F6B75;
}

.steps-to-access .step-block span {
    font-size: 1.3rem;
}

.steps-to-access .step-block span i {
    display: block;
    font-size: 0.8rem;
    font-style: normal;
}

.steps-to-access .step-num {
    margin: 0 auto 2rem;
    font-weight: 300;
    background: #03899C;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-weight: 300;
}

.program-priority {
    background: #FFE9D5;
    color: #1F6B75;
}

.program-priority p {
    font-size: 1.5rem;
}

.check-pills {
    padding: 2.5rem 0;
    background: #FF9C40;
    text-align: right;
}

.check-pills strong {
    font-size: 1.5rem;
}

.check-pills p {
    margin: 0;
}

.check-pills .btn {
    padding-left: 3rem;
    padding-right: 3rem;
}

.product-section .product-image {
    text-align: center;
}

.product-section .product-info p {
    margin: 2rem 0;
}

.product-priority {
    background: #ecf6ff;
}

.product-priority .item {
    text-align: center;
    width: 240px;
    margin: 0 auto;
}

.product-priority .icon {
    margin: 0 auto 2rem;
    display: block;
    width: 100px;
    height: 100px;
    border: 2px #ff7a00 solid;
    border-radius: 30px;
}

.product-priority .icon i.mdi {
    font-size: 48px;
    color: #ff7a00;
    line-height: 96px;
}

.product-priority span {
    font-size: 1.2rem;
    display: block;
}

.map-section {
    height: 600px;
}

.section-accordions .accord-item:nth-child(1) .accord-head {
    background: #808183;
}

.section-accordions .accord-item:nth-child(2) .accord-head {
    background: #8d8e90;
}

.section-accordions .accord-item:nth-child(3) .accord-head {
    background: #9a9b9c;
}

.section-accordions .accord-item:nth-child(4) .accord-head {
    background: #a7a7a9;
}

.section-accordions .accord-item:nth-child(5) .accord-head {
    background: #b4b4b5;
}

.section-accordions .accord-item:nth-child(6) .accord-head {
    background: #c1c1c2;
}

.section-accordions .accord-head {
    color: #fff;
    font-size: 2rem;
}

.section-accordions .accord-head a {
    padding: 1rem 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
}

.section-accordions .accord-head a i.mdi {
    transition: all 0.3s;
}

.section-accordions .accord-head a:hover i.mdi {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
}

.section-accordions .accord-head a:not(.collapsed) i.mdi {
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.my-article-style {
    padding: 2rem 0;
}

.my-article-style p {
    font-size: 1.2rem;
}

.my-modal-body {
    background: #fff;
    border-radius: 1rem;
    padding: 2.5rem;
    border: none;
}

.my-modal-body > .close {
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    background: #ff7a00;
    color: #fff;
    opacity: 1 !important;
    color: #fff !important;
}

.sign-form {
    max-width: 600px;
    margin: 0 auto;
}

.sign-form p {
    margin: 2rem 0;
}

.sign-form .alert-warning {
    margin-bottom: 2rem;
}

.sign-form .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.sign-form .form-group label {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0px;
    width: 100px;
}

.sign-form .form-group input {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 200px;
}

.sign-form .form-group > a {
    margin-left: 2rem;
}

.sign-up {
    max-width: 600px;
    margin: 0 auto;
}

.sign-up p {
    margin: 2rem 0;
}

.sign-up .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.sign-up .form-group label {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0px;
    width: 150px;
}

.sign-up .custom-checkbox {
    margin: 1rem 0 1rem 150px;
}

.sign-up .input-group {
    position: relative;
}

.sign-up .input-group .clip {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}

.footer-nav {
    background: #584c4a;
    color: #fff;
}

.footer-nav a:hover {
    color: #fff;
}

.footer-nav .block-title {
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.footer-nav p {
    max-width: 300px;
    line-height: 1.4;
}

.footer-nav .tel {
    text-decoration: none;
    color: #fff;
}

.footer-nav .tel:hover {
    color: #ff7a00;
}

.footer-nav .off-site {
    display: block;
    position: relative;
    padding-left: 1.7rem;
}

.footer-nav .off-site i.mdi {
    position: absolute;
    left: 0px;
    top: 0px;
}

.footer-nav .coockie-about {
    margin-top: 3rem;
}

.footer-nav .coockie-about p {
    max-width: none;
}

.footer-nav .coockie-about .note {
    display: none;
}

.footer-copy {
    padding: 2rem 0;
    background: #292423;
}

.footer-copy p {
    margin: 0px;
}

.footer-copy .container {
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.footer-copy .links {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.footer-copy .links li {
    border-left: 1px #fff solid;
    padding: 0 0.5rem;
}

.footer-copy .links li:first-child {
    border: none;
}

.footer-copy .links a {
    color: #fff;
    text-decoration: none;
}

.footer-copy .links a:hover {
    color: #ff7a00;
}

@media screen and (max-width: 576px) {
    .section-pad {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .main-banner {
        height: 400px;
    }

    .main-banner .banner-text {
        font-size: 1rem;
    }

    .main-banner .banner-text b {
        font-size: 1.5rem;
    }

    .intro-section {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .intro-section .search-form {
        padding: 2rem;
        margin-top: 0px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .intro-section .search {
        display: block;
    }

    .intro-section .search .btn {
        margin-top: 1rem;
        width: 100%;
    }

    .check-pills {
        text-align: center;
    }

    .check-pills .btn {
        margin-top: 1rem;
    }

    .program-priority img {
        margin-bottom: 2rem;
    }

    .program-priority p {
        font-size: 1.2rem;
    }

    .footer-copy {
        text-align: center;
    }

    .footer-copy .links {
        margin-top: 0.5rem;
    }

    .footer-copy .container {
        display: block;
    }
}
