@media screen and (max-width: 992px) {
    .dl-main {
        b {
            font-size: 70px;
        }
    }
    .dl-main-parallax {
        .img1 {
            img {
                transform: scale(0.7);
            }
        }
        .img2 {
            img {
                transform: scale(0.7);
            }
        }
    }
    .dl-our-works-slider {
        padding: 2rem;
        .slick-slide {
            .image {
                transform: none;
            }
            .text {
                transform: none;
                margin: 0px;
                padding: 0px;
            }
        }
        .image {
            margin-right: 1rem;
            float: left;
            width: 200px;
            position: static;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .item {
            display: block;
        }
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
    .dl-head {
        padding-left: 60px;
        padding-right: 30px;
    }
    .dl-main-parallax {
        display: none;
        .img1 {
            img {
                transform: scale(0.5);
            }
        }
        .img2 {
            img {
                transform: scale(0.5);
                right: -340px;
            }
        }
    }
    .dl-specialization {
        .text {
            text-align: center;
        }
        .image.inverse {
            img {
                transform: translate(-20px, 20px)
            }
            .frame {
                .hash {
                    right: -10px;
                }
            }
        }
        .image {
            max-width: 300px;
            margin: 0 auto;
            img {
                transform: translate(20px, 20px)
            }
        }
        .frame {
            border-width: 10px;
            .hash {
                bottom: -10px;
                left: -10px;
                font-size: 20px;
            }
        }
    }
    .dl-our-works {
        h1 {
            font-size: 25px;
        }
    }
    .dl-our-works-slider {
        border-width: 10px;
        padding: 1rem;
        .image {
            margin-bottom: 1rem;
        }
        .text {
            h2 {
                font-size: 25px;
            }
            p {
                line-height: 1.2;
            }
        }
        .dl-works-list {
            clear: both;
            line-height: 1.3;
        }
    }
}

@media screen and (max-width: 576px) {
    .dl-specialization {
        .image {
            max-width: 240px;
        }
    }
    .dl-our-works-slider {
        .image {
            width: 150px;
        }
    }
    .dl-our-works-slider-nav {
        justify-content: space-between;
        .slider-nav {
            height: 45px;
            width: 45px;
            margin: 0 15px 0 0;
        }
        .dl-btn  {
            margin-right: 0;
            margin-left: auto;
        }
    }
    .dl-footer {
        .copy {
            margin-bottom: 1rem;
        }
        .group {
            padding-right: 15px;
        }
    }

    /**********ui*************/
    .dl-btn {
        height: 45px;
        line-height: 45px;
        font-size: 12px;
        padding: 0 15px;
    }
}
