@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: normal;
  color: #242424;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

a {
  color: #57c5a0;
  text-decoration: none;
}

input, textarea {
  font-family: 'Roboto', sans-serif;
}

.fa {
  vertical-align: middle;
}

.img-response {
  width: 100%;
  max-width: 100%;
}

.container {
  position: relative;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

/*********head*********/
.main-head {
  background: #242424;
  color: #adadad;
}
.main-head .logo {
  float: left;
  margin: 10px 0;
  line-height: 0px;
}
.main-head .login {
  float: right;
  font-size: 12px;
  border-right: 1px rgba(255, 255, 255, 0.2) solid;
  border-left: 1px rgba(255, 255, 255, 0.2) solid;
  padding: 12px 20px;
}
.main-head .login a {
  text-transform: uppercase;
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
}
.main-head .login a:hover {
  text-decoration: underline;
}
.main-head .search {
  float: right;
  padding-right: 20px;
}
.main-head .search button {
  background: none;
  border: none;
  color: #adadad;
  font-size: 15px;
  margin-top: 8px;
  cursor: pointer;
}
.main-head .search button:hover {
  color: #57c5a0;
}

/*********subnav********/
.sub-nav {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
.sub-nav .toggle-menue {
  position: relative;
  width: 30px;
  height: 20px;
  margin: 10px 0;
  float: left;
}
.sub-nav .toggle-menue span {
  display: block;
  width: 100%;
  height: 2px;
  background: #57c5a0;
  position: absolute;
}
.sub-nav .toggle-menue .line-1 {
  top: 0px;
}
.sub-nav .toggle-menue .line-2 {
  top: 50%;
  margin-top: -1px;
}
.sub-nav .toggle-menue .line-3 {
  bottom: 0px;
}
.sub-nav .links {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
}
.sub-nav .links a {
  display: block;
  padding: 9px 30px;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}
.sub-nav .links a:hover, .sub-nav .links a.active {
  background: #57c5a0;
  color: #fff;
}
.sub-nav .other-link {
  float: right;
}
.sub-nav .other-link a {
  display: block;
  float: left;
  padding: 10px 20px;
  border-right: 1px rgba(0, 0, 0, 0.1) solid;
  border-left: 1px rgba(0, 0, 0, 0.1) solid;
  color: #adadad;
}
.sub-nav .other-link a i {
  font-size: 17px;
}
.sub-nav .other-link a span {
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 0 5px;
  min-width: 25px;
  line-height: 18px;
  text-align: center;
  margin-left: 10px;
}
.sub-nav .other-link .favorit {
  border-right: none;
}
.sub-nav .other-link .favorit span {
  background-color: #adadad;
}
.sub-nav .other-link .cart span {
  background-color: #57c5a0;
}

/*********banner*****/
.slide {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-1 {
  background-image: url(../img/banner.png);
}

.banner-text {
  padding: 70px 0;
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.banner-text .price {
  display: inline-block;
  color: #fff;
  padding: 28px 10px;
  background: #57c5a0;
  font-weight: 500;
}
.banner-text h1 {
  margin: 20px 0;
}
.banner-text p {
  font-size: 20px;
  max-width: 350px;
}
.banner-text .share {
  margin-top: 20px;
  font-size: 0px;
}
.banner-text .share a {
  display: inline-block;
  background: #fafaf8;
  color: #adadad;
  width: 40px;
  text-align: center;
  font-size: 16px;
  margin-right: 1px;
}
.banner-text .share a i {
  line-height: 40px;
}
.banner-text .share a:hover {
  background: #57c5a0;
  color: #fff;
}

.active-slide .banner-text {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.banner-nav {
  background: #2e2e2e;
}
.banner-nav .banner-pag {
  background: #000;
  height: 10px;
  padding: 2px 5px;
  margin-top: 10px;
}
.banner-nav .banner-pag div {
  float: left;
  width: 20%;
  border-right: 2px rgba(255, 255, 255, 0.2) solid;
  height: 6px;
  position: relative;
}
.banner-nav .banner-pag div:last-child {
  border: none;
}
.banner-nav .banner-pag div.active:after {
  content: "";
  position: absolute;
  height: 100%;
  right: 5px;
  left: 5px;
  background: #57c5a0;
}
.banner-nav .banner-links li {
  float: left;
  width: 20%;
}
.banner-nav .banner-links li a {
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
  font-size: 12px;
  font-weight: 400;
}
.banner-nav .banner-links li a h2 {
  font-size: 18px;
}
.banner-nav .banner-links li a:hover, .banner-nav .banner-links li a.active {
  color: white;
}

/*********special********/
.specials {
  background: #242424;
  padding: 25px 0 0;
}
.specials figure {
  position: relative;
  margin-bottom: 25px;
}
.specials figure:hover figcaption {
  -moz-transform: translate(-50%, -50%) rotateX(0deg);
  -ms-transform: translate(-50%, -50%) rotateX(0deg);
  -webkit-transform: translate(-50%, -50%) rotateX(0deg);
  transform: translate(-50%, -50%) rotateX(0deg);
}
.specials figcaption {
  position: absolute;
  color: #fff;
  padding: 10px 20px;
  font-size: 25px;
  white-space: nowrap;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%) rotateX(-90deg);
  -ms-transform: translate(-50%, -50%) rotateX(-90deg);
  -webkit-transform: translate(-50%, -50%) rotateX(-90deg);
  transform: translate(-50%, -50%) rotateX(-90deg);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  .sub-nav .links {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    float: left;
  }
  .sub-nav .links li {
    float: left;
  }
  .sub-nav .links li:last-child a {
    border-right: 1px rgba(0, 0, 0, 0.1) solid;
  }
  .sub-nav .links a {
    display: block;
    padding: 16px 20px 15px;
    border-left: 1px rgba(0, 0, 0, 0.1) solid;
    border-bottom: none;
    color: #242424;
    font-weight: 400;
  }
  .sub-nav .links a:hover, .sub-nav .links a.active {
    background: none;
    color: #57c5a0;
  }
  .sub-nav .other-link a {
    padding: 15px 20px;
  }
}
