html {
    font-size: 20px;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    color: #312D3B;
    font-weight: 500;
    height: 100%;
    overflow-x: hidden;
}

strong {
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 900;
}

.blue-color {
    color: #009aff;
}

.yellow-color {
    color: #ffc600;
}

.dl-dotts {
    margin: 1rem 0;
}

.dl-dotts span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    background: #009aff;
}

.dl-menu-back-background {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.dl-menu-back-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dl-menu-open {
    overflow: hidden;
}

.dl-menu-open .dl-app {
    -ms-transform: translate(40%, 0) scale(0.85, 0.85);
    transform: translate(40%, 0) scale(0.85, 0.85);
    overflow: hidden;
}

.dl-menu-open .dl-app .dl-app-lauout {
    display: block;
}

.dl-menu-open .dl-nav a {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.dl-menu-open .dl-nav a:nth-child(1) {
    transition-delay: .2s;
}

.dl-menu-open .dl-nav a:nth-child(2) {
    transition-delay: .24s;
}

.dl-menu-open .dl-nav a:nth-child(3) {
    transition-delay: .28s;
}

.dl-menu-open .dl-nav a:nth-child(4) {
    transition-delay: .32s;
}

.dl-menu-open .dl-nav a:nth-child(5) {
    transition-delay: .36s;
}

.dl-menu-open .dl-nav a:nth-child(6) {
    transition-delay: .40s;
}

.dl-nav {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 5%;
    z-index: 2;
}

.dl-nav a {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    opacity: 0;
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
    transition: all .4s;
}

.dl-nav a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px #fff solid;
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
    transition: all 0.2s;
}

.dl-nav a:hover:after {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.dl-app {
    height: 100%;
    overflow: auto;
    background: #fff;
    position: relative;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.335, 1.05);
    -webkit-overflow-scrolling: touch;
    z-index: 100;
}

.dl-app-lauout {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 101;
}

.dl-head {
    position: absolute;
    left: 0px;
    top: 37px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    z-index: 2;
}

.dl-head .dl-burger {
    padding: 0px;
    display: block;
    position: absolute;
    top: 0px;
    left: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.dl-head .dl-burger:hover span {
    background: #009aff;
}

.dl-head .dl-burger span {
    display: block;
    height: 3px;
    width: 20px;
    background: #312D3B;
}

.dl-head .dl-burger span:nth-child(2) {
    width: 16px;
    margin: 2px 0;
}

.dl-main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.dl-main b {
    margin: 35px 0;
    display: block;
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 900;
}

.dl-main .tags {
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.5;
}

.dl-main .tags span {
    display: inline-block;
}

.dl-main .soc-links {
    max-width: 420px;
    margin: 80px auto 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dl-main .soc-links a {
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.15);
}

.dl-main .soc-links img {
    margin: auto;
}

.dl-main-parallax {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.dl-main-parallax > div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.dl-main-parallax .img1 img {
    position: absolute;
    top: 15%;
    left: -400px;
}

.dl-main-parallax .img2 img {
    position: absolute;
    top: 5%;
    right: -300px;
}

.dl-specialization .row {
    margin-bottom: 5rem;
}

.dl-specialization .image.inverse img {
    -ms-transform: translate(-40px, 40px);
    transform: translate(-40px, 40px);
}

.dl-specialization .image.inverse .frame .hash {
    left: auto;
    right: -18px;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dl-specialization .frame {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 20px #009aff solid;
    z-index: -1;
}

.dl-specialization .frame .hash {
    bottom: -20px;
    left: -18px;
    position: absolute;
    display: block;
    font-size: 36px;
    font-weight: 600;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
}

.dl-specialization .image {
    position: relative;
}

.dl-specialization .image img {
    -ms-transform: translate(40px, 40px);
    transform: translate(40px, 40px);
    vertical-align: middle;
    width: 100%;
}

.dl-specialization .text {
    padding-top: 20%;
}

.dl-specialization .text h2 {
    text-transform: uppercase;
}

.dl-specialization .text p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.dl-our-works {
    padding: 4rem 0;
    overflow: hidden;
}

.dl-our-works h1 {
    margin-bottom: 3rem;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}

.dl-our-works-slider {
    border: 20px #009aff solid;
    padding: 2rem 0;
}

.dl-our-works-slider .slick-list {
    overflow: visible !important;
}

.dl-our-works-slider .slick-slide {
    transition: none !important;
    opacity: 0 !important;
}

.dl-our-works-slider .slick-slide .image {
    opacity: 0;
    -ms-transform: translateX(-150%);
    transform: translateX(-150%);
}

.dl-our-works-slider .slick-slide .text {
    opacity: 0;
    -ms-transform: translateY(10%);
    transform: translateY(10%);
}

.dl-our-works-slider .slick-active {
    opacity: 1 !important;
}

.dl-our-works-slider .slick-active .image {
    transition: all 0.5s;
    opacity: 1;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dl-our-works-slider .slick-active .text {
    transition: all 0.5s;
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.dl-our-works-slider .item {
    display: -ms-flexbox;
    display: flex;
}

.dl-our-works-slider .image {
    left: 0px;
    top: 0;
    position: absolute;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 400px;
}

.dl-our-works-slider .image img {
    width: 100%;
}

.dl-our-works-slider .text {
    margin-left: 400px;
    padding-right: 2rem;
}

.dl-our-works-slider .text h2 {
    font-size: 48px;
    font-weight: 800;
}

.dl-our-works-slider .text p {
    line-height: 30px;
}

.dl-our-works-slider .dl-works-list {
    margin: 2rem 0 0;
    line-height: 30px;
    padding-left: 1rem;
    border-left: 2px #009aff solid;
}

.dl-our-works-slider-nav {
    margin-top: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.dl-our-works-slider-nav .dl-btn {
    margin: 0 4rem 0 4rem;
}

.dl-our-works-slider-nav .slider-nav {
    margin: 0 0.5rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 60px;
    height: 60px;
    border: 2px #009aff solid;
    border-radius: 50%;
    cursor: pointer;
}

.dl-our-works-slider-nav .slider-nav:hover {
    background: #009aff;
}

.dl-our-works-slider-nav .slider-nav:hover .chevron-icon {
    fill: white;
}

.dl-our-works-slider-nav .slider-nav.dl-prev .chevron-icon {
    transform: rotateY(180deg);
}

.dl-our-works-slider-nav .slider-nav .chevron-icon {
    margin: auto;
    width: 15px;
    height: 15px;
    fill: #009aff;
}

.dl-specialization-item {
    padding-top: 200px;
}

.dl-specialization-item .text {
    padding-top: 20%;
}

.dl-specialization-item h1 {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
}

.dl-price {
    padding: 3rem 0;
}

.dl-price h2 {
    margin-bottom: 3rem;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}

.dl-price .price-block {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 20px;
}

.dl-price .title {
    display: block;
    min-height: 100px;
    position: relative;
    padding: 1rem 0 1rem 1rem;
    margin-bottom: 3rem;
}

.dl-price .title:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 10px;
    border-radius: 5px;
    background: #009aff;
}

.dl-price table {
    margin-bottom: 1.5rem;
    width: 100%;
    font-size: 14px;
}

.dl-price table td {
    line-height: 1.3;
    padding-bottom: 0.5rem;
    font-weight: 300;
}

.dl-price table b {
    font-weight: 900;
}

.dl-price table td:last-child {
    text-align: right;
}

.dl-price .note {
    font-size: 12px;
    color: #848484;
    font-weight: 300;
}

.dl-article-section {
    padding: 3rem 0;
}

.dl-article-section h2 {
    margin-bottom: 3rem;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}

.dl-article-section .dl-works-list {
    margin-top: 3rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.dl-article-section .dl-works-list li {
    width: 40%;
    margin-bottom: 1rem;
    font-size: 14px;
    position: relative;
    padding-left: 1rem;
    color: #848484;
}

.dl-article-section .dl-works-list li:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    background: #009aff;
}

.dl-article h2, .dl-article h3, .dl-article h4 {
    text-align: left;
    font-weight: 900;
}

.dl-article h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.dl-article h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

.dl-article h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.dl-article p {
    line-height: 1.5;
}

.dl-footer {
    font-size: 14px;
    background: #f9fafa;
    padding: 3rem 0;
    color: #312d3b;
}

.dl-footer-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 1.6;
}

.dl-footer-links strong {
    display: block;
    margin-bottom: 1rem;
}

.dl-footer-links a {
    color: inherit;
    text-decoration: none;
}

.dl-footer-links a:hover {
    opacity: 0.7;
}

.dl-footer-links .social {
    margin-top: 0.5rem;
}

.dl-footer-links .social a {
    display: inline-block;
    margin-right: 8px;
}

.dl-footer-links .social svg {
    width: 15px;
    height: 15px;
    fill: #312d3b;
}

/*****ui*****/
.dl-btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: inherit;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 50px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}

.dl-btn:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.dl-btn.white {
    background: #fff;
}

@media screen and (max-width: 992px) {
    .dl-main b {
        font-size: 70px;
    }

    .dl-main-parallax .img1 img {
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }

    .dl-main-parallax .img2 img {
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }

    .dl-our-works-slider {
        padding: 2rem;
    }

    .dl-our-works-slider .slick-slide .image {
        -ms-transform: none;
        transform: none;
    }

    .dl-our-works-slider .slick-slide .text {
        -ms-transform: none;
        transform: none;
        margin: 0px;
        padding: 0px;
    }

    .dl-our-works-slider .image {
        margin-right: 1rem;
        float: left;
        width: 200px;
        position: static;
    }

    .dl-our-works-slider .image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .dl-our-works-slider .item {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }

    .dl-head {
        padding-left: 60px;
        padding-right: 30px;
    }

    .dl-main-parallax {
        display: none;
    }

    .dl-main-parallax .img1 img {
        -ms-transform: scale(0.5);
        transform: scale(0.5);
    }

    .dl-main-parallax .img2 img {
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        right: -340px;
    }

    .dl-specialization .text {
        text-align: center;
    }

    .dl-specialization .image.inverse img {
        -ms-transform: translate(-20px, 20px);
        transform: translate(-20px, 20px);
    }

    .dl-specialization .image.inverse .frame .hash {
        right: -10px;
    }

    .dl-specialization .image {
        max-width: 300px;
        margin: 0 auto;
    }

    .dl-specialization .image img {
        -ms-transform: translate(20px, 20px);
        transform: translate(20px, 20px);
    }

    .dl-specialization .frame {
        border-width: 10px;
    }

    .dl-specialization .frame .hash {
        bottom: -10px;
        left: -10px;
        font-size: 20px;
    }

    .dl-our-works h1 {
        font-size: 25px;
    }

    .dl-our-works-slider {
        border-width: 10px;
        padding: 1rem;
    }

    .dl-our-works-slider .image {
        margin-bottom: 1rem;
    }

    .dl-our-works-slider .text h2 {
        font-size: 25px;
    }

    .dl-our-works-slider .text p {
        line-height: 1.2;
    }

    .dl-our-works-slider .dl-works-list {
        clear: both;
        line-height: 1.3;
    }
}

@media screen and (max-width: 576px) {
    .dl-specialization .image {
        max-width: 240px;
    }

    .dl-our-works-slider .image {
        width: 150px;
    }

    .dl-our-works-slider-nav {
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .dl-our-works-slider-nav .slider-nav {
        height: 45px;
        width: 45px;
        margin: 0 15px 0 0;
    }

    .dl-our-works-slider-nav .dl-btn {
        margin-right: 0;
        margin-left: auto;
    }

    .dl-footer .copy {
        margin-bottom: 1rem;
    }

    .dl-footer .group {
        padding-right: 15px;
    }
  /**********ui*************/
    .dl-btn {
        height: 45px;
        line-height: 45px;
        font-size: 12px;
        padding: 0 15px;
    }
}
