html {
    font-size: 20px;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    color: #312D3B;
    font-weight: 500;
    height: 100%;
    overflow: hidden;
}

strong {
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 900;
}

.dl-dotts {
    margin: 1rem 0;
}

.dl-dotts span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    background: #009aff;
}

.dl-menu-back-background {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.dl-menu-back-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dl-menu-open {
    overflow: hidden;
}

.dl-menu-open .dl-app {
    -ms-transform: translate(40%, 0) scale(0.85, 0.85);
    transform: translate(40%, 0) scale(0.85, 0.85);
    overflow: hidden;
}

.dl-menu-open .dl-app .dl-app-lauout {
    display: block;
}

.dl-menu-open .dl-nav a {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.dl-menu-open .dl-nav a:nth-child(1) {
    transition-delay: .2s;
}

.dl-menu-open .dl-nav a:nth-child(2) {
    transition-delay: .24s;
}

.dl-menu-open .dl-nav a:nth-child(3) {
    transition-delay: .28s;
}

.dl-menu-open .dl-nav a:nth-child(4) {
    transition-delay: .32s;
}

.dl-menu-open .dl-nav a:nth-child(5) {
    transition-delay: .36s;
}

.dl-menu-open .dl-nav a:nth-child(6) {
    transition-delay: .40s;
}

.dl-nav {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 5%;
    z-index: 2;
}

.dl-nav a {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    opacity: 0;
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
    transition: all .4s;
}

.dl-nav a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px #fff solid;
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0;
    transition: all 0.2s;
}

.dl-nav a:hover:after {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.dl-app {
    height: 100%;
    overflow: auto;
    background: #fff;
    position: relative;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.335, 1.05);
    z-index: 100;
}

.dl-app-lauout {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 101;
}

.dl-head {
    position: absolute;
    left: 0px;
    top: 37px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    z-index: 2;
}

.dl-head .dl-burger {
    padding: 0px;
    display: block;
    position: absolute;
    top: 0px;
    left: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.dl-head .dl-burger:hover span {
    background: #009aff;
}

.dl-head .dl-burger span {
    display: block;
    height: 3px;
    width: 20px;
    background: #312D3B;
}

.dl-head .dl-burger span:nth-child(2) {
    width: 16px;
    margin: 2px 0;
}

.dl-main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    text-align: center;
}

.dl-main b {
    margin: 35px 0;
    display: block;
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 900;
}

.dl-main .tags {
    max-width: 400px;
    margin: 0 auto;
    line-height: 1.5;
}

.dl-main .tags span {
    display: inline-block;
}

.dl-main .soc-links {
    max-width: 420px;
    margin: 80px auto 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dl-main .soc-links a {
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.15);
}

.dl-main .soc-links img {
    margin: auto;
}

.dl-main-parallax {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.dl-main-parallax > div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.dl-main-parallax .img1 img {
    position: absolute;
    top: 15%;
    left: -400px;
}

.dl-main-parallax .img2 img {
    position: absolute;
    top: 5%;
    right: -300px;
}

.dl-specialization .row {
    margin-bottom: 5rem;
}

.dl-specialization .inverse .frame {
    -ms-transform: translate(40px, -40px);
    transform: translate(40px, -40px);
}

.dl-specialization .inverse .frame .hash {
    left: auto;
    right: -18px;
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dl-specialization .frame {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border: 20px #009aff solid;
    -ms-transform: translate(-40px, -40px);
    transform: translate(-40px, -40px);
    z-index: -1;
}

.dl-specialization .frame .hash {
    bottom: -20px;
    left: -18px;
    position: absolute;
    display: block;
    font-size: 36px;
    font-weight: 600;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    white-space: nowrap;
}

.dl-specialization .image {
    position: relative;
}

.dl-specialization .image img {
    vertical-align: middle;
    width: 100%;
}

.dl-specialization .text h2 {
    text-transform: uppercase;
}

.dl-specialization .text p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 3rem;
}

/*****ui*****/
.dl-btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: inherit;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 50px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s;
}

.dl-btn:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.dl-btn.white {
    background: #fff;
}
