@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn.linearicons.com/free/1.0.0/icon-font.min.css');
@import url('tail.css');

$brown: #C28D3F;

html {
    font-size: 15px;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}


.article {
    h1 {
        font-size: 2.25rem;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
    }
    h2 {
        font-size: 1.75rem;
        margin-bottom: 1.25rem;
        margin-top: 2.5rem;
    }
    h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    p {
        margin: 1.5rem 0;
    }
    > *:first-child {
        margin-top: 0;
    }
    blockquote {
        margin: 2rem 0 2rem 3rem;
        padding-left: 3rem;
        font-size: 1.5rem;
        line-height: 1.5;
        border-left: 1px $brown solid;
    }
    b,strong {
        font-weight: 400;
    }
    a {
        color: $brown;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    figure {
        margin: 2rem 0;
    }
    figcaption {
        margin-top: 0.5rem;
        font-style: italic;
        color: $brown;
    }
    ul,ol {
        margin: 1.5rem 0;
        padding-left: 4rem;
        li {
            margin: 0.5rem 0;
        }
    }
    ul {
        li {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 20px;
                height: 1px;
                background: $brown;
                left: -30px;
                top: 11px;
            }
        }
    }
    ol {
        li {
            list-style: decimal;
        }
    }
}


/* --------------------------------- HEADER --------------------------------- */
.main-header {
    $root: &;
    &_in {
        animation: 0.5s headerIn both;
    }
    &_out {
        animation: 0.3s headerOut both;
    }
    &_white {
        #{$root}__burger {
            div {
                background-color: black;
            }
            &.active {
                div {
                    background-color: white;
                }
            }
        }
        #{$root}__tel {
            color: black;
            &:hover {
                color: $brown;
            }
        }
        #{$root}__tools {
            a {
                color: black;
                &:hover {
                    color: $brown;
                }
            }
        }
    }
    &_mini {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 60px;
        background: rgba(#fff, 0.5);
        backdrop-filter: blur(10px);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        z-index: 50;
        #{$root}__burger {
            div {
                background-color: black;
            }
            &.active {
                div {
                    background-color: white;
                }
            }
        }
        #{$root}__logo_normal {
            display: none
        }
        #{$root}__logo_mini {
            display: block
        }
        #{$root}__tel {
            color: black;
            &:hover {
                color: $brown;
            }
        }
        #{$root}__tools {
            a {
                color: black;
                &:hover {
                    color: $brown;
                }
            }
        }
    }
    
}

.main-header__burger {
    &.active {
        div:first-child {
            transform: rotate(-45deg) translateY(6px);
        }
        div:last-child {
            transform: rotate(45deg) translateY(-6px);
        }
    }
}

/* ------------------------------- info short ------------------------------- */

#infoShort {
    &.in {
        animation: 0.5s infoIn both;
    }
    &.out {
        animation: 0.3s infoOut both;
    }

}

/* ----------------------------------- ui ----------------------------------- */
.c-select {
    height: 40px;
    position: relative;
    border-bottom: 1px #ccc solid;
    .lnr {
        pointer-events: none;
        position: absolute;
        right: 0px;
        line-height: 40px;
    }
}
.select2-container--default .select2-selection--single {
    border: none;
    height: auto;
}
.select2-selection__arrow {
    display: none
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 39px;
    padding-left: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    font-weight: 400;
    padding-right: 30px;
}
.select2-dropdown {
    border: none;
    border-radius: 0px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: none;
    color: $brown;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background: none;
    color: $brown;
}
.select2-results__option {
    padding: 10px 15px;
    font-weight: 400;
    border-bottom: 1px #eee solid;
}

.c-field {
    position: relative;
    padding-top: 10px;
    &__label {
        font-weight: 400;
        position: absolute;
        bottom: 0px;
        left: 0px;
        line-height: 50px;
        pointer-events: none;
        transition: all 0.2s;
    }
    &__input {
        width: 100%;
        font-weight: 400;
        height: 50px;
        outline: none;
        border-bottom: 1px #ccc solid;
        transition: all 0.2s;
    }
    &.active {
        .c-field__label {
            font-size: 10px;
            bottom: 45px;
            line-height: 10px;
        }
        .c-field__input {
            border-color: $brown;
        }
    }
}

.range-slider {
    background: none;
    border: none;
    box-shadow: none;
    .noUi-base:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: 0px;
        height: 1px;
        background: #ccc;
        top: 9px;
        z-index: -1;
    }
    .noUi-value {
        display: none;
    }
    .noUi-connect {
        background: none;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            top: 0px;
            height: 1px;
            background: $brown;
            top: 9px;
            z-index: -1;
        }
    }
    .noUi-handle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $brown;
        box-shadow: none;
        border: none;
        top: -1px;
        right: -10px;
        cursor: pointer;
        &:before,
        &:after {
            display: none;
        }
    }
    .noUi-marker-horizontal.noUi-marker {
        width: 1px;
        background: #ccc;
        margin: 0;
        height: 10px;
    }
    .noUi-pips-horizontal {
        padding: 0px;
        top: 5px;
        bottom: 0px;
        height: auto;
    }
    .noUi-marker-horizontal.noUi-marker-large {
        height: 10px;
    }
    .noUi-tooltip {
        font-weight: 300;
        font-size: 12px;
        border: none;
        bottom: auto;
        top: 120%;
        background: none;
    }
}

/* --------------------------------- magnify -------------------------------- */
.magnify {
    vertical-align: middle;
    width: 100%;
}



/* ---------------------------------- modal --------------------------------- */
.blocker {
    overflow-x: hidden;
    background: rgba(black, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
}
.modal {
    a.close-modal  {
        display: none
    }
    &_right {
        padding: 0px;
        border-radius: 0px;
        box-shadow: none;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        width: 100%;
        max-width: 700px;
        overflow: auto;
        animation: 0.3s ModalRight both;
    }
}


@keyframes ModalRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes headerIn {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0%)
    }
}
@keyframes headerOut {
    0% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(-100%)
    }
}


@keyframes infoIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes infoOut {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}