@font-face {
    font-family: 'SF';
    src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'SF';
  src: url("../fonts/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/SFProDisplay-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: 'SF';
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
    font-family: 'MON';
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "SF";
    font-size: 19px;
}

body.is-tea {
    background: url("../img/tea-bg.jpg");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

body.is-coffee {
    background: url("../img/cofee-bg.jpg");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
}

.img-response {
    max-width: 100%;
}

a {
    color: #004eec;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-family: "MON";
    font-size: 70px;
}

.main-header {
    margin-top: 10vw;
    text-align: center;
}

.main-header h1 {
    font-size: 4.86vw;
    color: #fff;
    text-transform: uppercase;
}

.main-header img {
    margin: 2.2vw 0;
    width: 2.29vw;
}

.main-header p {
    color: #fff;
    font-size: 1.319vw;
}

.main-banner {
    padding-top: 3.3vw;
    text-align: center;
    height: 80vw;
    margin-bottom: 3vw;
    position: relative;
}

.main-banner .product {
    width: 55.5vw;
}

.main-banner .stick {
    position: absolute;
    width: 10vw;
    bottom: -4.5vw;
    left: 57vw;
    z-index: -1;
}

.text-section p {
    margin-bottom: 3.3vw;
}

.text-section .big-text {
    font-size: 32px;
    font-weight: 700;
}

.product-info {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4vw;
}

.product-info .icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 20px;
}

.product-info img {
    width: 60px;
}

.product-info b {
    display: block;
}

.slider-section {
    margin-bottom: 6.6vw;
}

.slider-section .bx-wrapper {
    box-shadow: none;
    border: none;
}

.slider-section .bx-wrapper .bx-pager .bx-pager-link {
    background: none;
    border: 1px #b2b2b2 solid;
}

.slider-section .bx-wrapper .bx-pager .bx-pager-link.active {
    border-color: #000;
    background: #000;
}

.main-footer {
    padding-bottom: 3.3vw;
    font-size: 15px;
}

.main-footer hr {
    border: none;
    height: 1px;
    background: #e5e5e5;
    margin-bottom: 3.3vw;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .text-section {
        text-align: center;
    }

    .text-section p {
        margin-bottom: 5vw;
    }

    .text-section .big-text {
        font-size: 17px;
    }

    .product-info {
        max-width: 80vw;
        margin: 0 auto 8vw;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .product-info .icon {
        margin: 0 0 2vw 0;
    }

    .main-footer {
        font-size: 14px;
    }
}
