* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: url("../img/bg.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

.mobile-logo {
    display: none;
}

.radio-wrap {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
}

.controls-wrap {
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
}

.radio-logo-text {
    position: absolute;
    left: -220px;
    top: 60px;
    width: 890px;
}

.radio-logo-text img {
    max-width: 100%;
}

.on-off-btn {
    cursor: pointer;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

.on-off {
    width: 250px;
    height: 250px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    user-select: none;
    transition: all 0.2s;
}

.on-off img {
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.on-off:after {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/btn-light.png");
    background-size: 100%;
    background-position: center;
    transition: all 0.3s;
    opacity: 0;
}

.on-off.active:after {
    opacity: 1;
}

.on-off.push {
    -ms-transform: translate(-50%, -50%) scale(0.98);
    transform: translate(-50%, -50%) scale(0.98);
}

#handle {
    background-image: url("../img/track-empty.png");
    background-size: 100% 100%;
}

#handle .rs-inner-container {
    visibility: hidden;
}

#handle .rs-overlay {
    visibility: hidden !important;
}

#handle .rs-start,
#handle .rs-end {
    visibility: hidden !important;
}

#handle .rs-handle {
    background-image: url("../img/handl.png");
    background-size: 100% 100%;
}

#handle .full .rs-tooltip {
    font-size: 13px;
    top: auto;
    bottom: 8px;
    color: #fff;
}

.current-track {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-family: -apple-system, Roboto, 'Segoe UI';
    text-transform: uppercase;
}

.current-track .name {
    letter-spacing: 1px;
    font-size: 11px;
    display: block;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.current-track strong {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 10px;
    color: #ff872d;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
}

.socials {
    position: absolute;
    right: 30px;
    bottom: 30px;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
}

.socials li {
    margin-left: 15px;
}

.socials a {
    display: block;
    background: #899afa;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #eee;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.socials a i {
    text-shadow: 0 1px 3px #000;
}

@media screen and (max-width: 1024px) {
    .mobile-logo {
        position: absolute;
        display: block;
        width: 100%;
        left: 0px;
        top: 12%;
        text-align: center;
    }

    .mobile-logo img {
        max-width: 250px;
    }

    .radio-logo-text {
        display: none;
    }

    #handle {
        display: none;
    }

    .controls-wrap {
        width: 100%;
        overflow: hidden;
    }

    .on-off:after {
        left: 0px;
        top: 0px;
        background: url(../img/btn-light.png);
        background-position: center;
        background-size: cover;
    }

    .socials {
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding: 0 15px 30px;
    }

    .socials li {
        margin: 0px 10px;
    }

    .socials a {
        width: 30px;
        height: 30px;
        line-height: 24px;
    }

    .socials a i {
        font-size: 12px;
    }
}
