@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic');
html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px !important;
}
body {
    color: #434037;
    line-height: normal;
    font-size: 1rem !important;
}
.crm-webform-wrapper .crm-webform-header {
    margin-top: 25px;
    text-transform: uppercase;
    color: #015965;
    font-size: 18px;
}
.crm-webform-wrapper *:not(.fa) {
    font-family: 'Roboto', sans-serif !important;
}
.crm-webform-wrapper .crm-webform-default {
    border-color: transparent;
}
.crm-webform-wrapper .crm-webform-label {
    font-size: 1rem;
    line-height: normal;
    margin-bottom: 1rem;
}
.crm-webform-wrapper .crm-webform-label-content {
    background: none;
}
.crm-webform-wrapper .crm-webform-input {
    font-size: 1rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    height: 42px;
    border-radius: 0.25rem;
    border-color: #ced4da;
    font-weight: normal;
}
.crm-webform-wrapper .crm-webform-input:hover,
.crm-webform-wrapper .crm-webform-select:hover select,
.crm-webform-wrapper .crm-webform-textarea:hover textarea,
.crm-webform-wrapper .crm-webform-checkbox-container:hover i {
    border-color: #ff7a00;
}

.crm-webform-wrapper .crm-webform-file-upload .crm-webform-file-button {
    line-height: 42px;
    background: #ff7a00;
    color: #fff;
    font-weight: normal;
}

.crm-webform-wrapper .crm-webform-file-text-field {
    background: none;
    font-weight: normal;
    border-color: #ced4da;
    height: 42px;
    padding: .375rem .75rem;
    line-height: 2.2;
    border-radius: 0.25rem 0 0 0.25rem;
}
.crm-webform-wrapper button.crm-webform-submit-button {
    background: #ff7a00;
}
