.navbar-brand {
    width: 140px;
    img {
        width: 100%;
    }
}
.top-lay {
    position: relative;
    z-index: 2;
}
.bot-lay {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.priority-item {
    img {
        width: 100px;
    }
}
.fiat-block {
    img {
        max-width: 160px;
    }
}
.sec-divider {
    width: 100px;
    height: 1px;
}

.develop-col-item {
    border-left: 2px (var(--bs-blue)) solid;
}
.footer {
    font-size: 0.8rem;
    &__logo {
        display: inline-block;
        width: 120px;
        img {
            width: 100%;
        }
    }
}
@media (min-width: 576px) {
    
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .main-banner {
        min-height: 80vh;
        background-image: url(../image/main-bg.jpg);
        background-position: center right;
        background-size: cover;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    
}