.navbar-brand {
    width: 140px;
    img {
        width: 100%;
    }
}

.main-banner {
    background-image: url(../image/main-bg.jpg);
    background-position: center right;
    background-size: cover;
    height: 80vh;
    
}

.top-lay {
    position: relative;
    z-index: 2;
}
.bot-lay {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.priority-item {
    img {
        width: 100px;
    }
}
.sec-divider {
    width: 100px;
    height: 1px;
}


.develop-col-item {
    border-left: 2px #198754 solid;
}

.footer {
    font-size: 0.8rem;
    &__logo {
        display: block;
        width: 120px;
        img {
            width: 100%;
        }
    }
}