@media screen and (max-width:992px) {
    .product-carusel {
        .owl-nav {
            .owl-prev {
                left: -65px;
            }
            .owl-next {
                right: -65px;
            }
        }
    }
    .main-footer {
        .feedback-form {
            margin: 20px 0;
        }
    }
}
@media screen and (max-width:768px) {
    body {
        padding-top: 40px;
    }
    .container {
        max-width: 100%;
    }
    .main-header {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        background: $green;
        z-index: 100;
        .burger-btn {
            display: block;
        }
        .main-header-inner {
            display: block;
            position: absolute;
            width: 300px;
            height: 100vh;
            top: 40px;
            left: 0px;
            background: $green;
            transform: translateX(-150%);
            z-index: 2;
            transition: transform 0.3s ease-in;
            &.open {
                transform: translateX(0);
            }
        }
        .head-lang-toggle {
            top: 12px;
        }
        .header-logo {
            display: block;
            text-align: center;
            margin: 0px 0px 30px;
            img {
                margin: auto;
            }
        }
        .header-nav {
            display: block;
            margin: 20px 0;
            padding: 0px;
            background: none;
            a {
                display: block;
                padding: 15px 15px;
                border-top: 1px darken($green,5) solid;
                &.active {
                    opacity: 1;
                    color: green;
                    background: rgba(#fff,0.5);
                }
            }
        }
        .header-tel {
            display: block;
            text-align: center;
        }
    }
    .main-banner {
        &.small {
            .small-banner-text {
                display: block;
                span {
                    text-align: inherit;
                    display: block;
                    margin-top: 15px;
                }
            }
        }
    }
    .product-carusel {
        .owl-nav {
            display: none;
        }
    }
}
@media screen and (max-width:576px) {
    h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }
    h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 20px;
    }
    .section-title {
        text-align: center;
        span {
            display: block;
        }
        .t-button {
            margin: 20px 0 0 0
        }
    }
    .main-banner {
        padding: 30px 0;
        text-align: center;
        .t-button {
            margin: 25px 0;
        }
    }
    .product-item {
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
        .product-type {
            justify-content: center;
        }
    }
    .contact-section {
        text-align: center;
        > .bg {
            display: none;
        }
        .contact-info {
            .adress {
                margin: 0px;
                margin-bottom: 15px;
                p {
                    margin-bottom: 15px;
                }
            }
        }
        .e-commerce {
            margin-left: -15px;
            margin-right: -15px;
            padding-left: 15px;
            padding-right: 15px;
            > .bg {
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 0px;
                right: 0px;
                z-index: 0;
            }
            > * {
                position: relative;
                z-index: 1;
            }
        }
    }
    .lightbox {
        .lb-caption {
            padding: 10px;
            font-weight: 400;
            font-size: 10px;
            line-height: 1.2;
        }
        .lb-details {
            left: 4px;
            right: 4px;
            bottom: 9px;
            width: auto;
        }
    }
    .main-footer {
        padding: 35px 0;
        text-align: center;
        strong {
            display: none;
        }
        .footer-tel {
            line-height: normal;
            font-size: 25px;
        }
    }
}
