.t-button {
    font-family: "Fira Sans";
    font-size: 14px;
    display: inline-flex;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.4px;
    height: 40px;
    padding: 0 20px;
    line-height: 38px;
    background: none;
    border: none;
    border-radius: 20px;
    border: 2px transparent solid;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.2s;
    &.salat-filled {
        color: #000;
        border-color: $salat;
        background: $salat;
        &:hover {
            border-color: darken($salat,10);
            background: darken($salat,10);
        }
    }
    &.green-outline {
        color: $green;
        border-color: $green;
        &:hover {
            background: $green;
            color: #fff;
        }
    }
    &.white-outline {
        color: #fff;
        border-color: #fff;
        &:hover {
            background: #fff;
            color: #000;
        }
    }
}
.t-field {
    margin-bottom: 15px;
    input,textarea,select {
        height: 36px;
        width: 100%;
        border: none;
        padding: 0 10px;
    }
    textarea {
        height: 150px;
        padding: 10px 20px;
        resize: vertical;
    }
}
