* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    height: 100%;
}
body {
    font-family: sans-serif;
    height: 100%;
    background: url('https://www.walldevil.com/wallpapers/w01/415329-gradient-background-turquoise.jpg');
    background-size: cover;
    overflow-x: hidden;
    perspective: 2000px;
}
.content {
    height: 100%;
    background: #fff;
    margin-left: 50px;
    position: relative;
    z-index: 2;
    padding: 20px;
    overflow: auto;
    transition: all 0.3s;
    will-change: transform, filter, scroll-position;
}
.toggle-nav-checkbox {
    display: none;
}
.toggle-nav {
    width: 50px;
    height: 50px;
    position: fixed;
    background: #263238;
    border-bottom: 1px rgba(#fff,0.3) solid;
    border-right: 1px rgba(#fff,0.3) solid;
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;
    &:hover {
        color: #03a9f4;
    }
}
.toggle-nav-checkbox:checked {
    & ~ .toggle-nav {
        color: #03a9f4;
        i.mdi:before {
            content: "\F156";
        }
    }
    & ~ .content {
        height: 100%;
        overflow: hidden;
        transform: translateX(200px) scale(0.7) rotateY(-10deg);
        filter: blur(5px);
    }
}
.side-nav {
    width: 50px;
    position: fixed;
    top: 50px;
    bottom: 0px;
    background: #263238;
    color: #fff;
    border-right: 1px rgba(#fff,0.3) solid;
    a {
        text-decoration: none;
        line-height: 50px;
        white-space: nowrap;
        height: 50px;
        display: flex;
        color: #fff;
        border-bottom: 1px rgba(#fff,0.3) solid;
        transition: all 0.3s;
        &:hover {
            color: #ff6f00;
            i.mdi {
                color: #03a9f4;
                margin-right: 25px;
            }
        }
    }
    i.mdi {
        flex: 0 0 auto;
        width: 50px;
        text-align: center;
        margin-right: 20px;
        transition: all 0.3s;
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.card {
    flex: 0 0 auto;
    width: calc(25% - 20px);
    margin: 0 10px 20px 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 32px 0 rgba(#90a4ae,0.2);
    &:hover {
        .card-body {
            img {
                transform: scale(1.1);
                filter: grayscale(0%);
            }
        }
    }
    .card-body {
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            height: auto;
            vertical-align: middle;
            filter: grayscale(100%);
            transition: all 0.6s;
        }
    }
    .card-footer {
        padding: 15px;
    }
    strong {
        font-size: 14px;
    }
    p {
        margin: 10px 0 0 0;
        font-size: 12px;
    }
}
