@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Fira Sans";
    color: #000;
    line-height: 1.3;
    font-weight: 500;
}

body.menu-open {
    overflow: hidden;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4 {
    font-family: "PT Serif";
    line-height: 1;
    font-weight: 800;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 25px;
}

input, select, textarea, button, a {
    font: inherit;
    outline: none !important;
}

.section-title {
    margin-bottom: 30px;
}

.container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
}

.app {
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*-------------------up bar--------------------*/
.up-bar {
    background: linear-gradient(to bottom, #739f2d, #5b881f);
}

.up-bar .up-bar-inner {
    height: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.up-bar a {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 1px;
}

.up-bar a:hover {
    opacity: 0.5;
}

.up-bar a img {
    margin-right: 5px;
}

.lang-choise {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.lang-choise a {
    margin-right: 25px;
    opacity: 0.4;
}

.lang-choise a.active {
    opacity: 1;
}

.lang-choise img {
    width: 20px;
}

.lk-links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.lk-links img {
    margin-top: -2px;
}

.lk-links a {
    margin-left: 25px;
}

/*-------------------main-header--------------------*/
.main-header {
    position: relative;
}

.main-header:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: url("../img/menu-back.jpg");
    background-position: center 20%;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
}

.main-header-blocks {
    padding: 38px 0 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.header-logo h2 {
    margin-left: 40px;
    font-size: 22px;
    line-height: 1.1;
}

.header-contact .work-time {
    font-size: 12px;
}

.header-contact .work-time sup {
    font-size: 8px;
    vertical-align: top;
}

.header-contact .tel {
    margin: 5px 0;
    font-size: 22px;
    line-height: 1.1;
}

.header-contact .mail {
    color: #5a9500;
    font-weight: 600;
    position: relative;
    padding-left: 23px;
    line-height: 20px;
}

.header-contact .mail img {
    position: absolute;
    left: 0px;
    top: 2px;
}

.header-contact .feedback {
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    background: #739f2d;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 6px;
}

.header-contact .feedback:hover {
    opacity: 0.7;
}

.header-basket {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.header-basket:hover {
    opacity: 0.6;
}

.header-basket .basket-ico {
    background: #739f2d;
    padding: 8px 7px;
    border-radius: 8px;
    margin-right: 10px;
}

.header-basket b {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline;
    color: #739f2d;
}

.header-basket b span {
    left: calc(100% + 3px);
    top: -3px;
    position: absolute;
    padding: 3px 6px 0 8px;
    line-height: 17px;
    background: #739f2d;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
}

.header-basket .sum {
    display: block;
    margin-top: 4px;
    font-size: 12px;
}

/*-------------------.main-nav--------------------*/
.main-nav {
    margin-top: -20px;
    position: relative;
    background: #739f2d;
    color: #fff;
    border-radius: 6px;
}

.main-nav .burger-btn {
    display: none;
    background: none;
    border: none;
    padding: 5px 0;
    cursor: pointer;
}

.main-nav .burger-btn span {
    margin: 5px 0;
    display: block;
    height: 3px;
    width: 30px;
    background: #fff;
}

.main-nav .nav-links {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-nav a {
    display: block;
    padding: 14px 25px 12px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.main-nav .has-sub-links {
    position: relative;
}

.main-nav .has-sub-links:hover .sub-links {
    display: block;
}

.main-nav .sub-links {
    display: none;
    background: #fff;
    border-radius: 6px;
    border: 2px #739f2d solid;
    position: absolute;
    left: 0px;
    top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 160px;
    z-index: 2;
}

.main-nav .sub-links li:last-child a {
    border: none;
}

.main-nav .sub-links a {
    border-bottom: 1px #ccc solid;
    color: #739f2d;
    padding-left: 0px;
    padding-right: 0px;
}

.main-nav .sub-links a:hover {
    opacity: 0.6;
}

.main-nav .sub-links-title {
    text-transform: uppercase;
    color: #ccc;
    padding: 13px 0px 11px;
    font-size: 11px;
    letter-spacing: 1px;
}

/*-------------------main-content--------------------*/
.main-content {
    padding: 50px 0;
}

/*-------------------crumbs--------------------*/
.crumbs {
    margin: 0px 0 50px 0px;
}

.crumbs li {
    font-size: 12px;
    color: #739f2d;
    display: inline-block;
}

.crumbs li:after {
    content: "/";
}

.crumbs li:last-child:after {
    display: none;
}

.crumbs li:last-child a {
    color: #ccc;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.crumbs a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #739f2d;
}

/*-------------------topinabur-benefit-text--------------------*/
.topinabur-benefit-text {
    padding: 5px 25px;
}

.topinabur-benefit-text.with-leaver {
    background: url("../img/leaver.png");
    background-repeat: no-repeat;
    background-position: right 10% center;
    background-size: auto 100%;
}

.topinabur-benefit-text.with-porridge {
    background: url("../img/porridge.png");
    background-repeat: no-repeat;
    background-position: right 5% center;
    background-size: auto 100%;
}

.topinabur-benefit-text p:not(.big) {
    padding-left: 60px;
}

.topinabur-benefit-text .text-article {
    font-weight: 500;
}

/*-------------------topi-catalog--------------------*/
.topi-catalog {
    padding: 40px 0;
}

.catalog-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.catalog-product-item:hover .product-image {
    box-shadow: 0 0px 20px 5px rgba(204, 204, 204, 0.3);
}

.catalog-product-item:hover .product-name a {
    color: #739f2d;
}

.catalog-product-item .product-image {
    position: relative;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.catalog-product-item .product-image img {
    width: 100%;
}

.catalog-product-item .product-image .sale, .catalog-product-item .product-image .price {
    font-family: "PT Serif";
    font-weight: 600;
    right: 13px;
    border-radius: 2px;
    position: absolute;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
}

.catalog-product-item .product-image .sale {
    top: -15px;
    background: #ff0000;
}

.catalog-product-item .product-image .price {
    bottom: -10px;
    background: #739f2d;
}

.catalog-product-item .product-descr {
    min-height: 75px;
    margin-bottom: 19px;
}

.catalog-product-item .product-name {
    margin-bottom: 15px;
}

.catalog-product-item .product-name a {
    text-decoration: none;
}

.catalog-product-item .product-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.catalog-product-item .product-info .category {
    background: #739f2d;
    color: #fff;
    font-size: 10px;
    padding: 5px 8px 2px;
    border-radius: 3px;
}

.catalog-product-item .product-info .weight {
    margin-left: 10px;
    color: #909090;
    font-size: 11px;
}

.catalog-product-item .add-product {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.catalog-product-item .add-product .add-counts {
    margin-left: -10px;
    margin-right: 10px;
}

.add-counts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.add-counts .topi-input {
    text-align: center;
    font-family: "PT Serif";
    font-weight: 800;
    width: 50px;
    padding: 0px;
    font-size: 20px;
}

.add-counts button {
    cursor: pointer;
    padding: 0px 10px;
    border: none;
    background: none;
    font-size: 30px;
    height: 40px;
    cursor: pointer;
}

.add-counts button:hover {
    color: #739f2d;
}

/*-------------------product-wrap--------------------*/
.product-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 365px 1fr;
    grid-template-columns: 365px 1fr;
    grid-column-gap: 50px;
}

.product-description .image {
    margin-bottom: 10px;
}

.product-description .image img {
    width: 100%;
}

.product-description .thumbs-image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-description .thumbs-image a {
    width: 80px;
    height: 80px;
    text-decoration: none;
    margin-bottom: 15px;
}

.product-description .thumbs-image a:not(:first-child) {
    margin-left: 15px;
}

.product-description .thumbs-image a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-description .action {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product-info-table {
    margin-bottom: 30px;
}

.product-info-table table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

.product-info-table table td {
    height: 40px;
    padding: 0px;
    vertical-align: middle;
}

.product-info-table table td:first-child {
    font-weight: bold;
}

.product-info-table .price, .product-info-table .sale {
    display: inline-block;
    font-family: "PT Serif";
    font-weight: 600;
    right: 13px;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
}

.product-info-table .price {
    background: #739f2d;
}

.product-info-table .sale {
    background: #ff0000;
}

/*-------------------topi-news--------------------*/
.topi-news {
    background: #f4f4f4;
    padding: 35px 0;
}

.topi-news .title {
    display: block;
    margin-bottom: 15px;
    font-size: 11px;
    color: #9e9e9e;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.topi-news .topi-news-blocks {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 140px;
    grid-template-columns: 1fr 1fr 1fr 140px;
}

.topi-news .item a {
    font-size: 14px;
    text-decoration: none;
}

.topi-news .item a:hover {
    color: #739f2d;
}

.topi-news .item p {
    margin-top: 5px;
    color: #777;
    font-size: 12px;
}

.topi-news .item:last-child a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.topi-news .item:last-child a img {
    margin-right: 15px;
}

/*-------------------topi-slider--------------------*/
.topi-slider {
    padding: 60px 0 0px;
}

.topi-slider .bx-wrapper {
    box-shadow: none;
    border: none;
    margin-bottom: 30px;
}

/*-------------------topi-sales-list--------------------*/
.topi-sales-list .item {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
    -ms-flex-align: center;
    align-items: center;
}

.topi-sales-list .image {
    margin-right: 25px;
}

.topi-sales-list h2 {
    font-size: 20px;
}

.topi-sales-list .date {
    display: block;
    margin: 10px 0;
    font-weight: 400;
}

.topi-sales-list a {
    text-decoration: none;
}

.topi-sales-list a:hover {
    color: #739f2d;
}

/*-------------------topi-reviews--------------------*/
.topi-reviews-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 150px;
    grid-row-gap: 50px;
}

.review-item {
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
}

.review-item .image {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 20px;
}

.review-item .review-info {
    padding-top: 5px;
}

.review-item .rate {
    margin: 3px 0 5px;
}

.review-item .rate i.mdi {
    font-size: 24px;
    color: #739f2d;
}

/*-------------------basket-list--------------------*/
.basket-list-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 14px;
}

.basket-list-table th {
    border-bottom: 1px #000 solid;
    padding: 0 0 5px;
}

.basket-list-table th:first-child {
    text-align: left;
}

.basket-list-table th:nth-child(2) {
    text-align: center;
    width: 210px;
}

.basket-list-table th:nth-child(3) {
    text-align: left;
    width: 100px;
}

.basket-list-table th:nth-child(4) {
    text-align: left;
    width: 100px;
}

.basket-list-table th:nth-child(5) {
    text-align: right;
    width: 70px;
}

.basket-list-table tr:nth-child(even) td {
    background: #f5f5f5;
}

.basket-list-table td {
    vertical-align: middle;
}

.basket-list-table td:last-child {
    padding-right: 10px;
    text-align: right;
}

.basket-list-table .image {
    display: inline-block;
    margin-right: 20px;
}

.basket-list-table .remove {
    cursor: pointer;
    border-radius: 2px;
    padding: 0px 10px;
    background: none;
    height: 40px;
    border: 1px #c3c3c3 solid;
    font-size: 24px;
    color: #ff0000;
}

.basket-list-table .remove:hover {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.basket-list-table .add-counts {
    -ms-flex-pack: center;
    justify-content: center;
}

.basket-sum-calculate {
    margin: 20px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.basket-sum-calculate b {
    font-family: "PT Serif";
}

.basket-sum-calculate .promo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.basket-sum-calculate .promo i.mdi {
    font-size: 34px;
    color: #739f2d;
}

.basket-sum-calculate .promo b {
    font-weight: 900;
    font-size: 20px;
    margin: 0 10px;
}

.basket-sum-calculate .promo .topi-input {
    width: 150px;
}

.basket-sum-calculate .final {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.basket-sum-calculate .final b {
    font-size: 30px;
    margin-right: 20px;
}

/*-------------------basket-profile--------------------*/
.basket-profile-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
    margin-bottom: 50px;
}

.basket-profile-inputs .if-old-user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.basket-profile-inputs .user-adress .form-item label {
    width: 180px;
}

.profile-data-agree {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.profile-data-agree .agree-checks {
    max-width: 650px;
}

.profile-data-agree .topi-toggle {
    margin-bottom: 5px;
}

.profile-data-agree .topi-toggle a {
    color: #739f2d;
}

.profile-data-agree .topi-btn {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 15px;
}

.profile-data-agree p {
    font-weight: 400;
    font-size: 13px;
}

/*-------------------basket-delivery--------------------*/
.delivery-country {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
}

.delivery-country .country-name {
    display: inline-block;
    position: relative;
    padding: 8px 5px 6px 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px #739f2d solid;
    border-right: 0px;
    border-radius: 3px 0 0 3px;
    margin-bottom: 15px;
}

.delivery-country .country-name:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent #739f2d;
}

.delivery-country .country-name:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 14px 0 14px 14px;
    border-color: transparent transparent transparent white;
}

.delivery-country .delivery-item {
    display: -ms-flexbox;
    display: flex;
}

.delivery-country .delivery-item .price {
    margin: 10px 0 0 15px;
    white-space: nowrap;
    font-family: "PT Serif";
    font-size: 15px;
    color: #739f2d;
}

.delivery-country .next {
    padding-top: 40px;
    text-align: right;
}

/*-------------------basket-pay--------------------*/
.basket-pay .next {
    text-align: center;
}

.pay-methods {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px 250px;
    grid-template-columns: 250px 250px 250px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}

/*-------------------user-parlour--------------------*/
.user-parlour-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 210px 1fr;
    grid-template-columns: 210px 1fr;
}

.parlour-nav li {
    margin-top: 10px;
}

.parlour-nav a {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #739f2d;
}

.parlour-nav a.active {
    color: #c6c6c6;
    text-decoration: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.parlour-content .section-title {
    border-bottom: 1px #e5e5e5 solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.parlour-content .section-title + p {
    font-weight: 400;
    margin-bottom: 20px;
}

/*-------------------user-subs-list--------------------*/
.user-subs-list {
    margin-bottom: 25px;
}

.user-subs-list .topi-toggle {
    margin-bottom: 0px;
}

/*-------------------orders-list-table--------------------*/
.orders-list-table {
    width: 100%;
}

.orders-list-table b {
    font-family: "PT Serif";
    font-size: 16px;
    font-weight: 900;
}

.orders-list-table td {
    font-size: 13px;
    font-weight: 400;
    padding: 15px 15px;
}

.orders-list-table td:last-child {
    text-align: right;
}

.orders-list-table tr:nth-child(even) td {
    background: #f7f7f7;
}

.orders-list-table .status {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
    border: 1px #739f2d solid;
    border-radius: 3px;
    padding: 4px 6px 2px;
}

.orders-list-table .status.complete {
    background: #739f2d;
    color: #fff;
}

.orders-list-table .status.whait {
    color: #739f2d;
}

/*-------------------user-bonus-info--------------------*/
.user-bonus-info {
    font-weight: 400;
}

.user-bonus-info .current-bonus {
    margin-left: 15px;
    display: inline-block;
    color: #fff;
    background: #739f2d;
    border-radius: 3px;
    padding: 5px 7px 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 10px;
}

/*-------------------profile-data--------------------*/
.profile-data > .topi-btn {
    margin: 30px 0 60px;
}

.profile-data > p {
    font-weight: 400;
}

.profile-data > h3 {
    margin-bottom: 10px;
}

.profile-data-table td {
    padding: 10px 0;
}

.profile-data-table td a {
    color: #739f2d;
    font-weight: 600;
}

.profile-data-table td:first-child {
    padding-right: 70px;
}

.profile-data-table td:last-child {
    font-family: "PT Serif";
    font-size: 18px;
}

.soc-accounts .item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
}

.soc-accounts .item .mdi {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
}

.soc-accounts .item .mdi-facebook {
    background: #4a64a0;
}

.soc-accounts .item .mdi-vk {
    background: #5b75a1;
}

.soc-accounts .item .mdi-instagram {
    background: #e4405f;
}

/*-------------------wholesaler-info--------------------*/
.wholesaler-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.wholesaler-info .feedback-form {
    padding-left: 20%;
}

/*-------------------devivery-info--------------------*/
.delivery-pay-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.delivery-pay-info img {
    max-width: 100%;
}

.delivery-pay-info .delivery-info img {
    margin-bottom: 30px;
}

.delivery-pay-info .pay-info {
    padding-left: 20%;
}

.delivery-pay-info .pay-info img {
    margin: 30px 0 60px;
}

.prop-table {
    display: none;
}

.delivery-property {
    margin-top: 30px;
}

.delivery-property .city {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    font-family: "PT Serif";
    font-weight: 800;
    color: #739f2d;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
}

.delivery-property .city:hover {
    text-decoration: none;
}

.delivery-property .city.active i.mdi {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.delivery-property .city i.mdi {
    line-height: 22px;
    height: 20px;
    font-size: 24px;
    margin-right: 3px;
    transition: all 0.3s;
}

.delivery-property table {
    width: 100%;
    margin-bottom: 40px;
    font-size: 12px;
}

.delivery-property table td {
    line-height: 1.5;
    border-bottom: 1px #ccc solid;
    padding: 15px 0;
}

.delivery-property table td:last-child {
    padding-left: 20px;
    width: 150px;
}

/*-------------------main-footer--------------------*/
.main-footer {
    margin-top: auto;
    background: #ebebeb;
    padding: 50px 0;
}

.footer-blocks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-blocks b {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-blocks ul li {
    font-size: 12px;
    margin-top: 16px;
}

.footer-lk-links a {
    letter-spacing: 1px;
    color: #739f2d;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-lk-links a:hover {
    opacity: 0.6;
}

.footer-contacts-info i.mdi {
    line-height: 15px;
    font-size: 18px;
    color: #666;
    vertical-align: middle;
    margin-right: 5px;
}

.footer-contacts-info strong {
    letter-spacing: 1px;
}

.footer-contacts-info a {
    color: #739f2d;
}

.footer-copy a {
    text-decoration: none;
}

.footer-copy .socials {
    display: -ms-flexbox;
    display: flex;
    margin: 25px 0;
}

.footer-copy .mdi-facebook {
    background: #4a64a0;
}

.footer-copy .mdi-vk {
    background: #5b75a1;
}

.footer-copy .mdi-instagram {
    background: #e4405f;
}

.footer-copy .mdi {
    margin-right: 10px;
    font-size: 18px;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

.footer-copy .feedback {
    display: inline-block;
    font-size: 14px;
    background: #739f2d;
    color: #fff;
    text-decoration: none;
    padding: 8px 13px;
    border-radius: 6px;
    font-weight: 400;
    letter-spacing: 1px;
}

/*-------------------text-article--------------------*/
.text-article {
    line-height: 1.5;
}

.text-article h3 {
    margin: 30px 0 15px;
}

.text-article a {
    color: #739f2d;
}

.text-article p {
    margin: 0 0 15px;
}

.text-article .big {
    margin: 20px 0;
    font-size: 34px;
    font-family: "PT Serif";
    font-weight: 800;
    line-height: 1.2;
}

.text-article ul {
    list-style: none;
}

.text-article ul li {
    text-indent: 20px;
}

.text-article ul li:before {
    content: "•";
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

/*-------------------ui--------------------*/
.topi-btn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    padding: 0 30px;
    background: #739f2d;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: 1px;
    border-radius: 20px;
}

.topi-btn .mdi:last-child {
    font-size: 20px;
    margin-left: 10px;
    margin-right: -10px;
}

.topi-btn.outline {
    color: #739f2d;
    background: none;
    box-shadow: 0 0 0 2px #739f2d inset;
}

.topi-btn + .topi-btn {
    margin-left: 20px;
}

.topi-input {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    height: 40px;
    border: 1px #c3c3c3 solid;
    padding: 0 20px;
    transition: 0.3s all;
}

.topi-input:focus {
    box-shadow: 0 0 4px 0 rgba(115, 159, 45, 0.5) inset;
}

textarea.topi-input {
    resize: vertical;
    min-height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-item {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
}

.form-item.vertical {
    -ms-flex-direction: column;
    flex-direction: column;
}

.form-item.vertical label {
    width: auto;
    margin-bottom: 10px;
}

.form-item label {
    width: 120px;
    padding: 12px 15px 0 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.topi-toggle {
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    padding: 9px 0;
    margin-bottom: 25px;
}

.topi-toggle input {
    display: none;
}

.topi-toggle input:checked + .toggle:after {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
}

.topi-toggle .toggle {
    position: relative;
    width: 22px;
    height: 22px;
    border: 1px #b9b9b9 solid;
    border-radius: 3px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 10px;
}

.topi-toggle .toggle:after {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    right: 2px;
    bottom: 2px;
    background: #739f2d;
    border-radius: 2px;
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 0.2s;
}

.topi-toggle .lbl b {
    font-family: "PT Serif";
    font-size: 16px;
    line-height: 20px;
}

.rate-stars {
    text-align: center;
}

.rate-stars i {
    color: #739f2d;
}

.remodal {
    border-radius: 10px;
}

.remodal .modal-body {
    margin: 0 auto;
    max-width: 400px;
    text-align: left;
    padding: 35px 0 35px;
}

.remodal .remodal-close {
    color: #fff;
    background: #739f2d;
    left: auto;
    right: -15px;
    top: -15px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
  /*-------------------main-header--------------------*/
    .header-logo h2 {
        display: none;
    }
  /*-------------------.main-nav--------------------*/
    .main-nav {
        bottom: 0px;
        margin: -15px;
        padding: 0 15px;
        border-radius: 0px;
    }

    .main-nav .burger-btn {
        display: inline-block;
    }

    .main-nav a {
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
    }

    .main-nav a:hover {
        opacity: 0.6;
    }

    .main-nav .nav-links {
        display: none;
    }

    .main-nav .sub-links {
        padding: 0px;
        display: block;
        position: static;
        background: none;
        border: none;
    }

    .main-nav .sub-links a {
        margin-left: 20px;
        color: #fff;
        border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
    }

    .main-nav .sub-links li:last-child a {
        border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
    }

    .main-nav .sub-links-title {
        display: none;
    }
  /*-------------------topi-catalog--------------------*/
    .catalog-grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
  /*-------------------product-wrap--------------------*/
    .product-wrap {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 320px 1fr;
        grid-template-columns: 320px 1fr;
        grid-column-gap: 30px;
    }
  /*-------------------main-content--------------------*/
    .main-content {
        padding-top: 40px;
    }
  /*-------------------topinabur-benefit-text--------------------*/
    .topinabur-benefit-text {
        padding: 5px 0px;
    }

    .topinabur-benefit-text.with-leaver {
        background: none;
    }

    .topinabur-benefit-text.with-porridge {
        background: none;
    }

    .topinabur-benefit-text p:not(.big) {
        padding-left: 0px;
    }
  /*-------------------topi-news--------------------*/
    .topi-news {
        padding: 25px 0;
    }

    .topi-news .topi-news-blocks {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }
  /*-------------------topi-slider--------------------*/
    .topi-slider {
        padding: 15px 0;
    }
  /*-------------------topi-reviews--------------------*/
    .topi-reviews-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
  /*-------------------basket-list--------------------*/
    .basket-list-table h3 {
        font-size: 14px;
    }

    .basket-list-table th:nth-child(2) {
        width: 150px;
    }

    .basket-list-table th:nth-child(3) {
        text-align: left;
        width: 70px;
    }

    .basket-list-table th:nth-child(4) {
        text-align: left;
        width: 70px;
    }

    .basket-sum-calculate {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: end;
        align-items: flex-end;
    }

    .basket-sum-calculate .final {
        margin-top: 30px;
    }
  /*-------------------basket-profile--------------------*/
    .basket-profile-inputs {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        margin-bottom: 30px;
    }

    .basket-profile-inputs .if-old-user {
        display: block;
    }
  /*-------------------basket-pay--------------------*/
    .pay-methods {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 220px 220px 220px;
        grid-template-columns: 220px 220px 220px;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 50px;
    }
  /*-------------------user-parlour--------------------*/
    .user-parlour-wrap {
        display: block;
    }

    .parlour-nav {
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 30px;
    }

    .parlour-nav li {
        margin-top: 0px;
    }

    .parlour-nav a {
        display: block;
        background: #739f2d;
        color: #fff;
        text-decoration: none;
        padding: 10px 10px;
    }

    .parlour-nav a.active {
        color: #000;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
  /*-------------------text-article--------------------*/
    .text-article a {
        color: #739f2d;
    }

    .text-article p {
        margin: 10px 0;
    }

    .text-article .big {
        margin: 10px 0;
        font-size: 20px;
        font-family: "PT Serif";
        font-weight: 800;
        line-height: 1.2;
    }
  /*-------------------ui--------------------*/
    .form-item {
        display: block;
    }

    .form-item label {
        padding: 0px;
        display: block;
        margin-bottom: 5px;
    }

    .topi-toggle {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 500px) {
  /*-------------------up bar--------------------*/
    .lang-choise a {
        margin-right: 10px;
    }

    .lk-links a {
        margin-left: 10px;
    }
  /*-------------------main-header--------------------*/
    .header-basket {
        position: relative;
    }

    .header-basket .basket-ico {
        margin-right: 0px;
    }

    .header-basket .basket-info {
        right: 15px;
        top: -5px;
        position: absolute;
        visibility: hidden;
    }

    .header-basket .basket-info .sum {
        display: none;
    }

    .header-basket .basket-info b span {
        visibility: visible;
    }
  /*-------------------topi-catalog--------------------*/
    .catalog-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
  /*-------------------topi-sales-list--------------------*/
    .topi-sales-list .item {
        display: block;
        margin-bottom: 25px;
    }

    .topi-sales-list .image {
        width: 190px;
        margin: 0px auto 20px;
    }

    .topi-sales-list .image img {
        width: 100%;
    }
  /*-------------------topi-news--------------------*/
    .topi-news {
        padding: 25px 0;
    }

    .topi-news .topi-news-blocks {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
  /*-------------------topi-reviews--------------------*/
    .topi-reviews-grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 30px;
    }

    .review-item .image {
        width: 70px;
    }

    .review-item .image img {
        width: 100%;
    }

    .review-item .review-info {
        padding: 0px;
    }
  /*-------------------basket-list--------------------*/
    .basket-list-table-wrap {
        max-width: 100%;
        overflow-x: auto;
    }

    .basket-list-table-wrap .basket-list-table {
        min-width: 600px;
    }

    .basket-sum-calculate .promo b {
        font-size: 16px;
    }

    .basket-sum-calculate .final {
        width: 100%;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .basket-sum-calculate .final b {
        font-size: 18px;
        margin: 0px;
    }
  /*-------------------basket-profile--------------------*/
    .basket-profile-inputs {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        margin-bottom: 0px;
    }

    .profile-data-agree {
        display: block;
    }

    .profile-data-agree .agree-checks {
        max-width: 650px;
    }

    .profile-data-agree .topi-btn {
        margin: 10px 0 0 0;
    }
  /*-------------------basket-delivery--------------------*/
    .delivery-country {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 15px;
    }

    .delivery-country .delivery-item {
        display: -ms-flexbox;
        display: flex;
    }

    .delivery-country .delivery-item .topi-toggle {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .delivery-country .next {
        padding-top: 40px;
        text-align: right;
    }
  /*-------------------basket-pay--------------------*/
    .pay-methods {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }
  /*-------------------user-parlour--------------------*/
    .parlour-nav {
        display: block;
        margin-bottom: 30px;
    }

    .parlour-nav a {
        border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
    }
  /*-------------------orders-list-table--------------------*/
    .orders-list-wrap {
        max-width: 100%;
        overflow: auto;
    }

    .orders-list-wrap .orders-list-table {
        min-width: 600px;
    }

    .orders-list-wrap .orders-list-table td {
        padding: 10px 10px;
    }
  /*-------------------wholesaler-info--------------------*/
    .wholesaler-info {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .wholesaler-info .feedback-form {
        margin-top: 40px;
        padding-left: 0%;
    }
  /*-------------------devivery-info--------------------*/
    .delivery-pay-info {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .delivery-pay-info .pay-info {
        padding: 0px;
        margin-top: 30px;
    }

    .product-description {
        margin-bottom: 30px;
    }

    .product-description .image {
        margin-bottom: 15px;
    }
  /*-------------------product-wrap--------------------*/
    .product-wrap {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
    }
  /*-------------------main-footer--------------------*/
    .main-footer {
        padding: 20px 0;
    }

    .footer-blocks {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        text-align: center;
    }

    .footer-blocks .socials {
        -ms-flex-pack: center;
        justify-content: center;
    }
  /*-------------------ui--------------------*/
    .topi-btn {
        padding: 0 20px;
    }
}

@media screen and (max-width: 320px) {
  /*-------------------up bar--------------------*/
    .up-bar a {
        font-size: 10px;
    }
  /*-------------------main-header--------------------*/
    .header-logo {
        display: none;
    }

    .main-header-blocks {
        padding: 20px 0 40px;
    }
}
