* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   outline: none;
}

$brown-b: #5E292C;
$brown-t: #6B2F33;
$white-b: #FFFCF2;
$white-t: #FFFBEE;
$divider: #914D51;

body {
   font-family: 'PF Regal Text Pro';
   background: $brown-b;
   font-size: 16px;
   color: $brown-t;
}
a {
   color: $brown-t;
}
input,select,textarea, button {
   font-family: 'PF Regal Text Pro';
}
.text-center {
   text-align: center;
}
.container {
   max-width: 990px;
   margin: 0 auto;
}
/*******************main-header***********/
.main-header {
   position: relative;
   z-index: 2
}
.header-top-line {
   background: $white-b;
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
   }
   .logo {
      img {
         vertical-align: middle;
      }
   }
}
.language-toggle {
   a {
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      vertical-align: middle;
      color: #DADADA;
      border-right: 1px #DADADA solid;
      transition: all 0.3s;
      padding-right: 5px;
      margin-right: 5px;
      &:hover,&.active {
         color: $brown-t;
      }
      &:last-child {
         border: none;
      }
   }
}
.header-search {
   position: relative;
   a {
      display: inline-flex;
      background: none;
      height: 60px;
      width: 60px;
      border: none;
      border-left: 1px #DADADA solid;
      border-right: 1px #DADADA solid;
      color: #DADADA;
      font-size: 24px;
      transition: all 0.3s;
      &:hover {
         background: $brown-b;
         color: #fff;
      }
      img {
         margin: auto;
      }
   }
   .search-field {
      display: none;
      background: #FFFCF2;
      width: 250px;
      right: 100%;
      position: absolute;
      height: 60px;
      padding-right: 15px;
      padding-top: 15px;
      input {
         width: 100%;
         font-weight: 500;
         flex: 1 1 auto;
         height: 30px;
         border: 1px $brown-b solid;
         font-size: 18px;
         color: $brown-t;
         padding: 0 12px;
         border-radius: 3px;
         background: #FFFCF2;
      }
      input::-webkit-input-placeholder {
         color: $brown-t;
         opacity: 1;
      }
      input:-ms-input-placeholder {
         color: $brown-t;
         opacity: 1;
      }
      input::placeholder {
         color: $brown-t;
         opacity: 1;
      }
   }
}
.navigation-menu {
   ul {
      list-style: none;
      display: flex;
      height: 50px;
      border: 1px rgba($brown-b,0.92) solid;
      background: rgba($brown-b,0.92);
   }
   li {
      flex: 1 1 auto;
   }
   a {
      display: block;
      font-size: 18px;
      line-height: 48px;
      border-right: 1px rgba($brown-b,1) solid;
      color: rgba($white-t,0.7);
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      &:hover, &.active {
         background: rgba(#783a3e,0.6);
         color: rgba($white-t,1);
      }
   }
}
.navigation-menu.top {
   margin-bottom: -50px;
}
.navigation-menu.bottom {
   position: relative;
   margin-top: -50px;
   z-index: 1;
   li {
      width: 33.333%;
   }
}
.toggleMenu {
   display: none;
   border-bottom: 1px $divider solid;
   button {
      display: inline-flex;
      align-items: center;
      text-transform: uppercase;
      line-height: 35px;
      padding: 10px 15px;
      color: #fff;
      background: none;
      border: none;
      border-right: 1px $divider solid;
      i {
         font-size: 18px;
         margin-left: 10px;
      }
   }
}
/*******************main-slider***********/
.main-slider {
   .owl-dots {
      position: absolute;
      bottom: 70px;
      width: 100%;
      text-align: center;
      .owl-dot {
         margin: 0 5px;
         span {
            display: block;
            width: 14px;
            height: 14px;
            border: 2px #C99EA1 solid;
            border-radius: 50%;
         }
      }
      .owl-dot.active {
         span {
            background: $brown-b;
         }
      }
   }
}

/********************section***************/
.section {
   background: $white-b;
   &.border {
      border-top: 3px $divider solid;
   }
   &.pad {
      padding: 25px 30px;
   }
}
.section-title {
   font-size: 22px;
   font-weight: 500;
   margin-bottom: 25px;
   a {
      text-decoration: none;
      &:hover {
         opacity: 0.5;
      }
   }
}
/***************menu-carusel****************/
.menu-carusel {
   .owl-carousel {
      padding: 0 10px;
   }
   .card {
      text-align: center;
      &:hover {
         img {
            opacity: 0.1;
            filter: blur(5px);
         }
         a {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
         }
      }
   }
   .image {
      width: 160px;
      margin: 0 auto 15px;
      position: relative;
      img {
         transition: all 0.3s;
      }
      a {
         font-weight: 500;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         width: 120px;
         height: 120px;
         position: absolute;
         left: 50%;
         top: 50%;
         margin: -60px 0 0 -60px;
         border: 1px $brown-b solid;
         border-radius: 50%;
         text-decoration: none;
         opacity: 0;
         visibility: hidden;
         transform: scale(0);
         transition: all 0.3s;
      }
   }
   strong {
      margin: 0 auto;
      font-size: 14px;
      max-width: 180px;
      display: block;
      color: #000;
   }

}
.custom-nav {
   .owl-nav {
      button {
         top: 40px;
         position: absolute;
         width: 15px;
         height: 140px;
         transition: all 0.3s;
         span {
            display: none;
         }
         &:hover {
            border-color: $brown-b;
            &.owl-prev {
               border-right: 1px $brown-b solid;
               &:after {
                  border-right: 12px $brown-b solid;
               }
            }
            &.owl-next {
               border-left: 1px $brown-b solid;
               &:after {
                  border-left: 12px $brown-b solid;
               }
            }
         }
      }
      button.owl-prev {
         left: -15px;
         border-right: 1px #dadada solid;
         &:after {
            content: "";
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -10px;
            display: block;
            width: 0px;
            height: 0px;
            border-right: 12px #dadada solid;
            border-top: 10px transparent solid;
            border-bottom: 10px transparent solid;
            transition: all 0.3s;
         }
      }
      button.owl-next {
         right: -15px;
         border-left: 1px #dadada solid;
         &:after {
            content: "";
            position: absolute;
            right: 0px;
            top: 50%;
            margin-top: -10px;
            display: block;
            width: 0px;
            height: 0px;
            border-left: 12px #dadada solid;
            border-top: 10px transparent solid;
            border-bottom: 10px transparent solid;
            transition: all 0.3s;
         }
      }
   }
}
/***************about-greed****************/
.about-grid {
   display: flex;
   flex-wrap: wrap;
   > div {
      width: 50%;
      flex: 0 0 auto;
   }
   img {
      min-height: 100%;
      max-width: 100%;
      vertical-align: middle;
      object-fit: cover;
   }
   .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px 35px;
      text-align: center;
      line-height: 1.1;
      h2 {
         font-size: 22px;
         margin-bottom: 10px;
      }
      a {
         margin-top: 10px;
         display: inline-block;
         font-weight: 600;
      }
   }
}
/***************contacts-grid****************/
.contacts-grid {
   display: flex;
   > div {
      min-height: 430px;
      width: 50%;
   }
}
.contacts-text {
   font-weight: 500;
   padding: 25px 30px 15px;
   text-align: center;
   color: #000;
   line-height: 1.2;
   a {
      font-weight: 500;
      color: $brown-t;
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }
   h2 {
      font-size: 22px;
      color: $brown-t;
      margin-bottom: 10px;
   }
   .group {
      margin: 4px 0;
   }
}
.contacts-text.at-contacts-page {
   max-width: 650px;
   margin: 0 auto;
   .group {
      margin: 10px 0;
   }
   .socials {
      margin-top: 30px;
   }
}
.contacts-map {
   position: relative;
   iframe {
      position: absolute;
      left: 0px;
      top: 0px;
   }
}
.socials {
   margin-top: 20px;
   a {
      margin: 0 5px;
      display: inline-flex;
      text-decoration: none;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      font-size: 22px;
      background: $brown-b;
      color: #fff;
      transition: all 0.3s;
      i {
         margin: auto;
      }
      .fa-instagram {
         font-size: 25px;
      }
   }
   a:hover {
      text-decoration: none;
      opacity: 0.9;
   }
}

.adress-map {
   height: 470px;
}
/****************article*******************/
.article {
   color: #000;
   blockquote {
      color: $brown-t;
      margin-bottom: 25px;
      font-weight: 500;
   }
   h1 {
      font-size: 32px;
      margin-bottom: 24px;
   }
   h2 {
      font-size: 28px;
      margin-bottom: 20px;
   }
   h3 {
      font-size: 24px;
      margin-bottom: 16px;
   }
   h4 {
      font-size: 20px;
      margin-bottom: 12px;
   }
   h5 {
      font-size: 16px;
      margin-bottom: 8px;
   }
   p {
      margin-bottom: 15px;
   }
   ul {
      margin-bottom: 15px;
      padding-left: 35px;
   }
   ol {
      margin-bottom: 15px;
      padding-left: 35px;
   }
}
/****************partners-list*******************/
.partners-list {
   display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     gap: 40px 0px;
     grid-gap: 40px 0px;
   a {
      display: flex;
      height: 160px;
      flex: 0 0 auto;
      text-align: center;
      &:hover {
         img {
            opacity: 0.6;
         }
      }
      img {
         margin: auto;
         max-height: 100%;
         max-width: 100%;
         transition: all 0.1s;
      }
   }
}
/*********************breadcrumbs**********/
.page-crumbs {
   display: flex;
   background: #FFFCF2;
   padding: 15px 20px;
   display: flex;
   align-items: center;
   .page-controls {
      display: flex;
      align-items: center;
      margin-left: auto;
      strong {
         line-height: 30px;
         margin: 0 30px;
         font-size: 20px;
      }
      a {
         padding: 0 5px;
      }
      a:hover {
         color: #dadada;
      }
   }
}
.breadcrumbs {
   ul {
      margin-left: 20px;
      display: flex;
      align-items: center;
      list-style: none;
      li {
         display: flex;
         align-items: center;
         color: #d1d1d1;
         a {
            color: inherit;
         }
      }
      li:after {
         content: "";
         margin: 0 20px;
         width: 1px;
         height: 30px;
         background: #d1d1d1;
         transform: rotate(25deg);
      }
      li:hover {
         color: $brown-t;
      }
      li:last-child {
         color: $brown-t;
         &:after {
            visibility: hidden;
         }
      }
      a {
         text-decoration: none;
         font-size: 18px;
         font-weight: 500;
      }
   }
   
}
/********************page-navigation********/
.page-navigation {
   padding: 17px 20px 35px;
   border-top: 2px $divider solid;
   display: flex;
   align-items: center;
   justify-content: space-between;
   .count {
      color: #d1d1d1;
      font-weight: 500;
   }
   .show-all {
      text-decoration: none;
      font-weight: 500;
      &:hover {
         text-decoration: underline;
      }
   }
   .pagiantion {
      list-style: none;
      display: flex;
      align-items: center;
      a {
         text-align: center;
         display: inline-block;
         text-decoration: none;
         line-height: 25px;
         min-width: 25px;
         font-size: 18px;
         &:hover,
         &.active {
            background: #6b2f33;
            color: #fff;
         }
      }
      li:last-child,
      li:first-child {
         margin: 0 10px;
         a {
            &:hover {
               text-decoration: underline;
               background: none;
               color: inherit;
            }
         }
      }
   }
}
/*********************product-card**********/
.product-card {
   .owl-nav {
      button {
         top: 50%;
         margin-top: -120px;
      }
   }
   .product-image-slider {
      .owl-carousel {
         padding: 0 15px;
      }
      .item {
         text-align: center;
      }
      img {
         vertical-align: middle;
         display: inline-block;
         width: auto;
         max-width: 100%;
      }
   }
   .owl-thumbs {
      margin: 15px -15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .owl-thumb-item {
      cursor: pointer;
      margin: 0 6px;
      background: none;
      border: none;
      height: 50px;
      border: 2px transparent solid;
      transition: all 0.2s;
      &.active {
         border-color: $brown-b
      }
      img {
         height: 100%;
      }
   }
}
.product-info {
   margin: 15px 0;
   text-align: center;
   line-height: 1.4;
   .name {
      font-size: 16px;
      font-weight: 500;
      color: #000;
   }
   .description {
      font-weight: 600;
      display: block;
   }
   .params {
      display: block;
   }
   .size {
      display: block;
   }
   .expert {
      display: block;
   }
}
.product-card-navigation {
   padding: 17px 0 35px;
   border-top: 2px $divider solid;
   display: flex;
   align-items: center;
   justify-content: center;
   a {
      font-weight: 500;
      padding: 0 20px;
      border-right: 2px $brown-b solid;
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
      &.disabled {
         color: #d1d1d1;
         pointer-events: none;
      }
   }
   a:last-child {
      border: none;
   }
}

.lightbox {
   .lb-container {
      border-radius: none;
      padding: 40px 60px 60px;
      border-radius: 0px;
   }
   .lb-image {
      border-radius: 0px;
      border: none;
   }
   .lb-dataContainer {
      display: none !important;
   }
   .lb-closeContainer {
      position: absolute;
      right: 10px;
      top: 10px;
   }
   .lb-close {
      cursor: pointer;
      display: block;
      width: 20px;
      height: 20px;
      background: url('../img/close-png.png');
      background-repeat: no-repeat;
      background-position: center;
   }
   .lb-nav {
      position: static;
      width: auto;
      height: auto;
   }
   .lb-nav a {
      opacity: 1;
      display: block !important;
      top: 50%;
      margin-top: -70px;
      position: absolute;
      width: 15px;
      height: 140px;
      transition: all 0.3s;
      &:hover {
         border-color: $brown-b;
         &.lb-prev {
            border-right: 1px $brown-b solid;
            &:after {
               border-right: 12px $brown-b solid;
            }
         }
         &.lb-next {
            border-left: 1px $brown-b solid;
            &:after {
               border-left: 12px $brown-b solid;
            }
         }
      }
   }
   .lb-nav a.lb-prev {
      left: 15px;
      border-right: 1px #dadada solid;
      &:after {
         content: "";
         position: absolute;
         left: 0px;
         top: 50%;
         margin-top: -10px;
         display: block;
         width: 0px;
         height: 0px;
         border-right: 12px #dadada solid;
         border-top: 10px transparent solid;
         border-bottom: 10px transparent solid;
         transition: all 0.3s;
      }
   }
   .lb-nav a.lb-next {
      right: 15px;
      border-left: 1px #dadada solid;
      &:after {
         content: "";
         position: absolute;
         right: 0px;
         top: 50%;
         margin-top: -10px;
         display: block;
         width: 0px;
         height: 0px;
         border-left: 12px #dadada solid;
         border-top: 10px transparent solid;
         border-bottom: 10px transparent solid;
         transition: all 0.3s;
      }
   }
}

.pan-controls {
   max-width: 500px;
   display: flex;
   align-items: center;
   margin: 15px auto 0;
   button {
      position: relative;
      flex: 0 0 auto;
      padding: 0px;
      width: 25px;
      height: 25px;
      border: 1px $brown-t solid;
      color: $brown-t;
      border-radius: 50%;
      background: #fff;
      cursor: pointer;
      &:before,
      &:after {
         content: "";
         display: block;
         position: absolute;
         left: 50%;
         top: 50%;
         margin: -2px 0 0 -8px;
         height: 3px;
         width: 17px;
         background: #6B2F33;
      }
   }
   #zoomOut {
      &:before {
         display: none;
      }
   }
   #zoomIn {
      &:before {
         transform: rotate(90deg);
      }
   }
   input {
      margin: 0 15px;
      flex: 1 1 auto;
      -webkit-appearance: none;
      width: 100%;
      background: transparent;
      height: 1px;
      background: $brown-t;
   }
   
}
#zoomRange::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 25px;
   width: 6px;
   background:$brown-b;
   cursor: pointer;
}
#zoomRange::-moz-range-thumb {
   -webkit-appearance: none;
   height: 25px;
   width: 3px;
   background:$brown-b;
   cursor: pointer;
}
#zoomRange::-ms-thumb {
   -webkit-appearance: none;
   height: 25px;
   width: 3px;
   background:$brown-b;
   cursor: pointer;
}

/*******************catalog-grid************/
.catalog-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   gap: 40px 40px;
   grid-gap: 40px 40px;
   .item {
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .image {
      text-align: center;
      position: relative;
      &:hover {
         img {
            opacity: 0.1;
            filter: blur(5px);
         }
         a {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
         }
      }
      img {
         max-width: 100%;
         vertical-align: middle;
         transition: all 0.3s;
      }
      a {
         font-size: 16px;
         font-weight: 500;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         width: 120px;
         height: 120px;
         position: absolute;
         left: 50%;
         top: 50%;
         margin: -60px 0 0 -60px;
         border: 1px $brown-b solid;
         border-radius: 50%;
         text-decoration: none;
         opacity: 0;
         visibility: hidden;
         transform: scale(0);
         transition: all 0.3s;
      }
   }
}
/*******************category-wrap***********/
.category-wrap {
   .section-title + .category-cols {
      margin-top: 0px;
   }
}
.category-cols {
   margin-top: -30px;
   display: flex;
}
.category-grid-col {
   flex: 1 1 auto;
   padding-right: 25px;
}
.category-grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   gap: 40px 25px;
   grid-gap: 40px 25px;
   a {
      text-decoration: none;
   }
   a:hover {
      color: #000;
   }
   .image {
      overflow: hidden;
      img {
         vertical-align: middle;
         max-width: 100%;
         transition: all 0.3s;
      }
   }
   .name {
      margin-top: -50px;
      text-align: center;
      display: flex;
      background: rgba(#FFF8E2,0.9);
      height: 50px;
      padding: 0 10px;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      position: relative;
      font-weight: 500;
      line-height: 1;
      z-index: 1;
   }
   &.dark-theme {
      a {
         color: $white-t;
      }
      a:hover {
         color: #e7c5c7;
      }
      .name {
         background: rgba($brown-t,0.9);
      }
   }
}
.category-nav {
   flex: 0 0 auto;
   width: 210px;
   padding-left: 20px;
   border-left: 1px #914D51 solid;
   a {
      text-decoration: none;
   }
   ul {
      list-style: none;
      font-size: 14px;
   }
}
.category-list-item {
   margin-bottom: 15px;
   &:last-child {
      margin-bottom: 0px;
   }
   > a {
      font-weight: 500;
      font-size: 14px;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      line-height: 1;
      &:hover {
         color:#000;
      }
      .fas {
         margin-left: 17px;
      }
   }
}
.category-list_sub {
   display: none;
   margin-top: 10px;
   padding: 10px;
   text-align: left;
   box-shadow: 0px 2px 2px #9b9b9b;
   border-top: 1px #6b2f33 solid;
   li {
      margin: 8px 0;
   }
   a {
      color: #000;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      &:hover {
         color: lighten($brown-t,10);
      }
   }
}
/**************search*****************/
.search-form {
   width: 100%;
   max-width: 480px;
   display: flex;
   align-items: center;
   margin-bottom: 15px;
   input {
      font-weight: 500;
      flex: 1 1 auto;
      height: 30px;
      border: 1px $brown-b solid;
      font-size: 18px;
      color: $brown-t;
      padding: 0 12px;
      border-radius: 3px;
   }
   input::-webkit-input-placeholder {
      color: $brown-t;
      opacity: 1;
   }
   input:-ms-input-placeholder {
      color: $brown-t;
      opacity: 1;
   }
   input::placeholder {
      color: $brown-t;
      opacity: 1;
   }
   .button {
      cursor: pointer;
      margin-left: 15px;
      font-size: 18px;
      height: 30px;
      background: $brown-b;
      color: #E1B8BB;
      font-weight: 500;
      border-radius: 3px;
      border: none;
      padding: 0 10px;
      &:hover {
         opacity: 0.9;
      }
   }
}
.search-res-sort {
   font-weight: 500;
   margin-bottom: 25px;
   color: #D1D1D1;
   a {
      text-decoration: none;
      color: inherit;
      border-left: 1px #D1D1D1 solid;
      display: inline-block;
      padding-left: 10px;
      margin-left: 10px;
      transition: all 0.3s;
      &:hover, &.active {
         color: $brown-t;
      }
   }
}
.search-result-list-item {
   &:first-child {
      border: none;
   }
   margin: 0 -30px;
   padding: 15px 30px;
   border-top: 1px $divider solid;
   display: flex;
   align-items: center;
   .image {
      flex: 0 0 auto;
      width: 110px;
      text-align: center;
      margin-right: 30px;
      img {
         max-width: 100%;
      }
   }
   h2 {
      font-size: 16px;
      a {
         text-decoration: none;
         &:hover {
            color: #000;
         }
      }
   }
   .description {
      color: #000;
      margin: 13px 0;
   }
   .crumbs {
      font-weight: 500;
      font-size: 13px;
      list-style: none;
      display: flex;
      align-items: center;
      li:first-child:after {
         content: "/";
         display: inline-block;
         margin: 0 4px 0 2px;
      }
      a {
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
/*****************news*************/
.news-list-item {
   display: flex;
   align-items: flex-start;
   margin-bottom: 40px;
   &:last-child {
      margin: 0px;
   }
   .image {
      flex: 0 0 auto;
      width: 285px;
      margin-right: 25px;
      overflow: hidden;
      img {
         vertical-align: middle;
         max-width: 100%;
      }
   }
   .info {
      flex: 1 1 auto;
   }
   .date {
      display: block;
      font-size: 12px;
      color: #898989;
   }
   h2 {
      margin: 10px 0;
      font-size: 22px;
      a {
         text-decoration: none;
         &:hover {
            color: #000;
         }
      }
   }
   .short-text {
      color: #000;
      margin-bottom: 15px;
   }
   .more {
      text-align: right;
      a {
         font-weight: 500;
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
/*****************news item*************/
.news-inside {
   .date {
      display: block;
      font-size: 12px;
      color: #898989;
      margin-bottom: 25px;
   }
   .news-title {
      margin-bottom: 15px;
      font-size: 22px;
      font-weight: 500;
   }

   .news-from {
      font-size: 14px;
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }
}

.news-image-slider {
   margin-top: 40px;
   .owl-carousel {
      padding: 0 15px;
      .item {
         text-align: center;
      }
      img {
         display: inline-block;
         width: auto;
         max-width: 100%;
         vertical-align: middle;
      }
   }
   .owl-nav {
      button {
         top: 50%;
         margin-top: -70px;
      }
   }
}
.news-image-thumbs {
   margin: 15px auto 0;
   max-width: 650px;
   .owl-carousel {
      .owl-nav {
         button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #DADADA;
            &:hover {
               color: $brown-t;
            }
            i {
               font-size: 12px;
            }
         }
         .owl-prev  {
            left: -15px;
         }
         .owl-next {
            right: -15px;
         }
      }
   }
   .owl-item {
      border: 1px transparent solid;
      &.current {
         border-color: $brown-b;
      }
   }
}
/**************main-footer*****************/
.main-footer {
   margin-bottom: 150px;
   .copy {
      line-height: 50px;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      background: #6B2F33;
      color: #fff;
   }
}

@media screen and (max-width: 768px) {
   .section {
      &.pad {
         padding: 15px;
      }
   }
   .section-title {
      margin-bottom: 15px;
   }
   .language-toggle {
      margin-left: 15px;
   }
   .toggleMenu {
      display: block;
   }
   .navigation-menu {
      &.top,&.bottom {
         margin: 0px;
      }
      &.bottom {
         li {
            width: 100%;
         }
      }
      margin: 0px;
      ul {
         height: auto;
         display: none;
      }
   }
   .main-slider {
      .owl-dots {
         bottom: 20px;
      }
   }
   .header-search {
      a {
         border-right: none;
      }
      .search-field {
         width: 200px;
      }
   }
   .custom-nav {
      .owl-nav {
         button.owl-prev {
            left: -10px;
         }
         button.owl-next {
            right: -10px;
         }
      }
   }
   .page-crumbs {
      padding: 15px;
      img {
         display: none;
      }
      .page-controls {
         display: none;
      }
   }
   .breadcrumbs {
      ul {
         margin: 0px;
         li:after {
            height: 12px;
            margin: 0 10px;
         }
         a {
            font-size: 15px;
         }
      }
   }
   .catalog-grid {
      grid-template-columns: 1fr 1fr 1fr;
   }
   .category-cols {
      margin-top: -15px;
   }
   .category-grid-col {
      padding-right: 15px;
   }
   .category-grid {
      gap: 15px 15px;
      grid-gap: 15px 15px;
      grid-template-columns: 1fr 1fr;
      .image {
         img {
            width: 100%;
         }
      }
      .name {
         font-size: 14px;
      }
   }
   .category-nav {
      padding-left: 15px;
   }
   .product-card-navigation {
      padding: 15px;
   }
   .news-inside {
      .date {
         margin-bottom: 10px;
      }
   }
   .news-image-slider {
      margin-top: 30px;
   }
   .news-image-thumbs {
      margin-top: 5px;
      padding: 0 15px;
   }
   .news-list-item {
      margin-bottom: 25px;
      h2 {
         margin: 10px 0;
         font-size: 16px;
      }
      .short-text {
         margin-bottom: 10px;
         font-size: 14px;
      }
   }
   .search-result-list-item {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
   }
   .main-footer {
      margin-bottom: 0px;
   }
}

@media screen and (max-width: 500px) {
   body {
      font-size: 14px;
   }
   .section-title {
      font-size: 18px;
   }
   .header-top-line {
      .container {
         height: 40px;
      }
   }
   .main-header {
      position: relative;
      .logo {
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         img {
            height: 25px;
         }
      }
   }
   .language-toggle {
      margin-left: 10px;
      a {
         font-size: 12px;
      }
   }
   .header-search {
      a {
         width: 40px;
         height: 40px;
         border-right: none;
         img {
            width: 20px;
         }
      }
      .search-field {
         width: 250px;
         height: 40px;
         padding-top: 5px;
         padding-right: 5px;
         input {
            font-size: 14px;
         }
      }
   }
   .toggleMenu {
      button {
         font-size: 12px;
         padding: 0 10px;
         i {
            font-size: 14px;
         }
      }
   }
   .navigation-menu a {
      line-height: 40px;
      font-size: 14px;
   }
   .about-grid {
      display: flex;
      flex-direction: column;
      > div {
         width: auto;
      }
      > div:nth-child(1) {
         order: 1;
      }
      > div:nth-child(2) {
         order: 2;
      }
      > div:nth-child(3) {
         order: 4;
      }
      > div:nth-child(4) {
         order: 3;
      }
      .text {
         padding: 30px;
         h2 {
            font-size: 18px;
         }
      }
   }
   .contacts-grid {
      display: block;
      > div {
         min-height: 0px;
         width: auto;
      }
      .contacts-text {
         padding: 30px;
      }
      .contacts-map {
         min-height: 300px;
      }
   }
   .page-crumbs {
      padding: 10px 15px;
   }
   .breadcrumbs {
      ul {
         li:after {
            margin: 0 15px;
         }
         a {
            line-height: 1;
            font-size: 11px;
         }
      }
   }
   .page-navigation {
      padding: 15px;
      .count {
         display: none;
      }
      .pagiantion {
         a {
            font-size: 14px;
         }
      }
      .pagiantion li:last-child,
      .pagiantion li:first-child {
         display: none;
      }
   }
   .catalog-grid {
      grid-template-columns: 1fr;
      gap: 25px 0px;
      grid-gap: 25px 0px;
   }
   .category-cols {
      flex-direction: column-reverse;
   }
   .category-nav {
      margin: 0 -15px 15px;
      border: none;
      border-top: 1px $divider solid;
      border-bottom: 1px $divider solid;
      width: auto;
      padding: 15px;
   }
   .category-list-item > a {
      justify-content: space-between;
   }
   .category-grid {
      grid-template-columns: 1fr 1fr;
      .name {
         height: 40px;
         margin-top: -40px;
         font-size: 11px;
      }
   }
   .adress-map {
      height: 250px;
   }
   .product-card {
      .owl-thumb-item {
         margin: 0 2px;
         img {
            object-fit: cover;
         }
      }
   }
   .news-list-item {
      display: block;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px $divider solid;
      &:last-child {
         border: none;
      }
      .image {
         margin: 0 0 15px 0;
         width: 100%;
         img {
            width: 100%;
         }
      }
      h2 {
         margin: 10px 0;
         font-size: 16px;
      }
      .short-text {
         margin-bottom: 10px;
         font-size: 14px;
      }
   }
   .partners-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px 25px;
      grid-gap: 25px 25px;
      a {
         height: 120px;
      }
   }
   .search-res-sort {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      span {
         display: none;
      }
      a {
         padding: 0px;
         margin: 0px;
         font-size: 12px;
         border:none;
      }
   }
   .search-result-list-item {
      align-items: flex-start;
      .image {
         width: 80px;
         margin-right: 15px;
      }
      .crumbs {
         display: block;
      }
   }
   .lightbox {
      .lb-container {
         padding: 35px 30px 15px;
      }
      .lb-nav a.lb-prev {
         left: 5px;
      }
      .lb-nav a.lb-next {
         right: 5px;
      }
   }
}
