/*xs*/
@media screen and (max-width: 768px) {
	.intro {
		padding: 150px 0 100px;
	}
	.team-item,.skill-item,.provide-item {
		margin-bottom: 50px;
	}
	.feedback-item {
		margin: 0 0 70px;
		.avatar {
			float: none;
			width: 180px;
			height: 180px;
			margin: 0 auto 30px;
		}
		.feedaback {
			margin-left: 0px;
			text-align: center;
		}
	}
}
/*sm*/
@media screen and (min-width: 768px) and (max-width: 992px) {
	.intro {
		padding: 150px 0 100px;
	}
	.team-item,.skill-item,.provide-item {
		margin-bottom: 50px;
	}
	.feedback-item {
		max-width: 480px;
		margin: 0 auto 70px;
	}
}
/*md*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
	.team-item,.skill-item,.provide-item {
		margin-bottom: 50px;
	}
}
/*lg*/
@media screen and (min-width: 1200px) {

}