* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/*************colors*********/
body {
  font-family: 'PF Regal Text Pro';
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h3, h4, h5 {
  margin: 30px 0 10px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  color: #6B2F33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

small {
  color: #6B2F33;
  font-size: 16px;
}

img {
  vertical-align: middle;
}

button {
  font-family: 'PF Regal Text Pro';
  background: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  font-family: 'PF Regal Text Pro';
}

textarea {
  vertical-align: middle;
  outline: none;
  font-family: 'PF Regal Text Pro';
}

.text-center {
  text-align: center;
}

.section-title {
  margin: 30px 0;
  color: #6B2F33;
}

.container {
  width: 1022px;
  margin: 0 auto;
  padding: 0 15px;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_align_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
.header__top-line {
  background: #6B2F33;
  color: #fff;
}

.header__tel {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

.header__socials {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__socials-item {
  color: #fff;
  line-height: 48px;
  width: 48px;
  font-size: 20px;
}

.header__socials-item:hover {
  color: #E7C5C7;
}

.header__socials-item:active {
  color: #5E292C;
}

.header__search {
  margin-left: auto;
  position: relative;
}

.header__search-button {
  line-height: 48px;
  width: 48px;
  font-size: 20px;
  border-left: 1px #5E292C solid;
  border-right: 1px #5E292C solid;
  color: #fff;
}

.header__search-button:hover {
  color: #E7C5C7;
}

.header__search-button:active {
  color: #5E292C;
}

.header__search-input {
  width: 260px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 63px;
}

.header__search-input input {
  width: 100%;
  height: 100%;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  background: #fff;
  color: #000;
  padding: 0 8px;
}

.header__middle-line {
  padding: 25px 0;
}

.header__logo {
  margin-right: auto;
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__account-link {
  color: #6B2F33;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  text-decoration: none;
}

.header__account-link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.header__cart {
  margin-left: 25px;
}

.header__cart-count {
  font-weight: 500;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  background: #F4ECEC;
  color: #6B2F33;
  font-size: 18px;
  line-height: 28px;
  min-width: 40px;
  padding: 0 8px;
  text-align: center;
  text-decoration: none;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  background: #6B2F33;
}

.main-nav__list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-nav__link {
  line-height: 48px;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.main-nav__link:hover, .main-nav__link_active {
  color: #E7C5C7;
  background: #773F43;
}

/* -------------------------------------------------------------------------- */
/*                                 main banner                                */
/* -------------------------------------------------------------------------- */
.main-banner {
  border-bottom: 2px #6B2F33 solid;
}

.main-banner.slick-dotted {
  margin-bottom: 0px;
}

.main-banner .slick-dots {
  bottom: 8px;
}

.main-banner .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 4px;
  padding: 4px;
}

.main-banner .slick-dots li button {
  padding: 0px;
  height: 6px;
  width: 6px;
  border: 1px #6B2F33 solid;
}

.main-banner .slick-dots li button:before {
  display: none;
}

.main-banner .slick-dots li.slick-active button {
  background: #6B2F33;
}

.book-carusel .slick-prev,
.book-carusel .slick-next {
  height: 250px;
  top: 0px;
  -webkit-transform: none;
          transform: none;
}

.book-carusel .slick-prev {
  left: -30px;
}

.book-carusel .slick-next {
  right: -30px;
}

/* -------------------------------------------------------------------------- */
/*                                product item                                */
/* -------------------------------------------------------------------------- */
.product-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-item__image {
  display: block;
  position: relative;
  overflow: hidden;
}

.product-item__image:hover img,
.product-item__image:hover .sticker {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.product-item__image:hover .product-item__show-circle {
  visibility: visible;
  opacity: 1;
}

.product-item__name {
  margin: 10px 0 0 0;
  font-size: 15px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
}

.product-item__author {
  margin: 10px 0 0 0;
  font-size: 11px;
  line-height: 13px;
  height: 26px;
  overflow: hidden;
  color: #9B9B9B;
}

.product-item__show-circle {
  background: rgba(255, 255, 255, 0.5);
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  opacity: 0;
}

.product-item__show-circle span {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 120px;
  border: 1px #6B2F33 solid;
  border-radius: 50%;
  color: #6B2F33;
}

.product-item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #6B2F33;
  font-size: 18px;
  margin-top: 10px;
}

.product-item__price-new {
  color: #B0000C;
}

.product-item__price-old {
  margin-left: 8px;
  position: relative;
  font-size: 12px;
  color: #9B9B9B;
}

.product-item__price-old:after {
  content: "";
  position: absolute;
  top: 40%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #B0000C;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.product-item__cart-btn {
  margin: 10px 0;
}

.product-item__click-bay {
  font-size: 13px;
  color: #6B2F33;
  text-decoration: underline;
  position: relative;
}

.product-item__click-bay:hover {
  text-shadow: 0 0 1px #6B2F33;
}

.product-item__click-bay .fa {
  font-size: 11px;
  position: absolute;
  left: -13px;
  top: 3px;
}

/* -------------------------------------------------------------------------- */
/*                                journal-item                                */
/* -------------------------------------------------------------------------- */
.journal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px #9B9B9B solid;
  display: flex;
}

.journal-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.journal-item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 15px;
}

.journal-item__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
}

.journal-item__name {
  color: #6B2F33;
  margin: 0 0 7px 0;
}

.journal-item__date {
  display: block;
  margin-bottom: 12px;
  color: #6B2F33;
  font-size: 16px;
}

.journal-item__more {
  margin-top: 10px;
  text-align: right;
}

.journal-item__link {
  color: #6B2F33;
  text-decoration: underline;
}

.journal-item__link:hover {
  text-decoration: none;
}

.journal-item__download {
  position: absolute;
  right: 0px;
  top: 35px;
}

/* -------------------------------------------------------------------------- */
/*                              about house grid                            */
/* -------------------------------------------------------------------------- */
.about-house-grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-house-grid__row:nth-child(1) {
  border-top: 2px #6B2F33 solid;
  border-bottom: 2px #6B2F33 solid;
}

.about-house-grid__row:nth-child(4) {
  border-top: 2px #6B2F33 solid;
}

.about-house-grid__row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-house-grid__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about-house-grid__text {
  padding: 20px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #6B2F33;
}

.about-house-grid__text p {
  margin-bottom: 10px;
}

.about-house-grid__title {
  font-weight: 500;
  margin: 0 0 15px 0;
  color: #6B2F33;
  text-align: center;
}

.about-house-grid__image {
  height: 100%;
}

.about-house-grid__image a {
  display: block;
  height: 100%;
}

.about-house-grid__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-house-grid__map {
  height: 100%;
}

.about-house-grid__contact {
  padding: 20px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.house-contacts {
  text-align: center;
}

.house-contacts__info {
  line-height: 1.6;
}

.house-contacts__info a {
  color: #6B2F33;
  text-decoration: none;
  font-weight: 500;
}

.house-contacts__socials {
  margin: 20px 0 10px;
}

.subscribe {
  background: #F4ECEC;
  color: #6B2F33;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100%;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px #6B2F33 solid;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 15px;
}

.subscribe__note {
  margin-top: 20px;
  color: #9B9B9B;
  font-size: 12px;
}

.make-request {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.make-request__captcha {
  margin-bottom: 40px;
}

.make-request__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 0 15px;
}

.make-request__row_60_40 {
  margin-top: 17px;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.make-request_bordered {
  border: 1px #6B2F33 solid;
  width: 500px;
  margin: 30px auto 0;
  padding: 20px 35px;
  border-radius: 5px;
}

.make-request_bordered h2 {
  text-align: center;
  color: #6B2F33;
  margin: 0 0 20px;
}

/* -------------------------------------------------------------------------- */
/*                                   catalog                                  */
/* -------------------------------------------------------------------------- */
.inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-wrap__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  padding-right: 30px;
}

.inner-wrap__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.left-nav {
  margin-top: 36px;
}

.left-nav__link {
  display: block;
  font-size: 15px;
  line-height: 32px;
  padding: 0 8px;
  color: #6B2F33;
  text-decoration: none;
  font-weight: 500;
}

.left-nav__link:hover {
  background: #E7C5C7;
}

.left-nav__link:active, .left-nav__link_active {
  background: #6B2F33;
  color: #fff;
}

.left-nav__link_active:hover {
  background: #6B2F33;
  color: #fff;
}

.page-title {
  border-bottom: 1px #6B2F33 solid;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.page-title__header {
  font-size: 22px;
  font-weight: 500;
  color: #6B2F33;
  margin: 0;
}

.page-title_with-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title__release-date {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-title__release-date span {
  color: #6B2F33;
}

.page-title .select2 {
  width: 160px;
}

.catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px 15px;
}

.catalog_journal {
  display: block;
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
.footer {
  margin-top: 35px;
  font-size: 18px;
}

.footer__blocks {
  border-top: 2px #6B2F33 solid;
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #6B2F33;
}

.footer__logo {
  margin-right: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__col-title {
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
  border-left: 1px #6B2F33 solid;
  padding-left: 30px;
  margin-left: 30px;
  font-size: 18px;
}

.footer__adress {
  display: block;
  margin: 5px 0;
}

.footer__nav-col + .footer__nav-col {
  margin-left: 20px;
}

.footer__nav-col:nth-child(1) {
  width: 220px;
}

.footer__nav-col:nth-child(2) {
  width: 150px;
}

.footer__nav-link {
  display: block;
  text-decoration: none;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__nav-link + .footer__nav-link {
  margin-top: 11px;
}

.footer__copyright {
  background: #6B2F33;
  color: #fff;
  font-size: 14px;
  padding: 15px 0;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                               article-content                              */
/* -------------------------------------------------------------------------- */
.article-content p {
  margin-bottom: 10px;
}

.article-content strong {
  color: #6B2F33;
}

.article-content h1, .article-content h2, .article-content h3 {
  color: #6B2F33;
}

.article-content h3 {
  color: #6B2F33;
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.article-content h3:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #6B2F33;
  margin-right: 10px;
}

.about-work {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about-work__image {
  width: 342px;
}

.about-work__caption {
  color: #9B9B9B;
  font-size: 24px;
  font-style: italic;
  -webkit-font-kerning: 500;
          font-kerning: 500;
  text-align: right;
  margin-right: 25px;
  position: relative;
}

.about-work__caption:before {
  content: "";
  width: 120px;
  height: 1px;
  background: #6B2F33;
  position: absolute;
  right: 0px;
  top: -20px;
}

/* -------------------------------------------------------------------------- */
/*                                   rewards                                  */
/* -------------------------------------------------------------------------- */
.rewards__item {
  border-bottom: 1px rgba(155, 155, 155, 0.5) solid;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.rewards__item:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

/* -------------------------------------------------------------------------- */
/*                                photo-gallery                               */
/* -------------------------------------------------------------------------- */
.photo-gallery {
  max-width: 772px;
}

.photo-gallery__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-gallery__image {
  border: 1px rgba(155, 155, 155, 0.5) solid;
  margin: auto;
}

.photo-gallery__thumbs {
  max-width: 485px;
  margin: 30px auto 0;
}

.photo-gallery__thumbs-item {
  width: 97px;
  height: 60px;
  padding: 0 7px;
  cursor: pointer;
}

.photo-gallery__thumb-img {
  vertical-align: middle;
  border: 1px rgba(155, 155, 155, 0.5) solid;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-gallery .slick-current .photo-gallery__thumb-img {
  border: 1px #6B2F33 solid;
}

.photo-gallery .t-prev,
.photo-gallery .t-next {
  color: #9B9B9B;
  position: absolute;
  font-size: 20px;
  top: 50%;
  margin: -12px 0 0 0;
  opacity: 0.5;
}

.photo-gallery .t-prev:hover,
.photo-gallery .t-next:hover {
  opacity: 1;
  color: #6B2F33;
}

.photo-gallery .t-prev {
  left: -12px;
}

.photo-gallery .t-next {
  right: -12px;
}

/* -------------------------------------------------------------------------- */
/*                                     faq                                    */
/* -------------------------------------------------------------------------- */
.faq__item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px #9B9B9B solid;
}

.faq__item:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border: none;
}

.faq__date {
  font-size: 14px;
  color: #9B9B9B;
  margin-bottom: 15px;
}

.faq span {
  color: #9B9B9B;
  display: block;
  margin-bottom: 5px;
}

.faq__question {
  color: #6B2F33;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* -------------------------------------------------------------------------- */
/*                                 exhibitions                                */
/* -------------------------------------------------------------------------- */
.years-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px 0 15px;
}

.years-list__item {
  text-decoration: none;
  color: #9B9B9B;
  margin-right: 15px;
}

.years-list__item:hover, .years-list__item:active {
  color: #6B2F33;
}

.exhibitions__title {
  position: relative;
  margin: 30px 0 30px;
}

.exhibitions__title:after {
  content: "";
  display: block;
  height: 10px;
  top: 8px;
  width: 100%;
  position: absolute;
  background: #6B2F33;
  z-index: -1;
}

.exhibitions__title span {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 15px;
  font-size: 22px;
  font-weight: 500;
  background: #fff;
  color: #6B2F33;
}

.exhibitions__title:first-child {
  margin-top: 0px;
}

.exhibitions__banner img {
  max-width: 100%;
}

.exhibitions__item {
  margin: 0 0 30px 0;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #9B9B9B;
}

.exhibitions__item:last-child {
  margin: 0px;
  padding: 0px;
  border: none;
}

.exhibitions__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exhibitions__social-links {
  margin: 0 0 0 10px;
}

/* -------------------------------------------------------------------------- */
/*                                   discont                                  */
/* -------------------------------------------------------------------------- */
.discont-grid {
  margin: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 0 35px;
}

.discont-grid__box {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px 0 15px 0;
}

.discont-grid__box-blue {
  background: #0052A2;
}

.discont-grid__box-pink {
  background: #7F2585;
}

.discont-grid__box-red {
  background: #E5023E;
}

.discont-grid__box-brown {
  background: #743235;
}

.discont-grid__box span {
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  font-weight: 300;
}

.discont-grid__box b {
  font-size: 90px;
  font-weight: 300;
}

.discont-grid__range {
  font-size: 18px;
  font-weight: 500;
  color: #6B2F33;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                  contacts                                  */
/* -------------------------------------------------------------------------- */
.contacts__map {
  height: 470px;
  margin: 0 0 30px 0;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}

.contacts__socials {
  margin: 20px 0 0 0;
}

/* -------------------------------------------------------------------------- */
/*                                     ui                                     */
/* -------------------------------------------------------------------------- */
.r-button {
  display: inline-block;
  font-size: 16px;
  border-radius: 2px;
  font-weight: 500;
  line-height: 12px;
  padding: 5px 15px 7px;
  border: 1px #6B2F33 solid;
  background: none;
  text-decoration: none;
  background: #6B2F33;
  color: #fff;
}

.r-button:hover {
  color: #E7C5C7;
}

.r-button:active {
  background: #fff;
  color: #6B2F33;
}

.r-button_circle {
  text-align: center;
  font-size: 20px;
  line-height: 38px;
  padding: 0px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px #6B2F33 solid;
}

.r-button_icon_left {
  padding-left: 10px;
}

.r-button_icon_left .fa {
  margin-right: 5px;
}

.r-button_disabled {
  pointer-events: none;
  background: none;
  border-color: #9B9B9B;
  color: #9B9B9B;
}

.r-input {
  margin-bottom: 17px;
  position: relative;
}

.r-input:last-of-type {
  margin-bottom: 0;
}

.r-input__field {
  font-size: 12px;
  height: 26px;
  width: 100%;
  border-radius: 2px;
  border: 1px #DADADA solid;
  padding: 0 10px;
}

.r-input__field:focus {
  border-color: #6B2F33;
}

.r-input__field_brown {
  border-color: #6B2F33;
  background: #fff;
}

.r-input__field_error {
  border-color: #B0000C;
}

.r-input__field-error-text {
  bottom: -15px;
  color: #B0000C;
  line-height: 12px;
  font-size: 10px;
  position: absolute;
  left: 0px;
}

.r-input__field_textarea {
  height: auto;
  resize: vertical;
  min-height: 110px;
  padding: 10px 10px;
}

.r-input__label {
  display: block;
  margin-bottom: 2px;
}

.r-input__label_required:after {
  content: "*";
  color: #B0000C;
  margin-left: 3px;
}

.r-download {
  text-decoration: none;
  color: #9B9B9B;
  font-size: 12px;
}

.r-download:hover {
  color: #6B2F33;
}

.sticker {
  position: absolute;
  font-size: 14px;
  padding: 2px 0px 3px 10px;
  color: #fff;
  letter-spacing: 1px;
}

.sticker_red {
  background: #B0000C;
}

.sticker_red:after {
  content: "";
  position: absolute;
  right: -30px;
  top: 0px;
  height: 100%;
  width: 30px;
  display: block;
  background: #B0000C;
  -webkit-clip-path: polygon(60% 0%, 30% 50%, 60% 100%, 0% 100%, 0 46%, 0% 0%);
          clip-path: polygon(60% 0%, 30% 50%, 60% 100%, 0% 100%, 0 46%, 0% 0%);
}

.sticker_red::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  right: -21px;
  top: 8px;
  opacity: 0.7;
}

.sticker_orange {
  background: #F16D00;
}

.sticker_orange:after {
  content: "";
  position: absolute;
  right: -30px;
  top: 0px;
  height: 100%;
  width: 30px;
  display: block;
  background: #F16D00;
  -webkit-clip-path: polygon(60% 0%, 30% 50%, 60% 100%, 0% 100%, 0 46%, 0% 0%);
          clip-path: polygon(60% 0%, 30% 50%, 60% 100%, 0% 100%, 0 46%, 0% 0%);
}

.sticker_orange::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transform: rotate(130deg);
          transform: rotate(130deg);
  right: -21px;
  top: 8px;
  opacity: 0.7;
}

.sticker_bottom_left {
  left: 0px;
  bottom: 50px;
}

.sticker_top_left {
  left: 0px;
  bottom: 80px;
}

.sticker_top_right {
  right: 0px;
  top: 15px;
  padding: 5px 10px 4px 10px;
}

.show-more-arrow {
  display: inline-block;
  margin: 30px 0 45px;
  font-weight: 500;
  font-size: 22px;
  color: #6B2F33;
  padding: 5px 60px;
  border-bottom: 1px #6B2F33 solid;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.show-more-arrow:after {
  position: absolute;
  left: 50%;
  bottom: -16px;
  margin-left: -12px;
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border-top: 13px #6B2F33 solid;
  border-left: 12px transparent solid;
  border-right: 12px transparent solid;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.show-more-arrow:hover {
  background: #6B2F33;
  color: #fff;
}

.show-more-arrow:hover:after {
  bottom: -14px;
}

.divider {
  border: none;
  height: 2px;
  background: #6B2F33;
}

.divider_spaces {
  margin: 30px 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item {
  margin: 0 5px;
}

.breadcrumbs {
  margin: 10px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  color: #9B9B9B;
}

.breadcrumbs__item:after {
  content: "/";
  margin: 0 10px;
}

.breadcrumbs__item:last-child:after {
  content: "";
}

.breadcrumbs__item:last-child {
  pointer-events: none;
}

.breadcrumbs__link {
  text-decoration: none;
  font-size: 14px;
}

.breadcrumbs__link:hover {
  color: #6B2F33;
}

.select2-container--default {
  font-size: 12px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: none;
  color: #6B2F33;
}

.select2-container--default .select2-results__option--selected {
  background: none;
}

.select2-container--default .select2-selection--single {
  border: 1px #9B9B9B solid;
  border-radius: 2px;
  height: 26px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  width: auto;
  height: auto;
  border: none;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  left: 2px;
  top: 6px;
  color: #9B9B9B;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  content: "\f078";
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 24px;
  color: #9B9B9B;
}

.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #6B2F33;
  border-bottom-color: transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  color: #6B2F33;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.select2-container--default.select2-container--open .select2-dropdown {
  border-color: #6B2F33;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.select2-container--default:hover .select2-selection--single {
  border: 1px #6B2F33 solid;
}

.select2-container--default:hover .select2-selection--single .select2-selection__arrow b {
  color: #6B2F33;
}

.select2-results__options {
  padding: 5px 0;
}

.select2-results__option {
  padding: 6px 8px;
  color: #9B9B9B;
}

.lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.lightbox .lb-outerContainer {
  border-radius: 0px;
}

.lightbox .lb-dataContainer {
  padding: 0px;
}

.lightbox .lb-container {
  padding: 40px 60px;
}

.lightbox .lb-image {
  border: none;
}

.slick-next,
.slick-prev {
  background: none;
  width: 20px;
  height: 100%;
}

.slick-prev {
  left: 0px;
}

.slick-prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 140px;
  background: #9B9B9B;
  margin: -70px 0 0 0;
}

.slick-prev:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  margin: -13px 0 0 -16px;
  border-right: 13px #9B9B9B solid;
  border-top: 12px transparent solid;
  border-bottom: 12px transparent solid;
}

.slick-prev:hover:before {
  background: #6B2F33;
}

.slick-prev:hover:after {
  border-right-color: #6B2F33;
}

.slick-next {
  right: 0px;
}

.slick-next:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 140px;
  background: #9B9B9B;
  margin: -70px 0 0 0;
}

.slick-next:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  margin: -13px 0 0 4px;
  border-left: 13px #9B9B9B solid;
  border-top: 12px transparent solid;
  border-bottom: 12px transparent solid;
}

.slick-next:hover:before {
  background: #6B2F33;
}

.slick-next:hover:after {
  border-left-color: #6B2F33;
}

.lb-nav a.lb-prev {
  background: none;
  width: 60px;
  position: relative;
  opacity: 0.5;
}

.lb-nav a.lb-prev:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 140px;
  background: #9B9B9B;
  margin: -70px 0 0 0;
}

.lb-nav a.lb-prev:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  margin: -13px 0 0 -16px;
  border-right: 13px #9B9B9B solid;
  border-top: 12px transparent solid;
  border-bottom: 12px transparent solid;
}

.lb-nav a.lb-prev:hover:before {
  background: #6B2F33;
}

.lb-nav a.lb-prev:hover:after {
  border-right-color: #6B2F33;
}

.lb-nav a.lb-next {
  background: none;
  width: 60px;
  position: relative;
  opacity: 0.5;
}

.lb-nav a.lb-next:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 140px;
  background: #9B9B9B;
  margin: -70px 0 0 0;
}

.lb-nav a.lb-next:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  margin: -13px 0 0 4px;
  border-left: 13px #9B9B9B solid;
  border-top: 12px transparent solid;
  border-bottom: 12px transparent solid;
}

.lb-nav a.lb-next:hover:before {
  background: #6B2F33;
}

.lb-nav a.lb-next:hover:after {
  border-left-color: #6B2F33;
}

.lb-data {
  position: relative;
}

.lb-data .lb-details {
  display: none;
}

.lb-data .lb-close {
  position: absolute;
  right: 0px;
  z-index: 11;
  background: none;
  opacity: 0.5;
}

.lb-data .lb-close:after, .lb-data .lb-close:before {
  content: "";
  background: #6B2F33;
  display: block;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 14px;
  left: 5px;
}

.lb-data .lb-close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.lb-data .lb-close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.lightboxOverlay {
  opacity: 0.4;
}
/*# sourceMappingURL=main.css.map */