@import url(../font/font.css);
*, *:before, *:after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'GT America Extended';
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

input, button, textarea {
  font-family: 'GT America Extended';
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  outline: none;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

/*****************header****************/
.main-header {
  height: 120px;
  width: 100%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-logo {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 340px;
  height: 75px;
  background-image: url(../img/logo-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header-main-links a {
  text-decoration: none;
}

.header-main-links > li {
  margin-right: 20px;
}

.header-main-links li > a {
  color: #fff;
}

.header-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-tools .header-btn {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-left: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-select {
  margin-left: 20px;
}

.header-select select {
  color: #fff;
  background: none;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-select option {
  color: #000;
}

.main-header.white {
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(13, 8, 89, 0.5);
          box-shadow: 0 0 10px 0 rgba(13, 8, 89, 0.5);
}

.main-header.white .header-logo {
  background-image: url(../img/logo-color.svg);
}

.main-header.white .header-main-links li > a {
  color: #000;
}

.main-header.white .header-tools .header-btn {
  color: #000;
}

.main-header.white .header-select select {
  color: #000;
}

.main-header.white.mini {
  height: 60px;
}

.main-header.white.mini .header-logo {
  background-image: url(../img/logo-color-mini.svg);
}

/*****************dont-miss-section*******/
.line-header {
  font-size: 18px;
  font-weight: 500;
  color: #0D0859;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.line-header:before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 1px;
  background: #B7933D;
  margin-right: 20px;
  vertical-align: top;
}

.dont-miss-section {
  padding: 50px 0 30px;
}

.dont-miss-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 110px;
}

.dont-miss-text strong {
  font-size: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 500;
  color: #0D0859;
  line-height: 1.2;
}

.dont-miss-text p {
  max-width: 600px;
  font-size: 14px;
  line-height: 1.8;
}

.link-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link-tabs a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(13, 8, 89, 0.5);
  border-bottom: 2px transparent solid;
  padding: 5px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.link-tabs a:hover {
  color: #0D0859;
}

.link-tabs a.active {
  color: #0D0859;
  border-color: rgba(183, 147, 61, 0.5);
}

/****************caatalog-grid************/
.products-section {
  padding: 50px 0;
  background-color: #F3F3F5;
}

.product-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.product-grid-item {
  background: #fff;
  position: relative;
}

.product-grid-item:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-grid-item .image {
  display: block;
  overflow: hidden;
}

.product-grid-item .image img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.product-grid-item .data {
  padding: 0 35px 35px 35px;
}

.product-grid-item .brand {
  display: block;
  color: rgba(13, 8, 89, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.product-grid-item .name {
  display: block;
  color: #0D0859;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 20px;
}

.product-grid-item .price {
  color: #B7933D;
  font-size: 16px;
  font-weight: 500;
}

/*****************about-ineichen-section*************/
.about-ineichen-section {
  padding: 50px 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #fff), color-stop(50%, #F3F3F5), to(#F3F3F5));
  background: linear-gradient(to bottom, #fff 50%, #fff 50%, #F3F3F5 50%, #F3F3F5 100%);
}

.about-ineichen-land {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.about-ineichen-land .text {
  color: #fff;
  padding: 70px;
  background: #0D0859;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-ineichen-land p {
  line-height: 2;
}

.about-ineichen-land h3 {
  margin-bottom: auto;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.about-ineichen-land .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 60%;
}

.about-ineichen-land img {
  vertical-align: middle;
  width: 100%;
}

.our-advantage-land {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.our-advantage-land .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 40%;
}

.our-advantage-land img {
  vertical-align: middle;
  width: 100%;
}

.our-advantage-land .text {
  color: #0D0859;
  padding: 70px;
}

.our-advantage-land h2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
}

.our-advantage-land ul {
  margin-top: 10%;
  padding-left: 60px;
}

.our-advantage-land ul li {
  margin: 10px 0;
  line-height: 1.8;
}

.stay-informed-land {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.stay-informed-land .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 40%;
}

.stay-informed-land img {
  vertical-align: middle;
  width: 100%;
}

.stay-informed-land .informed-form {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #0D0859;
  padding: 70px;
  color: #fff;
}

.stay-informed-land h2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

/*********************ui*****************/
.c-input {
  margin-bottom: 20px;
}

.c-input input {
  width: 100%;
  background: none;
  padding: 0 30px;
  height: 55px;
  border: 1px transparent solid;
  font-size: 16px;
}

.c-input.white input {
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.c-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px transparent solid;
  padding: 17px 30px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.c-btn.brown {
  border-color: #B7933D;
  color: #B7933D;
}

.c-btn.brown:hover {
  color: #fff;
  background-color: #B7933D;
}

.c-btn.brown.filled {
  background-color: #B7933D;
  color: #fff;
}

.c-btn.brown.filled:hover {
  background-color: #917430;
  border-color: #917430;
}

.c-btn.full-width {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */