@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(../font/font.css);
*,
*:before,
*:after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ---------------------------------- vars ---------------------------------- */
/* --------------------------------- mixins --------------------------------- */
/* --------------------------------- global --------------------------------- */
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 1;
}

body::-webkit-scrollbar {
  background-color: #fff;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(28, 36, 115, 0.3);
  border-radius: 10px;
  border: 2px solid #fff;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #1c2473;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body {
  scrollbar-face-color: red;
  scrollbar-track-color: green;
}

h1, h2, h3, h4, h5 {
  font-family: "GT America Extended", sans-serif;
}

strong {
  font-weight: 500;
}

b {
  font-weight: 600;
}

a {
  color: #1C2473;
}

.title {
  font-family: "GT America Extended", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 150px 0 70px;
}

.title:first-of-type {
  margin-top: 0;
}

.title_small {
  font-size: 20px;
  margin: 0 0 30px 0;
}

/* ----------------------------------- ui ----------------------------------- */
.container {
  padding: 0 150px;
}

.c-button {
  border: none;
  background: none;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  height: 60px;
  border-radius: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  padding: 0 30px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.c-button_small {
  height: 30px;
  border-radius: 30px;
  font-size: 13px;
}

.c-button_full {
  width: 100%;
}

.c-button_blue {
  color: #1C2473;
  border: 2px #1C2473 solid;
}

.c-button_blue:hover {
  background: #1C2473;
  color: #fff;
}

.c-button_blue.c-button_filled {
  color: #fff;
  background: #1C2473;
}

.c-button_blue.c-button_filled:hover {
  background: #303ec5;
  border-color: #303ec5;
}

.c-button_grey {
  color: black;
  border: 2px #DFDFDF solid;
}

.c-button_grey:hover {
  background: #DFDFDF;
}

.c-button:active {
  -webkit-animation: 1s ButtonClick;
          animation: 1s ButtonClick;
}

@-webkit-keyframes ButtonClick {
  30% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ButtonClick {
  30% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------------------- header --------------------------------- */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #fff;
  padding: 30px 60px;
  z-index: 100;
  -webkit-transition: padding 0.5s, -webkit-box-shadow 1s;
  transition: padding 0.5s, -webkit-box-shadow 1s;
  transition: padding 0.5s, box-shadow 1s;
  transition: padding 0.5s, box-shadow 1s, -webkit-box-shadow 1s;
}

.header_mini {
  padding: 15px 30px;
  -webkit-box-shadow: 0 0 10px 6px rgba(28, 36, 115, 0.2);
          box-shadow: 0 0 10px 6px rgba(28, 36, 115, 0.2);
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__nav-link {
  color: #676767;
  text-decoration: none;
  font-weight: 600;
}

.header__nav-link:hover {
  color: #1C2473;
}

.header__nav-link + .header__nav-link {
  margin-left: 40px;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #000;
  margin-right: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__button i.mdi {
  margin: auto;
  font-size: 20px;
}

.header__button:hover {
  background: #1C2473;
  color: #fff;
}

.header__button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header__account {
  height: 45px;
  border: 1px #DFDFDF solid;
  border-radius: 30px;
  font-weight: 500;
  padding: 0 25px;
  line-height: 42px;
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__account:hover {
  background: #1C2473;
  border-color: #1C2473;
  color: #fff;
}

/* --------------------------------- content -------------------------------- */
.content {
  padding-top: 220px;
}

/* ------------------------------ auctions-list ----------------------------- */
.auctions-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 90px 65px;
}

/* ------------------------------ auction-item ------------------------------ */
.auction-item__image {
  display: block;
  overflow: hidden;
  border-radius: 20px;
  height: 15vw;
  margin-bottom: 35px;
}

.auction-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.auction-item__image:hover img {
  -webkit-transform: scale(1.1) rotate(-2deg);
          transform: scale(1.1) rotate(-2deg);
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
}

.auction-item:nth-child(2n+0):hover .auction-item__image img {
  -webkit-transform: scale(1.1) rotate(2deg);
          transform: scale(1.1) rotate(2deg);
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
}

.auction-item:nth-child(3n+0):hover .auction-item__image img {
  -webkit-transform: scale(1.1) rotate(0deg);
          transform: scale(1.1) rotate(0deg);
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
}

.auction-item__title {
  position: relative;
  margin-bottom: 55px;
}

.auction-item__name {
  font-family: "GT America Extended", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 18px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.auction-item__name:hover {
  color: #1C2473;
}

.auction-item__name a {
  color: inherit;
  text-decoration: none;
}

.auction-item__lots {
  color: #676767;
  font-weight: 500;
}

.auction-item__date {
  right: 0px;
  top: 0px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  line-height: 30px;
  border-radius: 14px;
  color: #fff;
  background: #000;
  padding: 9px 24px;
}

.auction-item__date i.mdi {
  font-size: 20px;
  margin-right: 10px;
}

.auction-date-location {
  margin-bottom: 40px;
}

.auction-date-location__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auction-date-location__item i.mdi {
  font-size: 18px;
  margin-right: 5px;
}

.auction-date-location__item span {
  font-size: 13px;
}

.auction-date-location__item span + span:before {
  content: "—";
  display: inline-block;
  margin: 0 10px;
}

.auction-date-location__item + .auction-date-location__item {
  margin-top: 15px;
}

/* ------------------------------ auction item ------------------------------ */
.auction-teaser {
  margin-bottom: 40px;
}

.auction-teaser img {
  width: 100%;
}

/* ---------------------------------- lots ---------------------------------- */
.lots-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px 5px;
}

.lot-item__image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.lot-item__body {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  max-height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lot-item__price {
  margin: 15px 0 0 0;
  padding: 0 15px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lot-item__price-range {
  color: #676767;
}

.lot-item__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lot-item__count {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  left: 25px;
  bottom: 25px;
  background: black;
  color: #fff;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  font-size: 13px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.lot-item__name {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.3;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lot-item__brand {
  font-family: "Inter", sans-serif;
  color: #fff;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lot-item__link {
  position: relative;
  display: block;
  margin: 0 auto auto;
  width: 55px;
  height: 55px;
  background: white;
  color: black;
  border-radius: 50%;
  line-height: 55px;
  font-size: 32px;
  opacity: 0;
  top: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lot-item__link:hover {
  -webkit-transform: scale(1.2) rotate(360deg);
          transform: scale(1.2) rotate(360deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.lot-item__favorite {
  position: absolute;
  bottom: 30px;
  left: 50%;
  border: none;
  margin-left: -90px;
  border-radius: 50px;
  width: 180px;
  height: 35px;
  background: #000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lot-item__favorite i.mdi {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -12px 0 0 -12px;
  color: #e91e63;
  font-size: 24px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lot-item__favorite span {
  font-weight: 500;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lot-item__favorite:hover {
  background: #1C2473;
}

.lot-item__favorite_active {
  margin: 0 0 -10px -25px;
  width: 50px;
  height: 50px;
}

.lot-item__favorite_active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.lot-item__favorite_active i.mdi {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.lot-item:not(.lot-item_static):hover .lot-item__brand {
  opacity: 1;
}

.lot-item:not(.lot-item_static):hover .lot-item__body {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transform-origin: 50% 70%;
          transform-origin: 50% 70%;
}

.lot-item:not(.lot-item_static):hover .lot-item__name {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.lot-item:not(.lot-item_static):hover .lot-item__link {
  opacity: 1;
  top: 0px;
}

.lot-item:not(.lot-item_static):hover .lot-item__favorite {
  opacity: 1;
}

.lot-item:not(.lot-item_static):hover .lot-item__info {
  opacity: 1;
}

.lot-item:not(.lot-item_static):hover .lot-item__count {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
}

.lot-item:not(.lot-item_static):nth-child(n+0):hover .lot-item__image img {
  -webkit-transform: scale(1.2) rotate(0deg);
          transform: scale(1.2) rotate(0deg);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.lot-item:not(.lot-item_static):nth-child(2n+0):hover .lot-item__image img {
  -webkit-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.lot-item:not(.lot-item_static):nth-child(3n+0):hover .lot-item__image img {
  -webkit-transform: scale(1.2) rotate(-5deg);
          transform: scale(1.2) rotate(-5deg);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.lot-item:not(.lot-item_static):nth-child(4n+0):hover .lot-item__image img {
  -webkit-transform: scale(1.4) rotate(0deg);
          transform: scale(1.4) rotate(0deg);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.live-auction {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 25% 25%;
      grid-template-columns: 50% 25% 25%;
}

.live-auction__video-col, .live-auction__current-lot-col, .live-auction__current-lots-col {
  position: relative;
}

.live-auction__current-lot-col, .live-auction__current-lots-col {
  border-left: 1px #DFDFDF solid;
}

.live-auction__col-holder {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.live-auction__counts {
  line-height: 20px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 13px;
}

.live-auction__users {
  color: #B54C4C;
  margin-right: 15px;
}

.live-auction__users i.mdi {
  font-size: 20px;
  vertical-align: middle;
}

.live-auction__col-head {
  padding: 30px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #fff;
  z-index: 1;
}

.live-auction__col-body {
  padding: 0 30px 30px 30px;
}

.live-auction__stream {
  border-radius: 15px;
  overflow: hidden;
  margin: 0 0 20px 0;
}

.live-auction__stream video {
  vertical-align: middle;
  width: 100%;
}

.live-auction__stream_buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.live-auction__bids {
  border: 1px #DFDFDF solid;
  border-radius: 15px;
  margin: 0 0 20px 0;
}

.live-auction__bids-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
  font-size: 13px;
  font-weight: 500;
}

.live-auction__bids-item div:first-child {
  color: #676767;
}

.live-auction__bids-item i.mdi {
  color: black;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.live-auction__bids-item + .live-auction__bids-item {
  border-top: 1px #DFDFDF solid;
}

.live-auction__lot {
  margin: 0 0 20px 0;
  height: calc(100vh - 335px);
}

.lots-list {
  display: -ms-grid;
  display: grid;
  row-gap: 30px;
}

.lot-item-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.lot-item-small:before {
  content: "";
  display: block;
  position: absolute;
  left: -15px;
  top: -15px;
  bottom: -15px;
  right: -15px;
  background: rgba(28, 36, 115, 0.05);
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lot-item-small:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.lot-item-small:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.lot-item-small__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 80px;
  height: 110px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 30px;
}

.lot-item-small__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.lot-item-small__status {
  display: inline-block;
  line-height: 23px;
  padding: 0 15px;
  font-size: 11px;
  border-radius: 10px;
  margin: 0 0 15px 0;
}

.lot-item-small__status_grey {
  background: #D8D8D8;
}

.lot-item-small__status_red {
  background: #E42B2B;
  color: #fff;
}

.lot-item-small__name {
  font-size: 14px;
  color: #676767;
  margin: 0 0 15px 0;
}

.lot-item-small__price {
  font-size: 13px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */