* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$black: #0B243C;
$red: #E42538;

body {
    font-family: 'Rubik', sans-serif;
    color: $black;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: inherit;
}
.app {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.content {
    display: grid;
    padding: 30px;
    position: relative;
}
.pleer {
    margin: auto;
}

.news-list {
    position: absolute;
    right: 15px;
    top: 0px;
    bottom: 0px;
    overflow: auto;
    max-width: 305px;
    padding: 0 10px 0 0;
    &::-webkit-scrollbar {
        width:  5px;
        height: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba($black,0.1);
    }

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    // For Internet Explorer
    & {
        scrollbar-face-color: $black;
        scrollbar-track-color: #fff;
    }
    &__image {
        img {
            width: 100%;
            border-radius: 10px;
        }
    }
    &__item {
        border-top: 1px rgba($black,0.1) solid;
        margin-top: 15px;
        padding-top: 15px;
        &:first-child {
            border-top: none;
            margin-top: 0;
            padding-top: 0;
        }
    }
    &__name {
        font-size: 15px;
        line-height: 1;
        margin: 10px 0;
    }
    &__text {
        font-size: 14px;
    }
    &__info {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            font-size: 12px;
        }
        a {
            color: $red;
            font-size: 12px;
        }
    }
    
}

.footer {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    &__nav {
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 0 7vw;
    }
    &__nav-title {
        font-size: 24px;
        font-weight: 600;
        display: block;
        margin-bottom: 35px;
    }
    &__nav-links {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px 3vw;
        a {
            font-size: 18px;
            transition: all 0.3s;
            &:hover {
                color: $red;
            }
        }
    }
    &__btns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    &__button {
        display: inline-flex;
        height: 50px;
        border: 1px $black solid;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        color: $black;
        font-weight: 600;
        transition: all 0.3s;
        &:hover {
            background: rgba($black,0.2);
            border-color: rgba($black,0.0);
        }
    }
    &__tel {
        a {
            transition: all 0.3s;
            &:hover {
                color: $red;
            }
        }
        span {
            display: block;
            color: rgba($black,0.5);
            margin-bottom: 5px;
        }
    }
}

.social-links {
    margin-bottom: 35px;
    display: flex;
    a {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        display: inline-flex;
        border: 2px $black solid;
        border-radius: 5px;
        transition: all 0.3s;
        &:hover {
            background-color: $black;
            color: #fff;
        }
    }
    i {
        margin: auto;
        font-size: 20px;
    }
}
