@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
.wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.logo {
    text-align: center;
    margin-bottom: 40px;
    img {
        width: 400px;
    }
}
.currency {
    td {
        font-weight: 500;
        font-size: 72px;

    }
    .currency-name {
        text-align: right;
    }
    .currency-size {
        padding-left: 20px;
    }
}
table + a {
    visibility: hidden;
}
.frame {
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 100vh;
    .angle {
        width: 200px;
    }
    .angle-1 {
        position: absolute;
        left: 10px;
        top: 10px;
        transform: rotate(180deg);
    }
    .angle-2 {
        position: absolute;
        right: 10px;
        top: 10px;
        transform: rotate(-90deg);
    }
    .angle-3 {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    .angle-4 {
        position: absolute;
        left: 10px;
        bottom: 10px;
        transform: rotate(90deg);
    }
}
