@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
.wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}
.logo {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    img {
        width: 400px;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100px;
        height: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
        animation: 20s shine infinite;
    }
}
.currency {
    td {
        line-height: 100px;
        font-weight: 500;
        font-size: 95px;

    }
    .currency-name {
        text-align: right;
    }
    .currency-size {
        padding-left: 40px;
    }
}
table + a {
    visibility: hidden;
}
.frame {
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 100vh;
    .angle {
        width: 200px;
    }
    .angle-1 {
        position: absolute;
        left: 10px;
        top: 10px;
        transform: rotate(180deg);
    }
    .angle-2 {
        position: absolute;
        right: 10px;
        top: 10px;
        transform: rotate(-90deg);
    }
    .angle-3 {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
    .angle-4 {
        position: absolute;
        left: 10px;
        bottom: 10px;
        transform: rotate(90deg);
    }
}

@keyframes shine {
    0% {
        left: -100px;
    }
    98% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}
