$salat: #739f2d;
$green: #5a9500;
$red: #ff0000;

* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
    font-family: "Fira Sans";
    color: #000;
    line-height: 1.3;
    font-weight: 500;
    &.menu-open {
        overflow: hidden;
    }
}
a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}
img {
    vertical-align: middle;
}
h1,h2,h3,h4 {
    font-family: "PT Serif";
    line-height: 1;
    font-weight: 800;
}
h3 {
	font-size: 20px;
}
h2 {
	font-size: 25px;
}
input,select,textarea,button,a {
    font: inherit;
    outline: none !important;
}
.section-title {
	margin-bottom: 30px;
}
.container {
	max-width: 1100px;
	padding: 0 15px;
	margin: 0 auto;
}
.app {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

/*-------------------up bar--------------------*/

.up-bar {
	background: linear-gradient(to bottom, $salat, #5b881f);
	.up-bar-inner {
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	a {
		color: #fff;
		font-size: 11px;
		text-transform: uppercase;
		text-decoration: none;
		display: flex;
		align-items: center;
		letter-spacing: 1px;
		&:hover {
			opacity: 0.5;
		}
		img {
			margin-right: 5px;
		}
	}
}
.lang-choise {
	display: flex;
	align-items: center;
	a {
		margin-right: 25px;
		opacity: 0.4;
		&.active {
			opacity: 1;
		}
	}
	img {
		width: 20px;
	}
}
.lk-links {
	display: flex;
	align-items: center;
	img {
		margin-top: -2px;
	}
	a {
		margin-left: 25px;
	}
}


/*-------------------main-header--------------------*/
.main-header {
	position: relative;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		background: url('../img/menu-back.jpg');
		background-position: center 20%;
		background-size: cover;
		opacity: 0.1;
		z-index: -1;
	}
}
.main-header-blocks {
	padding: 38px 0 50px;
	display: flex;
	align-items:center;
	justify-content: space-between;
}
.header-logo {
	display: flex;
	align-items:center;
	h2 {
		margin-left: 40px;
		font-size: 22px;
		line-height: 1.1;
	}
}
.header-contact {
	.work-time {
		font-size: 12px;
		sup {
			font-size: 8px;
			vertical-align: top;
		}
	}
	.tel {
		margin: 5px 0;
		font-size: 22px;
		line-height: 1.1;
	}
	.mail {

		color: $green;
		font-weight: 600;
		position: relative;
		padding-left: 23px;
		line-height: 20px;
		img {
			position: absolute;
			left: 0px;
			top: 2px;
		}
	}
	.feedback {
		margin-top: 10px;
		display: inline-block;
		font-size: 12px;
		background: $salat;
		color: #fff;
		text-decoration: none;
		padding: 5px 10px;
		border-radius: 6px;
		&:hover {
			opacity: 0.7;
		}
	}
}
.header-basket {
	display: flex;
	align-items:center;
	text-decoration: none;
	&:hover {
		opacity: 0.6;
	}
	.basket-ico {
		background: $salat;
		padding: 8px 7px;
		border-radius: 8px;
		margin-right: 10px;
	}
	b {
		position: relative;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-decoration: underline;
		color: $salat;
		span {
			left: calc(100% + 3px);
			top: -3px;
			position: absolute;
			padding: 3px 6px 0 8px;
			line-height: 17px;
			background: $salat;
			color: #fff;
			border-radius: 50%;
			text-align: center;
			font-size:10px;
		}
	}
	.sum {
		display: block;
		margin-top: 4px;
		font-size: 12px;
	}
}

/*-------------------.main-nav--------------------*/
.main-nav {
	margin-top: -20px;
	position: relative;
	background: $salat;
	color: #fff;
	border-radius: 6px;
	.burger-btn {
		display: none;
		background: none;
		border: none;
		padding: 5px 0;
		cursor: pointer;
		span {
			margin: 5px 0;
			display: block;
			height: 3px;
			width: 30px;
			background: #fff;
		}
	}
	.nav-links {
		list-style: none;
		display: flex;
		justify-content: space-between;
	}
	a {
		display: block;
		padding: 14px 25px 12px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 1px;
	}
	.has-sub-links {
		position: relative;
		&:hover {
			.sub-links {
				display: block;
			}
		}
	}
	.sub-links {
		display: none;
		background: #fff;
		border-radius: 6px;
		border: 2px $salat solid;
		position: absolute;
		left: 0px;
		top: 0px;
		padding-left: 25px;
		padding-right: 25px;
		min-width: 160px;
		z-index: 2;
		li:last-child {
			a {
				border: none;
			}
		}
		a {
			border-bottom: 1px #ccc solid;
			color: $salat;
			padding-left: 0px;
			padding-right: 0px;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	.sub-links-title {
		text-transform: uppercase;
		color: #ccc;
		padding: 13px 0px 11px;
		font-size: 11px;
		letter-spacing: 1px;
	}
}
/*-------------------main-content--------------------*/
.main-content {
	padding: 50px 0;
}
/*-------------------crumbs--------------------*/
.crumbs {
	margin: 0px 0 50px 0px;
	li {
		font-size: 12px;
		color: $salat;
		display: inline-block;
		&:after {
			content: "/"
		}
		&:last-child {
			&:after {
				display: none;
			}
			a {
				color: #ccc;
				text-decoration: none;
				user-select: none;
				pointer-events: none;
			}
		}
	}
	a {
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $salat;
	}
}
/*-------------------topinabur-benefit-text--------------------*/
.topinabur-benefit-text {
	padding: 5px 25px;
	&.with-leaver {
		background: url('../img/leaver.png');
		background-repeat: no-repeat;
		background-position: right 10% center;
		background-size: auto 100%;
	}
	&.with-porridge {
		background: url('../img/porridge.png');
		background-repeat: no-repeat;
		background-position: right 5% center;
		background-size: auto 100%;
	}
	p:not(.big) {
		padding-left: 60px;
	}
	.text-article {
		font-weight: 500;
	}
}
/*-------------------topi-catalog--------------------*/
.topi-catalog {
	padding: 40px 0;
}
.catalog-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -25px;
}
.catalog-product-item {
	flex: 0 0 auto;
	width: 33.333%;
	padding: 0 25px 0;
	margin-bottom: 50px;
	&:hover {
		.product-image {
			box-shadow: 0 0px 20px 5px rgba(#ccc, 0.3);
		}
		.product-name {
			a {
				color: $salat;
			}
		}
	}
	.product-image {
		position: relative;
		margin-bottom: 20px;
		transition: all 0.2s;
		a {
			display: block;
			height: 400px;
		}
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		.sale,.price,.hit {
			font-family: "PT Serif";
			font-weight: 600;
			right: 13px;
			border-radius: 2px;
			position: absolute;
			color: #fff;
			font-size: 15px;
			line-height: 30px;
			padding: 0 10px;
		}
		.sale {
			top: -15px;
			background: $red;
		}
		.price {
			bottom: -10px;
			background: $salat;
		}
		.hit {
			background: #009bff;
			color: #fff;
			right: auto;
			top: -15px;
			left: 10px;
		}
	}
	.product-descr {
		min-height: 75px;
		margin-bottom: 19px;
	}
	.product-name {
		margin-bottom: 15px;
		a {
			text-decoration: none;
		}
	}
	.product-info {
		display: flex;
		align-items: center;

		.category {
			background: $salat;
			color: #fff;
			font-size: 10px;
			padding: 5px 8px 2px;
			border-radius: 3px;
		}
		.weight {
			margin-left: 10px;
			color: #909090;
			font-size: 11px;
		}
	}
	.add-product {
		display: flex;
		align-items: center;
		.add-counts {
			margin-left: -10px;
			margin-right: 10px;
		}

	}
}
.add-counts {
	display: flex;
	align-items: center;
	.topi-input {
		text-align: center;
		font-family: "PT Serif";
		font-weight: 800;
		width: 50px;
		padding: 0px;
		font-size: 20px;
	}
	button {
		cursor: pointer;
		padding: 0px 10px;
		border: none;
		background: none;
		font-size: 30px;
		height: 40px;
		cursor: pointer;
		&:hover {
			color: $salat;
		}
	}
}
/*-------------------product-wrap--------------------*/
.product-wrap {
	display: flex;
	.product-description {
		width: 365px;
		flex: 0 0 auto;
	}
	.product-info {
		flex: 1 1 auto;
		padding-left: 50px;
	}
}
.product-description {
	.image {
		margin-bottom: 10px;
		img {
			width: 100%;
		}
	}
    .thumbs-image {
        display: flex;
        flex-wrap: wrap;
        a {
            width: 80px;
            height: 80px;
            text-decoration: none;
            margin-bottom: 15px;
            &:not(:first-child) {
                margin-left: 15px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
	.action {
		display: flex;
		justify-content: space-between;
	}
}

.product-info-table {
	margin-bottom: 30px;
	table {
		border-collapse: separate;
		border-spacing: 0 10px;
		width: 100%;
		td {
			height: 40px;
			padding: 0px;
			vertical-align: middle;
		}
		td:first-child {
			font-weight: bold;
		}
	}
	.price,.sale {
		display: inline-block;
	    font-family: "PT Serif";
	    font-weight: 600;
	    right: 13px;
	    border-radius: 2px;
	    color: #fff;
	    font-size: 15px;
	    line-height: 30px;
	    padding: 0 10px;
	}
	.price {
		background: #739f2d;
	}
	.sale {
		background: #ff0000;
	}
}
/*-------------------topi-news--------------------*/
.topi-news {
	background: #f4f4f4;
	padding: 35px 0;
	.title {
		display: block;
		margin-bottom: 15px;
		font-size: 11px;
		color: #9e9e9e;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	.topi-news-blocks {
		display: flex;
		justify-content: space-between;
	}
	.item {
		a {
			font-size: 14px;
			text-decoration: none;
			&:hover {
				color: $salat;
			}
		}
		p {
			margin-top: 5px;
			color: #777;
			font-size: 12px;
		}
		&:last-child {
			a {
				display: flex;
				align-items: center;
				img {
					margin-right: 15px;
				}
			}
		}
	}
}
/*-------------------topi-slider--------------------*/
.topi-slider {
	padding: 60px 0 0px;
	.bx-wrapper {
		box-shadow: none;
		border: none;
		margin-bottom: 30px;
	}
}
/*-------------------topi-sales-list--------------------*/
.topi-sales-list {
	.item {
		display: flex;
		margin-bottom: 25px;
		align-items: center;
	}
	.image {
		margin-right: 25px;
		a {
			display: block;
			width: 200px;
			height: 200px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	h2 {
		font-size: 20px;
	}
	.date {
		display: block;
		margin: 10px 0;
		font-weight: 400;
	}
	a {
		
		text-decoration: none;
		
		&:hover {
			color: $salat;
		}
	}
}
/*-------------------topi-reviews--------------------*/
.topi-reviews-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	.review-item {
		width: calc(50% - 75px);
		margin-bottom: 50px;
	}
}
.review-item {
	display: flex;
	font-weight: 400;
	.image {
		flex: 0 0 auto;
		margin-right: 20px;
	}
	.review-info {
		padding-top: 5px;
	}
	.rate {
		margin: 3px 0 5px;
		i.mdi {
			font-size: 24px;
			color: $salat;
		}
	}
}
/*-------------------basket-list--------------------*/
.basket-list-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 14px;
	th {
		border-bottom: 1px #000 solid;
		padding: 0 0 5px;
		&:first-child {
			text-align: left;
		}
		&:nth-child(2) {
			text-align: center;
			width: 210px;
		}
		&:nth-child(3) {
			text-align: left;
			width: 100px;
		}
		&:nth-child(4) {
			text-align: left;
			width: 100px;
		}
		&:nth-child(5) {
			text-align: right;
			width: 70px;
		}
	}
	tr:nth-child(even) {
		td {
			background: #f5f5f5;
		}
	}
	td {
		vertical-align: middle;
		&:last-child {
			padding-right: 10px;
			text-align: right;
		}
	}
	.image {
		display: inline-block;
		margin-right: 20px;
	}
	.remove {
		cursor: pointer;
		border-radius: 2px;
		padding: 0px 10px;
		background: none;
		height: 40px;
    	border: 1px #c3c3c3 solid;
    	font-size: 24px;
    	color: $red;
    	&:hover {
    		color: #fff;
    		background-color: $red;
    		border-color: $red;
    	}
	}
	.add-counts {
		justify-content: center;
	}
}
.basket-sum-calculate {
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	b {
		font-family: "PT Serif";
	}
	.promo {
		display: flex;
		align-items: center;
		i.mdi {
			font-size: 34px;
			color: $salat;
		}
		b {
			font-weight: 900;
			font-size: 20px;
			margin: 0 10px;
		}
		.topi-input {
			width: 150px;
		}
	}
	.final {
		display: flex;
		align-items: center;
		b {
			font-size: 30px;
			margin-right: 20px;
		}
	}
}
/*-------------------basket-profile--------------------*/
.basket-profile-inputs {
	display: flex;
	justify-content: space-between;
	> div {
		width: calc(50% - 35px);
	}
	.if-old-user {
		display: flex;
		justify-content: space-between;
	}
	.user-adress {
		.form-item {
			label {
				width: 180px;
			}
		}
	}
}
.user-adress.first {
	display: flex;
	flex-direction: column;
	.next.bot {
		margin-top: auto;
	}
}

.profile-data-agree {
	display: flex;
	justify-content: space-between;
	.agree-checks {
		max-width: 650px;
	}
	.topi-toggle {
		margin-bottom: 5px;
		a {
			color: $salat;
		}
	}
	.topi-btn {
		align-self: flex-end;
		margin-bottom: 15px;
	}
	p {
		font-weight: 400;
		font-size: 13px;
	}
}
/*-------------------basket-delivery--------------------*/
.delivery-country {
	display: flex;
	justify-content: space-between;
	& > div {
		width: calc(33.333% - 30px);
	}
	.country-name {
		display: inline-block;
		position: relative;
		padding: 8px 5px 6px 10px;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		border: 1px $salat solid;
		border-right: 0px;
		border-radius: 3px 0 0 3px;
		margin-bottom: 15px;
		&:before {
			content: "";
			position: absolute;
			top: -1px;
			left: 100%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 15px 0 15px 15px;
			border-color: transparent transparent transparent $salat;
		}
		&:after {
			content: "";
			position: absolute;
			top: 0px;
			left: 100%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 14px 0 14px 14px;
			border-color: transparent transparent transparent white;
		}
	}
	.delivery-item {
		display: flex;
		.price {
			margin: 10px 0 0 15px;
			white-space: nowrap;
			font-family: "PT Serif";
			font-size: 15px;
			color: $salat;
		}
		.topi-toggle {
			flex: 1 1 auto;
		}
	}
	.next {
		padding-top: 40px;
		text-align: right;
	}
}
/*-------------------basket-pay--------------------*/
.basket-pay {
	.next {
		text-align: center;
	}
}
.pay-methods {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	.pay-methods-item {
		width: 250px;
	}
}
/*-------------------profile-data-agree--------------------*/
.checkout-page {
	.section-title {
		text-align: center;
		margin-bottom: 50px;
	}
	.checks-toggle,
	.data-form {
		margin-bottom: 50px;
	}
	.final {
		font-size: 32px;
		text-align: center;
		margin-bottom: 50px;
		span {
			color: #5a9500;
			font-weight: 900;
		}
	}
}
.checkout-page-center {
	max-width: 700px;
	margin: 0 auto;
}
.checks-toggle {
	border-radius: 10px;
	overflow: hidden;
	input {
		display: none;
	}
	label {
		display: block;
		text-align: center;
		padding: 15px 15px;
		background: #5a9500;
		color: #fff;
		cursor: pointer;
		transition: all 0.3s;
		~ label {
			border-top: 1px rgba(#fff, 0.1) solid;
		}
		&:hover {
			background: rgba(#5a9500, 0.8);
		}
		b {
			font-size: 20px;
		}
		p {
			font-size: 12px;
			margin-top: 5px;
		}
		strong {
			display: block;
			font-size: 18px;
			margin-top: 5px;
		}
	}
	input:checked + label {
		background: rgba(#5a9500, 0.8);
	}
	label ~ label {
		border-left: 1px rgba(#fff,.2) solid;
	}
}
.shipping-information {
	margin: -30px 0 50px;
	padding: 0 30px;
}
/*-------------------user-parlour--------------------*/
.user-parlour-wrap {
	display: flex;
}
.parlour-nav {
	width: 210px;
	li {
		margin-top: 10px;
	}
	a {
		font-size: 11px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $salat;
		&.active {
			color: #c6c6c6;
			text-decoration: none;
			pointer-events: none;
			user-select: none;
		}
	}
}
.parlour-content {
	.section-title {
		border-bottom: 1px #e5e5e5 solid;
		padding-bottom: 20px;
		margin-bottom: 20px;
		& + p {
			font-weight: 400;
			margin-bottom: 20px;
		}
	}
}
/*-------------------user-subs-list--------------------*/
.user-subs-list {
	margin-bottom: 25px;
	.topi-toggle {
		margin-bottom: 0px;
	}
}
/*-------------------orders-list-table--------------------*/
.orders-list-table {
	width: 100%;
	b {
		font-family: "PT Serif";
		font-size: 16px;
		font-weight: 900;
	}
	td {
		font-size: 13px;
		font-weight: 400;
		padding: 15px 15px;
		&:last-child {
			text-align: right;
		}
	}
	tr:nth-child(even) td {
		background: #f7f7f7;
	}
	.status {
		display: inline-block;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 1px;
		font-weight: 500;
		border: 1px $salat solid;
		border-radius: 3px;
		padding: 4px 6px 2px;
		&.complete {
			background: $salat;
			color: #fff;
		}
		&.whait {
			color: $salat;
		}
	}
}
/*-------------------user-bonus-info--------------------*/
.user-bonus-info {
	font-weight: 400;
	.current-bonus {
		margin-left: 15px;
		display: inline-block;
		color: #fff;
		background: $salat;
		border-radius: 3px;
		padding: 5px 7px 2px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 500;
		font-size: 10px;
	}
}
/*-------------------profile-data--------------------*/
.profile-data {
	> .topi-btn {
		margin: 30px 0 60px;
	}
	> p {
		font-weight: 400;
	}
	> h3 {
		margin-bottom: 10px;
	}
}
.profile-data-table {
	td {
		padding: 10px 0;
		a {
			color: $salat;
			font-weight: 600;
		}
	}
	td:first-child {
		padding-right: 70px;
	}
	td:last-child {
		font-family: "PT Serif";
		font-size: 18px;
	}
}
.soc-accounts {
	.item {
		display: flex;
		align-items: center;
		margin-top: 15px;
		.mdi {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			text-align: center;
			line-height: 40px;
			color: #fff;
			font-size: 24px;
			margin-right: 15px;
		}
		.mdi-facebook {
			background: #4a64a0
		}
		.mdi-vk {
			background: #5b75a1
		}
		.mdi-instagram {
			background: #e4405f
		}
	}
}
/*-------------------wholesaler-info--------------------*/
.wholesaler-info {
	display: flex;
	.feedback-form {
		flex: 0 0 auto;
		width: 50%;
		padding-left: 100px;
	}
}
/*-------------------devivery-info--------------------*/
.delivery-pay-info {
	display: flex;
	img {
		max-width: 100%;
	}
	.delivery-info {
		img {
			margin-bottom: 30px;
		}
	}
	.pay-info {
		flex: 0 0 auto;
		width: 50%;
		padding-left: 100px;
		img {
			margin: 30px 0 60px;
		}
	}
}
.prop-table {
	display: none;
}
.delivery-property {
	margin-top: 30px;
	.city {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-family: "PT Serif";
		font-weight: 800;
		color: $salat;
		text-decoration: underline;
		cursor: pointer;
		margin-bottom: 20px;
		&:hover {
			text-decoration: none;
		}
		&.active {
			i.mdi {
				transform: rotate(180deg);
			}
		}
		i.mdi {
			line-height: 22px;
			height: 20px;
			font-size: 24px;
			margin-right: 3px;
			transition: all 0.3s;
		}
	}
	table {
		width: 100%;
		margin-bottom: 40px;
		font-size: 12px;
		td {
			line-height: 1.5;
			border-bottom: 1px #ccc solid;
			padding: 15px 0;
			&:last-child {
				padding-left: 20px;
				width: 150px;
			}
		}
	}
}
/*-------------------main-footer--------------------*/
.main-footer {
	margin-top: auto;
	background: #ebebeb;
	padding: 50px 0;
}
.footer-blocks {
	display: flex;
	justify-content: space-between;
	b {
		display: block;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	ul li {
		font-size: 12px;
		margin-top: 16px;
	}
}
.footer-lk-links {
	a {
		letter-spacing: 1px;
		color: $salat;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			opacity: 0.6;
		}
	}
}
.footer-contacts-info {
	i.mdi {
		line-height: 15px;
		font-size: 18px;
		color: #666;
		vertical-align: middle;
		margin-right: 5px;
	}
	strong {
		letter-spacing: 1px;
	}
	a {
		color: $salat;
	}
}
.footer-copy {
	a {
		text-decoration: none;
	}
	.socials {
		display: flex;
		margin: 25px 0;
	}
	.mdi-facebook {
		background: #4a64a0
	}
	.mdi-vk {
		background: #5b75a1
	}
	.mdi-instagram {
		background: #e4405f
	}
	.mdi {
		margin-right: 10px;
		font-size: 18px;
		display: inline-block;
		width: 24px;
		height: 24px;
		line-height: 24px;
		border-radius: 50%;
		color: #fff;
		text-align:center;
	}
	.feedback {
	    display: inline-block;
	    font-size: 14px;
	    background: #739f2d;
	    color: #fff;
	    text-decoration: none;
	    padding: 8px 13px;
	    border-radius: 6px;
	    font-weight: 400;
	    letter-spacing: 1px;
	}
}
/*-------------------text-article--------------------*/
.text-article {
	line-height: 1.5;
	h3 {
		margin: 30px 0 15px;
	}
	a {
		color: $salat;
	}
	p {
		margin: 0 0 15px;
	}
	.big {
		margin: 20px 0;
		font-size: 34px;
		font-family: "PT Serif";
		font-weight: 800;
		line-height: 1.2;
	}
	ul {
		list-style: none;
		li {
			text-indent: 20px;
			&:before {
				content: "•";
				font-size: 18px;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
	}
}

/*-------------------ui--------------------*/
.topi-btn {
	cursor: pointer;
	border: none;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	height: 40px;
	padding: 0 30px;
	background: $salat;
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 42px;
	letter-spacing: 1px;
	border-radius: 20px;
	.mdi:last-child {
		font-size: 20px;
		margin-left: 10px;
		margin-right: -10px;
	}
	&.outline {
		color: $salat;
		background: none;
		box-shadow: 0 0 0 2px $salat inset;
	}
	& + .topi-btn {
		margin-left: 20px;
	}
}
.topi-input {
	width: 100%;
	background: #fff;
	border-radius: 3px;
	height: 40px;
	border: 1px #c3c3c3 solid;
	padding: 0 20px;
	transition: 0.3s all;
	&:focus {
		box-shadow: 0 0 4px 0 rgba($salat,0.5) inset;
	}
}
textarea.topi-input {
	resize: vertical;
	min-height: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.form-item {
	display: flex;
	margin-bottom: 25px;
	&.vertical {
		flex-direction: column;
		label {
			width: auto;
			margin-bottom: 10px;
		}
	}
	label {
		width: 120px;
		padding: 12px 15px 0 0;
		flex: 0 0 auto;
	}
	&.floating {
		position: relative;
		margin-bottom: 35px;
		input:focus,
		textarea:focus {
			& + label {
				top: -20px;	
				color: #5a9500;
				font-size: 12px;
			}
		}
		&.active {
			label {
				top: -20px;	
				color: #5a9500;
				font-size: 12px;
			}
		}
		label {
			pointer-events: none;
			padding: 0px;
			width: auto;
			position: absolute;
			left: 21px;
			top: 12px;
			white-space: nowrap;
			transition: all 0.3s;
			
		}
	}
}
.topi-toggle {
	display: flex;
	cursor: pointer;
	padding: 9px 0;
	margin-bottom: 25px;
	input {
		display: none;
		&:checked {
			+ .toggle:after {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	.toggle {
		position: relative;
		width: 22px;
		height: 22px;
		border: 1px #b9b9b9 solid;
		border-radius: 3px;
		flex: 0 0 auto;
		margin-right: 10px;
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 2px;
			top: 2px;
			right: 2px;
			bottom: 2px;
			background: $salat;
			border-radius: 2px;
			opacity: 0;
			transform: scale(0);
			transition: all 0.2s;
		}
	}
	.lbl {
		b {
			font-family: "PT Serif";
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.rate-stars {
   text-align: center;
   i {
      color: $salat;
   }
}
.remodal {
   border-radius: 10px;
   .modal-body {
      margin: 0 auto;
      max-width: 400px;
      text-align: left;
      padding: 35px 0 35px;
   }
   .remodal-close {
      color: #fff;
      background: $salat;
      left: auto;
      right: -15px;
      top: -15px;
      border-radius: 50%;
   }
}

@media screen and (max-width: 768px) {
	/*-------------------main-header--------------------*/
	.header-logo {
		h2 {
			display: none;
		}
	}
	/*-------------------.main-nav--------------------*/
	.main-nav {
		bottom: 0px;
		margin: 0 - 15px;
		padding: 0 15px;
		border-radius: 0px;
		.burger-btn {
			display: inline-block;
		}
		a {
			padding-left: 0px;
			padding-right: 0px;
			border-bottom: 1px rgba(#fff,0.3) solid;
			&:hover {
				opacity: 0.6;
			}
		}
		.nav-links  {
			display: none;
		}
		.sub-links {
			padding: 0px;
			display: block;
			position: static;
			background: none;
			border: none;
			a {
				margin-left: 20px;
				color: #fff;
				border-bottom: 1px rgba(#fff,0.3) solid;
			}
			li:last-child {
				a {
					border-bottom: 1px rgba(#fff,0.3) solid;
				}
			}
		}
		.sub-links-title {
			display: none;
		}
		
	}
	/*-------------------topi-catalog--------------------*/
	.catalog-grid {
		margin: 0 -15px;
	}
	.catalog-product-item {
		width: 50%;
		padding: 0 15px;
		margin-bottom: 30px;
	}

	/*-------------------product-wrap--------------------*/
	.product-wrap {
		.product-description {
			width: 320px;
		}
		.product-info {
			padding-left: 30px;
		}
	}
	/*-------------------main-content--------------------*/
	.main-content {
		padding-top: 40px;
	}
	/*-------------------topinabur-benefit-text--------------------*/
	.topinabur-benefit-text {
		padding: 5px 0px;
		&.with-leaver {
			background: none;
		}
		&.with-porridge {
			background: none;	
		}
		p:not(.big) {
			padding-left: 0px;
		}
	}
	/*-------------------topi-news--------------------*/
	.topi-news {
		padding: 25px 0;
		.topi-news-blocks {
			flex-wrap: wrap;
			.item {
				padding: 10px 0;
				width: 50%;
			}
		}
	}
	/*-------------------topi-slider--------------------*/
	.topi-slider {
		padding: 15px 0;
	}
	/*-------------------topi-reviews--------------------*/
	.topi-reviews-grid {
		.review-item {
			width: 100%;
			margin-bottom: 30px;
		}
	}
	/*-------------------basket-list--------------------*/
	.basket-list-table {
		h3 {
			font-size: 14px;
		}
		th {
			&:nth-child(2) {
				width: 150px;
			}
			&:nth-child(3) {
				text-align: left;
				width: 70px;
			}
			&:nth-child(4) {
				text-align: left;
				width: 70px;
			}
		}
	}
	.basket-sum-calculate {
		flex-direction: column;
		align-items: flex-end;
		.final {
			margin-top: 30px;
		}
	}
	/*-------------------basket-profile--------------------*/
	.basket-profile-inputs {
		display: block;
		> div {
			width: 100%;
		}
		.if-old-user {
			display: block;
		}
	}
	/*-------------------basket-pay--------------------*/
	.pay-methods {
		justify-content: space-between;
		margin-bottom: 50px;
		.pay-methods-item {
			padding-right: 15px;
		}
	}
	/*-------------------user-parlour--------------------*/
	.user-parlour-wrap {
		display: block;
	}
	.parlour-nav {
		width: 100%;
		display: flex;
		margin-bottom: 30px;
		li {
			margin-top: 0px;
		}
		a {
			display: block;
			background: $salat;
			color: #fff;
			text-decoration: none;
			padding: 10px 10px;

			&.active {
				color: #000;
				pointer-events: none;
				user-select: none;
			}
		}
	}



	/*-------------------text-article--------------------*/
	.text-article {
		a {
			color: $salat;
		}
		p {
			margin: 10px 0;
		}
		.big {
			margin: 10px 0;	
			font-size: 20px;
			font-family: "PT Serif";
			font-weight: 800;
			line-height: 1.2;
		}
	}
	/*-------------------ui--------------------*/
	.form-item {
		display: block;
		label {
			padding: 0px;
			display: block;
			margin-bottom: 5px;
		}
	}
	.topi-toggle {
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 500px) {
	/*-------------------up bar--------------------*/
	.lang-choise {
		a {
			margin-right: 10px;
		}
	}
	.lk-links {
		a {
			margin-left: 10px;
		}
	}
	/*-------------------main-header--------------------*/
	.header-basket {
		position: relative;
		.basket-ico {
			margin-right: 0px;
		}
		.basket-info {
			right: 15px;
			top: -5px;
			position: absolute;
			visibility: hidden;
			.sum {
				display: none;
			}
			b span {
				visibility: visible;
			}
		}
	}
	/*-------------------topi-catalog--------------------*/
	.catalog-product-item {
		width: 100%;
		padding: 0 15px;
		margin-bottom: 30px;
	}
	/*-------------------topi-sales-list--------------------*/
	.topi-sales-list {
		.item {
			display: block;
			margin-bottom: 25px;
		}
		.image {
			width: 190px;
			margin: 0px auto 20px;
			img {
				width: 100%;
			}
		}
	}
	/*-------------------topi-news--------------------*/
	.topi-news {
		padding: 25px 0;
		.topi-news-blocks {
			.item {
				width: 100%;
			}
		}
	}
	/*-------------------topi-reviews--------------------*/
	.review-item {
		.image {
			width: 70px;
			img {
				width: 100%;
			}
		}
		.review-info {
			padding: 0px;
		}
	}
	/*-------------------basket-list--------------------*/
	.basket-list-table-wrap {
		max-width: 100%;
		overflow-x: auto;
		.basket-list-table {
			min-width: 600px;
		}
	}
	.basket-sum-calculate {
		.promo {
			b {
				font-size: 16px;
			}
		}
		.final {
			width: 100%;
			justify-content: space-between;
			b {
				font-size: 18px;
				margin: 0px;
			}
		}
	}
	/*-------------------basket-profile--------------------*/
	.basket-profile-inputs {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 0px;
		margin-bottom: 0px;
	}
	.profile-data-agree {
		display: block;
		.agree-checks {
			max-width: 650px;
		}
		.topi-btn {
			margin: 10px 0 0 0;
		}
	}
	/*-------------------basket-delivery--------------------*/
	.delivery-country {
		flex-wrap: wrap;
		& > div {
			width: 100%;
			margin-bottom: 15px;
		}
		.delivery-item {
			display: flex;
			.topi-toggle {
				flex: 1 1 auto;
			}
		}
		.next {
			padding-top: 40px;
			text-align: right;
		}
	}
	/*-------------------basket-pay--------------------*/
	.pay-methods {
		flex-wrap: wrap;
		margin-bottom: 20px;
		.pay-methods-item {
			width: 100%;
			padding: 0px;
		}
	}
	/*-------------------user-parlour--------------------*/
	.parlour-nav {
		display: block;
		margin-bottom: 30px;
		a {
			border-bottom: 1px rgba(#fff,.4) solid;
		}
	}
	/*-------------------orders-list-table--------------------*/
	.orders-list-wrap {
		max-width: 100%;
		overflow: auto;
		.orders-list-table {
			min-width: 600px;
			td {
				padding: 10px 10px;
			}
		}
	}
	/*-------------------wholesaler-info--------------------*/
	.wholesaler-info {
		display: block;
		.feedback-form {
			margin-top: 40px;
			padding-left: 0%;
			width: 100%;
		}
	}
	/*-------------------devivery-info--------------------*/
	.delivery-pay-info {
		display: block;
		.pay-info {
			width: 100%;
			padding: 0px;
			margin-top: 30px;
		}
	}
	.product-description {
		margin-bottom: 30px;
		.image {
			margin-bottom: 15px;
		}
	}
	/*-------------------product-wrap--------------------*/
	.product-wrap {
		display: block;
		.product-description {
			width: 100%;
		}
		.product-info {
			padding: 0px;
		}
	}
	/*-------------------main-footer--------------------*/
	.main-footer {
		padding: 20px 0;
	}
	.footer-blocks {
		display: block;
		text-align: center;
		> * {
			margin-top: 30px;
		}
		.socials {
			justify-content: center;
		}
	}
	/*-------------------ui--------------------*/
	.topi-btn {
		padding: 0 20px;
	}
}

@media screen and (max-width: 320px) {
	/*-------------------up bar--------------------*/
	.up-bar {
		a {
			font-size: 10px;
		}
	}
	/*-------------------main-header--------------------*/
	.header-logo {
		display: none;
	}
	.main-header-blocks {
		padding: 20px 0 40px;
	}
}
