@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
@import url("tail.css");
html {
  font-size: 15px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

/* --------------------------------- HEADER --------------------------------- */
.main-header_in {
  -webkit-animation: 0.5s headerIn both;
          animation: 0.5s headerIn both;
}
.main-header_out {
  -webkit-animation: 0.3s headerOut both;
          animation: 0.3s headerOut both;
}
.main-header_mini {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 50;
}
.main-header_mini .main-header__burger div {
  background-color: black;
}
.main-header_mini .main-header__burger.active div {
  background-color: white;
}
.main-header_mini .main-header__logo_normal {
  display: none;
}
.main-header_mini .main-header__logo_mini {
  display: block;
}
.main-header_mini .main-header__tel {
  color: black;
}
.main-header_mini .main-header__tel:hover {
  color: #C28D3F;
}
.main-header_mini .main-header__tools a {
  color: black;
}
.main-header_mini .main-header__tools a:hover {
  color: #C28D3F;
}

#menuOpen.active div:first-child {
  transform: rotate(-45deg) translateY(6px);
}
#menuOpen.active div:last-child {
  transform: rotate(45deg) translateY(-6px);
}

.c-select {
  height: 40px;
  position: relative;
  border-bottom: 1px #ccc solid;
}
.c-select .lnr {
  pointer-events: none;
  position: absolute;
  right: 0px;
  line-height: 40px;
}

.select2-container--default .select2-selection--single {
  border: none;
  height: auto;
}

.select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 39px;
  padding-left: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  font-weight: 400;
  padding-right: 30px;
}

.select2-dropdown {
  border: none;
  border-radius: 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: none;
  color: #C28D3F;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: none;
  color: #C28D3F;
}

.select2-results__option {
  padding: 10px 15px;
  font-weight: 400;
  border-bottom: 1px #eee solid;
}

.c-field {
  position: relative;
  padding-top: 10px;
}
.c-field__label {
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  left: 0px;
  line-height: 40px;
  transition: all 0.2s;
}
.c-field__input {
  width: 100%;
  font-weight: 400;
  height: 40px;
  outline: none;
  border-bottom: 1px #ccc solid;
  transition: all 0.2s;
}
.c-field.active .c-field__label {
  font-size: 10px;
  bottom: 35px;
  line-height: 10px;
}
.c-field.active .c-field__input {
  border-color: #C28D3F;
}

/* ---------------------------------- modal --------------------------------- */
.blocker {
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
}

.modal a.close-modal {
  display: none;
}
.modal_right {
  border-radius: 0px;
  box-shadow: none;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 600px;
  -webkit-animation: 0.3s ModalRight both;
          animation: 0.3s ModalRight both;
}

@-webkit-keyframes ModalRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes ModalRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes headerIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes headerIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes headerOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes headerOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}/*# sourceMappingURL=main.css.map */