@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
@import url("tail.css");
html {
  font-size: 15px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.article h1 {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
.article h2 {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  margin-top: 2.5rem;
}
.article h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.article p {
  margin: 1.5rem 0;
}
.article > *:first-child {
  margin-top: 0;
}
.article blockquote {
  margin: 2rem 0 2rem 3rem;
  padding-left: 3rem;
  font-size: 1.5rem;
  line-height: 1.5;
  border-left: 1px #C28D3F solid;
}
.article b, .article strong {
  font-weight: 400;
}
.article a {
  color: #C28D3F;
  text-decoration: underline;
}
.article a:hover {
  text-decoration: none;
}
.article figure {
  margin: 2rem 0;
}
.article figcaption {
  margin-top: 0.5rem;
  font-style: italic;
  color: #C28D3F;
}
.article ul, .article ol {
  margin: 1.5rem 0;
  padding-left: 4rem;
}
.article ul li, .article ol li {
  margin: 0.5rem 0;
}
.article ul li {
  position: relative;
}
.article ul li:before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 1px;
  background: #C28D3F;
  left: -30px;
  top: 11px;
}
.article ol li {
  list-style: decimal;
}

/* --------------------------------- HEADER --------------------------------- */
.main-header_in {
  animation: 0.5s headerIn both;
}
.main-header_out {
  animation: 0.3s headerOut both;
}
.main-header_white .main-header__burger div {
  background-color: black;
}
.main-header_white .main-header__burger.active div {
  background-color: white;
}
.main-header_white .main-header__tel {
  color: black;
}
.main-header_white .main-header__tel:hover {
  color: #C28D3F;
}
.main-header_white .main-header__tools a {
  color: black;
}
.main-header_white .main-header__tools a:hover {
  color: #C28D3F;
}
.main-header_mini {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 50;
}
.main-header_mini .main-header__burger div {
  background-color: black;
}
.main-header_mini .main-header__burger.active div {
  background-color: white;
}
.main-header_mini .main-header__logo_normal {
  display: none;
}
.main-header_mini .main-header__logo_mini {
  display: block;
}
.main-header_mini .main-header__tel {
  color: black;
}
.main-header_mini .main-header__tel:hover {
  color: #C28D3F;
}
.main-header_mini .main-header__tools a {
  color: black;
}
.main-header_mini .main-header__tools a:hover {
  color: #C28D3F;
}

.main-header__burger.active div:first-child {
  transform: rotate(-45deg) translateY(6px);
}
.main-header__burger.active div:last-child {
  transform: rotate(45deg) translateY(-6px);
}

/* ------------------------------- info short ------------------------------- */
#infoShort.in {
  animation: 0.5s infoIn both;
}
#infoShort.out {
  animation: 0.3s infoOut both;
}

/* ----------------------------------- ui ----------------------------------- */
.c-select {
  height: 40px;
  position: relative;
  border-bottom: 1px #ccc solid;
}
.c-select .lnr {
  pointer-events: none;
  position: absolute;
  right: 0px;
  line-height: 40px;
}

.select2-container--default .select2-selection--single {
  border: none;
  height: auto;
}

.select2-selection__arrow {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 39px;
  padding-left: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  font-weight: 400;
  padding-right: 30px;
}

.select2-dropdown {
  border: none;
  border-radius: 0px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: none;
  color: #C28D3F;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background: none;
  color: #C28D3F;
}

.select2-results__option {
  padding: 10px 15px;
  font-weight: 400;
  border-bottom: 1px #eee solid;
}

.c-field {
  position: relative;
  padding-top: 10px;
}
.c-field__label {
  font-weight: 400;
  position: absolute;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  pointer-events: none;
  transition: all 0.2s;
}
.c-field__input {
  width: 100%;
  font-weight: 400;
  height: 50px;
  outline: none;
  border-bottom: 1px #ccc solid;
  transition: all 0.2s;
}
.c-field.active .c-field__label {
  font-size: 10px;
  bottom: 45px;
  line-height: 10px;
}
.c-field.active .c-field__input {
  border-color: #C28D3F;
}
.c-field_error .c-field__label {
  color: #dc2626;
}
.c-field_error .c-field__input {
  color: #dc2626;
  border-color: #dc2626 !important;
}
.c-field_ok .c-field__label {
  color: #16a34a;
}
.c-field_ok .c-field__input {
  color: #16a34a;
  border-color: #16a34a !important;
}

.range-slider {
  background: none;
  border: none;
  box-shadow: none;
}
.range-slider .noUi-base:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  height: 1px;
  background: #ccc;
  top: 9px;
  z-index: -1;
}
.range-slider .noUi-value {
  display: none;
}
.range-slider .noUi-connect {
  background: none;
}
.range-slider .noUi-connect:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  height: 1px;
  background: #C28D3F;
  top: 9px;
  z-index: -1;
}
.range-slider .noUi-handle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #C28D3F;
  box-shadow: none;
  border: none;
  top: -1px;
  right: -10px;
  cursor: pointer;
}
.range-slider .noUi-handle:before, .range-slider .noUi-handle:after {
  display: none;
}
.range-slider .noUi-marker-horizontal.noUi-marker {
  width: 1px;
  background: #ccc;
  margin: 0;
  height: 10px;
}
.range-slider .noUi-pips-horizontal {
  padding: 0px;
  top: 5px;
  bottom: 0px;
  height: auto;
}
.range-slider .noUi-marker-horizontal.noUi-marker-large {
  height: 10px;
}
.range-slider .noUi-tooltip {
  font-weight: 300;
  font-size: 12px;
  border: none;
  bottom: auto;
  top: 120%;
  background: none;
}

/* --------------------------------- magnify -------------------------------- */
.magnify {
  vertical-align: middle;
  width: 100%;
}

/* ---------------------------------- modal --------------------------------- */
.blocker {
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
}

.modal a.close-modal {
  display: none;
}
.modal_right {
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 700px;
  overflow: auto;
  animation: 0.3s ModalRight both;
}
.modal_full {
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  animation: 0.3s modalFull both;
}

@keyframes ModalRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes modalFull {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes headerIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes headerOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes infoIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes infoOut {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */