@font-face {
    font-family: 'Averta';
    src: url("../font/subset-AvertaDemoPECuttedDemo-Regular.woff2") format("woff2"), url("../font/subset-AvertaDemoPECuttedDemo-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
  src: url("../font/subset-MyriadPro-Regular.woff2") format("woff2"), url("../font/subset-MyriadPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #2884e2;
}

body {
    font-family: 'Averta';
    background: #000;
    color: #fff;
    line-height: normal;
    font-size: 24px;
    overflow-x: hidden;
}

input, button, textarea {
    font-family: 'Averta';
}

.vegas-timer {
    display: none;
}

.radio-app {
    height: 100vh;
    padding: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

.radio-header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
}

.logo {
    margin-right: 40px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    opacity: 0;
}

.logo img {
    vertical-align: middle;
}

.main-nav {
    margin-left: 20px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.main-nav ul {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.main-nav ul li {
    padding: 0px 15px;
    opacity: 0;
}

.main-nav ul a {
    padding: 8px 0px;
    text-transform: lowercase;
    position: relative;
    transition: all 0.2s;
}

.main-nav ul a:after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    bottom: 0px;
    left: 50%;
    background: #fff;
    width: 0;
    transition: all 0.2s;
}

.main-nav ul a:hover, .main-nav ul a.active {
    color: #2884e2;
}

.main-nav ul a:hover:after, .main-nav ul a.active:after {
    left: 0;
    width: 100%;
    background: #2884e2;
}

.burger-btn {
    display: none;
    background: none;
    border: none;
    width: 26px;
    padding: 5px 3px;
    cursor: pointer;
}

.burger-btn span {
    display: block;
    height: 2px;
    background: #fff;
    margin: 3px 0;
}

.radio-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
}

.radio-content h1 {
    margin: auto 0 auto 120px;
    font-family: 'Myriad Pro';
    font-size: 110px;
    letter-spacing: 8px;
}

.radio-footer {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 0;
}

.play-now {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.track-info {
    width: 100%;
    max-width: 480px;
    margin-top: -15px;
}

.track-text span {
    opacity: 0.5;
}

.track-name {
    display: block;
}

.artist-image {
    width: 130px;
    height: 105px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin-right: 30px;
}

.play-pause {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}

.volume-range-wrap {
    margin-top: 5px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.volume-range-wrap img {
    opacity: 0.5;
}

.rangeslider {
    margin: 0 10px;
    width: 100%;
    height: 20px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}

.rangeslider:before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    top: 9px;
}

.rangeslider__fill {
    background: #2884e2;
    position: absolute;
    left: 0px;
    top: 7px;
    height: 6px;
    border-radius: 6px;
}

.rangeslider__handle {
    cursor: pointer;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.play-btn {
    margin: auto;
    outline: 0;
    position: relative;
    width: 2rem;
    height: 2rem;
}

.play-btn:before,
.play-btn:after {
    content: '';
    background: #fff;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: 0.2s ease-out;
}

.play-btn:before {
    -webkit-clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%);
    left: 0;
}

.play-btn:after {
    -webkit-clip-path: polygon(0% 25%, 100% 50%, 100% 50%, 0 75%);
    clip-path: polygon(0% 25%, 100% 50%, 100% 50%, 0 75%);
    right: 0;
}

.play-btn.play--playing:before {
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 75% 100%, 0% 100%);
}

.play-btn.play--playing:after {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%);
}

.apps {
    display: -ms-flexbox;
    display: flex;
}

.apps a {
    display: block;
    margin-left: 30px;
    opacity: 0.5;
}

.apps a:hover {
    opacity: 1;
}

.slider-back {
    overflow: hidden !important;
    position: absolute !important;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
}

/*************page-footer*************/
.page-footer {
    background: #4c4c4c;
    padding: 50px 70px;
}

.page-footer hr {
    margin: 60px 0;
    height: 1px;
    background: #666666;
    border: none;
}

.footer-top-line {
    display: -ms-flexbox;
    display: flex;
}

.footer-top-line .company-adress {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    max-width: 400px;
}

.footer-top-line .feedback-form {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    max-width: 400px;
}

.footer-top-line .legal-links {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.legal-links ul {
    list-style: none;
    padding: 0px;
    text-align: center;
}

.legal-links ul li {
    margin: 10px 0 0;
}

.feedback-form {
    padding-left: 70px;
}

.feedback-form span {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.feedback-form .field {
    margin-bottom: 12px;
}

.feedback-form input,
.feedback-form textarea {
    font-size: 25px;
    padding: 0 20px;
    border: none;
    width: 100%;
    background: #9dafba;
    color: #fff;
    border-radius: 7px;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFF;
    opacity: 1;
  /* Firefox */
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FFF;
    opacity: 1;
  /* Firefox */
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
    color: #FFF;
}

.feedback-form input::-ms-input-placeholder,
.feedback-form textarea::-ms-input-placeholder {
  /* Microsoft Edge */
    color: #FFF;
}

.feedback-form input {
    padding-top: 4px;
    padding-bottom: 10px;
}

.feedback-form textarea {
    min-height: 100px;
    resize: vertical;
    padding-top: 6px;
    padding-bottom: 6px;
}

.feedback-form button {
    cursor: pointer;
    border-radius: 7px;
    color: #fff;
    font-size: 25px;
    width: 100%;
    background: #2366af;
    text-align: center;
    border: none;
    padding-top: 4px;
    padding-bottom: 10px;
}

.partners-list ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: none;
    text-align: center;
}

.partners-list img {
    vertical-align: middle;
}

.partners-list li:first-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 50px;
}

.partners-list li:nth-child(4) {
    -ms-flex: 0 0 12%;
    flex: 0 0 12%;
}

.partners-list li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
}

.partners-list a {
    opacity: 0.4;
    margin: auto;
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: all 0.7s;
}

.partners-list a:hover {
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/****************stations-list***********/
.cities-radio .title-list {
    margin: 30px 0 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.stations-list {
    min-width: 290px;
    padding: 0px;
    list-style: none;
    border-spacing: 0px 5px;
    border-collapse: separate;
}

.stations-list td {
    padding: 0px;
}

.stations-list td:nth-child(1) {
    text-align: left;
}

.stations-list td:nth-child(2) {
    width: 50px;
}

.stations-list td:nth-child(3) {
    width: 50px;
    vertical-align: middle;
}

.stations-list img {
    margin: auto;
}

.stations-list .name {
    font-size: 20px;
    text-align: left;
}

.stations-list .www,
.stations-list .frequency {
    display: block;
    width: 50px;
    height: 22px;
    background: #fff;
    color: #335b93;
    margin-left: 15px;
    text-align: center;
}

.stations-list .www {
    display: -ms-flexbox;
    display: flex;
}

.stations-list .frequency {
    font-size: 16px;
}

.contacts-radio a {
    text-decoration: underline;
}

/****************tooltips****************/
.my-tooltips {
    display: none;
}

.protip-skin-default--scheme-pro.protip-container {
    font-family: 'Averta';
    padding: 20px 20px;
    line-height: 1.2;
    color: #fff;
    font-size: 25px;
    text-align: right;
    background: #335b93;
    border-radius: 0px;
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-right"] .protip-arrow {
    top: auto;
    bottom: 100%;
    right: 0px;
    margin: 0px;
    border-style: solid;
    border-width: 0 0 18px 26px;
    border-color: transparent transparent #335b93 transparent;
}

.protip-skin-default--scheme-pro[data-pt-position="bottom-left"] .protip-arrow {
    top: auto;
    bottom: 100%;
    right: auto;
    left: 0px;
    margin: 0px;
    border-style: solid;
    border-width: 18px 0 0 26px;
    border-color: transparent transparent transparent #335b93;
}

.protip-skin-default--scheme-pro[data-pt-position="bottom"] .protip-arrow {
    left: 50%;
    bottom: 100%;
    top: auto;
    right: auto;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 18px 15px;
    border-color: transparent transparent #335b93 transparent;
}

/*****************mobile-modal***********/
.mobile-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #2366af;
    padding: 65px 35px 35px 35px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.remodal-is-opening {
    animation: 0.5s ModalOpen both ease-in;
}

.remodal-is-closing {
    animation: 0.2s ModalClose both ease-in;
}

.close-modal-btn {
    background: none;
    border: none;
    right: 15px;
    top: 15px;
    position: fixed;
}

/******************mobile-menue***********/
.mobile-menu {
    min-height: 100%;
    text-align: right;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mobile-menu > ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto 0;
    list-style: none;
    padding: 0px;
    font-size: 20px;
}

.mobile-menu .contacts {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px #fff solid;
}

.mobile-menu .legal-links {
    margin-top: 20px;
}

.mobile-menu .legal-links ul {
    text-align: right;
}

.mobile-menu .legal-links li {
    font-size: 10px;
    margin-top: 0px;
}

/******************mobile-about***********/
.mobile-about a {
    text-decoration: underline;
}

.mobile-about p {
    font-size: 17px;
}

.mobile-about p + p {
    margin-top: 40px;
}

.mobile-about .partners-list {
    margin-top: 60px;
}

.mobile-about .partners-list ul {
    display: block;
}

.mobile-about .partners-list ul li {
    margin-bottom: 30px;
}

.mobile-about .partners-list ul li:first-child {
    margin-bottom: 30px;
}

.mobile-about .partners-list ul a {
    opacity: 1;
    -ms-transform: none;
    transform: none;
}

.mobile-about .partners-list ul a img {
    max-width: 70%;
}

/******************mobile-cities**********/
.mobile-cities .stations-list {
    margin: auto;
    max-width: 300px;
    width: 100%;
    min-width: 0px;
    border-spacing: 0 12px;
}

.mobile-cities .stations-list .name {
    font-size: 16px;
}

.mobile-cities .stations-list .www,
.mobile-cities .stations-list .frequency {
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;
}

/******************mobile-apps**********/
.mobile-apps {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
}

.mobile-apps .apps {
    margin: auto;
}

.mobile-apps .apps img {
    width: 195px;
}

/******************mobile-contacts**********/
.mobile-contacts {
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
}

.mobile-contacts .contacts-radio {
    font-size: 18px;
    margin: auto;
}

/******************mobile-contacts**********/
.mobile-feedback {
    margin: auto;
    max-width: 300px;
    font-size: 19px;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}

.mobile-feedback .feedback-form {
    padding: 0px;
}

.mobile-feedback .feedback-form input, .mobile-feedback .feedback-form textarea {
    font-size: 18px;
}

.mobile-feedback .feedback-form button {
    color: #2366af;
    background: #fff;
    font-size: 18px;
}

.mobile-feedback .feedback-form span {
    text-align: center;
}

.mobile-feedback .succes {
    margin-top: 40px;
}

/*****************media******************/
@media screen and (max-width: 1024px) {
    html {
        overflow: hidden;
    }

    body {
        overflow: hidden;
    }

    .page-footer {
        display: none;
    }

    .radio-app {
        padding: 30px;
    }

    .apps {
        margin-bottom: 40px;
    }

    .logo img {
        width: 150px;
    }

    .main-nav ul {
        display: none;
    }

    .main-nav .burger-btn {
        display: inline-block;
    }

    .radio-content {
        display: none;
    }

    .radio-footer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    .play-now {
        background: rgba(0, 0, 0, 0.5);
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: auto;
        padding: 30px 20px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .radio-app {
        padding: 30px 15px;
    }

    .radio-header {
        padding: 0 15px;
    }

    .logo img {
        width: 100px;
    }

    .apps {
        margin-top: -10vh;
        margin-bottom: 6vh;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .apps a {
        opacity: 1;
        margin: 0px;
    }

    .apps a:last-child {
        margin-top: 22px;
    }

    .apps img {
        width: 110px;
    }

    .play-now {
        width: 100%;
        padding: 30px 15px;
    }

    .artist-image {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 70px;
        height: 60px;
        margin-right: 15px;
    }

    .track-info {
        margin-top: -3px;
    }

    .rangeslider {
        margin: 0 10px;
        height: 10px;
    }

    .rangeslider:before {
        content: "";
        height: 1px;
        top: 4px;
    }

    .rangeslider__fill {
        top: 3px;
        height: 3px;
        border-radius: 2px;
    }

    .rangeslider__handle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }

    .volume-range-wrap img {
        height: 10px;
    }

    .play-btn {
        width: 1.4rem;
        height: 1.4rem;
    }

    .play-btn:before,
  .play-btn:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        transition: 0.2s ease-out;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .apps {
        display: none;
    }

    .play-now {
        max-width: 350px;
    }
}

@media screen and (max-width: 813px) and (max-height: 400px) and (orientation: landscape) {
    body {
        font-size: 14px;
    }

    .radio-app {
        padding: 30px 15px;
    }

    .radio-header {
        padding: 0 15px;
    }

    .logo img {
        width: 100px;
    }

    .apps {
        display: none;
    }

    .play-now {
        max-width: 350px;
    }

    .play-now {
        width: 100%;
        padding: 30px 15px;
    }

    .artist-image {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 70px;
        height: 60px;
        margin-right: 15px;
    }

    .track-info {
        margin-top: -3px;
    }

    .rangeslider {
        margin: 0 10px;
        height: 10px;
    }

    .rangeslider:before {
        content: "";
        height: 1px;
        top: 4px;
    }

    .rangeslider__fill {
        top: 3px;
        height: 3px;
        border-radius: 2px;
    }

    .rangeslider__handle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
    }

    .volume-range-wrap img {
        height: 10px;
    }

    .play-btn {
        width: 1.4rem;
        height: 1.4rem;
    }

    .play-btn:before,
  .play-btn:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        transition: 0.2s ease-out;
    }
}

/**************animation***********/
@keyframes ModalOpen {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(5%);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes ModalClose {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    to {
        opacity: 0;
        transform: scale(0.9) translateY(5%);
    }
}
