@font-face {
    font-family: 'Bodoni72C';
    src: url('Bodoni72C.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BodoniC';
    src: url('BodoniC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BodoniC';
    src: url('BodoniC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BodoniC';
    src: url('BodoniC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BodoniC';
    src: url('BodoniC-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: local('HelveticaNeueCyr-Heavy'),
        url('subset-HelveticaNeueCyr-Heavy.woff2') format('woff2'),
        url('subset-HelveticaNeueCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: local('HelveticaNeueCyr-Roman'),
        url('subset-HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('subset-HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: local('HelveticaNeueCyr-Bold'),
        url('subset-HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('subset-HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: local('HelveticaNeueCyr-Thin'),
        url('subset-HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('subset-HelveticaNeueCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: local('HelveticaNeueCyr-Light'),
        url('subset-HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('subset-HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: local('HelveticaNeueCyr-UltraLight'),
        url('subset-HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
        url('subset-HelveticaNeueCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: local('HelveticaNeueCyr-Medium'),
        url('subset-HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('subset-HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
