@font-face {
   font-family: 'Averta';
   src: url('../font/subset-AvertaDemoPECuttedDemo-Regular.woff2') format('woff2'),
   url('../font/subset-AvertaDemoPECuttedDemo-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Myriad Pro';
   src: url('../font/subset-MyriadPro-Regular.woff2') format('woff2'),
   url('../font/subset-MyriadPro-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap');
* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
a {
   color: #fff;
   text-decoration: none;
   &:hover {
      color: #2884e2;
   }
}
body {
   font-family: 'Averta';
   background: #000;
   color: #fff;
   line-height: normal;
   font-size: 24px;
   //min-width: 1366px;
   min-height: 768px;
}
input, button, textarea {
   font-family: 'Averta';
}
.blocker {
   z-index: 1000;
}
.container {
   margin: auto;
   max-width: 1440px;
   padding: 0 30px;
}
.vegas-timer {
   display: none;
}
.vegas-slide, .vegas-slide-inner {
   will-change: transform,opacity,filter;
}

.radio-app {
   height: 100vh;
   padding: 70px;
   display: flex;
   flex-direction: column;
   position: relative;
   //min-width: 1366px;
   min-height: 768px;
   z-index: 5;
}
.radio-header {
   flex: 0 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
   margin-right: 40px;
   flex: 0 0 auto;
   opacity: 0;
   img {
      width: 300px;
      vertical-align: middle;
   }
}
.main-nav {
   margin-left: 20px;
   flex: 0 0 auto;
   ul {
      list-style: none;
      display: flex;
      align-items: center;
      li {
         padding: 0px 15px;
         opacity: 0;
      }
      a {
         cursor: pointer;
         padding: 8px 0px;
         text-transform: lowercase;
         position: relative;
         transition: all 0.2s;
         &:after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            bottom: 0px;
            left: 50%;
            background: #fff;
            width: 0;
            transition: all 0.2s;
         }
         &:hover,
         &.active {
            color: #2884e2;
            &:after {
               left: 0;
               width: 100%;
               background: #2884e2;
            }
         }
      }
   }
}
.burger-btn {
   display: none;
   background: none;
   border: none;
   width: 26px;
   padding: 5px 3px;
   cursor: pointer;
   span {
      display: block;
      height: 2px;
      background: #fff;
      margin: 3px 0;
   }
}
.radio-content {
   flex: 1 1 auto;
   display: flex;
   h1 {
      font-family: 'Oswald', sans-serif;
      font-weight: 900;
      margin: auto 0 auto 120px;
      font-size: 90px;
      letter-spacing: 8px;
   }
}

.radio-footer {
   flex: 0 0 auto;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   opacity: 0;
}

.play-now {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
}
.track-info {
   width: 100%;
   max-width: 480px;
   margin-top: -15px;
}
.track-text {
   span {
      opacity: 0.5;
   }
}
.track-name {
   display: block;
   overflow: hidden;
   .track-name-inner {
      animation: 10s rollTrack infinite linear;
   }
}
.artist-image {
   width: 130px;
   height: 105px;
   overflow: hidden;
   border-radius: 5px;
   position: relative;
   margin-right: 30px;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.play-pause {
   position: absolute;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 100%;
   display: flex;
   cursor: pointer;
}
.volume-range-wrap {
   margin-top: 8px;
   display: flex;
   align-items: center;
   .ico.off {
      position: relative;
   }
   .ico.off:before {
      content: "";
      display: block;
      position: absolute;
      width: 34px;
      height: 2px;
      background: #FFF;
      left: -8px;
      top: 15px;
      transform: rotate(-45deg);
      opacity: 0.5;
   }
   img {
      opacity: 0.5;
   }
}
.rangeslider {
   margin: 0 10px;
   width: 100%;
   height: 20px;
   position: relative;
   border-radius: 2px;
   cursor: pointer;
}
.rangeslider:before {
   content: "";
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   background: #fff;
   top: 9px;
}
.rangeslider__fill {
   background: #2884e2;
   position: absolute;
   left: 0px;
   top: 7px;
   height: 6px;
   border-radius: 6px;
}
.rangeslider__handle {
   cursor: pointer;
   position: absolute;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #fff;
   touch-action: pan-x;
}

.play-btn {
   margin: auto;
   outline: 0;
   position: relative;
   width: 2rem;
   height: 2rem;
}

.play-btn:before,
.play-btn:after {
   content: '';
   background: #fff;
   position: absolute;
   top: 0;
   width: 50%;
   height: 100%;
   transition: 0.2s ease-out;
}

.play-btn:before {
   clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%);
   left: 0;
}

.play-btn:after {
   clip-path: polygon(0% 25%, 100% 50%, 100% 50%, 0 75%);
   right: 0;
}

.play-btn.play--playing:before {
   clip-path: polygon(0% 0%, 75% 0%, 75% 100%, 0% 100%);
}

.play-btn.play--playing:after {
   clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%);
}

.apps {
   display: flex;
   a {
      display: block;
      margin-left: 30px;
      opacity: 1;
      transition: all 0.3s;
      &:hover {
         opacity: 0.5;
      }
   }
   img {
      width: 200px;
   }
}

.slider-back {
   overflow: hidden !important;
   position: absolute !important;
   left: 0px;
   top: 0px;
   height: 100vh !important;
   width: 100%;
   //min-width: 1366px;
   min-height: 768px;
}
/****************select station*********/
.choise-station {
   margin-bottom: 30px;
   select {
      display: none;
   }
}
.dk-select {
   min-width: 250px;
   position: relative;
   display: inline-block;
   outline: none !important;
   .dk-selected  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #2c5fa0;
      color: #fff;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 20px;
      outline: none !important;
      cursor: pointer;
      &:after {
         content: '';
         margin-left: 15px;
         display: block;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         background-color: #fff;
         background-image: url(../img/arrow.svg);
         background-size: 50%;
         background-position: center;
         background-repeat: no-repeat;
         box-shadow: 0 3px 8px 3px rgba(#000, 0.2);
         transition: all 0.3s;
         animation: .8s infinite beatHeart;
      }
   }
   &.dk-select-open-up {
      .dk-select-options {
         visibility: visible;
         opacity: 1;
         transform: translateY(0);
      }
      .dk-selected:after {
         transform: rotateX(180deg);
      }
   }
   &.dk-select-open-down {
      .dk-select-options {
         visibility: visible;
         opacity: 1;
         transform: translateY(0);
      }
      .dk-selected:after {
         transform: rotateX(180deg);
      }
   }
   .dk-select-options {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-50px);
      bottom: 110%;
      min-width: 100%;
      position: absolute;
      border-radius: 20px;
      background: #2c5fa0;
      color: #fff;
      list-style: none;
      overflow: hidden;
      transition: all 0.3s;
      li {
         padding: 10px 15px;
         white-space: nowrap;
         cursor: pointer;
         &:hover {
            background: darken(#2c5fa0,10);
         }
      }
   }
}
/***************news-list************/
.section-title {
   font-size: 42px;
   margin-bottom: 50px;
   font-family: 'Oswald', sans-serif;
   display: block;
   text-align: center;
   text-transform: uppercase;
   font-weight: 300;
}
.news-section {
   padding: 50px 0;
   background: #2c5fa0;
}
.new-grid {
   margin: 0 -30px;
   display: flex;
   flex-wrap: wrap;
   a {
      width: calc(33.333% - 60px);
      margin: 0 30px 60px 30px;
      border-radius: 16px;
      overflow: hidden;
      display: block;
      background: #4c4c4c;
      color: #fff;
      box-shadow: 0 3px 8px 3px rgba(0, 0, 0, 0.2);
      transition: all 0.3s;
      &:hover {
         background: #fff;
         color: #000;
         box-shadow: 0 16px 24px 4px rgba(0, 0, 0, 0.3);
         .image {
            img {
               transform: rotate(6deg) scale(1.2);
            }
         }
      }
   }
   .image {
      overflow: hidden;
      position: relative;
      .date {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-size: 12px;
         position: absolute;
         right: 15px;
         top: 15px;
         background: #ef6c00;
         color: #fff;
         width: 60px;
         height: 60px;
         border-radius: 50%;
         line-height: 1.2;
         text-transform: uppercase;
         b {
            margin-top: -2px;
            display: block;
            font-size: 18px;
            font-weight: bold;
         }
      }
      img {
         vertical-align: middle;
         width: 100%;
         max-width: 100%;
         transition: all 1s;
      }
   }
   .text {
      padding: 15px;
      h2 {
         margin: 0px;
         font-size: 18px;
      }
      p {
         font-size: 14px;
      }
   }
}

.news-item {
   font-size: 16px;
   background: #fff;
   padding: 30px;
   color: #000;
   border-radius: 15px;
   h2 {
      margin-bottom: 30px;
   }
   p {
      margin-bottom: 30px;
   }
}
/*************page-footer*************/
.page-footer {
   background: #4c4c4c;
   padding: 50px 70px;
   hr {
      margin: 60px 0;
      height: 1px;
      background: #666666;
      border: none;
   }
}
.footer-top-line {
   display: flex;
   .company-adress {
      flex: 0 0 auto;
      width: 100%;
      max-width: 400px;
   }
   .feedback-form {
      flex: 0 0 auto;
   }
   .feedback-block {
      min-height: 310px;
      width: 100%;
      max-width: 400px;
      padding-left: 70px;
   }
   .legal-links {
      align-self: flex-end;
      flex: 1 1 auto;
   }
   .succes {
      text-align: center;
   }
}
.legal-links {
   ul {
      list-style: none;
      padding: 0px;
      text-align: center;
      li {
         margin: 10px 0 0
      }
   }
}
.feedback-form {
   span {
      display: block;
      text-align: right;
      margin-bottom: 20px;
   }
   .field {
      margin-bottom: 12px;
   }
   input,
   textarea {
      font-size: 25px;
      padding: 0 20px;
      border: none;
      width: 100%;
      background: #9dafba;
      color: #fff;
      border-radius: 7px;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #FFF;
        opacity: 1; /* Firefox */
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #FFF;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #FFF;
      }
   }
   input {
      padding-top: 4px;
      padding-bottom: 10px;
   }
   textarea {
      min-height: 100px;
      resize: vertical;
      padding-top: 6px;
      padding-bottom: 6px;
   }
   button {
      cursor: pointer;
      border-radius: 7px;
      color: #fff;
      font-size: 25px;
      width: 100%;
      background: #2366af;
      text-align: center;
      border: none;
      padding-top: 4px;
      padding-bottom: 10px;
   }
}
.partners-list {
   ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      list-style: none;
      padding: none;
      text-align: center;
   }
   img {
      vertical-align: middle;
   }
   li:first-child {
      flex: 0 0 100%;
      margin-bottom: 50px;
   }
   li:nth-child(4) {
      flex: 0 0 12%;
   }
   li {
      display: flex;
      flex: 0 0 22%;
   }
   a {
      opacity: 0.4;
      margin: auto;
      transform: scale(0.9);
      transition: all 0.7s;
      &:hover {
         transform: scale(1);
         opacity: 1;
      }
   }
   img {
      max-width: 100%;
   }
}

/****************stations-list***********/
.cities-radio {
   .title-list {
      margin: 30px 0 5px;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
   }
}
.stations-list {
   min-width: 290px;
   padding: 0px;
   list-style: none;
   border-spacing: 0px 5px;
   border-collapse: separate;
   td {
      padding: 0px;
   }
   td:nth-child(1) {
      text-align: left;

   }
   td:nth-child(2) {
      width: 50px;
   }
   td:nth-child(3) {
      width: 50px;
      vertical-align: middle;
   }
   img {
      height: 20px;
      margin: auto;
   }
   .name {
      font-size: 20px;
      text-align: left;
   }
   .www,
   .frequency {
      display: block;
      width: 50px;
      height: 22px;
      background: #fff;
      color: #335b93;
      margin-left: 15px;
      text-align: center;
   }
   .www {
      display: flex;
   }
   .frequency {
      font-size: 16px;
   }
}
.contacts-radio {
   a {
      text-decoration: underline;
   }
}
/****************tooltips****************/
.my-tooltips {
   display: none;
}
.protip-skin-default--scheme-pro.protip-container {
   font-family: 'Averta';
   padding: 20px 20px;
   line-height: 1.2;
   color: #fff;
   font-size: 25px;
   text-align: right;
   background: #2c5fa0;
   border-radius: 0px;
}
.protip-skin-default--scheme-pro[data-pt-position="bottom-right"] .protip-arrow {
   top: auto;
   bottom: 100%;
   right: 0px;
   margin: 0px;
   border-style: solid;
   border-width: 0 0 18px 26px;
   border-color: transparent transparent #2c5fa0 transparent;
}
.protip-skin-default--scheme-pro[data-pt-position="bottom-left"] .protip-arrow {
   top: auto;
   bottom: 100%;
   right: auto;
   left: 0px;
   margin: 0px;
   border-style: solid;
   border-width: 18px 0 0 26px;
   border-color: transparent transparent transparent #2c5fa0;
}
.protip-skin-default--scheme-pro[data-pt-position="bottom"] .protip-arrow {
   left: 50%;
   bottom: 100%;
   top: auto;
   right: auto;
   margin-left: -9px;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 15px 18px 15px;
   border-color: transparent transparent #2c5fa0 transparent;
}
/*****************banner-modal***********/
.banner-modal {
   max-width: 800px;
   background: #fff;
   padding: 0px;
   .image-wrap {
      img {
         border-radius: 15px;
         width: 100%;
         max-width: 100%;
         vertical-align: middle;
      }
   }
}
/*********************ny-modal************/
.fs-modal {
   width: 100%;
   max-width: 100%;
   padding: 0px;
   border-radius: 0px;
   border-radius: 10px;
   overflow: hidden;
   
}
.ny-modal {
   & ~ a.close-modal {
      top: 20px;
      right: 20px;
      opacity: 0.6;
      transition: all 0.3s;
      &:hover {
         opacity: 1;
      }
   }
   &__body {
      position: relative;
      > img {
         width: 100%;
      }
   }
   &__btns {
      position: absolute;
      left: 50%;
      top: 71vw;
      transform: translateX(-50%);
      a {
         display: block;
         max-width: 100%;
         
      }
   }
   &__btn {
      position: relative;
      &:hover {
         color: inherit;
      }
      span {
         position: absolute;
         left: 0px;
         top: 0px;
         width: 100%;
         padding-left: 90px;
         text-align: center;
         text-transform: uppercase;
         font-size: 18px;
         padding-top: 32px;
      }
   }
   &__btn-icon {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 90px;
      height: 90px;
      text-align: center;
      &:before {
         content: "";
         margin-top: 26px;
         display: none;
         width: 35px;
         height: 35px;
         background: #fff;
         transition: all 0.3s;
      }
      &:after {
         content: "";
         margin-top: 25px;
         display: inline-block;
         width: 0px;
         height: 0px;
         border-left: 35px #fff solid;
         border-top: 20px transparent solid;
         border-bottom: 20px transparent solid;
      }
      

   }
   .ny-modal__btn.play {
      .ny-modal__btn-icon {
         &:before {
            margin-top: 20px;
            display: inline-block;
         }
         &:after {
            display: none;
         }
      }
      .ny-modal__time {
         visibility: visible;
      }
   }

   &__time {
      position: absolute;
      font-size: 10px;
      bottom: 10px;
      width: 100%;
      visibility: hidden;
   }
   &__footer {
      padding: 30px;
      margin-top: -10px;
      background: #78b6e5;
      color: #fff;
      text-align: center;
      p {
         margin: 30px 0;
      }
   }
   &__partners {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(4,auto);
      gap: 0 60px;
      align-items: center;
      img {
         max-width: 100%;
      }
   }
}
/*****************mobile-modal***********/
.mobile-modal {
   position: fixed;
   height: 100%;
   width: 100%;
   left: 0px;
   top: 0px;
   background: #2366af;
   padding: 65px 35px 35px 35px;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
}
.remodal-is-opening {
   animation: 0.5s ModalOpen both ease-in;
}
.remodal-is-closing {
   animation: 0.2s ModalClose both ease-in;
}
.close-modal-btn {
   background: none;
   border: none;
   right: 15px;
   top: 15px;
   position: fixed;
}
/******************mobile-menue***********/
.mobile-menu {
   min-height: 100%;
   text-align: right;
   display: flex;
   flex-direction: column;
   > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 auto 0;
      list-style: none;
      padding: 0px;
      font-size: 20px;
      a {
         cursor: pointer;
         line-height: 30px;
      }
   }
   .contacts {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px #fff solid;
   }
   .legal-links {
      margin-top: 20px;
      ul {
         text-align: right;
      }
      li {
         font-size: 10px;
         margin-top: 0px;
      }
   }
}
/******************mobile-about***********/
.mobile-about {
   a {
      text-decoration: underline;
   }
   p {
      font-size: 17px;
   }
   p + p {
      margin-top: 40px;
   }
   .partners-list {
      margin-top: 60px;
      ul {
         display: block;
         li {
            margin-bottom: 30px;
         }
         li:first-child {
            margin-bottom: 30px;
         }
         a {
            opacity: 1;
            transform: none;
            img {
               max-width: 70%;
            }
         }
      }
   }
}
/******************mobile-cities**********/
.mobile-cities {
   .stations-list {
      margin: auto;
      max-width: 300px;
      width: 100%;
      min-width: 0px;
      border-spacing: 0 12px;
      .name {
         font-size: 16px;
      }
      .www,
      .frequency {
         margin-left: 12px;
         font-size: 14px;
         line-height: 22px;
      }
   }
}
/******************mobile-apps**********/
.mobile-apps {
   min-height: 100%;
   display: flex;
   .apps {
      margin: auto;
      img {
         width: 195px;
      }
   }
}
/******************mobile-contacts**********/
.mobile-contacts {
   display: flex;
   min-height: 100%;
   .contacts-radio {
      font-size: 18px;
      margin: auto;
   }
}
/******************mobile-contacts**********/
.mobile-feedback {
   margin: auto;
   max-width: 300px;
   font-size: 19px;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   .feedback-form {
      padding: 0px;
      input, textarea {
         font-size: 18px;
      }
      button {
         color: #2366af;
         background: #fff;
         font-size: 18px;
      }
      span {
         text-align: center;
      }
   }
   .succes {
      margin-top: 40px;
   }
}
/*****************media******************/
@media screen and (max-width: 1024px) {
   html {
      overflow: hidden;
   }
   body {
      overflow: hidden;
   }
   .page-footer {
      display: none;
   }
   .radio-app {
      padding: 30px;
   }
   .apps {
      margin-bottom: 40px;
   }
   .logo {
      img {
         width: 150px;
      }
   }
   .main-nav {
      ul {
         display: none;
      }
      .burger-btn {
         display: inline-block;
      }
   }
   .radio-content {
      display: none;
   }
   .radio-footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
   }
   .play-now {
      background: rgba(#000,0.5);
      flex: 0 0 auto;
      margin: auto;
      padding: 30px 20px;
      border-radius: 10px;

   }
   .choise-station {
      width: 100%;
      margin: 30px 0 0 0;
      .dk-select {
         display: block;
         margin: 0 auto;
         max-width: 500px;
         width: 100%;
         min-width: 0px;
      }
      .dk-select-options {
         transform: scale(0.5);
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         border-radius: 0px;
         bottom: 0px;
         left: 0px;
         position: fixed;
         width: 100%;
         height: 100%;
         z-index: 100;
      }
   }
}
@media screen and (max-width: 767px) {
   body {
      font-size: 14px;
   }
   .radio-app {
      padding: 30px 15px;
   }
   .radio-header {
      padding: 0 15px;
   }
   .logo {
      img {
         width: 100px;
      }
   }
   .apps {
      margin-top: -20vh;
      margin-bottom: 15vh;
      display: flex;
      flex-direction: column;
      a {
         opacity: 1;
         margin: 0px;
         &:last-child {
            margin-top: 22px;
         }
      }
      img {
         width: 110px;
      }
   }
   .play-now {
      width: 100%;
      padding: 30px 15px;
   }
   .artist-image {
      flex: 0 0 auto;
      width: 70px;
      height: 60px;
      margin-right: 15px;
   }
   .track-info {
      margin-top: -3px;
   }

   .rangeslider {
      margin: 0 10px;
      height: 10px;
   }
   .rangeslider:before {
      content: "";
      height: 1px;
      top: 4px;
   }
   .rangeslider__fill {
      top: 3px;
      height: 3px;
      border-radius: 2px;
   }
   .rangeslider__handle {
      height: 10px;
      width: 10px;
      border-radius: 50%;
   }
   .volume-range-wrap img {
      height: 10px;
   }
   .play-btn {
      width: 1.4rem;
      height: 1.4rem;
   }

   .play-btn:before,
   .play-btn:after {
      content: '';
      background: #fff;
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      transition: 0.2s ease-out;
   }

   .choise-station {
      padding: 0 15px;
      margin-bottom: -80px;
   }
   .dk-select {
      .dk-selected  {
         padding: 10px 10px 10px 20px;
         &:after {
            width: 30px;
            height: 30px;
         }
      }
   }

}
@media screen and (max-width: 767px) and (orientation: portrait) {
   .vegas-slide,
   .vegas-slide-inner {
      background-position: right -180px center !important;
   }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
   .apps {
      display: none;
   }
   .play-now {
      max-width: 350px;
   }
}
@media screen and (max-width: 813px) and (max-height: 400px) and (orientation: landscape) {
   body {
      font-size: 14px;
   }
   .radio-app {
      padding: 30px 15px;
   }
   .radio-header {
      padding: 0 15px;
   }
   .logo {
      img {
         width: 120px;
      }
   }
   .apps {
      display: none;
   }
   .play-now {
      max-width: 350px;
   }
   .play-now {
      width: 100%;
      padding: 30px 15px;
   }
   .artist-image {
      flex: 0 0 auto;
      width: 70px;
      height: 60px;
      margin-right: 15px;
   }
   .track-info {
      margin-top: -3px;
   }

   .rangeslider {
      margin: 0 10px;
      height: 10px;
   }
   .rangeslider:before {
      content: "";
      height: 1px;
      top: 4px;
   }
   .rangeslider__fill {
      top: 3px;
      height: 3px;
      border-radius: 2px;
   }
   .rangeslider__handle {
      height: 10px;
      width: 10px;
      border-radius: 50%;
   }
   .volume-range-wrap img {
      height: 10px;
   }
   .play-btn {
      width: 1.4rem;
      height: 1.4rem;
   }

   .play-btn:before,
   .play-btn:after {
      content: '';
      background: #fff;
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      transition: 0.2s ease-out;
   }
}

@media screen and (max-width: 768px) {
   .ny-modal {
      &__btn {
         width: 300px;
         img {
            width: 100%;
         }
         span {
            padding-left: 60px;
            padding-top: 22px;
            font-size: 12px;
         }
         
      }
      &__btn-icon {
         width: 60px;
         height: 60px;
         &:after {
            margin-top: 17px;
            border-left: 24px #fff solid;
            border-top: 14px transparent solid;
            border-bottom: 14px transparent solid;
         }
         &:before {
            width: 24px;
            height: 24px;
         }
      }
      &__time {
         display: none;
      }
      &__footer {
         
      }
      &__text {  
         font-size: 14px;
         p {
            margin: 15px 0;
         }
      }
      &__partners {
         width: 100%;
         margin-top: 30px;
      }
   }
   
}
@media screen and (max-width: 568px) {
   .ny-modal {
      &__btn {
         width: 200px;
         span {
            padding-left: 40px;
            padding-top: 13px;
            font-size: 9px;
         }
         
      }
      &__btn-icon {
         width: 40px;
         height: 40px;
         &:after {
            margin-top: 13px;
            border-left: 15px #fff solid;
            border-top: 9px transparent solid;
            border-bottom: 9px transparent solid;
         }
         &:before {
            margin-top: 14px !important;
            width: 16px;
            height: 16px;
         }
      }
      &__time {
         display: none;
      }
      &__footer {
         
      }
      &__text {  
         font-size: 14px;
         p {
            margin: 15px 0;
         }
      }
      &__partners {
         width: 100%;
         margin-top: 30px;
         grid-template-columns: repeat(2, 1fr);
         gap: 30px;
         justify-items: center;
      }
   }
}
/**************animation***********/
@keyframes ModalOpen {
   from {
      opacity: 0;
      transform: scale(0.9) translateY(5%);
   }
   to {
      opacity: 1;
      transform: scale(1) translateY(0);
   }
}
@keyframes ModalClose {
   from {
      opacity: 1;
      transform: scale(1) translateY(0);
   }
   to {
      opacity: 0;
      transform: scale(0.9) translateY(5%);
   }
}
@keyframes rollTrack {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(-100%);
   }
}
@keyframes beatHeart {
   0% {
      transform: scale(1);
   }
   25% {
      transform: scale(1.1);
   }
   40% {
      transform: scale(1);
   }
   60% {
      transform: scale(1.1);
   }
   100% {
      transform: scale(1);
   }
}
