@font-face {
   font-family: 'Averta';
   src: url('../font/subset-AvertaDemoPECuttedDemo-Regular.woff2') format('woff2'),
   url('../font/subset-AvertaDemoPECuttedDemo-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Myriad Pro';
   src: url('../font/subset-MyriadPro-Regular.woff2') format('woff2'),
   url('../font/subset-MyriadPro-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
}
a {
   color: #fff;
   text-decoration: none;
   &:hover {
      color: #2884e2;
   }
}
body {
   font-family: 'Averta';
   background: #000;
   color: #fff;
   line-height: normal;
   font-size: 24px;
   overflow-x: hidden;
}
input, button, textarea {
   font-family: 'Averta';
}
.vegas-timer {
   display: none;
}
.vegas-slide, .vegas-slide-inner {
   will-change: transform,opacity,filter;
}

.radio-app {
   height: 100vh;
   padding: 70px;
   display: flex;
   flex-direction: column;
   position: relative;
   z-index: 5;
}
.radio-header {
   flex: 0 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo {
   margin-right: 40px;
   flex: 0 0 auto;
   opacity: 0;
   img {
      width: 300px;
      vertical-align: middle;
   }
}
.main-nav {
   margin-left: 20px;
   flex: 0 0 auto;
   ul {
      list-style: none;
      display: flex;
      align-items: center;
      li {
         padding: 0px 15px;
         opacity: 0;
      }
      a {
         padding: 8px 0px;
         text-transform: lowercase;
         position: relative;
         transition: all 0.2s;
         &:after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            bottom: 0px;
            left: 50%;
            background: #fff;
            width: 0;
            transition: all 0.2s;
         }
         &:hover,
         &.active {
            color: #2884e2;
            &:after {
               left: 0;
               width: 100%;
               background: #2884e2;
            }
         }
      }
   }
}
.burger-btn {
   display: none;
   background: none;
   border: none;
   width: 26px;
   padding: 5px 3px;
   cursor: pointer;
   span {
      display: block;
      height: 2px;
      background: #fff;
      margin: 3px 0;
   }
}
.radio-content {
   flex: 1 1 auto;
   display: flex;
   h1 {
      margin: auto 0 auto 120px;
      font-size: 110px;
      letter-spacing: 8px;
      font-weight: 300;
   }
}

.radio-footer {
   flex: 0 0 auto;
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   opacity: 0;
}

.play-now {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
}
.track-info {
   width: 100%;
   max-width: 480px;
   margin-top: -15px;
}
.track-text {
   span {
      opacity: 0.5;
   }
}
.track-name {
   display: block;
   overflow: hidden;
   .track-name-inner {
      animation: 10s rollTrack infinite linear;
   }
}
.artist-image {
   width: 130px;
   height: 105px;
   overflow: hidden;
   border-radius: 5px;
   position: relative;
   margin-right: 30px;
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.play-pause {
   position: absolute;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 100%;
   display: flex;
   cursor: pointer;
}
.volume-range-wrap {
   margin-top: 8px;
   display: flex;
   align-items: center;
   img {
      opacity: 0.5;
   }
}
.rangeslider {
   margin: 0 10px;
   width: 100%;
   height: 20px;
   position: relative;
   border-radius: 2px;
   cursor: pointer;
}
.rangeslider:before {
   content: "";
   display: block;
   position: absolute;
   height: 2px;
   width: 100%;
   background: #fff;
   top: 9px;
}
.rangeslider__fill {
   background: #2884e2;
   position: absolute;
   left: 0px;
   top: 7px;
   height: 6px;
   border-radius: 6px;
}
.rangeslider__handle {
   cursor: pointer;
   position: absolute;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   background: #fff;
   touch-action: pan-x;
}

.play-btn {
   margin: auto;
   outline: 0;
   position: relative;
   width: 2rem;
   height: 2rem;
}

.play-btn:before,
.play-btn:after {
   content: '';
   background: #fff;
   position: absolute;
   top: 0;
   width: 50%;
   height: 100%;
   transition: 0.2s ease-out;
}

.play-btn:before {
   clip-path: polygon(0% 0%, 100% 25%, 100% 75%, 0% 100%);
   left: 0;
}

.play-btn:after {
   clip-path: polygon(0% 25%, 100% 50%, 100% 50%, 0 75%);
   right: 0;
}

.play-btn.play--playing:before {
   clip-path: polygon(0% 0%, 75% 0%, 75% 100%, 0% 100%);
}

.play-btn.play--playing:after {
   clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%);
}

.apps {
   display: flex;
   a {
      display: block;
      margin-left: 30px;
      opacity: 1;
      transition: all 0.3s;
      &:hover {
         opacity: 0.5;
      }
   }
   img {
      width: 200px;
   }
}

.slider-back {
   overflow: hidden !important;
   position: absolute !important;
   left: 0px;
   top: 0px;
   height: 100vh !important;
   width: 100vw;
}

/*************page-footer*************/
.page-footer {
   background: #4c4c4c;
   padding: 50px 70px;
   hr {
      margin: 60px 0;
      height: 1px;
      background: #666666;
      border: none;
   }
}
.footer-top-line {
   display: flex;
   .company-adress {
      flex: 0 0 auto;
      width: 100%;
      max-width: 400px;
   }
   .feedback-form {
      flex: 0 0 auto;
   }
   .feedback-block {
      min-height: 310px;
      width: 100%;
      max-width: 400px;
      padding-left: 70px;
   }
   .legal-links {
      align-self: flex-end;
      flex: 1 1 auto;
   }
   .succes {
      text-align: center;
   }
}
.legal-links {
   ul {
      list-style: none;
      padding: 0px;
      text-align: center;
      li {
         margin: 10px 0 0
      }
   }
}
.feedback-form {
   span {
      display: block;
      text-align: right;
      margin-bottom: 20px;
   }
   .field {
      margin-bottom: 12px;
   }
   input,
   textarea {
      font-size: 25px;
      padding: 0 20px;
      border: none;
      width: 100%;
      background: #9dafba;
      color: #fff;
      border-radius: 7px;
      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #FFF;
        opacity: 1; /* Firefox */
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #FFF;
      }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #FFF;
      }
   }
   input {
      padding-top: 4px;
      padding-bottom: 10px;
   }
   textarea {
      min-height: 100px;
      resize: vertical;
      padding-top: 6px;
      padding-bottom: 6px;
   }
   button {
      cursor: pointer;
      border-radius: 7px;
      color: #fff;
      font-size: 25px;
      width: 100%;
      background: #2366af;
      text-align: center;
      border: none;
      padding-top: 4px;
      padding-bottom: 10px;
   }
}
.partners-list {
   ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      list-style: none;
      padding: none;
      text-align: center;
   }
   img {
      vertical-align: middle;
   }
   li:first-child {
      flex: 0 0 100%;
      margin-bottom: 50px;
   }
   li:nth-child(4) {
      flex: 0 0 12%;
   }
   li {
      display: flex;
      flex: 0 0 22%;
   }
   a {
      opacity: 0.4;
      margin: auto;
      transform: scale(0.9);
      transition: all 0.7s;
      &:hover {
         transform: scale(1);
         opacity: 1;
      }
   }
}

/****************stations-list***********/
.cities-radio {
   .title-list {
      margin: 30px 0 5px;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
   }
}
.stations-list {
   min-width: 290px;
   padding: 0px;
   list-style: none;
   border-spacing: 0px 5px;
   border-collapse: separate;
   td {
      padding: 0px;
   }
   td:nth-child(1) {
      text-align: left;

   }
   td:nth-child(2) {
      width: 50px;
   }
   td:nth-child(3) {
      width: 50px;
      vertical-align: middle;
   }
   img {
      height: 20px;
      margin: auto;
   }
   .name {
      font-size: 20px;
      text-align: left;
   }
   .www,
   .frequency {
      display: block;
      width: 50px;
      height: 22px;
      background: #fff;
      color: #335b93;
      margin-left: 15px;
      text-align: center;
   }
   .www {
      display: flex;
   }
   .frequency {
      font-size: 16px;
   }
}
.contacts-radio {
   a {
      text-decoration: underline;
   }
}
/****************tooltips****************/
.my-tooltips {
   display: none;
}
.protip-skin-default--scheme-pro.protip-container {
   font-family: 'Averta';
   padding: 20px 20px;
   line-height: 1.2;
   color: #fff;
   font-size: 25px;
   text-align: right;
   background: #2c5fa0;
   border-radius: 0px;
}
.protip-skin-default--scheme-pro[data-pt-position="bottom-right"] .protip-arrow {
   top: auto;
   bottom: 100%;
   right: 0px;
   margin: 0px;
   border-style: solid;
   border-width: 0 0 18px 26px;
   border-color: transparent transparent #2c5fa0 transparent;
}
.protip-skin-default--scheme-pro[data-pt-position="bottom-left"] .protip-arrow {
   top: auto;
   bottom: 100%;
   right: auto;
   left: 0px;
   margin: 0px;
   border-style: solid;
   border-width: 18px 0 0 26px;
   border-color: transparent transparent transparent #2c5fa0;
}
.protip-skin-default--scheme-pro[data-pt-position="bottom"] .protip-arrow {
   left: 50%;
   bottom: 100%;
   top: auto;
   right: auto;
   margin-left: -9px;
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 15px 18px 15px;
   border-color: transparent transparent #2c5fa0 transparent;
}
/*****************mobile-modal***********/
.mobile-modal {
   position: fixed;
   height: 100%;
   width: 100%;
   left: 0px;
   top: 0px;
   background: #2366af;
   padding: 65px 35px 35px 35px;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
}
.remodal-is-opening {
   animation: 0.5s ModalOpen both ease-in;
}
.remodal-is-closing {
   animation: 0.2s ModalClose both ease-in;
}
.close-modal-btn {
   background: none;
   border: none;
   right: 15px;
   top: 15px;
   position: fixed;
}
/******************mobile-menue***********/
.mobile-menu {
   min-height: 100%;
   text-align: right;
   display: flex;
   flex-direction: column;
   > ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0 auto 0;
      list-style: none;
      padding: 0px;
      font-size: 20px;
      a {
         line-height: 30px;
      }
   }
   .contacts {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px #fff solid;
   }
   .legal-links {
      margin-top: 20px;
      ul {
         text-align: right;
      }
      li {
         font-size: 10px;
         margin-top: 0px;
      }
   }
}
/******************mobile-about***********/
.mobile-about {
   a {
      text-decoration: underline;
   }
   p {
      font-size: 17px;
   }
   p + p {
      margin-top: 40px;
   }
   .partners-list {
      margin-top: 60px;
      ul {
         display: block;
         li {
            margin-bottom: 30px;
         }
         li:first-child {
            margin-bottom: 30px;
         }
         a {
            opacity: 1;
            transform: none;
            img {
               max-width: 70%;
            }
         }
      }
   }
}
/******************mobile-cities**********/
.mobile-cities {
   .stations-list {
      margin: auto;
      max-width: 300px;
      width: 100%;
      min-width: 0px;
      border-spacing: 0 12px;
      .name {
         font-size: 16px;
      }
      .www,
      .frequency {
         margin-left: 12px;
         font-size: 14px;
         line-height: 22px;
      }
   }
}
/******************mobile-apps**********/
.mobile-apps {
   min-height: 100%;
   display: flex;
   .apps {
      margin: auto;
      img {
         width: 195px;
      }
   }
}
/******************mobile-contacts**********/
.mobile-contacts {
   display: flex;
   min-height: 100%;
   .contacts-radio {
      font-size: 18px;
      margin: auto;
   }
}
/******************mobile-contacts**********/
.mobile-feedback {
   margin: auto;
   max-width: 300px;
   font-size: 19px;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   .feedback-form {
      padding: 0px;
      input, textarea {
         font-size: 18px;
      }
      button {
         color: #2366af;
         background: #fff;
         font-size: 18px;
      }
      span {
         text-align: center;
      }
   }
   .succes {
      margin-top: 40px;
   }
}
/*****************media******************/
@media screen and (max-width: 1024px) {
   html {
      overflow: hidden;
   }
   body {
      overflow: hidden;
   }
   .page-footer {
      display: none;
   }
   .radio-app {
      padding: 30px;
   }
   .apps {
      margin-bottom: 40px;
   }
   .logo {
      img {
         width: 150px;
      }
   }
   .main-nav {
      ul {
         display: none;
      }
      .burger-btn {
         display: inline-block;
      }
   }
   .radio-content {
      display: none;
   }
   .radio-footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1 auto;
   }
   .play-now {
      background: rgba(#000,0.5);
      flex: 0 0 auto;
      margin: auto;
      padding: 30px 20px;
      border-radius: 10px;

   }
}
@media screen and (max-width: 767px) {
   body {
      font-size: 14px;
   }
   .radio-app {
      padding: 30px 15px;
   }
   .radio-header {
      padding: 0 15px;
   }
   .logo {
      img {
         width: 100px;
      }
   }
   .apps {
      margin-top: -20vh;
      margin-bottom: 15vh;
      display: flex;
      flex-direction: column;
      a {
         opacity: 1;
         margin: 0px;
         &:last-child {
            margin-top: 22px;
         }
      }
      img {
         width: 110px;
      }
   }
   .play-now {
      width: 100%;
      padding: 30px 15px;
   }
   .artist-image {
      flex: 0 0 auto;
      width: 70px;
      height: 60px;
      margin-right: 15px;
   }
   .track-info {
      margin-top: -3px;
   }

   .rangeslider {
      margin: 0 10px;
      height: 10px;
   }
   .rangeslider:before {
      content: "";
      height: 1px;
      top: 4px;
   }
   .rangeslider__fill {
      top: 3px;
      height: 3px;
      border-radius: 2px;
   }
   .rangeslider__handle {
      height: 10px;
      width: 10px;
      border-radius: 50%;
   }
   .volume-range-wrap img {
      height: 10px;
   }
   .play-btn {
      width: 1.4rem;
      height: 1.4rem;
   }

   .play-btn:before,
   .play-btn:after {
      content: '';
      background: #fff;
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      transition: 0.2s ease-out;
   }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
   .vegas-slide,
   .vegas-slide-inner {
      background-position: right -180px center !important;
   }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
   .apps {
      display: none;
   }
   .play-now {
      max-width: 350px;
   }
}
@media screen and (max-width: 813px) and (max-height: 400px) and (orientation: landscape) {
   body {
      font-size: 14px;
   }
   .radio-app {
      padding: 30px 15px;
   }
   .radio-header {
      padding: 0 15px;
   }
   .logo {
      img {
         width: 120px;
      }
   }
   .apps {
      display: none;
   }
   .play-now {
      max-width: 350px;
   }
   .play-now {
      width: 100%;
      padding: 30px 15px;
   }
   .artist-image {
      flex: 0 0 auto;
      width: 70px;
      height: 60px;
      margin-right: 15px;
   }
   .track-info {
      margin-top: -3px;
   }

   .rangeslider {
      margin: 0 10px;
      height: 10px;
   }
   .rangeslider:before {
      content: "";
      height: 1px;
      top: 4px;
   }
   .rangeslider__fill {
      top: 3px;
      height: 3px;
      border-radius: 2px;
   }
   .rangeslider__handle {
      height: 10px;
      width: 10px;
      border-radius: 50%;
   }
   .volume-range-wrap img {
      height: 10px;
   }
   .play-btn {
      width: 1.4rem;
      height: 1.4rem;
   }

   .play-btn:before,
   .play-btn:after {
      content: '';
      background: #fff;
      position: absolute;
      top: 0;
      width: 50%;
      height: 100%;
      transition: 0.2s ease-out;
   }
}

/**************animation***********/
@keyframes ModalOpen {
   from {
      opacity: 0;
      transform: scale(0.9) translateY(5%);
   }
   to {
      opacity: 1;
      transform: scale(1) translateY(0);
   }
}
@keyframes ModalClose {
   from {
      opacity: 1;
      transform: scale(1) translateY(0);
   }
   to {
      opacity: 0;
      transform: scale(0.9) translateY(5%);
   }
}
@keyframes rollTrack {
   from {
      transform: translateX(100%);
   }
   to {
      transform: translateX(-100%);
   }
}
