@media screen and (max-width: 768px) {

    .header {
        &__logo {
            img {
                height: 40px;
            }
        }
        &__middle-line {
            padding: 15px 0;
        }
        &__account {
            img {
                display: none;
            }
        }
        &__account-link {
            font-size: 14px;
        }
        &__cart {
            position: relative
        }
        &__cart-count {
            position: absolute;
            right: -5px;
            top: -5px;
            font-size: 10px;
            font-weight: 600;
            min-width: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 0px;
            line-height: 20px;
            background: $brown;
            color: #fff;
        }
    }

    .main-nav {
        &__list {
            display: none;
        }
        &__burger {
            display: block;
            background: $brown;
            color: #fff;
            padding: 10px 15px;
        }
        &__link {
            font-size: 14px;
            line-height: normal;
            padding: 10px 0px;
        }
    }

    .about-house-grid {
        &__row {
            display: block;
        }
    }

    .book-carusel {
        padding: 0 30px;
        .slick-next {
            right: -10px;
        }
        .slick-prev {
            left: -10px;
        }
    }

    .about-house-grid {
        &__text {
            padding: 30px;
        }
    }
    
    .about-house-grid {
        &__contact {
            padding: 30px;
        }
        &__map {
            height: 60vw;
        }
    }
    
    .make-request {
        padding: 30px 0;
    }

    .footer {
        font-size: 14px;
        &__logo {
            display: none;
        }
        &__blocks {
            flex-wrap: wrap;
        }
        &__contacts {
            display: none;
        }
    }
}

@media screen and (max-width: 520px) {

    .header {
        &__tel {
            font-size: 16px;
        }
        &__logo {
            img {
                height: 30px;
                 vertical-align: middle;
            }
        }
        &__cart {
            margin-left: 5px;
        }
        &__socials-item {
            width: 36px;
            font-size: 16px;        
        }
        &__search-button {
            font-size: 16px;
        }
        &__search {
            position: static;
        }
        &__socials {
            margin-left: 0;
        }
        &__search-input {
            width: 100%;
            right: 0px;
            padding: 0 15px;
        }
    }

    .main-banner {
        .slick-dots {
            bottom: -25px;
        }
    }

    .make-request {
        &__row {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 20px 0;
        } 
    }

    .footer {
        &__blocks {
            display: block;
        }
        &__nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        &__nav-col {
            text-align: center;
            width: 100% !important;
            & + & {
                margin-left: auto;
            }
        }
        &__nav-col:last-child {
            grid-column: 1 / 2 span;
        }
    }

    .goTop {
        right: 15px;
        bottom: 15px;
        background: $brown;
    }
}