@media screen and (max-width: 900px) {

    .header {
        &__logo {
            img {
                height: 40px;
            }
        }
        &__middle-line {
            padding: 15px 0;
        }
        &__account {
            img {
                display: none;
            }
        }
        &__account-link {
            font-size: 14px;
        }
        &__cart {
            position: relative
        }
        &__cart-count {
            position: absolute;
            right: -5px;
            top: -5px;
            font-size: 10px;
            font-weight: 600;
            min-width: 0;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 0px;
            line-height: 20px;
            background: $brown;
            color: #fff;
        }
    }

    .main-nav {
        &__list {
            display: none;
        }
        &__burger {
            display: block;
            background: $brown;
            color: #fff;
            padding: 10px 15px;
        }
        &__link {
            font-size: 14px;
            line-height: normal;
            padding: 10px 15px;
            text-align: left;
        }
    }

    .about-house-grid {
        &__row {
            display: block;
        }
    }

    .book-carusel {
        padding: 0 30px;
        .slick-next {
            right: -10px;
        }
        .slick-prev {
            left: -10px;
        }
    }

    .about-house-grid {
        &__text {
            padding: 30px;
        }
    }
    
    .about-house-grid {
        &__contact {
            padding: 30px;
        }
        &__map {
            height: 60vw;
        }
    }
    
    .make-request {
        padding: 30px 0;
    }
    .breadcrumbs {
        margin-bottom: 15px;
    }
    .inner-wrap {
        display: block;
        &__left {
            padding: 0px;
        }
    }
    .page-title {
        margin-bottom: 15PX;
    }
    .left-nav {
        margin: 0;
        margin-bottom: 15px;
        display: flex;
    }
    .footer {
        font-size: 14px;
        &__logo {
            display: none;
        }
        &__blocks {
            flex-wrap: wrap;
        }
        &__contacts {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 520px) {
    
    .page-title {
        &_with-filter {
            display: block;
        }
        .select2 {
            width: 100%;
            margin-top: 10px;
        }
    }

    .header {
        &__tel {
            font-size: 16px;
        }
        &__logo {
            img {
                height: 30px;
                 vertical-align: middle;
            }
        }
        &__cart {
            margin-left: 5px;
        }
        &__socials-item {
            width: 36px;
            font-size: 16px;        
        }
        &__search-button {
            font-size: 16px;
        }
        &__search {
            position: static;
            margin-left: 0;
            margin-right: -15px;
            order: 3;
        }
        &__socials {
            margin-left: auto;
        }
        &__account {
            flex-direction: column;
            align-items: flex-end;
            span {
                text-indent: -9999px;
                display: block;
                height: 1px;
                background: $brown;
                width: 100%;
                opacity: 0.1;
                margin: 3px 0;
            }
        }
        &__search-input {
            width: auto;
            right: 30px;
            left: 0;
            padding: 0 15px;
        }
    }
    
    .left-nav {
        display: block;
        &__link {
            white-space: nowrap;
            line-height: normal;
            font-size: 12px;
            padding: 5px 10px;
        }
    }

    .main-banner {
        margin: 0 -15px;
        // .slick-dots {
        //     bottom: -25px;
        // }
    }
    .main-nav {
        .container {
            padding: 0px;
        }
    }
    .subscribe__socials {
        width: 100%;
        .social-links__item {
            width: 100%;
            i.fa {
                margin: 0px;
            }
            span {
                display: none;
            }
        }
    }

    .make-request {
        &__row {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 20px 0;
        } 
    }

    .about-work {
        display: block;
        &__image {
            width: 100%;
        }
        &__caption {
            margin: 35px 0 0 0;
            text-align: left;
            font-size: 18px;
            br {
                display: none;
            }
        }
    }

    .account-address {
        &__name {
            font-size: 18px;
        }
        &__action {
            position: static;
            margin-top: 15px;
        }
    }
    .address-data {
        li {
            flex-direction: column;
        }
    }

    .orders {
        &__title {
            grid-template-columns: 1fr 1fr auto;
            font-size: 13px;
        }
        &__item-head {
            grid-template-columns: 1fr 1fr auto;
            font-size: 13px;
            .fa {
                display: none;
            }
        }
        &__address {
            margin-left: auto;
        }
    }
    .coupon {
        display: flex;
        flex-direction: column;
        &__remove-all {
            align-self: flex-end;
            order: -1;
            position: static;
            margin-bottom: 10px;
        }
    }

    .basket-nav {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        &__link {
            margin-left: 0;
            font-size: 14px;
        }
    }

    .order-table {
        tr:first-child {
            display: none;
        }
        tr {
            display: grid;
            grid-template-columns: auto 1fr;
            border-bottom: 1px $grey-light solid;
            padding: 15px 0;
            &:last-child {
                border: none;
            }
        }
        td {
            font-size: 14px;
            border: none;
            grid-column: 2;
            width: auto;
            padding: 0px;
            &:first-child {
                grid-column: 1 / 1;
                grid-row: 1 / 10;
                padding-right: 15px;
            }
        }
        &__mobile-title {
            display: block;
        }
        &__quantity {
            line-height: 25px;
        }
        &__author {
            margin: 0;
        }
    }

    .product {
        &__cols {
            display: block;
        }
        &__image {
            margin-bottom: 30px;
            img {
                width: 100%;
            }
        }
    }

    .journal-item {
        display: block;
        &__image {
            margin: 0 0 15px 0;
            max-width: 100%;
            text-align: center;
            img {
                max-width: 100%;
            }
        }
    }

    .catalog {
        grid-template-columns: 1fr 1fr;
    }
    

    .sign {
        display: flex;
        flex-direction: column-reverse;
        &__asks {
            padding: 0px;
            margin-bottom: 30px;
        }
        &__ask-card_form {
            padding: 15px;
        }
    }

    .shipping-address {
        margin: 0 0 30px;
    }

    .discont-grid {
        grid-template-columns: 1fr;
        gap: 30px 0;
    }
    .years-list {
        margin: 10px 0;
        &__item {
            font-size: 14px;
            margin-right: 10px;
        }
    }
    .make-request_bordered {
        padding: 30px 15px;
    }
    .footer {
        &__blocks {
            display: block;
        }
        &__nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        &__nav-col {
            width: 100% !important;
            & + & {
                margin-left: auto;
            }
        }
        &__nav-col:last-child {
            grid-column: 1 / 2 span;
        }
        &__contacts {
            margin: 0;
            border: none;
            padding: 0;
        }
    }

    .goTop {
        right: 15px;
        bottom: 15px;
        background: $brown;
    }

    .lightbox {
        .lb-container {
            padding: 30px 20px;
        }
    }
    .lb-nav {
        a.lb-prev {
            width: 40px;
        }
        a.lb-next {
            width: 40px;
        }
    }

    .blocker {
        padding: 0px;
    }
    .r-modal {
        vertical-align: top;
        min-height: 100%;
        width: 100%;
        max-width: auto;
        &__body {
            padding: 15px;
        }
        &__header {
            position: sticky;
            top: 0px;
        }
        a.close-modal {
            position: fixed;
        }
    }
}