* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*************colors*********/
$brown: #6B2F33;
$brown-hover-color: #E7C5C7;
$brown-active-color: #5E292C;
$grey: #9B9B9B;
$grey-light: #DADADA;
$red: #B0000C;
$orange: #F16D00;

body {
    font-family: 'PF Regal Text Pro';
    font-size: 16px;
    font-weight: 400;
}
h1,h2,h3,h3,h4,h5 {
    margin: 30px 0 10px;
    font-weight: 500;
}
h2 {
    font-size: 22px;
    font-weight: 500;
}
p {
    margin-bottom: 10px;
}
b {
    font-weight: 500;
}
a {
    color: $brown;
    text-decoration: none;
}
small {
    color: $brown;
    font-size: 16px;
}
img {
    vertical-align: middle;
}
button {
    font-family: 'PF Regal Text Pro';
    background: none;
    border: none;
    cursor: pointer;
}
input {
    outline: none;
    font-family: 'PF Regal Text Pro';
}
textarea {
    vertical-align: middle;
    outline: none;
    font-family: 'PF Regal Text Pro';
}
.text-center {
    text-align: center;
}
.section-title {
    margin: 30px 0;
    color: $brown;
}
.container {
    width: 1022px;
    margin: 0 auto;
    padding: 0 15px;
    &_flex {
        display: flex;
    }
    &_align_center {
        align-items: center;
    }
}
/* -------------------------------------------------------------------------- */
/*                                     ui                                     */
/* -------------------------------------------------------------------------- */
.r-button {
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    font-weight: 500;
    line-height: 12px;
    padding: 5px 15px 7px;
    border: 1px $brown solid;
    background: none;
    text-decoration: none;
    background: $brown;
    color: #fff;
    &:hover {
        color: $brown-hover-color;
    }
    &:active {
        background: #fff;
        color: $brown;
    }
    &_circle {
        display: inline-flex;
        font-size: 24px;
        padding: 0px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px $brown solid;
        align-items: center;
        justify-content: center;
    }
    &_icon_left {
        padding-left: 10px;
        .fa {
            margin-right: 5px;
        }
    }
    &_light {
        background: #F4ECEC;
        border-color: #F4ECEC;
        color: $brown;
        &:hover {
            background: $brown-hover-color;
            color: $brown;
        }
    }
    &_clear {
        border-color: transparent;
        color: $grey;
        background: none;
        padding: 0px;
        &:hover {
            color: $brown;
        }
    }
    &_disabled {
        pointer-events: none;
        background: none;
        border-color: $grey;
        color: $grey;
    }
}

.r-input {
    margin-bottom: 17px;
    position: relative;
    &:last-child {
        margin-bottom: 0;
    }
    &__dropdown {
        width: 100%;
    }
    &__field {
        font-size: 12px;
        height: 26px;
        width: 100%;
        border-radius: 2px;
        border: 1px #DADADA solid;
        padding: 0 10px;
        &:focus {
            border-color: $brown;
        }
    }
    &__field_brown {
        border-color: $brown;
        background: #fff;
    }
    &__field_error {
        border-color: $red;
    }
    &__field-error-text {
        bottom: -15px;
        color: $red;
        line-height: 12px;
        font-size: 10px;
        position: absolute;
        left: 0px;
    }
    &__field_textarea {
        height: auto;
        resize: vertical;
        min-height: 110px;
        padding: 10px 10px;
    }
    &__label {
        display: block;
        margin-bottom: 2px;
    }
    &__label_required:after {
        content: "*";
        font-weight: 500;
        color: $red;
        margin-left: 3px;
    } 
    .select2 {
        width: 100%;
    }
}

.r-checkbox {
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 17px;
    input {
        display: none;
    }
    input:checked + &__lbl {
        color: $brown;
        &:before {
            border-color: $brown;
        }
        &:after {
            opacity: 1;
        }
    }
    &__lbl {
        position: relative;
        display: flex;
        padding-left: 20px;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            left: 0px;
            width: 12px;
            height: 12px;
            border: 1px $grey solid;
            border-radius: 2px;
            cursor: pointer;
        }
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 3px;
            height: 7px;
            border-right: 1px $brown solid;
            border-bottom: 1px $brown solid;
            position: absolute;
            transform: rotate(30deg);
            left: 5px;
            top: 2px;
            opacity: 0;
        }
        &_bolder {
            font-size: 16px;
            font-weight: 500;
            color: #000;
        }
    }  
}

.r-radio {
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 17px;
    input {
        display: none;
    }
    input:checked + &__lbl {
        color: $brown;
        &:before {
            border-color: $brown;
        }
        &:after {
            opacity: 1;
        }
    }
    &__lbl {
        position: relative;
        display: flex;
        padding-left: 20px;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
        &:before {
            content: "";
            position: absolute;
            display: inline-block;
            left: 0px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            border: 1px $grey solid;
            cursor: pointer;
        }
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
            width: 6px;
            height: 6px;
            background: $brown;
            position: absolute;
            border-radius: 50%;
            left: 4px;
            top: 4px;
            opacity: 0;
        }
        &_bolder {
            font-size: 16px;
            font-weight: 500;
            color: #000;
        }
    }  
}

.r-download {
    text-decoration: none;
    color: $grey;
    font-size: 12px;
    &:hover {
        color: $brown;
    }
}

.r-modal {
    max-width: 550px;
    padding: 0px;
    box-shadow: none;
    border-radius: 0px;
    border: 1px #6B2F33 solid;
    border-top: none;
    box-shadow: 2px 2px 0px #6b2f33;
    &__header {
        background: $brown;
        color: $brown-hover-color;
        font-size: 20px;
        padding: 10px 25px;
    }
    &__body {
        padding: 25px;
    }
    a.close-modal {
        background: none;
        width: 44px;
        height: 44px;
        right: 0px;
        top: 0px;
        &:after,&:before {
            content: "";
            display: block;
            position: absolute;
            left: 13px;
            top: 20px;
            width: 18px;
            height: 1px;
            background: #fff;
        }
        &:before {
            transform: rotate(45deg)
        }
        &:after {
            transform: rotate(-45deg)
        }
        &:hover {
            &:after,&:before {
                background: darken($brown,10);
            }
        }
    }
}

.sticker {
    position: absolute;
    font-size: 14px;
    padding: 2px 0px 3px 10px; 
    color: #fff;
    letter-spacing: 1px;
    &_red {
        background: $red;
        &:after {
            content: "";
            position: absolute;
            right: -28px;
            top: 0px;
            height: 100%;
            width: 30px;
            display: block;
            background: $red;
            clip-path: polygon(60% 0%, 30% 50%, 60% 100%, 0% 100%, 0 46%, 0% 0%);
        }
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background: #000;
            filter: blur(1px);
            transform: rotate(130deg);
            right: -19px;
            top: 8px;
            opacity: 0.7;
        }
    }
    &_orange {
        background: $orange;
        &:after {
            content: "";
            position: absolute;
            right: -28px;
            top: 0px;
            height: 100%;
            width: 30px;
            display: block;
            background: $orange;
            clip-path: polygon(60% 0%, 30% 50%, 60% 100%, 0% 100%, 0 46%, 0% 0%);
        }
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 2px;
            background: #000;
            filter: blur(1px);
            transform: rotate(130deg);
            right: -19px;
            top: 8px;
            opacity: 0.7;
        }
    }
    &_bottom_left {
        left: 0px;
        bottom: 50px;
    }
    &_top_left {
        left: 0px;
        bottom: 80px;
    }
    &_top_right {
        right: 0px;
        top: 15px;
        padding: 5px 10px 4px 10px; 
        &:before,&:after {
            display: none;
        }
    }
}

.show-more-arrow {
    display: inline-block;
    margin: 30px 0 45px;
    font-weight: 500;
    font-size: 22px;
    color: $brown;
    padding: 5px 60px;
    border-bottom: 1px $brown solid;
    position: relative;
    text-decoration: none;
    transition: all 0.1s;
    &:after {
        position: absolute;
        left: 50%;
        bottom: -16px;
        margin-left: -12px;
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        border-top: 13px $brown solid;
        border-left: 12px transparent solid;
        border-right: 12px transparent solid;
        transition: all 0.1s;
    }
}

.divider {
    border: none;
    height: 2px;
    background: $brown;
    &_spaces {
        margin: 30px 0;
    }
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        margin: 0 5px;
    }
}

.breadcrumbs {
    margin: 10px 0 20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: $grey;
    &__item:after {
        content: "/";
        margin: 0 10px;
    }
    &__item:last-child:after {
        content: ""
    }
    &__item:last-child {
        pointer-events: none;
    }
    &__link {
        text-decoration: none;
        font-size: 14px;
        color: $grey;
        &:hover {
            color: $brown;
        }
    }
}

.quantity-toggle {
    height: 25px;
    display: flex;
    &__button {
        color: $brown;
        height: 25px;
        width: 25px;
        position: relative;
        &:after,&:before {
            content: "";
            display: block;
            position: absolute;
            width: 12px;
            height: 1px;
            left: 6px;
            top: 12px;
            background: $grey-light;
        }
        &:last-child:after {
            transform: rotate(90deg);
        }
        &:hover {
            &:after,&:before {
                background: $brown;
            }
        }
    }
    &__input {
        width: 35px;
        font-weight: 500;
        background: $grey-light;
        border: none;
        text-align: center;
    }
}

.goTop {
    position: fixed;
    width: 32px;
    height: 24px;
    background: rgba($grey-light, 0.3);
    right: 100px;
    bottom: 80px;
    z-index: 10;
    &:hover {
        background: rgba($brown-hover-color, 0.3);
        &:before {
            background: $brown-hover-color;
        }
        &:after {
            border-bottom: 8px $brown-hover-color solid;
        }
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 1px;
        background: $grey-light;
        top: 7px;
        left: 8px;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 8px;
        width: 0px;
        height: 0px;
        border-left: 8px transparent solid;
        border-right: 8px transparent solid;
        border-bottom: 8px $grey-light solid;

    }
}

.select2-container--default {
    font-size: 12px;
    .select2-results__option--highlighted.select2-results__option--selectable {
        background: none;
        color: $brown;
    }
    .select2-results__option--selected {
        background: #E7C5C7 !important;
        color: $brown !important;
    }
    .select2-selection--single {
        border: 1px #DADADA solid;
        border-radius: 2px;
        height: 26px;
        .select2-selection__arrow {
            height: 25px;
            b {
                width: auto;
                height: auto;
                border: none;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                margin: 0px;
                left: 2px;
                top: 6px;
                color: #DADADA;
                &:before {
                    content: "\f078";
                }
            }
        }
        .select2-selection__rendered {
            line-height: 24px;
            color: $grey;
        }
    }
    &.select2-container--open {
        .select2-selection--single {
            border-color: $brown;
            border-bottom-color: transparent;
            .select2-selection__arrow {
                b {
                    color: $brown;
                    transform: rotateX(180deg);
                }
            }
        }
        .select2-dropdown {
            border-color: $brown;
            transform: translateY(-1px);
        }
    }
    &:hover {
        .select2-selection--single {
            border: 1px $brown solid;
            .select2-selection__arrow {
                b {
                    color: $brown;
                }
            }
        }
    }
}

.select2-search--dropdown {
    padding-left: 8px;
    padding-right: 8px;
}

.select2-results__options {
    padding: 6px 8px;
    color: $grey;
}

.lightbox {
    display: flex;
    flex-direction: column-reverse;
    .lb-outerContainer {
        border-radius: 0px;
    }
    .lb-dataContainer {
        padding: 0px;
    }
    .lb-container {
        padding: 40px 60px;
    }
    .lb-image {
        border: none;
    }
}

.slick-next,
.slick-prev {
    background: none;
    width: 40px;
    height: 100%;
    z-index: 1;
}
.slick-prev {
    left: 0px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 140px;
        background: $grey;
        margin: -70px 0 0 0;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0px;
        margin: -13px 0 0 -16px;
        border-right: 13px $grey solid;
        border-top: 12px transparent solid;
        border-bottom: 12px transparent solid;
    }
    &:hover {
        &:before {
            background: $brown;
        }
        &:after {
            border-right-color: $brown
        }
    }
}
.slick-next {
    right: 0px;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1px;
        height: 140px;
        background: $grey;
        margin: -70px 0 0 0;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0px;
        margin: -13px 0 0 4px;
        border-left: 13px $grey solid;
        border-top: 12px transparent solid;
        border-bottom: 12px transparent solid;
    }
    &:hover {
        &:before {
            background: $brown;
        }
        &:after {
            border-left-color: $brown
        }
    }
}

.lb-nav {
    a.lb-prev {
        background: none;
        width: 60px;
        position: relative;
        opacity: 0.5;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 140px;
            background: $grey;
            margin: -70px 0 0 0;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0px;
            margin: -13px 0 0 -16px;
            border-right: 13px $grey solid;
            border-top: 12px transparent solid;
            border-bottom: 12px transparent solid;
        }
        &:hover {
            &:before {
                background: $brown;
            }
            &:after {
                border-right-color: $brown
            }
        }
    }
    a.lb-next {
        background: none;
        width: 60px;
        position: relative;
        opacity: 0.5;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            height: 140px;
            background: $grey;
            margin: -70px 0 0 0;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0px;
            margin: -13px 0 0 4px;
            border-left: 13px $grey solid;
            border-top: 12px transparent solid;
            border-bottom: 12px transparent solid;
        }
        &:hover {
            &:before {
                background: $brown;
            }
            &:after {
                border-left-color: $brown
            }
        }
    }
}
.lb-data {
    position: relative;
    .lb-details {
        display: none;
    }
    .lb-close {
        position: absolute;
        right: 0px;
        z-index: 11;
        background: none;
        opacity: 0.5;
        &:after,
        &:before {
            content: "";
            background: $brown;
            display: block;
            height: 2px;
            width: 20px;
            position: absolute;
            top: 14px;
            left: 5px;
        }
        &:after {
            transform: rotate(45deg);
        }
        &:before {
            transform: rotate(-45deg);
        }
    }
}
.lightboxOverlay {
    opacity: 0.4;
}
/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

.header {
    &__top-line {
        background: $brown;
        color: #fff;
    }
    &__tel {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        text-decoration: none;
    }
    &__socials {
        margin-left: 40px;
        display: flex;
        align-items: center;
    }
    &__socials-item {
        color: #fff;
        line-height: 48px;
        width: 48px;
        font-size: 20px;
        &:hover {
            color: $brown-hover-color;
        }
        &:active {
            color: $brown-active-color;
        }
    }
    &__search {
        margin-left: auto;
        position: relative;
    }
    &__search-button {
        line-height: 48px;
        width: 48px;
        font-size: 20px;
        border-left: 1px #5E292C solid;
        border-right: 1px #5E292C solid;
        color: #fff;
        &:hover {
            color: $brown-hover-color;
        }
        &:active {
            color: $brown-active-color;
        }
    }
    &__search-input {
        width: 260px;
        height: 24px;
        position: absolute;
        top: 12px;
        right: 63px;
        display: none;
        input {
            width: 100%;
            height: 100%;
            font-size: 12px;
            border: none;
            border-radius: 2px;
            background: #fff;
            color: #000;
            padding: 0 8px;
        }
    }
    &__middle-line {
        padding: 25px 0;
    }
    &__logo {
        margin-right: auto;
    }

    &__account {
        display: flex;
        align-items: center;
    }
    &__account-link {
        color: $brown;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-decoration-skip-ink: none;
        }
    }

    &__cart {
        margin-left: 25px;
    }
    &__cart-count {
        font-weight: 500;
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        background: #F4ECEC;
        color: $brown;
        font-size: 18px;
        line-height: 28px;
        min-width: 40px;
        padding: 0 8px;
        text-align: center;
        text-decoration: none;
    }
}

.main-nav {
    &__list {
        display: flex;
        list-style: none;
        background: $brown;
    }
    &__list-item {
        flex: 1 1 auto;
    }
    &__link {
        line-height: 48px;
        text-align: center;
        display: block;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        &:hover,
        &_active {
            color: $brown-hover-color;
            background: #773F43;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                 main banner                                */
/* -------------------------------------------------------------------------- */

.main-banner {
    border-bottom: 2px $brown solid;
    &.slick-dotted {
        margin-bottom: 0px;
    }
    .slick-dots {
        bottom: 8px;
        li {
            width: auto;
            height: auto;
            margin: 0 4px;
            padding: 4px;
            button {
                padding: 0px;
                height: 6px;
                width: 6px;
                border: 1px $brown solid;
                &:before {
                    display: none;
                }
            }
            &.slick-active {
                button {
                    background: $brown;
                }
            }
        }
    }
}

.book-carusel {
    .slick-prev,
    .slick-next {
        height: 250px;
        top: 0px;
        transform: none;
    }
    .slick-prev {
        left: -44px;
    }
    .slick-next {
        right: -44px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                product item                                */
/* -------------------------------------------------------------------------- */

.product-item {
    $root: &;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
        display: block;
        position: relative;
        overflow: hidden;
        img {
            max-width: 100%;
        }
        &:hover {
            img,
            .sticker {
                filter: blur(5px)
            }
            #{$root}__show-circle {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__name {
        margin: 10px 0 0 0;
        font-size: 15px;
        line-height: 18px;
        height: 36px;
        overflow: hidden;
        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: $brown;
            }
        }
    }
    &__author {
        margin: 10px 0 0 0;
        font-size: 11px;
        line-height: 13px;
        height: 26px;
        overflow: hidden;
        color: $grey;
    }
    &__show-circle {
        background: rgba(#fff,0.5);
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        span {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 120px;
            border: 1px $brown solid;
            border-radius: 50%;
            color: $brown;
        }
    }
    &__price {
        display: flex;
        align-items: center;
        color: $brown;
        font-size: 18px;
        margin-top: 10px;
    }
    &__price-new {
        color: $red;
    }
    &__price-old {
        margin-left: 8px;
        position: relative;
        font-size: 12px;
        color: $grey;
        &:after {
            content: "";
            position: absolute;
            top: 40%;
            left: 0px;
            width: 100%;
            height: 1px;
            background: $red;
            transform: rotate(-10deg)
        }
    }
    &__cart-btn {
        margin: 10px 0;
    }
    &__click-bay {
        font-size: 13px;
        color: $brown;
        text-decoration: underline;
        position: relative;
        &:hover {
            color: #e7c5c7;
        }
        .fa {
            font-size: 11px;
            position: absolute;
            left: -13px;
            top: 3px;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                product page                                */
/* -------------------------------------------------------------------------- */

.product {
    &__cols {
        display: grid;
        grid-template-columns: 280px auto;
        gap: 0 15px;
        margin-bottom: 30px;
    }
    &__image {
        position: relative;
        padding: 0 15px;
        img {
            max-width: 100%;
        }
    }
    &__name {
        font-size: 16px;
        margin: 0 0 10px 0;
    }
    &__params {
        color: $grey;
        margin-bottom: 30px;
        b {
            color: black;
            font-weight: 500;
        }
        &-item {
            margin: 3px 0;
        } 
    }
    &__price {
        display: flex;
        align-items: center;
        color: $brown;
        font-size: 18px;
       margin: 0 0 10px 0;
    }
    &__price-new {
        color: $red;
    }
    &__price-old {
        margin-left: 8px;
        position: relative;
        font-size: 12px;
        color: $grey;
        &:after {
            content: "";
            position: absolute;
            top: 40%;
            left: 0px;
            width: 100%;
            height: 1px;
            background: $red;
            transform: rotate(-10deg)
        }
    }
    &__cart-btn {
        padding-left: 25px;
        padding-right: 25px;
    }
    &__click-bay {
        margin: 10px 0 0 13px;
        display: inline-block;
        font-size: 13px;
        color: $brown;
        text-decoration: underline;
        position: relative;
        &:hover {
            color: #e7c5c7;
        }
        .fa {
            font-size: 11px;
            position: absolute;
            left: -13px;
            top: 3px;
        }
    }
    &__descr {
        margin-bottom: 30px;
    }
    &__gallery {

    }
}

/* -------------------------------------------------------------------------- */
/*                                journal-item                                */
/* -------------------------------------------------------------------------- */

.journal-item {
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px $grey-light solid;
    display: flex;
    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
    &__image {
        flex: 0 0 auto;
        margin-right: 15px;
    }
    &__info {
        flex: 1 1 auto;
        position: relative;
    }
    &__name {
        color: $brown;
        margin: 0 0 7px 0;
    }
    &__date {
        display: block;
        margin-bottom: 12px;
        color: $brown;
        font-size: 16px;
    }
    &__more {
        margin-top: 10px;
        text-align: right;
    }
    &__link {
        color: $brown;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    &__download {
        position: absolute;
        right: 0px;
        top: 35px;
    }
}


/* -------------------------------------------------------------------------- */
/*                              about house grid                            */
/* -------------------------------------------------------------------------- */

.about-house-grid {
    &__row {
        display: flex;
        &:nth-child(1) {
            border-top: 2px $brown solid;
            border-bottom: 2px $brown solid;
        }
        &:nth-child(4) {
            border-top: 2px $brown solid;
        }
    }
    &__row_reverse {
        flex-direction: row-reverse;
    }
    &__col {
        flex: 0 0 50%;
    }
    &__text {
        padding: 20px 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $brown;
        a {
            text-decoration: underline;
        }
        p {
            margin-bottom: 10px;
        }
    }
    &__title {
        font-weight: 500;
        margin: 0 0 15px 0;
        color: $brown;
        text-align: center;
    }
    &__image {
        height: 100%;
        a {
            display: block;
            height: 100%;    
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__map {
        height: 100%;
    }
    &__contact {
        padding: 20px 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.house-contacts {
    text-align: center;
    &__info {
        line-height: 1.6;
        a {
            color: $brown;
            text-decoration: none;
            font-weight: 500;
        }
    }
    &__socials {
        margin: 20px 0 10px;
    }
}

.subscribe {
    background: #F4ECEC;
    color: $brown;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    &__form {
        display: flex;
        width: 100%;
        border-bottom: 1px $brown solid;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    &__input {
        flex: 1 1 auto;
        margin: 0 15px 0 0;
    }
    &__note {
        margin-top: 20px;
        color: $grey;
        font-size: 12px;
    }
}

.make-request {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__captcha {
        margin-bottom: 40px;
    }
    &__row {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0 15px;
    }
    &__row_60_40 {
        margin-top: 17px;
        grid-template-columns: 3fr 2fr;
        align-items: end;
    }
    &_bordered {
        border: 1px $brown solid;
        box-shadow: 2px 2px 0px $brown;
        width: 500px;
        margin: 30px auto 0;
        padding: 20px 35px;
        h2 {
            text-align: center;
            color: $brown;
            margin: 0 0 20px;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                   catalog                                  */
/* -------------------------------------------------------------------------- */

.inner-wrap {
    display: flex;
    &__left {
        flex: 0 0 220px;
        padding-right: 30px;
    }
    &__right {
        flex: 1 1 auto;
    }
}

.left-nav {
    margin-top: 36px;
    &__link {
        display: block;
        font-size: 15px;
        line-height: 32px;
        padding: 0 8px;
        color: $brown;
        text-decoration: none;
        font-weight: 500;
        &:hover {
            background: $brown-hover-color;
        }
        &:active,
        &_active {
            background: $brown;
            color: #fff;
        }
        &_active:hover {
            background: $brown;
            color: #fff;
        }
    }
    &_account {
        margin-top: 0px;
    }
}

.page-title {
    border-bottom: 1px $brown solid;
    padding-bottom: 10px;
    margin-bottom: 30px;
    &__header {
        font-size: 22px;
        font-weight: 500;
        color: $brown;
        margin: 0;
    }
    &_with-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__release-date {
        margin-top: 5px;
        span {
            color: $brown;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .select2 {
        width: 160px;
    }
}
.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 15px;
    &_4-cols {
        grid-template-columns: repeat(4, 1fr);
    }
    &_journal {
        display: block;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

.footer {
    margin-top: 35px;
    font-size: 18px;
    &__blocks {
        border-top: 2px $brown solid;
        padding: 35px 0;
        display: flex;
        color: $brown;
    }
    &__logo {
        margin-right: 30px;
        flex: 0 0 auto;
    }
    &__col-title {
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
    }
    &__nav {
        display: flex;
    }
    &__contacts {
        flex: 0 0 230px;
        border-left: 1px $brown solid;
        padding-left: 30px;
        margin-left: 30px;
        font-size: 18px;
        a {
            font-weight: 500;
            font-style: italic;
        }
    }
    &__adress {
        display: block;
        margin: 5px 0;
    }
    &__nav-col {
        & + & {
            margin-left: 20px;
        }
        &:nth-child(1) {
            width: 220px;
        }
        &:nth-child(2) {
            width: 150px;
        }
    }
    &__nav-link {
        display: block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        & + & {
            margin-top: 11px;
        }
    }
    &__copyright {
        background: $brown;
        color: #fff;
        font-size: 14px;
        padding: 15px 0;
        text-align: center;
    }
}

.cookie-note {
    color: $brown;
    font-size: 14px;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: $brown-hover-color;
    font-weight: 500;
    &__agree {
        margin-left: 20px;
    }
}

/* -------------------------------------------------------------------------- */
/*                               article-content                              */
/* -------------------------------------------------------------------------- */

.article-content {
    p {
        margin-bottom: 10px;
    }
    strong {
        color: $brown;
    }
    h1,h2,h3,h4 {
        color: $brown;
    }
    ul {
        padding-left: 30px;
    }
    li {
        margin: 5px 0;
    }
    h3 {
        color: $brown;
        font-size: 18px;
        font-weight: 500;
        margin: 30px 0 10px;
        &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background: $brown;
            margin-right: 10px;
        }
    }
    h4 {
        font-size: 18px;
    }
    sup {
        color: $red;
    }
    a {
        font-weight: 500;
    }
    small {
        font-weight: 500;
    }
}

.about-work {
    margin: 20px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    &__image {
        width: 342px;
    }
    &__caption {
        color: $grey;
        font-size: 24px;
        font-style: italic;
        font-kerning: 500;
        text-align: right;
        margin-right: 25px;
        position: relative;
        
        &:before {
            content: "";
            width: 120px;
            height: 1px;
            background: $brown;
            position: absolute;
            right: 0px;
            top: -20px;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                   rewards                                  */
/* -------------------------------------------------------------------------- */

.rewards {
    &__item {
        border-bottom: 1px $grey-light solid;
        padding-bottom: 30px;
        margin-bottom: 30px;
        &:last-child {
            border: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                                photo-gallery                               */
/* -------------------------------------------------------------------------- */

.photo-gallery {
    max-width: 772px;
    &__link {
        display: flex;
    }
    &__main-product {
        padding: 0 40px;
    }
    &__image {
        border: 1px rgba($grey,0.5) solid;        
        margin: auto;
        max-width: 100%;
    }
    &__thumbs {
        max-width: 485px;
        margin: 30px auto 0;
    }
    &__thumbs-item {
        width: 97px;
        height: 60px;
        padding: 0 7px;
        cursor: pointer;
    }
    &__thumb-img {
        vertical-align: middle;
        border: 1px rgba($grey,0.5) solid;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .slick-current .photo-gallery__thumb-img {
        border: 1px $brown solid;
    }

    .t-prev,
    .t-next {
        color: $grey;
        position: absolute;
        font-size: 20px;
        top: 50%;
        margin: -12px 0 0 0;
        opacity: 0.5;
        &:hover {
            opacity: 1;
            color: $brown;
        }
    }
    .t-prev {
        left: -12px;
    }
    .t-next {
        right: -12px;
    }
}


/* -------------------------------------------------------------------------- */
/*                                     faq                                    */
/* -------------------------------------------------------------------------- */

.faq {
    &__item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px $grey-light solid;
        &:last-child {
            padding-bottom: 0px;
            margin-bottom: 0px;
            border: none;
        }
    }
    &__date {
        font-size: 14px;
        color: $grey;
        margin-bottom: 15px;
    }
    span {
        color: $grey;
        display: block;
        margin-bottom: 5px;
    }
    &__question {
        color: $brown;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 exhibitions                                */
/* -------------------------------------------------------------------------- */

.years-list {
    display: flex;
    margin: -15px 0 15px;
    &__item {
        text-decoration: none;
        color: $grey;
        margin-right: 15px;
        &:hover,
        &:active {
            color: $brown;
        }
    }

}
.exhibitions {
    &__title {
        position: relative;
        margin: 30px 0 30px;
        &:after {
            content: "";
            display: block;
            height: 10px;
            top: 8px;
            width: 100%;
            position: absolute;
            background: $brown;
            z-index: -1;
        }
        span {
            display: inline-block;
            margin: 0 0 0 10px;
            padding: 0 15px;
            font-size: 22px;
            font-weight: 500;
            background: #fff;
            color: $brown;
        }
        &:first-child {
            margin-top: 0px;
        }
    }
    &__banner {
        img {
            max-width: 100%;
        }
    }
    &__item {
        margin: 0 0 30px 0;
        padding: 0 0 30px 0;
        border-bottom: 1px solid $grey-light;
        &:last-child {
            margin: 0px;
            padding: 0px;
            border: none;
        }
    }
    &__social {
        display: flex;
        align-items: center;
    }
    &__social-links {
        margin: 0 0 0 10px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   discont                                  */
/* -------------------------------------------------------------------------- */

.discont-grid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0 35px;
    &__box {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 40px;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
        padding: 5px 0 15px 0;
        &-blue {
            background: #0052A2
        }
        &-pink {
            background: #7F2585
        }
        &-red {
            background: #E5023E
        }
        &-brown {
            background: #743235;
        }
        span {
            font-size: 14px;
            display: block;
            text-transform: uppercase;
            font-weight: 300;
        }
        b {
            font-size: 90px;
            font-weight: 300;
        }
    }
    &__range {
        font-size: 18px;
        font-weight: 500;
        color: $brown;
        text-align: center;
    }
}

/* -------------------------------------------------------------------------- */
/*                                  contacts                                  */
/* -------------------------------------------------------------------------- */

.contacts {
    &__map {
        height: 470px;
        margin: 0 0 30px 0;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    &__socials {
        margin: 20px 0 0 0;
    }
}

/* -------------------------------------------------------------------------- */
/*                                    sign                                    */
/* -------------------------------------------------------------------------- */

.sign {
    display: grid;
    grid-template-columns: 420px auto;
    &__ask-card {
        display: inline-block;
        border: 1px $brown solid;
        border-radius: 3px;
        box-shadow: 2px 2px 0px $brown;
        padding: 12px 16px;
        font-size: 16px;
        > span {
            color: $brown;
        }
        > strong {
            display: block;
            font-size: 18px;
            margin-bottom: 5px;
        }
        > a {
            font-size: 18px;
            text-decoration: underline;
        }
        &_form {
            padding: 30px;
            width: 100%;
            max-width: 486px;
        }
        &_order {
            padding: 24px;
        }
    }
    &__asks {
        padding-left: 30px;
    }
}

.sign-form-title {
    color: $brown;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    &_square {
        &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            background: #6B2F33;
            margin-right: 10px;
        }
    }
    &_black {
        color: black;
        a {
            color: $brown;
            text-decoration: none;
        }
        span {
            color: $brown;
        }
    }
}

.sign-form {
    &__captcha {
        margin-bottom: 20px;
    }
    &__note {
        margin-bottom: 20px;
        color: $grey;
        font-size: 12px;
        a {
            color: inherit;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a:not(.r-button) {
            text-decoration: underline;
        }
    }
    &__check {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        a {
            text-decoration: underline
        }
    }
    &__col-title {
        color: $brown;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
        &_square {
            &:before {
                content: "";
                display: inline-block;
                width: 10px;
                height: 10px;
                background: #6B2F33;
                margin-right: 10px;
            }
        }
    }
}

.ship-pay {
    &__item {
        position: relative;
        margin-bottom: 17px;
    }
    &__descr {
        font-size: 12px;
    }
    &__check {
        margin-bottom: 10px;
    }
    &__price {
        position: absolute;
        right: 0px;
        top: 0px;
        font-weight: 500;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   account                                  */
/* -------------------------------------------------------------------------- */

.account-title {
    margin: 0 0 25px 0;
    line-height: 32px;
    color: $brown;
    border-bottom: 1px $brown solid;
    font-size: 16px;
}

.account-data {
    dt {
        color: $brown;
        margin: 0 0 20px 0;
    }
}

.account-edit-form {
    max-width: 420px;
}

.account-address {
    &__item {
        position: relative;
        border-bottom: 1px $grey-light solid;
        padding-bottom: 30px;
        margin-bottom: 30px;
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
    }
    &__name {
        display: block;
        font-size: 22px;
        color: $brown;
        margin: 0 0 20px 0;
        padding: 0 220px 0 0 0;
    }
    &__action {
        position: absolute;
        right: 0px;
        top: 5px;
    }
    &__btn {
        text-decoration: none;
        color: $grey;
        margin: 0 0 0 10px;
        &:hover {
            color: $brown;
        }
    }
}

.address-data {
    li {
        display: flex;
        align-items: baseline;
        margin: 0 0 5px 0;
        &:last-child {
            margin: 0;
        }
    }
    b {
        margin-right: 10px;
        flex: 0 0 auto;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   orders/basket                                   */
/* -------------------------------------------------------------------------- */

.orders {
    &__title {
        display: grid;
        grid-template-columns: 150px 150px auto;
        gap: 0 10px;
        padding: 0px 10px 10px;;
    }
    &__body {
        display: none;
        padding: 10px 0 25px;
    }
    &__item-head {
        display: grid;
        grid-template-columns: 150px 150px auto;
        gap: 0 10px;
        background: #F4ECEC;
        color: $brown;
        padding: 10px;
        position: relative;
        margin-bottom: 10px;
        cursor: pointer;
        font-weight: 500;
        transition: all 0.2s;
        &_active {
            color: #fff;
            background: $brown;
            .fa {
                transform: rotateX(180deg);
            }
        }
        &:hover {
            color: #fff;
            background: $brown;
        }
        .fa {
            font-size: 24px;
            position: absolute;
            right: 15px;
            top: 7px;
            transition: all 0.2s;
        }
    }
    &__address {
        margin: 20px 0 0 130px;
        font-size: 13px;
        border: 1px $brown solid;
        padding: 8px 12px;
    }
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th {
        font-size: 12px;
        text-align: left;
        color: $brown;
        padding: 0px 20px 10px 0;
    }
    td {
        font-size: 18px;
        vertical-align: top;
        border-bottom: 1px $grey-light solid;
        padding: 20px 20px 20px 0;
    }
    tbody tr:first-child td {
        padding-top: 0;
    }
    tbody tr:last-child td {
        border: none;
    }
    &__image {
        width: 110px;
    }
    &__descr {
        width: 330px;
        &_basket {
            width: 340px;
        }
    }
    &__name {
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        color: black;
        &:hover {
            color: $brown;
        }
    }
    &__author {
        margin-top: 5px;
        display: block;
        font-size: 12px;
        color: $grey;
    }
    &__discount {
        font-weight: 500;
        width: 80px;
        line-height: 25px;
        &_basket {
            width: 70px;
        }
    }
    &__quantity {
        font-weight: 500;
        width: 80px;
        &_basket {
            width: 120px;
        }
    }
    &__price {
        font-weight: 500;
        white-space: nowrap;
        width: 80px;
        line-height: 25px;
        &_basket {
            width: 90px;
        }
    }
    &__summ {
        font-weight: 500;
        white-space: nowrap;
        line-height: 25px;
        &_basket {
            width: 100px;
        }
    }
    &__count {
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
    }
    &__multiplier {
        display: inline-block;
        line-height: 25px;
        color: $brown;
        i {
            font-style: normal;
            height: 25px;
            line-height: 25px;
            display: inline-block;
            width: 35px;
            font-weight: 500;
            background: rgba($grey,0.2);
            border: none;
            color: black;
            text-align: center;
            font-size: 14px;
            margin-right: 5px;
        }
    }
    &__action {
        width: 110px;
        text-align: right;
    }
    &__remove {
        color: $grey;
        text-decoration: none;
        &:hover {
            color: $brown;
        }
    }
}

.final-amounts {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    border-top: 1px $grey-light solid;
    font-size: 14px;
    td {
        font-size: 18px;
        padding: 5px 0 5px;
        vertical-align: baseline;
    }
    tr:first-child td {
      padding-top: 12px;  
    }
    tr:nth-last-child(2) td {
        padding-bottom: 12px;  
    }
    tr:last-child td {
        border-top: 1px $grey-light solid;
        font-size: 20px;
        color: $brown;
        font-weight: 600;
        padding-top: 15px;
    }
    td:first-child:not(&__change) {
        text-align: right;
    }
    td:last-child {
        font-weight: 600;
        width: 110px;
        white-space: nowrap;
        padding-left: 20px;
    }
    small {
        display: block;
        font-size: 14px;
    }
    &__change {
        text-align: left;
        + td {
            text-align: right;
        }
    }
    &__change-link {
        color: $grey;
        font-size: 14px;
        text-decoration: underline;
    }
}

.coupon {
    border-top: 1px $grey-light solid;
    padding: 15px 0;
    position: relative;
    &__remove-all {
        top: 15px;
        right: 0px;
        position: absolute;
        color: $grey;
        text-decoration: none;
        &:hover {
            color: $brown;
        }
    }
    &__note {
        color: $brown;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__form {
        display: flex;
        align-items: center;
    }
    &__input {
        margin: 0 10px 0 0;
        width: 140px;
    }
}

.basket-nav {
    margin-top: 30px;
    text-align: right;
    &__link {
        margin-left: 20px;
    }
}
.shipping-address {
    border: 1px $grey solid;
    border-radius: 3px;
    box-shadow: 2px 2px 0px $grey;
    padding: 15px;
    margin: 0 20px 30px;
    &__title {
        color: $brown;
        font-weight: 500;
    }
    &__descr {
        font-size: 12px;
    }
    &__check {
        margin-bottom: 10px;
    }
}


.order-info {
    padding: 25px;
    border: 1px $brown solid;
    box-shadow: 2px 2px 0px $brown;
    max-width: 400px;
    margin-bottom: 30px;
    &_modal {
        margin: 0px;
        border: none;
        box-shadow: none;
        padding: 0px 20px;
        max-width: 465px;
    }
    &__list {
        list-style: none;
    }
    &__item {
        font-size: 18px;
        display: flex;
        padding: 3px 0;
        &:first-child {
            border-bottom: 1px $grey-light solid;
            padding-bottom: 10px;
            margin-bottom: 10px;
            b {
                color: $red;
            }
        }
        b {
            margin-left: 10px;
        }
    }
    &__note {
        margin-top: 10px;
        padding-top: 12px;
        border-top: 1px $grey-light solid;
        color: $brown;
        font-size: 20px;
        &_modal {
            border: none;
            margin: 0px;
            padding: 0;
        }
    }
    &__payment {
        margin-top: 10px;
        span {
            display: block;
            margin-top: 14px;
            font-size: 14px;
            color: $grey;
        }
    }
}

.basket-empty {
    font-weight: 500;
    a {
        text-decoration: none;
    }
}

.pagination {
    border-top: 1px $grey-light solid;
    padding: 15px 0 0 0;
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        align-items: center;
    }
    &__link {
        display: inline-block;
        width: 25px;
        height: 25px;
        text-align: center;
        text-decoration: none;
        line-height: 25px;
        &_active {
            background: $brown;
            color: #fff;
        }
    }
    &__next {
        text-decoration: none;
        margin-left: 10px;
    }
    &__all {
        text-decoration: none;
        margin-left: auto;
    }
}


/* -------------------------------------------------------------------------- */
/*                                   modals                                   */
/* -------------------------------------------------------------------------- */

.modal-form {
    background: #F4ECEC;
    padding: 25px;
    margin-top: 30px;
}