* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    background-image: url(../img/bg-pattern.jpg);
    background-repeat: repeat;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
}
.wrap {
    position: absolute;
    height: 100%;
    min-height: 500px;
    width: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.head {
    padding-top: 60px;
    text-align: center;
    flex: 0 0 auto;
    .logo {
        display: block;
    }
    img {
        vertical-align: middle;
    }
    h1 {
        margin: 15px 0 6px;
        display: inline-block;
        color: #0078ff;
        font-size: 18px;
        font-family: 'Conv_Gotham-Bold';
    }
    .dot {
        vertical-align: middle;
        margin: 0 5px;
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #0078ff;
    }
    > span {
        letter-spacing: 2px;
        font-size: 12px;
        display: block;
        text-transform: uppercase;
        color: rgba(#000,.5);
    }
}
.container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.track-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.equalizer {
    font-size: 0px;
    overflow: hidden;
    flex: 0 0 auto;
    .bar {
        display: inline-block;
        height: 22px;
        width: 2px;
        margin: 0 1px;
        background-image:
            repeating-linear-gradient(0deg,
            rgba(#a2a3a3,1) 0px,
            rgba(#a2a3a3,1) 2px,
            transparent 2px,
            transparent 4px);
        transform: translateY(100%);
        animation: 0.8s BarMove linear infinite;
        &:nth-child(1) {
            animation-delay: 0.2s;
        }
        &:nth-child(2) {
            animation-delay: 0s;
        }
        &:nth-child(3) {
            animation-delay: 0.5s;
        }
        &:nth-child(4) {
            animation-delay: 0.4s;
        }
        &:nth-child(5) {
            animation-delay: 1s;
        }
        &:nth-child(6) {
            animation-delay: 0.6s;
        }
    }
}

.track-text {
    display: inline-flex;
    align-items: center;
    margin: 0 5px 0 10px;
    width: 330px;
    overflow: hidden;
    white-space: nowrap;
    .track-text-inner {
        display: flex;
        animation: 10s TextMove linear infinite;
    }
    .artist {
        flex: 0 0 auto;
        font-weight: 500;
        margin-right: 10px;
    }
    .name {
        flex: 1 1 auto;
        font-weight: 300;
    }
}

.pleer {
    margin: 35px 0 70px;
    text-align: center;
    .volume {
        display: inline-block;
        vertical-align: middle;
        margin-right: 90px;
        .button-name {
            left: -100px;
        }
    }
    .play-btn {
        display: inline-block;
        vertical-align: middle;
        .button-name {
            right: -80px;
        }
    }
}
.button-name {
    color: #0078ff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.play-btn {
    width: 104px;
    height: 104px;
    position: relative;
    cursor: pointer;
    .base {
        width: 100%;
        height: 100%;
        background-image: url(../img/play-btn.png);
    }
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-position: center;
        background-repeat: no-repeat;
        transition: 0.2s all;
    }
    &:before {
        background-image: url(../img/play-ico.png);
    }
    &:after {
        transform: scale(0);
        background-image: url(../img/pause-ico.png);
    }
    &.active {
        .base {
            transform: rotate(180deg);
        }
        &:after {
            transform: scale(1);
        }
        &:before {
            transform: scale(0);
        }
    }
}
.volume {
    width: 200px;
    height: 200px;
    position: relative;
    &.active {
        .light {
            opacity: 1;
        }
    }
    .knob {
        width: 200px;
        height: 200px;
        position: relative;
    }
    .base {
        width: 100%;
        height: 100%;
        background-image: url(../img/base.png);
    }
    .knob-rotate {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        .knob-inner {
            width: 100%;
            height: 100%;
            transform: rotate(-135deg);
        }
    }
    .ring {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../img/knob.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .light {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('../img/light.png');
        background-repeat: no-repeat;
        background-position: 50% 45px;
    }
    .scale {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transform: rotate(-136deg);
        .item {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        }
        .item.active:after {
            background: #0078ff;
            color: #0078ff !important;
        }
        .item:first-child:after {
            content: "0";
            color: #000;
            background: none;
            height: auto;
            width: auto;
            font-size: 14px;
            transform: translate(-50%, -50%) rotate(135deg);
        }
        .item:last-child:after {
            content: "100";
            color: #000;
            background: none;
            height: auto;
            width: auto;
            font-size: 14px;
            transform: translate(-50%, -50%) rotate(-135deg);
        }
        .item:after {
            content: "";
            display: block;
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #303030;
            top: -15px;
            left: 50%;
            font-size: 12px;
        }
    }
}
.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 395px;
    margin: 0 auto 60px;
    > * {
        color: #000;
        display: flex;
        align-items: center;
    }
    img {
        margin-right: 5px;
    }
    a {
        text-decoration: none;
        &:hover {
            color: #0078ff
        }
    }
}
$size: 20;
$elements: 21;
$fullAngle: 270;
$itemAngle: $fullAngle/$size;
@for $i from 0 to $elements {
    .scale .item:nth-child(#{$i + 1}) {
        transform: rotate($itemAngle * 1deg * $i);
    }
}


@keyframes TextMove {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes BarMove {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

@media screen and (max-width: 768px) and (min-height: 569px) and (orientation: portrait) {
    html {
        background: red;
    }
    .button-name {
        display: none;
    }
    .head {
        padding-top: 15px;
        padding-left: 10px;
        text-align: left;
        .logo {
            float: left;
            margin-right: 10px;
        }
        h1 {
            margin-top: 14px;
        }
        > span {
            letter-spacing: normal;
        }
    }
    .pleer {
        margin: 20px 0 40px;
        .volume {
            display: block;
            margin: 0px auto ;
        }
        .play-btn {
            display: block;
            margin: 15px auto;
        }
    }
    .track-info {
        padding: 0 20px;
    }
    .footer {
        padding: 0 20px;
        margin: 30px auto 20px;
    }
}
@media screen and (max-width: 768px) and (max-height: 568px) and (orientation: portrait) {
    html {
        background: green;
    }
    .pleer {
        .volume {
            display: none;
        }
    }
}
@media screen and (max-width: 768px) and (max-height: 650px) and (orientation: landscape){
    .wrap {
        min-height: 200px;
    }
    .head {
        padding-top: 20px;
    }
    .button-name {
        display: none;
    }
    .pleer {
        margin: 15px 0;
        .volume {
            display: none;
        }
    }
    .footer {
        display: none;
        margin: 30px auto;
    }
}



@media screen and (min-width: 600px) and (max-height: 600px) {
    .head {
        padding-top: 20px;
    }
    .button-name {
        display: none;
    }
    .pleer {
        margin: 15px 0;
    }
    .footer {
        margin: 30px auto;
    }
}
