@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 15px;
    }
    .content {
        .m-b {
            margin-bottom: 30px;
        }
    }
    .main-banner {
        .main-banner-text {
            width: 300px;
            font-size: 28px;
        }
        .slide-item {
            height: 400px;
        }
        .product-slide {
            overflow: hidden;
            .main-banner-text {
                width: 45%;
                right: 5%;
                top: 20px;
            }
            .image  {
                top: 50%;
                left: 5%;
                width: 30%;
            }
            .watch-brand-logo {
                padding-bottom: 10px;
                margin-bottom: 10px;
                img {
                    height: 40px;
                }
            }
            .lot-num {
                font-size: 15px;
                display: block;
                margin-bottom: 5px;
            }
            .lot-name {
                font-size: 16px;
                line-height: normal;
            }
            .lor-descr {
                font-size: 15px;
                color: #050606;
            }
            .lot-price {
                display: block;
                font-style: normal;
                font-size: 12px;
                color: #050606;
            }
            .btn {
                margin-top: 2em;
                font-style: normal;
            }
        }
    }
    .news-block-item {
        .news-date {
            font-size: 14px;
        }
        .title {
            font-size: 18px;
        }
    }
    .product-item {
        width: calc(25% - 7px);
        .product-name {
            font-size: 16px;
        }
        .price {
            font-size: 14px;
        }
    }
    .year-chrono {
        margin: 40px 0;
        padding: 0 40px;
        i.fa {
            height: 80px;
            line-height: 80px;
            font-size: 50px;
        }
        .swiper-slide:before{
            top: 40px;
        }
        .chrono-item {
            width: 80px;
            height: 80px;
            line-height: 80px;
            font-size: 24px;
        }
    }
    .chrono-date-text {
        strong {
            font-size: 16px;
        }
        ul {
            font-size: 14px;
            justify-content: flex-start;
            li + li {
                margin-left: 30px;
            }
        }
    }
    .footer-links {
        font-size: 16px;
    }
    .main-footer {
        .logo {
            img {
                height: auto;
            }
        }
    }
    .footer-social {
        .links {
            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                font-size: 20px;
            }
        }
        .contacts {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}
