@import "minion.scss";
@import "helvetica.scss";
@import "gotham.scss";

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

$blue: #1b2473;
$yellow: #bd9e5e;
$red: #d70606;
* {
    box-sizing: border-box;
    &:after, &:before {
        box-sizing: border-box;
    }
}
html {
    height: 100%;
}
body {
    font-family: 'Minion Pro';
    font-size: 17px;
    color: #2f2f2f;
    height: 100%;
    &.open-menue {
        overflow: hidden;
    }
}
input,
textarea {
    font-family: "Helvetica";
    &:focus {
        outline: none;
    }
}
hr {
    border: none;
    height: 1px;
    background: $yellow;
    margin: 30px 0;
}
h2 {
    margin: 0 0 20px 0;
    font-family: 'Gotham Pro';
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
    &.with-line {
        margin: 0 0 30px 0;
        position: relative;
        &:after, &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            height: 5px;
            width: 36px;
            background: $yellow;
        }
        &:after {
            bottom: -10px;
        }
        &:before {
            top: -10px;
        }
    }
}
h3 {
    margin: 0 0 17px 0;
    font-family: 'Gotham Pro';
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
}
blockquote {
    color: #1b2473;
    font-size: 30px;
    font-family: "Minion Pro";
    font-style: italic;
    border-left: 1px $yellow solid;
    margin-right: 0px;
    padding-left: 30px;
}
p {
    margin: 20px 0;
}
a {
    color: $blue;
}
.text-center {
    text-align: center;
}
.wrapper {
    min-width: 1240px;
    min-height: 100%;
}
.with-drop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
//nav bar
.nav-bar {
    left: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    background: $yellow;
    width: 50px;
    align-self: stretch;
    z-index: 100;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    li {
        position: relative;
        &:hover {
            .nav-bar-search {
                transform: translateX(0%);
            }
        }
    }
    a {
        text-decoration: none;
        position: relative;
        display: block;
        z-index: 2;
        &:hover, &.active {
            .fa {
                background: $blue;
                color: white;
            }
        }
        > .fa {
            color: #fff;
            background: $yellow;
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-bottom: 1px #ac8a43 solid;
        }
    }
}
.nav-bar-search {
    position: absolute;
    bottom: 0px;
    left: 100%;
    padding: 10px;
    background: #fff;
    height: 51px;
    width: 350px;
    border: 1px #ccc solid;
    border-left: none;
    display: flex;
    align-items: center;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.2s;
    .filed {
        flex: 1 1 auto;
        margin-right: 10px;
        input {
            padding: 0px;
            width: 100%;
            height: 29px;
            border: none;
            color: $blue;
            font-size: 14px;
            background: none;
        }
    }
}
//site Map
.site-map {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 50px;
    right: 0px;
    background: $yellow;
    padding: 15px 40px 40px;
    color: $blue;
    overflow: auto;
    border-left: 1px #ac8a43 solid;
    z-index: 100;
    .title {
        font-size: 20px;
        font-weight: 600;
        font-size: italic;
    }
    a {
        color: $blue
    }
    .site-map-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .block {
        margin-top: 50px;
        width: 25%;
        flex: 0 0 auto;
        font-family: "Helvetica";
    }
    b {
        font-family: "Gotham Pro";
        font-size: 30px;
    }
    .links-block {
        max-width: 250px;
        margin-top: 30px;
        strong {
            font-size: 15px;
            color: #fff;
            font-weight: 700;
        }
        ul {
            margin: 15px 0 0 0;
            list-style: none;
            padding: 0px;
        }
        a {
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            line-height: 20px;
            &:hover, &.active {
                color: #fff;
            }
        }
    }
    .footer-social {
        margin-top: 25px;
        .links {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        a {
            margin-right: 20px;
            margin-bottom: 20px;
            width: 52px;
            height: 52px;
            line-height: 52px;
            font-size: 30px;
            border-color: $blue;
            &:hover {
                background: $blue;
                color: #fff;
            }
        }
    }
}
//main content
.main-content {
    margin-left: 50px;
    margin-right: 310px;
    &.full {
        display: flex;
        align-items: flex-start;
        margin-right: 0px;
        .content {
            flex: 1 1 auto;
        }
        .side-bar {
            flex: 0 0 auto;
            position: static;
            align-self: stretch;
            .side-bar-body {
                background: #f2ecdf;
            }
        }
        & + .main-footer {
            margin-right: 30px;
        }
    }
}
//side bar
.side-bar {
    width: 325px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    background: $blue;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.side-bar-head {
    min-height: 305px;
    flex: 0 0 auto;
    background: $blue;
    padding: 15px;
    color: #fff;
}
.side-bar-body {
    flex: 1 1 auto;
    padding: 30px;
}
.side-bar-footer {
    flex: 0 0 auto;
    padding: 30px;
    color: $yellow;
}
.side-bar-logo {
    margin-top: 50px;
    text-align: center;
}
.lang-select-wrap {
    display: flex;
    justify-content: space-between;
}
.lang-select {
    position: relative;
    .fa {
        font-size: 13px;
        position: absolute;
        left: 0px;
        top: 4px;
    }
    select {
        position: relative;
        height: 20px;
        padding-left: 20px;
        cursor: pointer;
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
        appearance: none;
        background: none;
        border: none;
        color: #fff;
        z-index: 2;
        &:focus {
            outline: none;
        }
    }
    option {
        color: #000;
    }
}
.side-bar-nav {
    padding: 0 10px;
    color: #fff;
    font-family: "Gotham Pro";
    > a {
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        display: block;
        font-weight: 700;
        line-height: 1.5;
        &:hover, &.active {
            color: $yellow;
        }
    }
    ul {
        margin-top: 30px;
        list-style: none;
        padding: 0px;
        li {
            margin-bottom: 10px;
        }
        a {
            font-weight: 700;
            font-size: 17px;
            color: $yellow;
            text-decoration: none;
            text-transform: uppercase;
            &:hover, &.active {
                color: white;
            }
            .badge {
                background: #010a5b;
                font-size: 12px;
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                line-height: 20px;
                padding: 0 8px;
            }
        }
    }

}

.footer-social {
    max-width: 250px;
    .links {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    a {
        display: block;
        width: 31px;
        height: 31px;
        text-align: center;
        line-height: 31px;
        color: inherit;
        border: 1px $yellow solid;
        border-radius: 50%;
        margin-right: 10px;
    }
    .contacts {
        font-family: "Helvetica";
        font-size: 15px;
        font-weight: 700;
        display: block;
        line-height: 1.5;
        letter-spacing: 0.2px;
    }
}

//content
.head-nav {
    height: 305px;
    margin: -30px -30px 30px -30px;
    padding: 40px;
    font-family: "Gotham Pro";
    background-image: url(../img/head-bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    &.is-service-jew {
        background-image: url(../img/head-bg-service-jew.jpg);
    }
    &.is-service-watch {
        background-image: url(../img/head-bg-service-watch.jpg);
    }
    &.is-repair-restore {
        background-image: url(../img/head-bg-repair-restore.jpg);
    }
    &.is-catalogin-collection {
        background-image: url(../img/head-bg-catalogin-collection.jpg);
        background-position: right bottom;
    }
    &.is-service-collectors {
        background-image: url(../img/head-bg-service-for-collectors.jpg);
    }
    &.is-contact {
        background-image: url(../img/head-bg-contact.jpg);
    }
    .head-links {
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        a {
            margin-right: 25px;
        }
        a.active {
            font-size: 40px;
            text-decoration: none;
        }
    }
    a {
        color: #fff;
        &:hover, &.active {
            color: $yellow;
        }
    }
    .sublinks {
        display: flex;
        .block:not(:first-child) {
            margin-left: 8%;
        }
        strong {
            font-size: 18px;
            color: $yellow;
        }
        ul {
            padding: 0px;
            margin: 15px 0 0 0;
            list-style: none;
            li {
                margin-top: 5px;
            }
            a {
                font-size: 15px;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}
.content {
    padding: 30px;
    .m-b {
        margin-bottom: 50px;
    }
}
.main-banner {
    position: relative;
    margin-bottom: 20px;
    .bx-wrapper {
        margin: 0px;
        box-shadow: none;
        border: none;
        background: transparent;
        .bx-pager {
            position: absolute;
            right: 40px;
            top: 12px;
            bottom: auto;
            width: auto;
            padding: 0px;
            .bx-pager-link {
                background: none !important;
                border: 1px #a2b2c6 solid;
                &.active {
                    border-color: $blue;
                    background: $blue !important;
                }
            }
        }
    }
    .main-banner-arrovs {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 80px;
        right: 40px;
        top: 50px;
        z-index: 2;
        a {
            text-decoration: none;
            color: #a2b2c6;
        }
        i.fa {
            font-size: 24px;
        }
    }
    .slide-item {
        height: 630px;
    }
    .image {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .main-banner-text {
        width: 375px;
        position: absolute;
        right: 40px;
        top: 100px;
        font-size: 30px;
        font-style: italic;
        color: $blue;
        span {
            color: $yellow;
        }
        z-index: 2;
    }
    .product-slide {
        .main-banner-text {
            width: 261px;
            right: 20%;
        }
        .offer-title {
            position: absolute;
            left: 40px;
            top: 15px;
            font-size: 20px;
            color: $yellow;
            font-style: italic;
        }
        .image  {
            top: 50%;
            left: 15%;
            width: 25%;
            transform: translateY(-50%);
            min-height: auto;
            object-fit: initial;
        }
        .watch-brand-logo {
            padding-bottom: 20px;
            margin-bottom: 20px;
            text-align: center;
            border-bottom: 1px #bfb7a4 solid;
            img {
                max-width: none;
                display: inline;
                vertical-align: middle;
            }
        }
        .lot-num {
            font-size: 20px;
            display: block;
            margin-bottom: 5px;
        }
        .lot-name {
            font-size: 30px;
        }
        .lor-descr {
            font-size: 16px;
            color: #050606;
        }
        .lot-price {
            display: block;
            font-style: normal;
            font-size: 25px;
            color: #050606;
        }
        .btn {
            margin-top: 2em;
            font-style: normal;
        }
    }
}
.short-img-news {
    display: flex;
    align-items: flex-start;
    .news-img {
        margin-left: 90px;
        border: 1px #cccccc solid;
        flex: 0 0 auto;
        width: 240px;
        height: 240px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.news-block-list {
    display: flex;
    justify-content: space-between;
}
.news-block-item {
    width: calc(50% - 20px);
    .news-date {
        font-size: 14px;
        display: block;
    }
    strong {
        font-size: 20px;
        font-weight: 800;
    }
    p {
        margin-top: 0px;
    }
    img {
        width: 100%;
        max-width: 100%;
        border: 1px #ccc solid;
        margin-bottom: 1em;
    }
    blockquote {
        margin-left: 25px;
        padding-left: 25px;
    }
    .non-response {
        width: auto;
        border: none;
    }
}
.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-item {
    width: calc(33% - 8px);
    font-family: "Gotham Pro";
    margin-bottom: 30px;
    text-decoration: none;
    color: inherit;
    &:hover {
        .product-img {
            opacity: 0.7;
        }
    }
    .product-img {
        border: 1px #ccc solid;
        margin-bottom: 15px;
        background: #fff;
        img {
            vertical-align: middle;
            width: 100%;
            object-fit: cover;
        }
    }
    .product-name {
        color: $blue;
        font-size: 14px;
        display: block;
        margin-bottom: 8px;
    }
    .price {
        line-height: 19px;
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }
    .status {
        display: inline-block;
        padding: 0 5px;
        line-height: 19px;
        font-size: 12px;
        font-family: "Gotham Pro";
        font-weight: bold;
        color: #fff;
        &.sold {
            background: $blue;
        }
    }
}

.side-bar .product-item {
    width: 100%;
}
.upcoming-auction-item {
    border: 2px #dfdad4 solid;
    padding: 15px;
    margin-bottom: 30px;
    .links {
        .btn {
            width: 100%;
            margin: 0px;
            justify-content: center;
        }
        .btn:not(:first-child) {
            margin-top: 10px;
        }
    }
}
.year-chrono {
    margin: 30px 0;
    ul {
        position: relative;
        padding: 0px;
        list-style: none;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 44px;
            left: 0px;
            height: 1px;
            width: 100%;
            background: $yellow;
        }
    }
    li {
        position: relative;
        cursor: pointer;
        font-family: "Helvetica";
        font-weight: 300;
        font-size: 20px;
        flex: 0 0 auto;
        border: 1px $blue solid;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        text-align: center;
        line-height: 86px;
        text-transform: uppercase;
        color: $blue;
        background: #fff;
        z-index: 2;
        box-shadow: 0 0 0 15px #fff;
        transition: all 0.2s;
        &:hover,
        &.active {
            color: #fff;
            background: $blue;
        }
        &.more {
            font-size: 15px;
        }
    }

}
.chrono-date-text {
    display: none;
    strong {
        font-size: 20px;
    }
    ul {
        margin: 0px;
        list-style: none;
        padding: 0px;
        display: flex;
        li + li {
            margin-left: 35px;
        }
    }
}

.near-auction {
    margin: -30px -30px 0 -30px;
    padding: 40px;
    background-image: url(../img/auction-bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    .coming-auction-text {
        max-width: 550px;
    }
    .date {
        font-size: 30px;
        color: $blue;
        display: block;
        margin-bottom: 20px;
    }
    .catalog {
        margin-top: 40px;
        h2 {
            font-size: 20px;
        }
    }
    .get-catalog {
        display: flex;
        .file-download {
            margin-right: 40px;
        }
        .print {
            span {
                display: block;
                margin-top: 5px;
                font-size: 13px;
            }
        }
    }
}
.auction-time-table {
    display: flex;
    justify-content: space-between;
    .box {
        flex: 0 0 auto;
        width: calc(33.333% - 20px);
        border: 1px #ccc solid;
        padding: 20px;
        display: flex;
        flex-direction: column;
        .body {
            flex: 1 1 auto;
        }
        .footer {
            margin-top: 15px;
            flex: 0 0 auto;
        }
    }
}
.past-auctions-item {
    padding: 30px;
    margin-bottom: 30px;
    border: 3px $blue solid;
    .past-auctions-wrap {
        display: flex;
    }
    .info {
        flex: 1 1 auto;
    }
    .image {
        width: 230px;
        height: 160px;
        flex: 0 0 auto;
        margin-left: 90px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .past-auctions-gallery {
        display: none;
        .head {
            margin-top: 30px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .close {
            display: flex;
            align-items: center;
            text-decoration: none;
            &:hover {
                color: $yellow;
            }
            .fa {
                font-size: 20px;
                margin-right: 5px;
            }
            span {
                font-size: 13px;
                font-weight: 700;
                font-family: "Gotham Pro";
                text-decoration: underline;
            }
        }
        h2 {
            font-size: 20px;
            margin: 0px;
        }
        .gallery-grid {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -5px;
            .item {
                flex: 0 0 auto;
                width: calc(20% - 10px);
                margin: 0 5px 10px 5px;
                border: 1px #ccc solid;
                cursor: pointer;
                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
}
//catalog
.catalog-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    & ~ .links {
        margin: 40px 0;
    }
    a:hover {
        text-decoration: none;
    }
    h2 {
        margin: 0px;
    }
    .links {
        margin-left: 40px;
        margin-right: auto;
        font-family: "Gotham Pro";
        font-weight: 500;
        font-size: 16px;
        a {
            margin: 0 10px;
        }
    }
    .how-work {
        font-family: "Gotham Pro";
        color: $yellow;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        .fa {
            font-size: 24px;
            margin-right: 10px;
        }
        a {
            color: $yellow;
        }
    }
}
.product-list-title {
    border-top: 1px $yellow solid;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
        color: $yellow;
        font-size: 30px;
    }
    .filter-res-info {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-family: "Gotham Pro";
        b {
            margin: 0 10px;
        }
    }
    .btn {
        margin-left: 20px;
    }
}
.price-filter {
    padding: 20px 0;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 700;
    a {
        display: inline-block;
        padding: 4px 10px;
        border: 2px transparent solid;
        &:first-child {
            margin-left: 20px;
        }
        &.active {
            text-decoration: none;
            border-color: $blue;
            color: #000;
        }
        &:hover {
            text-decoration: none;
        }
    }
}
.filters-list {
    padding: 15px 0;
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    align-items: center;
}
.filters-item {
    width: calc(20% - 16px);
    flex: 0 0 auto;
    border: 2px $blue solid;
    color: $blue;
    height: 31px;
    position: relative;
    padding: 0 10px;
    margin: 0 8px;
    cursor: pointer;
    transition: all 0.2s;
    &.sel {
        border-color: $yellow;
        background-color: $yellow;
        color: #fff;
        .name {
            color: #fff;
        }
    }
    &:hover,&.active {
        border-color: $blue;
        background: $blue;
        color: #fff;
        .name {
            color: #fff;
        }
    }
    &.active {
        .fa {
            transform: rotateX(180deg);
        }
    }
    .name {
        font-family: "Helvetica";
        font-size: 11px;
        line-height: 29px;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 0.2s;
    }
    .fa {
        position: absolute;
        top:0px;
        right: 10px;
        line-height: 27px;
        font-size: 24px;
        transition: all 0.2s;
    }
}
.filters-block-item {
    display: none;
    border: 2px $blue solid;
    padding: 20px;
    font-family: "Helvetica";
    color: $blue;
    a {
        display: block;
        color: $blue;
        font-size: 11px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1.5;
        &:hover,&.selected {
            color: $yellow;
        }
    }
    &.col-1 {
        width: calc((20% * 1) - 16px);
    }
    &.col-2 {
        width: calc((20% * 2) - 12px);
    }
    &.col-3 {
        width: calc((20% * 3) - 8px);
    }
    &.col-4 {
        width: calc((20% * 4) - 4px);
    }
    &.push-1 {
        margin-left: calc((20% * 1) + 4px);
    }
    &.push-2 {
        margin-left: calc((20% * 2) + 8px);
    }
    &.push-3 {
        margin-left: calc((20% * 3) + 12px);
    }
    &.push-4 {
        margin-left: calc((20% * 4) + 16px);
    }
}
.filter-brand-list {
    display: flex;
    justify-content: space-between;
    .gliph-item {
        flex:  0 0 auto;
        width: 100%;
        max-width: 15%;
        .item {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        b {
            font-size: 18px;
            display: block;
            margin-bottom: 10px;
        }
    }
}
.filter-date-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .list {
        flex: 0 0 auto;
        width: calc(50% - 2px)
    }
    .divider {
        width: 2px;
        background: $yellow;
        margin: 10px 0;
    }
    a {
        font-size: 15px;
        line-height: 2;
    }
}
.filter-type-list {
    display: flex;
    justify-content: space-between;
    .list {
        flex: 0 0 auto;
        width: calc(50% - 2px)
    }
    .divider {
        width: 2px;
        background: $yellow;
        margin: 10px 0;
        + .list {
            padding-left: 20px;
        }
    }
    a {
        font-size: 15px;
        line-height: 2;
    }
}
.filter-links-list {
    a {
        font-size: 15px;
        line-height: 2;
    }
}
//lot card
.lot-card {
    margin: 60px 0;
}
.lot-card-head {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    img {
        margin-bottom: 30px;
    }
    .lot-num {
        font-size: 20px;
        color: $yellow;
    }
    .lot-name {
        color: $blue;
        font-size: 30px;
        font-style: italic;
        font-weight: 300;
    }
    .to-back {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .to-favorite {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}
.lot-card-body {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.lot-gallery {
    flex: 0 0 auto;
    width: calc(50% - 20px);
    .lot-img {
        border: 1px #ccc solid;
        padding: 30px;
        margin-bottom: 20px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .thumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            flex: 0 0 auto;
            width: calc(50% - 10px);
            border: 1px #ccc solid;
            padding: 20px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.lot-card-info {
    flex: 0 0 auto;
    width: calc(50% - 20px);
    .descr {
        font-size: 23px;
        font-style: italic;
    }
    .lot-price {
        display: block;
        font-size: 25px;
        margin-bottom: 25px;
    }
    .to-buy {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        a:not(.btn) {
            margin-left: 25px;
            font-weight: 500;
            font-family: "Gotham Pro";
            font-size: 16px;
        }
    }
    .technical {
        margin-bottom: 35px;
        table {
            width: 100%;
            border-spacing: 0px;
        }
        td {
            font-size: 16px;
            font-style: italic;
            border-top: 1px $yellow solid;
            padding: 10px 0;
        }
        td + td {
            text-align: right;
        }
    }
}
////////////////////////////////////services//////////////////////////
.services-request {
    display: flex;
    .text {
        flex: 1 1 auto;
    }
    .services-request-form {
        flex: 0 0 auto;
        margin-left: 60px;
    }
}
.services-request-form {
    max-width: 370px;
    align-self: flex-start;
    padding: 30px 20px 20px;
    border: 1px #ccc solid;
    box-shadow: 0 -2px 15px 0 rgba(#000,0.1);
    .attached-files {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
            flex: 0 0 auto;
        }
    }
    .name-list {
        font-family: 'Helvetica';
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        font-size: 12px;
        color: $blue;
        .item {
            margin: 4px 0 4px 30px;
        }
    }
    .to-send {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .btn {
            margin-right: 20px;
            flex: 0 0 auto;
        }
        span {
            font-size: 14px;
        }
    }
}
.floating-image {
    border: 13px #f2ecdf solid !important;
}
.right-image {
    float: right;
    margin-left: 35px;
    margin-bottom: 35px;
}
////////////////////////////////////news//////////////////////////
.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
    a {
        display: block;
        flex: 0 0 auto;
        width: 33.3333%;
        padding: 0 8px 30px;
        text-decoration: none;
        &:hover {
            img {
                filter: grayscale(0);
            }
            color: $yellow;
        }
        img {
            filter: grayscale(1);
            width: 100%;
            display: block;
            margin-bottom: 10px;
            transition: all 0.3s;
        }
        span {
            font-family: 'Gotham Pro';
            font-weight: bold;
        }
    }
}
.news-block {
    display: flex;
    margin: 30px 0;
    &.inverse {
        flex-direction: row-reverse;
        .img {
            margin-left: 40px;
            margin-right: auto;
        }
    }
    &.with-bg {
        position: relative;
        .img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            margin: 0px;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                background: linear-gradient(to right, rgba(#000,1), rgba(#000,0));
            }
        }
        .text {
            color: #fff;
            position: relative;
            z-index: 1;
            padding: 60px 40px;
            .with-line {
                color: #fff;
            }
        }
    }
    .img {
        flex: 0 0 auto;
        width: 290px;
        height: 200px;
        margin-right: 40px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .text {
        .with-line {
            margin-top: 15px;
        }
    }
}
////////////////////////////////////razdeli/////////////////////////
.card-links {
    margin-top: 30px;
    display: flex;
    .card-link-item {
        position: relative;
        border: 1px $yellow solid;
        width: 100%;
        max-width: 240px;
        padding: 20px 30px;
        margin-right: 50px;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            width: 500px;
            height: 500px;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            margin: -320px 0 0 -250px;
            background: rgba($yellow,0.05);
            transform: scale(0);
            transition: all 0.3s;
            z-index: -1;
        }
        &:hover {
            &:before {
                transform: scale(1);
            }
        }
    }
    .icon {
        display: flex;
        text-align: center;
        min-height: 95px;
        img {
            margin: auto;
        }
    }
    .with-line {
        font-size: 15px;
        margin: 30px 0;
        &:before, &:after {
            width: 21px;
            height: 3px;
        }
    }
    .links {
        list-style: none;
        padding: 0px;
        margin: 0px;
        li {
            margin-top: 5px;
            &:first-child {
                margin-top: 0px;
            }
        }
        a:hover {
            text-decoration: none;
            color: $yellow;
        }
    }
}
////////////////////////////////////partners/////////////////////////
.partner-block {
    display: flex;
    margin: 30px 0 40px;
    .logo {
        border: 1px #8a8a8a solid;
        width: 290px;
        height: 200px;
        display: flex;
        flex: 0 0 auto;
        margin-right: 35px;
        &:hover {
            border-color: $yellow;
        }
        img {
            margin: auto;
        }
    }
    .info {
        h2 {
            margin-top: 20px;
        }
        a:hover {
            text-decoration: none;
            color: $yellow;
        }
    }
}
////////////////////////////////////contacts/////////////////////////
.contact-map {
    min-height: 100%;
    position: relative;
    iframe {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
}
.footer-social.at-contact {
    a {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 52px;
        height: 52px;
        line-height: 52px;
        font-size: 30px;
        border-color: $blue;
        color: $blue;
        flex: 0 0 auto;
        &:hover {
            background: $blue;
            color: #fff;
        }
    }
    .text-link {
        width: auto;
        height: auto;
        border: none;
        font-size: 17px;
        line-height: normal;
        text-align: left;
        font-weight: 600;
        &:hover {
            background: none;
            color: $yellow;
        }
    }
}
////////////////////////////////////modals////////////////////////////
.buy-form-modal {
    max-width: 590px;
    padding: 30px 60px;
    .lot-info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        img {
            margin-bottom: 40px;
        }
        .lot-num {
            font-size: 20px;
            color: $yellow;
        }
        .lot-name {
            margin: 15px 0;
            color: $blue;
            font-size: 30px;
            font-style: italic;
            font-weight: 300;
        }
        .lot-price {
            font-size: 25px;
        }
    }
    .submit-buy {
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        .btn {
            flex: 0 0 auto;
            margin-right: 30px;
        }
    }
}
.success-modal {
    .status-img {
        margin: 30px 0 40px;
    }
}
.frame-reg-modal {
    padding: 0px;
    min-width: 1240px;
    height: 700px;
    iframe {
        border: none;
    }
}
////////////////////////////////////footer////////////////////////////
.main-footer {
    border-top: 1px $yellow solid;
    margin: 0 340px 0 80px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    .footer-logo {
        flex: 0 0 auto;
    }
    .main-footer-links {
        font-family: "Helvetica";
        font-weight: 500;
        font-size: 13px;
        margin-right: auto;
        margin-left: 10%;
        span {
            font-family: "Helvetica";
            font-size: 13px;
            text-transform: uppercase;
            color: $yellow;
            display: block;
            margin-bottom: 15px;
        }
        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            column-count: 3;
            li {
                margin-bottom: 10px;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .footer-social {
        a {
            color: $yellow;
        }
    }
}
////////////////////////////////////ui////////////////////////////////
.btn {
    font-family: "Helvetica";
    background: none;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    height: 31px;
    line-height: 27px;
    font-size: 11px;
    font-weight: 800;
    color: $blue;
    border: 2px $blue solid;
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background: $blue;
        color: #fff;
    }
    & + .btn {
        margin-left: 10px;
    }
    &.large {
        height: 44px;
        line-height: 40px;
        font-size: 18px;
        font-weight: 700;
        padding: 0 30px;
    }
    &.filled {
        background: $blue;
        color: #fff;
    }
    &.icon-left {
        .fa {
            margin-right: 8px;
        }
    }
    &.badge {
        small {
            margin: -2px 5px 0;
            align-self: center;
            line-height: 14px;
            padding: 0 3px;
            font-size: 11px;
            font-weight: bold;
            &.red {
                background: $red;
                color: #fff;
            }
        }
    }
    &.to-favorite {
        .fa {
            line-height: 27px;
            font-size: 16px;
            color: red;
        }
    }
}
.input-field {
    input, textarea {
        height: 43px;
        width: 100%;
        border: 2px $blue solid;
        color: $blue;
        font-size: 14px;
        font-weight: 700;
        background: none;
        padding: 0 20px;
        @include placeholder {
            color: #c1c1c1;
            opacity: 1;
            text-transform: uppercase;
        }
    }
    textarea {
        min-height: 43px;
        height: auto;
        padding: 15px 20px;
        resize: vertical;
    }
    &:not(:first-child) {
        margin-top: 20px;
    }
    &.is-light {
        input, textarea {
            height: 32px;
            border: 1px #cccccc solid;
            font-size: 12px;
            font-weight: 400;
            padding: 0 15px;
            color: $blue;
            @include placeholder {
                color: $blue;
                opacity: 0.8;
                text-transform: none;
            }
        }
        textarea {
            min-height: 32px;
            height: auto;
            padding: 10px 15px;
            resize: vertical;
        }
    }
}
.file-download {
    display: flex;
    text-decoration: none;
    align-items: flex-start;
    img {
        border: none;
        width: auto;
        flex: 0 0 auto;
        margin-right: 15px;
    }
    .info {
        font-family: "Helvetica";
    }
    .name {
        font-size: 11px;
        font-weight: 700;
    }
    .size {
        margin-top: 4px;
        font-size: 11px;
        color: #686661;
    }
}
.alert-block {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 11px;
    padding: 10px 20px;
    border: 2px #ccc solid;
    text-align: center;
    margin: 20px 0;
    &.is-red {
        border-color: $red;
        color: $red;
    }
}
.drop-select {
    height: 32px;
    border: 1px #ccc solid;
    position: relative;
    display: inline-flex;
    align-items: center;
    select {
        padding: 0 45px 0 15px;
        font-family: "Helvetica";
        font-size: 12px;
        color: #444546;
        appearance: none;
        border: none;
        height: 30px;
        line-height: 30px;
        background: none;
        position: relative;
        cursor: pointer;
        z-index: 2;
    }
    .fa {
        color: #000;
        border-left: 1px #ccc solid;
        text-align: center;
        line-height: 30px;
        width: 30px;
        font-size: 14px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
}
.thermins-list {
    list-style: none;
    padding: 0px;
    li {
        margin-bottom: 1.5em;
        padding-left: 30px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 14px;
            height: 14px;
            border: 3px #1b2473 solid;
            border-radius: 50%;
            left: 0px;
            top: 3px;
        }
    }
}
////////////////////////////////////modal/////////////////////////////
.remodal-overlay {
    background: rgba($blue, 0.8);
}
.my-modal {
    text-align: left;
    .remodal-close {
        left: auto;
        right: 10px;
        top: 10px;
        background: $yellow;
        color: #fff;
    }
}
//cap
.cap {
    font-family: "Gotham Pro";
    min-height: 100%;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    img {
        margin-bottom: 80px;
    }
    a {
        margin-top: 10px;
        display: inline-block;
        color: #fff;
    }
}
