@import "minion.scss";
@import "helvetica.scss";
@import "gotham.scss";

@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

$blue: #1b2473;
$yellow: #bd9e5e;
* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Minion Pro';
    font-size: 17px;
    color: #2f2f2f;
    height: 100%;
    &.open-menue {
        overflow: hidden;
    }
}
input {
    font-family: "Helvetica";
    &:focus {
        outline: none;
    }
}
h2 {
    margin: 0 0 20px 0;
    font-family: 'Gotham Pro';
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
    &.with-line {
        margin: 0 0 30px 0;
        position: relative;
        &:after, &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            height: 5px;
            width: 36px;
            background: $yellow;
        }
        &:after {
            bottom: -10px;
        }
        &:before {
            top: -10px;
        }
    }
}
h3 {
    margin: 0 0 17px 0;
    font-family: 'Gotham Pro';
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
}
a {
    color: $blue;
}
.text-center {
    text-align: center;
}
.wrapper {
    min-width: 1024px;
    min-height: 100%;
}
//nav bar
.nav-bar {
    left: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    background: $yellow;
    width: 50px;
    align-self: stretch;
    z-index: 100;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    li {
        position: relative;
        &:hover {
            .nav-bar-search {
                transform: translateX(0%);
            }
        }
    }
    a {
        text-decoration: none;
        position: relative;
        display: block;
        z-index: 2;
        &:hover, &.active {
            .fa {
                background: $blue;
                color: white;
            }
        }
        > .fa {
            color: #fff;
            background: $yellow;
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-bottom: 1px #ac8a43 solid;
        }
    }
}
.nav-bar-search {
    position: absolute;
    bottom: 0px;
    left: 100%;
    padding: 10px;
    background: #fff;
    height: 51px;
    width: 350px;
    border: 1px #ccc solid;
    border-left: none;
    display: flex;
    align-items: center;
    z-index: 1;
    transform: translateX(-100%);
    transition: all 0.2s;
    .filed {
        flex: 1 1 auto;
        margin-right: 10px;
        input {
            padding: 0px;
            width: 100%;
            height: 29px;
            border: none;
            color: $blue;
            font-size: 14px;
            background: none;
        }
    }
}
//site Map
.site-map {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 50px;
    right: 0px;
    background: $yellow;
    padding: 15px 40px 40px;
    color: $blue;
    overflow: auto;
    border-left: 1px #ac8a43 solid;
    z-index: 100;
    .title {
        font-size: 20px;
        font-weight: 600;
        font-size: italic;
    }
    a {
        color: $blue
    }
    .site-map-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .block {
        margin-top: 50px;
        width: 33.333%;
        flex: 0 0 auto;
        font-family: "Helvetica";
    }
    b {
        font-family: "Gotham Pro";
        font-size: 30px;
    }
    .links-block {
        max-width: 250px;
        margin-top: 30px;
        strong {
            font-size: 15px;
            color: #fff;
            font-weight: 700;
        }
        ul {
            margin: 15px 0 0 0;
            list-style: none;
            padding: 0px;
        }
        a {
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            line-height: 20px;
            &:hover {
                color: #fff;
            }
        }
    }
    .footer-social {
        margin-top: 25px;
        .links {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        a {
            margin-right: 20px;
            margin-bottom: 20px;
            width: 52px;
            height: 52px;
            line-height: 52px;
            font-size: 30px;
            border-color: $blue;
            &:hover {
                background: $blue;
                color: #fff;
            }
        }
    }
}
//main content
.main-content {
    margin-left: 50px;
    margin-right: 310px;
    &.full {
        display: flex;
        align-items: flex-start;
        margin-right: 0px;
        .content {
            flex: 1 1 auto;
        }
        .side-bar {
            flex: 0 0 auto;
            position: static;
            align-self: stretch;
            .side-bar-body {
                background: #f2ecdf;
            }
        }
        & + .main-footer {
            margin-right: 30px;
        }
    }
}
//side bar
.side-bar {
    width: 325px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    background: $blue;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.side-bar-head {
    min-height: 305px;
    flex: 0 0 auto;
    background: $blue;
    padding: 15px;
    color: #fff;
}
.side-bar-body {
    flex: 1 1 auto;
    padding: 30px;
}
.side-bar-footer {
    flex: 0 0 auto;
    padding: 30px;
    color: $yellow;
}
.side-bar-logo {
    margin-top: 50px;
    text-align: center;
}
.lang-select-wrap {
    display: flex;
    flex-direction: row-reverse;
}
.lang-select {
    position: relative;
    .fa {
        font-size: 13px;
        position: absolute;
        left: 0px;
        top: 4px;
    }
    select {
        position: relative;
        height: 20px;
        padding-left: 20px;
        cursor: pointer;
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
        appearance: none;
        background: none;
        border: none;
        color: #fff;
        z-index: 2;
        &:focus {
            outline: none;
        }
    }
    option {
        color: #000;
    }
}
.side-bar-nav {
    padding: 0 10px;
    color: #fff;
    font-family: "Gotham Pro";
    > a {
        color: #fff;
        font-size: 30px;
        text-decoration: none;
        display: block;
        font-weight: 700;
        line-height: 1.5;
        &:hover {
            color: $yellow;
        }
    }
    ul {
        margin-top: 30px;
        list-style: none;
        padding: 0px;
        li {
            margin-bottom: 10px;
        }
        a {
            font-weight: 700;
            font-size: 17px;
            color: $yellow;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                color: white;
            }
            .badge {
                background: #010a5b;
                font-size: 12px;
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                line-height: 20px;
                padding: 0 8px;
            }
        }
    }

}

.footer-social {
    max-width: 250px;
    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    a {
        display: block;
        width: 31px;
        height: 31px;
        text-align: center;
        line-height: 31px;
        color: inherit;
        border: 1px $yellow solid;
        border-radius: 50%;
    }
    .contacts {
        font-family: "Helvetica";
        font-size: 15px;
        font-weight: 700;
        display: block;
        line-height: 1.5;
        letter-spacing: 0.2px;
    }
}

//content
.head-nav {
    height: 305px;
    margin: -30px -30px 30px -30px;
    padding: 40px;
    font-family: "Gotham Pro";
    background: url(../img/head-bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
    .head-links {
        font-size: 20px;
        font-weight: 700;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        a {
            margin-right: 25px;
        }
        a.active {
            font-size: 40px;
            text-decoration: none;
        }
    }
    a {
        color: #fff;
        &:hover {
            color: #6b76da;
        }
    }
    .sublinks {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        strong {
            font-size: 18px;
            color: $yellow;
        }
        ul {
            padding: 0px;
            margin: 15px 0 0 0;
            list-style: none;
            li {
                margin-top: 5px;
            }
            a {
                font-size: 15px;
                text-decoration: none;
                font-weight: 700;
            }
        }
    }
}
.content {
    padding: 30px;
    .m-b {
        margin-bottom: 80px;
    }
}
.main-banner {
    position: relative;
    margin-bottom: 20px;
    .bx-wrapper {
        margin: 0px;
        box-shadow: none;
        border: none;
        background: transparent;
    }
    .bx-pager {
        position: absolute;
        right: 40px;
        top: 12px;
        bottom: auto;
        width: auto;
        padding: 0px;
        .bx-pager-link {
            background: none !important;
            border: 1px #a2b2c6 solid;
            &.active {
                border-color: $blue;
                background: $blue !important;
            }
        }
    }
    .main-banner-arrovs {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 80px;
        right: 40px;
        top: 50px;
        z-index: 2;
        a {
            text-decoration: none;
            color: #a2b2c6;
        }
        i.fa {
            font-size: 24px;
        }
    }
    .slide-item {
        height: 630px;
    }
    .image {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .main-banner-text {
        width: 375px;
        position: absolute;
        right: 40px;
        top: 100px;
        font-size: 30px;
        font-style: italic;
        color: $blue;
        span {
            color: $yellow;
        }
        z-index: 2;
    }
    .product-slide {
        .main-banner-text {
            width: 261px;
            right: 20%;
        }
        .offer-title {
            position: absolute;
            left: 40px;
            top: 15px;
            font-size: 20px;
            color: $yellow;
            font-style: italic;
        }
        .image  {
            top: 50%;
            left: 15%;
            width: 25%;
            transform: translateY(-50%);
            min-height: auto;
            object-fit: initial;
        }
        .watch-brand-logo {
            padding-bottom: 20px;
            margin-bottom: 20px;
            text-align: center;
            border-bottom: 1px #bfb7a4 solid;
            img {
                max-width: none;
                display: inline;
                vertical-align: middle;
            }
        }
        .lot-num {
            font-size: 20px;
            display: block;
            margin-bottom: 5px;
        }
        .lot-name {
            font-size: 30px;
        }
        .lor-descr {
            font-size: 16px;
            color: #050606;
        }
        .lot-price {
            display: block;
            font-style: normal;
            font-size: 25px;
            color: #050606;
        }
        .btn {
            margin-top: 2em;
            font-style: normal;
        }
    }
}
.short-img-news {
    display: flex;
    align-items: flex-start;
    .news-img {
        margin-left: 90px;
        border: 1px #cccccc solid;
        flex: 0 0 auto;
        width: 240px;
        height: 240px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.news-block-list {
    display: flex;
    justify-content: space-between;
}
.news-block-item {
    width: calc(50% - 40px);
    .news-date {
        font-size: 14px;
        display: block;
    }
    .title {
        font-size: 20px;
        font-weight: 800;
    }
    p {
        margin-top: 0px;
    }
    img {
        width: 100%;
        max-width: 100%;
        border: 1px #ccc solid;
        margin-bottom: 1em;
    }
}
.product-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-item {
    width: calc(33% - 8px);
    font-family: "Gotham Pro";
    margin-bottom: 30px;
    text-decoration: none;
    color: inherit;
    &:hover {
        .product-img {
            opacity: 0.7;
        }
    }
    .product-img {
        border: 1px #ccc solid;
        padding: 25px;
        margin-bottom: 15px;
        background: #fff;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .product-name {
        color: $blue;
        font-size: 14px;
        display: block;
        margin-bottom: 8px;
    }
    .price {
        font-weight: 600;
        font-size: 14px;
    }
}

.side-bar .product-item {
    width: 100%;
}
.year-chrono {
    margin: 30px 0;
    ul {
        position: relative;
        padding: 0px;
        list-style: none;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 44px;
            left: 0px;
            height: 1px;
            width: 100%;
            background: $yellow;
        }
    }
    li {
        position: relative;
        cursor: pointer;
        font-family: "Helvetica";
        font-weight: 300;
        font-size: 20px;
        flex: 0 0 auto;
        border: 1px $blue solid;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        text-align: center;
        line-height: 86px;
        text-transform: uppercase;
        color: $blue;
        background: #fff;
        z-index: 2;
        box-shadow: 0 0 0 15px #fff;
        transition: all 0.2s;
        &:hover {
            color: #fff;
            background: $blue;
        }
        &.more {
            font-size: 15px;
        }
    }

}
.chrono-date-text {
    strong {
        font-size: 20px;
    }
    ul {
        margin: 0px;
        list-style: none;
        padding: 0px;
        display: flex;
        li + li {
            margin-left: 35px;
        }
    }
}

.near-auction {
    margin: -30px -30px 0 -30px;
    padding: 40px;
    background-image: url(../img/auction-bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    .coming-auction-text {
        max-width: 550px;
    }
    .date {
        font-size: 30px;
        color: $yellow;
        display: block;
        margin-bottom: 20px;
    }
    .links {
        margin-top: 25px;
        a:not(.btn) {
            margin-right: 20px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.upcomming-auctions-item {
    padding: 30px;
    margin-bottom: 30px;
    border: 3px $blue solid;
    display: flex;
    .info {
        flex: 1 1 auto;
    }
    .image {
        width: 230px;
        height: 160px;
        flex: 0 0 auto;
        margin-left: 90px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
//catalog
.catalog-title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    & ~ .links {
        margin: 40px 0;
    }
    a:hover {
        text-decoration: none;
    }
    h2 {
        margin: 0px;
    }
    .links {
        margin-left: 40px;
        margin-right: auto;
        font-family: "Gotham Pro";
        font-weight: 500;
        font-size: 16px;
        a {
            margin: 0 10px;
        }
    }
    .how-work {
        font-family: "Gotham Pro";
        color: $yellow;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        .fa {
            font-size: 24px;
            margin-right: 10px;
        }
        a {
            color: $yellow;
        }
    }
}
.product-list-title {
    border-top: 1px $yellow solid;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
        color: $yellow;
        font-size: 30px;
    }
    .filter-res-info {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-family: "Gotham Pro";
        b {
            margin: 0 10px;
        }
    }
    .btn {
        margin-left: 20px;
    }
}
.price-filter {
    padding: 20px 0;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 700;
    a {
        display: inline-block;
        padding: 4px 10px;
        border: 2px transparent solid;
        &:first-child {
            margin-left: 20px;
        }
        &.active {
            text-decoration: none;
            border-color: $blue;
            color: #000;
        }
        &:hover {
            text-decoration: none;
        }
    }
}
.filters-list {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filters-item {
    width: calc(20% - 16px);
    flex: 0 0 auto;
    border: 2px $blue solid;
    height: 31px;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    &:hover,&.active {
        background: $blue;
        color: #fff;
        .name {
            color: #fff;
        }
    }
    &.active {
        .fa {
            transform: rotateX(180deg);
        }
    }
    .name {
        color: $blue;
        font-family: "Helvetica";
        font-size: 11px;
        line-height: 27px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .fa {
        position: absolute;
        top:0px;
        right: 10px;
        line-height: 27px;
        font-size: 24px;
    }
}
.filters-block-item {
    display: none;
    border: 2px $blue solid;
    padding: 20px;
    font-family: "Helvetica";
    color: $blue;
    a {
        display: block;
        color: $blue;
        font-size: 11px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 1.5;
        &:hover {
            color: $yellow;
        }
    }
    &.col-1 {
        width: calc((20%*1) - 16px);
    }
    &.col-2 {
        width: calc((20%*2) - 12px);
    }
    &.col-3 {
        width: calc((20%*3) - 8px);
    }
    &.col-4 {
        width: calc((20%*4) - 4px);
    }
    &.push-1 {
        margin-left: calc((20%*1) + 4px);
    }
    &.push-2 {
        margin-left: calc((20%*2) + 8px);
    }
    &.push-3 {
        margin-left: calc((20%*3) + 12px);
    }
    &.push-4 {
        margin-left: calc((20%*4) + 16px);
    }
}
.filter-brand-list {
    .gliph-item {
        display: flex;
        justify-content: space-between;
        &:not(:first-child) {
            margin-top: 10px;
        }
        .item {
            width: calc(25% - 20px);
            flex: 0 0 auto;
        }
        b {
            font-size: 18px;
            display: block;
            margin-bottom: 10px;
        }
    }
}
.filter-date-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    .list {
        flex: 0 0 auto;
        width: calc(50% - 2px)
    }
    .divider {
        width: 2px;
        background: $yellow;
        margin: 10px 0;
    }
    a {
        font-size: 15px;
        line-height: 2;
    }
}
//lot card
.lot-card {
    margin: 60px 0;
}
.lot-card-head {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    img {
        margin-bottom: 30px;
    }
    .lot-num {
        font-size: 20px;
        color: $yellow;
    }
    .lot-name {
        color: $blue;
        font-size: 30px;
        font-style: italic;
        font-weight: 300;
    }
    .btn {
        position: absolute;
        left: 0px;
        top: 0px;
    }
}
.lot-card-body {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.lot-gallery {
    flex: 0 0 auto;
    width: calc(50% - 20px);
    .lot-img {
        border: 1px #ccc solid;
        padding: 30px;
        margin-bottom: 20px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    .thumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        a {
            flex: 0 0 auto;
            width: calc(50% - 10px);
            border: 1px #ccc solid;
            padding: 20px;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.lot-card-info {
    flex: 0 0 auto;
    width: calc(50% - 20px);
    .descr {
        font-size: 23px;
        font-style: italic;
    }
    .lot-price {
        display: block;
        font-size: 25px;
        margin-bottom: 25px;
    }
    .to-buy {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        a:not(.btn) {
            margin-left: 25px;
            font-weight: 500;
            font-family: "Gotham Pro";
            font-size: 16px;
        }
    }
    .technical {
        margin-bottom: 35px;
        table {
            width: 100%;
            border-spacing: 0px;
        }
        td {
            font-size: 16px;
            font-style: italic;
            border-top: 1px $yellow solid;
            padding: 10px 0;
        }
        td + td {
            text-align: right;
        }
    }
}
//modals
.buy-form-modal {
    max-width: 590px;
    padding: 30px 60px;
    .lot-info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        img {
            margin-bottom: 40px;
        }
        .lot-num {
            font-size: 20px;
            color: $yellow;
        }
        .lot-name {
            margin: 15px 0;
            color: $blue;
            font-size: 30px;
            font-style: italic;
            font-weight: 300;
        }
        .lot-price {
            font-size: 25px;
        }
    }
    .submit-buy {
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        .btn {
            flex: 0 0 auto;
            margin-right: 30px;
        }
    }
}
//footer
.main-footer {
    border-top: 1px $yellow solid;
    margin: 0 340px 0 80px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-logo {
        flex: 0 0 auto;
    }
    .main-footer-links {
        font-family: "Helvetica";
        font-weight: 500;
        font-size: 13px;
        flex: 1 1 auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        span {
            font-family: "Helvetica";
            font-size: 13px;
            text-transform: uppercase;
            color: $yellow;
        }
        ul {
            list-style: none;
            padding: 0px;
            margin: 0px;
            li {
                margin-top: 10px;
            }
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .footer-social {
        a {
            color: $yellow;
        }
    }
}
//ui
.btn {
    font-family: "Helvetica";
    background: none;
    display: inline-block;
    vertical-align: top;
    height: 31px;
    line-height: 27px;
    font-size: 11px;
    font-weight: 800;
    color: $blue;
    border: 2px $blue solid;
    text-decoration: none;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background: $blue;
        color: #fff;
    }
    & + .btn {
        margin-left: 10px;
    }
    &.large {
        height: 44px;
        line-height: 40px;
        font-size: 18px;
        font-weight: 700;
        padding: 0 30px;
    }
    &.filled {
        background: $blue;
        color: #fff;
    }
}
.input-field {
    input {
        height: 43px;
        width: 100%;
        border: 2px $blue solid;
        color: $blue;
        font-size: 14px;
        font-weight: 700;
        background: none;
        padding: 0 20px;
        @include placeholder {
            color: #c1c1c1;
            opacity: 1;
            text-transform: uppercase;
        }
    }
    &:not(:first-child) {
        margin-top: 20px;
    }
}
//modal
.remodal-overlay {
    background: rgba($blue, 0.8);
}
.my-modal {
    text-align: left;
    .remodal-close {
        left: auto;
        right: 10px;
        top: 10px;
        background: $yellow;
        color: #fff;
    }
}
//cap
.cap {
    font-family: "Gotham Pro";
    min-height: 100%;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    img {
        margin-bottom: 80px;
    }
    a {
        margin-top: 10px;
        display: inline-block;
        color: #fff;
    }
}
