.main-slider {
  height: 550px;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.has-error .input-field, .input-field.has-error {
  border-color: #cc5555 !important;
}

.banner-modal span.success-body {
  margin-top: 170px;
  margin-bottom: 150px;
}

#askquestionform-text {
  height: 168px;
}

.success-text {
  padding: 100px 0 0;
  font-weight: 600;
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;

  > .center:first-child {
    padding-bottom: 50px;
  }
}

.add-file {
  &.valid span {
    color: green;
  }
  &.no-valid span {
    color: red;
  }
}

.beggar-modal .img img {
  max-height: 373px;
}

.share-favorite .button {
  background-color: #fff;
}

.pull-right {
  float: right;
}

.order-info .privacy-policy {
  margin-top: 16px;
  color: #555;
}

.subscribe-modal .privacy-policy {
  font-size: 90%;
  margin-bottom: 30px;
  color: #555;
}

.banner-modal {
  .privacy-policy {
    display: none;
    font-size: 90%;
    margin-top: 16px;
    color: #555;
  }
  .hidden + .privacy-policy {
    display: block;
  }
}

.feedback-form .privacy-policy {
  font-size: 90%;
  margin-top: 16px;
  color: #555;
}

.in-stock {
  color: #27ae60;
}

.brends-nav {
  &.col-5 {
    width: 925px;
    ul {
      columns: 5;
    }
  }
}

.main-header.fixed {
  .msg-apps {
    position: fixed;
    right: calc(50% + 140px);
    top: 26px;
    z-index: 111;
    transform: translateX(455px);
  }
}

@media screen and (max-width: 1480px) {
  .main-slider .bx-wrapper .bx-next {
    right: 10px;
  }

  .main-slider .bx-wrapper .bx-prev {
    left: 10px;
  }
}
