.hidden {
  display: none !important;
}

.main-header-top .logo img {
  width: 120px;
}

.main-nav {
  label {
    display: block;
    border-bottom: 1px #f0f0f0 solid;
    color: #888888;
    padding: 10px 15px;
    input {
      display: none;
    }
  }
}

.privacy-policy {
  padding-top: 10px;
  font-size: 85%;
  text-align: center;
}

.watch-info .retail .price strong {
  color: #999;
}
