.button {
    @extend .exo;
    font-weight: 500;
    height: 42px;
    border: 1px #c6c6c6 solid;
    padding: 11px 25px;
    border-radius: 3px;
    line-height: 16px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #333;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.2s;
    i.mdi {
        line-height: 16px;
        font-size: 20px;
        color: #9f9f9f;
        margin-right: 10px;
        transition: all 0.2s;
        &:last-child {
            margin-right: 0px;
        }
    }
    &.small {
        font-size: 14px;
        letter-spacing: normal;
        padding: 7px 20px;
        height: 34px;
        border-color: #72aab7;
        &:hover {
            background: #72aab7;
            color: #fff;
        }
    }
    &.turq {
        border-color: #72aab7;
        &:hover,&.active {
            background: #72aab7;
            color: #fff;
            .mdi {
                color: #fff;
            }
        }
        &.filled {
            border-color: #72aab7;
            background: #72aab7;
            color: #fff;
            &:hover{
                color: #72aab7;
                background: none;
            }
        }
    }
    &.green {
        border-color: #27ae60;
        color: #27ae60;
        &:hover {
            background: #27ae60;
            color: #fff;
        }
    }
    &.grey {
        border-color: #d1d1d1;
        color: #333;
        &:hover {
            background: #d1d1d1;
            color: #000;
            i.mdi {
                color: #000;
            }
        }
        &.filled {
            border-color: #d1d1d1;
            background: #d1d1d1;
            color: #000;
            &:hover{
                color: #000;
                background: none;
            }
        }
    }
    &.white {
        background: #e6e6e6;
        border-color: #e6e6e6;
        &:hover {
            background: #fff;
        }
    }
    &.icon-right {
        justify-content: space-between;
        .mdi {
            margin: 0 0 0 18px;
        }
    }
    &.icon-only {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        width: 42px;
    }
    &.block {
        width: 100%;
    }
}
.tag {
    font-weight: 400;
    height: 42px;
    border: 1px #e6e6e6 solid;
    padding: 11px 15px;
    border-radius: 3px;
    line-height: 16px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    letter-spacing: 1px;
    i.mdi {
        cursor: pointer;
        font-size: 24px;
        margin-left: 10px;
    }
}
.input-field {
    height: 42px;
    border-radius: 4px;
    border: 1px #c6c6c6 solid;
    display: flex;
    align-items: center;
    position: relative;
    &.required {
        position: relative;
        &:after {
            content: "*";
            color: #72aab7;
            font-size: 22px;
            position: absolute;
            right: -20px;
            top: 12px;
        }
    }
    &.valid {
        border-color: green;
    }
    &.no-valid {
        border-color: red;
    }
    &.icon {
        position: relative;
        i.mdi {
            position: absolute;
            left: 18px;
            top: 13px;
            line-height: 16px;
            font-size: 20px;
            color: #9f9f9f;
        }
        input {
            padding-left: 49px;
        }
    }
    input {
        padding: 10px 15px 13px;
        display: block;
        width: 100%;
        height: 100%;
        @extend .exo;
        border: none;
        background: none;
        letter-spacing: 1px;
        transition: all 0.2s;
        &:focus {
            background: rgba(#72aab7,0.1);
        }
    }
    select {
        cursor: pointer;
        background: none;
        padding: 11px 16px;
        width: 100%;
        @extend .exo;
        font-size: 16px;
        color: #666666;
        border: none;
        appearance: none;
        option {
            padding: 10px 15px;
        }
        & + i.mdi {
            pointer-events: none;
            color: #c6c6c6;
            font-size: 20px;
            position: absolute;
            right: 6px;
            top: 10px;
            z-index: 1;
        }
    }
}

.checkbox {
    margin: 15px 0;
    input {
        display: none;
    }
    label {
        display: flex;
        align-items: center;
        font-size: 18px;
        letter-spacing: 2px;
        cursor: pointer;
        transition: all 0.3s;
    }
    .check {
        display: block;
        width: 30px;
        height: 30px;
        background: #f2f2f2;
        border-radius: 3px;
        text-align: center;
        margin-right: 15px;
        transition: all 0.3s;
        i.mdi {
            color: #72aab7;
            font-size: 30px;
            line-height: 30px;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }
    input:checked + label {
        color: #72aab7;
        .check {
            background: transparent;
            i.mdi {
                opacity:1;
            }
        }
    }
}
.radio-field {
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
        display: none;
        &:checked + .icon {
            &:after {
                opacity: 1;
            }
        }
    }
    .icon {
        position: relative;
        width: 30px;
        height: 30px;
        background: #f2f2f2;
        border-radius: 50%;
        margin-right: 10px;
        &:after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            position: absolute;
            background: #72aab7;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;
            transition: all 0.3s;
        }
    }
}
