body {
    font-family: $inter;
    font-size: 15px;
    line-height: 1;
    &::-webkit-scrollbar {
        background-color: #fff;
        width: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($blue-bg,0.3);
        border-radius: 10px;
        border: 2px solid #fff;
        &:hover {
            background-color: rgba($blue-bg,1);
        }
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    & {
        scrollbar-face-color: red;
        scrollbar-track-color: green;
    }
}

h1,h2,h3,h4,h5 {
    font-family: $america;
}

strong {
    font-weight: 500;
}
b {
    font-weight: 600;
}
a {
    color: $blue-text;
}

input,textarea {
    font-family: $inter;
}

.title {
    font-family: $america;
    font-size: 24px;
    font-weight: 500;
    margin: 150px 0 70px;
    &:first-of-type {
        margin-top: 0;
    }
    &_small {
        font-size: 20px;
        margin: 0 0 30px 0;
    }
}