/* --------------------------------- product -------------------------------- */
.product {
    display: grid;
    grid-template-columns: 38% auto;
    gap: 0 60px;
    &__gallery-col {
        padding: 30px;
        background: #F2F2F2;
    }
    &__info-col {
        padding: 30px 50px 0 0;
    }
    &__gallery-swipe {
        pointer-events: none;
        display: none;
        font-size: 13px;
        background: #000;
        color: #fff;
        padding: 8px 10px;
        border-radius: 20px;
        i.mdi {
            font-size: 18px;
            margin: 0 10px;
        }
    }
    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    &__video {
        // padding-top: 100%;
        position: relative;
        grid-column: 2 span;
        background: black;
        border-radius: 15px;
        overflow: hidden;
        iframe,
        video {
            border-radius: 15px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__video-controls {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        gap: 15px;
        button {
            cursor: pointer;
            color: #fff;
            appearance: none;
            border: none;
            background: none;
            font-size: 24px;
            gap: 10px;
            &:last-child {
                margin-left: auto;
            }
        }
    }
    &__image-link {
        display: block;
        border-radius: 15px;
        overflow: hidden;
        img {
            width: 100%;
            vertical-align: middle;
        }
        &:not(&_half) {
            grid-column: 2 span;
        }
    }
    &__header {
        margin-bottom: 30px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        background: #fff;
        padding: 20px 0 20px;
        z-index: 1;
    }
    &__num {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        span {
            margin-left: 5px;
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: black;
            color: #fff;
            text-align: center;
            line-height: 40px;
        }
    }
    &__nav-link {
        line-height: 38px;
        text-align: center;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px $grey-line solid;
        font-size: 24px;
        color: #000;
        transition: all 0.3s;
        & + & {
            margin-left: 15px;
        }
        &:hover {
            border-color: $blue-bg;
            background: $blue-bg;
            color: #fff;
        }
        &_loading {
            i.mdi {
                display: none;
            }
            &:before {
                content: '';
                display: block;
                margin: 0 auto;
                margin-top: 9px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border-top: 2px transparent solid;
                border-right: 2px transparent solid;
                border-bottom: 2px $blue-bg solid;
                border-left: 2px $blue-bg solid;
                animation: 0.5s Spin infinite linear;
            }
            &:hover:before {
                border-bottom: 2px #fff solid;
                border-left: 2px #fff solid;
            }
        }
    }
    &__nav {
        display: flex;
        margin-left: auto;
    }
    &__close {
        margin-left: 30px;
        line-height: 38px;
        text-align: center;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 32px;
        color: black;
        transition: all 0.3s;
        &:hover {
            transform: rotate(180deg)
        }
    }
    &__info {
       padding-bottom: 30px;
    }
    &__info-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__add-favorite {
        cursor: pointer;
        right: 0px;
        top: 0px;
        appearance: none;
        border: none;
        font-size: 24px;
        color: rgba(black,0.6);
        background: none;
        &_active {
            animation: 0.5s like both;
        }
    }
    &__brand {
        font-size: 30px;
    }
    &__model {
        font-size: 20px;
    }
    &__tools-btn {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__description {
        margin: 50px 0;
        display: grid;
        gap: 15px;
    }
    &__description-collapse {
        display: grid;
        gap: 18px;
        overflow: hidden;
        max-height: 100%;
        &_active {
            max-height: 145px;
        }
    }
    &__description-btn {
        text-decoration: none;
        color: $blue-bg;
        font-weight: 500;
    }

    &__private-price {
        margin: 50px 0;
        display: grid;
        gap: 8px;
        grid-template-columns: 1fr auto;
    }
    &__private-price-value {
        font-size: 30px;
        font-weight: 500;
        font-family: $america;
        color: $blue-bg;
    }
    &__private-reference {
        color: $grey-text;
        font-size: 12px;
    }
    &__private-price-vat {
        font-size: 12px;
    }

    &__private-btns {
        margin: 30px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        > div {
            display: flex;
            justify-content: space-between;
            gap: 15px;
        }
    }
    &__private-contacts {
        margin: 30px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    &__private-payment {
        padding-left: 24px;
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 15px;
        .mdi {
            font-size: 22px;
        }
    }

    &__bids-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px 0;
        margin-bottom: 50px;
        hr {
            border: none;
            border-top: 1px $grey-line solid;
            background: none;
            margin: 15px 0;
            opacity: 0.5;
        }
    }

    &__bids-info-item {
        min-height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > span {
            color: $grey-text;
            display: flex;
            align-items: center;
            gap: 8px;
        }
        b {
            color: black;
        }
        strong {
            line-height: 30px;
            font-size: 18px;
            font-family: $america;
        }
    }

    &__bidder {
        font-weight: 500;
        line-height: 30px;
        span {
            text-transform: capitalize;
        }
    }


    &__bids {
        margin: 45px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }


    &__bids-history {
        font-family: $america;
        color: $blue-text;
        text-decoration: none;
        border: 2px $blue-text solid;
        font-size: 16px;
        font-weight: 500;
        padding: 5px 15px;
        border-radius: 15px;
        transition: all 0.3s;
        &:hover {
            background: $blue-bg;
            color: white;
        }
    }

    &__other-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    &__premium {
        b {
            display: block;
            margin-bottom: 10px;
        }
        a {
            font-size: 12px;
            color: $grey-text;
            font-weight: 500;
            margin-right: 15px;
            &:hover {
                color: $blue-text;
                text-decoration: none;
            }
        }
    }

    &__prams-title {
        font-size: 28px;
        margin: 45px 0 30px;
        font-weight: 500;
    }
    &__params {
        width: 100%;
        max-width: 700px;
        td {
            font-size: 14px;
            vertical-align: top;
            padding-bottom: 40px;
            line-height: 1.5;
        }
        td:first-child {
            font-weight: 600;
            width: 200px;
        }
        tr:last-child {
            td {
                padding-bottom: 0;
            }
        }

    }
    .article-text {
        max-width: 100%;
    }
}

.private-benefits {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    &__list {
        display: grid;
        gap: 15px;
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 25px;
        font-weight: 500;
        span {
            display: block;
            font-weight: 400;
            font-size: 12px;
        }
    }
    &__card {
        border: 1px $brown-bg solid;
        border-radius: 20px;
        padding: 30px 30px 30px 30px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__card-image {
        width: 110px;
        text-align: center;
    }
    &__card-text {
        display: grid;
        gap: 15px;
        h3 {
            font-size: 15px;
        }
        p {
            font-size: 12px;
        }
    }
}

.private-benefit
.estimator-review {
    margin: 45px 0;
    border-bottom: 1px $grey-line solid;
    padding-bottom: 45px;
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }
    &__text {
        margin-bottom: 30px;
        line-height: 1.5;
    }
    &__price {
        text-align: right;
        span {
            color: $grey-text;
        }
    }
    &__value {
        color: $blue-text;
        font-family: $america;
        line-height: 30px;
        font-size: 18px;
    }
}
.user-data {
    display: flex;
    align-items: center;
    gap: 20px;
    &__name {
        font-weight: bold;
    }
    &__spec {
        margin-top: 4px;
        font-size: 12px;
        max-width: 130px;
    }
}
.consultation-lang {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    a {
        margin-right: 8px;
        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
    }
    .flag-icon {
        font-size: 18px;
    }
}
.consultant-info {
    $root: &;
    display: flex;
    align-items: center;
    line-height: 20px;
    &_vertical {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px 0;
        #{$root}__name {
            margin: 0px;
        }
        #{$root}__contacts {
            margin: 0px;
        }
    }
    &__name {
        margin-left: 20px;
    }
    &__contacts {
        margin: 0 auto;
    }
    &__messangers {
        img {
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    b {
        display: block;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            opacity: 0.7;
        }
    }
}