@media screen and (max-width: 1366px) {
    .container {
        padding: 0 30px;
    }
    .main-banner {
        &__info {
            padding: 30px;
        }
    }
    .header {
        padding-left: 30px;
        padding-right: 30px;
    }
    .live-auction {
        grid-template-columns: 45% 30% 25%;
    }

    /* --------------------------------- account -------------------------------- */
    .profile {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        padding-top: 80px;
    }
    .blue-banner {
        margin-bottom: 50px;
    }
    .land-section {
        padding: 50px 0;
        &_half {
            padding: 50px 0;
        }
    }
    .header {
        height: 80px;
        padding-top: 0px;
        padding-bottom: 0px;
        .c-dropdown {
            display: none;
        }
        &__button {
            margin: 0 0 0 15px;
        }
        &__burger {
            display: block;
        }
        &__nav {
            display:none;
        }
        &__logo {
            img {
                height: 42px;
            }
        }
    }
    /* ---------------------------------- index --------------------------------- */
    .main-banner {
        grid-template-columns: 65% 35%;
        height: calc(100vh - 80px);
    }
    .services-list {
        grid-template-columns: 1fr 1fr;
        gap: 30px 30px;
        &__item:nth-child(1){
            grid-column: 1 / span 2;
        }
    }
    .auctions-list {
        gap: 50px 30px;
    }
    .world-records {
        &__list {
            grid-template-columns: repeat(3, 1fr);
            gap: 60px 10%;
        }
    }
    .our-team {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    /* --------------------------------- auction -------------------------------- */
    .lots-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* --------------------------------- product -------------------------------- */
    .product {
        padding: 30px;
        gap: 0 30px;
    }

    /* ---------------------------------- live ---------------------------------- */
    .live-auction {
        grid-template-columns: 1fr 1fr;
        &__video-col {
            grid-column: 1 / 2 span;
        }
    }

    /* --------------------------------- landing -------------------------------- */
    .sell-watch-form {
        gap: 0 50px;
    }


    /* --------------------------------- footer --------------------------------- */

    .footer {
        &__top-line {
            display: block;
        }
        &__contacts {
            display: none;
        }
    }

}

@media screen and (max-width: 768px) {
    .title {
        font-size: 28px;
        margin: 80px 0 40px;
        &_small {
            font-size: 20px;
            margin: 0 0 30px 0;
        }
    }
    /* ---------------------------------- index --------------------------------- */
    .main-banner {
        display: block;
        position: relative;
        margin-bottom: 80px;
        &__info {
            text-align: center;
            align-items: center;
            position: relative;
            background: rgba(darken($blue-bg,15), 0.9);
            z-index: 1;
        }
        &__image {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        }
    }

    .services-list {
        grid-template-columns: 1fr;
        gap: 30px 0px;
        &__item:nth-child(1){
            grid-column: 1 / span 1;
        }
        &__image {
            width: 60%;
            padding: 50px 0;
        }
    }

    .auctions-list {
        grid-template-columns: 1fr;
    }

    .auction-item {
        &__image {
            height: 20vh;
        }
    }
    
    .filtering-btns {
        &__sorting {
            display: none;
        }
    }

    .world-records {
        padding: 30px 0;
        &__list {
            grid-template-columns: repeat(2, 1fr);
            gap: 60px 10%;
        }
        &__item:last-child {
            grid-column: 1 / 2 span;
        }
    }

    .our-team {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /* --------------------------------- auction -------------------------------- */
    .lots-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .auction-detail {
        display: flex;
        flex-direction: column;
        .auction-date-location {
            margin-bottom: 30px;
        }
        &__teaser {
            order: -1;
            margin: 0 -30px 30px;
            max-width: none;
            border-radius: 0px;
            height: 50vh;
        }
        &__title {
            margin: 0 0 30px 0;
        }
        &__info {
            display: block;
        }
        &__start {
            margin-bottom: 30px;
        }
    }
    .product {
        display: block;
        padding: 0px;
        &__header {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            padding: 20px;
        }
        &__gallery-col {
            position: relative;
        }
        &__gallery-swipe {
            left: 50%;
            bottom: 50px;
            position: absolute;
            z-index: 1;
            display: flex;
            align-items: center;
            transform: translateX(-50%);
        }
        &__image-link {
            img {
                height: 70vh;
                object-fit: cover;
            }
        }
        &__info-col {
            padding: 30px;
        }
    }
    /* ---------------------------------- live ---------------------------------- */
    .live-auction {
        display: block;
        &__back {
            display: none;
        }
        &__col-head {
            box-shadow: 0 0 6px 5px rgba($blue-bg,0.05);
        }
        &__col-body {
            padding: 20px 20px 100px;
        }
        &__video-col {
            display: none;
        }
        &__current-lot-col {
            display: block;
        }
        &__current-lots-col {
            display: none;
        }
        &__lot {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
        &__bids {
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
            & + .c-button {
                display: flex;
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .bottom-navigation {
        display: block;
    }
    .lots-list {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    /* --------------------------------- profile -------------------------------- */
    .profile {
        padding-top: 30px;
        padding-bottom: 30px;
        &__title-small {
            margin: 40px 0 30px;
            &:first-child {
                margin-top: 30px;
            }
        }
        &__wrapper {
            display: block;
        }
    }
    .profile-general {
        margin-top: 30px;
    }
    .bids-list {
        margin-top: 20px;
        margin-left: -15px;
        margin-right: -15px;
        &__item {
            grid-template-columns: 2fr 2fr 1.5fr 1fr;
            padding: 15px;
            gap: 15px 15px;
        }
        &__cancel {
            grid-column: 1 / 4 span;
        }
    }
    .invoice-list {
        margin-left: -15px;
        margin-right: -15px;
        max-width: none;
        &__item {
            grid-template-columns: 1fr 1fr auto;
            padding: 15px;
            gap: 30px;
        }
    }

    /* --------------------------------- contact -------------------------------- */

    .contact {
        grid-template-columns: 1fr;
        gap: 50px 0;
    }

    /* --------------------------------- landing -------------------------------- */
    .sell-watch-form {
        grid-template-columns: 1fr;
        gap: 50px 0;
    }

    .our-feedbaks {
        .title {
            &:after {
                display: none;
            }
        }
        &__rate {
            margin-right: 0px;
        }
    }
    .sell-steps {
        &__list {
            gap: 30px;
            margin: 50px 0;
            grid-template-columns: repeat(3,1fr);
        }
    }
    .about-trade-in {
        &__list {
            gap: 0 30px;
        }
    }

    .collection-priorities {
        &__list {
            grid-template-columns: 1fr;
            gap: 30px 0;
        }
    }
    .sell-watch-form {
        &__right {
            > img {
                display: none;
            }
        }
    }

    /* --------------------------------- footer --------------------------------- */

    .footer {
        margin-top: 30px;
    }

    /* --------------------------------- global --------------------------------- */
    .article-text {
        h1 {
            font-size: 26px;
            margin: 30px 0 15px;
        }
        h2 {
            font-size: 24px;
            margin: 30px 0 15px;
        }
        h3 {
            font-size: 22px;
            margin: 30px 0 15px;
        }
        h4 {
            font-size: 20px;
            margin: 30px 0 15px;
        }
        h5 {
            font-size: 18px;
            margin: 30px 0 15px;
        }
        p {
            margin: 15px 0;
        }
        blockquote {
            padding: 30px;
            &:before {
                font-size: 100px;
                line-height: 100px;
                left: -15px;
                top: -20px;
            }
        }
    }
    .products-gallery {
        grid-gap: 30px;
    }
    /* ----------------------------------- ui ----------------------------------- */
    .tabs-list {
        display: flex;
        gap: 30px;
        border-bottom: 1px rgba($grey-line, .5) solid;
        padding: 20px 0;
        &_inline {
            margin-bottom: 15px;
        }
        &__item {
            line-height: 40px;
            font-size: 14px;
            flex: 1 1 auto;
            text-align: center;
        }
    }
    .tabs-blocks {
        &__item {
            &_active {
                animation: 0.8s fadeInUp both ease-in-out;
            }
        }
    }
    .c-field {
        & + .c-button {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 520px) {
    .mob-hidden {
        display: none;
    }
    .title {
        text-align: center;
        font-size: 22px;
        margin: 40px 0 20px;
        &_small {
            font-size: 20px;
            margin: 0 0 30px 0;
        }
        &_with-buttons {
            text-align: left;
        }
    }
    .header {
        padding-left: 15px;
        padding-right: 15px;
        height: 70px;
        &__search-form {
            input {
                font-size: 15px;
            }
        }
        &__button {
            margin: 0;
        }
    }
    .mobile-menu {
        top: 70px;
        &__body {
            padding: 20px;
        }
        &__footer {
            padding: 20px;
            .c-dropdown {
                width: 100%;
                border-width: 2px;
            }
            .account-drop {
                text-align: center;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                i.mdi {
                    margin-left: auto;
                }
            }
        }
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content {
        padding-top: 70px;
    }
    .main-banner {
        height: calc(100vh - 70px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        margin-bottom: 40px;
        .auction-date-location {
            i.mdi {
                color: #fff;
            }
            &__live {
                display: none;
            }
        }
        &__info {
            text-align: left;
            justify-content: start;
            padding: 20px 20px 50px;
            order: 1;
            background: $blue-bg;
        }
        &__image {
            position: static;
            order: 0;
        }
        &__title {
            text-align: center;
            width: 100%;
            font-size: 13px;
            left: 20px;
            top: 20px;
            height: auto;
            padding: 0px;
            line-height: 32px;
            border-radius: 8px;
        }
        &__auction {
            text-align: left;
            margin: 30px 0 30px;
            font-size: 28px;
        }
        .c-button {
            width: 100%;
        }
    }
    .mobile-menu {
        &__aside {
            max-width: 100%;
        }
    }
    .services-list {
        gap: 15px 0px;
        &__item {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 150px;
            padding: 20px;
            overflow: hidden;
            h3 {
                text-align: left;
                max-width: 120px;
                flex: 0 0 auto;
                font-size: 16px;
                br {
                    display: none;
                }
            }
            span {
                display: none;
            }
        }
        &__image {
            width: 50%;
            padding: 30px 0;
        }
        
    }
    .auction-item {
        border: 1px $grey-line solid;
        border-radius: 12px;
        padding-top: 50px;
        &__image {
            border-radius: 0px;
            height: 200px;
            margin: 0;
        }
        &__title {
            margin: 0px;
            padding: 30px 20px;
            position: static;
            border-bottom: 1px $grey-line solid;
        }
        &__name {
            padding: 0px;
            font-size: 18px;
        }
        &__lots {
            font-size: 13px;
        }
        &__date {
            font-size: 13px;
            height: 50px;
            align-items: center;
            padding: 0 15px;
            width: 100%;
            background: none;
            color: black;
            i.mdi {
                color: rgba($grey-text, .5);
            }
        }
        &__btns {
            padding: 0 20px 20px;
        }
        .auction-date-location {
            padding: 30px 20px;
            margin: 0px;
        }
    }
    
    .auction-date-location {
        margin-bottom: 30px;
        &__item {
            display: block;
            line-height: 20px;
            padding-left: 30px;
            position: relative;
            i.mdi {
                color: rgba($grey-text, .5);
                left: 0px;
                top: 1px;
                position: absolute;
                font-size: 18px;
                margin-right: 5px;
            }
            span {
                display: block;
                font-size: 13px;
            }
            span + span:before {
                display: none;
            }
            & + & {
                margin-top: 15px;
            }
        }
    }
    .our-team {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px 15px;
        &__body {
            margin-bottom: 15px;
        }
        &__name {
            font-size: 13px;
        }
        &__rank {
            font-size: 12px;
        }
        &__descr {
            padding: 15px;
        }
        &__video {
            i.mdi {
                font-size: 18px;
                line-height: 35px;
                width: 35px;
                height: 35px;
            }
        }
    }
    .another-questions {
        padding: 40px 0;
        h2 {
            font-size: 25px;
        }
    }

    /* --------------------------------- auction -------------------------------- */
    .lots-grid {
        grid-template-columns: 1fr;
    }
    .filtering-btns {
        > strong {
            font-size: 18px;
        }
        margin: 0 0 15px;
    }
    .auction-detail {
        margin-bottom: 30px;
        &__teaser {
            background-attachment: scroll;
            margin-left: -15px;
            margin-right: -15px;
        }
        &__title {
            margin: 0 0 30px 0;
            .c-button {
                display: none;
            }
        }
        &__start {
            border-top: 1px $grey-line solid;
            padding-top: 30px;
            align-items: center;
            > span {
                margin-right: auto;
                font-size: 13px;
                max-width: 100px;
                line-height: 20px;
            }
        }
    }

    /* --------------------------------- product -------------------------------- */
    .product {
        &__num {
            font-size: 12px;
            span {
                width: 32px;
                height: 32px;
                line-height: 32px;
            }
            
        }
        &__gallery-swipe {
            bottom: 30px;
        }
        &__nav-link {
            width: 32px;
            height: 32px;
            line-height: 30px;
            font-size: 18px;
        }
        &__close {
            margin-left: 15px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            font-size: 24px;
        }
        &__info-col {
            padding: 30px 20px 100px;
        }
        &__brand {
            margin-bottom: 15px;
        }
        &__name {
            font-size: 20px;
            margin-bottom: 30px;
        }
        &__price {
            border-top: 1px rgba($grey-line, .5) solid;
            padding: 30px 20px;
            margin: 0 -20px;
            div + div {
                margin-top: 15px;
            }
            span {
                font-size: 13px;
                font-weight: 500;
            }
            strong {
                font-size: 14px;
            }
        }
        &__bids {
            border-color: rgba($grey-line, .5);
            grid-template-columns: 80px 1fr;
            padding: 20px 20px;
            margin: 0 -20px 0px;
            strong {
                line-height: 1.5;
                font-size: 13px;
                opacity: 0.5;
            }
        }
        &__other-links {
            display: flex;
            justify-content: space-evenly;
            border-bottom: 1px rgba($grey-line, 0.5) solid;
            padding: 20px 20px;
            margin: 0 -20px 30px;
            a {
                margin: 0px;
                font-size: 13px;
            }
        }
        &__prams-title {
            margin: 30px 0 20px;
        }

        &__bids-btn {
            background: #fff;
            position: fixed;
            width: 100%;
            left: 0px;
            bottom: 0px;
            padding: 20px;

        }
        &__params {
            display: block;
            tr {
                display: block;
            }
            td {
                display: block;
                padding: 0px;
            }
            td:first-child {
                width: auto;
                padding: 30px 0 15px;
            }
        }
        &__btns {
            grid-template-columns: 1fr;
            gap: 15px 0;
        }
    }

    /* ---------------------------------- live ---------------------------------- */
    .live-auction {
        &__col-head {
            padding: 20px;
            .title {
                font-size: 18px;
                margin: 0px;
            }
        }
        &__stream_buttons {
            grid-template-columns: 1fr;
            gap: 20px;
            > .c-button {
                display: none;
            }
        }
        &__counts {
            position: absolute;
            top: 72px;
        }
        &__stream {
            margin-top: 30px;
        }
    }
    .lots-list {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    /* --------------------------------- profile -------------------------------- */
    .profile {
        padding: 20px;
    }
    .profile-general {
        &__row {
            font-size: 14px;
            margin-bottom: 30px;
            grid-template-columns: 1fr 1fr;
            gap: 10px 30px;
            > strong {
                text-align: right;
            }
            > a {
                grid-column: 1 / 2 span;
            }
        }
    }

    .bids-list {
        margin-left: -10px;
        margin-right: -10px;
        &__item {
            grid-template-columns: 1fr;
            gap: 10px;
            padding: 10px;
            strong + span {
                margin-top: 0px;
            }
        }
        &__auction-price {
            text-align: left;
            display: flex;
            strong + span {
                margin: 0 0 0 10px;
            }
            br {
                display: none;
            }
        }
        &__cancel {
            grid-column: auto;
        }
    }

    .credit-cards {
        &__type {
            grid-area: type
        }
        &__date {
            text-align: right;
            grid-area: date;
            margin: 0px;
        }
        &__num {
            grid-area: num;
            margin: 0px;
        }
        &__arrow {
            text-align: right;
            grid-area: arrow
        }
        &__list-item {
            display: grid;
            gap: 10px;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "type date"
            "num arrow"
        }
    }

    .invoice-list {
        &__item {
            grid-template-columns: 1fr 1fr;
            gap: 15px;
        }
        &__price {
            text-align: right;
        }
        &__btn {
            grid-column: 1 / 3;
            .c-button {
                width: 100%;
            }
        }
    }

    /* --------------------------------- contact -------------------------------- */
    .blue-banner {
        margin-bottom: 40px;
        padding: 60px 30px;
        &__image {
            img {
                max-width: 60%;
            }
        }
        &__text {
            font-size: 20px;
            line-height: 1.3;
        }
        &__title {
            font-size: 32px;
            margin: 30px 0;
        }
    }
    .contact-text {
        margin: 50px 0;
        font-size: 18px;
        strong {
            font-size: 22px;
        }
    }
    .contact {
        grid-template-columns: 1fr;
        gap: 30px 0;
        &__form {
            
        }
    }

    /* --------------------------------- landing -------------------------------- */
    .land-section {
        padding: 40px 0;
        &_half {
            padding: 40px 0;
        }
    }
    .our-priorities {
        &__list  {
            grid-template-columns: 1fr;
            gap: 30px;
            margin: 40px 0;
        }
        &__image {
            margin-bottom: 20px;
        }
        &__title {
            margin: 20px 0 10px;
            font-size: 18px;
        }
    }
    .learn-more-box {
        padding: 15% 30px;
    }
    .our-feedbaks {
        .title {
            display: grid;
            grid-template-columns: 1fr;
            gap: 15px;
        }
        &__rate {
            font-size: 18px;
            margin-right: auto;
        }
        &__text {
            height: 150px;
            font-size: 12px;
        }
        .slick-dots {
            margin-top: 30px;
        }
    }
    .sell-steps {
        &__list {
            grid-template-columns: 1fr 1fr;
        }
        &__item:before {
            margin-bottom: 0px;
        }
        &__item:last-child {
            grid-column: 1 / 2 span;
            text-align: center;
        }
        &__title {
            margin: 20px 0 10px;
            font-size: 18px;
        }
        &__btns {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }
    .about-trade-in {
        &__list {
            grid-template-columns: 1fr;
            gap: 30px;
            margin: 40px 0;
        }
        &__title {
            margin: 20px 0 10px;
            font-size: 18px;
        }
    }

    .collection-priorities {
        gap: 40px 0;
        &__item {
            grid-template-columns: 1fr;
            text-align: center;
        }
        &__title {
            margin: 20px 0 10px;
            font-size: 18px;
        }
    }

    .faq {
        &__title {
            font-size: 14px;
            padding: 15px;
            line-height: 1.3;
        }
        &__content {
            font-size: 14px;
            padding: 15px;
        }
    }

    /* --------------------------------- global --------------------------------- */
    .article-text {
        h2 {
            font-weight: 500;
            font-size: 22px;
            margin-top: 45px;
            margin-bottom: 20px;
        }
        p {
            margin: 15px 0;
        }
        figure {
            margin: 30px 0;
        }
        blockquote {
            margin: 30px 0;
            padding: 30px;
            font-size: 14px;
            &:before {
                font-size: 80px;
                left: -10px;
                top: -30px;
            }
        }
    }
    .products-gallery {
        grid-gap: 15px;
        &__image {
            margin-bottom: 15px;
        }
        &__brand {
            margin: 0 0 3px 0;
            font-size: 14px;
        }
        &__name {
            font-size: 12px;
        }
    }
    /* --------------------------------- footer --------------------------------- */

    .footer {
        padding: 40px 0;
        &__nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px 30px;
        }
        &__nav-title {
            margin-bottom: 15px;
        }
        &__bottom-line {
            margin-top: 40px;
        }
        &__logo {
            height: 40px;
        }
    }


    /* -------------------------------- page-cap -------------------------------- */

    .page-cap {
        text-align: center;
    }


    /* ---------------------------------- sign ---------------------------------- */
    .sign-back {
        position: sticky;
        top: 0px;
        padding: 20px;
        margin-bottom: 20px;
        background: #fff;
        z-index: 2;
    }
    .sign-form {
        margin: 0;
        padding: 0 20px 30px 20px;
        &__btns {
            margin-bottom: 30px;
        }
        &__sub-link {
            text-align: center;
        }
        &__note {
            margin-bottom: 30px;
            &_small {
                margin-top: 0;
            }
        }
        &__fields {
            margin-bottom: 40px;
        }
        &__birthday {
            grid-template-columns: 1fr 1fr;
            .c-select:last-child {
                grid-column: 1 / 2 span;
            }
        }
        &__phone {
            //grid-template-columns: 1fr 2fr;
        }
    }


    /* ----------------------------------- ui ----------------------------------- */
    .c-dropdown {
        &__list {
            &_right {
                right: 0px;
                width: 320px;
            }
        }
    }
    .c-button {
        $root: &;
        &_mob-mini {
            border-radius: 50px;
            i.mdi {
                margin: 0 !important;
            }
            &#{$root}_medium {
                border-color: transparent;
                padding: 0px;
                min-width: 50px;
            }
        }
    }
    .toggle-field {
        grid-template-columns: 1fr 1fr;
        gap: 15px 15px;
        strong {
            grid-column: 1 / 2 span;
        }
        &_auto {
            grid-template-columns: 1fr;
            gap: 15px 0;
            strong {
                grid-column: auto;
            }
        }

        
    }
    /* ----------------------------------- ui ----------------------------------- */
    .tabs-list {
        display: flex;
        gap: 15px;
        padding: 15px 0;
        &__item {
            font-size: 12px;
            line-height: 40px;
            padding: 0 10px;
        }
    }
    .modal-small {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        border-radius: 0px;
        height: 100%;
        padding: 20px;
        overflow: auto;
        a.close-modal {
            top: 15px;
        }
        &__body {
            padding: 30px 0;
        }
    }
    
    
}

