.container {
    padding: 0 150px;
}

.c-button {
    $root: &;
    font-family: $inter;
    border: none;
    background: none;
    text-align: center;
    display: inline-flex;
    border: none;
    height: 60px;
    border-radius: 14px;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 0 30px;
    transition: 0.2s all;
    i.mdi {
        font-size: 18px;
    }
    &_pulse:not(:active) {
        animation: pulse 2s infinite;
    }
    &_full {
        width: 100%;
    }
    &_blue {
        color: $blue-bg;
        border: 2px $blue-bg solid;
        &:hover {
            background: $blue-bg;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $blue-bg;
            &:hover {
                background: lighten($blue-bg,20);
                border-color: lighten($blue-bg,20);
            }
        }
    }
    &_white {
        color: #fff;
        border: 2px #fff solid;
        &:hover {
            background: #fff;
            color: #fff;
        }
        &#{$root}_filled {
            color: #000;
            background: #fff;
            &:hover {
                background: $brown-bg;
                border-color: $brown-bg;
            }
        }
    }
    &_grey {
        color: black;
        border: 1px $grey-line solid;
        &:hover {
            background: $grey-line;
        }
        &#{$root}_filled {
            color: #fff;
            background: $grey-text;
            &:hover {
                background: darken($grey-text,5);
                border-color: darken($grey-text,5);
            }
        }
    }
    &_green {
        color: $green-bg;
        border: 2px $green-bg solid;
        &:hover {
            background: $green-bg;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $green-bg;
            &:hover {
                background: darken($green-bg,5);
                border-color: darken($green-bg,5);
            }
        }
    }
    &_pink {
        color: $pink-text;
        border: 2px $pink-text solid;
        &:hover {
            background: $pink-text;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $pink-text;
            &:hover {
                background: darken($pink-text,5);
                border-color: darken($pink-text,5);
            }
        }
    }
    &_brown {
        color: $brown-text;
        border: 2px $brown-text solid;
        &:hover {
            background: $brown-text;
            color: #fff;
        }
        &#{$root}_filled {
            color: #fff;
            background: $brown-text;
            &:hover {
                background: darken($brown-text,5);
                border-color: darken($brown-text,5);
            }
        }
    }
    &_medium {
        height: 50px;
        border-radius: 12px;
        font-size: 15px;
        border-width: 1px;
        padding: 0 20px;
    }
    &_small {
        height: 35px;
        border-radius: 30px;
        font-size: 13px;
    }
    &_icon-left {
        .mdi:first-child {
            margin-right: 10px;
        }
    }
    &_icon-right {
        .mdi:last-child {
            margin-left: 10px;
        }
    }
    &_round {
        border-radius: 40px;
    } 
    &_loading {
        text-indent: -9999px;
        position: relative;
        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border-top: 2px transparent solid;
            border-right: 2px transparent solid;
            border-bottom: 2px #fff solid;
            border-left: 2px #fff solid;
            animation: 0.5s Spin infinite linear;
        }
    }
    &:disabled,
    &.disabled {
        background: $grey-line;
        border-color: $grey-line;
        color: #fff;
        pointer-events: none;
    }
    &.no-action {
        pointer-events: none;
    }
    &:active {
        transform: scale(0.95);
    }
}

.c-field {
    $root: &;
    position: relative;
    margin-top: 30px;
    // &:first-child {
    //     margin-top: 0px;
    // }
    &:after,&:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
        height: 2px;
    }
    &:after {
        width: 100%;
        background: $grey-line;
    }
    &:before {
        width: 0;
        background: $blue-bg;
        z-index: 1;
        transition: all 0.3s;
    }
    &_code-drop {
        #{$root}__label {
            left: 55px;
        }
    }
    &.active {
        #{$root}__label {
            top: -10px;
            left: 0px;
            color: $blue-text;
            font-size: 12px;
            font-weight: 500;
        }
        &:before {
            width: 100%;
        }
    }
    &__input {
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 0px;
        font-size: 16px;
        outline: none;
    }
    textarea.c-field__input {
        resize: vertical;
        min-height: 90px;
        padding-top: 20px;
    }
    &__label {
        color: $grey-text;
        pointer-events: none;
        top: 20px;
        line-height: 20px;
        left: 0px;
        position: absolute;
        font-size: 16px;
        transition: all 0.3s;
    }
    &__note {
        position: absolute;
        bottom: -18px;
        right: 0px;
        font-size: 12px;
        font-weight: 500;
        &_red {
            color: $red-text;
        }
        &_green {
            color: $green-text;
        }
    }
    & + .c-button {
        margin-top: 80px;
    }
}

.toggle-field {
    $root: &;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 100px 100px;
    gap: 0 30px;
    align-items: center;
    position: relative;
    &_auto {
        grid-template-columns: auto auto auto;
    }
    &_3x {
        grid-template-columns: 200px 1fr 1fr 1fr;
    }
    &__input {
        display: none;
        &:checked + #{$root}__label {
            background: $blue-bg;
            border-color: $blue-bg;
            color: #fff;
        }
    }
    &__label {
        padding: 10px 0;
        border: 1px $grey-line solid;
        border-radius: 12px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background: $grey-line;
        }
    }
    &__note {
        position: absolute;
        bottom: -10px;
        left: 0px;
        font-size: 12px;
        font-weight: 500;
        &_red {
            color: $red-text;
        }
        &_green {
            color: $green-text;
        }
    }
}

.badge {
    display: inline-block;
    vertical-align: middle;
    background: $pink-text;
    color: #fff;
    border-radius: 10px;
    font-size: 10px;
    padding: 0 7px;
    line-height: 17px;
    margin-left: 5px;
}

.c-chekbox {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0 15px;
    cursor: pointer;
    &:hover {
        color: $blue-text;
    }
    input {
        margin-top: 1px;
    }
    &:last-child {
        margin: 0px;
    }
}

.c-dropdown {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    &_full {
        display: block;
        width: 100%;
    }
    &__list {
        display: none;
        top: calc(100% + 10px);
        white-space: normal;
        position: absolute;
        left: 0px;
        right: 0px;
        border: 1px $grey-line solid;
        border-radius: 12px;
        background: #fff;
        padding: 15px 5px 15px 15px;
        z-index: 2;
        &_right {
            left: auto;
            width: 300px;
        }
        &_left {
            right: auto;
            width: 300px;
        }
        &_position-top {
            top: auto;
            bottom: calc(100% + 10px);
        }
    }
    &__scroll {
        max-height: 300px;
        padding-right: 10px;
        overflow: auto;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($blue-bg,1);
            border: 2px solid #fff;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    &__link {
        display: block;
        line-height: 20px;
        color: #000;
        padding: 13px 24px;
        text-decoration: none;
        font-weight: 500;
        border-radius: 8px;
        transition: all 0.3s;
        &:hover {
            background: rgba($grey-text, 0.05);
        }
    }
}

.c-progress-bar {
    height: 10px;
    border-radius: 20px;
    border: 1px rgba($grey-line, 0.5) solid;
    position: relative;
    &_large {
        height: 30px;
    }
    &__bar {
        width: 50%;
        height: 100%;

        &_green {
            border-radius: 20px;
            background: $green-bg;
        }
        &_red {
            border-radius: 20px;
            background: $red-bg;
        }
    }
    &__count {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        height: 100%;
        font-weight: 500;
        border-radius: 20px;
        background: rgba(#fff,0.8);
        &_green {
            color: $green-bg;
        }
        &_red {
            color: $red-bg;
        }
    }
}

.c-select {
    position: relative;
    margin-top: 30px;
    .select2-container--default {
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            width: 0;
            background: $blue-bg;
            height: 2px;
            transition: all 0.3s;
        }
        &.select2-container--open,
        &.select2-container--below {
            &:after {
                width: 100%;
            }
        } 
        &.select2-container--open{
            .select2-selection__arrow {
                transform: rotateX(180deg);
            }
        } 
        .select2-selection--single {
            height: 60px;
            border: none;
            border-bottom: 2px #DFDFDF solid;
            border-radius: 0px;
            .select2-selection__rendered {
                font-size: 16px;
                font-weight: 500;
                padding: 0 30px 0 0;
                color: #000;
                line-height: 60px;
            }
        }
        .select2-results__option--highlighted[aria-selected]{
            background: rgba($grey-text, 0.05);
            color: white;

        }
        .select2-results__option[aria-selected=true] {
            background: rgba($grey-text, 0.05);
            color: white;
        }

        .select2-selection__arrow {
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: 28px;
            text-rendering: auto;
            line-height: inherit;
            color: $blue-text;
            -webkit-font-smoothing: antialiased;
            height: 60px;
            width: auto;
            line-height: 58px;
            text-align: center;
            transition: all 0.3s;
            &:before {
                content: "\F0140";
            }
            b {
                display: none;
            }
        }
    }
    &__label {
        color: $blue-text;
        pointer-events: none;
        font-weight: 500;
        top: -10px;
        line-height: 20px;
        left: 0px;
        position: absolute;
        font-size: 12px;
        transition: all 0.3s;
    }
}

.c-accordion {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px rgba($grey-line, 0.5) solid;
        border-radius: 12px;
        padding: 10px 15px;
        margin: 15px 0;
        cursor: pointer;
        &:hover,
        &_active {
            border-color: $blue-bg;
            background: $blue-bg;
            color: #fff;
        }
        &_active {
            i.mdi {
                transform: rotateX(180deg);
            }
        }
        i.mdi {
            font-size: 24px;
        }
        &:first-child {
            margin-top: 0px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &__list {
        display: none;
    }
    &__link {
        display: block;
        padding: 10px 0 10px 15px;
        text-decoration: none;
        color: inherit;
        &:hover {
            background: rgba($grey-text, 0.05);
            border-radius: 5px;
        }
    }
}

.select2-container--default {
    .select2-results__options {
        padding-right: 5px;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba($blue-bg,1);
            border: 1px solid #fff;
            border-radius: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
    .select2-results__option {
        border-radius: 8px;
        padding: 13px 24px;
    }
    .select2-results__option--highlighted[aria-selected]{
        background: rgba($grey-text, 0.05);
        color: black;

    }
    .select2-results__option[aria-selected=true] {
        background: rgba($grey-text, 0.05);
        color: black;
    }
}
.select2-dropdown {
    border: 1px $grey-line solid !important;
    border-radius: 12px !important;
    background: #fff;
    padding: 5px 5px 5px 5px;
    margin: 15px 0;
}

.tabs-list {
    &__item {
        display: block;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;
        line-height: 54px;
        padding: 0 25px;
        &_active {
            background: rgba($blue-bg, 0.06);
        }
    }
    &_inline {
        display: flex;
        margin-bottom: 30px;
    }
}
.tabs-blocks {
    &__item {
        display: none;
        &_active {
            display: block;
            animation: 0.8s fadeInLeft both ease-in-out;
        }
    }
}


.blocker {
    z-index: 999;
    background: rgba(78, 78, 92, 0.41);
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($blue-bg,1);
        border-radius: 10px;
        &:hover {
            background-color: rgba($blue-bg,1);
        }
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.modal {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba($blue-bg,1);
        border-radius: 10px;
        &:hover {
            background-color: rgba($blue-bg,1);
        }
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}
.sign-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    max-width: 100%;
    padding: 0px;
    overflow: auto;
    a.close-modal {
        display: none;
    }
}

.modal-small {
    max-width: 550px;
    padding: 40px 50px;
    border-radius: 14px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.13);
    &_2x {
        max-width: 900px;
    }
    &_fs {
        overflow: auto;
        border-radius: 0px;
        max-width: none;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }
    &__title {
        font-size: 20px;
        font-weight: 500;
    }
    &__body {
        padding: 50px 0;
        p {
            line-height: 1.5;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 0 30px;
    }
    a.close-modal {
        right: 20px;
        top: 20px;
        color: black;
        font-size: 32px;
        text-indent: 0;
        background: none;
        opacity: 0.4;
        transition: all 0.5s;
        &:hover {
            opacity: 1;
            color: $blue-text;
        }
    }
}
.modal-video {
    padding: 3px;
    max-width: 900px;
    width: 100%;
    &__wrapper {
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
        border-radius: 8px;
    }
    iframe {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        vertical-align: middle;
    }
}
.modal-right-sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0 30px;
    border-radius: 0px;
    box-shadow: none;
    max-width: 600px;
    overflow: auto;
    a.close-modal {
        right: 20px;
        top: 20px;
        color: black;
        font-size: 32px;
        text-indent: 0;
        background: none;
        opacity: 0.4;
        transition: all 0.5s;
        &:hover {
            opacity: 1;
            color: $blue-text;
        }
    }
}
.notice-list {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
    &__item {
        text-align: center;
        padding: 15px 30px;
        font-size: 13px;
        &_red {
            background: $red-bg;
            color: #fff;
        }
        &_green {
            background: $green-text;
            color: #fff;
        }
        &_new {
            animation: fadeInUp 1s ease-in-out;
        }
    }
}

.burger-btn {
    display: inline-block;
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    text-decoration: none;
    padding: 2px 3px;
    span {
        margin: 5px 0;
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        border-radius: 2px;
        position: relative;
        top: 0px;
        transition: all 0.3s;
    }
    &_active {
        span:nth-child(1) {
            transform: rotate(-45deg);
            top: 7px;
        }
        span:nth-child(3) {
            transform: rotate(45deg);
            top: -7px;
        }
        span:nth-child(2) {
            transform: translateX(-150%);
            opacity: 0;
        }
    }
}

@keyframes Spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
    50% {
		transform: scale(1);
	}
    75% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
        
	}
}

// @keyframes ButtonClick {
//     30% {
//         transform: scale(1.05);
//         opacity:0;
//     }
//     99% {
//         opacity:0;
//     }
//     100% {
//         opacity:1;
//     }
// }