$america: 'GT America Extended', sans-serif;
$inter: 'Inter', sans-serif;
$blue-bg: #1C2473;
$blue-text: #1C2473;
$grey-text: #676767;
$green-bg: #5DA651;
$green-text: #529959;
$red-text: #D33C3C;
$red-bg: #E42B2B;
$grey-line: #E1E1E1;
$pink-text:#e91e63;
$brown-text:#BD9E5E;
$brown-bg:#BD9E5E;
$yellow-text:#ffeb3b;
$yellow-bg:#ffeb3b;
$violet:#BB13B4;
$dark-grey: #2F3140;
$milk-white: #F1E8DD;
$light-black: #2F3140;


