@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(../font/font.css);

*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------------------- vars ---------------------------------- */
@import '_vars.scss';
$america: 'GT America Extended', sans-serif;
$blue-bg: #1C2473;
$blue-text: #1C2473;
$grey-text: #676767;
$green-text: #529959;
$red-text: #B54C4C;
$grey-line: #DFDFDF;
/* --------------------------------- mixins --------------------------------- */
@import '_mixins.scss';
/* --------------------------------- global --------------------------------- */
@import '_global.scss';
/* ----------------------------------- ui ----------------------------------- */
@import '_ui.scss';
/* --------------------------------- header --------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    padding: 30px 60px;
    z-index: 100;
    transition: padding 0.5s, box-shadow 1s;
    &_mini {
        padding: 15px 30px;
        box-shadow: 0 0 10px 6px rgba($blue-bg,0.2);
    }
    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    &__nav-link {
        color: $grey-text;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            color: $blue-text;
        }
        & + & {
            margin-left: 40px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__button {
        display: inline-flex;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #000;
        margin-right: 15px;
        transition: all 0.2s;
        i.mdi {
            margin: auto;
            font-size: 20px;
        }
        &:hover {
            background: $blue-bg;
            color: #fff;
        }
        &:active {
            transform: scale(0.8);
        }
    }
    &__account {
        height: 45px;
        border: 1px $grey-line solid;
        border-radius: 30px;
        font-weight: 500;
        padding: 0 25px;
        line-height: 42px;
        color: #000;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            background: $blue-bg;
            border-color: $blue-bg;
            color: #fff;
        }
    }
}
/* --------------------------------- content -------------------------------- */
.content {
    padding-top: 220px;
}
/* ------------------------------ auctions-list ----------------------------- */
.auctions-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px 65px;
}
/* ------------------------------ auction-item ------------------------------ */
.auction-item {
    $root: &;
    &__image {
        display: block;
        overflow: hidden;
        border-radius: 20px;
        height: 15vw;
        margin-bottom: 35px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
        }
        &:hover {
            img {
                transform: scale(1.1) rotate(-2deg);
                filter: sepia(100%);
            }
        }
    }
    &:nth-child(2n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.1) rotate(2deg);
                filter: sepia(100%);
            }
        }
    }
    &:nth-child(3n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.1) rotate(0deg);
                filter: sepia(100%);
            }
        }
    }
    &__title {
        position: relative;
        margin-bottom: 55px;
    }
    &__name {
        font-family: $america;
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 18px 0;
        transition: all 0.3s;
        &:hover {
            color: $blue-text;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    &__lots {
        color: $grey-text;
        font-weight: 500;
    }
    &__date {
        right: 0px;
        top: 0px;
        position: absolute;
        display: flex;
        height: 48px;
        line-height: 30px;
        border-radius: 14px;
        color: #fff;
        background: #000;
        padding: 9px 24px;
        i.mdi {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

.auction-date-location {
    margin-bottom: 40px;
    &__item {
        display: flex;
        align-items: center;
        i.mdi {
            font-size: 18px;
            margin-right: 5px;
        }
        span {
            font-size: 13px;
        }
        span + span:before {
            content: "—";
            display: inline-block;
            margin: 0 10px;
        }
        & + & {
            margin-top: 15px;
        }
    }

}

/* ------------------------------ auction item ------------------------------ */
.auction-teaser {
    margin-bottom: 40px;
    img {
        width: 100%;
    }
}
/* ---------------------------------- lots ---------------------------------- */
.lots-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 5px;
}
.lot-item {
    $root: &;
    &__image {
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            transition: all 0.8s;
        }
    }
    &__body {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        max-height: 100%;
        transition: all 0.5s;
    }
    &__price {
        margin: 15px 0 0 0;
        padding: 0 15px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__price-range {
        color: $grey-text;
    }
    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(black,0.5);
        padding: 30px;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
    }
    &__count {
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        left: 25px;
        bottom: 25px;
        background: black;
        color: #fff;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        font-size: 13px;
        transition: all 0.2s;
    }
    &__name {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 30px;
        line-height: 1.3;
        text-shadow: 0 0 4px rgba(#000, 0.5);
        transform: translateY(-30px);
        opacity: 0;
        transition: all 0.5s;
    }
    &__brand {
        font-family: $inter;
        color: #fff;
        margin-bottom: auto;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 1px;
        opacity: 0;
        transition: all 0.5s;
    }
    &__link {
        position: relative;
        display: block;
        margin: 0 auto auto;
        width: 55px;
        height: 55px;
        background: white;
        color: black;
        border-radius: 50%;
        line-height: 55px;
        font-size:32px;
        opacity: 0;
        top: 30px;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.2) rotate(360deg);
            transition-duration: 0.3s;
        }
    }
    &__favorite {
        position: absolute;
        bottom: 30px;
        left: 50%;
        border: none;
        margin-left: -90px;
        border-radius: 50px;
        width: 180px;
        height: 35px;
        background: #000;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
        opacity: 0;
        transition: all 0.3s;
        i.mdi {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -12px 0 0 -12px;
            color: $pink-text;
            font-size: 24px;
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            transition: all 0.3s;
        }
        span {
            font-weight: 500;
            transition: all 0.3s;
        }
        &:hover {
            background: $blue-bg;
        }
        &_active {
            margin: 0 0 -10px -25px;
            width: 50px;
            height: 50px;
            span {
                transform: scale(0);
            }
            i.mdi {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &:not(#{$root}_static):hover {
        #{$root}__brand {
            opacity: 1;
        }
        #{$root}__body {
            transform: scale(0.97);
            transform-origin: 50% 70%;
        }

        #{$root}__name {
            opacity: 1;
            transform: translateY(0px);
        }
        #{$root}__link {
            opacity: 1;
            top: 0px;
        }
        #{$root}__favorite {
            opacity: 1;
        }
        #{$root}__info {
            opacity: 1;
        }
        #{$root}__count {
            transform: scale(0.5);
            opacity: 0;
        }
    }
    &:not(#{$root}_static):nth-child(n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.2) rotate(0deg);
                filter: blur(3px)
            }
        }
    }
    &:not(#{$root}_static):nth-child(2n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.2) rotate(5deg);
                filter: blur(3px)
            }
        }
    }
    &:not(#{$root}_static):nth-child(3n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.2) rotate(-5deg);
                filter: blur(3px)
            }
        }
    }
    &:not(#{$root}_static):nth-child(4n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.4) rotate(0deg);
                filter: blur(3px)
            }
        }
    }
    
}

.live-auction {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    &__video-col,
    &__current-lot-col,
    &__current-lots-col {
        position: relative;
    }
    &__current-lot-col,
    &__current-lots-col {
        border-left: 1px $grey-line solid;
    }
    &__col-holder {
        position: sticky;
        top: 0
    }
    &__counts {
        line-height: 20px;
        align-self: baseline;
        font-weight: 500;
        display: flex;
        align-items: baseline;
        font-size: 13px;
    }
    &__users {
        color: $red-text;
        margin-right: 15px;
        i.mdi {
            font-size: 20px;
            vertical-align: middle;
        }
    }
    &__col-head {
        padding: 30px 30px 0;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        background: #fff;
        z-index: 1;
    }
    &__col-body {
        padding: 0 30px 30px 30px;
    }
    &__stream {
        border-radius: 15px;
        overflow: hidden;
        margin: 0 0 20px 0;
        video {
            vertical-align: middle;
            width: 100%;
        }
    }
    &__stream_buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    &__bids {
        border: 1px $grey-line solid;
        border-radius: 15px;
        margin: 0 0 20px 0;
    }
    &__bids-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        font-size: 13px;
        font-weight: 500;
        div:first-child {
            color: $grey-text;
        }
        i.mdi {
            color: black;
            font-size: 20px;
            vertical-align: middle;
            margin-right: 5px;
        }
        & + & {
            border-top: 1px $grey-line solid;
        }
    }
    &__lot {
        margin: 0 0 20px 0;
        height: calc(100vh - 335px);
    }
}

.lots-list {
    display: grid;
    row-gap: 30px;
}
.lot-item-small {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: all 0.2s;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: -15px;
        top: -15px;
        bottom: -15px;
        right: -15px;
        background: rgba($blue-bg, 0.05);
        border-radius: 8px;
        z-index: -1;
        opacity: 0;
        transform: scale(0.9);
        transition: all 0.3s;
    }
    &:hover {
        &:before {
            opacity: 1;
            transform: scale(1);
        }
    }
    &:active {
        transform: scale(0.95);
    }
    &__image {
        flex: 0 0 auto;
        width: 80px;
        height: 110px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__status {
        display: inline-block;
        line-height: 23px;
        padding: 0 15px;
        font-size: 11px;
        border-radius: 10px;
        margin: 0 0 15px 0;
        &_grey {
            background: #D8D8D8;
        }
        &_red {
            background: $red-bg;
            color: #fff;
        }
    }
    &__name {
        font-size: 14px;
        color: $grey-text;
        margin: 0 0 15px 0;
    }
    &__price {
        font-size: 13px;
        font-weight: 500;
    }
}

/* ---------------------------------- sign ---------------------------------- */
.sign-wrapper {
    min-height: 100vh;
    display: flex;
    position: relative;
}
.sign-back {
    position: absolute;
    left: 65px;
    top: 60px;
    color: $grey-text;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
        color: $blue-text;
        transform: scale(1.1);
    }
}
.sign-form {
    margin: auto;
    width: 100%;
    max-width: 460px;
    &__title {
        font-size: 42px;
        font-weight: 400;
        margin: 0 0 60px 0;
    }
    &__fields {
        margin-bottom: 60px;
    }
    &__btns {
        margin-bottom: 60px;
    }
    &__btn + &__btn {
        margin-top: 25px;
    }
    &__sub-link {
        color: $grey-text;
        a {
            text-decoration: none;
            color: $blue-text;
            font-weight: 500;
        }
    }
    &__note {
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 60px;
        &_small {
            margin-top: -30px;
            color: #4A4848;
        }
    }
}



/* --------------------------------- footer --------------------------------- */
.footer {
    margin: 130px 0 0 0;
    padding: 60px 0;
    &__top-line {
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
    }
    &__nav-title {
        display: block;
        font-size: 16px;
        margin-bottom: 40px;
    }
    &__nav-link {
        font-weight: 500%;
        display: block;
        font-size: 14px;
        text-decoration: none;
        color: inherit;
        transition: all 0.3s;
        & + & {
            margin-top: 15px;
        }
        &:hover {
            color: #1C2473;
            transform: translateX(10px);
        }
    }
    &__contacts {
        font-size: 14px;
        margin-left: 10%;
        margin-top: 56px;
        line-height: 28px;
        text-align: right;
    }
    &__bottom-line {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &__logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    &__lang {
        height: 40px;
        border-radius: 20px;
        color: #fff;
        text-decoration: none;
        background: black;
        line-height: 40px;
        padding: 0 30px;
        transition: all 0.3s;
        &:hover {
            background: $blue-bg;
        }
    }
}