@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(../font/font.css);

*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------------------------------- vars ---------------------------------- */
@import '_vars.scss';
$america: 'GT America Extended', sans-serif;
$blue-bg: #1C2473;
$blue-text: #1C2473;
$grey-text: #676767;
$green-text: #529959;
$red-text: #B54C4C;
$grey-line: #DFDFDF;
/* --------------------------------- mixins --------------------------------- */
@import '_mixins.scss';
/* --------------------------------- global --------------------------------- */
@import '_global.scss';
/* ----------------------------------- ui ----------------------------------- */
@import '_ui.scss';
/* --------------------------------- header --------------------------------- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    padding: 30px 60px;
    z-index: 100;
    transition: padding 0.5s, box-shadow 1s;
    &_mini {
        padding: 15px 30px;
        box-shadow: 0 0 10px 6px rgba($blue-bg,0.2);
    }
    &__logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        &_mobile {
            display: none;
        }
        &_tablet {
            display: none;
        }
    }
    &__nav-link {
        color: $grey-text;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            color: $blue-text;
        }
        & + & {
            margin-left: 40px;
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
    &__button {
        display: inline-flex;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        color: #000;
        margin-right: 15px;
        position: relative;
        transition: all 0.2s;
        i.mdi {
            margin: auto;
            font-size: 20px;
        }
        &:hover {
            background: $blue-bg;
            color: #fff;
        }
        &:active {
            transform: scale(0.8);
        }
        small {
            position: absolute;
            right: 5px;
            top: 5px;
            background: $pink-text;
            color: #fff;
            width: 16px;
            height: 16px;
            border-radius: 10px;
            text-align: center;
            line-height: 16px;
            font-size: 10px;
        }
    }
    &__account {
        display: block;
        height: 45px;
        border: 1px $grey-line solid;
        border-radius: 30px;
        font-weight: 500;
        padding: 0 25px;
        line-height: 42px;
        color: #000;
        text-decoration: none;
        transition: all 0.3s;
        .mdi-account-outline {
            display: none;
        }
        &:hover {
            background: #000;
            border-color: #000;
            color: #fff;
        }
    }
    &__search {
        display: none;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #fff;
        .container {
            height: 100%;
        }
    }
    &__search-form {
        height: 100%;
        display: flex;
        align-items: center;
        input {
            font-size: 20px;
            border: none;
            height: 40px;
            flex: 1 1 auto;
            margin-right: 30px;
            outline: none;
        }
        a {
            font-size: 32px;
        }
    }
    &__burger {
        display: none;
    }
}

/* ------------------------------- mobile-menu ------------------------------ */
.mobile-menu {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(#000,0.5);
    &__aside {
        background: #fff;
        height: 100%;
        width: 100%;
        max-width: 400px;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    &__head {
        height: 80px;
        padding: 0 30px;
        display: flex;
        align-items: center;
    }
    &__body {
        padding: 30px;
    }
    &__footer {
        padding: 30px;
    }
    &__burger {
        margin-right: 30px;
    }
    &__logo {
        &_tablet {
            height: 40px;
        }
        &_mobile {
            display: none
        }
    }
    &__link {
        display: flex;
        font-weight: 500;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        color: black;
        margin-bottom: 15px;
        line-height: 25px;
        &:hover {
            color: $blue-text;
        }
        i.mdi {
            opacity: 0.6;
            font-size: 24px;
        }
    }
    &__sub-nav {
        display: none;
        opacity: 0.6;
    }
    &__select {
        display: inline-block;
        position: relative;
        margin-right: 30px;
        select {
            font-weight: 500;
            height: 30px;
            font-size: 15px;
            appearance: none;
            border: none;
            padding: 0 20px 0 0;
            outline: none;
            cursor: pointer;
        }
        i.mdi {
            pointer-events: none;
            font-size: 20px;
            position: absolute;
            right: 0px;
            top: 7px;
        }
    }
}
/* --------------------------------- content -------------------------------- */
.content {
    padding-top: 105px;
}
/* ---------------------------------- index --------------------------------- */
.main-banner {
    display: grid;
    grid-template-columns: 50% 50%;
    height: calc(100vh - 105px);
    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 30px 50px 30px 150px;
        background: $blue-bg;
        color: #fff;
        min-height: 100%;
    }
    &__image {
        min-height: 100%;
        img {
            width: 100%;
            height: 100%;
            vertical-align: middle;
            object-fit:cover; 
        }
    }
    &__auction {
        margin: 60px 0;
        font-size: 40px;
        max-width: 360px;
        font-weight: 500;
        line-height: 1.2;
    }
    &__title {
        display: inline-block;
        height: 48px;
        line-height: 30px;
        border-radius: 14px;
        color: #fff;
        background: #000;
        padding: 9px 24px;
    }
}

.services-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
    &__item {
        overflow: hidden;
        text-decoration: none;
        color: #000;
        border-radius: 12px;
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px $grey-line solid;
        padding: 30px;
        height: 290px;
        transition: all 0.3s;
        span {
            margin-top: auto;
            font-size: 15px;
            color: $grey-text;
            font-weight: 500;
            line-height: 1.2;
            transition: all 0.3s;
        }
        &:hover {
            background: $blue-bg;
            border-color: $blue-bg;
            color: #fff;
            span {
                color: #fff;
            }
            svg path {
                stroke: #fff;
            }
        }
    }
    h3 {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 500;
    }
    &__image {
        position: absolute;
        &_1 {
            width: 285px;
            height: 212px;
            right: 10px;
            bottom: 30px;
        }
        &_2 {
            width: 354px;
            height: 238px;
            right: -50px;
            bottom: 20px;
        }
        &_3 {
            width: 233px;
            height: 172px;
            right: 20px;
            bottom: 60px;
        }
    }

}

.world-records {
    background: #F5F5F5;
    padding: 80px 0;
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0 5%;
    }
    &__year {
        color: $blue-text;
        font-size: 44px;
        font-weight: 400;
        margin-bottom: 50px;
    }
    &__descr {
        display: grid;
        grid-row-gap: 30px;
        font-weight: 400;
        line-height: 1.5;
        font-size: 15px;
        color: #444;
        strong {
            font-weight: 600;
            display: block;
        }
    }
}

.our-team {
    $root: &;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 30px;
    &__body {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        margin: 0 0 30px 0;
        &:hover {
            #{$root}__descr {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__image {
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    &__descr {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(#000, 0.66);
        color: #fff;
        padding: 25px;
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
    &__video {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
        &:hover {
            i.mdi {
                background: $blue-bg;
            }    
        }
        i.mdi {
            text-align: center;
            line-height: 45px;
            background: $brown-bg;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            font-size: 20px;
            transition: all 0.3s;
        }
    }
    &__name {
        font-size: 17px;
        margin-bottom: 5px;
    }
    &__rank {
        font-size: 13px;
        color: #B0B0B0;
    }
}

.another-questions {
    margin-top: 100px;
    background: $blue-bg;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    h2 {
        font-size: 34px;
        margin-bottom: 40px;
    }
}
/* ------------------------------ auctions-list ----------------------------- */
.auctions-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px 65px;
}
/* ------------------------------ auction-item ------------------------------ */
.auction-item {
    $root: &;
    &__image {
        display: block;
        overflow: hidden;
        border-radius: 20px;
        height: 15vw;
        margin-bottom: 35px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
        }
    }
    &__title {
        position: relative;
        margin-bottom: 55px;
    }
    &__name {
        font-family: $america;
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 18px 0;
        padding-right: 210px;
        transition: all 0.3s;
        &:hover {
            color: $blue-text;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }
    &__lots {
        color: $grey-text;
        font-weight: 500;
    }
    &__date {
        right: 0px;
        top: 0px;
        position: absolute;
        display: flex;
        height: 48px;
        line-height: 30px;
        border-radius: 14px;
        color: #fff;
        background: #000;
        padding: 9px 24px;
        i.mdi {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

/* ----------------------------- auction-detail ----------------------------- */
.auction-detail {
    &__teaser {
        border-radius: 24px;
        margin-bottom: 50px;
        height: 30vh;
        max-width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__start {
        align-self: flex-start;
        display: flex;
        > span {
            font-weight: 500;
            color: $grey-text;
            margin: 3px 35px 0 0;
        }
    }
    &__buttons {
        .c-button + .c-button {
            margin-top: 15px;
        }
    }
}

.auction-date-location {
    margin-bottom: 50px;
    &__item {
        display: flex;
        align-items: center;
        i.mdi {
            font-size: 18px;
            margin-right: 5px;
        }
        span {
            font-size: 13px;
        }
        span + span:before {
            content: "—";
            display: inline-block;
            margin: 0 10px;
        }
        & + & {
            margin-top: 15px;
        }
    }
    &__live {
        margin-left: 15px;
        color: $red-text;
        border: 1px $red-text solid;
        border-radius: 5px;
        font-size: 13px;
        padding: 5px 10px;
        font-weight: 500;
    }
}

.start-timer {
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0 20px;
    text-align: center;
    overflow: hidden;
    &__digits {
        font-weight: 500;
        font-family: $america;
        font-size: 20px;
        display: block;
        position: relative;
        &:before {
            content: ":";
            position: absolute;
            left: -13px;
            top: -1px;
        }
    }
    &__name {
        font-weight: 500;
        margin-top: 10px;
        display: block;
        color: $grey-text;
        font-size: 13px;
    }

}
/* ---------------------------------- lots ---------------------------------- */
.lots-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 5px;
}
.lot-item {
    $root: &;
    &__image {
        img {
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            transition: all 0.8s;
        }
    }
    &__body {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        max-height: 100%;
        transition: all 0.5s;
    }
    &__price {
        margin: 15px 0 0 0;
        padding: 0 15px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__price-range {
        color: $grey-text;
    }
    &__info {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(black,0.5);
        padding: 30px;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
    }
    &__count {
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        left: 25px;
        bottom: 25px;
        background: black;
        color: #fff;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        font-size: 13px;
        transition: all 0.2s;
    }
    &__name {
        font-size: 22px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 30px;
        line-height: 1.3;
        text-shadow: 0 0 4px rgba(#000, 0.5);
        overflow: hidden;
        span {
            display: block;
            transform: translateY(100%);
            transition: all 0.5s;
        }
    }
    &__brand {
        font-family: $inter;
        color: #fff;
        margin-bottom: auto;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: 1px;
        opacity: 0;
        transition: all 0.5s;
    }
    &__link {
        position: relative;
        display: block;
        margin: 0 auto auto;
        width: 55px;
        height: 55px;
        background: white;
        color: black;
        border-radius: 50%;
        line-height: 55px;
        font-size:32px;
        opacity: 0;
        top: 30px;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.2) rotate(360deg);
            transition-duration: 0.3s;
        }
    }
    &__favorite {
        position: absolute;
        bottom: 30px;
        left: 50%;
        border: none;
        margin-left: -90px;
        border-radius: 50px;
        width: 180px;
        height: 35px;
        background: #000;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        cursor: pointer;
        white-space: nowrap;
        opacity: 0;
        transition: all 0.3s;
        i.mdi {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -12px 0 0 -12px;
            color: $pink-text;
            font-size: 24px;
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            transition: all 0.3s;
        }
        span {
            font-weight: 500;
            transition: all 0.3s;
        }
        &:hover {
            background: $blue-bg;
        }
        &_active {
            margin: 0 0 -10px -25px;
            width: 50px;
            height: 50px;
            span {
                transform: scale(0);
            }
            i.mdi {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    &:not(#{$root}_static):hover {
        #{$root}__brand {
            opacity: 1;
        }
        #{$root}__body {
            transform: scale(0.97);
            transform-origin: 50% 70%;
        }
        #{$root}__name {
            span {
                transform: translateY(0);
            }
        }
        #{$root}__link {
            opacity: 1;
            top: 0px;
        }
        #{$root}__favorite {
            opacity: 1;
        }
        #{$root}__info {
            opacity: 1;
        }
        #{$root}__count {
            transform: scale(0.5);
            opacity: 0;
        }
    }
    &:not(#{$root}_static):nth-child(n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.2) rotate(0deg);
                //filter: blur(3px)
            }
        }
    }
    &:not(#{$root}_static):nth-child(2n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.2) rotate(5deg);
                //filter: blur(3px)
            }
        }
    }
    &:not(#{$root}_static):nth-child(3n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.2) rotate(-5deg);
                //filter: blur(3px)
            }
        }
    }
    &:not(#{$root}_static):nth-child(4n+0):hover {
        #{$root}__image {
            img {
                transform: scale(1.4) rotate(0deg);
                //filter: blur(3px)
            }
        }
    }
    
}

.live-auction {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    &__video-col,
    &__current-lot-col,
    &__current-lots-col {
        position: relative;
    }
    &__current-lot-col,
    &__current-lots-col {
        border-left: 1px $grey-line solid;
    }
    &__col-holder {
        position: sticky;
        top: 0
    }
    &__counts {
        line-height: 20px;
        align-self: baseline;
        font-weight: 500;
        display: flex;
        align-items: baseline;
        font-size: 13px;
    }
    &__users {
        color: $red-text;
        margin-right: 15px;
        i.mdi {
            font-size: 20px;
            vertical-align: middle;
        }
    }
    &__back {
        margin-top: -7.5px;
    }
    &__col-head {
        padding: 30px 30px 0;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        background: #fff;
        z-index: 1;
    }
    &__col-body {
        padding: 0 30px 30px 30px;
    }
    &__stream {
        border-radius: 15px;
        overflow: hidden;
        margin: 0 0 20px 0;
        video {
            vertical-align: middle;
            width: 100%;
        }
    }
    &__stream_buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    &__bids {
        border: 1px $grey-line solid;
        border-radius: 15px;
        margin: 0 0 20px 0;
    }
    &__bids-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        font-size: 13px;
        font-weight: 500;
        div:first-child {
            color: $grey-text;
        }
        i.mdi {
            color: black;
            font-size: 20px;
            vertical-align: middle;
            margin-right: 5px;
        }
        & + & {
            border-top: 1px $grey-line solid;
        }
    }
    &__lot {
        margin: 0 0 20px 0;
        height: calc(100vh - 335px);
    }
}

.lots-list {
    display: grid;
    row-gap: 30px;
}
.lot-item-small {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    position: relative;
    transition: all 0.2s;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: -15px;
        top: -15px;
        bottom: -15px;
        right: -15px;
        background: rgba($blue-bg, 0.05);
        border-radius: 8px;
        z-index: -1;
        opacity: 0;
        transform: scale(0.9);
        transition: all 0.3s;
    }
    &:hover {
        &:before {
            opacity: 1;
            transform: scale(1);
        }
    }
    &:active {
        transform: scale(0.95);
    }
    &__image {
        flex: 0 0 auto;
        width: 80px;
        height: 110px;
        border-radius: 8px;
        overflow: hidden;
        margin-right: 30px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__status {
        display: inline-block;
        line-height: 23px;
        padding: 0 15px;
        font-size: 11px;
        border-radius: 10px;
        margin: 0 0 15px 0;
        &_grey {
            background: #D8D8D8;
        }
        &_red {
            background: $red-bg;
            color: #fff;
        }
    }
    &__name {
        font-size: 14px;
        color: $grey-text;
        margin: 0 0 15px 0;
    }
    &__price {
        font-size: 13px;
        font-weight: 500;
    }
}


/* --------------------------------- product -------------------------------- */
.product {
    display: grid;
    grid-template-columns: 38% auto;
    gap: 0 60px;
    padding: 60px;
    &__gallery-col {
        //padding: 60px 0;
    }
    &__info-col {
        //padding: 40px 0 60px;
    }
    &__gallery-swipe {
        pointer-events: none;
        display: none;
        font-size: 13px;
        background: #000;
        color: #fff;
        padding: 8px 10px;
        border-radius: 20px;
        i.mdi {
            font-size: 18px;
            margin: 0 10px;
        }
    }
    &__gallery {
        display: grid;
        grid-row-gap: 15px;
    }
    &__image-link {
        display: block;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    &__header {
        margin-bottom: 60px;
        position: sticky;
        top: 0px;
        display: flex;
        align-items: center;
        background: #fff;
        padding: 20px 0 20px;
        z-index: 1;
    }
    &__num {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: black;
        color: #fff;
        text-align: center;
        line-height: 40px;
        font-size: 13px;
        margin-right: auto;
    }
    &__nav-link {
        line-height: 38px;
        text-align: center;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px $grey-line solid;
        font-size: 24px;
        color: #000;
        transition: all 0.3s;
        & + & {
            margin-left: 15px;
        }
        &:hover {
            border-color: $blue-bg;
            background: $blue-bg;
            color: #fff;
        }
    }
    &__nav {
        display: flex;
    }
    &__close {
        margin-left: 30px;
        line-height: 38px;
        text-align: center;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 32px;
        color: black;
        transition: all 0.3s;
        &:hover {
            transform: rotate(180deg)
        }
    }
    &__brand {
        font-weight: 500;
        color: $grey-text;
        margin-bottom: 30px;
    }
    &__name {
        font-size: 24px;
        margin-bottom: 60px;
    }
    &__price {
        margin-bottom: 40px;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        div + div {
            margin-top: 40px;
        }
        span {
            color: $grey-text;
        }
        strong {
            font-family: $america;
            font-size: 17px;
            text-transform: uppercase;
            color: $blue-text;
        }
    }
    &__bids {
        border-top: 1px $grey-line solid;
        border-bottom: 1px $grey-line solid;
        padding: 30px 0;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr 1.5fr;
        gap: 0 20px;
        margin-bottom: 30px;
    }
    &__btns {
        margin: 20px 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 30px;
    }
    &__other-links {
        a {
            color: $grey-text;
            font-weight: 500;
            margin-right: 30px;
            &:hover {
                color: $blue-text;
                text-decoration: none;
            }
        }
    }
    &__prams-title {
        font-size: 24px;
        margin: 60px 0 60px;
    }
    &__params {
        width: 100%;
        max-width: 700px;
        td {
            font-size: 14px;
            vertical-align: top;
            padding-bottom: 40px;
            line-height: 1.5;
        }
        td:first-child {
            width: 200px;
            color: $grey-text;
        }

    }
}


/* --------------------------------- account -------------------------------- */
.profile {
    padding: 0 60px 60px;
    &__title {
        font-size: 34px;
        color: $blue-text;
        margin-bottom: 120px;

    }
    &__wrapper {
        display: grid;
        grid-template-columns: 220px auto;
        gap: 0 7%;
    }
    &__title-small {
        color: $blue-text;
        font-weight: 700;
        margin: 100px 0 70px;
        &:first-child {
            margin-top: 0;
        }
    }
}

.bids-list {
    max-width: 1100px;
    &__item {
        line-height: 1.4;
        font-size: 14px;
        display: grid;
        grid-template-columns: 25% 20% 15% 10%;
        gap: 0 10%;
        padding: 30px 35px;
        cursor: pointer;
        border-radius: 8px;
        transition: all 0.3s;
        &:hover {
            background: rgba($grey-text, 0.05);
        }
        span {
            display: block;
            color: $grey-text;
        }
        strong {
            display: block;
            & + span {
                margin-top: 10px;
            }
        }
    }
    &__auction-price {
        text-align: right;
    }
}

.invoice-list {
    max-width: 700px;
    &__item {
        line-height: 1.4;
        font-size: 14px;
        display: grid;
        gap: 0 10%;
        grid-template-columns: 2fr 1.5fr 1fr;
        padding: 30px 35px;
        cursor: pointer;
        border-radius: 8px;
        transition: all 0.3s;
        &:hover {
            background: rgba($grey-text, 0.05);
        }
        b {
            font-size: 15px;
            line-height: 17px;
        }
        span {
            display: block;
            margin-top: 10px;
            color: $grey-text;
        }
    }
    &__btn {
        text-align: right;
    }
}

.profile-general {
    max-width: 700px;
    &__row {
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        gap: 0 30px;
        margin-bottom: 50px;
        span {
            color: $grey-text;
        }
        a {
            justify-content: flex-end;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            transition: all 0.3s;
            i.mdi {
                margin-left: 10px;
            }
            &:hover {
                transform: translateX(10px);
            }
        }
    }
    &__note {
        font-size: 13px;
        line-height: 1.5;
        margin: 0 0 30px;
    }
    &__verify {
        width: 100%;
        max-width: 270px;
    }
}


.credit-cards {
    max-width: 700px;
    &__list-item {
        cursor: pointer;
        padding: 12px 30px;
        display: flex;
        align-items: center;
        border-radius: 14px;
        border: 1px $grey-line solid;
        margin-bottom: 20px;
        transition: all 0.3s;
        &:hover {
            background: rgba($grey-text, 0.05);
        }
    }
    &__type {
        width: 35px;
        height: 35px;
        text-align: center;
        i.mdi {
            line-height: 35px;
            color: $blue-text;
            font-size: 24px;
        }
        img {
            width: 100%;
        }
    }
    &__stars {
        letter-spacing: 1px;
        color: $grey-text;
        opacity: 0.5;
    }
    &__num {
        font-weight: 500;
        margin-left: 30px;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0 12px;
    }
    &__date {
        font-weight: 500;
        margin-right: 50px;
    }
    &__arrow {
        font-size: 28px;
        color: $grey-text;
        opacity: 0.5;
        line-height: 35px;
    }
}


/* ---------------------------------- sign ---------------------------------- */
.sign-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sign-back {
    padding: 60px 0 60px 65px;
    color: $grey-text;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
        color: $blue-text;
    }
}
.sign-form {
    margin: auto;
    width: 100%;
    max-width: 460px;
    &__title {
        font-size: 42px;
        font-weight: 400;
        margin: 0 0 60px 0;
        &_small {
            color: $blue-text;
            font-size: 28px;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    &__fields {
        margin-bottom: 60px;
    }
    &__btns {
        margin-bottom: 60px;
    }
    &__btn + &__btn {
        margin-top: 25px;
    }
    &__sub-link {
        color: $grey-text;
        a {
            text-decoration: none;
            color: $blue-text;
            font-weight: 500;
        }
    }
    &__note {
        line-height: 1.5;
        margin-bottom: 60px;
        &_small {
            margin-top: -30px;
            color: #4A4848;
        }
    }
    &__profile-note {
        font-size: 13px;
        line-height: 1.5;
        margin: 40px 0;
    }
    &__double {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 15px;
    }
    &__birthday {
        display: grid;
        grid-template-columns: 2.2fr 1fr 1fr;
        gap: 0 15px;
    }
    &__phone {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 0 15px;
    }
}

.drop-zone {
    margin-bottom: 50px;
    &__label {
        border: 2px $grey-line dashed;
        border-radius: 12px;
        display: grid;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-size: 13px;
        padding: 8vh 15px;
        cursor: pointer;
        position: relative;
        transition: all 0.3s;
        &:hover {
            border: 2px $blue-bg solid;
            background: rgba($blue-bg, 0.05);
        }
    }
    input {
        left: 0px;
        top: 0px;
        pointer-events: none;
        visibility: hidden;
        opacity: 0;
        position: absolute;
    }
    i.mdi {
        color: $blue-bg;
        font-size: 28px;
    }
    
}

.upload-files {
    display: grid;
    grid-row-gap: 20px;
    margin-bottom: 50px;
    &__item {
        display: grid;
        grid-template-columns: 50px 1fr 32px;
        align-items: center;
    }
    &__image {
        width: 50px;
        height: 50px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        padding: 0 50px 0 15px;
        font-size: 13px;
        font-weight: 500;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 10px 0px;
    }
    &__progress {
        height: 4px;
        background: rgba($grey-text, 0.1);
        border-radius: 2px;
        grid-column: 1 / span 2;
        div {
            background: $blue-bg;
            height: 100%;
        }
    }
    &__weight {
        font-size: 11px;
        font-weight: 500;
        color: $grey-text;
    }
    &__remove {
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        text-align: center;
        line-height: 32px;
        font-size: 24px;
        &:hover {
            background: rgba($grey-text, 0.1);
        }
    }
}

/* --------------------------------- modals --------------------------------- */
.card-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
    .c-field:first-child {
        grid-column: 1 / span 2;
    }
}
.card-remove-btn {
    display: inline-block;
    margin-top: 40px;
    text-decoration: none;
    color: $grey-text;
}



/* --------------------------------- footer --------------------------------- */
.footer {
    margin: 130px 0 0 0;
    padding: 60px 0;
    &__top-line {
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        flex: 1 1 auto;
    }
    &__nav-title {
        display: block;
        font-size: 16px;
        margin-bottom: 40px;
    }
    &__nav-link {
        font-weight: 500%;
        display: block;
        font-size: 14px;
        text-decoration: none;
        color: inherit;
        transition: all 0.3s;
        & + & {
            margin-top: 15px;
        }
        &:hover {
            color: #1C2473;
            transform: translateX(10px);
        }
    }
    &__contacts {
        font-size: 14px;
        margin-left: 10%;
        margin-top: 56px;
        line-height: 28px;
        text-align: right;
    }
    &__bottom-line {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    &__logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    &__lang {
        height: 40px;
        border-radius: 20px;
        color: #fff;
        text-decoration: none;
        background: black;
        line-height: 40px;
        padding: 0 30px;
        transition: all 0.3s;
        &:hover {
            background: $blue-bg;
        }
    }
}

@import '_responsive.scss';


