@import url(../font/sf.css);

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'SF UI Display';
    height: 100%;
    font-size: 14px;
    color: #2d2d2d;
}

body.menu-open {
    overflow: hidden;
}

input, select, textarea, select {
    font-family: 'SF UI Display';
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.app .main-header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.app .main-section {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.app .main-footer {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

/******************container**************/
.container {
    margin: auto;
    max-width: 1440px;
    min-width: 1024px;
    padding: 0 30px;
}

/******************sign pages*************/
.sign-wrapper {
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
}

.sign-wrapper .sign-present-column {
    width: 50%;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.sign-wrapper .sign-form-column {
    width: 50%;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #191933;
}

.sign-present-column {
    padding: 60px 45px 35px 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.sign-present-column .chorono-info {
    margin-top: auto;
    margin-bottom: auto;
}

.sign-present-column .chorono-info > img {
    max-width: 270px;
}

.sign-present-column .chorono-info p {
    font-weight: 300;
    color: #2d2d2d;
    font-size: 18px;
    margin: 50px 0 70px;
    line-height: 1.5;
}

.sign-present-column .chorono-info strong {
    font-weight: 600;
}

.sign-present-column .chorono-info .btns .c-btn {
    width: 270px;
}

.sign-present-column .chorono-info .btns .blue {
    display: none;
}

.sign-present-column .logo {
    width: 100%;
}

.sign-present-column .logo img {
    width: 100%;
    max-width: 190px;
}

.sign-present-column .chrono-account {
    display: none;
    text-align: center;
}

.sign-present-column .chrono-account a {
    display: block;
}

.sign-present-column .chrono-footer {
    letter-spacing: 1px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 10px;
    color: #8f92a1;
    text-transform: uppercase;
    font-weight: 600;
}

.sign-present-column .chrono-footer a {
    font-size: 10px;
}

.sign-form-column {
    padding: 35px 35px 0 35px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.sign-form-column .form-wrapper {
    width: 100%;
    max-width: 375px;
    color: #fff;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
}

.sign-form-column .form-wrapper h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
}

.sign-form-column .form-wrapper .c-checkbox {
    margin-left: 60px;
}

.sign-form-column .form-wrapper .btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.sign-form-column .form-wrapper .link {
    margin-left: 20px;
}

.sign-form-column .bottom-btn {
    text-align: center;
    background: #fff;
    width: 100%;
    max-width: 375px;
    margin: auto;
    border-radius: 32px 32px 0 0;
    padding: 50px 30px;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

.sign-form-column .bottom-btn span {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}

.sign-form-column .bottom-btn .c-btn {
    width: 100%;
}

/********************main-header************/
.main-header {
    padding: 25px 0;
    background-color: #191933;
    color: #fff;
}

.main-header .logo img {
    width: 192px;
}

.main-header .main-header-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-header .ineichen-info {
    margin-left: 10%;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.main-header .ineichen-info span {
    line-height: 18px;
    font-size: 12px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    white-space: nowrap;
}

.main-header .head-btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border: none;
    color: #fff;
}

.main-header .head-btn i.mdi {
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    display: block;
    color: #fff;
    border-radius: 12px;
    background: #23236a;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    transition: all 0.5s;
}

.main-header .head-btn span {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-header .head-btn + .head-btn {
    margin-left: 40px;
}

.main-header .head-btn:hover i.mdi {
    background: #c6a55b;
}

.main-header #mobileMenueOpen {
    display: none;
}

.main-header #mobileMenueOpen.active i.mdi {
    background-color: #f76844;
}

/********************main-section*************/
.main-section .container {
    display: -ms-flexbox;
    display: flex;
}

/********************left-side-navigation*********/
.left-side-navigation {
    width: 280px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border-right: 1px #efefef solid;
    padding: 30px 30px 30px 0;
}

.left-side-navigation strong {
    margin-bottom: 10px;
    display: block;
    color: #818181;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.left-side-navigation ul {
    list-style: none;
}

.left-side-navigation ul + strong {
    margin-top: 40px;
}

.left-side-navigation ul li {
    font-size: 25px;
    color: #2d2d2d;
    font-weight: 600;
    transition: all 0.5s;
}

.left-side-navigation ul li + li {
    margin-top: 15px;
}

.left-side-navigation ul li:hover {
    color: #c6a55b;
}

.left-side-navigation ul a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.left-side-navigation ul i.mdi {
    font-size: 22px;
    margin-right: 8px;
}

.left-side-navigation ul.small {
    margin-top: 15px;
}

.left-side-navigation ul.small li {
    font-size: 18px;
    padding-left: 30px;
}

.left-side-navigation ul.small li + li {
    margin-top: 10px;
}

.left-side-navigation .need-help {
    position: -webkit-sticky;
    position: sticky;
    margin-top: 50px;
    top: 30px;
    position: sticky;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

.left-side-navigation .need-help:hover i.mdi {
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
}

.left-side-navigation .need-help .mdi {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    font-size: 60px;
    line-height: 100px;
    margin-right: 20px;
    background: #f76844;
    text-align: center;
    transition: all 1s;
}

.left-side-navigation .need-help span {
    color: #8f92a1;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
}

/********************main-content***************/
.main-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px 0 30px 30px;
}

/************************digest-realease************/
.digest-realease {
    margin-bottom: 55px;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.digest-realease .number {
    font-size: 108px;
    margin-right: 30px;
    font-weight: 600;
}

.digest-realease .name {
    margin-top: 15px;
    line-height: 50px;
    display: block;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.digest-realease .date {
    color: #8f92a1;
    font-weight: 600;
    letter-spacing: 1px;
}

/**********************catalog-tools*****************/
.catalog-tools {
    margin-bottom: 40px;
}

.catalog-tools .to-compare {
    text-align: center;
}

.catalog-tools .to-compare .link {
    display: inline-block;
}

.catalog-tools .to-compare .link i.mdi {
    vertical-align: middle;
    color: #000;
    font-size: 24px;
}

.filtering {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px #cbcbcb solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.filtering .search {
    margin-left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.filtering .search input {
    outline: none;
    height: 35px;
    border: 1px solid #979797;
    padding: 0 10px;
}

.filtering .search .small-btn {
    margin-left: 10px;
}

.catalog-filters {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog-filters .item {
    padding-right: 10px;
    width: 25%;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.catalog-filters strong {
    display: block;
    font-size: 11px;
    font-weight: 600;
    color: #4b4c50;
}

.catalog-filters .filter-drop {
    display: inline-block;
    position: relative;
}

.catalog-filters .filter-drop.dk-select-open-down .dk-select-options {
    display: block;
}

.catalog-filters .filter-drop .dk-selected {
    cursor: pointer;
    padding: 5px 20px 5px 0;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    font-size: 11px;
    color: rgba(75, 76, 80, 0.7);
    outline: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catalog-filters .filter-drop .dk-selected:after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    bottom: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
}

.catalog-filters .filter-drop .dk-select-options {
    display: none;
    position: absolute;
    top: 130%;
    background: #191933;
    z-index: 2;
    white-space: nowrap;
    list-style: none;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 12px;
}

.catalog-filters .filter-drop .dk-select-options li {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.catalog-filters .filter-drop .dk-select-options li:hover {
    color: #f76844;
}

.catalog-filters select.filter-drop {
    display: none;
}

.mobile-catalog-tools {
    display: -ms-flexbox;
    display: flex;
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mobile-catalog-tools i.mdi {
    vertical-align: middle;
    color: #000;
    font-size: 24px;
}

/***********************catalog-grid*****************/
.catalog-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(420px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 30px 50px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    -ms-flex-align: center;
    align-items: center;
}

.catalog-grid .d-height {
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
}

.catalog-grid-item {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 500px;
    margin: auto;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.catalog-grid-item .item-image {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 210px;
    margin-right: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.catalog-grid-item .item-image .badge {
    display: none;
    background: #fff;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #c3c3c3;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 22px;
    font-size: 7px;
    text-align: center;
    font-weight: 700;
}

.catalog-grid-item .item-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    max-width: 100%;
}

.catalog-grid-item .item-info {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.catalog-grid-item .item-info .brand {
    display: block;
    font-size: 17px;
    font-weight: 600;
}

.catalog-grid-item .item-info .name {
    min-height: 36px;
    line-height: 18px;
    font-weight: 500;
    display: block;
    font-size: 16px;
}

.catalog-grid-item .table-params {
    margin: 8px 0 13px;
}

.catalog-grid-item .table-params table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.catalog-grid-item .table-params td {
    padding: 6px 0;
    border-bottom: 1px #f5f5f5 solid;
}

.catalog-grid-item .table-params td:first-child {
    text-align: left;
    color: #8f92a1;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.catalog-grid-item .table-params td:last-child {
    vertical-align: middle;
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}

.catalog-grid-item .table-params td:last-child small {
    display: inline-block;
    font-size: 14px;
}

.catalog-grid-item .profits-bloks {
    margin-bottom: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.catalog-grid-item .profit-block {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 1px;
}

.catalog-grid-item .profit-block span {
    font-weight: 700;
    font-size: 12px;
}

.catalog-grid-item .profit-block b {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}

.catalog-grid-item .btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.catalog-grid-item .btns .orange {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 5px;
}

.digest-catalog-item {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.digest-catalog-item .image {
    border-radius: 12px 12px 0 0;
    position: relative;
    overflow: hidden;
    height: 359px;
}

.digest-catalog-item .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
}

.digest-catalog-item .image .badge {
    display: none;
    background: #fff;
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid #c3c3c3;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 22px;
    font-size: 7px;
    text-align: center;
    font-weight: 700;
}

.digest-catalog-item .digest-item-info {
    padding: 30px;
    border: 1px solid #e1e1e1;
    background-color: rgba(216, 216, 216, 0.4);
    border-radius: 0 0 12px 12px;
}

.digest-catalog-item .digest-item-info-head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.digest-catalog-item .digest-item-info-head .properties-column {
    width: 25%;
}

.digest-catalog-item .digest-item-info-head .name-column {
    width: 75%;
}

.digest-catalog-item .digest-item-info-head .brand {
    display: block;
    font-size: 15px;
    color: #2d2d2d;
    font-weight: 700;
    margin-bottom: 3px;
}

.digest-catalog-item .digest-item-info-head .name {
    line-height: 1.3;
    color: #2d2d2d;
    font-size: 16px;
    font-weight: 500;
}

.digest-catalog-item .digest-item-info-head .reference-num,
.digest-catalog-item .digest-item-info-head .equipment {
    display: block;
    font-size: 10px;
    color: #8f92a1;
    font-weight: 600;
}

.digest-catalog-item .digest-item-info-head .reference-num {
    margin-top: 3px;
}

.digest-catalog-item .digest-item-info-head .condition {
    margin: 6px 0;
    display: block;
    font-size: 10px;
    font-weight: 700;
}

.digest-catalog-item .digest-item-price-table {
    margin: 30px 0 15px;
}

.digest-catalog-item .digest-item-price-table table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

.digest-catalog-item .digest-item-price-table th {
    font-size: 12px;
    color: #8f92a1;
    letter-spacing: 1px;
    font-weight: 600;
    border-bottom: 1px rgba(143, 146, 161, 0.7) solid;
    padding: 0 0 4px 0;
}

.digest-catalog-item .digest-item-price-table th:first-child {
    text-align: left;
}

.digest-catalog-item .digest-item-price-table th:last-child {
    text-align: right;
}

.digest-catalog-item .digest-item-price-table td {
    padding-top: 5px;
    padding-bottom: 25px;
    text-align: center;
    width: 33.333%;
    font-size: 16px;
    font-weight: 700;
}

.digest-catalog-item .digest-item-price-table td:first-child {
    text-align: left;
}

.digest-catalog-item .digest-item-price-table td:last-child {
    text-align: right;
}

.digest-catalog-item .digest-item-price-table td small {
    margin-right: 4px;
    font-size: 10px;
}

.digest-catalog-item .profits-bloks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.digest-catalog-item .profit-block {
    margin-right: 15px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

.digest-catalog-item .profit-block span {
    font-weight: 700;
    font-size: 12px;
}

.digest-catalog-item .profit-block b {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
}

.digest-catalog-item .digest-item-info-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.digest-catalog-item .btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.digest-catalog-item .btns .orange {
    min-width: 140px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 5px;
}

/********************mobile-navigation-bar*****************/
.mobile-navigation-bar {
    display: none;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    width: 100%;
    background: #fff;
    padding: 30px 0;
    border-radius: 30px 30px 0 0;
}

.mobile-navigation-bar ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
}

.mobile-navigation-bar ul li {
    -ms-flex-align: center;
    align-items: center;
}

.mobile-navigation-bar ul i.mdi {
    font-size: 28px;
    line-height: 40px;
}

.mobile-navigation-bar ul a {
    display: block;
}

.mobile-navigation-bar ul a.active {
    color: #f76844;
    position: relative;
}

.mobile-navigation-bar ul a.active:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #f76844;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: -5px;
}

.mobile-navigation-bar ul span {
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.mobile-navigation-bar ul .mdi.mdi-lifebuoy {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #f76844;
    font-size: 26px;
}

/********************footer*****************/
.main-footer {
    background: #191933;
    color: #fff;
    padding: 30px 0;
}

.main-footer-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.main-footer-inner > div {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.main-footer-inner hr {
    margin: 0 45px;
    border: none;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    width: 1px;
    background: rgba(255, 255, 255, 0.5);
}

.footer-company-info .logos {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.footer-company-info .logos a + a {
    margin-left: 50px;
}

.footer-company-info .logos a:first-child img {
    height: 50px;
}

.footer-company-info .logos img {
    height: 30px;
}

.footer-company-info .copy {
    font-size: 10px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5;
}

.footer-company-info strong {
    font-size: 10px;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.footer-company-info b {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.footer-company-info b + strong {
    margin-top: 20px;
}

.footer-company-links strong {
    font-size: 10px;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.footer-company-links .soc-and-apps {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer-company-links ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.footer-company-links ul i.mdi {
    font-size: 28px;
}

.footer-company-links ul a:hover {
    color: #c6a55b;
}

.footer-company-links ul li + li {
    margin-left: 15px;
}

.footer-company-links .privacy-links {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer-company-links .privacy-links a {
    font-size: 10px;
}

/*******************mobile-modal*************/
.blocker {
    z-index: 1000;
}

.mobile-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0px;
    padding: 0px;
}

.mobile-modal .mobile-modal-wrapper {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mobile-modal .mobile-modal-header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 15px 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 1px #eee solid;
}

.mobile-modal .mobile-modal-content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px 30px;
}

.mobile-modal .mobile-modal-footer {
    padding: 15px 30px;
    border-top: 1px #eee solid;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.mobile-modal .mobile-modal-footer .btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mobile-modal .mobile-modal-footer .btns .c-btn {
    width: calc(50% - 10px);
}

.mobile-modal a.close-modal {
    display: none;
}

/***********************ui*****************/
.c-btn {
    display: inline-block;
    background: none;
    border: none;
    height: 55px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 12px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    padding: 0 20px;
    transition: all 0.3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-btn.orange {
    background: #c6a55b;
    color: #fff;
}

.c-btn.orange:hover {
    background: #b18d3d;
}

.c-btn.blue {
    background: #23236a;
    color: #fff;
}

.c-btn.blue:hover {
    background: #303090;
}

.c-btn.white {
    background: #fff;
    border: 2px solid rgba(143, 146, 161, 0.2);
    line-height: 51px;
}

.c-btn.white:hover {
    border-color: #23236a;
    background: #23236a;
    color: #fff;
}

.c-input {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 30px;
    position: relative;
}

.c-input .c-input-icon {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 18px;
    margin-right: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 50px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
}

.c-input .c-input-icon-field {
    right: 0px;
    bottom: 0px;
    line-height: 35px;
    position: absolute;
}

.c-input .input {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.c-input label {
    letter-spacing: 1px;
    color: #8f92a1;
    display: block;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 15px;
}

.c-input input {
    outline: none;
    font-size: 14px;
    color: #fff;
    width: 100%;
    height: 35px;
    background: none;
    border: none;
    border-bottom: 2px rgba(255, 255, 255, 0.2) solid;
    transition: all 0.6S;
}

.c-input input:focus {
    border-bottom: 2px white solid;
}

.c-input .err {
    text-transform: uppercase;
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    letter-spacing: 1px;
    color: #8f92a1;
    font-size: 12px;
    font-weight: 600;
}

.c-input.no-valid input {
    color: #ff00b6;
}

.c-input #ShowPass {
    cursor: pointer;
}

.c-input #ShowPass:hover {
    color: #c6a55b;
}

.c-input.dark .c-input-icon {
    background: #23236a;
    color: #fff;
}

.c-input.dark input {
    color: #23236a;
    border-bottom: 2px rgba(35, 35, 106, 0.2) solid;
}

.c-input.dark input:focus {
    border-bottom: 2px #23236a solid;
}

.c-input.dark label {
    color: rgba(35, 35, 106, 0.6);
}

.c-checkbox {
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #8f92a1;
    cursor: pointer;
}

.c-checkbox input {
    display: none;
}

.c-checkbox input:checked + .icon:after {
    -ms-transform: scale(1);
    transform: scale(1);
}

.c-checkbox .icon {
    margin-top: 2px;
    margin-right: 15px;
    display: block;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 15px;
    height: 15px;
    background: #fff;
    position: relative;
}

.c-checkbox .icon:after {
    position: absolute;
    left: 4px;
    bottom: 4px;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background: #191933;
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 0.5s;
}

.link {
    letter-spacing: 1px;
    font-size: 12px;
    color: #8f92a1;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.link:hover {
    color: #c6a55b;
}

.small-btn {
    border: none;
    background: none;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    border-radius: 1px;
    line-height: 35px;
    min-width: 35px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 5px;
}

.small-btn.orange {
    background: #f76844;
    color: #fff;
}

.small-btn.blue {
    background: #23236a;
    color: #fff;
}

.small-btn i.mdi {
    font-size: 20px;
}

.mobile-select-list .item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #c6a55b;
    color: #fff;
    padding: 15px 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 12px;
    position: relative;
}

.mobile-select-list .item strong {
    font-size: 12px;
    font-weight: 600;
}

.mobile-select-list .item .select {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.mobile-select-list .item .select select {
    outline: none;
    padding-right: 15px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    direction: rtl;
    text-align: right;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
}

.mobile-select-list .item .select option {
    color: #000;
}

/******************color**************/
.green-text {
    color: #0dad11 !important;
}

@media screen and (max-width: 768px) {
  /*******************container**************/
    .container {
        max-width: 100%;
        min-width: 0px;
        padding: 0 30px;
    }
  /******************sign pages*************/
    .sign-present-column .chrono-footer {
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: 1.8;
    }
  /****************main-header************/
    .main-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        z-index: 10;
    }

    .main-header .btn-compare,
  .main-header .btn-profile,
  .main-header .ineichen-info {
        display: none;
    }

    .main-header #mobileMenueOpen {
        display: inline-block;
    }

    .main-header .head-btn + .head-btn {
        margin: 0px;
    }
  /********************left-side-navigation*********/
    .left-side-navigation {
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        width: 340px;
        padding: 30px;
        position: fixed;
        left: 0px;
        top: 116px;
        bottom: 0px;
        background: #23236a;
        z-index: 10;
        overflow: auto;
        transition: 0.5s all;
    }

    .left-side-navigation.open {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .left-side-navigation strong {
        color: #8b8bf3;
    }

    .left-side-navigation ul li {
        color: #fff;
    }

    .left-side-navigation .need-help {
        display: none;
    }
  /********************main-content*********/
    .main-content {
        padding: 30px 0;
    }
  /********************mobile-navigation-bar*****************/
    .mobile-navigation-bar {
        display: block;
    }
  /********************main-footer*********/
    .main-footer {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    body {
        overflow-x: hidden;
    }
  /******************sign pages*************/
    .sign-wrapper .sign-present-column {
        width: 100%;
    }

    .sign-wrapper .sign-form-column {
        width: 100%;
    }

    .sign-present-column {
        position: fixed;
        background: #fff;
        height: 100%;
        left: 0px;
        top: 0px;
        padding: 30px;
        z-index: 1;
    }

    .sign-present-column.hidden-in-mobile {
        display: none;
    }

    .sign-present-column .logo img {
        max-width: 120px;
    }

    .sign-present-column .chorono-info img {
        max-width: 200px;
    }

    .sign-present-column .chorono-info p {
        margin: 30px 0;
        font-size: 14px;
    }

    .sign-present-column .chorono-info p br {
        display: none;
    }

    .sign-present-column .chorono-info .btns {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .sign-present-column .chorono-info .btns .blue {
        display: inline-block;
    }

    .sign-present-column .chorono-info .btns .c-btn {
        width: calc(50% - 5px);
    }

    .sign-present-column .chrono-account {
        margin-bottom: 30px;
        width: 100%;
        display: block;
    }

    .sign-present-column .chrono-account .c-btn {
        margin-top: 15px;
        width: 100%;
    }

    .sign-present-column .chrono-footer {
        -ms-flex-direction: column;
        flex-direction: column;
        line-height: 1.8;
    }

    .sign-form-column {
        padding: 30px;
        padding-bottom: 0px;
    }

    .sign-form-column .form-wrapper h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .sign-form-column .bottom-btn {
        margin-top: 30px;
        padding: 30px;
    }
  /*****************main-header*************/
    .main-header .logo img {
        width: 120px;
    }
  /****************digest-realease************/
    .digest-realease {
        margin-bottom: 30px;
    }

    .digest-realease .number {
        font-size: 80px;
        margin-right: 10px;
    }

    .digest-realease .name {
        margin-top: 13px;
        line-height: 35px;
        font-size: 30px;
        margin-bottom: 10px;
    }
  /**********************catalog-tools*****************/
    .catalog-tools {
        display: none;
    }

    .mobile-catalog-tools {
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 30px;
    }
  /*****************search-mobile-modal**************/
    .search-mobile-modal .mobile-modal-content {
        display: -ms-flexbox;
        display: flex;
    }

    .search-mobile-modal .c-input {
        margin-top: auto;
        margin-bottom: auto;
    }
}
