@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&subset=cyrillic");

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

p {
    font-size: 16px;
    color: #1a237e;
    font-weight: 500;
    line-height: 2;
}

.main-header {
    position: fixed;
    left: 0px;
    top: 7vh;
    right: 0px;
    z-index: 100;
}

.main-header .container {
    max-width: 1280px;
}

.main-header .navbar {
    background: #fff;
    border-radius: 30px;
    padding: 0px 20px;
    box-shadow: 0 48px 72px 0 rgba(16, 25, 113, 0.12);
}

.main-header .navbar-nav {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.main-header .nav-item.current .nav-link {
    color: #e57373;
}

.main-header .nav-item .nav-link {
    padding: 0px;
    font-size: 15px;
    color: #7986cb;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 80px;
}

.land-section {
    overflow: hidden;
    min-height: 100vh;
    padding-top: 25vh;
}

.section-title {
    font-size: 64px;
    color: #5c6bc0;
    font-weight: bold;
    line-height: normal;
}

.section-text {
    margin: 50px 0;
}

.section-1 {
    background: linear-gradient(to bottom, #a9d7fd 0%, #fbe9e7 100%);
}

.section-1 .img {
    text-align: right;
}

.section-2 {
    background: linear-gradient(to bottom, #fbe9e7 0%, #c5cae9 100%);
}

.section-2 .text-block {
    text-align: right;
}

.section-2 .section-title {
    color: #e57373;
}

.section-3 {
    background: linear-gradient(to bottom, #c5cae9 0%, #e1f5fe 100%);
}

.section-3 .section-title {
    color: #82a5dd;
}

.section-4 {
    background: linear-gradient(to bottom, #e1f5fe 0%, #fff8e1 100%);
}

.section-4 .text-block {
    text-align: right;
    padding-top: 5vh;
}

.section-4 .section-title {
    color: #9cccd9;
}

.section-5 {
    background: linear-gradient(to bottom, #fff8e1 0%, #e8f5e9 100%);
}

.section-5 .section-title {
    color: #a5d6a7;
}

.section-6 {
    background: linear-gradient(to bottom, #e8f5e9 0%, #e3f2fd 100%);
}

.section-6 .text-block {
    text-align: right;
    padding-top: 5vh;
}

.section-6 .section-title {
    color: #80deea;
}

.section-7 {
    background: linear-gradient(to bottom, #e3f2fd 0%, #c5cae9 100%);
}

.section-7 .section-title {
    color: #5c6bc0;
}

.feedbacks {
    background: #ede7f6;
}

.feed-carousel {
    margin-top: 7vh;
    text-align: center;
}

.feed-carousel .carousel-control-next-icon,
.feed-carousel .carousel-control-prev-icon {
    height: 84px;
    width: 53px;
}

.feed-carousel .avatar {
    margin: 0 auto;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    overflow: hidden;
}

.feed-carousel .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed-carousel .feedback-text {
    margin: 60px auto 40px;
    max-width: 550px;
}

.main-footer {
    padding: 40px 0;
}

.main-footer h3 {
    color: #e57373;
    font-size: 32px;
    margin-bottom: 30px;
}

.main-footer .footer-links {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 80px 0 0;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-footer .footer-links li.current a {
    color: #e57373;
}

.main-footer .footer-links a {
    padding: 0px;
    font-size: 15px;
    color: #7986cb;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

.order-modal .modal-dialog {
    max-width: 745px;
}

.order-modal .modal-content {
    border: none;
    border-radius: 20px;
    box-shadow: 0 48px 72px 0 rgba(16, 25, 113, 0.12);
}

.order-modal .modal-header {
    border: none;
    padding: 60px 45px 10px;
    -ms-flex-direction: column;
    flex-direction: column;
}

.order-modal .modal-header span {
    color: #1a237e;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.order-modal .modal-header strong {
    color: #82a5dd;
    font-size: 48px;
    font-size: 700;
}

.order-modal .modal-body {
    padding: 10px 45px 10px;
}

.order-modal .modal-footer {
    border: none;
    padding: 20px 45px 45px;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.order-modal .contact-info span {
    display: block;
    font-size: 14px;
    color: #c5cae9;
    text-transform: uppercase;
}

.order-modal .contact-info strong {
    color: #1a237e;
    font-size: 32px;
    line-height: 30px;
    font-weight: 400;
}

/********************ui*****************/
.form-group {
    margin-bottom: 20px;
}

.my-control {
    border-radius: 0px;
    border: none;
    border-bottom: 4px #e8eaf6 solid;
    height: 60px;
    padding: 0px;
    line-height: 60px;
    font-size: 20px;
}

.my-control:focus {
    box-shadow: none;
}

.my-control.custom-select {
    background: url(../img/chevron-down.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.my-control::-webkit-input-placeholder {
    color: #c5cae9;
    text-transform: uppercase;
}

.my-control::-moz-placeholder {
    color: #c5cae9;
    text-transform: uppercase;
}

.my-control:-ms-input-placeholder {
    color: #c5cae9;
    text-transform: uppercase;
}

.my-control:-moz-placeholder {
    color: #c5cae9;
    text-transform: uppercase;
}

.my-btn {
    height: 64px;
    line-height: 64px;
    padding: 0 45px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 35px;
    font-weight: 500;
    letter-spacing: 1.5px;
    box-shadow: 0 48px 72px 0 rgba(16, 25, 113, 0.12) !important;
}

.my-btn:focus, .my-btn:active {
    box-shadow: 0 48px 72px 0 rgba(16, 25, 113, 0.12) !important;
}

.my-btn.btn-danger {
    background: #e53935;
}

.my-btn.btn-danger:hover {
    background: #cd1e1a;
}

.modal-backdrop {
    background: #fff;
}

.modal-backdrop.show {
    opacity: 0.6;
}

/********************media*****************/
@media (max-width: 991px) {
    .main-header {
        top: 0px;
    }

    .main-header .container {
        padding: 0px;
    }

    .main-header .navbar {
        border-radius: 0px;
    }

    .main-header .navbar-toggler {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
    }

    .main-header .navbar-toggler:focus {
        outline: none;
    }

    .main-header .navbar-nav {
        padding: 40px 0;
    }

    .main-header .nav-item .nav-link {
        text-align: center;
        line-height: 35px;
    }

    .land-section {
        padding-top: 30vh;
    }

    .land-section .img img {
        max-width: 100%;
    }

    .section-title {
        font-size: 45px;
    }

    .section-text {
        margin: 30px 0;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .land-section {
        padding-top: 10vh;
    }

    .land-section .img {
        text-align: center;
    }

    .land-section .img img {
        max-width: 50%;
    }

    .land-section .text-block {
        text-align: center;
    }

    .land-section .text-block .my-btn {
        width: 100%;
    }

    .section-title {
        font-size: 27px;
    }

    .section-text {
        margin: 20px 0;
        font-size: 12px;
    }

    .feed-carousel .avatar {
        margin-top: 40px;
        width: 120px;
        height: 120px;
    }

    .feed-carousel .feedback-text {
        margin: 40px 0 20px;
        font-size: 12px;
    }

    .feed-carousel .user-name {
        font-size: 12px;
    }

    .main-footer {
        text-align: center;
    }

    .main-footer p {
        margin: 20px 0;
        font-size: 12px;
    }

    .main-footer p br {
        display: none;
    }

    .main-footer .footer-links {
        margin-top: 20px;
        display: block;
    }

    .order-modal .modal-header {
        padding: 20px 15px 10px;
    }

    .order-modal .modal-header span {
        color: #1a237e;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .order-modal .modal-header strong {
        color: #82a5dd;
        font-size: 23px;
        font-size: 700;
    }

    .order-modal .modal-body {
        padding: 10px 15px 10px;
    }

    .order-modal .modal-footer {
        padding: 10px 20px 20px;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .order-modal .modal-footer .btn {
        width: 100%;
    }

    .order-modal .contact-info {
        margin-top: 10px;
        text-align: center;
    }

    .order-modal .contact-info span {
        font-size: 12px;
    }

    .order-modal .contact-info strong {
        font-size: 24px;
        line-height: 30px;
    }
  /********************ui*****************/
    .form-group {
        margin-bottom: 15px;
    }

    .my-control {
        border-radius: 0px;
        border: none;
        border-bottom: 2px #e8eaf6 solid;
        height: 40px;
        padding: 0px;
        line-height: 40px;
        font-size: 14px;
    }

    .my-control.custom-select {
        background-size: 15px;
    }

    .my-btn {
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 20px;
        font-weight: 500;
        letter-spacing: 1px;
    }
}
