@media only screen and (max-width: 1280px) {
    .main-header {
        .logo {
            left: 45%;
            transform: translate(-50%, -50%);
            span {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {

    body {
        padding-top: 90px;
    }
    .section-title {
        margin-bottom: 70px;
    }
    .paddings {
        padding: 50px 50px;
    }
    .paddings-half {
        padding: 50px 50px;
    }

    /* ---------------------------------- index --------------------------------- */

    .main-header {
        display: none;
    }
    .main-header-mobile {
        display: flex;
        .logo {
            display: block;
            overflow: hidden;
            width: 100px;
            height: 23px;
            img {
                width: 100%;
            }
        }
    }

    .main-slider {
        margin-top: -90px;
        .swiper-slide {
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
        }
    }
    
    .artle-office {
        grid-template-columns: 1fr;
    }

    .join-our-club {
        gap: 0 30px; 
        h2 {
            br {
                display: none;
            }
        }
    }

    .header-tools {
        .search {
            .mdi {
                font-size: 24px;
            }
        }
    }

    .catalog-section {
        padding-top: 30px;
        .section-title {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            h2 {
                grid-column: 2 span;
            }
            > .c-button {
                margin: 0;
            }
        }
    }

    .catalog-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .catalog-grid-item {
        .image {
            margin-bottom: 0px;
        }
        .action {
            right: -15px;
            top: -15px;
            button, a {
                opacity: 1;
                transform: none;
                box-shadow: 0 0 10px 2px rgba(#000,0.1);
            }
        }
    }

    .about-mechanism {
        padding: 50px 30px;
    }
    
    .mechanism-slider {
        margin-bottom: 50px;
        .swiper-pagination-progressbar {
            bottom: -50px;
        }
        .swiper-slide {
            width: 280px;
        }
    }



    .search-modal {
        padding: 80px 70px 60px;
        .close {
            right: 30px;
            top: 30px;
            transform: none;
        }
    }

    .join-our-club {
        h2 {
            font-size: 40px;
        }
    }

    .club-modal {
        .join-our-club {
            padding: 50px 60px;
        }
        .feaures {
            margin: 50px 0;
            > div {
                padding: 0 15px;
            }
            p {
                br {
                    display: none;
                }
            }
        }
        .subscribe {
            max-width: 500px;
        }
    }

    .filters-modal {
        padding: 40px 30px;
        height: 100%;
        overflow: auto;
    }

    .modal-filters-list {
        justify-content: space-between;
        .item {
            margin: 0px;
        }
        .list.double {
            display: block;
        }
    }

    /******************article******************/
    .article-typo {
        > * {
            margin: 30px 0;
        }
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 16px;
        }
        p {
            font-size: 14px; 
        }
        ul {
            font-size: 14px;
            li {
                margin: 5px 0;
            }
        }
        blockquote, .article-comment {
            font-size: 14px;
            padding: 40px 60px;
        }
    }
    /******************cookies**************/
    .cookies-notif {
        p {
            line-height: 1.5;
        }
        .c-button {
            white-space: nowrap;
        }
    }
    /***************account-activate-notif**********/
    .main-header ~ .account-activate-notif {
        top: 90px;
    }
    .main-header.mini ~ .account-activate-notif {
        top: 90px;
    }
    .account-activate-notif {
        z-index: 10;
        padding: 30px;
        .mdi-email-outline {
            display: none
        }
        .close {
            margin-left: 30px;
        }
        p {
            line-height: 1.5;
        }
        .btns {
            margin-left: 10px;
            display: flex;
            .c-button {
                text-align: center;
                margin-left: 20px;
                padding: 0 15px;
            }
        }
    }
    /***************consign**************/
    .consign-section {
    }
    .consign-form {
        h2 {
            font-size: 32px;
        }
        .clip-watch-photo {
            .item {
                height: 130px;
                padding: 10px;
                i.mdi {
                    font-size: 32px;
                }
                span {
                    font-size: 11px;
                }
            }

        }
    }
    /***************contact****************/
    .office-images {
        display: flex;
        flex-direction: column-reverse;
        > * {
            width: 100%;
        }
        > .map {
            height: 50vw;
        }
    }

    .main-footer-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px 0;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr 1fr;
    }
    


}

@media only screen and (max-width: 820px) {

    .section-title {
        margin-bottom: 30px;
    }
    /**********************main slider************/

    /*******************catalog-grid**************/
    .catalog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /*****************club-welcome-modal********/
    .call-to-action-form {
        padding: 50px 0;
    }

    /********************item***************/
    .watch-item-nav {
        &__btns {
            .c-button {
                padding: 0;
                width: 50px;
                i.mdi {
                    margin: 0;
                    font-size: 32px;
                }
                span {
                    display: none;
                }
            }
        }
        
    }
    .watch-item-card {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        &__image {
            width: auto;
        }
        &__info {
            width: auto;
        }
        &__prices {
            max-width: 100%;
        }
        &__action {
            max-width: 100%;
        }
    }
    .reasons-cols {
        grid-gap: 0 50px;
    }
    .watch-item-about {
        figure {
            max-width: 100%;
            float: none;
            margin: 30px 0;
            img {
                width: 100%;
            }
        }
    }
    .technical-params-cols {
        grid-gap: 0 50px;
    }
    /****************consign***********/
    .consign-section {
        .cols {
            grid-template-columns: 1fr;
        }
    }
    .consign-info {
        order: -1;
        img {
            display: none;
        }
        .text {
            padding: 0px;
            margin-bottom: 30px;
        }
    }

    /******************contacts***********/
    .contacts-info {
        grid-template-columns: 1fr;
        gap: 50px 0;
        text-align: center;
        h2 {
            margin: 0 auto;
        }
    }

    /***************about-artle**************/
}

@media only screen and (max-width: 520px) {
    body {
        padding-top: 60px;
    }
    .paddings {
        padding: 30px 15px;
    }
    .paddings-half {
        padding: 30px 15px;
    }
    .section-title {
        h2 {
            font-size: 24px;
        }
        h1 {
            font-size: 24px;
        }
    }

    /* ---------------------------------- index --------------------------------- */

    .main-slider {
        margin-top: -60px;
        .swiper-button-next,
        .swiper-button-prev {
            display: none;
        }
        .swiper-slide {
            width: 100%;
        }
        .swiper-pagination {
            display: flex;
            padding: 0 30px;
            bottom: 15px;
            .swiper-pagination-bullet {
                border-radius: 0px;
                flex: 1 1 auto;
                margin: 0px;
                height: 2px;
                background: rgba(#fff,0.3);
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background: rgba(#fff,1);
            }
        }
    }

    .slider-prodict-item {
        height: auto;
        right: 30px;
        bottom: 30px;
        left: 30px;
        width: auto;
        padding: 0px;
        .info { 
            padding: 15px 30px;
            height: auto;  
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px 0;
            text-align: center;
            line-height: 1.5;
        }
        .price {
            margin: auto;
        }
        .progress {
            display: none;
        }
    }

    .main-header-mobile {
        height: 60px;
        padding: 0 15px;
        .burger-menu {
            width: 24px;
            span {
                width: 24px;
                &:nth-child(2) {
                    margin: 5px 0;
                }
            }
        }
        .logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100px;
            height: 22px;
            margin-left: auto;
            margin-right: auto;
        }
        .header-tools {
            margin-left: auto;
            .search {
                padding-left: 10px;
                padding-right: 0px;
            }
            .lang-select {
                display: none;
            }
        }
    }

    .navi-modal.mobile {
        max-width: 90%;
        margin: 0px;
        height: 100%;
    }

    .navi-modal-mobile-cols {
        flex-direction: column;
        height: 100%;
        .links-col {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            
        }
        .lang-select {
            margin: auto 0 0;
            order: 3;
            display: block;
        }

    }
    .join-our-club {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px 0;
        h2 {
            font-size: 24px;
        }
        .c-button {
            width: 100%;
        }
    }

    .catalog-section {
        .section-title {
            margin-bottom: 30px;
            grid-template-columns: 1fr;
            gap: 15px;
            h2 {
                grid-column: 1 span;
            }
            > .c-button {
                max-width: 100%;
                order: 3;
            }
        }
        .fast-subscribe-form {
            min-width: 0;
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 15px;
            span {
                text-align: left;
                grid-column: 2 span;
            }
            .c-input {
                margin: 0;
            }
        }
    }

    .catalog-grid {
        grid-gap: 40px 15px;
        & + .text-center {
            margin-top: 30px;
        }
    }

    .catalog-grid-item {
        .image {
            margin: 0px;
        }
        .name {
            font-size: 12px;
        }
        .price {
            b {
                font-size: 12px;
            }
            .status {
                font-size: 12px;
            }
        }
        .descr {
            font-size: 9px;
        }
        .action {
            right: -10px;
            top: -10px;
            button, a {
                width: 30px;
                height: 30px;
                line-height: 32px;
                i.mdi {
                    font-size: 16px;
                }
            }
        }
        .price-name {
            font-size: 11px;
        }
        .price {
            font-size: 12px;
        }
        .table-price {
            display: grid;
            tr {
                display: grid;
                grid-template-columns: 1fr;
            }
            td {
                padding-bottom: 5px;
            }
            td:first-child {
                text-align: center;
                padding-right: 0px;
            }
            td:last-child {
                text-align: center;
            }
        }
    }

    .empty-search-text {
        padding: 0 0 5vh;
    }

    /********************item***************/
    .watch-item-nav {
        margin-bottom: 30px;
        
    }
    .watch-item-card {
        &__info {
            padding: 30px;
        }
        &__brand {
            font-size: 24px;
        }
        &__name {
            font-size: 15px;
        }
        &__status {
            font-size: 15px;
            margin: 30px 0;
        }
        &__price {
            margin-top: 30px;
        }
        &__prices {
            grid-template-columns: 1fr;
            grid-gap: 30px;
            margin: 30px 0;
            
        }
        &__action {
            grid-gap: 15px 0;
        }
    }
    .reasons-cols {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .watch-item-about {
        padding: 30px;
        blockquote {
            padding: 15px;
            font-size: 16px;
        }
    }
    .technical-params-cols {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    

    /* ---------------------------------- about --------------------------------- */
    .about-artle {
        grid-template-columns: 1fr;
        gap: 30px;
        &__text {
            margin-bottom: 15px;
        }
        &__image {
            margin-bottom: 15px;
        }
        &__logo {
            margin-bottom: 15px;
            height: 40px; 
        }
        p + p {
            margin-top: 15px;
        }
    }

    .about-mechanism {
        padding: 30px;
        overflow: visible;
        .mechanism-slider {
            overflow: hidden;
        }
        .btn-next,
        .btn-prev {
            top: 45%;
        }
    }
    /***************consign**************/
    .consign-section {
        .cols {
            flex-direction: column;
        }
    }
    .consign-form {
        order: 1;
        h2 {
            font-size: 28px;
            margin-bottom: 30px;
        }
        .clip-watch-photo {
            display: block;
            margin: 30px 0;
            .item {
                margin-bottom: 20px;
                width: 100%;
                i.mdi {
                    font-size: 32px;
                }
                span {
                    font-size: 11px;
                }
            }

        }
        .text-right {
            text-align: center;
            .c-button {
                padding: 0 35px;
            }
        }
    }
    .consign-info {
        padding: 0px;
        strong {
            margin-bottom: 30px;
        }
        p {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 15px;
        }
        > img {
            width: 70px;
        }
    }
    /***************contact****************/
    .contacts-info {
        grid-template-columns: 1fr;
        gap: 30px 0;
        text-align: center;
        h2 {
            font-size: 24px;
        }
        p {
            font-size: 14px;
            line-height: 1.8;
        }
    }
    .office-images {
        flex-direction: column-reverse;
        img {
            width: 100%;
        }
        img:last-child {
            width: 100%;
            height: calc(100vw - 60px);
            display: block;
            margin: 0 0px;
            object-fit: cover;
        }
        .map {
            width: auto;
            padding: 0 0p;
            height: 80vw;
        }
    }

    /* --------------------------------- footer --------------------------------- */
    .main-footer {
        strong {
            font-size: 12px;
        }
    }
    .footer-links {
        grid-gap: 0 15px;
    }
    .footer-links {
        font-size: 12px;
    }
    .footer-socials {
        a {
            font-size: 24px;
        }
    }


    /***************consign modals**************/
    .consign-result-modal {
        padding: 30px 30px;
        width: auto;
        strong {
            font-size: 32px;
        }
        .c-button {
            padding: 0 40px;
        }
    }  
    /***************search-modal**********/
    .search-modal {
        padding: 60px 30px 40px;
        .search-field {
            form {
                position: static;
            }
        }
        .search-drop {
            left: 0px;
            top: 100%;
            height: calc(100vh - 160px);
            border-radius: 0;
            padding: 15px 0 15px;
            a {
                display: block;
                overflow: hidden;
                padding: 0 15px;
                margin-bottom: 15px;
                .image {
                    float: left;
                    width: 70px;
                    height: 70px;
                }
                .name {
                    margin: 7px 0 7px;
                    font-size: 14px;
                    display: block;
                    width: auto;
                }
                .price {
                    margin-bottom: 5px;
                    font-size: 12px;
                    display: block;
                    width: auto;
                }
                .status {
                    font-size: 12px;
                    display: block;
                    width: auto;
                }
            }
        }
        .close {
            right: 20px;
            top: 20px;
            transform: none;
        }
    }
    /***************search-modal**********/
    .club-modal {
        overflow: auto;
        display: block;
        .join-our-club {
            padding: 40px 30px 30px;
            h2 {
                font-size: 20px;
            }
        }
        .close {
            right: 20px;
            top: 20px;
            span {
                display: none;
            }
        }
        .feaures {
            padding: 0px;
            margin: 30px 0 0px;
            flex-wrap: wrap;
            justify-content: space-between;
            > div {
                padding: 0px;
                width: 45%;
                margin-bottom: 30px;
            }
            .icon {
                width: 60px;
                height: 60px;
                padding: 10px;
                img {
                    height: 100%;
                }
            }
            strong {
                display: none;
            }
            p {
                font-size: 12px;
                br {
                    display: none;
                }
            }
        }
        .subscribe {
            margin-bottom: 0px;
        }
    }
    /*****************club-welcome-modal********/
    .call-to-action-form {
        padding: 0px;
        h2 {
            font-size: 28px;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .c-button {
            margin-top: 10px;
        }
    }
    /***************filter-modal**********/
    .filters-modal {
        padding: 30px;
        &.remodal .close-remodal {
            right: 30px;
            top: 30px;
        }
    }
    .modal-filters-list {
        display: block;
        .item {
            margin-bottom: 50px;
        }
    }
    .filters-header {
        margin-bottom: 40px;
        .close {
            margin-right: auto;
        }
    }
    /******************article******************/
    .article-typo {
        > * {
            margin: 30px 0;
        }
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 26px;
            font-weight: 400;
        }
        h3 {
            font-size: 20px;
            font-weight: 400;
        }
        h4 {
            font-size: 14px;
        }
        blockquote, .article-comment {
            padding: 30px;
        }
    }
    /******************cookies**************/
    .cookies-notif {
        padding: 15px;
        p {
            font-size: 10px;
        }
        .c-button {
            white-space: nowrap;
        }
    }
    /***************account-activate-notif**********/
    .main-header ~ .account-activate-notif {
        top: 60px;
    }
    .main-header.mini ~ .account-activate-notif {
        top: 60px;
    }
    .account-activate-notif {
        z-index: 10;
        display: block;
        padding: 15px 30px;
        .mdi-email-outline {
            display: none
        }
        .close {
            margin: 0px;
            position: absolute;
            right: 15px;
            top: 15px;
        }
        p {
            font-size: 12px;
            margin-bottom: 15px;
        }
        .btns {
            margin-left: 0px;
            display: flex;
            .c-button {
                margin: 0 0px;
                padding: 0 15px;
            }
            .c-button + .c-button {
                margin-left: 15px;
            }
        }
    }
    /**************empty-cap***************/
    .empty-cap {
        h2 {
            font-size: 20px;
            letter-spacing: 2px;
        }
    }
    /*******************ui*****************/
    .c-button {
        padding: 0 15px;
        min-height: 45px;
        font-size: 15px;
        &.icon {
            width: 45px;
        }
    }
    .c-input {
        input {
            height: 45px;
        }
        textarea {
            font-size: 14px;
        }
    }
    .c-button.mobile-icon {
        padding: 0;
            text-align: center;
            width: 45px;
        span {
            display: none;
        }
        i.mdi {
            margin-left: 2px;
        }
    }

    .remodal {
        .close-remodal {
            right: 15px;
            top: 15px;
            i.mdi {
                line-height: 45px;
                width: 45px;
                height: 45px;
            }
        }
    }

    fieldset {
        margin: 30px 0;
    }

}