@media only screen and (max-width: 1024px) {
    .section-title {
        margin-bottom: 70px;
    }
    .paddings {
        padding: 70px 50px;
    }
    .paddings-half {
        padding: 70px 50px;
    }
    .main-header {
        display: none;
    }
    .main-header-mobile {
        display: flex;
    }

    .artle-office {
        display: block;
        .image {
            width: 100%;
            .desctop {
                display: none;
            }
            .tablet {
                display: inline;
            }
        }
        .text {
            max-width: 740px;
            padding: 50px 30px;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
    }

    .catalog-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 70px;
    }

    .instagram-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}