@media only screen and (max-width: 1280px) {
    .main-header {
        .logo {
            left: 45%;
            transform: translate(-50%, -50%) scale(0.5);
        }
    }
    .about-artle {
        .revers {
            margin-top: -10%;
            .image {
                padding-right: 10%;
            }
        }
        .text {
            padding-right: 10%;
        }
    }
}

@media only screen and (max-width: 1024px) {

    body {
        padding-top: 90px;
    }
    .section-title {
        margin-bottom: 70px;
        h1 {
            font-size: 38px;
        }
    }
    .paddings {
        padding: 50px 50px;
    }
    .paddings-half {
        padding: 50px 50px;
    }
    .main-header {
        display: none;
    }
    .main-header-mobile {
        display: flex;
    }

    .main-slider {
        margin-top: -90px;
        .swiper-slide {
            width: 85%;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            > img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .header-tools {
        .search, .favorite {
            .mdi {
                font-size: 24px;
            }
        }
    }
    .slider-prodict-item {
        width: 80%;
        .image {
            width: 120px;
        }
        .descr {
            margin-bottom: 15px;
        }
        &:hover {
            .mdi-arrow-right {
                background: #000;
                color: #fff;
            }
        }
    }
    .swiper-slide-next {
        .slider-prodict-item {
            width: 80%;
            position: static;
        }
        .slider-prodict-item {
            .mdi-arrow-right {
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 0px;
                width: 100%;
                justify-content: flex-start;
                padding-left: 7%;
                color: #fff;
                background: rgba(#000, 0.8);
            }
        }
        .slider-prodict-item-wrap {
            background: none;
        }
        .product-info {
            display: none;
        }
    }

    .artle-office {
        display: block;
        .image {
            width: 100%;
            .desctop {
                display: none;
            }
            .tablet {
                display: inline;
            }
        }
        .text {
            max-width: 740px;
            padding: 50px 30px;
            margin: 0 auto;
            display: block;
            text-align: center;
        }
    }

    .catalog-section {
        padding-top: 30px;
        .section-title {
            margin-bottom: 30px;
            flex-wrap: wrap;
            > .c-button {
                margin-left: auto;
            }
        }
        .fast-subscribe-form {
            padding-top: 30px;
            border-top: 1px rgba(#000, 0.1) solid;
            margin-top: 30px;
            width: 100%;
        }
    }

    .catalog-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }

    .catalog-grid.scroll-in-tablet {
        display: flex;
        overflow: auto;
        grid-gap: inherit;
        .catalog-grid-item {
            width: calc(33.333% - 12px);
            flex: 0 0 auto;
            margin-bottom: 25px;
            margin-right: 25px;
        }
    }

    .catalog-grid-item {
        .image {
            margin-bottom: 0px;
        }
        .action {
            right: -15px;
            top: -15px;
            button, a {
                opacity: 1;
                transform: none;
                box-shadow: 0 0 10px 2px rgba(#000,0.1);
            }
        }
    }

    .instagram-grid {
        grid-template-columns: repeat(2, 1fr);
        a:nth-child(n+8) {
            display: inherit;
        }
        a:nth-child(n+9) {
            display: none;
        }
    }

    .brands-section {
        .brands-list {
            display: flex;
            overflow-y: auto;
            grid-gap: 0px;
            a {
                margin-right: 40px;
                flex: 0 0 auto;
                width: 180px;
                margin-bottom: 20px;
            }
        }
    }

    .artle-item-section {
        margin-bottom: 50px;
    }
    .artle-item-title {
        padding: 0 30px;
        margin-bottom: 30px;
        .back {
        }
    }

    .artle-item-wrap {
        padding: 0 30px;
        position: relative;
        .image {
            height: auto;
            width: 50%;
        }
        .info {
            text-align: center;
            position: static;
        }
        .btns {
            flex-direction: column;
            .c-button + .c-button {
                margin: 15px 0 0 0;
            }
        }
        .addToFavorite {
            position: absolute;
            right: 30px;
            padding: 10px;
        }
    }
    .item-banner {
        padding: 120px 60px;
    }
    .tech-params-table {
        margin-top: 80px;
    }

    .about-mechanism {
        padding: 50px 30px;
    }
    
    .mechanism-slider {
        margin-bottom: 50px;
        .swiper-pagination-progressbar {
            bottom: -50px;
        }
        .swiper-slide {
            width: 280px;
        }
    }

    .item-priority {
        padding: 50px 50px;
    }

    .warranty-returns {
        padding: 50px;
        .blocks {
            justify-content: space-between;
            & > div {
                width: calc(50% - 30px)
            }
        }
    }


    .search-modal {
        padding: 80px 70px 60px;
        .close {
            right: 30px;
            top: 30px;
            transform: none;
        }
    }

    .club-modal {
        .join-our-club {
            padding: 50px 60px;
        }
        .feaures {
            margin: 50px 0;
            > div {
                padding: 0 15px;
            }
            p {
                br {
                    display: none;
                }
            }
        }
        .subscribe {
            max-width: 500px;
        }
    }

    .filters-modal {
        padding: 40px 30px;
        height: 100%;
        overflow: auto;
    }

    .modal-filters-list {
        justify-content: space-between;
        .item {
            margin: 0px;
        }
        .list.double {
            display: block;
        }
    }
    /***************about-artle**************/
    .about-artle {
        margin-top: 50px;
        .row {
            margin-top: 0px;
        }
        .row + .row {
            margin-top: 50px;
        }
        .row + .right-row {
            margin-top: -60px;
        }
        h1 {
            font-size: 38px;
        }
        .text {
            padding: 0px 50px 0 0;
            p {
                font-size: 14px;
                line-height: 2;
            }
        }
        .revers {
            .image {
                padding-right: 50px;
            }
            .text {
                padding-right: 50px;
            }
        }
        .right-row {
            
            .text {
                padding: 30px;
                p {
                    line-height: 1.6;
                }
            }
        }
        .frame-row {
            margin-top: 50px;
            margin-left: 100px;
            position: relative;
            .image {
                width: 300px;
                transform: translateX(-20%);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text {
                padding-top: 5%;
                padding-bottom: 5%;
                margin-left: 0px;
            }
        }
    }
    /***************our club**************/
    .our-club-section {
        padding-top: 60px;
        > h2 {
            margin: 0px 0 70px 0;
            font-size: 38px;
        }
    }
    .our-club-priorities {
        span {
            line-height: 1.6;
            font-size: 12px;
        }
    }
    .join-club-form {
        margin: 80px 0;
        h2 {
            font-size: 36px;
        }
        .c-button {
            margin-top: 0px;
        } 
    }
    /***************club-welcome-modal**************/
    .club-welcome-modal {
        .frame-block {
            border: none;
        }
    }
    /******************article******************/
    .article-typo {
        padding: 10px 30px;
        > * {
            margin: 30px 0;
        }
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 28px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 16px;
        }
        p {
            font-size: 14px; 
        }
        ul {
            font-size: 14px;
            li {
                margin: 5px 0;
            }
        }
        blockquote, .article-comment {
            font-size: 14px;
            padding: 40px 60px;
        }
    }
    /******************cookies**************/
    .cookies-notif {
        p {
            line-height: 1.5;
        }
        .c-button {
            white-space: nowrap;
        }
    }
    /***************account-activate-notif**********/
    .main-header ~ .account-activate-notif {
        top: 90px;
    }
    .main-header.mini ~ .account-activate-notif {
        top: 90px;
    }
    .account-activate-notif {
        z-index: 10;
        padding: 30px;
        .mdi-email-outline {
            display: none
        }
        .close {
            margin-left: 30px;
        }
        p {
            line-height: 1.5;
        }
        .btns {
            margin-left: 10px;
            display: flex;
            .c-button {
                text-align: center;
                margin-left: 20px;
                padding: 0 15px;
            }
        }
    }
    /***************consign**************/
    .consign-section {
        .cols > div {
            padding: 5vh 30px;
        }
    }
    .consign-form {
        h2 {
            font-size: 32px;
        }
        .clip-watch-photo {
            .item {
                height: 130px;
                padding: 10px;
                i.mdi {
                    font-size: 32px;
                }
                span {
                    font-size: 11px;
                }
            }

        }
    }
    /***************contact****************/
    .contacts-info {
        max-width: 560px;
        padding: 50px 30px;
        .tel, .mail {
            font-size: 24px;
        }
        .soc {
            margin: 30px 0;
        }
    }
    .office-images {
        display: flex;
        flex-direction: column-reverse;
        > * {
            width: 100%;
        }
        > .map {
            height: 50vw;
        }
    }
/***************footer**************/
    .main-footer-container {
        max-width: 800px;
        strong {
            white-space: nowrap;
        }
    }

}
@media only screen and (max-width: 768px) {
    /*******************catalog-grid**************/
    .catalog-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
    /*****************club-welcome-modal********/
    .call-to-action-form {
        padding: 50px 0;
    }


    /***************footer**************/
    .main-footer-container {
        .our-properties {
            margin-left: 28.5%;
        }
    }
    .footer-info-links {
        .item:first-child {
            width: 30%;
            padding-right: 30px;
        }
    }

    
}
@media only screen and (max-width: 420px) {
    body {
        padding-top: 60px;
    }
    .paddings {
        padding: 30px;
    }
    .paddings-half {
        padding: 30px;
    }
    .section-title {
        margin-bottom: 40px;
        h2 {
            font-size: 20px;
        }
        h1 {
            font-size: 28px;
        }
    }

    .main-slider {
        margin-top: -60px;
        .swiper-slide {
            width: 100%;
        }
        .swiper-pagination {
            display: flex;
            padding: 0 60px;
            bottom: 30px;
            .swiper-pagination-bullet {
                border-radius: 0px;
                flex: 1 1 auto;
                margin: 0px;
                height: 2px;
                background: rgba(#fff,0.3);
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background: rgba(#fff,1);
            }
        }
    }

    .slider-prodict-item {
        width: auto;
        right: 30px;
        bottom: 60px;
        left: 30px;
        .slider-prodict-item-wrap {
            height: auto;
            padding: 30px 70px 30px 30px;
        }
        .product-info {
            padding: 0px;
        }
        .image {
            width: 70px;
            margin-right: 15px;
        }
        .info {
            flex: 1 1 auto;
        }
        .name {
            font-size: 14px;
            margin-bottom: 8px;
        }
        .descr {
            display: none;
        }
        .price {
            font-size: 14px;
            .status {
                margin-top: 8px;
                display: block;
                font-size: 12px;
            }
        }
        .mdi-arrow-right {
            position: absolute;
            right: 0px;
            top: 0px;
            height: 100%;
            width: 50px;
            font-size: 14px;
        }
    }

    .swiper-slide-next {
        .slider-prodict-item {
            display: flex;
            width: auto;
            right: 30px;
            bottom: 60px;
            left: 30px;
            padding: 30px;
            position: absolute;
            background: none;
            padding: 0px;
            .slider-prodict-item-wrap {
                background: #fff;
                height: auto;
            }
            .mdi-arrow-right {
                display: none;
            }
            .product-info {
                display: flex;
                padding: 0px;
            }
            .image {
                width: 70px;
                margin-right: 15px;
            }
            .info {
                flex: 1 1 auto;
            }
            .name {
                display: block;
                font-size: 14px;
                margin-bottom: 8px;
            }
            .descr {
                display: none;
            }
            .price {
                display: block;
                font-size: 14px;
                .status {
                    margin-top: 8px;
                    display: block;
                    font-size: 12px;
                }
            }
            
        }
        
    }

    .artle-office {
        .text {
            p {
                line-height: 1.5;
            }
        }
        .partners-info {
            flex-direction: column-reverse;
            
            .partner {
                margin-bottom: 45px;
                padding-bottom: 45px;
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    margin-left: -40px;
                    display: block;
                    width: 80px;
                    height: 2px;
                    background: rgba(#000,0.18);
                }
            }
        }
    }

    .main-header-mobile {
        height: 60px;
        .burger-menu {
            width: 24px;
            span {
                width: 24px;
                &:nth-child(2) {
                    margin: 5px 0;
                }
            }
        }
        .logo {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            img {
                width: 80px;
            }
            margin-left: auto;
            margin-right: auto;
        }
        .header-tools {
            margin-left: auto;
            .search,
            .favorite {
                padding-left: 10px;
                padding-right: 0px;
            }
            .lang-select {
                display: none;
            }
        }
    }

    .navi-modal.mobile {
        max-width: 90%;
        margin: 0px;
        height: 100%;
        .nav-top-brands {
            display: none;
            text-align: left;
            padding: 30px;
        }
    }

    .navi-modal-mobile-cols {
        flex-direction: column;
        min-height: 100%;
        .our-club {
            flex: 0 0 auto;
            margin-top: auto;
        }
        .links-col {
            width: 100%;
        }
        .lang-select {
            display: block;
        }

    }
    
    .made-by-with {
        display: flex;
    }

    .nav-top-brands-list a {
        padding-left: 10px;
        padding-right: 10px;
    }


    .catalog-section {
        padding-top: 20px;
        .fast-subscribe-form {
            width: auto;
            margin: 20px -30px 0;
            padding: 20px 30px 0;
        }
    }
    
    .fast-subscribe-form {
        flex-wrap: wrap;
        span {
            display: block;
            margin-bottom: 10px;
            br {
                display: none;
            }
        }
        .c-input {
            max-width: none;
            width: calc(100% - 60px)
        }
    }
    

    .catalog-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px 25px;
    }
    .catalog-grid.scroll-in-mob {
        display: flex;
        overflow: auto;
        grid-gap: inherit;
        .catalog-grid-item {
            width: calc(50% - 17px);
            flex: 0 0 auto;
            margin-bottom: 25px;
            margin-right: 25px;
        }
    }


    .catalog-grid-item {
        .image {
            margin: 0px;
        }
        .name {
            font-size: 12px;
        }
        .descr {
            font-size: 9px;
        }
        .action {
            right: -10px;
            top: -10px;
            button, a {
                width: 30px;
                height: 30px;
                line-height: 32px;
                i.mdi {
                    font-size: 16px;
                }
            }
        }
    }

    .empty-search-text {
        padding: 0 0 5vh;
    }



    .brands-section {
        .brands-list {
            a {
                width: 120px;
                height: 80px;
                margin-right: 20px;
                span {
                    font-size: 10px;
                }
            }
        }
    }

    .join-our-club {
        padding: 70px 30px;
        img {
            margin-bottom: 40px;
        }
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 14px;
        }
    }

    .artle-item-title {
        .fast-subscribe-form {
            display: none;
        }
    }
    .artle-item-wrap {
        display: block;
        .image {
            width: auto;
            max-width: 150px;
            margin: 0 auto 30px;
        }
        .price {
            margin-bottom: 30px;
            font-size: 20px;
        }
        .reff {
            margin-bottom: 15px;
        }
        .name {
            font-size: 22px;
        }
        .descr {
            font-size: 12px;
            margin-bottom: 30px;
        }
        .addToFavorite {
            top: -60px;
            right: 20px;
            padding: 10px;
        }
    }

    .about-mechanism-wrap {
        display: flex;
        overflow: auto;
        .btn-prev,
        .btn-next {
            display: none;
        }
    }
    .mechanism-slider {
        margin-bottom: 30px;
        .swiper-slide {
            margin-right: 15px;
        }
    }

    .item-banner {
        padding: 50px 30px;
        h3 {
            font-size: 24px;
            margin-bottom: 50px;
        }
        p {
            font-size: 13px;
        }
    }

    .item-priority {
        padding: 30px 30px;
        .text {
            display: block;
        }
        strong {
            font-size: 16px;
            display: block;
            margin: 0 0 30px 0;
            padding-bottom: 30px;
            border-bottom: 1px rgba(#000,0.18) solid;
            br {
                display: none;
            }
        }
        p {
            padding: 0px;
            border: none;
            font-size: 14px;
            line-height: 1.7;
        }
    }

    .warranty-returns {
        padding: 30px 30px;
        strong {
            font-size: 16px;
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        p {
            line-height: 1.7;
        }
        .blocks {
            display: block;
            & > div {
                width: 100%;
            }
            & > div + div {
                margin-top: 50px;
            }
        }
    }


/***************our club**************/
    .our-club-section {
        padding-top: 40px;
        > h2 {
            font-size: 28px;
            margin-bottom: 60px;
        }
    }
    .our-club-priorities {
        flex-wrap: wrap;
        .item {
            width: calc(50% - 15px);
            margin-bottom: 50px;
            span {
                font-size: 12px;
            }
        }
    }
    .join-club-form {
        margin: 0 0 60px;
        padding: 30px;
        h2 {
            font-size: 24px;
            letter-spacing: 1px;
            margin: 30px 0 50px;
        }
        .c-button {
            margin-top: 10px;
        } 
    }
    .also-in-club {
        h2 {
            font-size: 24px;
        }
        ul {
            margin-bottom: 40px;
            li {
                font-size: 14px;
            }
        }
        p {
            text-align: center;
            font-size: 12px;
            line-height: 1.4;
        }
    }
/***************consign**************/
    .consign-section {
        .cols {
            flex-direction: column;
        }
        .cols > div {
            width: 100%;
            padding: 5vh 30px;
        }
    }
    .consign-form {
        order: 1;
        h2 {
            font-size: 28px;
            margin-bottom: 30px;
        }
        .clip-watch-photo {
            display: block;
            margin: 30px 0;
            .item {
                margin-bottom: 20px;
                width: 100%;
                i.mdi {
                    font-size: 32px;
                }
                span {
                    font-size: 11px;
                }
            }

        }
        .text-right {
            text-align: center;
            .c-button {
                padding: 0 35px;
            }
        }
    }
    .consign-info {
        background-image: linear-gradient(180deg, rgba(#fff,0.7) 0%, rgba(#fff,0.7) 100%), url(../img/bg-consign.jpg);
        strong {
            margin-bottom: 30px;
        }
        p {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 30px;
        }
        > img {
            width: 70px;
        }
    }
/***************contact****************/
    .our-contacts {
        padding: 30px 0px;
        .section-title {
            margin-bottom: 30px;
        }

    }
    .contacts-info {
        border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
        border-radius: 10px;
        max-width: 100%;
        margin: 0 30px 30px;
        padding: 30px 15px;
        .tel, .mail {
            font-size: 18px;
        }
        .soc {
            margin: 30px 0;
        }
        .adress-info {
            font-size: 12px;
            line-height: 1.5;
            td {
                width: auto !important;
                padding: 5px;
                text-align: left;
            }
            tr:nth-child(2),
            tr:nth-child(3) {
                td:first-child {
                    width: 70px !important;
                }
            }
        }
    }
    .office-images {
        flex-direction: column-reverse;
        img {
            width: 100%;
        }
        img:last-child {
            width: calc(100% - 60px);
            height: calc(100vw - 60px);
            display: block;
            margin: 0 30px;
            object-fit: cover;
        }
        .map {
            width: auto;
            padding: 0 30px;
            height: 80vw;
        }
    }
    .feed-back-form {
        .c-button {
            width: 100%;
        }
    }
/***************about-artle**************/
    .about-artle {
        overflow: hidden;
        .row {
            position: relative;
            display: block;
            margin-top: 0px;
            .text {
                padding: 0px;
            }
            .image {
                display: none;
            }
            > div {
                width: auto;
            }
        }
        .text {
            padding: 0px 100px 50% 0;
        }
        .row .image {
            padding: 0px;
            width: 290px;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 100%;
            transform: translateX(-60px);
        }
        .row + .row {
            margin-top: 30px;
        }
        .row.revers{
            .text {
                padding: 20% 0px 20% 100px;
            }
            .image {
                display: block;
                left: auto;
                right: 100%;
                transform: translateX(70px);
            }
        }
        .right-row {
            display: block;
            margin: 50px 0 0 0;
            background: none;
            .text {
                padding: 30px 30px 50% 30px;
                background: #F5F5F5;
                img {
                    display: none;
                }
                p {
                    line-height: 2;
                }
            }
            .image {
                margin: -35% 30px 0;
                display: block;
                position: static;
                width: auto;
                height: auto;
                transform: none;
            }
        }
        .frame-row {
            margin-top: -50px;
            margin-bottom: 30px;
            margin-left: auto;
            .image {
                display: none;
            }
            .text {
                margin: 0px;
                padding: 90px 30px 30px 30px;
            }
            .text-right {
                text-align: center;
            }
        }
        .join-club-form {
            margin: 30px auto;
        }
    }
/***************consign modals**************/
    .consign-result-modal {
        padding: 30px 30px;
        width: auto;
        strong {
            font-size: 16px;
        }
        .c-button {
            padding: 0 40px;
        }
    }   

    .main-footer {
        padding: 30px;
    }
    .main-footer-container {
        .our-properties {
            display: block;
            margin: 0 0 40px 0;
            width: 100%;
            .item {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .footer-info-links {
        display: block;
        .item {
            margin: 0 0 40px 0;
            width: auto;
        }
        .item:first-child {
            margin: 0 0 40px 0;
            width: auto;
        }
        .item:last-child {
            margin: 0;
        }
    }

    /***************favorite-modal**********/
    .favorite-modal {
        width: 100%;
        padding: 30px;
        .catalog-grid {
            grid-gap: 25px;
        }
        .fav-header {
            padding-bottom: 20px;
            margin-bottom: 30px;
            strong {
                font-size: 14px;
            }
        }
    }
    /***************search-modal**********/
    .search-modal {
        padding: 60px 30px 40px;
        .search-field {
            form {
                position: static;
            }
        }
        .search-drop {
            left: 0px;
            top: 100%;
            height: calc(100vh - 160px);
            border-radius: 0;
            padding: 15px 0 15px;
            a {
                display: block;
                overflow: hidden;
                padding: 0 15px;
                margin-bottom: 15px;
                .image {
                    float: left;
                    width: 70px;
                    height: 70px;
                }
                .name {
                    margin: 7px 0 7px;
                    font-size: 14px;
                    display: block;
                    width: auto;
                }
                .price {
                    margin-bottom: 5px;
                    font-size: 12px;
                    display: block;
                    width: auto;
                }
                .status {
                    font-size: 12px;
                    display: block;
                    width: auto;
                }
            }
        }
        .close {
            right: 20px;
            top: 20px;
            transform: none;
        }
    }
    /***************search-modal**********/
    .club-modal {
        overflow: auto;
        display: block;
        .join-our-club {
            display: block;
            padding: 40px 30px 30px;
            h2 {
                font-size: 20px;
            }
        }
        .close {
            right: 20px;
            top: 20px;
            span {
                display: none;
            }
        }
        .feaures {
            padding: 0px;
            margin: 30px 0 0px;
            flex-wrap: wrap;
            justify-content: space-between;
            > div {
                padding: 0px;
                width: 45%;
                margin-bottom: 30px;
            }
            .icon {
                width: 60px;
                height: 60px;
                padding: 10px;
                img {
                    height: 100%;
                }
            }
            strong {
                display: none;
            }
            p {
                font-size: 12px;
                br {
                    display: none;
                }
            }
        }
        .subscribe {
            margin-bottom: 0px;
        }
    }
    /***************club-welcome-modal**********/
    .club-welcome-modal {
        padding: 30px;
        &.welcome-final {
            .frame-block {
                p {
                    margin: 30px 0;    
                }
            }
        }
        .confirm-subscr {
            margin-top: 60px;
            h3 {
                font-size: 14px;
            }
            p {
                font-size: 14px;
                line-height: normal;
                br {
                    display: none;
                }
            }
        }
        .frame-block {
            padding: 0px;
            img {
                margin-bottom: 30px;
            }
            h2 {
                font-size: 28px;
                line-height: 1.3;
                font-weight: 300;
            }
            h3 {
                font-size: 20px;
            }
            p {
                margin: 30px 0;
                font-size: 12px;
                line-height: 1.8;
                br {
                    display: none;
                }
            }
        }
        .c-button {
            padding: 0 40px;
        }
    }
    /*****************club-welcome-modal********/
    .call-to-action-form {
        padding: 0px;
        h2 {
            font-size: 28px;
            margin-top: 50px;
            margin-bottom: 20px;
        }
        .c-button {
            margin-top: 10px;
        }
    }
    /***************filter-modal**********/
    .filters-modal {
        padding: 30px;
        &.remodal .close-remodal {
            right: 30px;
            top: 43px;
        }
    }
    .modal-filters-list {
        display: block;
        .item {
            margin-bottom: 50px;
        }
    }
    .filters-header {
        margin-bottom: 40px;
        .close {
            margin-right: auto;
        }
    }
    /******************article******************/
    .article-typo {
        padding: 10px 30px;
        > * {
            margin: 30px 0;
        }
        h1 {
            font-size: 28px;
        }
        h2 {
            font-size: 26px;
            font-weight: 400;
        }
        h3 {
            font-size: 20px;
            font-weight: 400;
        }
        h4 {
            font-size: 14px;
        }
        blockquote, .article-comment {
            padding: 30px;
        }
    }
    /******************cookies**************/
    .cookies-notif {
        padding: 15px;
        p {
            font-size: 10px;
        }
        .c-button {
            white-space: nowrap;
        }
    }
    /***************account-activate-notif**********/
    .main-header ~ .account-activate-notif {
        top: 60px;
    }
    .main-header.mini ~ .account-activate-notif {
        top: 60px;
    }
    .account-activate-notif {
        z-index: 10;
        display: block;
        padding: 15px 30px;
        .mdi-email-outline {
            display: none
        }
        .close {
            margin: 0px;
            position: absolute;
            right: 15px;
            top: 15px;
        }
        p {
            font-size: 12px;
            margin-bottom: 15px;
        }
        .btns {
            margin-left: 0px;
            display: flex;
            .c-button {
                margin: 0 0px;
                padding: 0 15px;
            }
            .c-button + .c-button {
                margin-left: 15px;
            }
        }
    }
    /*******************ui*****************/
    .c-button {
        padding: 0 15px;
        height: 45px;
        font-size: 11px;
        &.icon {
            width: 45px;
        }
    }
    .c-input {
        input {
            height: 45px;
            font-size: 14px;
        }
        textarea {
            font-size: 14px;
        }
    }
    .c-button.mobile-icon {
        padding: 0;
            text-align: center;
            width: 45px;
        span {
            display: none;
        }
        i.mdi {
            margin-left: 2px;
        }
    }

    .remodal {
        .close-remodal {
            right: 15px;
            top: 15px;
        }
    }

}