* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

$hover-link: #009bff;
$red: #e91e63;

.paddings {
    padding: 140px;
}
.paddings-half {
    padding: 75px 140px;
}
.text-center {
    text-align: center;
}
body {
    font-family: 'Helvetica Now Text';
    font-size: 14px;
    line-height: 1;
}

input, select, button {
    font-family: 'Helvetica Now Text';
}

.top-divider {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.main-header {
    height: 130px;
    background: #fff;
    display: flex;
    padding: 0 55px;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: all 0.3s;
    z-index: 100;
    .logo {
        height: 75px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s;
    }
    &.mini {
        height: 80px;
        box-shadow: 0 0 10px 10px rgba(#000,0.1);
        .logo {
            overflow: hidden;
            height: 35px;
        }
    }
    
}
.main-nav {
    flex: 1 1 auto;
    ul {
        width: 100%;
        display: flex;
        list-style: none;
        li:nth-child(4) {
            margin-left: auto;
        }
        li {
            margin-right: 22px;
        }
    }
    a {
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        color: inherit;
        text-transform: uppercase;
        &:hover {
            color: $hover-link;
        }
    }

    
}
.header-tools {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    .search,
    .favorite {
        flex: 0 0 auto;
        text-decoration: none;
        color: inherit;
        padding: 10px;
        .mdi {
            font-size: 20px;
        }
        &:hover {
            color: $hover-link;
        }
    }
    .favorite.active {
        color: $red;
    }
    .lang-select {
        flex: 0 0 auto;
        height: 40px;
        margin-right: 15px;
        position: relative;
        i.mdi {
            position: absolute;
            top: 11px;
            right: 13px;
            font-size: 18px;
            pointer-events: none;
        }
        select {
            background: #f5f5f5;
            padding: 0 35px 0 15px;
            height: 100%;
            width: 100%;
            font-weight: 500;
            appearance: none;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                background: #f0f0f0;
            }
        }
    }
}
.artle-office {
    display: flex;
    .image {
        width: 39vw;
        flex: 0 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 12%;
        padding-right: 11%;
        p {
            font-size: 18px;
            line-height: 1.7;
            margin: 10% 0;
        }
    }
    .some-partners {
        img {
            margin-right: 15px;
        }
    }
}
.join-our-club {
    background: #101010;
    color: #fff;
    text-align: center;
    padding: 130px 0 210px;
    img {
        margin-bottom: 65px;
    }
    h2 {
        font-size: 44px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: normal;
    }
    p {
        font-size: 16px;
        line-height: 2;
        margin: 40px 0;
    }
    .subscribe {
        display: flex;
        width: 100%;
        margin: 0 auto;
        max-width: 650px;
        .c-input {
            flex: 1 1 auto;
        }
        .c-button {
            margin-left: 15px;
        }
    }
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    &.text-center {
        display: block;
    }
    h2 {
        font-weight: 400;
        font-size: 32px;
    }
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 80px 100px;
    & + .text-center {
        margin-top: 70px;
    }
}
.catalog-grid-item {
    .image {
        display: block;
        margin-bottom: 40px;
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px #fff solid;
            transform: scale(1);
            opacity: 0;
            z-index: 1;
            transition: all 0.5s;
        }
        &:hover {
            img {
                transform: scale(1.1) rotate(5deg);
            }
            &:before {
                transform: scale(0.9);
                opacity: 1;
            }
        }
        img {
            vertical-align: middle;
            width: 100%;
            transition: all 0.8s;
        }
    }
    .name {
        display: block;
        font-size: 13px;
        margin-bottom: 19px;
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                color: #009bff;
            }
        }
    }
    .descr {
        display: block;
        line-height: 1.4;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: bold;
        color: rgba(#000,0.38);
        letter-spacing: 1px;
    }
    .price {
        b {
            font-size: 13px;
        }
        .status {
            margin-left: 15px;
            font-size: 13px;
            &.in-sale {
                color: #59923F;
            }
            &.sold {
                color: #AC4747;
            }
            &.reserved {
                color: #3F5692;
            }
            
        }
    }
}
.page-counts {
    max-width: 230px;
    margin: 0 auto 30px;
    p {
        font-size: 13px;
        color: rgba(#000,0.5);
        margin-bottom: 25px;
        letter-spacing: 0.2px;
        font-weight: 500;
    }
    .progress {
        height: 1px;
        background: rgba(#000,0.15);
        div {
            width: 20%;
            height: 1px; 
            background: #000;
        }
    }
    & + .c-button {
        width: 100%;
        max-width: 230px;
    }
}
.brands-section {
    .brands-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0 70px;
        a {
            display: block;
            transition: all 0.4s;
            transform: translateZ(0);
            &:hover {
                box-shadow: 0 0 0 3px #009bff;
            }
            img {
                vertical-align: middle;
                width: 100%;
            }
        }
    }
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    a {
        display: block;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
}

.main-slider {
    .swiper-slide {
        width: 80%;
        position: relative;
        > img {
            width: 100%;
            vertical-align: middle;
        }
    }
    .next-slide {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: rgba(#000,0.8);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background: rgba(#000,0);
        }
    }
    .swiper-slide-active {
        .next-slide {
            display: none;
        }
    }
    .swiper-slide-prev {
        .next-slide {
            display: none;
        }
    }
}
.slider-prodict-item {
    width: 39vw;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #fff;
    padding: 60px;
    display: flex;
    align-items: center;
    z-index: 3;
    transition: all 0.6s;
    .image {
        flex: 0 0 auto;
        margin-right: 50px;
        transition: all 0.6s;
        img {
            width: 100%;
        }
    }
    .info {
        flex: 1 1 auto;
    }
    .name {
        margin-bottom: 15px;
        font-size: 18px;
        display: block;
        text-transform: uppercase;
        transition: all 0.6s;
    }
    .descr {
        display: block;
        margin-bottom: 35px;
        font-size: 11px;
        color: rgba(#000, 0.4);
        text-transform: uppercase;
        letter-spacing: 1px;
        overflow: hidden;
        max-height: 50px;
        transition: all 0.6s;
    }
    .show {
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100%;
        background: #000;
        color: #fff;
        width: 100px;
        transition: all 0.6s;
        i.mdi {
            font-size: 24px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover {
            background: #009bff;
        }
    }
    .price {
        font-size: 15px;
        overflow: hidden;
        max-height: 50px;
        transition: all 0.6s;
        .status {
            font-size: 13px;
            margin-left: 15px;
            color: #3F5692;
        }
    }
}

.swiper-slide-next {
    .slider-prodict-item {
        width: 20vw;
        padding: 40px;
        .image {
            width: 60px;
            margin-right: 25px;
        }
        .name {
            font-size: 11px;
            margin: 0px;
        }
        .descr {
            max-height: 0px;
            margin: 0px;
        }
        .price {
            max-height: 0px;
        }
        .show {
            width: 90px;
        }
    }
}

.main-footer  {
    background: #000;
    padding: 70px 0;
}

.main-footer-container {
    max-width: 1000px;
    margin: 0px auto;
    color: #fff;
    a {
        color: white;
    }
    .our-properties {
        margin-left: 35%;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(33.333% - 4px);
            flex: 0 0 auto;
            border: 1px rgba(white,0.21) solid;
            height: 45px;
            font-size: 14px;
        }
        i.mdi {
            margin-right: 5px;
            font-size: 16px;
        }
    }
}
.footer-info-links {
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        &:hover {
            color: #009bff;
        }
    }
    strong {
        display: block;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1.5px;
        border-bottom: 1px rgba(white,0.1) solid;
        padding: 10px 0 20px;
        margin-bottom: 25px;
    }
    ul {
        list-style: none;
        color: rgba(white,0.69);
        li {
            margin-bottom: 20px;
        }
    }
    .item:first-child {
        width: 35%;
        margin-top: -70px;
        padding-right: 70px;
    }
    .item:nth-child(2) {
        margin-right: auto;
    }
}


/*****************filters-modal***************/
.filters-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 0px;
    box-shadow: none;
    border-radius: 0px;
    a.close-modal {
        display: none;
    }
}
.filters-header {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        transition: all 0.3s;
    }
    a.close {
        text-align: center;
        line-height: 30px;
        height: 30px;
        width: 30px;
        font-size: 20px;
        color: #C2C2C2;
        margin-right: 30px;
        &:hover {
            color: #009bff;
        }
    }
    .apply, .clear {
        height: 50px;
        line-height: 50px;
        padding: 0 35px;
        border-radius: 30px;
    }
    .apply {
        background: #000;
        color: #fff;
        &:hover {
            background: #4caf50;
        }
    }
    .clear {
        &:hover {
            color: #009bff;
        }
    }
}
.modal-filters-list {
    display: flex;
    .item {
        margin-right: 10%;
        strong {
            display: block;
            margin-bottom: 40px;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
    .list.double {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 50px;
    }
}
/*****************search-modal***************/
.search-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 100%;
    width: 100%;
    .close {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
        font-size: 24px;
        cursor: pointer;
        &:hover {
            color: #009bff;
        }
    }
    .search-field {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        form {
            display: flex;
            position: relative;
        }
        input {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px rgba(#000,0.17) solid;
            font-size: 18px;
            height: 60px;
            font-weight: 300;
            transition: all 0.3s;
            &:focus {
                border-bottom: 3px rgba(#000,1) solid;
            }
        }
        .search {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #000;
            color: #fff;
            border: none;
            align-self: flex-end;
            margin-left: 20px;
            cursor: pointer;
            font-size: 24px;
            line-height: 50px;
            &:hover {
                background: #009bff;
            }
        }
    }
    .input {
        flex: 1 1 auto;
    }
    .search-drop {
        position: absolute;
        background: #F5F5F5;
        border-radius: 24px;
        top: 120%;
        width: 100%;
        padding: 15px;
        list-style: none;
        text-align: left;
        display: none;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            img {
                width: 60px;
                height: 60px;
            }
            .name {
                width: 40%;
                padding-right: 20px;
            }
            .price {
                width: 30%;
            }
            .status {
                width: 30%;
            }
            &:hover {
                color: #009bff;
            }
        }
    }

    &.remodal-is-opening {
        animation-name: SearchIn;
    }
    &.remodal-is-closing {
        animation-name: SearchOut;
    }
}
/*****************favorite-modal***************/
.favorite-modal {
    position: absolute;
    right: 0px;
    top: 0px;
    min-height: 100%;
    margin: 0px;
    padding: 60px 80px;
    .close {
        font-size: 24px;
        cursor: pointer;
        &:hover {
            color: #009bff;
        }

    }
    .fav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px rgba(#000,0.18) solid;
        padding-bottom: 30px;
        margin-bottom: 30px;
        strong {
            font-size: 18px;
            letter-spacing: 2;
            text-transform: uppercase;
        }
    }
    .catalog-grid {
        text-align: left;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
    &.remodal-is-opening {
        animation-name: FavoriteIn;
    }
    &.remodal-is-closing {
        animation-name: FavoriteOut;
    }
}
/*****************navi-modal***************/
.navi-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 100%;
    width: 100%;
    padding: 0px;
}
.navi-modal-links {
    border-top: 1px rgba(#000,0.09) solid;
    display: flex;
    ul {
        list-style: none;
        display: flex;
        flex: 1 1 auto;
        li {
            flex: 1 1 auto;
        }
        a {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 400px;
            text-decoration: none;
            text-transform: uppercase;
            color: inherit;
            strong {
                margin-top: 20px;
                display: block;
                font-size: 11px;
                letter-spacing: 1px;
            }
            &:hover {
                background: #F7F7F7;
            }
        }
    }
    .our-club {
        flex: 0 0 auto;
        width: 100%;
        max-width: 630px;
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 18px;
            font-weight: 500;
            margin: 30px 0 0;
        }
        p {
            font-size: 13px;
            max-width: 360px;
            line-height: 2;
            margin: 30px 0;
        }
    }
}
.nav-top-brands {
    border-top: 1px rgba(#000,0.09) solid;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 50px 60px;
    .list {
        a {
            padding: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 13px;
            color: rgba(#000, 0.3);
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
                color: #000;
            }
        }
    }
}
@keyframes FavoriteIn {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%)
    }
}

@keyframes FavoriteOut {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(100%)
    }
}

@keyframes SearchIn {
    from {
        transform: translateY(-100%)
    }
    to {
        transform: translateY(0%)
    }
}
@keyframes SearchOut {
    from {
        transform: translateY(0%)
    }
    to {
        transform: translateY(-100%)
    }
}



.artle-item-section {
    margin-bottom: 150px;
    .back {
        display: inline-flex;
        align-items: center;
        padding: 0 60px;
        text-decoration: none;
        font-weight: 500;
        color: inherit;
        i.mdi {
            font-size: 20px;
            margin-right: 5px;
        }
    }
}

.artle-item-wrap {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 60px auto 0;
    .image {
        img {
            max-width: 100%;
        }
    }
    .reff {
        display: block;
        margin-bottom: 30px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        color: rgba(#000, 0.5);
    }
    .name {
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 4px;
        margin-bottom: 15px;
    }
    .descr {
        display: block;
        margin-bottom: 50px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        color: rgba(#000, 0.5);
    }
    .price {
        display: block;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 40px;
    }
}
.tech-params-table {
    max-width: 920px;
    margin: 60px auto 0;
    h2 {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 55px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        td {
            font-size: 13px;
            padding: 17px 17px;
            font-weight: 500;
        }
        td:last-child {
            text-align: right;
        }
        tr:nth-child(odd) {
            td {
                background: #F5F5F5;
            }
        }
    }
}

.item-banner {
    color: #fff;
    padding: 150px 0;
    article {
        max-width: 920px;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 100px;
        letter-spacing: 2px;
    }
    p {
        font-size: 16px;
        line-height: 1.7;
    }
}
.item-banner-image {
    img {
        width: 100%;
        vertical-align: middle;
    }
}

.item-priority {
    padding: 200px 0;
    .text {
        display: flex;
        align-items: center;
        max-width: 920px;
        margin: 0 auto;
    }
    strong {
        font-size: 18px;
        line-height: 1.5;
        margin-right: 150px;
    }
    p {
        font-size: 16px;
        line-height: 2;
        font-weight: 400;
    }
}

.about-mechanism {
    padding: 120px 0;
    overflow: hidden;
}
.about-mechanism-wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.mechanism-info {
    margin: 0 0 50px 0;
    display: flex;
    align-items: center;
    & + span {
        font-size: 18px;
        display: block;
        margin-bottom: 35px;
    }
    .image {
        flex: 0 0 auto;
        width: 100%;
        max-width: 420px;
        margin-right: 125px;
        img {
            vertical-align: middle;
            width: 100%;
        }
    }
    .text {
        h3 {
            font-size: 48px;
            font-weight: 400;
            margin-bottom: 50px;
        }
        p {
            font-size: 16px;
            line-height: 2;
        }
        p + p {
            margin-top: 50px;
        }
    }
}
.mechanism-slider {
    overflow: visible;
    margin-bottom: 80px;
    img {
        vertical-align: middle;
        max-width: 100%;
    }
    .swiper-pagination-progressbar {
        top: auto;
        bottom: -80px;
        background: rgba(#000,0.09);
    }
    .swiper-pagination-progressbar-fill {
        background: #000;
    }
    .btn-next,
    .btn-prev {
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #000;
        color: #fff;
        text-align: center;
        line-height: 60px;
        font-size: 24px;
        top: 50%;
        margin: -30px 0 0 0;
        z-index: 1;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background: #009bff;
        }
        &.swiper-button-disabled {
            opacity: 0;
        }
    }
    .btn-next {
        right: -100px;
    }
    .btn-prev {
        left: -100px;
    }
}

.warranty-returns {
    padding: 140px 0;
    .blocks {
        max-width: 920px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .blocks > div {
        width: 100%;
        max-width: 400px;
    }
    strong {
        display: block;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-bottom: 1px rgba(#000,0.18) solid;
        padding: 0 0 35px 0;
        margin-bottom: 35px;
    }
    p {
        line-height: 2;
    }
}
/**********************ui**********************/
.c-button {
    display: inline-flex;
    background: none;
    height: 50px;
    border: 1px rgba(#000, 0.4) solid;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 0 60px;
    cursor: pointer;
    transition: all 0.3s;
    &.icon-right {
        padding: 0 30px;
        .mdi {
            margin-left: 5px;
        }
    }
    &:hover {
        background: #009bff;
        color: #fff;
        border-color: #009bff;
    }
    &.light {
        border-color: #fff;
    }
    &.black {
        background: #000;
        color: #fff;
        &:hover {
            background: #009bff;
        }
    }
    &.icon {
        width: 50px;
        padding: 0px;
        i.mdi {
            font-size: 20px;
        }
        &:hover {
            border-color: #009bff;
        }
    }
    i.mdi {
        font-size: 16px;
    }

}

.c-input {
    input {
        width: 100%;
        height: 50px;
        border: 1px rgba(#000, 0.4) solid;
        background: none;
        border-radius: 25px;
        padding: 0 35px;
    }
    &.light {
        input {
            border-color: #fff;
            color: #fff;
        }
    }
}

.c-checkbox {
    display: flex;
    cursor: pointer;
    margin-bottom: 24px;
    span {
        color: rgba(#000, 0.5);
        line-height: 18px;
        font-weight: 500;
    }
    input {
        display: none;
    }
    input:checked + .check {
        background: #000;
        border-color: #000;
        &:before {
            transform: scale(1);
        }
    }
    input:checked ~ span {
        color: #000;
    }
    .check {
        margin-right: 14px;
        width: 18px;
        height: 18px;
        border: 1px solid rgba(#000, 0.32);
        border-radius: 2px;
        text-align: center;
        line-height: 16px;
        transition: all 0.3s;
        &:before {
            content: "\F012C";
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: inherit;
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            transition: all 0.3s;
            transform: scale(0);
            color: #fff;
        }
    }
}

.remodal-overlay {
    background: rgba(#000, 0.8);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.remodal-wrapper {
    overflow-x: hidden;
}