* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

$hover-link: #009bff;
$red: #e91e63;

a {
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}

.remodal-wrapper {
    overflow-x: hidden;
    padding: 0px;
}

.paddings {
    padding: 75px 140px;
}
.paddings-half {
    padding: 50px 140px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
body {
    font-family: 'Helvetica';
    font-size: 16px;
    line-height: 1;
    padding-top: 130px;
}

input, select, button, textarea {
    font-family: 'Helvetica';
}
h1,h2,h3,h4 {
    font-family: 'BodoniC';
    font-weight: 400;
}

.top-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.main-header {
    top: 0px;
    left: 0px;
    height: 130px;
    background: #fff;
    border-bottom: 1px rgba(#000, 0.1) solid;
    display: flex;
    padding: 0 55px;
    align-items: center;
    position: fixed;
    width: 100%;
    transition: all 0.3s;
    z-index: 100;
    .logo {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        text-decoration: none;
        transform: translate(-50%, -50%);
        height: 75px;
        transition: all 0.3s;
        img {
            height: 75px;
        }
    }
    &.mini {
        height: 80px;
        box-shadow: 0 0 10px 10px rgba(#000,0.1);
        .logo {
            overflow: hidden;
            height: 38px;
        }
    }
    
}
.main-nav {
    flex: 1 1 auto;
    ul {
        width: 100%;
        display: flex;
        list-style: none;
        li:nth-child(3) {
            margin-left: auto;
        }
        li {
            margin-right: 22px;
        }
    }
    a {
        font-family: 'BodoniC';
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        color: inherit;
        text-transform: uppercase;
        &:hover {
            color: $hover-link;
        }
    }

    
}
.header-tools {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    .search,
    .favorite {
        flex: 0 0 auto;
        text-decoration: none;
        color: inherit;
        padding: 10px;
        .mdi {
            font-size: 24px;
        }
        &:hover {
            color: $hover-link;
        }
    }
    .favorite {
        display: inline-flex;
        align-items: center;
        span {
            font-family: "BodoniC";
            margin-left: 4px;
            font-weight: 500;
            font-size: 16px;
            color: #000;
        }
    }
    .favorite.active {
        color: $red;
        .mdi-heart-outline:before {
            content: "\F02D1";
        }
    }
}
.lang-select {
    background: #fff;
    flex: 0 0 auto;
    height: 40px;
    margin-right: 15px;
    position: relative;
    i.mdi {
        position: absolute;
        top: 11px;
        right: 13px;
        font-size: 18px;
        pointer-events: none;
    }
    select {
        font-family: "BodoniC";
        background: #f5f5f5;
        font-size: 16px;
        padding: 0 35px 0 15px;
        height: 100%;
        width: 100%;
        font-weight: 500;
        appearance: none;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background: #f0f0f0;
        }
    }
}
.main-header-mobile {
    position: fixed;
    display: none;
    align-items: center;
    z-index: 1000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 1px rgba(#000,0.1) solid;
    padding: 0 30px;
    .logo {
        margin-left: 30px;
        margin-right: auto;
    }
    .burger-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40px;
        height: 40px;
        background: none;
        border: none;
        cursor: pointer;
        span {
            display: block;
            width: 30px;
            height: 2px;
            background: #000;
            &:nth-child(2) {
                margin: 5px 0;
            }
        }
    }
}
.artle-office {
    padding: 50px 0;
    display: flex;
    border-top: 1px rgba(#000, 0.1) solid;
    .image {
        width: 39vw;
        flex: 0 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .tablet {
            display: none;
        }
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 10%;
        padding-right: 8%;
        padding-top: 30px;
        padding-bottom: 30px;
        p {
            margin: 0 0 50px;
            line-height: 2;
        }
        img {
            max-height: 50px;
        }
    }
    .partners {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.join-our-club {
    background: #101010;
    color: #fff;
    text-align: center;
    padding: 80px 50px 80px;
    img {
        margin-bottom: 65px;
    }
    h2 {
        font-size: 64px;
        letter-spacing: 4px;
        line-height: 1.5;
        text-transform: uppercase;
        font-weight: normal;
    }
    p {
        font-family: 'Helvetica', sans-serif;
        font-weight: 400;
        margin: 15px 0 50px;
        line-height: 1.2;
    }
}

.section-title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    &.text-center {
        display: block;
    }
    h2 {
        font-weight: 400;
        font-size: 64px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    h1 {
        font-size: 64px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}

.catalog-section {
    .section-title {
        margin-bottom: 50px;
        h1 {
            margin-right: 50px;
        }
    }
    .fast-subscribe-form {
        margin-left: auto;
    }
}
.empty-search-text {
    display: block;
    font-size: 16px;
    padding: 2vh 0 20vh;
}
.empty-cap {
    text-align: center;
    padding: 50px 0;
    i.mdi {
        font-size: 32px;
    }
    h2 {
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 15px 0;
        font-weight: 400;
    }
}
.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 80px 100px;
    & + .text-center {
        margin-top: 70px;
    }
}
.catalog-grid-item {
    position: relative;
    .action {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1;
        button, a {
            display: block;
            text-align: center;
            line-height: 42px;
            width: 40px;
            height: 40px;
            background: #fff;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: all 0.3s;
            opacity: 0;
            transform: scale(0);
            &:hover {
                background: #eee;
            }
            i.mdi {
                font-size: 20px;
            }
            &.active {
                i.mdi {
                    color: #E74952;    
                }
                .mdi-heart-outline:before {
                    content: "\F02D1";
                }
            }
        }
    }
    > a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #000;
        height: 100%;
    }
    &:hover {
        .action {
            button, a {
                opacity: 1;
                transform: scale(1);
            }
        }
        .image {
            img {
                transform: scale(1.1) rotate(5deg);
            }
            &:before {
                transform: scale(0.9);
                opacity: 1;
            }
        }
        .name {
            color: #009bff;
        }
    }
    .image {
        display: block;
        position: relative;
        overflow: hidden;
        img {
            vertical-align: middle;
            width: 100%;
            transition: all 0.8s;
        }
    }
    .name {
        display: block;
        font-size: 14px;
        margin: 25px 0 15px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .descr {
        display: block;
        line-height: 1.3;
        margin: 0px 0 15px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: rgba(#000,0.4);
        letter-spacing: 1px;
    }
    .price {
        margin-top: auto;
        display: flex;
        align-items: center;
        b {
            font-size: 16px;
        }
        .status {
            font-weight: 500;
            margin-left: auto;
            font-size: 16px;
            display: inline-block;
            &.in-sale {
                color: #59923F;
            }
            &.sold {
                color: #AC4747;
            }
            &.reserved {
                color: #3F5692;
            }
        }
    }
}
.brands-section {
    .brands-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px 4%;
        a {
            border: 1px rgba(#000, 0.07) solid;
            transition: all 0.4s;
            transform: translateZ(0);
            text-decoration: none;
            color: #000;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 150px;
            span {
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 2px;
            }
            &:hover {
                box-shadow: 0 0 0 3px #009bff;
            }
            img {
                vertical-align: middle;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    a {
        display: block;
        img {
            width: 100%;
            vertical-align: middle;
        }
    }
    a:nth-child(n+10) {
        display: none;
    }
}

.main-slider {
    margin-top: -130px;
    .swiper-slide {
        width: calc(100% - 80px);
        position: relative;
        height: 100vh;
        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
        }
    }
    .swiper-pagination {
        display: none;
    }
    .swiper-button-next {
        background: black;
        color: #fff;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 80px;
        height: 100%;
        margin: 0;
        &:after {
            display: none;
        }
        font-size: 48px;

    }
}
.slider-prodict-item {
    font-family: "BodoniC";
    width: 100%;
    max-width: 660px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 3;
    color: inherit;
    text-decoration: none;
    transition: background 0.3s;
    &:hover {
        .mdi-arrow-right {
            background: #fff;
            color: #000;
        }
    }
    .slider-prodict-item-wrap {
        background: #fff;
        display: flex;
        align-items: center;
        height: 270px;
        transition: height 0.3s;
    }
    .product-info {
        padding: 0 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
    }
    .image {
        flex: 0 0 auto;
        width: 140px;
        margin-right: 3%;
        img {
            width: 100%;
        }
    }
    .info {
        flex: 1 1 auto;
    }
    .name {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 500;
        display: block;
        text-transform: uppercase;
    }
    .descr {
        font-weight: 500;
        display: block;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .price {
        font-size: 15px;
        line-height: 1.4;
        b {
            display: block;
        }
    }
}


/******************cookies**************/
.cookies-notif {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(#000, 0.8);
    z-index: 10;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin-right: 15px;
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 1px;
    }
}
/***************account-activate-notif**********/
.main-header ~ .account-activate-notif {
    top: 130px;
}
.main-header.mini ~ .account-activate-notif {
    top: 80px;
}
.account-activate-notif {
    position: fixed;
    left: 0px;
    width: 100%;
    background: rgba(#000, 0.8);
    z-index: 10;
    color: #fff;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    .mdi-email-outline {
        margin-right: 15px;
        font-size: 24px;
    }
    .close {
        color: #fff;
        font-size: 24px;
        &:hover {
            color: #009bff;
        }
    }
    .btns {
        margin-left: auto;
        margin-right: 30px;
        .c-button {
            margin-left: 20px;
        }
    }
}
/******************article******************/
.article-typo {
    padding: 60px 30px;
    max-width: 960px;
    margin: 0 auto;
    > * {
        margin: 40px 0;
    }
    h1 {
        font-size: 64px;
        font-weight: 300;
    }
    h2 {
        font-size: 32px;
        font-weight: 500;
        text-transform: uppercase;
    }
    h3 {
        font-size: 32px;
        font-weight: 300;
    }
    h4 {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }
    p {
        line-height: 1.6;
    }
    ul {
        padding-left: 20px;
        font-size: 18px;
        li {
            margin: 10px 0;
        }
    }
    blockquote, .article-comment {
        line-height: 1.6;
        padding: 50px 100px;
    }
    .article-comment {
        border: 1px solid #D7D5D3;
    }
    blockquote {
        background: #F5F5F5;
    }
}

/*****************filters-modal***************/
.filters-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: 50px 100px;
    box-shadow: none;
    border-radius: 0px;
    margin: 0px;
}
.filters-header {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        transition: all 0.3s;
    }
    .apply, .clear {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        height: 50px;
        line-height: 50px;
        padding: 0 35px;
        border-radius: 30px;
    }
    .apply {
        background: #000;
        color: #fff;
        &:hover {
            background: #4caf50;
        }
    }
    .clear {
        &:hover {
            color: #009bff;
        }
    }
}
.modal-filters-list {
    display: flex;
    justify-content: space-evenly;
    .item {
        text-align: left;
        strong {
            display: block;
            margin-bottom: 40px;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-align: left;
            font-weight: 500;
        }
    }
    .list.double {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 50px;
    }
}
/*****************search-modal***************/
.search-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 100%;
    width: 100%;
    .close {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        color: #000;
        font-size: 24px;
        cursor: pointer;
        &:hover {
            color: #009bff;
        }
    }
    .search-field {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        form {
            display: flex;
            position: relative;
        }
        input {
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px rgba(#000,0.17) solid;
            font-size: 18px;
            height: 60px;
            font-weight: 300;
            transition: all 0.3s;
            &:focus {
                border-bottom: 3px rgba(#000,1) solid;
            }
        }
        .search {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #000;
            color: #fff;
            border: none;
            align-self: flex-end;
            margin-left: 20px;
            cursor: pointer;
            font-size: 24px;
            line-height: 50px;
            &:hover {
                background: #009bff;
            }
        }
        .show-all-results {
            margin: 0px;
            padding: 20px 0;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: center;
            display: block;
            border-top: 1px rgba(#000, 0.1) solid;
        }
    }
    .input {
        flex: 1 1 auto;
    }
    .search-drop {
        position: absolute;
        background: #F5F5F5;
        border-radius: 24px;
        top: 120%;
        width: 100%;
        list-style: none;
        text-align: left;
        //display: none;
        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            padding: 7.5px 15px;
            margin: 10px 0;
            .image {
                width: 60px;
                height: 60px;
                margin-right: 10px;
                position: relative;
            }
            img {
                height: 100%;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            .name {
                width: 40%;
                padding-right: 20px;
            }
            .price {
                width: 30%;
            }
            .status {
                width: 30%;
            }
            &:hover {
                color: #009bff;
            }
        }
        .empty {
            text-align: center;
            padding: 30px 0;
            i.mdi {
                display: block;
                font-size: 38px;
                margin-bottom: 10px;
            }
            span {
                display: block;
            }
        }
    }

    &.remodal-is-opening {
        animation-name: SearchIn;
    }
    &.remodal-is-closing {
        animation-name: SearchOut;
    }
}
/*****************footer***********************/
.main-footer {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    .logo {
        display: block;
        margin-bottom: 50px;
    }
}
.main-footer-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0 10%;
}
.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;
    span {
        margin-bottom: 30px;
        display: block;
        color: rgba(#fff, 0.6);
    }
    a {
        display: block;
        color: rgba(#fff, 0.6);
        margin-top: 10px;
        text-decoration: none;
        &:hover {
            color: rgba(#fff, 1);
        }
    }
}
.footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 30px;
    div {
        line-height: 2;
    }
    strong {
        font-weight: 400;
        letter-spacing: 1px;
        display: block;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    a {
        text-decoration: none;
        &:hover {
            opacity: 0.6;
        }
    }
    .social {
        margin-bottom: 20px;
        border-radius: 15px;
        text-align: center;
        max-width: 210px;
        display: block;
        border: 1px #fff solid;
    }
}
.main-footer-right {
    display: flex;
    flex-direction: column;
}
.footer-copy {
    margin-top: auto;
    display: flex;
    span:last-child {
        margin-left: 50px;
    }
}
/*****************favorite-modal***************/
.favorite-modal {
    position: absolute;
    right: 0px;
    top: 0px;
    min-height: 100%;
    margin: 0px;
    padding: 60px 80px;
    .close {
        font-size: 24px;
        cursor: pointer;
        &:hover {
            color: #009bff;
        }

    }
    .fav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px rgba(#000,0.18) solid;
        padding-bottom: 30px;
        margin-bottom: 30px;
        strong {
            font-family: "BodoniC";
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
    }
    .catalog-grid {
        text-align: left;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
    }
    &.remodal-is-opening {
        animation-name: FavoriteIn;
    }
    &.remodal-is-closing {
        animation-name: FavoriteOut;
    }
}
/*****************navi-modal***************/
.navi-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    max-width: 100%;
    width: 100%;
    padding: 0px;
    .our-club {
        flex: 1 1 auto;
        max-width: 630px;
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        h2 {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 400;
        }
        p {
            max-width: 380px;
            font-size: 12px;
            line-height: 1.6;
            margin: 20px 0;
        }
    }
}
.navi-modal-links {
    border-top: 1px rgba(#000,0.09) solid;
    display: flex;
    ul {
        list-style: none;
        display: flex;
        flex: 1 1 auto;
        flex-wrap: wrap;
        li {
            flex: 1 1 auto;
            width: 25%;
        }
        a {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 350px;
            text-decoration: none;
            text-transform: uppercase;
            color: inherit;
            overflow: hidden;
            img {
                max-width: 175px;
                transition: all 0.3s;
            }
            strong {
                font-weight: 400;
                margin-top: 20px;
                display: block;
                font-size: 12px;
                letter-spacing: 1px;
                transition: all 0.3s;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                strong {
                    color: #009bff;
                }
            }
        }
        .show-all {
            width: 100%;
            border-top: 1px rgba(#000,0.09) solid;
            a {
                padding: 20px 0;
                display: block;
                height: auto;
                font-weight: 500;
                letter-spacing: 1px;
                transition: all 0.3s;
                &:hover {
                    background: #f5f5f5;
                }
            }
        }
    }
}
/*****************navi-modal mobile***************/
.navi-modal.mobile {
    .nav-top-brands {
        padding: 10px 30px;
    }
    .close {
        position: absolute;
        left: 30px;
        top: 30px;
        font-size: 24px;
        &:hover {
            cursor: pointer;
            color: #009bff;
        }
    }
}
.navi-modal-mobile-cols {
    display: flex;
    .links-col {
        width: 50%;
        padding: 30px;
        flex: 0 0 auto;
        > img {
            width: 200px;
            margin-bottom: 20px;
        }
        > a {
            display: block;
            margin: 0 30px 30px;
            img {
                height: 50px;
            }
        }
        ul {
            text-align: left;
            list-style: none;
            a {
                padding: 15px 0;
                font-weight: 500;
                color: #000;
                display: block;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-decoration: none;
                &:hover {
                    color: #009bff;
                }
            }
        }
        hr {
            margin: 15px 0;
            height: 1px;
            border: none;
            background: rgba(#000,0.1);
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .our-club {
        background: #F5F5F5;
        padding: 30px;
    }
    .lang-select {
        display: none;
        margin: 0 0 15px 0;
        select {
            padding: 0 calc(46vw - 60px);
        }
        i.mdi {
            right: 30vw;
        }
    }
}
.made-by-with {
    display: none;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    border-top: 1px rgba(#000, 0.1) solid;
    padding: 25px 0;
}
.nav-top-brands {
    border-top: 1px rgba(#000,0.09) solid;
    border-bottom: 1px rgba(#000,0.09) solid;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 30px 60px;
    > span {
        text-transform: uppercase;
        font-size: 12px;
        flex: 0 0 auto;
        white-space: nowrap;
        margin-right: 30px;
    }
}
.nav-top-brands-list-wrap {
    flex: 1 1 auto;
    overflow: hidden;
}
.nav-top-brands-list {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    a {
        &:first-child {
            padding-left: 0px;
        }
        display: inline-block;
        padding: 20px 20px;
        font-weight: 400;
        letter-spacing: 1px;
        font-size: 13px;
        color: rgba(#000, 0.6);
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            color: #000;
        }
    }
}
.mb--theme {
    .mCSB_scrollTools {
        opacity: 1;
    }
    .mCSB_horizontal {
        .mCSB_container {
            margin-bottom: 0px;
        }
    }
    .mCSB_scrollTools.mCSB_scrollTools_horizontal {
        bottom: 0px;
        height: 4px;
        background: rgba(#000, 0.1);
        .mCSB_dragger_bar {
            margin: 0px;
            background-attachment: #000 !important;
        }
        .mCSB_draggerRail {
            margin: 0px;
        }
    }
}
/*****************club-modal***************/
.club-modal {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    max-width: 100%;
    min-height: 100%;
    margin: 0px;
    overflow: auto;
    background-image: url(../img/follow-us.jpg);
    background-size: cover;
    background-position: center center;
    .join-our-club {
        background: none;
        min-height: 100vh;
        padding: 50px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            margin-bottom: 40px;
        }
        p {
            font-size: 14px;
            text-transform: uppercase;
            line-height: 2;
        }
    }
    .partners {
        max-width: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            height: 40px;
        }
    }
    .subscribe {
        width: 100%;
        max-width: 600px;
        margin: 50px auto;
        .c-input {
            margin-bottom: 20px;
        }
        .c-button {
            margin-top: 30px;
        }
    }
}
@keyframes FavoriteIn {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%)
    }
}
@keyframes FavoriteOut {
    from {
        transform: translateX(0%)
    }
    to {
        transform: translateX(100%)
    }
}
@keyframes SearchIn {
    from {
        transform: translateY(-100%)
    }
    to {
        transform: translateY(0%)
    }
}
@keyframes SearchOut {
    from {
        transform: translateY(0%)
    }
    to {
        transform: translateY(-100%)
    }
}
.artle-item-section {
    padding-top: 30px;
    margin-bottom: 50px;
}
.artle-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    margin-bottom: 30px;
    .back {
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        font-weight: 500;
        color: inherit;
        text-transform: uppercase;
        i.mdi {
            font-size: 20px;
            margin-right: 5px;
        }
    }
}
.artle-item-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
    align-items: center;
    max-width: 1200px;
    margin: 0px auto 0px;
    .image {
        display: block;
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    .info {
        max-width: 600px;
        flex: 1 1 auto;
        position: relative;
    }
    .reff {
        display: block;
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
    }
    .name {
        font-size: 60px;
        font-weight: 500;
        letter-spacing: 4px;
        margin: 30px 0;
    }
    .price {
        font-family: "BodoniC";
        display: block;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 60px;
    }
    .btns {
        display: flex;
        align-items: center;
        .c-button + .c-button {
            margin-left: 30px;
        }
    }
    .addToFavorite {
        display: inline-block;
        font-size: 24px;
        right: 0px;
        top: 0px;
        color: #000;
        transition: all 0.3s;
        margin-bottom: 30px;
        &:hover {
            transform: scale(1.1);
        }
        &.active {
            color: $red;
            .mdi-heart-outline::before {
                content: "\F02D1";
            }
        }
    }

}

.technical-params-cols {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10%;
    h3 {
        font-size: 32px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
}
.technical-params-table {
    td {
        font-size: 14px;
        padding-bottom: 30px;
        vertical-align: top;
        line-height: 1.4;
        &:first-child {
            padding-right: 30px;
            color: #aaa;
        }
    }
}
.item-banner {
    color: #fff;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(#000,0.6);
        z-index: 0;
    }
    article {
        max-width: 920px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }
    h3 {
        text-align: center;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 50px;
    }
    h2 {
        margin-bottom: 15px;
        margin-top: 35px;
    }
    p {
        line-height: 1.7;
    }
    &.black {
        background: #000;
    }
}
.parallax-mirror {
    background-color: #000;
}
.item-banner-image {
    img {
        width: 100%;
        vertical-align: middle;
    }
}
.item-priority {
    padding: 75px 0 0;
    .text {
        display: flex;
        align-items: center;
        max-width: 920px;
        margin: 0 auto;
    }
    strong {
        font-family: "BodoniC";
        font-weight: 500;
        font-size: 24px;
        line-height: 1.4;
        margin-right: 120px;
        letter-spacing: 1px;
    }
    p {
        line-height: 2;
        font-weight: 400;
    }
}
.about-mechanism {
    padding: 60px 30px;
    overflow: hidden;
}
.about-mechanism-wrap {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    h2 {
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 50px;
    }
    .swiper-pagination-progressbar {
        width: 100%;
        height: 5px;
        top: auto;
        bottom: -40px;
        background: rgba(#000,0.09);
    }
    .swiper-pagination-progressbar.hidden {
        display: none;
    }
    .swiper-pagination-progressbar-fill {
        background: #000;
    }
    .btn-next,
    .btn-prev {
        position: absolute;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #000;
        color: #fff;
        text-align: center;
        line-height: 60px;
        font-size: 24px;
        top: 50%;
        margin: 0px 0 0 0;
        z-index: 1;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background: #009bff;
        }
        &.swiper-button-disabled {
            opacity: 0;
        }
    }
    .btn-next {
        right: -30px;
    }
    .btn-prev {
        left: -30px;
    }
}
.mechanism-slider {
    overflow: visible;
    margin-bottom: 40px;
    img {
        vertical-align: middle;
        max-width: 100%;
    }
    
}
.warranty-returns {
    padding: 100px 0;
    .blocks {
        max-width: 920px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .blocks > div {
        width: 100%;
        max-width: 400px;
    }
    strong {
        font-family: "BodoniC";
        display: block;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        border-bottom: 1px rgba(#000,0.18) solid;
        padding: 0 0 35px 0;
        margin-bottom: 35px;
    }
    p {
        line-height: 1.6;
    }
}

/***************our club**************/
.our-club-section {
    background-image: url(../img/club-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 60px;
    .wrap {
        max-width: 1160px;
        margin: 0 auto;
    }
    > h2 {
        text-align: center;
        font-weight: 300;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 60px;
    }
}
.our-club-priorities {
    display: flex;
    text-align: center;
    justify-content: space-between;
    .item {
        width: calc(25% - 30px);
    }
    .icon {
        height: 70px;
        display: flex;
        margin-bottom: 30px;
        img {
            margin: auto;
        }
    }
    span {
        display: block;
        line-height: 1.2;
    }
}
.join-club-form {
    margin: 70px 0;
    background: #fff;
    padding: 30px 30px;
    text-align: center;
    color: #000;
    form {
        max-width: 630px;
        margin: 0 auto;
    }
    h2 {
        font-size: 32px;
        font-weight: 400;
        margin: 30px 0;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .c-input {
        margin-bottom: 30px;
    }
    .c-button {
        margin-top: 0px;
    }
}
.also-in-club {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 32px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 60px;
    }
    ul {
        margin-bottom: 100px;
        li {
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: 400;
        }
    }
    p {
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 45px; 
    }
    .logos {
        display: flex;
        align-items: center;
        img {
            margin: 0 35px;
        }
    }
}

/***************consign**************/
.consign-section {
    position: relative;
    .cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 10%;
        
    }
    
}
.consign-form {
    .clip-watch-photo {
        margin: 60px 0;
        display: flex;
        justify-content: space-between;
        .item {
            height: 186px;
            width: calc(33.333% - 10px);
            background: rgba(#C4C4C4, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            cursor: pointer;
            &:hover {
                span {
                    color: #009bff;
                    opacity: 1;
                }
                i.mdi {
                    color: #009bff;
                    opacity: 1;
                }
            }
            i.mdi {
                font-size: 48px;
                opacity: 0.3;
            }
            span {
                margin-top: 10px;
                font-size: 12px;
                font-weight: 500;
                opacity: 0.3;
            }
            input {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
            &.active {
                background-position: center;
                background-size: cover;
                i.mdi {
                    display: none;
                }
                span {
                    background: #fff;
                    opacity: 1;
                    padding: 5px 10px;
                    border-radius: 15px;
                    box-shadow: 0 0 5px 5px rgba(#000, 0.2);
                }
            }
        }
    }
}
.consign-info {
    img {
        max-width: 100%;
    }
    .text {
        padding: 10%;
    }
    p {
        line-height: 2;
        font-size: 15px;
        margin-bottom: 15px;
    }
}
/***************contact****************/
.contacts-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    h2 {
        font-size: 64px;
        margin-bottom: 30px;
    }
    p {
        font-size: 16px;
        line-height: 2;
    }
}
.office-images {
    margin-bottom: 0px;
    display: flex;
    > * {
        width: 50%;
    }
    .map {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}
/******************404******************/
.p-404 {
    padding: 10% 0;
    text-align: center;
    h1 {
        margin-bottom: 30px;
        font-size: 150px;
        color: #fff;
        text-shadow: 1px 1px 1px #000,
                     2px 2px 1px #000,
                     3px 3px 1px #000,
                     4px 4px 1px #000,
                     0px 0px 1px #000;
    }
}
/***************about-artle**************/
.about-artle {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 100px;
        margin-bottom: 30px;
        align-items: center;
        &.revers {
            .image {
                order: -1;
            }
        }
    }
    .image {
        img {
            width: 100%;
            max-width: 100%;
            vertical-align: middle
        }
    }
    .text {
        padding: 10% 10%;
        line-height: 1.5;
        p {
            margin-bottom: 30px;
        }
        img {
            height: 50px;
        }
    }
    .col {
        &.revers {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
/***************consign modals**************/
    .consign-result-modal {
        max-width: 550px;
        padding: 60px 30px;
        strong {
            font-family: "BodoniC";
            font-weight: 400;
            margin: 20px 0;
            font-size: 64px;
            display: block;
            text-transform: uppercase;
        }
        p {
            margin: 30px 0 40px;
        }
    }
/*****************club-welcome-modal********/
.club-welcome-modal {
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    max-width: 100%;
    margin: 0px;
    height: 100%;
    padding: 30px;
    display: flex;
    overflow: auto;
    .wrapper {
        margin: auto;
        max-width: 660px;
    }
    &.welcome-final {
        .frame-block {
            p {
                margin: 50px 0;
            }
        }
    }
    .frame-block {
        border: 1px solid #D7D5D3;
        padding: 30px 60px;
        img {
            margin-bottom: 30px;
        }
        h2 {
            font-size: 32px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        p {
            line-height: 2;
        }
    }
    .confirm-subscr {
        margin-top: 5%;
        h3 {
            .mdi {
                margin-right: 15px;
                font-size: 24px;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
        }
        p {
            line-height: 2;
            opacity: 0.5;
            margin: 30px 0;
        }
    }
}
/*****************CallToActionModal********/
.call-to-action-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    max-width: 100%;
    display: flex;
    padding: 30px;
    overflow: auto;
}
.call-to-action-form {
    margin: auto;
    width: 100%;
    max-width: 610px;
    h2 {
        font-size: 64px;
        font-weight: 300;
        margin-bottom: 50px;
    }
    .c-button {
        margin-top: 40px;
    }
}
/*********************video modal*************/
.remodal.video-modal {
    position: fixed;
    max-width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    background: #000;
    .video-modal-wrap {
        margin: auto;
        width: 100%;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
        padding-top: 25px;
        iframe {
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            width: 100%!important;
            height: 100%!important;
        }
    }
    .close-remodal {
        top: 10vh;
    }
}
/**********************ui**********************/
.c-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    min-height: 50px;
    border: 1px rgba(#000, 0.4) solid;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: inherit;
    text-decoration: none;
    border-radius: 30px;
    padding: 0 60px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background: #009bff;
        color: #fff;
        border-color: #009bff;
    }
    &.disabled,
    &:disabled {
        opacity: 0.3;
        pointer-events: none;
        .mdi-loading {
            display: inline-block;
        }
    }
    .mdi-loading {
        display: none;
    }
    &.icon-right {
        .mdi {
            font-size: 24px;
            vertical-align: top;
            margin-left: 10px;
        }
    }
    &.full {
        width: 100%;
    }
    &.light {
        border-color: #fff;
    }
    &.white {
        border-color: #fff;
        background: #fff;
        color: #000;
        &:hover {
            border-color: #009bff;
            background: #009bff;
            color: #fff;
        }
        &.outline {
            background: none;
            color: #fff;
            &:hover {
                border-color: #fff;
                background: #fff;
                color: black;
            }
        }
    }
    &.black {
        background: #000;
        color: #fff;
        &:hover {
            background: #009bff;
        }
    }
    &.icon {
        width: 50px;
        padding: 0px;
        i.mdi {
            font-size: 20px;
        }
        &:hover {
            border-color: #009bff;
        }
    }
    &.small {
        min-height: 40px;
        padding: 0 40px;
        letter-spacing: 1px;
    }
    i.mdi {
        font-size: 16px;
    }

}

.c-input {
    input, textarea {
        width: 100%;
        height: 50px;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px rgba(#000, 0.4) solid;
        background: none;
        border-radius: 25px;
        padding: 0 35px;
        background: #fff;
        text-transform: uppercase;
        &.error {
            border-color: #e91e63 !important;
            box-shadow: 0 0 1px 1px #e91e63 inset !important;
        }
    }
    textarea {
        text-transform: uppercase;
        height: auto;
        min-height: 140px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    &.light {
        input {
            border-color: #fff;
            color: #fff;
            background: none;
        }
    }
    &.white {
        input {
            border-color: #fff;
            background: #fff;
            color: #000;
        }
    }
    &.dark {
        input {
            border-color: rgba(#000, 0.26);
            color: #000;
            background: none;
            &:focus {
                border-color: #000;
            }
        }
    }
}

.c-checkbox {
    display: flex;
    cursor: pointer;
    margin-bottom: 24px;
    span {
        color: rgba(#000, 0.5);
        line-height: 18px;
        font-weight: 500;
        font-size: 14px;
    }
    input {
        display: none;
    }
    input:checked + .check {
        background: #000;
        border-color: #000;
        &:before {
            transform: scale(1);
        }
    }
    input:checked ~ span {
        color: #000;
    }
    .check {
        margin-right: 14px;
        width: 18px;
        height: 18px;
        border: 1px solid rgba(#000, 0.32);
        border-radius: 2px;
        text-align: center;
        line-height: 16px;
        transition: all 0.3s;
        &:before {
            content: "\F012C";
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: inherit;
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            transition: all 0.3s;
            transform: scale(0);
            color: #fff;
        }
    }
}

.float-input {
    position: relative;
    margin-bottom: 30px;
    input {
        font-size: 14px;
        height: 60px;
        border: none;
        width: 100%;
        border-bottom: 1px rgba(#000, 0.17) solid;
        transition: all 0.3s;
        &.error {
            border-color: #E74952 !important;
            color: #E74952;
            + label {
                color: #E74952;
            }
        }
    }
    textarea {
        font-size: 16px;
        height: 60px;
        border: none;
        width: 100%;
        border-bottom: 1px rgba(#000, 0.17) solid;
        resize: vertical;
        padding-top: 20px;
        transition: all 0.3s;
        &.error {
            border-color: #E74952 !important;
            color: #E74952;
            + label {
                color: #E74952;
            }
        }
    }

    label {
        font-weight: 500;
        font-size: 14px;
        line-height: 60px;
        position: absolute;
        left: 0px;
        top: 0px;
        pointer-events: none;
        opacity: 0.3;
        text-transform: uppercase;
        transition: all 0.3s;
    }
    &.active {
        label {
            line-height: 10px;
            font-size: 12px;
            color: #009bff;
            opacity: 1;
        }
        input, textarea {
            border-bottom: 1px #009bff solid;
        }
    }
    .drop-list {
        display: none;
        position: absolute;
        top: calc(100% - 1px);
        width: 100%;
        box-shadow: 0 5px 20px 5px rgba(#000,0.1);
        background: #fff;
        max-height: 300px;
        overflow: auto;
        z-index: 1;
        a {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: inherit;
            &:hover {
                color: #009bff;
            }
        }
    }
}

fieldset {
    border: 1px solid #D9D9D9;
    margin: 50px 0;
    padding: 35px;
    transition: all 0.3s;
    &.active {
        border-color: #009bff;
        legend {
            color: #009bff;
            opacity: 1;
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        .c-checkbox {
            margin: 10px 30px 10px 0;
        }
        .c-checkbox:last-child {
            margin-right: 0px;
        }
    }
    legend {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 15px;
        margin-left: 0px;
        opacity: 0.3;
        letter-spacing: 1px;
        transition: all 0.3s;
    }
}

.remodal {
    color: #000;
    visibility: hidden;
    &.remodal-is-opening {
        visibility: visible;
    }
    &.remodal-is-opened {
        visibility: visible;
    }
    .close-remodal {
        color: #fff;
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        position: absolute;
        right: 50px;
        top: 50px;
        text-transform: uppercase;
        cursor: pointer;
        i.mdi {
            line-height: 24px;
            width: 24px;
            height: 24px;
            background: #000;
            color: #fff;
            font-size: 16px;
            margin-left: 10px;
        }
        &:hover {
            color: #009bff;
        }
        &.black {
            color: #000;
            &:hover {
                color: #009bff;
                i.mdi {
                    background: #009bff;
                }
            }
        }
    }
}

.remodal-overlay {
    background: rgba(#000, 0.8);
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.remodal-overlay.show-top {
    display: none !important;
}
.scroll-custom {
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.09);
    }
    &::-webkit-scrollbar-thumb {
        background: #000;
    }
}

.mdi-spin:before {
    animation-duration: 0.4s;
}

@import "responsive";