* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
}

body {
  font-family: 'DIN Pro';
  width: 210mm;
  margin: 0 auto;
  padding-top: 24px;
}

.top-running-title {
  width: 210mm;
  overflow: hidden;
  text-align: center;
  margin-bottom: 24px;
  position: running(header);
}

.top-running-title img {
  float: left;
  height: 24px;
}

.top-running-title .order-num {
  font-size: 12px;
  vertical-align: top;
}

.top-running-title .date {
  float: right;
  font-size: 12px;
}

.result-size-profile {
  background: #000;
  text-align: center;
}

.result-size-profile > div {
  display: block;
}

.result-size-profile .figure-direct .l1 {
  left: 70px;
  top: 50%;
}

.result-size-profile .figure-angle .l1 {
  left: 43px;
  top: 50%;
}

.result-size-profile .figure-angle .l2 {
  left: 50%;
  top: 10px;
}

.result-size-profile .figure-pi {
  margin: 15px 0;
}

.result-size-profile .figure-pi .l1 {
  left: 30px;
  top: 50%;
}

.result-size-profile .figure-pi .l2 {
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.result-size-profile .figure-pi .l3 {
  right: 30px;
  top: 50%;
}

.result-size-profile .figure-square {
  margin: 15px 0;
}

.result-size-profile .figure-square .l1 {
  left: 30px;
  top: 50%;
}

.result-size-profile .figure-square .l1 + .l1 {
  left: auto;
  right: 30px;
  top: 50%;
}

.result-size-profile .figure-square .l2 {
  left: 50%;
  top: 1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.result-size-profile .figure-square .l2 + .l2 {
  left: 50%;
  top: auto;
  bottom: 3px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.result-size-profile .image {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.result-size-profile .image img {
  vertical-align: middle;
}

.result-size-profile .image span {
  position: absolute;
  font-size: 10px;
  line-height: 12px;
  color: #fff;
}

.params-images {
  font-size: 0px;
  margin-bottom: 24px;
}

.params-images > div {
  display: inline-block;
  vertical-align: top;
}

.params-images > div + div {
  margin-left: 12px;
}

.params-images img {
  width: 256px;
}

.section-params {
  margin-bottom: 25px;
  page-break-inside: avoid;
}

.section-params .title {
  font-size: 20px;
  line-height: 24px;
}

.section-params > p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.config-icons {
  font-size: 0px;
}

.config-icons img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  margin-bottom: 8px;
}

.params-table {
  margin-top: 8px;
  border-spacing: 0px;
  border-collapse: 0px;
  width: 100%;
}

.params-table td {
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
}

.params-table td:first-child {
  color: rgba(0, 0, 0, 0.38);
  font-weight: 400;
  width: 36px;
}

.params-table td:last-child {
  text-align: right;
  font-weight: 400;
}
/*# sourceMappingURL=print.css.map */