@font-face {
    font-family: 'Minion Pro';
    src: url("../fonts/subset-MinionPro-It.woff2") format("woff2"), url("../fonts/subset-MinionPro-It.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Minion Pro';
  src: url("../fonts/subset-MinionPro-Bold.woff2") format("woff2"), url("../fonts/subset-MinionPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
  src: url("../fonts/subset-MinionPro-Medium.woff2") format("woff2"), url("../fonts/subset-MinionPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
  src: url("../fonts/subset-MinionPro-Semibold.woff2") format("woff2"), url("../fonts/subset-MinionPro-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
  src: url("../fonts/subset-MinionPro-Regular.woff2") format("woff2"), url("../fonts/subset-MinionPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
  src: local("HelveticaNeueCyr-Heavy"), url("../fonts/subset-HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("../fonts/subset-HelveticaNeueCyr-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/subset-HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/subset-HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/subset-HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/subset-HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
  src: local("HelveticaNeueCyr-Thin"), url("../fonts/subset-HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/subset-HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
  src: local("HelveticaNeueCyr-Light"), url("../fonts/subset-HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/subset-HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
  src: local("HelveticaNeueCyr-UltraLight"), url("../fonts/subset-HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/subset-HelveticaNeueCyr-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/subset-HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/subset-HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
  src: url("../fonts/subset-GothamPro.woff2") format("woff2"), url("../fonts/subset-GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
  src: url("../fonts/subset-GothamPro-Light.woff2") format("woff2"), url("../fonts/subset-GothamPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
  src: url("../fonts/subset-GothamPro-Medium.woff2") format("woff2"), url("../fonts/subset-GothamPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
  src: url("../fonts/subset-GothamPro-Bold.woff2") format("woff2"), url("../fonts/subset-GothamPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Minion Pro';
    font-size: 17px;
    color: #2f2f2f;
    height: 100%;
}

body.open-menue {
    overflow: hidden;
}

input {
    font-family: "Helvetica";
}

input:focus {
    outline: none;
}

hr {
    border: none;
    height: 1px;
    background: #bd9e5e;
    margin: 30px 0;
}

h2 {
    margin: 0 0 20px 0;
    font-family: 'Gotham Pro';
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1b2473;
}

h2.with-line {
    margin: 0 0 30px 0;
    position: relative;
}

h2.with-line:after, h2.with-line:before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    height: 5px;
    width: 36px;
    background: #bd9e5e;
}

h2.with-line:after {
    bottom: -10px;
}

h2.with-line:before {
    top: -10px;
}

h3 {
    margin: 0 0 17px 0;
    font-family: 'Gotham Pro';
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    color: #1b2473;
}

blockquote {
    color: #1b2473;
    font-size: 30px;
    font-family: "Minion Pro";
    font-style: italic;
    border-left: 1px #bd9e5e solid;
    margin-right: 0px;
    padding-left: 30px;
}

p {
    margin: 20px 0;
}

a {
    color: #1b2473;
}

.text-center {
    text-align: center;
}

.wrapper {
    min-width: 1240px;
    min-height: 100%;
}

.with-drop {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-bar {
    left: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    background: #bd9e5e;
    width: 50px;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    z-index: 100;
}

.nav-bar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-bar li {
    position: relative;
}

.nav-bar li:hover .nav-bar-search {
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

.nav-bar a {
    text-decoration: none;
    position: relative;
    display: block;
    z-index: 2;
}

.nav-bar a:hover .fa, .nav-bar a.active .fa {
    background: #1b2473;
    color: white;
}

.nav-bar a > .fa {
    color: #fff;
    background: #bd9e5e;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px #ac8a43 solid;
}

.nav-bar-search {
    position: absolute;
    bottom: 0px;
    left: 100%;
    padding: 10px;
    background: #fff;
    height: 51px;
    width: 350px;
    border: 1px #ccc solid;
    border-left: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 0.2s;
}

.nav-bar-search .filed {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-right: 10px;
}

.nav-bar-search .filed input {
    padding: 0px;
    width: 100%;
    height: 29px;
    border: none;
    color: #1b2473;
    font-size: 14px;
    background: none;
}

.site-map {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 50px;
    right: 0px;
    background: #bd9e5e;
    padding: 15px 40px 40px;
    color: #1b2473;
    overflow: auto;
    border-left: 1px #ac8a43 solid;
    z-index: 100;
}

.site-map .title {
    font-size: 20px;
    font-weight: 600;
    font-size: italic;
}

.site-map a {
    color: #1b2473;
}

.site-map .site-map-blocks {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.site-map .block {
    margin-top: 50px;
    width: 25%;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-family: "Helvetica";
}

.site-map b {
    font-family: "Gotham Pro";
    font-size: 30px;
}

.site-map .links-block {
    max-width: 250px;
    margin-top: 30px;
}

.site-map .links-block strong {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
}

.site-map .links-block ul {
    margin: 15px 0 0 0;
    list-style: none;
    padding: 0px;
}

.site-map .links-block a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
}

.site-map .links-block a:hover, .site-map .links-block a.active {
    color: #fff;
}

.site-map .footer-social {
    margin-top: 25px;
}

.site-map .footer-social .links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.site-map .footer-social a {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 52px;
    height: 52px;
    line-height: 52px;
    font-size: 30px;
    border-color: #1b2473;
}

.site-map .footer-social a:hover {
    background: #1b2473;
    color: #fff;
}

.main-content {
    margin-left: 50px;
    margin-right: 310px;
}

.main-content.full {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: 0px;
}

.main-content.full .content {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.main-content.full .side-bar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: static;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
}

.main-content.full .side-bar .side-bar-body {
    background: #f2ecdf;
}

.main-content.full + .main-footer {
    margin-right: 30px;
}

.side-bar {
    width: 325px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    background: #1b2473;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
}

.side-bar-head {
    min-height: 305px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #1b2473;
    padding: 15px;
    color: #fff;
}

.side-bar-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px;
}

.side-bar-footer {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 30px;
    color: #bd9e5e;
}

.side-bar-logo {
    margin-top: 50px;
    text-align: center;
}

.lang-select-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.lang-select {
    position: relative;
}

.lang-select .fa {
    font-size: 13px;
    position: absolute;
    left: 0px;
    top: 4px;
}

.lang-select select {
    position: relative;
    height: 20px;
    padding-left: 20px;
    cursor: pointer;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: #fff;
    z-index: 2;
}

.lang-select select:focus {
    outline: none;
}

.lang-select option {
    color: #000;
}

.side-bar-nav {
    padding: 0 10px;
    color: #fff;
    font-family: "Gotham Pro";
}

.side-bar-nav > a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    display: block;
    font-weight: 700;
    line-height: 1.5;
}

.side-bar-nav > a:hover, .side-bar-nav > a.active {
    color: #bd9e5e;
}

.side-bar-nav ul {
    margin-top: 30px;
    list-style: none;
    padding: 0px;
}

.side-bar-nav ul li {
    margin-bottom: 10px;
}

.side-bar-nav ul a {
    font-weight: 700;
    font-size: 17px;
    color: #bd9e5e;
    text-decoration: none;
    text-transform: uppercase;
}

.side-bar-nav ul a:hover, .side-bar-nav ul a.active {
    color: white;
}

.side-bar-nav ul a .badge {
    background: #010a5b;
    font-size: 12px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    padding: 0 8px;
}

.footer-social {
    max-width: 250px;
}

.footer-social .links {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-social a {
    display: block;
    width: 31px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    color: inherit;
    border: 1px #bd9e5e solid;
    border-radius: 50%;
}

.footer-social .contacts {
    font-family: "Helvetica";
    font-size: 15px;
    font-weight: 700;
    display: block;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.head-nav {
    height: 305px;
    margin: -30px -30px 30px -30px;
    padding: 40px;
    font-family: "Gotham Pro";
    background-image: url(../img/head-bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

.head-nav.is-service-jew {
    background-image: url(../img/head-bg-service-jew.jpg);
}

.head-nav.is-service-watch {
    background-image: url(../img/head-bg-service-watch.jpg);
}

.head-nav .head-links {
    font-size: 20px;
    font-weight: 700;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.head-nav .head-links a {
    margin-right: 25px;
}

.head-nav .head-links a.active {
    font-size: 40px;
    text-decoration: none;
}

.head-nav a {
    color: #fff;
}

.head-nav a:hover, .head-nav a.active {
    color: #bd9e5e;
}

.head-nav .sublinks {
    display: -ms-flexbox;
    display: flex;
}

.head-nav .sublinks .block:not(:first-child) {
    margin-left: 8%;
}

.head-nav .sublinks strong {
    font-size: 18px;
    color: #bd9e5e;
}

.head-nav .sublinks ul {
    padding: 0px;
    margin: 15px 0 0 0;
    list-style: none;
}

.head-nav .sublinks ul li {
    margin-top: 5px;
}

.head-nav .sublinks ul a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
}

.content {
    padding: 30px;
}

.content .m-b {
    margin-bottom: 50px;
}

.main-banner {
    position: relative;
    margin-bottom: 20px;
}

.main-banner .bx-wrapper {
    margin: 0px;
    box-shadow: none;
    border: none;
    background: transparent;
}

.main-banner .bx-wrapper .bx-pager {
    position: absolute;
    right: 40px;
    top: 12px;
    bottom: auto;
    width: auto;
    padding: 0px;
}

.main-banner .bx-wrapper .bx-pager .bx-pager-link {
    background: none !important;
    border: 1px #a2b2c6 solid;
}

.main-banner .bx-wrapper .bx-pager .bx-pager-link.active {
    border-color: #1b2473;
    background: #1b2473 !important;
}

.main-banner .main-banner-arrovs {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80px;
    right: 40px;
    top: 50px;
    z-index: 2;
}

.main-banner .main-banner-arrovs a {
    text-decoration: none;
    color: #a2b2c6;
}

.main-banner .main-banner-arrovs i.fa {
    font-size: 24px;
}

.main-banner .slide-item {
    height: 630px;
}

.main-banner .image {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.main-banner .main-banner-text {
    width: 375px;
    position: absolute;
    right: 40px;
    top: 100px;
    font-size: 30px;
    font-style: italic;
    color: #1b2473;
    z-index: 2;
}

.main-banner .main-banner-text span {
    color: #bd9e5e;
}

.main-banner .product-slide .main-banner-text {
    width: 261px;
    right: 20%;
}

.main-banner .product-slide .offer-title {
    position: absolute;
    left: 40px;
    top: 15px;
    font-size: 20px;
    color: #bd9e5e;
    font-style: italic;
}

.main-banner .product-slide .image {
    top: 50%;
    left: 15%;
    width: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-height: auto;
    object-fit: initial;
}

.main-banner .product-slide .watch-brand-logo {
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px #bfb7a4 solid;
}

.main-banner .product-slide .watch-brand-logo img {
    max-width: none;
    display: inline;
    vertical-align: middle;
}

.main-banner .product-slide .lot-num {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}

.main-banner .product-slide .lot-name {
    font-size: 30px;
}

.main-banner .product-slide .lor-descr {
    font-size: 16px;
    color: #050606;
}

.main-banner .product-slide .lot-price {
    display: block;
    font-style: normal;
    font-size: 25px;
    color: #050606;
}

.main-banner .product-slide .btn {
    margin-top: 2em;
    font-style: normal;
}

.short-img-news {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.short-img-news .news-img {
    margin-left: 90px;
    border: 1px #cccccc solid;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 240px;
    height: 240px;
}

.short-img-news .news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-block-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.news-block-item {
    width: calc(50% - 20px);
}

.news-block-item .news-date {
    font-size: 14px;
    display: block;
}

.news-block-item strong {
    font-size: 20px;
    font-weight: 800;
}

.news-block-item p {
    margin-top: 0px;
}

.news-block-item img {
    width: 100%;
    max-width: 100%;
    border: 1px #ccc solid;
    margin-bottom: 1em;
}

.news-block-item .non-response {
    width: auto;
    border: none;
}

.product-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.product-item {
    width: calc(33% - 8px);
    font-family: "Gotham Pro";
    margin-bottom: 30px;
    text-decoration: none;
    color: inherit;
}

.product-item:hover .product-img {
    opacity: 0.7;
}

.product-item .product-img {
    border: 1px #ccc solid;
    margin-bottom: 15px;
    background: #fff;
}

.product-item .product-img img {
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}

.product-item .product-name {
    color: #1b2473;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
}

.product-item .price {
    line-height: 19px;
    font-weight: 600;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product-item .status {
    display: inline-block;
    padding: 0 5px;
    line-height: 19px;
    font-size: 12px;
    font-family: "Gotham Pro";
    font-weight: bold;
    color: #fff;
}

.product-item .status.sold {
    background: #1b2473;
}

.side-bar .product-item {
    width: 100%;
}

.upcoming-auction-item {
    border: 2px #dfdad4 solid;
    padding: 15px;
}

.upcoming-auction-item .links .btn {
    width: 100%;
    margin: 0px;
    -ms-flex-pack: center;
    justify-content: center;
}

.upcoming-auction-item .links .btn:not(:first-child) {
    margin-top: 10px;
}

.year-chrono {
    margin: 30px 0;
}

.year-chrono ul {
    position: relative;
    padding: 0px;
    list-style: none;
    margin: 0px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.year-chrono ul:before {
    content: "";
    display: block;
    position: absolute;
    top: 44px;
    left: 0px;
    height: 1px;
    width: 100%;
    background: #bd9e5e;
}

.year-chrono li {
    position: relative;
    cursor: pointer;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 20px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 1px #1b2473 solid;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    text-align: center;
    line-height: 86px;
    text-transform: uppercase;
    color: #1b2473;
    background: #fff;
    z-index: 2;
    box-shadow: 0 0 0 15px #fff;
    transition: all 0.2s;
}

.year-chrono li:hover {
    color: #fff;
    background: #1b2473;
}

.year-chrono li.more {
    font-size: 15px;
}

.chrono-date-text strong {
    font-size: 20px;
}

.chrono-date-text ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    display: -ms-flexbox;
    display: flex;
}

.chrono-date-text ul li + li {
    margin-left: 35px;
}

.near-auction {
    margin: -30px -30px 0 -30px;
    padding: 40px;
    background-image: url(../img/auction-bg.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.near-auction .coming-auction-text {
    max-width: 550px;
}

.near-auction .date {
    font-size: 30px;
    color: #1b2473;
    display: block;
    margin-bottom: 20px;
}

.near-auction .catalog {
    margin-top: 40px;
}

.near-auction .catalog h2 {
    font-size: 20px;
}

.near-auction .get-catalog {
    display: -ms-flexbox;
    display: flex;
}

.near-auction .get-catalog .file-download {
    margin-right: 40px;
}

.near-auction .get-catalog .print span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
}

.auction-time-table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.auction-time-table .box {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(33.333% - 20px);
    border: 1px #ccc solid;
    padding: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.auction-time-table .box .body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.auction-time-table .box .footer {
    margin-top: 15px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.past-auctions-item {
    padding: 30px;
    margin-bottom: 30px;
    border: 3px #1b2473 solid;
}

.past-auctions-item .past-auctions-wrap {
    display: -ms-flexbox;
    display: flex;
}

.past-auctions-item .info {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.past-auctions-item .image {
    width: 230px;
    height: 160px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 90px;
}

.past-auctions-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.past-auctions-item .past-auctions-gallery {
    display: none;
}

.past-auctions-item .past-auctions-gallery .head {
    margin-top: 30px;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.past-auctions-item .past-auctions-gallery .close {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

.past-auctions-item .past-auctions-gallery .close:hover {
    color: #bd9e5e;
}

.past-auctions-item .past-auctions-gallery .close .fa {
    font-size: 20px;
    margin-right: 5px;
}

.past-auctions-item .past-auctions-gallery .close span {
    font-size: 13px;
    font-weight: 700;
    font-family: "Gotham Pro";
    text-decoration: underline;
}

.past-auctions-item .past-auctions-gallery h2 {
    font-size: 20px;
    margin: 0px;
}

.past-auctions-item .past-auctions-gallery .gallery-grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.past-auctions-item .past-auctions-gallery .gallery-grid .item {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(20% - 10px);
    margin: 0 5px 10px 5px;
    border: 1px #ccc solid;
    cursor: pointer;
}

.past-auctions-item .past-auctions-gallery .gallery-grid .item img {
    width: 100%;
    vertical-align: middle;
}

.catalog-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.catalog-title ~ .links {
    margin: 40px 0;
}

.catalog-title a:hover {
    text-decoration: none;
}

.catalog-title h2 {
    margin: 0px;
}

.catalog-title .links {
    margin-left: 40px;
    margin-right: auto;
    font-family: "Gotham Pro";
    font-weight: 500;
    font-size: 16px;
}

.catalog-title .links a {
    margin: 0 10px;
}

.catalog-title .how-work {
    font-family: "Gotham Pro";
    color: #bd9e5e;
    font-size: 16px;
    font-weight: 500;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.catalog-title .how-work .fa {
    font-size: 24px;
    margin-right: 10px;
}

.catalog-title .how-work a {
    color: #bd9e5e;
}

.product-list-title {
    border-top: 1px #bd9e5e solid;
    padding: 25px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product-list-title i {
    color: #bd9e5e;
    font-size: 30px;
}

.product-list-title .filter-res-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-family: "Gotham Pro";
}

.product-list-title .filter-res-info b {
    margin: 0 10px;
}

.product-list-title .btn {
    margin-left: 20px;
}

.price-filter {
    padding: 20px 0;
    font-family: "Gotham Pro";
    font-size: 12px;
    font-weight: 700;
}

.price-filter a {
    display: inline-block;
    padding: 4px 10px;
    border: 2px transparent solid;
}

.price-filter a:first-child {
    margin-left: 20px;
}

.price-filter a.active {
    text-decoration: none;
    border-color: #1b2473;
    color: #000;
}

.price-filter a:hover {
    text-decoration: none;
}

.filters-list {
    padding: 15px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filters-item {
    width: calc(20% - 16px);
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    border: 2px #1b2473 solid;
    height: 31px;
    position: relative;
    padding: 0 10px;
    cursor: pointer;
}

.filters-item:hover, .filters-item.active {
    background: #1b2473;
    color: #fff;
}

.filters-item:hover .name, .filters-item.active .name {
    color: #fff;
}

.filters-item.active .fa {
    transform: rotateX(180deg);
}

.filters-item .name {
    color: #1b2473;
    font-family: "Helvetica";
    font-size: 11px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 600;
}

.filters-item .fa {
    position: absolute;
    top: 0px;
    right: 10px;
    line-height: 27px;
    font-size: 24px;
}

.filters-block-item {
    display: none;
    border: 2px #1b2473 solid;
    padding: 20px;
    font-family: "Helvetica";
    color: #1b2473;
}

.filters-block-item a {
    display: block;
    color: #1b2473;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5;
}

.filters-block-item a:hover {
    color: #bd9e5e;
}

.filters-block-item.col-1 {
    width: calc((20%*1) - 16px);
}

.filters-block-item.col-2 {
    width: calc((20%*2) - 12px);
}

.filters-block-item.col-3 {
    width: calc((20%*3) - 8px);
}

.filters-block-item.col-4 {
    width: calc((20%*4) - 4px);
}

.filters-block-item.push-1 {
    margin-left: calc((20%*1) + 4px);
}

.filters-block-item.push-2 {
    margin-left: calc((20%*2) + 8px);
}

.filters-block-item.push-3 {
    margin-left: calc((20%*3) + 12px);
}

.filters-block-item.push-4 {
    margin-left: calc((20%*4) + 16px);
}

.filter-brand-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter-brand-list .gliph-item {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
    max-width: 15%;
}

.filter-brand-list .gliph-item .item {
    margin-bottom: 24px;
}

.filter-brand-list .gliph-item .item:last-child {
    margin-bottom: 0px;
}

.filter-brand-list .gliph-item b {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

.filter-date-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

.filter-date-list .list {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(50% - 2px);
}

.filter-date-list .divider {
    width: 2px;
    background: #bd9e5e;
    margin: 10px 0;
}

.filter-date-list a {
    font-size: 15px;
    line-height: 2;
}

.filter-type-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.filter-type-list .list {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(50% - 2px);
}

.filter-type-list .divider {
    width: 2px;
    background: #bd9e5e;
    margin: 10px 0;
}

.filter-type-list .divider + .list {
    padding-left: 20px;
}

.filter-type-list a {
    font-size: 15px;
    line-height: 2;
}

.lot-card {
    margin: 60px 0;
}

.lot-card-head {
    position: relative;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.lot-card-head img {
    margin-bottom: 30px;
}

.lot-card-head .lot-num {
    font-size: 20px;
    color: #bd9e5e;
}

.lot-card-head .lot-name {
    color: #1b2473;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
}

.lot-card-head .to-back {
    position: absolute;
    left: 0px;
    top: 0px;
}

.lot-card-head .to-favorite {
    position: absolute;
    right: 0px;
    top: 0px;
}

.lot-card-body {
    max-width: 1200px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.lot-gallery {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(50% - 20px);
}

.lot-gallery .lot-img {
    border: 1px #ccc solid;
    padding: 30px;
    margin-bottom: 20px;
}

.lot-gallery .lot-img img {
    width: 100%;
    object-fit: cover;
}

.lot-gallery .thumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.lot-gallery .thumbs a {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(50% - 10px);
    border: 1px #ccc solid;
    padding: 20px;
}

.lot-gallery .thumbs a img {
    width: 100%;
    object-fit: cover;
}

.lot-card-info {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: calc(50% - 20px);
}

.lot-card-info .descr {
    font-size: 23px;
    font-style: italic;
}

.lot-card-info .lot-price {
    display: block;
    font-size: 25px;
    margin-bottom: 25px;
}

.lot-card-info .to-buy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 35px;
}

.lot-card-info .to-buy a:not(.btn) {
    margin-left: 25px;
    font-weight: 500;
    font-family: "Gotham Pro";
    font-size: 16px;
}

.lot-card-info .technical {
    margin-bottom: 35px;
}

.lot-card-info .technical table {
    width: 100%;
    border-spacing: 0px;
}

.lot-card-info .technical td {
    font-size: 16px;
    font-style: italic;
    border-top: 1px #bd9e5e solid;
    padding: 10px 0;
}

.lot-card-info .technical td + td {
    text-align: right;
}

.services-request {
    display: -ms-flexbox;
    display: flex;
}

.services-request .text {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.services-request .services-request-form {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 30px 20px 20px;
    margin-left: 60px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 370px;
    border: 1px #ccc solid;
    box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.1);
}

.services-request .services-request-form .attached-files {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services-request .services-request-form .attached-files .btn {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.services-request .services-request-form .name-list {
    font-family: 'Helvetica';
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 12px;
    color: #1b2473;
}

.services-request .services-request-form .name-list .item {
    margin: 4px 0 4px 30px;
}

.services-request .services-request-form .to-send {
    margin-top: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.services-request .services-request-form .to-send .btn {
    margin-right: 20px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.services-request .services-request-form .to-send span {
    font-size: 14px;
}

.buy-form-modal {
    max-width: 590px;
    padding: 30px 60px;
}

.buy-form-modal .lot-info {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.buy-form-modal .lot-info img {
    margin-bottom: 40px;
}

.buy-form-modal .lot-info .lot-num {
    font-size: 20px;
    color: #bd9e5e;
}

.buy-form-modal .lot-info .lot-name {
    margin: 15px 0;
    color: #1b2473;
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
}

.buy-form-modal .lot-info .lot-price {
    font-size: 25px;
}

.buy-form-modal .submit-buy {
    margin-top: 40px;
    margin-bottom: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.buy-form-modal .submit-buy .btn {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 30px;
}

.main-footer {
    border-top: 1px #bd9e5e solid;
    margin: 0 340px 0 80px;
    padding: 30px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-footer .footer-logo {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.main-footer .main-footer-links {
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 13px;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: start;
    align-items: flex-start;
}

.main-footer .main-footer-links span {
    font-family: "Helvetica";
    font-size: 13px;
    text-transform: uppercase;
    color: #bd9e5e;
}

.main-footer .main-footer-links ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.main-footer .main-footer-links ul li {
    margin-top: 10px;
}

.main-footer .main-footer-links ul a {
    text-decoration: none;
}

.main-footer .main-footer-links ul a:hover {
    text-decoration: underline;
}

.main-footer .footer-social a {
    color: #bd9e5e;
}

.btn {
    font-family: "Helvetica";
    background: none;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: top;
    height: 31px;
    line-height: 27px;
    font-size: 11px;
    font-weight: 800;
    color: #1b2473;
    border: 2px #1b2473 solid;
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    background: #1b2473;
    color: #fff;
}

.btn + .btn {
    margin-left: 10px;
}

.btn.large {
    height: 44px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 30px;
}

.btn.filled {
    background: #1b2473;
    color: #fff;
}

.btn.icon-left .fa {
    margin-right: 8px;
}

.btn.badge small {
    margin: -2px 5px 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    line-height: 14px;
    padding: 0 3px;
    font-size: 11px;
    font-weight: bold;
}

.btn.badge small.red {
    background: #d70606;
    color: #fff;
}

.btn.to-favorite .fa {
    line-height: 27px;
    font-size: 16px;
    color: red;
}

.input-field input, .input-field textarea {
    height: 43px;
    width: 100%;
    border: 2px #1b2473 solid;
    color: #1b2473;
    font-size: 14px;
    font-weight: 700;
    background: none;
    padding: 0 20px;
}

.input-field input::-webkit-input-placeholder, .input-field textarea::-webkit-input-placeholder {
    color: #c1c1c1;
    opacity: 1;
    text-transform: uppercase;
}

.input-field input:-moz-placeholder, .input-field textarea:-moz-placeholder {
    color: #c1c1c1;
    opacity: 1;
    text-transform: uppercase;
}

.input-field input::-moz-placeholder, .input-field textarea::-moz-placeholder {
    color: #c1c1c1;
    opacity: 1;
    text-transform: uppercase;
}

.input-field input:-ms-input-placeholder, .input-field textarea:-ms-input-placeholder {
    color: #c1c1c1;
    opacity: 1;
    text-transform: uppercase;
}

.input-field textarea {
    min-height: 43px;
    height: auto;
    padding: 15px 20px;
    resize: vertical;
}

.input-field:not(:first-child) {
    margin-top: 20px;
}

.input-field.is-light input, .input-field.is-light textarea {
    height: 32px;
    border: 1px #cccccc solid;
    font-size: 12px;
    font-weight: 400;
    padding: 0 15px;
    color: #1b2473;
}

.input-field.is-light input::-webkit-input-placeholder, .input-field.is-light textarea::-webkit-input-placeholder {
    color: #1b2473;
    opacity: 0.8;
    text-transform: none;
}

.input-field.is-light input:-moz-placeholder, .input-field.is-light textarea:-moz-placeholder {
    color: #1b2473;
    opacity: 0.8;
    text-transform: none;
}

.input-field.is-light input::-moz-placeholder, .input-field.is-light textarea::-moz-placeholder {
    color: #1b2473;
    opacity: 0.8;
    text-transform: none;
}

.input-field.is-light input:-ms-input-placeholder, .input-field.is-light textarea:-ms-input-placeholder {
    color: #1b2473;
    opacity: 0.8;
    text-transform: none;
}

.input-field.is-light textarea {
    min-height: 32px;
    height: auto;
    padding: 10px 15px;
    resize: vertical;
}

.file-download {
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    -ms-flex-align: start;
    align-items: flex-start;
}

.file-download img {
    border: none;
    width: auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 15px;
}

.file-download .info {
    font-family: "Helvetica";
}

.file-download .name {
    font-size: 11px;
    font-weight: 700;
}

.file-download .size {
    margin-top: 4px;
    font-size: 11px;
    color: #686661;
}

.alert-block {
    font-family: "Helvetica";
    font-weight: 700;
    font-size: 11px;
    padding: 10px 20px;
    border: 2px #ccc solid;
    text-align: center;
    margin: 20px 0;
}

.alert-block.is-red {
    border-color: #d70606;
    color: #d70606;
}

.drop-select {
    height: 32px;
    border: 1px #ccc solid;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
}

.drop-select select {
    padding: 0 45px 0 15px;
    font-family: "Helvetica";
    font-size: 12px;
    color: #444546;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 30px;
    line-height: 30px;
    background: none;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.drop-select .fa {
    color: #000;
    border-left: 1px #ccc solid;
    text-align: center;
    line-height: 30px;
    width: 30px;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.remodal-overlay {
    background: rgba(27, 36, 115, 0.8);
}

.my-modal {
    text-align: left;
}

.my-modal .remodal-close {
    left: auto;
    right: 10px;
    top: 10px;
    background: #bd9e5e;
    color: #fff;
}

.cap {
    font-family: "Gotham Pro";
    min-height: 100%;
    background: #1b2473;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.cap img {
    margin-bottom: 80px;
}

.cap a {
    margin-top: 10px;
    display: inline-block;
    color: #fff;
}
