@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(../font/font.css);
* {
  box-sizing: border-box;
}

/* ---------------------------------- vars ---------------------------------- */
:root {
  --inter: "Inter", sans-serif;
  --america: "GT America Extended";
  --grey-line: #B9B9B9;
  --grey-bg: #F2F2F2;
  --grey-text: #B0B0B0;
  --green: #25A46F;
  --red: red;
  --blue: blue;
  --blue-inech: #1C2473;
  --space1:15px;
  --space2:30px;
  --space3:45px;
  --space4:60px;
}

body {
  font-family: var(--inter);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
}

button, input, textarea {
  font-family: var(--inter);
}

hr {
  width: 100%;
  border: none;
  height: 10px;
  background: black;
}

a {
  color: inherit;
}
a:hover {
  color: var(--green);
}

.article-width {
  max-width: 1000px;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}
.container_full {
  max-width: 100%;
}

.main-content {
  padding-top: 45px;
  padding-bottom: 90px;
}

p {
  line-height: 1.5;
  margin: 25px 0;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

li {
  line-height: 1.5;
  margin: 16px 0;
}

blockquote {
  margin: 30px 0;
  border-left: 10px solid black;
  line-height: 1.5;
  padding-left: 45px;
  font-size: 18px;
}

/* ----------------------------------- ui ----------------------------------- */
/* --------------------------------- colors --------------------------------- */
.green-text {
  color: var(--green) !important;
}

.red-text {
  color: var(--red) !important;
}

.black-text {
  color: black !important;
}

.white-text {
  color: white !important;
}

.grey-text {
  color: var(--grey-text) !important;
}

.black-bg {
  background: black !important;
}

/* --------------------------------- margins -------------------------------- */
.mb1 {
  margin-bottom: var(--space1) !important;
}

.mb2 {
  margin-bottom: var(--space2) !important;
}

.mb3 {
  margin-bottom: var(--space3) !important;
}

.mb4 {
  margin-bottom: var(--space4) !important;
}

.mt1 {
  margin-top: var(--space1) !important;
}

.mt2 {
  margin-top: var(--space2) !important;
}

.mt3 {
  margin-top: var(--space3) !important;
}

.mt4 {
  margin-top: var(--space4) !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

/* ---------------------------------- align --------------------------------- */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* ---------------------------------- typo ---------------------------------- */
h1, .h1 {
  font-family: var(--america);
  font-weight: 900;
  font-size: 60px;
  margin: 4rem 0 3rem;
}

h2, .h2 {
  font-family: var(--america);
  font-weight: 500;
  font-size: 50px;
  margin: 3.5rem 0 2.5rem;
}

h3, .h3 {
  font-family: var(--america);
  font-weight: 500;
  font-size: 40px;
  margin: 3rem 0 2rem;
}

h4, .h4, .lot-descr h3 {
  font-family: var(--america);
  font-weight: 500;
  font-size: 24px;
  margin: 2.5rem 0 1.333rem;
}

h5, .h5 {
  font-family: var(--america);
  font-weight: 500;
  font-size: 18px;
  margin: 2rem 0 1.333rem;
}

/* ----------------------------------- ui ----------------------------------- */
.table-bordered {
  border-spacing: 0;
  border-collapse: collapse;
}
.table-bordered td {
  border: 1px var(--grey-line) solid;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
}

.button {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: inherit;
  border: 1px transparent solid;
  cursor: pointer;
  transition: all 0.3s;
}
.button_icon {
  padding: 0;
  width: 50px;
}
.button_icon .button__icon {
  font-size: 23px;
}
.button_medium {
  font-size: 14px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
.button_small {
  font-size: 13px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
.button_small.button_icon {
  padding: 0px;
  width: 35px;
}
.button_black.button_filled {
  background: black;
  color: white;
}
.button_black.button_filled:hover {
  background: white;
  color: black;
  border: 1px var(--grey-line) solid;
}
.button_black.button_outline {
  border: 1px var(--grey-line) solid;
  color: black;
}
.button_black.button_outline:hover {
  border-color: black;
  background: black;
  color: white;
}
.button_white.button_filled {
  background: white;
  color: black;
}
.button_white.button_filled:hover {
  background: black;
  color: white;
  border: 1px white solid;
}
.button_white.button_outline {
  border: 1px white solid;
  color: white;
}
.button_white.button_outline:hover {
  background: white;
  color: black;
}
.button_green.button_filled {
  background: var(--green);
  color: white;
}
.button_green.button_filled:hover {
  background: white;
  color: var(--green);
  border: 1px var(--green) solid;
}
.button_green.button_outline {
  border: 1px var(--green) solid;
  color: var(--green);
}
.button_green.button_outline:hover {
  background: var(--green);
  color: white;
}
.button_red.button_filled {
  background: var(--red);
  color: white;
}
.button_red.button_filled:hover {
  background: white;
  color: var(--red);
  border: 1px var(--red) solid;
}
.button_red.button_outline {
  border: 1px var(--red) solid;
  color: var(--red);
}
.button_red.button_outline:hover {
  background: var(--red);
  color: white;
}
.button_blue.button_filled {
  background: var(--blue-inech);
  color: white;
}
.button_blue.button_filled:hover {
  background: white;
  color: var(--blue-inech);
  border: 1px var(--blue-inech) solid;
}
.button_blue.button_outline {
  border: 1px var(--blue-inech) solid;
  color: var(--blue-inech);
}
.button_blue.button_outline:hover {
  background: var(--blue-inech);
  color: white;
}
.button_full {
  width: 100%;
}
.button_full .button__icon_right {
  margin-left: auto;
}
.button__icon {
  font-size: 18px;
}
.button__icon_left {
  margin-right: 8px;
}
.button__icon_right {
  margin-left: 15px;
}
.button_disabled {
  background: var(--grey-bg) !important;
  border-color: var(--grey-bg) !important;
  color: #888 !important;
  pointer-events: none;
}

.dropdown {
  position: relative;
}
.dropdown__list {
  display: none;
  border: 1px var(--grey-line) solid;
  min-width: 100%;
  top: 100%;
  left: 0px;
  margin-top: -1px;
  position: absolute;
  background: #fff;
  z-index: 3;
}
.dropdown__link {
  white-space: nowrap;
  font-weight: 500;
  display: block;
  text-decoration: none;
  padding: 15px 30px;
  transition: all 0.1s;
}
.dropdown__link:hover {
  background: black;
  color: var(--green);
}
.dropdown__link .mdi {
  margin-right: 10px;
  font-size: 18px;
}

.field {
  margin: 0 0 30px 0;
}
.field:last-child {
  margin-bottom: 0;
}
.field .iti {
  width: 100%;
}
.field_textarea textarea {
  min-height: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  resize: vertical;
}
.field__input {
  height: 50px;
  outline: none;
  width: 100%;
  background: none;
  border: none;
  border: 1px var(--grey-line) solid;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
}
.field__input:focus {
  border-color: var(--green);
}

.modal {
  position: relative;
  background: #fff;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 150px;
}
.modal_small {
  max-width: 600px;
  padding: 50px;
}
.modal__content {
  padding: 45px 0;
  line-height: 1.5;
}
.modal__content:last-of-type {
  padding-bottom: 0;
}
.modal__close {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: black !important;
  color: #fff;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 1;
  padding: 0;
  opacity: 1;
}
.modal__close:hover {
  background: var(--green) !important;
  color: black;
}
.modal__close i.mdi {
  pointer-events: none;
}
.modal__close:active {
  top: 15px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.tooltip {
  display: inline-block;
  position: relative;
  border-bottom: 1px black dashed;
  cursor: pointer;
}
.tooltip__content {
  font-size: 10px;
  background: #fff;
  position: absolute;
  width: 200px;
  border: 1px black solid;
  padding: 10px 15px;
  left: 50%;
  bottom: calc(100% + 15px);
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transform-origin: left bottom;
}
.tooltip__content:before, .tooltip__content:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  top: 100%;
}
.tooltip__content:before {
  left: -1px;
  border-style: solid;
  border-width: 15px 15px 0 0;
  border-color: black transparent transparent transparent;
}
.tooltip__content:after {
  left: 0px;
  border-style: solid;
  border-width: 13px 13px 0 0;
  border-color: white transparent transparent transparent;
}
.tooltip:hover .tooltip__content {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.ui-card {
  padding: 1rem;
  background: #efefef;
}

@keyframes Spin {
  to {
    transform: rotate(360deg);
  }
}
/* --------------------------------- header --------------------------------- */
.main-header {
  top: 0px;
  position: sticky;
  background: black;
  padding-top: 30px;
  padding-bottom: 30px;
  border: none;
  z-index: 10;
}
.main-header__cols {
  display: flex;
  align-items: center;
}
.main-header__logo {
  flex: 0 0 auto;
  width: 250px;
}
.main-header__logo img {
  vertical-align: middle;
}
.main-header__tools {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.main-header__nav {
  font-size: 15px;
  margin-left: 90px;
  display: flex;
  gap: 0px 35px;
}
.main-header__nav-link {
  position: relative;
  text-decoration: none;
  color: #fff;
}
.main-header__nav-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: -5px;
  height: 1px;
  background: var(--green);
  transform: scale(1.3) translateY(10px);
  opacity: 0;
  transition: all 0.3s;
}
.main-header__nav-link:hover, .main-header__nav-link.main-header__nav-link_active {
  color: var(--green);
}
.main-header__nav-link:hover:after, .main-header__nav-link.main-header__nav-link_active:after {
  transform: scale(1) translateY(0px);
  opacity: 1;
  color: var(--green);
}
.main-header__tool-btn {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  margin-right: 30px;
}
.main-header__tool-btn:hover {
  color: var(--green);
}
.main-header__tool-btn span {
  display: none;
}
.main-header__search {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateY(-100%);
  pointer-events: none;
  transition: all 0.3s;
}
.main-header__search_open {
  transform: translateY(0%);
  pointer-events: initial;
}
.main-header__search .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__search-filed {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.main-header__search-filed input {
  border: none;
  height: 50px;
  background: none;
  color: white;
  width: 100%;
  border-bottom: 1px solid white;
  outline: none;
  transition: all 0.3s;
}
.main-header__search-filed input:focus {
  border-bottom-color: var(--green);
}
.main-header__search-close {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: none;
  color: #fff;
  padding: 0px;
  font-size: 24px;
  transition: all 0.3s;
}
.main-header__search-close:hover {
  background: var(--green);
}
.main-header__burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 35px;
  padding: 3px 0px;
  justify-content: space-evenly;
  margin-right: 15px;
}
.main-header__burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: all 0.3s;
}
.main-header__burger span:nth-child(1) {
  top: 0;
}
.main-header__burger span:nth-child(3) {
  bottom: 0;
}
.main-header__burger_active span:nth-child(2) {
  transform: translateX(-20px);
  opacity: 0;
}
.main-header__burger_active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 7px;
}
.main-header__burger_active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  bottom: 7px;
}

/* ---------------------------------- index --------------------------------- */
.start-timer {
  display: flex;
  flex: 0 0 auto;
}
.start-timer > span {
  flex: 0 0 auto;
  font-family: var(--america);
  font-size: 15px;
  line-height: 20px;
  margin: 6px 30px 0 0;
}
.start-timer__digs {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.start-timer__digs-item {
  text-align: center;
  position: relative;
}
.start-timer__digs-item b {
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  display: block;
  width: 50px;
  height: 50px;
  background: var(--grey-bg);
  margin-bottom: 3px;
}
.start-timer__digs-item_dots::before {
  content: ":";
  font-size: 20px;
  font-weight: 800;
  position: absolute;
  left: -18px;
  line-height: 50px;
}
.start-timer__digs-item span {
  font-size: 12px;
}

.more-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-divider::before, .more-divider::after {
  content: "";
  flex: 1 1 auto;
  display: block;
  height: 1px;
  background: var(--grey-line);
}
.more-divider__button {
  margin: 0 30px;
}

.main-hero {
  position: relative;
  height: calc(100vh - 97px);
}
.main-hero:after {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(247, 247, 247, 0) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
.main-hero__down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  color: #fff;
  z-index: 1;
  font-size: 50px;
  margin-left: -25px;
  opacity: 1;
  animation: DownArr 2s infinite;
}
.main-hero__video {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-hero__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
}
.main-hero__timer {
  margin-left: auto;
}
.main-hero__timer b {
  background: black;
  color: #fff;
}
.main-hero__title {
  color: white;
}

@keyframes DownArr {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  80% {
    opacity: 1;
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
.content-head {
  position: relative;
}
.content-head__subtitle {
  margin: 0;
}
.content-head__title {
  margin: 0px 0;
}
.content-head__title span {
  display: inline-block;
}
.content-head__beggin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-head__title-w-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-head__text {
  margin: 30px 0 0 0;
}
.content-head__back {
  width: 350px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.more-brands-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px 30px;
}
.more-brands-list__item {
  margin: 0;
  font-size: 16px;
}
.more-brands-list a {
  text-decoration: none;
  transition: all 0.3s;
}
.more-brands-list a:hover {
  color: var(--green);
}

/* -------------------------------- lots ------------------------------- */
.lots-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 60px 50px;
}

.lot-item {
  display: flex;
  flex-direction: column;
}
.lot-item_load .lot-item__image {
  pointer-events: none;
}
.lot-item_load .lot-item__image:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  background: #fff;
  z-index: 2;
}
.lot-item_load .lot-item__image:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  border-radius: 50%;
  border: 2px var(--green) solid;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: Spin 0.7s ease-in-out infinite;
  z-index: 3;
}
.lot-item__info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.lot-item__body {
  position: relative;
  margin-bottom: 15px;
}
.lot-item__upper-image {
  left: 0px;
  top: 0px;
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}
.lot-item__image {
  position: relative;
  display: block;
  border: 1px var(--grey-line) solid;
  overflow: hidden;
}
.lot-item__image img {
  width: 100%;
  vertical-align: middle;
}
.lot-item__image:hover .lot-item__upper-image {
  opacity: 1;
}
.lot-item__brand {
  font-size: 16px;
  margin: 0;
}
.lot-item__brand a {
  text-decoration: none;
}
.lot-item__brand a:hover {
  color: var(--green);
}
.lot-item__name {
  font-size: 13px;
  margin: 6px 0 15px;
}
.lot-item__bids {
  margin-top: auto;
}
.lot-item__price span {
  font-size: 12px;
}
.lot-item__price-value {
  margin-top: 4px;
  font-weight: 700;
  font-size: 18px;
}
.lot-item__bids {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.lot-item__bids-count {
  display: none;
  font-size: 13px;
  margin-left: 30px;
}
.lot-item__bids-count:hover {
  text-decoration: none;
}

/* --------------------------------- auction -------------------------------- */
.auction-information {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.auction-information__add-calendar {
  width: 100%;
  max-width: 420px;
}

.auction-start > div {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  line-height: 20px;
}
.auction-start i.mdi {
  font-size: 18px;
}

.auction-actions {
  display: flex;
  gap: 30px;
}

.catalog-filter {
  display: flex;
  align-items: center;
  gap: 30px;
}
.catalog-filter__item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.catalog-filter > .button {
  margin-left: auto;
}

.auction-information-note {
  max-width: 800px;
}

/* ------------------------------- watchmakers ------------------------------ */
.watchmakers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-gap: 50px;
}
.watchmakers-grid_6x {
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.watchmaker-item {
  text-decoration: none;
}
.watchmaker-item__image {
  margin-bottom: 15px;
}
.watchmaker-item__image img {
  width: 100%;
  vertical-align: middle;
  filter: grayscale(100%);
  transition: all 0.3s;
}
.watchmaker-item__name {
  margin: 0;
  font-size: 16px;
}
.watchmaker-item__position {
  font-size: 13px;
  margin-top: 5px;
  color: var(--grey-text);
}
.watchmaker-item:hover {
  color: var(--green);
}
.watchmaker-item:hover .watchmaker-item__image img {
  filter: grayscale(0%);
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.alphabet a {
  cursor: pointer;
  font-family: var(--america);
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.5;
}
.alphabet a:hover, .alphabet a.mixitup-control-active {
  opacity: 1;
}

/* ---------------------------------- blog ---------------------------------- */
.blog-item {
  display: flex;
  flex-direction: column;
  border: 1px var(--grey-line) solid;
  padding: 20px;
  min-height: 160px;
  text-decoration: none;
  transition: all 0.3s;
}
.blog-item__title {
  font-size: 15px;
  margin: 0 0 5px 0;
}
.blog-item__text {
  font-size: 13px;
}
.blog-item__date {
  display: flex;
  align-items: center;
  margin-top: auto;
  font-size: 12px;
}
.blog-item__date i.mdi {
  font-size: 15px;
  margin-right: 5px;
}
.blog-item:hover {
  color: white;
  background: black;
  border-color: black;
}

/* ------------------------------- watchmaker ------------------------------ */
.watchmaker {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 0 200px;
}
.watchmaker__photo {
  width: 100%;
  filter: grayscale(1);
}
.watchmaker__contact {
  line-height: 1.5;
}
.watchmaker__contact a {
  text-decoration: none;
}
.watchmaker__social {
  display: flex;
  gap: 10px;
  margin: 5px 0 0 0;
  font-size: 24px;
}
.watchmaker__blogs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.iconic-models {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.collapse-content-btn {
  display: none;
}

/* ---------------------------------- item ---------------------------------- */
.lot-nav {
  display: flex;
  gap: 15px;
}
.lot-nav_back {
  margin-right: auto;
}

.lot-gallery img {
  width: 100%;
  vertical-align: middle;
}
.lot-gallery__next, .lot-gallery__prev {
  position: absolute;
  display: flex;
  top: 0px;
  width: 50px;
  height: 100%;
  background: black;
  color: white;
  cursor: pointer;
  z-index: 2;
}
.lot-gallery__next.swiper-button-disabled, .lot-gallery__prev.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}
.lot-gallery__next:hover, .lot-gallery__prev:hover {
  background: var(--green);
}
.lot-gallery__next .mdi, .lot-gallery__prev .mdi {
  font-size: 32px;
  margin: auto;
}
.lot-gallery__prev {
  left: 0;
}
.lot-gallery__next {
  right: 0;
}

.special-note {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  font-family: var(--inter);
  font-size: 13px;
  line-height: 24px;
  gap: 5px;
}
.special-note i.mdi {
  font-size: 22px;
}

.lot-info {
  display: grid;
  grid-template-columns: 1fr 440px;
  grid-gap: 0 100px;
}

.lot-values {
  display: flex;
  align-items: center;
  gap: 50px;
}
.lot-values__item span {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}
.lot-values__item strong {
  font-family: var(--america);
  font-size: 30px;
}

.lot-bitcoin {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4;
}

.lot-bids {
  font-weight: 500;
  align-self: center;
  font-size: 15px;
  white-space: nowrap;
}

.lot-bids-buttons {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 10%;
}
.lot-bids-buttons__visit {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
  align-items: center;
}
.lot-bids-buttons__other {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
}

.lot-video video {
  width: 100%;
}

.lot-descr {
  display: grid;
  grid-template-columns: 1fr 440px;
  grid-gap: 0 100px;
}
.lot-descr h3:first-child {
  margin-top: 0;
}

.lot-specification-table {
  border-collapse: collapse;
}
.lot-specification-table td {
  font-size: 14px;
  line-height: 1.5;
  vertical-align: top;
  padding-bottom: 15px;
  padding-right: 20px;
}
.lot-specification-table td:first-child {
  font-weight: 600;
}

.lot-maker {
  display: grid;
  grid-template-columns: 1fr 440px;
  grid-gap: 0 100px;
}

.lot-maker-user {
  display: flex;
  gap: 30px;
}
.lot-maker-user__image {
  width: 100px;
}
.lot-maker-user__image img {
  width: 100%;
  filter: grayscale(100%);
}
.lot-maker-user h5 {
  font-size: 20px;
  margin: 0 0 7px;
}
.lot-maker-user span {
  display: block;
  margin-bottom: 22px;
}

/* ------------------------------ participation ----------------------------- */
.steps-list {
  display: grid;
  gap: 15px;
  counter-reset: my-awesome-counter;
  list-style: none;
  padding: 0px;
}
.steps-list__item {
  counter-increment: my-awesome-counter;
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: 500;
}
.steps-list__item:before {
  font-family: var(--america);
  flex: 0 0 auto;
  font-size: 18px;
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  text-align: center;
  line-height: 40px;
  background: black;
  color: #fff;
  content: counter(my-awesome-counter);
}

.participation-btns {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.participation-options {
  line-height: 1.3;
}
.participation-options__line {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 30px;
}
.participation-options__line > div {
  border-top: 1px #ddd solid;
  background: var(--grey-bg);
  padding: 30px;
}
.participation-options__line:first-child > div {
  border: none;
}
.participation-options table b {
  white-space: nowrap;
}

.profits-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10%;
}
.profits-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profits-list__item div {
  min-height: 100px;
  display: flex;
  align-items: center;
}
.profits-list__item h5 {
  margin: 15px 0 10px 0;
}
.profits-list__item span {
  font-size: 12px;
  line-height: 1.4;
}

/* -------------------------------- contacts -------------------------------- */
.contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10vw;
}
.contacts__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts__adress {
  border-left: 10px black solid;
  padding: 15px 0 15px 30px;
  line-height: 1.5;
}
.contacts__map {
  filter: grayscale(100%);
}
.contacts__map iframe {
  width: 100%;
}
.contacts__socials {
  display: flex;
  gap: 15px;
}
.contacts__socials a {
  width: 45px;
  height: 45px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  background: black;
  color: #fff;
  transition: all 0.3s;
}
.contacts__socials a .mdi {
  margin: auto;
  font-size: 24px;
}
.contacts__socials a:hover {
  background: var(--green);
}
.contacts__form textarea {
  min-height: 350px;
}

/* --------------------------------- footer --------------------------------- */
.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background: black;
  color: white;
}
.main-footer__cols {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  grid-gap: 15px 4vw;
}
.main-footer__title {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  margin-bottom: 30px;
}
.main-footer__link {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 20px;
  text-decoration: none;
  display: block;
  color: var(--grey-text);
}
.main-footer__link:hover {
  color: var(--green);
}
.main-footer_adress {
  font-size: 13px;
  font-style: normal;
  line-height: 27px;
  color: var(--grey-text);
}
.main-footer__copy {
  grid-column: 4/3 span;
  font-size: 13px;
}
.main-footer__social-link {
  font-size: 24px;
  color: var(--grey-text);
}
.main-footer__social-link:hover {
  color: var(--green);
}

/* --------------------------------- modals --------------------------------- */
.earn-calculate-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.earn-calculate-form__line {
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  gap: 15px;
  align-items: center;
}

.earn-calculate-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.earn-calculate-table td {
  padding: 20px 20px 20px 0;
}
.earn-calculate-table th {
  font-weight: 700;
  padding-bottom: 20px;
}
.earn-calculate-table td:first-child {
  font-weight: 700;
}
.earn-calculate-table td {
  border-top: 1px var(--grey-line) solid;
}

/* ------------------------------- responsive ------------------------------- */
@media screen and (max-width: 1366px) {
  .lot-bids-buttons {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 992px) {
  /* --------------------------------- header --------------------------------- */
  .main-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-header__logo {
    width: 200px;
  }
  .main-header__nav {
    display: none;
    margin: 0;
    left: 0px;
    top: 60px;
    position: fixed;
    background: black;
    height: calc(100% - 60px);
    width: 100%;
    padding: 40vw 30px 30px;
  }
  .main-header__nav-link {
    font-size: 5vw;
    display: block;
    color: white;
    margin-bottom: 7vw;
  }
  .main-header__nav-link:after {
    display: none;
  }
  .main-header__burger {
    display: flex;
  }
  .content-head__beggin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px 0;
  }
  .content-head__title-w-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px 0;
  }
  .content-head__title-w-button .button {
    width: 100%;
  }
  .content-head__back {
    position: static;
    margin-bottom: 15px;
  }
  /* ---------------------------------- index --------------------------------- */
  .main-hero {
    position: relative;
    height: 50vh;
  }
  .main-hero__content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main-hero__down {
    display: none;
  }
  .main-hero__title span {
    display: block;
  }
  /* -------------------------------- lots ------------------------------- */
  .lots-grid {
    grid-gap: 60px 30px;
  }
  /* ------------------------------- watchmakers ------------------------------ */
  .watchmakers-grid {
    grid-gap: 60px 30px;
  }
  .watchmaker-item__image img {
    filter: grayscale(0);
  }
  /* ------------------------------- watchmaker ------------------------------ */
  .watchmaker {
    grid-template-columns: 1fr 250px;
    gap: 0 50px;
  }
  /* ---------------------------------- item ---------------------------------- */
  .lot-info {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .lot-descr {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .lot-maker {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  /* ------------------------------ participation ----------------------------- */
  .participation-btns {
    grid-template-columns: repeat(2, 1fr);
  }
  .participation-options-scroll {
    overflow: auto;
    padding-bottom: 15px;
  }
  .participation-options {
    width: 200%;
  }
  .profits-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  /* --------------------------------- footer --------------------------------- */
  .main-footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .main-footer__cols {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
  }
  .main-footer__copy {
    grid-column: 1/3 span;
  }
  .main-footer__space {
    display: none;
  }
  /* ----------------------------------- ui ----------------------------------- */
  .mb-m-1 {
    margin-bottom: var(--space1) !important;
  }
  .mb-m-2 {
    margin-bottom: var(--space2) !important;
  }
  .mb-m-3 {
    margin-bottom: var(--space3) !important;
  }
  .mb-m-4 {
    margin-bottom: var(--space4) !important;
  }
  .mt-m-1 {
    margin-top: var(--space1) !important;
  }
  .mt-m-2 {
    margin-top: var(--space2) !important;
  }
  .mt-m-3 {
    margin-top: var(--space3) !important;
  }
  .mt-m-4 {
    margin-top: var(--space4) !important;
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  /* --------------------------------- header --------------------------------- */
  .main-header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .main-header__logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-header__nav {
    padding: 40vw 50px 30px 50px;
  }
  .main-header__nav-link {
    font-size: 30px;
    display: block;
    color: white;
    margin-bottom: 35px;
  }
  .main-header__tools {
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .main-header__tool-btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
  }
  .main-header__tool-btn span {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 15px;
    display: inline-flex;
  }
  .main-header__burger {
    margin-right: 0;
    display: flex;
    flex: 0 0 auto;
    width: 25px;
  }
  /* ---------------------------------- index --------------------------------- */
  .main-hero__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .start-timer {
    display: flex;
    flex: 0 0 auto;
  }
  .start-timer > span {
    font-size: 12px;
    line-height: 15px;
    margin: 6px 30px 0 0;
  }
  .start-timer__digs {
    gap: 0 15px;
  }
  .start-timer__digs-item b {
    line-height: 40px;
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-bottom: 3px;
  }
  .start-timer__digs-item_dots::before {
    font-size: 15px;
    left: -10px;
    line-height: 40px;
  }
  .start-timer__digs-item span {
    font-size: 10px;
  }
  /* ----------------------------------- ui ----------------------------------- */
  h1, .h1 {
    font-size: 40px;
    margin: 4rem 0 3rem;
  }
  h2, .h2 {
    font-size: 32px;
    margin: 3.5rem 0 2.5rem;
  }
  h3, .h3 {
    font-size: 28px;
    margin: 3rem 0 2rem;
  }
  h4, .h4, .lot-descr h3 {
    font-size: 20px;
    margin: 2.5rem 0 1.5rem;
  }
  h5, .h5 {
    font-size: 16px;
    margin: 2rem 0 1rem;
  }
  /* ---------------------------------- index --------------------------------- */
  .more-brands-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px 30px;
  }
  .more-brands-list__item {
    font-size: 15px;
  }
  /* -------------------------------- lots ------------------------------- */
  .lots-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 15px;
  }
  .lot-item__brand {
    font-size: 15px;
  }
  .lot-item__bids {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .lot-item__upper-image {
    transition: all 0.1s;
  }
  .lot-item:active .lot-item__upper-image {
    opacity: 1;
  }
  /* --------------------------------- auction -------------------------------- */
  .auction-information {
    flex-direction: column;
    gap: 15px;
  }
  .auction-information__add-calendar {
    max-width: 100%;
  }
  .auction-actions {
    flex-direction: column;
    gap: 10px;
  }
  .catalog-filter {
    gap: 15px;
    flex-wrap: wrap;
  }
  .catalog-filter__item {
    align-items: stretch;
    width: calc(50% - 7.5px);
    flex-direction: column;
  }
  .catalog-filter__item .button {
    justify-content: space-between;
    width: 100%;
  }
  .catalog-filter > .button {
    width: 100%;
    order: -1;
  }
  /* ------------------------------- watchmakers ------------------------------ */
  .watchmakers-grid {
    grid-gap: 30px 15px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .watchmaker-item__name {
    font-size: 15px;
  }
  /* ------------------------------- watchmaker ------------------------------ */
  .watchmaker {
    grid-template-columns: 1fr;
    gap: 45px;
  }
  .iconic-models {
    gap: 30px;
  }
  .collapse-content {
    position: relative;
  }
  .collapse-content:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0, rgba(255, 255, 255, 0.8) 20px, rgba(255, 255, 255, 0) 40px);
    z-index: 1;
  }
  .collapse-content.open:before {
    display: none;
  }
  .collapse-content-btn {
    display: flex;
  }
  /* ---------------------------------- item ---------------------------------- */
  .lot-gallery__next, .lot-gallery__prev {
    background: none;
    color: black;
  }
  .lot-gallery__next:hover, .lot-gallery__prev:hover {
    background: none;
  }
  .special-note {
    margin: 10px 0 0 0;
    display: flex;
  }
  .lot-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .lot-values__item span {
    font-size: 12px;
  }
  .lot-values__item strong {
    font-size: 18px;
  }
  .lot-bitcoin {
    grid-column: 2 span;
    margin: 0;
  }
  .lot-bitcoin br {
    display: none;
  }
  .lot-bids-buttons {
    gap: 15px;
  }
  /* ------------------------------ participation ----------------------------- */
  .steps-list__item {
    font-size: 15px;
  }
  .steps-list__item:before {
    font-family: var(--america);
    flex: 0 0 auto;
    font-size: 18px;
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
    background: black;
    color: #fff;
    content: counter(my-awesome-counter);
  }
  .participation-btns {
    gap: 15px;
  }
  .participation-options {
    width: 250%;
  }
  .participation-options__line {
    gap: 15px;
  }
  .participation-options__line > div {
    padding: 15px;
  }
  .profits-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  /* --------------------------------- footer --------------------------------- */
  .main-footer__cols {
    grid-template-columns: auto auto;
    grid-gap: 30px;
  }
  .main-footer__copy {
    grid-column: 1/2 span;
  }
  .main-footer__title {
    margin-bottom: 15px;
  }
  /* --------------------------------- modals --------------------------------- */
  .earn-calculate-table th {
    font-size: 12px;
    padding-bottom: 15px;
  }
  .earn-calculate-table td {
    font-size: 12px;
    padding: 15px 0;
  }
  /* ----------------------------------- ui ----------------------------------- */
  .mb-s-1 {
    margin-bottom: var(--space1) !important;
  }
  .mb-s-2 {
    margin-bottom: var(--space2) !important;
  }
  .mb-s-3 {
    margin-bottom: var(--space3) !important;
  }
  .mb-s-4 {
    margin-bottom: var(--space4) !important;
  }
  .mt-s-1 {
    margin-top: var(--space1) !important;
  }
  .mt-s-2 {
    margin-top: var(--space2) !important;
  }
  .mt-s-3 {
    margin-top: var(--space3) !important;
  }
  .mt-s-4 {
    margin-top: var(--space4) !important;
  }
  body.mfp-active {
    overflow: hidden;
  }
  .mfp-bg {
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
  }
  .mfp-wrap {
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1043 !important;
    position: fixed !important;
  }
  .mfp-container {
    padding: 0px;
  }
  .mfp-content {
    height: 100%;
  }
  .modal {
    height: 100%;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
  .modal__header {
    flex: 0 0 auto;
  }
  .modal__content {
    overflow: auto;
    flex: 1 1 auto;
    padding: 30px 0;
  }
  .modal__footer {
    flex: 0 0 auto;
  }
  .modal__close {
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .modal__close:active {
    top: 0px;
  }
}