@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(../font/font.css);
* {
  box-sizing: border-box;
}

/* ---------------------------------- vars ---------------------------------- */
:root {
  --inter: "Inter", sans-serif;
  --america: "GT America Extended";
  --grey-line: #B9B9B9;
  --green: #25A46F;
  --red: red;
  --blue: blue;
  --space1:0.5rem;
  --space1:1rem;
  --space3:2rem;
  --space4:3rem;
}

body {
  font-family: var(--inter);
  font-size: 15px;
  line-height: 1;
}

button, input, textarea {
  font-family: var(--inter);
}

.container {
  padding-left: 80px;
  padding-right: 80px;
}

p {
  margin: 1rem 0;
}

/* --------------------------------- header --------------------------------- */
.main-header {
  display: flex;
  align-items: center;
  background: black;
  padding-top: 30px;
  padding-bottom: 30px;
}
.main-header__logo {
  width: 300px;
}
.main-header__tools {
  margin-left: auto;
}

/* ---------------------------------- typo ---------------------------------- */
h1, .h1 {
  font-family: var(--america);
  font-weight: 900;
  font-size: 5rem;
  margin: 5rem 0 4rem;
}

h2, .h2 {
  font-family: var(--america);
  font-size: 4rem;
  margin: 4.5rem 0 3.5rem;
}

h3, .h3 {
  font-family: var(--america);
  font-size: 3rem;
  margin: 4rem 0 3rem;
}

h4, .h4 {
  font-family: var(--america);
  font-size: 2.5rem;
  margin: 3.5rem 0 2.5rem;
}

h5, .h5 {
  font-family: var(--america);
  font-size: 2rem;
  margin: 3rem 0 2rem;
}

/* ----------------------------------- ui ----------------------------------- */
.button {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: inherit;
  border: 1px transparent solid;
  transition: all 0.3s;
}
.button_medium {
  font-size: 14px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
}
.button_small {
  font-size: 13px;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
}
.button_black.button_filled {
  background: black;
  color: white;
}
.button_black.button_filled:hover {
  background: white;
  color: black;
  border: 1px var(--grey-line) solid;
}
.button_black.button_outline {
  border: 1px var(--grey-line) solid;
  color: black;
}
.button_black.button_outline:hover {
  background: black;
  color: white;
}
.button_white.button_filled {
  background: white;
  color: black;
}
.button_white.button_filled:hover {
  background: black;
  color: white;
  border: 1px white solid;
}
.button_white.button_outline {
  border: 1px white solid;
  color: white;
}
.button_white.button_outline:hover {
  background: white;
  color: black;
}
.button_green.button_filled {
  background: var(--green);
  color: white;
}
.button_green.button_filled:hover {
  background: white;
  color: var(--green);
  border: 1px var(--green) solid;
}
.button_green.button_outline {
  border: 1px var(--green) solid;
  color: var(--green);
}
.button_green.button_outline:hover {
  background: var(--green);
  color: white;
}
.button_red.button_filled {
  background: var(--red);
  color: white;
}
.button_red.button_filled:hover {
  background: white;
  color: var(--red);
  border: 1px var(--red) solid;
}
.button_red.button_outline {
  border: 1px var(--red) solid;
  color: var(--red);
}
.button_red.button_outline:hover {
  background: var(--red);
  color: white;
}

.ui-card {
  padding: 1rem;
  background: #efefef;
}/*# sourceMappingURL=main.css.map */