* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.paddings {
  padding: 140px;
}

.paddings-half {
  padding: 75px 140px;
}

.text-center {
  text-align: center;
}

body {
  font-family: 'Helvetica Now Text';
  font-size: 14px;
  line-height: 1;
}

input, select, button {
  font-family: 'Helvetica Now Text';
}

.top-divider {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-header {
  height: 130px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 100;
}

.main-header .logo {
  height: 75px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-header.mini {
  height: 80px;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.main-header.mini .logo {
  overflow: hidden;
  height: 35px;
}

.main-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-nav ul li:nth-child(4) {
  margin-left: auto;
}

.main-nav ul li {
  margin-right: 22px;
}

.main-nav a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: inherit;
  text-transform: uppercase;
}

.main-nav a:hover {
  color: #009bff;
}

.header-tools {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-tools .search,
.header-tools .favorite {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}

.header-tools .search .mdi,
.header-tools .favorite .mdi {
  font-size: 20px;
}

.header-tools .search:hover,
.header-tools .favorite:hover {
  color: #009bff;
}

.header-tools .favorite.active {
  color: #e91e63;
}

.lang-select {
  background: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 40px;
  margin-right: 15px;
  position: relative;
}

.lang-select i.mdi {
  position: absolute;
  top: 11px;
  right: 13px;
  font-size: 18px;
  pointer-events: none;
}

.lang-select select {
  background: #f5f5f5;
  padding: 0 35px 0 15px;
  height: 100%;
  width: 100%;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lang-select select:hover {
  background: #f0f0f0;
}

.main-header-mobile {
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 90px;
  background: #fff;
  padding: 0 30px;
}

.main-header-mobile .logo {
  margin-left: 30px;
  margin-right: auto;
}

.main-header-mobile .burger-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.main-header-mobile .burger-menu span {
  display: block;
  width: 30px;
  height: 2px;
  background: #000;
}

.main-header-mobile .burger-menu span + span {
  margin-top: 14px;
}

.artle-office {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.artle-office .image {
  width: 39vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.artle-office .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.artle-office .image .tablet {
  display: none;
}

.artle-office .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 12%;
  padding-right: 11%;
}

.artle-office .text p {
  font-size: 18px;
  line-height: 1.7;
  margin: 10% 0;
}

.artle-office .some-partners img {
  margin-right: 15px;
}

.join-our-club {
  background: #101010;
  color: #fff;
  text-align: center;
  padding: 130px 0 210px;
}

.join-our-club img {
  margin-bottom: 65px;
}

.join-our-club h2 {
  font-size: 44px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
}

.join-our-club p {
  font-size: 16px;
  line-height: 2;
  margin: 40px 0;
}

.join-our-club .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.join-our-club .subscribe .c-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.join-our-club .subscribe .c-button {
  margin-left: 15px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.section-title.text-center {
  display: block;
}

.section-title h2 {
  font-weight: 400;
  font-size: 32px;
}

.catalog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 80px 100px;
}

.catalog-grid + .text-center {
  margin-top: 70px;
}

.catalog-grid-item {
  position: relative;
}

.catalog-grid-item .action {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.catalog-grid-item .action button {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.catalog-grid-item .action button:hover {
  background: #eee;
}

.catalog-grid-item .action button i.mdi {
  font-size: 20px;
}

.catalog-grid-item > a {
  display: block;
  text-decoration: none;
  color: #000;
}

.catalog-grid-item:hover .action button {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.catalog-grid-item:hover .image img {
  -webkit-transform: scale(1.1) rotate(5deg);
          transform: scale(1.1) rotate(5deg);
}

.catalog-grid-item:hover .image:before {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
}

.catalog-grid-item:hover .name {
  color: #009bff;
}

.catalog-grid-item .image {
  display: block;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.catalog-grid-item .image img {
  vertical-align: middle;
  width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.catalog-grid-item .name {
  display: block;
  font-size: 13px;
  margin-bottom: 19px;
}

.catalog-grid-item .descr {
  display: block;
  line-height: 1.4;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.38);
  letter-spacing: 1px;
}

.catalog-grid-item .price b {
  font-size: 13px;
}

.catalog-grid-item .price .status {
  margin-left: 15px;
  font-size: 13px;
}

.catalog-grid-item .price .status.in-sale {
  color: #59923F;
}

.catalog-grid-item .price .status.sold {
  color: #AC4747;
}

.catalog-grid-item .price .status.reserved {
  color: #3F5692;
}

.page-counts {
  max-width: 230px;
  margin: 0 auto 30px;
}

.page-counts p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.page-counts .progress {
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
}

.page-counts .progress div {
  width: 20%;
  height: 1px;
  background: #000;
}

.page-counts + .c-button {
  width: 100%;
  max-width: 230px;
}

.brands-section .brands-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 0 70px;
}

.brands-section .brands-list a {
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.brands-section .brands-list a:hover {
  -webkit-box-shadow: 0 0 0 3px #009bff;
          box-shadow: 0 0 0 3px #009bff;
}

.brands-section .brands-list a img {
  vertical-align: middle;
  width: 100%;
}

.instagram-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
}

.instagram-grid a {
  display: block;
}

.instagram-grid a img {
  width: 100%;
  vertical-align: middle;
}

.main-slider .swiper-slide {
  width: 80%;
  position: relative;
}

.main-slider .swiper-slide > img {
  width: 100%;
  vertical-align: middle;
}

.main-slider .next-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-slider .next-slide:hover {
  background: rgba(0, 0, 0, 0);
}

.main-slider .swiper-slide-active .next-slide {
  display: none;
}

.main-slider .swiper-slide-prev .next-slide {
  display: none;
}

.slider-prodict-item {
  width: 39vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #fff;
  padding: 60px 10% 60px 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.slider-prodict-item .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 3%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.slider-prodict-item .image img {
  width: 100%;
}

.slider-prodict-item .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.slider-prodict-item .name {
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.slider-prodict-item .descr {
  display: block;
  margin-bottom: 35px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  max-height: 50px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.slider-prodict-item .show {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background: #000;
  color: #fff;
  width: 100px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.slider-prodict-item .show i.mdi {
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider-prodict-item .show:hover {
  background: #009bff;
}

.slider-prodict-item .price {
  font-size: 15px;
  overflow: hidden;
  max-height: 50px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.slider-prodict-item .price b {
  margin-right: 10px;
}

.slider-prodict-item .price .status {
  display: inline-block;
  font-size: 13px;
  color: #3F5692;
}

.swiper-slide-next .slider-prodict-item {
  width: 20vw;
  padding: 40px;
}

.swiper-slide-next .slider-prodict-item .image {
  width: 60px;
  margin-right: 25px;
}

.swiper-slide-next .slider-prodict-item .name {
  font-size: 11px;
  margin: 0px;
}

.swiper-slide-next .slider-prodict-item .descr {
  max-height: 0px;
  margin: 0px;
}

.swiper-slide-next .slider-prodict-item .price {
  max-height: 0px;
}

.swiper-slide-next .slider-prodict-item .show {
  width: 90px;
}

.main-footer {
  background: #000;
  padding: 70px 30px;
}

.main-footer-container {
  max-width: 1000px;
  margin: 0px auto;
  color: #fff;
}

.main-footer-container a {
  color: white;
}

.main-footer-container .our-properties {
  margin-left: 35%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer-container .our-properties .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(33.333% - 4px);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border: 1px rgba(255, 255, 255, 0.21) solid;
  height: 45px;
  font-size: 14px;
}

.main-footer-container .our-properties i.mdi {
  margin-right: 5px;
  font-size: 16px;
}

.footer-info-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info-links a {
  text-decoration: none;
}

.footer-info-links a:hover {
  color: #009bff;
}

.footer-info-links strong {
  display: block;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.5px;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
  padding: 10px 0 20px;
  margin-bottom: 25px;
}

.footer-info-links ul {
  list-style: none;
  color: rgba(255, 255, 255, 0.69);
}

.footer-info-links ul li {
  margin-bottom: 20px;
}

.footer-info-links .item:first-child {
  width: 35%;
  margin-top: -70px;
  padding-right: 70px;
}

.footer-info-links .item:nth-child(2) {
  margin-right: auto;
}

/*****************filters-modal***************/
.filters-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0px;
}

.filters-modal a.close-modal {
  display: none;
}

.filters-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.filters-header a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.filters-header a.close {
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  font-size: 20px;
  color: #C2C2C2;
  margin-right: 30px;
}

.filters-header a.close:hover {
  color: #009bff;
}

.filters-header .apply, .filters-header .clear {
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
  border-radius: 30px;
}

.filters-header .apply {
  background: #000;
  color: #fff;
}

.filters-header .apply:hover {
  background: #4caf50;
}

.filters-header .clear:hover {
  color: #009bff;
}

.modal-filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-filters-list .item {
  margin-right: 10%;
}

.modal-filters-list .item strong {
  display: block;
  margin-bottom: 40px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.modal-filters-list .list.double {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0 50px;
}

/*****************search-modal***************/
.search-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 100%;
  width: 100%;
}

.search-modal .close {
  position: absolute;
  right: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #000;
  font-size: 24px;
  cursor: pointer;
}

.search-modal .close:hover {
  color: #009bff;
}

.search-modal .search-field {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.search-modal .search-field form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.search-modal .search-field input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.17) solid;
  font-size: 18px;
  height: 60px;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.search-modal .search-field input:focus {
  border-bottom: 3px black solid;
}

.search-modal .search-field .search {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  border: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 20px;
  cursor: pointer;
  font-size: 24px;
  line-height: 50px;
}

.search-modal .search-field .search:hover {
  background: #009bff;
}

.search-modal .input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-modal .search-drop {
  position: absolute;
  background: #F5F5F5;
  border-radius: 24px;
  top: 120%;
  width: 100%;
  padding: 15px;
  list-style: none;
  text-align: left;
}

.search-modal .search-drop a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
}

.search-modal .search-drop a img {
  width: 60px;
  height: 60px;
}

.search-modal .search-drop a .name {
  width: 40%;
  padding-right: 20px;
}

.search-modal .search-drop a .price {
  width: 30%;
}

.search-modal .search-drop a .status {
  width: 30%;
}

.search-modal .search-drop a:hover {
  color: #009bff;
}

.search-modal.remodal-is-opening {
  -webkit-animation-name: SearchIn;
          animation-name: SearchIn;
}

.search-modal.remodal-is-closing {
  -webkit-animation-name: SearchOut;
          animation-name: SearchOut;
}

/*****************favorite-modal***************/
.favorite-modal {
  position: absolute;
  right: 0px;
  top: 0px;
  min-height: 100%;
  margin: 0px;
  padding: 60px 80px;
}

.favorite-modal .close {
  font-size: 24px;
  cursor: pointer;
}

.favorite-modal .close:hover {
  color: #009bff;
}

.favorite-modal .fav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px rgba(0, 0, 0, 0.18) solid;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.favorite-modal .fav-header strong {
  font-size: 18px;
  letter-spacing: 2;
  text-transform: uppercase;
}

.favorite-modal .catalog-grid {
  text-align: left;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.favorite-modal.remodal-is-opening {
  -webkit-animation-name: FavoriteIn;
          animation-name: FavoriteIn;
}

.favorite-modal.remodal-is-closing {
  -webkit-animation-name: FavoriteOut;
          animation-name: FavoriteOut;
}

/*****************navi-modal***************/
.navi-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 100%;
  width: 100%;
  padding: 0px;
}

.navi-modal .our-club {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 630px;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navi-modal .our-club h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 0;
}

.navi-modal .our-club p {
  font-size: 13px;
  max-width: 360px;
  line-height: 2;
  margin: 30px 0;
}

.navi-modal-links {
  border-top: 1px rgba(0, 0, 0, 0.09) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navi-modal-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.navi-modal-links ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.navi-modal-links ul a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.navi-modal-links ul a strong {
  margin-top: 20px;
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
}

.navi-modal-links ul a:hover {
  background: #F7F7F7;
}

/*****************navi-modal mobile***************/
.navi-modal.mobile .nav-top-brands {
  padding: 10px 30px;
}

.navi-modal.mobile .close {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 24px;
}

.navi-modal.mobile .close:hover {
  cursor: pointer;
  color: #009bff;
}

.navi-modal-mobile-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navi-modal-mobile-cols .links-col {
  width: 50%;
  padding: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.navi-modal-mobile-cols .links-col > img {
  height: 35px;
  margin-bottom: 30px;
}

.navi-modal-mobile-cols .links-col ul {
  text-align: left;
  list-style: none;
}

.navi-modal-mobile-cols .links-col ul a {
  padding: 15px 0;
  font-weight: 500;
  color: #000;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.navi-modal-mobile-cols .links-col ul a:hover {
  color: #009bff;
}

.navi-modal-mobile-cols .links-col hr {
  margin: 15px 0;
  height: 1px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}

.navi-modal-mobile-cols .links-col hr:last-child {
  margin-bottom: 0px;
}

.navi-modal-mobile-cols .our-club {
  background: #F5F5F5;
  padding: 30px;
}

.nav-top-brands {
  border-top: 1px rgba(0, 0, 0, 0.09) solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 50px 60px;
}

.nav-top-brands > span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  white-space: nowrap;
  margin-right: 30px;
}

.nav-top-brands-list-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}

.nav-top-brands-list {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.nav-top-brands-list a {
  display: inline-block;
  padding: 20px 20px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-top-brands-list a:first-child {
  padding-left: 0px;
}

.nav-top-brands-list a:hover {
  color: #000;
}

.mb--theme .mCSB_scrollTools {
  opacity: 1;
}

.mb--theme .mCSB_horizontal .mCSB_container {
  margin-bottom: 0px;
}

.mb--theme .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: 0px;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
}

.mb--theme .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger_bar {
  margin: 0px;
  background-attachment: #000 !important;
}

.mb--theme .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  margin: 0px;
}

/*****************club-modal***************/
.club-modal {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px;
  max-width: 100%;
  height: 100%;
  margin: 0px;
  background: #000;
}

.club-modal .close {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  position: absolute;
  right: 50px;
  top: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

.club-modal .close i.mdi {
  font-size: 24px;
  margin-left: 10px;
}

.club-modal .close:hover {
  color: #009bff;
}

.club-modal .feaures {
  margin: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.club-modal .feaures div {
  padding: 0 30px;
}

.club-modal .feaures .icon {
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
  width: 90px;
  height: 90px;
  background: rgba(255, 207, 164, 0.09);
  font-size: 24px;
}

.club-modal .feaures strong {
  display: block;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 30px 0;
}

.club-modal .feaures p {
  margin: 0px;
  line-height: 2;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.63);
}

.club-modal .join-our-club {
  background: #000;
  height: 100%;
  padding: 100px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes FavoriteIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes FavoriteIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes FavoriteOut {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes FavoriteOut {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes SearchIn {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes SearchIn {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes SearchOut {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes SearchOut {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.artle-item-section {
  margin-bottom: 150px;
}

.artle-item-section .back {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}

.artle-item-section .back i.mdi {
  font-size: 20px;
  margin-right: 5px;
}

.artle-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1000px;
  margin: 60px auto 0;
}

.artle-item-wrap .image img {
  max-width: 100%;
}

.artle-item-wrap .reff {
  display: block;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.artle-item-wrap .name {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

.artle-item-wrap .descr {
  display: block;
  margin-bottom: 50px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.artle-item-wrap .price {
  display: block;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.tech-params-table {
  max-width: 920px;
  margin: 60px auto 0;
}

.tech-params-table h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 55px;
}

.tech-params-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}

.tech-params-table table td {
  font-size: 13px;
  padding: 17px 17px;
  font-weight: 500;
}

.tech-params-table table td:last-child {
  text-align: right;
}

.tech-params-table table tr:nth-child(odd) td {
  background: #F5F5F5;
}

.item-banner {
  color: #fff;
  padding: 150px 0;
}

.item-banner article {
  max-width: 920px;
  margin: 0 auto;
}

.item-banner h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 100px;
  letter-spacing: 2px;
}

.item-banner p {
  font-size: 16px;
  line-height: 1.7;
}

.item-banner-image img {
  width: 100%;
  vertical-align: middle;
}

.item-priority {
  padding: 200px 0;
}

.item-priority .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 920px;
  margin: 0 auto;
}

.item-priority strong {
  font-size: 18px;
  line-height: 1.5;
  margin-right: 150px;
}

.item-priority p {
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.about-mechanism {
  padding: 120px 0;
  overflow: hidden;
}

.about-mechanism-wrap {
  max-width: 1400px;
  margin: 0 auto;
}

.mechanism-info {
  margin: 0 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mechanism-info + span {
  font-size: 18px;
  display: block;
  margin-bottom: 35px;
}

.mechanism-info .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  max-width: 420px;
  margin-right: 125px;
}

.mechanism-info .image img {
  vertical-align: middle;
  width: 100%;
}

.mechanism-info .text h3 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
}

.mechanism-info .text p {
  font-size: 16px;
  line-height: 2;
}

.mechanism-info .text p + p {
  margin-top: 50px;
}

.mechanism-slider {
  overflow: visible;
  margin-bottom: 80px;
}

.mechanism-slider img {
  vertical-align: middle;
  max-width: 100%;
}

.mechanism-slider .swiper-pagination-progressbar {
  top: auto;
  bottom: -80px;
  background: rgba(0, 0, 0, 0.09);
}

.mechanism-slider .swiper-pagination-progressbar-fill {
  background: #000;
}

.mechanism-slider .btn-next,
.mechanism-slider .btn-prev {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mechanism-slider .btn-next:hover,
.mechanism-slider .btn-prev:hover {
  background: #009bff;
}

.mechanism-slider .btn-next.swiper-button-disabled,
.mechanism-slider .btn-prev.swiper-button-disabled {
  opacity: 0;
}

.mechanism-slider .btn-next {
  right: -100px;
}

.mechanism-slider .btn-prev {
  left: -100px;
}

.warranty-returns {
  padding: 140px 0;
}

.warranty-returns .blocks {
  max-width: 920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.warranty-returns .blocks > div {
  width: 100%;
  max-width: 400px;
}

.warranty-returns strong {
  display: block;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px rgba(0, 0, 0, 0.18) solid;
  padding: 0 0 35px 0;
  margin-bottom: 35px;
}

.warranty-returns p {
  line-height: 2;
}

/**********************ui**********************/
.c-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: none;
  height: 50px;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  color: inherit;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  padding: 0 60px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-button.icon-right {
  padding: 0 30px;
}

.c-button.icon-right .mdi {
  margin-left: 5px;
}

.c-button:hover {
  background: #009bff;
  color: #fff;
  border-color: #009bff;
}

.c-button.light {
  border-color: #fff;
}

.c-button.black {
  background: #000;
  color: #fff;
}

.c-button.black:hover {
  background: #009bff;
}

.c-button.icon {
  width: 50px;
  padding: 0px;
}

.c-button.icon i.mdi {
  font-size: 20px;
}

.c-button.icon:hover {
  border-color: #009bff;
}

.c-button i.mdi {
  font-size: 16px;
}

.c-input input {
  width: 100%;
  height: 50px;
  border: 1px rgba(0, 0, 0, 0.4) solid;
  background: none;
  border-radius: 25px;
  padding: 0 35px;
}

.c-input.light input {
  border-color: #fff;
  color: #fff;
}

.c-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-bottom: 24px;
}

.c-checkbox span {
  color: rgba(0, 0, 0, 0.5);
  line-height: 18px;
  font-weight: 500;
}

.c-checkbox input {
  display: none;
}

.c-checkbox input:checked + .check {
  background: #000;
  border-color: #000;
}

.c-checkbox input:checked + .check:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.c-checkbox input:checked ~ span {
  color: #000;
}

.c-checkbox .check {
  margin-right: 14px;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 2px;
  text-align: center;
  line-height: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-checkbox .check:before {
  content: "\F012C";
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: #fff;
}

.remodal-overlay {
  background: rgba(0, 0, 0, 0.8);
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.remodal-wrapper {
  overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {
  .section-title {
    margin-bottom: 70px;
  }
  .paddings {
    padding: 70px 50px;
  }
  .paddings-half {
    padding: 70px 50px;
  }
  .main-header {
    display: none;
  }
  .main-header-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-slider .swiper-slide {
    height: 100vh;
  }
  .main-slider .swiper-slide > img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .slider-prodict-item {
    width: 90%;
    padding-right: 130px;
  }
  .slider-prodict-item .image {
    width: 120px;
  }
  .slider-prodict-item .descr {
    margin-bottom: 15px;
  }
  .swiper-slide-next .next-slide i.mdi {
    position: absolute;
    top: 50%;
    left: 11%;
    color: #fff;
    font-size: 24px;
  }
  .swiper-slide-next .slider-prodict-item {
    display: none;
  }
  .artle-office {
    display: block;
  }
  .artle-office .image {
    width: 100%;
  }
  .artle-office .image .desctop {
    display: none;
  }
  .artle-office .image .tablet {
    display: inline;
  }
  .artle-office .text {
    max-width: 740px;
    padding: 50px 30px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
  .catalog-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  .catalog-grid-item .image {
    margin-bottom: 25px;
  }
  .instagram-grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .brands-section .brands-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    grid-gap: 0px;
  }
  .brands-section .brands-list a {
    margin-right: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 180px;
    margin-bottom: 20px;
  }
  .search-modal {
    padding: 80px 70px 60px;
  }
  .search-modal .close {
    right: 30px;
    top: 30px;
    -webkit-transform: none;
            transform: none;
  }
  .club-modal .join-our-club {
    padding: 80px 60px;
  }
  .club-modal .feaures p br {
    display: none;
  }
  .club-modal .subscribe {
    max-width: 500px;
  }
  .main-footer-container {
    max-width: 800px;
  }
  .main-footer-container strong {
    white-space: nowrap;
  }
}

@media only screen and (max-width: 768px) {
  .main-footer-container .our-properties {
    margin-left: 28.5%;
  }
  .footer-info-links .item:first-child {
    width: 30%;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .paddings {
    padding: 30px;
  }
  .paddings-half {
    padding: 30px;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .section-title h2 {
    font-size: 20px;
  }
  .main-slider .swiper-slide {
    height: 100vh;
    width: 100%;
  }
  .main-slider .next-slide {
    display: none !important;
  }
  .swiper-slide-next .slider-prodict-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    right: 30px;
    bottom: 30px;
    left: 30px;
    padding: 30px;
  }
  .swiper-slide-next .slider-prodict-item .image {
    width: 60px;
  }
  .swiper-slide-next .slider-prodict-item .info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .swiper-slide-next .slider-prodict-item .name {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .swiper-slide-next .slider-prodict-item .descr {
    display: none;
  }
  .swiper-slide-next .slider-prodict-item .price {
    max-height: 100%;
    font-size: 11px;
  }
  .swiper-slide-next .slider-prodict-item .price .status {
    margin-top: 8px;
    display: block;
    font-size: 10px;
  }
  .slider-prodict-item {
    width: auto;
    right: 30px;
    bottom: 30px;
    left: 30px;
    padding: 30px;
  }
  .slider-prodict-item .image {
    width: 60px;
  }
  .slider-prodict-item .info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .slider-prodict-item .name {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .slider-prodict-item .descr {
    display: none;
  }
  .slider-prodict-item .price {
    font-size: 11px;
  }
  .slider-prodict-item .price .status {
    margin-top: 8px;
    display: block;
    font-size: 10px;
  }
  .slider-prodict-item .show {
    display: none;
  }
  .artle-office .text {
    padding: 60px 30px;
  }
  .artle-office .text img {
    max-width: 60px;
  }
  .artle-office .text p {
    font-size: 14px;
  }
  .main-header-mobile {
    height: 60px;
  }
  .main-header-mobile .burger-menu {
    width: 24px;
  }
  .main-header-mobile .burger-menu span {
    width: 24px;
  }
  .main-header-mobile .burger-menu span + span {
    margin-top: 8px;
  }
  .main-header-mobile .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
  }
  .main-header-mobile .logo img {
    width: 60px;
  }
  .main-header-mobile .header-tools {
    margin-left: auto;
  }
  .main-header-mobile .header-tools .search,
  .main-header-mobile .header-tools .favorite {
    padding-left: 10px;
    padding-right: 0px;
  }
  .main-header-mobile .header-tools .lang-select {
    display: none;
  }
  .navi-modal.mobile {
    max-width: 90%;
    margin: 0px;
  }
  .navi-modal.mobile .nav-top-brands {
    display: block;
    text-align: left;
    padding: 30px;
  }
  .navi-modal-mobile-cols {
    display: block;
  }
  .navi-modal-mobile-cols .links-col {
    width: 100%;
  }
  .nav-top-brands-list a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .catalog-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 25px;
  }
  .catalog-grid-item .descr {
    font-size: 9px;
  }
  .instagram-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .brands-section .brands-list a {
    width: 120px;
    margin-right: 20px;
  }
  .join-our-club {
    padding: 70px 30px;
  }
  .join-our-club img {
    margin-bottom: 40px;
  }
  .join-our-club h2 {
    font-size: 28px;
  }
  .join-our-club p {
    font-size: 14px;
  }
  .main-footer {
    padding: 30px;
  }
  .main-footer-container .our-properties {
    display: block;
    margin: 0 0 40px 0;
    width: 100%;
  }
  .main-footer-container .our-properties .item {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-info-links {
    display: block;
  }
  .footer-info-links .item {
    margin: 0 0 40px 0;
    width: auto;
  }
  .footer-info-links .item:first-child {
    margin: 0 0 40px 0;
    width: auto;
  }
  .footer-info-links .item:last-child {
    margin: 0;
  }
  /***************favorite-modal**********/
  .favorite-modal {
    width: 100%;
    padding: 30px;
  }
  .favorite-modal .catalog-grid {
    grid-gap: 25px;
  }
  .favorite-modal .fav-header {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .favorite-modal .fav-header strong {
    font-size: 14px;
  }
  /***************search-modal**********/
  .search-modal {
    padding: 60px 30px 40px;
  }
  .search-modal .search-field form {
    position: static;
  }
  .search-modal .search-drop {
    left: 0px;
    top: 100%;
    height: calc(100vh - 160px);
    border-radius: 0;
    padding: 30px 0;
  }
  .search-modal .search-drop a {
    display: block;
    overflow: hidden;
  }
  .search-modal .search-drop a img {
    width: 110px;
    height: 110px;
    float: left;
  }
  .search-modal .search-drop a .name {
    margin: 30px 0 10px;
    font-size: 15px;
    display: block;
    width: auto;
  }
  .search-modal .search-drop a .price {
    margin-bottom: 10px;
    font-size: 13px;
    display: block;
    width: auto;
  }
  .search-modal .search-drop a .status {
    font-size: 13px;
    display: block;
    width: auto;
  }
  .search-modal .close {
    right: 20px;
    top: 20px;
    -webkit-transform: none;
            transform: none;
  }
  /***************search-modal**********/
  .club-modal {
    overflow: auto;
    display: block;
  }
  .club-modal .join-our-club {
    display: block;
    padding: 60px 30px 30px;
  }
  .club-modal .close {
    right: 20px;
    top: 20px;
  }
  .club-modal .close span {
    display: none;
  }
  .club-modal .feaures {
    display: block;
    padding: 0px;
    margin: 60px 0 60px;
  }
  .club-modal .feaures > div {
    margin-bottom: 60px;
  }
  .club-modal .feaures p br {
    display: none;
  }
  .club-modal .subscribe {
    margin-bottom: 50px;
  }
  /*******************ui*****************/
  .c-button {
    padding: 0 15px;
    height: 45px;
    font-size: 11px;
  }
  .c-button.icon {
    width: 45px;
  }
  .c-input input {
    height: 45px;
  }
  .c-button.mobile-icon {
    padding: 0;
    text-align: center;
    width: 45px;
  }
  .c-button.mobile-icon span {
    display: none;
  }
  .c-button.mobile-icon i.mdi {
    margin-left: 2px;
  }
}
/*# sourceMappingURL=main.css.map */