
@media (max-width: 1200px) { /*lg*/
   #MenueToggle {
      display: block;
   }
   .main-header {
      .inner {
         padding: 10px 0;
      }
      .logo {
         flex: 1 1 auto;
         margin: 0px;
      }
      .main-nav {
      position: fixed;
      left: -250px;
      top: 0px;
      bottom: 0px;
      overflow: auto;
      background: #212121;
      z-index: 100;
      width: 250px;
      > ul {
         display: block;
      }
      > ul > li {
         padding: 0px;
         margin: 0px;
         border-bottom: 1px rgba(#fff, 0.4) solid;
         > a {
            display: block;
            border-bottom: none !important;
            padding: 10px 15px;
         }
         &.active {
            ul.sub-nav {
               display: block;
            }
         }
      }
      .sub-nav {
         position: static;
         border-top: 1px rgba(#fff, 0.4) solid;
         padding: 10px 0px;
         background: none;
         a {
            padding: 5px 10px 5px 25px;
         }
      }
      }
   }
   .catalog-container,
   .jew-item {
      margin-top: 30px;
   }
   .page-container {
      padding-top: 30px;
   }
   .page-title {
      margin: 0 0 30px;
   }
   .collection-filter {
      float: none;
      margin-bottom: 20px;
      ul {
         display: flex;
         flex-wrap: wrap;
      }
      li {
         margin-right: 20px;
      }
      a {
         width: auto;
         padding-right: 20px;
         &.active {
            &:after {
               display: none;
            }
         }
      }
   }
   .catalog-list {
      margin-left: 0px;
   }
   .page-container {
      margin-left: 33px;
      article {
         max-width: 100%;
      }
   }
   .container-basket {
      margin-left: 33px;
      margin-right: 33px;
   }
   .news-date {
      position: static;
      display: block;
   }
   .news-img {
      margin: 30px 0 0 0;
      max-width: 100%;
   }
   .map {
      padding: 0px;
   }
}
@media (max-width: 992px) { /*md*/
   .products-anoncer {
      .info {
         max-width: 100%;
         margin: 0;
         h2 {
            font-size: 25px;
         }
      }
      .video-preview {
         .text {
            font-size: 18px;
         }
         .mdi {
            font-size: 45px;
            margin-top: 10px;
         }
      }
      .video-content {
         max-width: 970px;
         height: auto;
         margin: auto;
         display: none;
      }
   }
}
@media (max-width: 768px) { /*sm*/
   .index-bg {
      background-size: 50%, cover;
   }
   .main-header {
      padding: 0 15px;
      .tel {
         display: none;
      }
      strong {
         display: none;
      }
   }
   .gp {
      padding: 0 15px;
   }
   .page-container {
      margin-left: 0px;
   }
   .container-basket {
      margin-left: 0px;
      margin-right: 0px;
   }
   .mag-list {
      .adress-mag {
         flex: 0 0 50%;
      }
   }
   .slide-container {
      top: 0px;
      width: 100%;
      max-width: 100% !important;
      height: 100%;
      padding: 65px 15px 15px;
      left: 0px !important;
      &.left {
         left: 0px ;
      }
      &.right {
         right: 0px;
      }
   }
   .slide-pager {
      text-align: center;
      margin-top: -50px;
   }
   .slide-container.collect-info {
      text-align: center;
      h1 {
         font-size: 40px;
         line-height: normal;
      }
      blockquote {
         font-size: 14px;
         padding-left: 0px;
         &:after {
            display: none;
         }
      }
      .btn {
         margin-left: 0px;
      }
   }
   .share-links {
      width: 100%;
      padding: 10px 5px;
      display: flex;
      justify-content: space-around;
   }
   .replics {
      display: none;
   }
   .how-made-photo {
      bottom: 70px;
   }
   .slides-navigation {
      top: 0px;
      a.prev {
         left: 0px;
         border-left: none;
         border-top: none;
      }
      a.next {
         right: 0px;
         border-right: 0px;
         border-top: 0px;
      }
   }
   .main-content {
      padding-bottom: 50px;
   }
   .bg-video {
      background: #000;
      video {
         max-width: 100%;
      }
   }
   .page-title {
      flex-direction: column;
   }
   .collection-filter {
      ul {
         display: block;
      }
      li {

      }
   }
   .masters-list {
      li {
         display: block;
         flex: 0 0 auto;
         margin: 0px;
         width: calc(50% - 7.5px);
         margin: 0 7.5px 15px 0;
         img {
            width: 100%;
         }
         &:nth-child(2n) {
            margin: 0 0 15px 7.5px;
         }
      }
   }
   .carousel {
      height: 76px;
      img {
         width: 76px;
      }
   }
   .shipping-adress {
      margin-top: 30px;
   }
   .basket-wrap {
      .title {
         flex-direction: column;
      }
   }
   .sets-items {
      .item {
         flex-direction: column;
      }
      .img {

         margin: 0 auto 20px;
      }
   }
   .basket-items {
      width: 700px;
   }
   .shipping-adress {
      .field {
         flex-direction: column;
      }
   }
   #slides {
      .comment {
         bottom: 140px;
         right: 15px;
         left: 15px;
         width: auto;
      }
   }
   .final-bay {
      padding: 20px 0;
      box-shadow: none;
      .customer-info {
         flex-direction: column;
         align-items: center;
         text-align: center;
         margin-left: 0px;
         margin-right: 0px;
         padding-left: 10px;
         padding-right: 10px;
      }
   }
}
@media (max-width: 544px) { /*xs*/
   .mag-list {
      .adress-mag {
         flex: 0 0 100%;
      }
   }
}
