
@media (max-width: 1200px) { /*lg*/
   #MenueToggle {
      display: block;
   }
   .main-header {
      .inner {
         padding: 10px 0;
      }
      .logo {
         flex: 1 1 auto;
         margin: 0px;
      }
      .main-nav {
         display: none;
      }
   }
   .catalog-container,
   .jew-item {
      padding-top: 30px;
   }
   .page-container {
      padding-top: 30px;
   }
   .page-title {
      margin: 0 0 30px;
   }
   .page-container {
      article {
         max-width: 100%;
      }
   }
   .container-basket {
      margin-left: 33px;
      margin-right: 33px;
   }
   .news-date {
      position: static;
      display: block;
   }
   .news-img {
      margin: 30px 0 0 0;
      max-width: 100%;
   }
   .map {
      padding: 0px;
   }
}
@media (max-width: 992px) { /*md*/
   .catalog-list {
      margin-left: 0px;
   }
   .products-anoncer {
      .info {
         max-width: 100%;
         margin: 0;
         h2 {
            font-size: 25px;
         }
      }
      .video-preview {
         .text {
            font-size: 18px;
         }
         .mdi {
            font-size: 45px;
            margin-top: 10px;
         }
      }
      .video-content {
         max-width: 970px;
         height: auto;
         margin: auto;
         display: none;
      }
   }
}
@media (max-width: 768px) { /*sm*/
   .how-made-photo {
      display: none;
   }
   .index-bg {
      background-size: 70%, cover;
   }
   .main-header {
      .tel {
         display: none;
      }
      strong {
         display: none;
      }
   }
   .gp {
      padding: 0 15px;
   }
   .page-container {
      margin-left: 0px;
      padding-top: 1px;
   }
   .container-basket {
      margin-left: 0px;
      margin-right: 0px;
   }
   .mag-list {
      .adress-mag {
         flex: 0 0 50%;
      }
   }
   .slide-container {
      top: 0px;
      width: 100%;
      max-width: 100% !important;
      height: 100%;
      padding: 15px 15px 15px;
      left: 0px !important;
      &.left {
         left: 0px ;
      }
      &.right {
         right: 0px;
      }
   }
   .slide-container.how-work {
      .two-btns {
         justify-content: space-around;
      }
   }
   .slide-pager {
      margin: 0px;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0px;
      bottom: 20px;
   }
   .slide-container.collect-info {
      text-align: center;
      h1 {
         font-size: 40px;
         line-height: normal;
      }
      blockquote {
         font-size: 14px;
         padding-left: 0px;
         &:after {
            display: none;
         }
      }
      .btn {
         margin-left: 0px;
      }
   }
   .share-links {
      width: 100%;
      padding: 10px 5px;
      display: flex;
      justify-content: space-around;
   }
   .replics {
      display: none;
   }
   .how-made-photo {
      bottom: 70px;
   }
   .slides-navigation {
      display: none;
      top: 0px;
      a.prev {
         left: 0px;
         border-left: none;
         border-top: none;
      }
      a.next {
         right: 0px;
         border-right: 0px;
         border-top: 0px;
      }
   }
   .main-content {
      padding-bottom: 47px;
   }
   .bg-video {
      background: #000;
      video {
         max-width: 100%;
      }
   }
   .page-title {
      flex-direction: column;
   }
   .masters-list {
      li {
         display: block;
         flex: 0 0 auto;
         margin: 0px;
         width: calc(50% - 7.5px);
         margin: 0 7.5px 15px 0;
         img {
            width: 100%;
         }
         &:nth-child(2n) {
            margin: 0 0 15px 7.5px;
         }
      }
   }
   .carousel {
      height: 76px;
      img {
         width: 76px;
      }
   }
   .shipping-adress {
      margin-top: 30px;
   }
   .basket-wrap {
      .title {
         flex-direction: column;
      }
   }
   .sets-items {
      .item {
         flex-direction: column;
      }
      .img {

         margin: 0 auto 20px;
      }
   }
   .basket-items {
      width: 700px;
   }
   .shipping-adress {
      .field {
         flex-direction: column;
      }
   }
   #slides {
      .comment {
         bottom: 15px;
         right: 15px;
         left: 15px;
         width: auto;
         font-size: 14px;
         line-height: normal;
         padding: 10px;
      }
   }
   .final-bay {
      padding: 20px 0;
      box-shadow: none;
      .customer-info {
         flex-direction: column;
         align-items: center;
         text-align: center;
         margin-left: 0px;
         margin-right: 0px;
         padding-left: 10px;
         padding-right: 10px;
      }
   }
   .about-namfleg {
      flex-direction: column;
      img {
         margin: 30px 0;
         order: -1;
      }
   }
}
@media (max-width: 544px) { /*xs*/
   .gp {
      padding: 0px;
   }
   .mag-list {
      .adress-mag {
         flex: 0 0 100%;
      }
   }
   /******************catalog************/
   .catalog-container {
      padding-top: 0px;
   }
   .catalog-banner {
      background: #fff;
      padding: 15px 0;
   }
   .product-filters {
      padding-bottom: 20px;
      .container {
         display: block;
      }
      .filter-item {
         margin: 0px;
      }
   }
   .catalog-list .lbl h3 {
      font-size: 20px;
      margin-top: 0px;
   }
   /*********************jew page***********/
   .jew-item {
      hr {
         margin: 20px 0;
      }
      .to-bay {
         .counts {
            display: block;
            text-align: center;
            margin: 20px 0 0 0;
         }
      }
      .to-share {
         margin: 20px 0;
         .btns {
            justify-content: center;
         }
      }
      .info-share {
         display: block;
      }
      .help-btns {
         display: block;
         margin: 0px;
         .item {
            margin: 10px 0;
            justify-content: center;
         }
      }
   }
   .about-work-section {
      .item {
         margin: 30px 0;
      }
   }
   .text-section {
      margin: 0 -10px;
      &.bg-4 {
         color: #fff;
      }
      .col-flex {
         display: block;
      }
      .nopad-l {
         padding-left: 10px;
      }
      .nopad-r {
         padding-right: 10px;
      }
      .cols {
         display: block;
         .ico {
            margin: 0 auto;
            display: block;
         }
         .item {
            margin-top: 30px !important;
            text-align: center;
         }
      }
      .sec-img-block {
         min-height: 200px;
      }
      .sec-text-block {
         padding: 20px 10px;
      }
      .text-block {
         padding: 20px 10px;
         &.is-left {
            padding-left: 10px;
         }
         h2 {
            font-weight: 600;
            line-height: normal;
            font-size: 20px;
            margin-bottom: 15px;
         }
         p.bolder {
            margin: 10px 0;
            font-size: 14px;
            line-height: normal;
         }
         p {
            margin: 10px 0;
            font-size: 14px;
            line-height: normal;
         }
      }
   }
}
