@import url(https://cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic-ext);
* {
   box-sizing: border-box;
}
a, button {
   outline: none;
}
$pink: #d34aab;

.f-l {
   float: left;
}
label {
   display: block;
   font-size: 14px;
   margin-bottom: 8px;
}
a {
   color: $pink;
   outline: none;
   &:hover {
      text-decoration: none;
   }
}
/*.gp {
   padding-left: 51px;
   padding-right: 51px;
}*/
.cf:before,
.cf:after {
   content: " ";
   display: table;
}
.cf:after {
   clear: both;
}
.cf {
   *zoom: 1;
}
.center {
   text-align: center;
}
.remodal {
   text-align: left;
}
.remodal.clear-bg {
   background: none;
   padding: 0px;
   margin: 0px;
   width: auto;
   max-width: none;
}
html {
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: 400;
   height: 100%;
}
body {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow-x: hidden;
   transition: transform 0.3s;
   &.menue-open {
      transform: translateX(250px);
      overflow: hidden;
   }
}
.img-response {
   max-width: 100%
}
#MenueToggle {
   background: none;
   border: none;
   color: #fff;
   font-size: 30px;
   margin-right: 10px;
   cursor: pointer;
   display: none;
   i {
      vertical-align: middle;
   }
   &:hover {
      color: $pink;
   }
}
.main-header {
   background: #000;
   flex: 0 0 auto;
   position: relative;
   z-index: 10;
   border-bottom: 3px $pink solid;
   .inner {
      display: flex;
      align-items: center;
      position: relative;
   }
   .logo {
      flex: 0 0 auto;
      margin-right: 40px;
      img {
         vertical-align: middle;
      }
   }
   .main-nav {
      flex: 1 1 auto;
   }
   .tel {
      color: #fff;
      font-size: 20px;
   }
   .right-block {
      flex: 0 0 auto;
      a {
         display: flex;
         align-items: center;
         text-decoration: none;
      }
      strong {
         text-decoration: underline;
         margin-right: 3px;
      }
      .mdi {
         margin-right: 10px;
      }
   }
   .cart {
      .mdi {
         font-size: 20px;
      }
   }
}
.sub-nav {
   display: none;
   position: absolute;
   top: calc(100% + 3px);
   left: 0px;
   width: 100%;
   background: #fff;
   box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.4);
   overflow: hidden;
}
.main-nav-list {
   display: flex;
   margin: 0px;
   padding: 0px;
   list-style: none;
}
.main-nav-list_item {
   margin-right: 40px;
}

.main-nav-list_name {
   display: block;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
   line-height: 80px;
   position: relative;
   &:hover, &.active {
      color: $pink;
   }
   &.active:after {
      content: "";
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      bottom: 0px;
      left: 50%;
      margin-left: -7px;
      border-bottom: 7px $pink solid;
      border-left: 7px transparent solid;
      border-right: 7px transparent solid;
   }
}
.sub-nav-links-block {
   float: left;
   display: flex;
   width: calc(100% - 500px);
   justify-content: space-between;
}
.sub-nav-links-block {
   padding: 35px 40px;
}
.sub-nav-links {
   margin-top: 17px;
   &:first-child {
      margin-top: 0px;
   }
   strong {
      font-size: 16px;
      font-weight: 600;
   }
   ul {
      list-style: none;
      padding: 0px;
      margin: 8px 0 0 0;
      a {
         display: inline-block;
         padding: 3px 0;
         color: #666666;
         text-decoration: none;
         font-size: 14px;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
.main_nav_product {
   position: absolute;
   right: 0px;
   top: 0px;
   height: 100%;
   padding: 40px;
   display: flex;
   width: 500px;
   text-align: center;
   border-left: 1px #ededed solid;
   img {
      margin: auto;
   }
   .name {
      display: none;
      margin-top: 10px;
      font-size: 14px;
   }
   .price {
      display: none;
      margin-top: 5px;
      font-size: 18px;
   }
}
////////////////////////mobile menue
.mobile-menue {
   position: fixed;
   left: 0px;
   top: 0px;
   bottom: 0px;
   overflow: auto;
   background: #212121;
   color: #fff;
   width: 250px;
   transform: translateX(-100%);
   transition: all 0.3;
}
.mobile-nav {
   list-style: none;
   padding: 0px;
   margin: 0px;
}
.mobile-sub-menue {
   list-style: none;
   padding: 0px;
   margin: 0px;
   display: none;
}
.mobile-menue_item span {
   cursor: pointer;
   display: block;
   padding: 10px 10px;
   border-bottom: 1px rgba(#aaa,0.1) solid;
   display: flex;
   align-items: center;
   justify-content: space-between;
   .mdi-chevron-down {
      display: none;
   }
}
.mobile-menue_item span.active {
   color: $pink;
   .mdi-chevron-down {
      display: block;
   }
   .mdi-chevron-right {
      display: none;
   }
}
.mobile-sub_item a {
   color: inherit;
   text-decoration: none;
   display: block;
   padding: 10px 20px 10px 30px;
   border-bottom: 1px rgba(#aaa,0.1) solid;
}
.mobile-sub_item a:hover {
   color: $pink;
}

////////////////////////////main
.main-content {
   background: #fff;
   flex: 1 0 auto;
   position: relative;
}
.dark-bg {
   background: #f6f6f6;
}
.index-bg {
   background-image: url(../img/index-logo.png), url(../img/index-bg.jpg);
   background-position: center, center;
   background-repeat: no-repeat;
   background-size: auto, cover;
   position: relative;
}
.share-links {
   position: fixed;
   left: 0px;
   bottom: 0px;
   padding: 30px 20px;
   background: rgba(#000, 0.7);
   z-index: 100;
   a {
      text-decoration: none;
      color: #fff;
      font-size: 22px;
      margin: 0 8px;
      &:hover {
         color: $pink;
      }
   }
}
.how-made-photo {
   color: #fff;
   position: fixed;
   left: 50%;
   bottom: 20px;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   cursor: pointer;
   z-index: 100;
   .mdi {
      font-size: 50px;
      margin-right: 10px;
   }
   span {
      text-decoration: underline;
   }
   &:hover {
      color: $pink;
   }
}
.replics {
   align-items: center;
   bottom: 10px;
   color: #ff5f53;
   cursor: pointer;
   display: flex;
   font-size: 14px;
   position: absolute;
   right: 51px;
   .mdi {
      font-size: 50px;
      margin-right: 10px;
   }
}

.products-anoncer {
   .info {
      max-width: 80%;
      margin-left: 10%;
      h2 {
         font-weight: 300;
         font-size: 48px;
         line-height: 1;
         font-family: "Roboto";
         font-weight: 300;
      }
   }
   .img {
      max-width: 500px;
      margin: 0 auto;
   }
   .art {
      margin: 50px 0;
      color: #a1a1a1;
      border-bottom: 1px #a1a1a1 solid;
      text-align: right;
      width: 100%;
      padding-bottom: 3px;
   }
   .video {
      text-align: center;
      margin-bottom: 50px;
   }
   .video-preview {
      display: inline-block;
      position: relative;
      .text {
         font-family: "roboto";
         font-size: 48px;
         font-weight: 300;
         position: absolute;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;
         display: flex;
         text-align: center;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         color: #fff;
      }
      .mdi {
         cursor: pointer;
         font-size: 90px;
         margin-top: 40px;
      }
   }
   .video-content {
      max-width: 970px;
      height: 546px;
      margin: auto;
      display: none;
   }
   .info-box {
      text-align: center;
      color: #5d5d5d;
      margin-bottom: 50px;
      strong {
         font-size: 21px;
      }
      b {
         color: #000;
         font-size: 20px;
         font-weight: bold;
      }
      p {
         min-height: 84px;
      }
      .btn {
         padding: 0 40px;
      }
   }
}
.page-title {
   h2 {
      font-size: 31px;
      font-weight: normal;
   }
}
.catalog-banner {
   background-image: url(../img/cat-banner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: left top;
   padding: 55px 0;
   .text {
      max-width: 400px;
      margin: 0 auto;
   }
   span {
      font-size: 12px;
      color: #999999;
      text-transform: uppercase;
      background: #fff;
      display: inline-block;
      padding: 3px 7px;
      border-radius: 2px;
   }
   h2 {
      font-size: 40px;
      font-weight: 300;
      margin: 20px 0;
   }
   .line {
      width: 55px;
      height: 1px;
      background: $pink;
   }
   p {
      color: #666;
      line-height: 25px;
   }
}

.catalog-container {
   margin-top: 30px;
}
.choised-filter {
   .item {
      display: inline-flex;
      background: #cccccc;
      color: #fff;
      font-size: 12px;
      align-items: center;
      text-transform: uppercase;
      padding: 4px 10px;
      border-radius: 2px;
   }
   .mdi {
      margin-left: 10px;
      font-size: 16px;
      cursor: pointer;
   }
}
.product-filters {
   border-bottom: 1px #ddd solid;
   .container {
      display: flex;
      align-items: center;
   }
   .filter-item {
      position: relative;
      font-size: 15px;
      font-weight: 400;
      margin-right: 40px;
      cursor: pointer;
   }
   .name {
      padding: 15px 0;
      &.active {
         .mdi {
            transform: rotateX(180deg);
         }
      }
      .mdi {
         transition: all 0.2s;
      }
   }
   .filter-drop {
      display: none;
      top: calc(100% - 5px);
      position: absolute;
      width: 200px;
      left: 0px;
      background: #fff;
      border-radius: 2px;
      padding: 10px 15px;
      box-shadow: 0 10px 25px 0  rgba(#000,0.15);
      z-index: 2;
      &:before {
         content: "";
         position: absolute;
         display: block;
         width: 0px;
         height: 0px;
         left: 15px;
         bottom: 100%;
         border-bottom: 6px #fff solid;
         border-left: 6px transparent solid;
         border-right: 6px transparent solid;
      }
   }
   ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      ul {
         a {
            padding-left: 25px;
         }
      }
   }
   a {
      display: block;
      color: #000;
      text-decoration: none;
      font-size: 13px;
      padding: 5px 0;
      &:hover, &.active {
         color: $pink;
      }
   }
}
.catalog-list {
   .lbl {
      text-transform: uppercase;
      color: #666666;
      font-size: 15px;
      margin: 5px 0 15px;
      h3 {
         color: #000000;
         font-size: 35px;
         font-weight: 300;
         text-transform: none;
      }
   }
   .tr-img {
      width: 100%;
      vertical-align: middle;
   }
   .img-2-1 {
      .tr-img {
         width: calc(100% - 20px);
      }
   }
   .img-1-2 {
      .tr-img {
         margin-bottom: 20px;
      }
   }
   .prod-img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      max-width: 100%;
   }
   .item {
      position: relative;
      margin-bottom: 20px;
      overflow: hidden;
      background: #fff;
      cursor: pointer;
   }
   .cd-trigger {
      opacity: 0
   }
   .item:hover {
      .cd-trigger {
         transform: translateY(0);
         opacity: 1;
      }
   }
   .cd-trigger {
      transform: translateY(-100%);
      position: static;
      height: auto;
      width: auto;
      border-radius: 3px;
   }
   .product-status {
      position: absolute;
      left: 13px;
      top: 13px;
      color: #fff;
      font-size: 11px;
      font-weight: 300;
      padding: 2px 6px;
      border-radius: 3px;
      text-transform: uppercase;
      z-index: 1;
      &.is-sale {
         background: $pink;
      }
      &.is-hot {
         background: #2c90e8;
      }
      &.is-ammount {
         background: #b1a19c;
      }
   }
   .info {
      position: absolute;
      bottom: 20px;
      left: 0px;
      width: 100%;
      text-align: center;
      padding: 0 20px;
      z-index: 1;
      h4 {
         margin: 12px 0 7px;
         font-size: 12px;
         color: #666666;
         font-weight: 300;
         text-transform: uppercase;
      }
      .price {
         font-size: 18px;
         font-weight: 500;
      }
   }
}
.page-crumbs {
   border-bottom: 1px solid #dddddd;
}
.crumbs {
   padding: 0px;
   list-style: none;
   margin: 0px;
   li {
      display: inline-block;
      &:last-child {
         .mdi {
            display: none;
         }
      }
   }
   a {
      display: block;
      padding: 15px 0;
      color: #666;
      text-decoration: none;
      transition: all 0.2s;
      &:hover, &.active {
         color: $pink;
      }
   }
}
.jew-item {
   padding: 0px 0 40px;
   margin-bottom: 40px;
   background: #fff;
   color: #666;
   .product-photo {
      max-width: 550px;
   }
   .sp-wrap {
      max-width: 100%;
      background: none;
      border: none;
      float: none;
      margin: 0px;
      padding-left: 150px;
   }
   .sp-large {
      border: none
   }
   .sp-thumbs {
      display: block;
      position: absolute;
      left: 0px;
      top: 20px;
      a {
         display: block;
         width: 100px;
         height: 100px;
         border: 1px solid #ccc;
         margin: 0 0 15px 0;
      }
      .sp-current {
         border: 1px solid $pink;
      }
   }
   .product-info {
      max-width: 610px;
   }
   .jew-name {
      margin: 0px 0 10px 0;
      font-weight: 300;
      font-size: 35px;
      color: #000;
   }
   .ref {
      display: flex;
      align-items: center;
      font-size: 12px;
      margin-top: 5px;
      span {
         margin-right: 10px;
         background: #f5f5f5;
         border-radius: 2px;
         color: #666;
         font-size: 10px;
         padding: 3px 7px;
         text-transform: uppercase;
      }
   }
   .jew-desc {
      margin-top: 20px;
      font-size: 15px;
      line-height: 22px;
      color: #000;
   }
   hr {
      border: none;
      height: 1px;
      background: #e9e9e9;
      margin: 30px 0 30px;
   }
   .price-block {
      font-weight: 300;
      margin-bottom: 30px;
      strong {
         font-weight: 300;
      }
      span {
         font-size: 70%;
      }
   }
   .current-price {
      color: #000;
      font-size: 50px;
      display: inline-block;
   }
   .sale-price {
      color: #aaaaaa;
      margin-left: 50px;
      display: inline-block;
      font-size: 12px;
      .price {
         font-size: 30px;
         line-height: 34px;
         text-decoration: line-through;
      }
   }
   .choise-size {
      margin: 0px 0 15px;
      span {
         font-size: 12px;
         text-transform: uppercase;
         a {
            text-decoration: none;
            color: inherit;
            border-bottom: 1px #666 dotted;
            &:hover {
               color: $pink;
               border-color: $pink;
            }
         }
      }
      .size-list {
         font-size: 0px;
         margin: 15px 0 0;
         input {
            display: none;
            &:checked + label {
               border-color: #000;
               color: #000;
               z-index: 1;
            }
            &:disabled + label {
               border: 1px solid #e9e9e9;
               color: #999;
               opacity: 0.5;
            }
         }
      }
      label {
         border: 1px solid #e9e9e9;
         color: #999;
         cursor: pointer;
         display: inline-block;
         font-size: 14px;
         height: 35px;
         line-height: 35px;
         text-align: center;
         width: 40px;
         margin: -1px 0 0 -1px;
         position: relative;
         &:hover {
            border-color: #000;
            color: #000;
            z-index: 1;
         }
      }
   }
   .to-bay {
      .btn {
         width: 270px;
         display: inline-block;
      }
      .counts {
         display: inline-block;
         margin-left: 20px;
         line-height: 15px;
         img {
            vertical-align: middle;
            margin: -2px 6px 0 0;
         }
      }
   }
   .return {
      font-size: 12px;
      font-style: italic;
      color: #888;
      margin-top: 30px;
   }
   .info-share {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .help-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1 1 auto;
      margin-right: 30px;
      .item {
         display: flex;
         align-items: center;
         margin-right: 30px;
      }
      a {
         margin-left: 10px;
         font-size: 12px;
         color: #333;
         border-bottom: 1px #333 dotted;
         text-transform: uppercase;
         text-decoration: none;
         &:hover {
            color: $pink;
            border-color: $pink;
         }
      }
   }
   .to-share {
      text-transform: uppercase;
      font-size: 11px;
      text-align: center;
      .btns {
         margin-top: 6px;
         display: flex;
         align-items: center;
      }
      a {
         color: #b2b2b2;
         margin: 0 3px;
         text-decoration: none;
         display: block;
         border: 2px #b2b2b2 solid;
         border-radius: 50%;
         width: 33px;
         height: 33px;
         text-align: center;
         line-height: 28px;
         font-size: 16px;
         transition: all 0.2s;
         &:hover {
            color: #000;
            border-color: #000;
         }
      }
   }
}
.warrantly {
   color: #000;
   padding: 60px;
   background: url(../img/warantly.png) no-repeat;
   width: 526px;
   height: 740px;
   z-index: 2;
   left: 50%;
   top: 50%;
   h4 {
      font-size: 21px;
      margin-top: 0px;
      margin-bottom: 10px;
      text-align: center;
   }
   p {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 10px;
      text-indent: 10px;
   }
}
.deliver-win {
   background: #fff;
   box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.8);
   width: 406px;
   padding: 20px;
   left: 50%;
   top: 0px;
   z-index: 2;
}
.feed-modal {
   padding: 20px;
   background: #fff;
}
.delivery-methods {
   .item {
      display: flex;
      color: $pink;
      border: 1px $pink solid;
      border-radius: 3px;
      padding: 18px 20px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      &:last-child {
         margin-bottom: 0px;
      }
      > .mdi {
         font-size: 40px;
         margin-right: 15px;
      }
      &.is-btn:hover,
      &.is-btn.active {
         background: $pink;
         color: #fff;
         cursor: pointer;
         position: relative;
      }
   }
   .text {
      font-size: 14px;
      > span {
         display: block;
         margin-bottom: 10px;
         line-height: 1;
      }
      strong {
         font-size: 20px;
      }
      .time {
         font-style: italic;
         margin-left: 10px;
      }
   }
   .about-method {
      display: none;
   }
}
.fast-view-modal {
   .jew-item {
      padding: 40px;
   }
}
.about-work-section {
   background: #fff;
   padding: 50px 0;
   h3 {
      margin: 0 0 40px;
   }
   .item {
      font-size: 14px;
   }
   .ico {
      min-height: 60px;
      display: flex;
      img {
         margin: auto;
      }
   }
   strong {
      text-transform: uppercase;
      display: block;
      margin-top: 20px;
   }
   p {
      margin: 10px;
      color: #666666;
   }
   a {
      text-decoration: none;
   }
}
.text-section {
   color: #000;
   overflow: hidden;
   &.white {
      color: #fff;
      .text-block {
         h2, p, span {
            color: #fff !important;
         }
      }
   }
   .bg-white {
      border-bottom: 1px #eee solid;
   }
   .nopad-l {
      padding-left: 0px;
   }
   .nopad-r {
      padding-right: 0px;
   }
   .col-flex {
      display: flex;
      flex-direction: column;
   }
   .sec-img-block {
      flex:  1 1 auto;
   }
   .sec-text-block-img {
      display: flex;
      flex: 0 0 auto;
      > div {
         flex: 0 0 50%;
      }
   }
   .sec-text-block {
      color: #fff;
      background: #d981bf;
      padding: 60px 80px;
      font-size: 14px;
      font-weight: 400;
      flex: 0 0 auto;
      h4 {
         font-size: 14px;
         font-weight: 500;
         margin: 0 0 10px 0;
         text-transform: uppercase;
      }
      p {
         margin: 0px;
         font-size: 14px;
         text-transform: uppercase;
         line-height: 20px;
      }
   }
   .bg-white {
      background: #fff;
   }
   .bg-sec-1 {
      background: url(../img/enamel-prev.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
   .bg-sec-2 {
      background: url(../img/enamel-prev-2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
   .bg-sec-3 {
      background: url(../img/enamel-prev-3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
   &.bg-1 {
      background-image: url(../img/text-sec-1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0px 0px;
   }
   &.bg-2 {
      background: url(../img/text-sec-2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
   }
   &.bg-3 {
      background: url(../img/text-sec-3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right top;
   }
   &.bg-4 {
      background: url(../img/text-sec-42.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left top;
      background-attachment: fixed;
   }
   &.bg-5 {
      background: url(../img/text-sec-5.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right top;
   }
   &.bg-6 {
      background: url(../img/text-sec-6.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
   }
   &.bg-7 {
      background: url(../img/text-sec-7.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left center;
   }
   &.bg-8 {
      background: url(../img/text-sec-8.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
   }
   &.bg-9 {
      background: url(../img/text-sec-9.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left center;
   }
   &.bg-10 {
      background: url(../img/text-sec-10.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right center;
   }
   .text-block {
      padding: 60px 0 60px 30px;
      max-width: 570px;
      &.is-left {
         padding-left: 60px;
      }
      &.is-center {
         text-align: center;
         max-width: 850px;
         margin: 0 auto;
         .cols {
            justify-content: center;
            .item {
               margin: 0 50px;
            }
         }
      }
      h2 {
         font-size: 35px;
         font-weight: 300;
         margin: 0 0 30px;
         line-height: 40px;
         letter-spacing: -1px;
      }
      p {
         font-weight: 400;
         margin: 30px 0;
         font-size: 15px;
         line-height: 25px;
         &.bolder {
            font-size: 19px;
            line-height: 28px;
         }
      }
   }
   .cols {
      display: flex;
      .item {
         flex: 1 0 auto;
      }
      span {
         display: block;
         font-size: 40px;
         font-weight: 300;
         color: #000;
         & + span {
            font-size: 12px;
            text-transform: uppercase;
         }
      }
      .ico {
         display: flex;
         min-height: 65px;
         align-items: center;
      }
      .ico + span,
      img + span {
         margin-top: 10px;
         font-size: 12px;
         text-transform: uppercase;
         font-weight: 400;
         color: #000;
      }
   }
}

/**********enamel**************/
.img-top {
   top: 0px !important;
}
.img-left {
   left: 0px !important;
}
#slides {
   .comment {
      background: $pink;
      border-radius: 15px;
      bottom: 60px;
      color: #ffffff;
      padding: 20px;
      position: absolute;
      right: 51px;
      width: 100%;
      max-width: 330px;
      z-index: 20;
      font-size: 21px;
      font-style: italic;
      line-height: 26px;
   }
}
.slides-navigation {
   a.prev {
      left: 51px;
   }
   a.next {
      right: 51px;
   }
   a {
      width: 47px;
      height: 47px;
      border: 1px $pink solid;
      color: $pink;
      text-align: center;
      font-size: 35px;
      line-height: 47px;
      &:hover {
         color: #fff;
         background: $pink;
      }
   }
}
.slide-container {
   position: absolute;
   padding: 40px;
   top: 190px;
   z-index: 10;
   &.white {
      background:rgba(255, 255, 255, 0.8);
   }
   &.black {
      background:rgba(0, 0, 0, 0.8);
      color: #fff;
      .slide-pager {
         span {
            border-color: #aaa;
         }
      }
   }
   &.left {
      left: 325px;
   }
}
.slide-pager {
   margin-bottom: 30px;
   a {
      display: inline-block;
      vertical-align: middle;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin-right: 5px;
   }
   span {
      display: block;
      width: 5px;
      height: 5px;
      border: 1px #000 solid;
      border-radius: 50%;
      margin: 5px auto 0;
   }
   .active {
      background: $pink;
      span {
         opacity: 0;
      }
   }
}
.slide-container.master {
   width: 100%;
   max-width: 410px;
   left: 50%;
   background:rgba(0, 0, 0, 0.3);
   color: #fff;
   h1 {
      font-size: 25px;
      margin: 0 0 15px;
      font-weight: normal;
   }
   i {
      color: $pink;
      font-size: 18px;
   }
   p {
      font-size: 14px;
   }
}
.slide-container.how-work {
   width: 100%;
   max-width: 390px;
   h2 {
      font-weight: normal;
      margin-top: 0px;
      font-size: 25px;
      text-transform: uppercase;
   }
   &.black {
      blockquote {
         &:after {
            background: #fff;
         }
      }
   }
   blockquote {
      margin: 0 0 30px 0;
      padding-left: 30px;
      position: relative;
      font-size: 14px;
      line-height: 16px;
      &:after {
         background: #000000 none repeat scroll 0 0;
         content: " ";
         display: block;
         height: 2px;
         left: 0;
         position: absolute;
         top: 6px;
         width: 17px;
      }
   }
   .next-step {
      display: flex;
      align-items: center;
      margin-left: 30px;
      font-size: 20px;
      line-height: 24px;
      text-decoration: none;
      img {
         margin-right: 15px;
      }
      span span {
         text-transform: uppercase;
      }
   }
   .two-btns {
      display: flex;
      justify-content: space-between;
      .next-step {
         margin: 0px;
         flex-direction: column;
         text-align: center;
         img {
            margin: 0px 0 10px 0;
         }
      }
   }
}
.bg-video {
   height: 100%;
   width: 100%;
   left: 0px;
   top: 0px;
   overflow: hidden;
   position: absolute;
   &.fullscreen {
      position: fixed;
      left: 0px;
      top: 0px;
      z-index: 999;
      display: none;
   }
   &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-image: url(../img/grid.png);
   }
   .close {
      position: absolute;
      right: 30px;
      top: 30px;
      z-index: 10;
      text-align: center;
      color: #fff;
      cursor: pointer;
      .mdi {
         font-size: 40px;
      }
      span {
         text-decoration: underline;
      }
   }
   .control {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 2;
      font-size: 60px;
      a {
         display: block;
         width: 100%;
         height: 100%;
         display: flex;
         color: #fff;
         text-decoration: none;
         .mdi {
            margin: auto;
         }
      }
   }
   video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
   }
}
/************masters***********/
.page-container {
   padding-top: 30px;
   padding-bottom: 40px;
   h1, .page-tite {
      font-weight: normal;
      font-size: 31px;
      margin: 0.67em 0;
      display: block;
   }
   h2 {
      font-weight: normal;
      font-size: 24px;
   }
   p {
      font-size: 14px;
      line-height: 18px;
   }
   article {
      max-width: 720px;
      position: relative;
   }
   hr {
      border: none;
      height: 1px;
      background: #c9c9c9;
      margin: 40px 0;
   }
}
.masters-list {
   margin-top: 20px;
   list-style: none;
   padding: 0px;
   display: inline-flex;
   flex-wrap: wrap;
   li {
      margin: 0 20px 20px 0;
   }
   a {
      display: block;
      position: relative;
      text-decoration: none;
      color: #fff;
      &:hover {
         i.mdi {
            opacity: 1;
         }
         img {
            filter: blur(1px);
         }
      }
   }
   img {
      vertical-align: middle;
      transition: all 0.3s;
   }
   i.mdi {
      opacity: 0;
      font-size: 40px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      transition: all 0.3s;
   }
}
.carousel {
   position: absolute;
   z-index: 10;
   bottom: 0px;
   left: 0px;
   width: 100%;
   overflow: hidden;
   height: 132px;
   .viewport {
      padding: 0px;
      margin: 0px;
      list-style: none;
      white-space: nowrap;
      font-size: 0px;
      position: absolute;
      height: 100%;
   }
   li {
      display: inline-block;
   }
   a {
      display: block;
      position: relative;
      &:after{
         content: "";
         display: block;
         position: absolute;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;
         background: rgba(0,0,0,0.5);
         border-top: 5px $pink solid;
         transition: all 0.2s;
         opacity: 0;
      }
      &.active:after {
         opacity: 1;
      }
   }
   img {
      vertical-align: middle;
   }
}
/*************news*******************/

.news-list {
   list-style: none;
   padding: 0px;
   li {
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px #eee solid;
      &:last-child {
         border-bottom: none;
      }
   }
   a {
      font-size: 19px;
   }
   p {
      margin-top: 0px;
   }
}
.news-img {
   list-style: none;
   padding: 0px;
   margin: 85px 0 0 35px;
   float: left;
   width: 100%;
   max-width: 200px;
   li {
      display: inline-block;
      margin: 0 10px 10px 0;
      &:nth-child(2n) {
         margin-right: 0px;
      }
   }
}
.news-date {
   display: none;
   position: absolute;
   right: calc(100% + 20px);
   top: 7px;
   white-space: nowrap;
   font-size: 11px;
   color: #757575;
   article > & {
      top: 31px;
   }
}
/*****************shops************/
.map {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0px;
   top: 0px;
   iframe {
      vertical-align: middle;
   }
}
.mag-list {
   list-style: none;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   border-bottom: 1px #c9c9c9 solid;
   .adress-mag {
      flex: 0 0 33%;
      margin-bottom: 50px;
      padding-right: 20px;
   }
   .adress-mag:nth-child(3) {
      padding-right: 0px;
   }
   .city {
      display: block;
      font-size: 23px;
      margin-bottom: 6px;
   }
   .place {
      display: block;
   }
   .tel-mag {
      font-size: 14px;
      display: block;
   }
   a {
      font-size: 14px;
   }
   .work-time {
      display: block;
      margin-top: 30px;
   }
}
/***********collection***********/
.slide-container.collect-info {
   left: 60%;
   max-width: 550px;
   background: none;
   h1 {
      font-size: 72px;
      line-height: 72px;
      font-weight: normal;
      text-transform: uppercase;
      margin: 0px 0 20px 0;
   }
   blockquote {
      margin: 0px;
      position: relative;
      font-size: 19px;
      line-height: 24px;
      padding-left: 55px;
      position: relative;
      text-transform: uppercase;
      &:after {
         background: #000000 none repeat scroll 0 0;
         content: " ";
         display: block;
         height: 2px;
         left: 0;
         position: absolute;
         top: 12px;
         width: 36px;
      }
   }
   &.black {
      blockquote:after {
         background: #fff;
      }
   }
   .btn {
      margin: 25px 0 0 55px;
      text-transform: uppercase;
      border-radius: 0px;
      text-transform: uppercase;
   }
}

/***********bascket**************/
.basket-wrap {
   .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
   }
}
.other-items {
   > span {
      text-transform: uppercase;
      display: block;
      text-align: center;
      font-size: 18px;
      margin-bottom: 20px;
   }
   .catalog-list {
      max-width: 1000px;
      margin: 60px auto 0;
   }
}
.basket-empty {
   border-bottom: 1px solid #cccccc;
   padding-bottom: 50px;
   margin: 50px auto 50px;
   max-width: 650px;
   span {
      display: block;
      font-size: 31px;
      margin: 25px 0;
   }
   i {
      font-style: normal;
   }
}
.promo {
   background: #edffed;
   padding: 10px 20px;
   display: inline-flex;
   align-items: center;
   .inp-field {
      margin: 0px 0 0 10px;;
      width: 80px;
   }
   .btn {
      padding: 0 20px;
      font-size: 14px;
      line-height: 30px;
      min-height: 30px;
      margin: 0 15px;
   }
   strong {
      font-size: 18px;
      font-weight: bold;
   }
}
.basket-table-wrap {
   max-width: 100%;
   overflow-x: auto;
}
.basket-items {
   width: 100%;
   border-collapse: collapse;
   thead {
      th {
         color: #606060;
         font-size: 12px;
         font-style: italic;
         font-weight: normal;
         padding-bottom: 10px;
         text-align: left;
         border-bottom: 1px solid #e7e7e7;
      }
   }
   tbody {
      td {
         border-bottom: 1px solid #e7e7e7;
      }
      tr:not(:last-child) {
         td:nth-child(1) {
            width: 100px !important;
         }
         td:nth-child(2) {
            width: 35%;
         }
         td:nth-child(3) {
            width: 10%;
         }
         td:nth-child(4) {
            width: 20%;
         }
         td:nth-child(5) {
            width: 300px;
         }
      }
   }
   .item-img {
      border: 2px solid #f1f1f1;
      display: inline-block;
      margin: 20px 0;
      img {
         vertical-align: middle;
      }
   }
   .quantity {
      display: flex;
      align-items: center;
      .inp-field {
         margin: 0 10px;
         width: 35px;
         input {
            padding: 0px;
            text-align: center;
         }
      }
      button {
         font-size: 25px;
      }
   }
   .item-price {
      font-size: 18px;
   }
   .item-discount {
      font-size: 18px;
      font-weight: 700;
   }
   .items-summ {
      margin: 30px 0 30px -80px;
      span {
         color: #000000;
         font-size: 21px;
         margin-left: 10px;
      }
   }
   tr:not(:last-child) button {
      background: none;
      border: none;
      padding: 0px;
      color: $pink;
      cursor: pointer;
      &:disabled {
         color: #ccc;
      }
   }
}
.sets-items {
   .item {
      display: flex;
      margin-bottom: 30px;
   }
   .img {
      border: 2px solid #f1f1f1;
      margin-right: 20px;
      flex: 0 0 auto;
   }
   h2 {
      margin: 0 0 10px;
      font-size: 18px;
      font-weight: 700;
   }
   p {
      font-size: 16px;
   }
   b {
      font-weight: 700;
      margin-right: 30px;
   }
   .btn {
      font-size: 14px;
      min-height: 25px;
      line-height: 25px;
   }
}
.delivery-container {
   .lbl {
      display: block;
      margin-bottom: 20px;
   }
}
.shipping-adress {
   display: none;
   label {
      margin: 0px;
      flex: 0 0 auto;
      width: 160px;
      margin-top: 10px;
      font-size: 16px;
   }
   .field {
      display: flex;
      margin-bottom: 20px;
   }
   .inp-field {
      margin: 0px;
      width: auto;
      flex: 1 1 auto;
   }
}
.next-step {
   margin-top: 40px;
   font-size: 14px;
   b {
      font-weight: 700;
   }
   .btn {
      margin-right: 20px;
   }
}
.payment {
   max-width: 1000px;
}
.pay-methods {
   ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
   }
   input {
      display: none;
   }
   label {
      cursor: pointer;
      color: $pink;
      border: 1px $pink solid;
      text-decoration: none;
      display: block;
      font-size: 17px;
      display: flex;
      align-items: center;
      padding: 30px 20px 30px 30px;
      margin-bottom: 30px;
      border-radius: 3px;
      &:hover,
      &.active {
         color: #fff;
         background: $pink;
      }
      .mdi {
         font-size: 35px;
         margin-right: 20px;
      }
   }
}
.payment-summ {
   margin-bottom: 30px;
   .lbl {
      font-size: 20px;
      display: block;
   }
   .ammount {
      b {
         font-size: 95px;
      }
      .mdi {
         font-size: 40px;
      }
   }
}
.pay-by-card {
   .order {
      border: 1px solid #cd4bab;
      border-radius: 5px;
      box-shadow: 0 0 25px -10px rgba(0, 0, 0, 0.8);
      margin-bottom: 40px;
      padding: 20px 20px 30px;
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
      span {
          font-size: 21px;
      }
   }
   .pay-system {
      display: flex;
      margin-bottom: 50px;
      img {
         margin-right: 15px;
      }
      i {
         font-size: 14px;
      }
   }
}
.final-bay {
   box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
   margin: 0 auto;
   padding: 30px 50px;
   max-width: 720px;
   h3 {
      font-size: 26px;
      font-weight: normal;
      text-align: center;
      margin-bottom: 50px;
      margin-top: 0px;
   }
   .basket-items {
      tbody {
         tr:not(:last-child) {
            td:nth-child(1) {
               width: 100px !important;
            }
            td:nth-child(2) {
               width: auto;
            }
            td:nth-child(3) {
               width: 130px;
            }
            td:nth-child(4) {
               width: auto;
            }
         }
      }
   }
   .customer-info {
      background: #f4f4f4;
      margin: 30px -50px;
      padding: 30px 50px;
      display: flex;
      justify-content: space-around;
      span {
         font-size: 20px;
      }
   }
}

.replics-links {
   list-style: none;
   padding: 0px;
}

.about-namfleg {
   flex: 1 1 auto;
   background-image: url(../img/philosophy.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: space-around;
   min-height: 100%;
   width: 100%;
   position: absolute;
   left: 0px;
   top: 0px;
   padding: 15px;
   .text-box {
      width: 100%;
      max-width: 430px;
      padding: 35px 40px 45px;
      background: rgba(#000,0.73);
      h2 {
         font-size: 25px;
         margin: 0 0 20px 0;
         font-weight: 300;
      }
      p {
         font-size: 14px;
      }
   }
}
/************ui****************/
.btn {
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 400;
   white-space: nowrap;
   display: inline-block;
   padding: 0 15px;
   text-decoration: none;
   cursor: pointer;
   border: 1px solid #cd4bab;
   min-height: 50px;
   line-height: 45px;
   transition: all 0.2s;
   &.fluid {
      width: 100%;
   }
   &.small {
      min-height: 30px;
      line-height: 26px;
      font-size: 12px;
   }
   &.big {
      font-size: 26px;
      padding: 0 40px;
   }
   &.pink {
      border-width: 2px;
      background: $pink;
      color: #fff;
      &:hover {
         background: none;
         color: $pink;
      }
      &.outline {
         background: none;
         color: $pink;
         &:hover {
            background: $pink;
            color: #fff;
         }
      }
   }
   &.icon {
      .mdi {
         font-size: 20px;
         vertical-align: top;
         line-height: inherit;
      }
      &.left {
         .mdi {
            margin-right: 10px;
         }
      }
   }
}
.inp-field {
   margin-bottom: 20px;
   input, textarea {
      border: 1px solid #c9c9c9;
      padding: 0px;
      background: #fff;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
   }
   input {
      height: 35px;
   }
   textarea {
      min-height: 100px;
      resize: vertical;
      padding-top: 10px;
      padding-bottom: 10px;
   }
}

@import "response.scss"
